#content-inside
  .row
    .col-xs-12.col-sm-7.col-md-7.col-lg-12
      %h1.page-title.txt-color-blueDark
        %i.fa.fa-pencil-square-o.fa-eye
        Profesional: 
        %strong
          = @professional.name
  %section#widget-grid
    .row
      %article.col-sm-12.col-md-12.col-lg-12
        #wid-id-0.jarviswidget.jarviswidget-color-darken{"data-widget-collapsed" => "false", "data-widget-deletebutton" => "false", "data-widget-editbutton" => "false"}
          %header
            %span.widget-icon
              %i.fa.fa-table
            %h2 
              = 'Información correspondiente a '+ @professional.name+ ':'
          %div
            .jarviswidget-editbox
              / This area used as dropdown edit box
            .widget-body.no-padding
              .alert.alert-info.no-margin.fade.in
                %button.close{"data-dismiss" => "alert"}
                  ×
                %i.fa-fw.fa.fa-info
                Datos Generales
              %table.table.table-hover
                %thead
                  %tr
                    %th DNI
                    %th Profesiones
                    %th Fecha de Titulación
                    %th Fecha de Colegiatura
                    %th Código de Colegiatura
                    %th Documento
                %tbody
                  %tr
                    %td
                      = @professional.dni
                    %td
                      -@professional.majors.each do |major|
                        = major.name
                        %br
                    %td
                      = @professional.professional_title_date
                    %td
                      = @professional.date_of_tuition
                    %td
                      = @professional.code_tuition
                    %td
                      Título Profesional:
                      - if @professional.professional_title.exists?
                        %a.btn.btn-info.btn-xs{:href =>"#{@professional.professional_title.url}", :target => "_blank"}
                          %i.fa.fa-clipboard
                      -else
                        No hay ningun Archivo adjunto
                      %br
                      Colegiatura:
                      - if @professional.tuition.exists? 
                        %a.btn.btn-info.btn-xs{:href =>"#{@professional.tuition.url}", :target => "_blank"}
                          %i.fa.fa-clipboard
                      -else
                        No hay ningun Archivo adjunto
                      %br
                      CV:
                      - if @professional.cv.exists? 
                        %a.btn.btn-info.btn-xs{:href =>"#{@professional.cv.url}", :target => "_blank"}
                          %i.fa.fa-clipboard
                      -else
                        No hay ningun Archivo adjunto


    .row
      %article.col-sm-12.col-md-12.col-lg-12
        #wid-id-0.jarviswidget.jarviswidget-color-darken{"data-widget-collapsed" => "false", "data-widget-deletebutton" => "false", "data-widget-editbutton" => "false"}
          %header
            %span.widget-icon
              %i.fa.fa-table
            %h2 
              = 'Certificados correspondiente a '+ @professional.name+ ':'
          %div
            .jarviswidget-editbox
              / This area used as dropdown edit box
            .widget-body.no-padding
              .alert.alert-info.no-margin.fade.in
                %button.close{"data-dismiss" => "alert"}
                  ×
                %i.fa-fw.fa.fa-info
                Certificado
              %table.table.table-hover
                %thead
                  %tr
                    %th N°
                    %th Obra
                    %th Cargo
                    %th Fecha de Inicio
                    %th Fecha de Termino
                    %th Nombre del Documento
                    %th Documento
                %tbody
                  -@professional.certificates.each do |procert|
                    %tr
                      %td 
                        =@cont
                      %td
                        - if @other.any?
                          - @other.each do |oth|
                            -if oth.certificate_id==procert.id
                              = oth.name
                              -@flag=true
                            -if @flag==false
                              - @work.each do |wo|
                                - if procert.work_id == wo.id
                                  = wo.name
                        -else
                          -if @flag==false
                            - @work.each do |wo|
                              - if procert.work_id == wo.id
                                = wo.name
                      %td
                        - @charge.each do |ch|
                          -if procert.charge_id == ch.id
                            = ch.name
                      %td
                        = procert.start_date
                      %td
                        = procert.finish_date
                      %td
                        Certificado
                        %br Otro
                      %td
                        - if procert.certificate.exists?
                          %a.btn.btn-info.btn-xs{:href =>"#{procert.certificate.url}", :target => "_blank"}
                            %i.fa.fa-clipboard
                        -else
                          No hay ningun Archivo adjunto
                        %br
                        - if procert.other.exists? 
                          %a.btn.btn-info.btn-xs{:href =>"#{procert.other.url}", :target => "_blank"}
                            %i.fa.fa-clipboard
                        -else
                          No hay ningun Archivo adjunto
                    - @cont= @cont+1

    .row
      %article.col-sm-12.col-md-12.col-lg-12
        #wid-id-0.jarviswidget.jarviswidget-color-darken{"data-widget-collapsed" => "false", "data-widget-deletebutton" => "false", "data-widget-editbutton" => "false"}
          %header
            %span.widget-icon
              %i.fa.fa-table
            %h2 
              = 'Capacitaciones correspondiente a '+ @professional.name+ ':'
          %div
            .jarviswidget-editbox
              / This area used as dropdown edit box
            .widget-body.no-padding
              .alert.alert-info.no-margin.fade.in
                %button.close{"data-dismiss" => "alert"}
                  ×
                %i.fa-fw.fa.fa-info
                Capacitación
              %table.table.table-hover
                %thead
                  %tr
                    %th N°
                    %th Tipo de Capacitación
                    %th Nombre de Capacitación
                    %th Cantidad de Horas
                    %th Fecha de Inicio
                    %th Fecha de Termino
                    %th Nombre del Documento
                    %th Documento
                %tbody
                  -@professional.trainings.each do |proctra|
                    %tr
                      %td 
                        =@cont2
                      %td
                        = proctra.type_training
                      %td
                        = proctra.name_training
                      %td
                        = proctra.num_hours
                      %td
                        = proctra.start_training
                      %td
                        = proctra.finish_training
                      %td
                        Certificado
                      %td
                        - if proctra.training.exists?
                          %a.btn.btn-info.btn-xs{:href =>"#{procert.training.url}", :target => "_blank"}
                            %i.fa.fa-clipboard
                        -else
                          No hay ningun Archivo adjunto
                    - @cont2= @cont2+1

%button.btn.btn-sm.btn-primary.btn-prev#backlist-works{type: "button"}
  %i.fa.fa-arrow-left>
  Retornar al listado de las Profesionales

:javascript

  $('#backlist-works').click(function(){
      load_url_ajax("#{biddings_professionals_path}", 'content', null, null, 'GET');
  });

= javascript_include_tag 'plugin/flot/jquery.flot.cust'
= javascript_include_tag 'plugin/vectormap/jquery-jvectormap-1.2.2.min'
= javascript_include_tag 'plugin/fullcalendar/jquery.fullcalendar.min'
= javascript_include_tag 'plugin/vectormap/jquery-jvectormap-world-mill-en'
= javascript_include_tag 'plugin/flot/jquery.flot.resize'
= javascript_include_tag 'plugin/flot/jquery.flot.tooltip'
= javascript_include_tag 'plugin/datatables/jquery.dataTables-cust.min'
= javascript_include_tag 'plugin/datatables/ColReorder.min'
= javascript_include_tag 'plugin/datatables/FixedColumns.min'
= javascript_include_tag 'plugin/datatables/ColVis.min'
= javascript_include_tag 'plugin/datatables/ZeroClipboard'
= javascript_include_tag 'plugin/datatables/media/js/TableTools.min'
= javascript_include_tag 'plugin/datatables/DT_bootstrap'