= simple_form_for @professional1, :url => professional_registration_path, :role=>"form", :html => {:class => 'form-horizontal', :id => 'new_professional1', :multipart => true} do |f| %>
#para-persona-natural              
  #persona-natural-wizard">
    %ul(class="nav nav-tabs")
      %li(data-toggle="tab")
        %a(href="#fragment-1")
          Paso 1
      %li(data-toggle="tab")
        %a(href="#fragment-2")
          Paso 2
    #tab-content
      %div(class='col-md-12 tab-pane')                    
          .fieldset
            %div
              Los campos en (*) son obligatorios.
            .form-group
              .col-lg-10(style="display: none;")
                = f.input :kind, :label => 'Tipo de persona', input_html: { class: 'form-control', :value => 'Persona Natural' } 
              .col-lg-10
                = f.input :fname, :label => '* Nombre', input_html: { class: 'form-control' } 
              .col-lg-10
                = f.input :lname, :label => '* Apellido', input_html: { class: 'form-control' } 
              .col-lg-10
                = f.input :dni, :label => '* DNI', input_html: { class: 'form-control' } 
              .col-lg-10
                = f.input :address, :label => '* Dirección', input_html: { class: 'form-control' } 
              .col-lg-10
                = f.input :phone, :label => '* Teléfono', input_html: { class: 'form-control' } 
              .col-lg-10
                = f.association :distric, :label => 'Distrito', input_html: { class: 'form-control' } 
              %div(class="col-lg-10 login-checkbox")
                %label(class="select optional control-label" for="professional_speciality_id")
                  * Especialidad
                  %br
                  - Speciality.all.each do |s| 
	                  .checkbox(style="float:left;)
		                  %input(type="checkbox" name="speciality_ids[]" value="#{s.id}">
		                    s.name
			              %div(class="col-lg-10 login-checkbox")
                %label(class="select optional control-label" for="professional_location")
                  Distritos de cobertura
                  %br
                  - Distric.all.each do |d| 
                    .checkbox(style="float:left;)
                      %input(type="checkbox" name="dictic_ids[]" value="#{d.id}">
                        d.name
              %div(class="col-lg-10" style="margin-top:7px;margin-bottom:7px;")
                %label(for="avatar")
                  Fotografía
                = f.file_field :avatar, :label => 'Fotografia', class: 'form-control', :style => "width:100%;"
 
              .col-lg-10
                = f.input :email, :label => '* Correo electrónico', input_html: { class: 'form-control' } 
              .col-lg-10
                = f.input :password, :label => '* Contraseña', input_html: { class: 'form-control' } 
              .col-lg-10
                = f.input :password_confirmation, :label => '* Confirmar contraseña', input_html: { class: 'form-control' }

 
          .row
            %div(class="col-md-12 text-right")
              %a(href="javascript: go_to_tab_natural(1);" class="btn btn-default next")
                Siguiente 
      %div(id="fragment-2 tab-pane")
        .row
          %div(style="height:369px;overflow-y:scroll;padding:20px;")
            - @legal_terms = Content.where("name = ?", "Información de Pagos").last
            - if @legal_terms != nil
              = @legal_terms.description.html_safe  rescue ""

        .row
          .text-right
            =f.button :submit, "Registrarme"
        .row
          .col-md-12
            %a(href="javascript: go_to_tab_natural(0);" class="btn btn-default")
              Atrás  

:javascript 
  function go_to_tab_natural(tab_number){
    $("#persona-natural-wizard").tabs( "option", "active", tab_number );
  }
 