#wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-eye
    %h2 Entidad
  .widget-body
    = simple_form_for([:logistics, @entity], html: {class: 'form-horizontal smart-form', autocomplete: 'off' }) do |f|
      %fieldset
        .row{ 'style' => 'display:none' }
          %input{ 'name' => 'company_id', 'value' => "#{@company_id}", 'readonly' => true, 'style' => 'display:none' }
        .row
          %section.col.col-10
            %label.label Nombre
            %label.input{for: "name"}
              %i.icon-append.fa.fa-user
              = f.input :name, placeholder: "Nombre", input_html: { class: 'form-control' }, label: false
        .row
          %section.col.col-10
            %label.label Segundo Nombre
            %label.input{for: "second_name"}
              %i.icon-append.fa.fa-user
              = f.input :second_name, placeholder: "Segundo Nombre", input_html: { class: 'form-control' }, label: false
        .row
          %section.col.col-10
            %label.label Apellido Paterno
            %label.input{for: "paternal_surname"}
              %i.icon-append.fa.fa-user
              = f.input :paternal_surname, placeholder: "Apellido Paterno", input_html: { class: 'form-control' }, label: false
        .row
          %section.col.col-10
            %label.label Apellido Materno
            %label.input{for: "maternal_surname"}
              %i.icon-append.fa.fa-user
              = f.input :maternal_surname, placeholder: "Apellido Materno", input_html: { class: 'form-control' }, label: false
        .row
          %section.col.col-10
            %label.label Fecha de Nacimiento
            %label.input{for: "date_of_birth"}
              = f.input :date_of_birth, as: :string, input_html: { class: 'form-control', :type => "date"}, label: false
        .row
          %section.col.col-10
            %label.label DNI
            %label.input{for: "dni"}
              %i.icon-append.fa.fa-credit-card
              = f.input :dni, placeholder: "DNI", input_html: { class: 'form-control' }, label: false
        .row
          .section.col.col-md-2
            %label.control-label Género
          .section.col.col-md-8
            .form-group
              .col-md-12
                %label.radio-inline
                  %input.radiobox{:name =>'entity[gender]', :type => 'radio', :value => "masculino"}
                  %span Masculino
                %label.radio-inline
                  %input.radiobox{:name =>'entity[gender]', :type => 'radio', :value => "femenino"}
                  %span Femenino
        %br
        .row
          %section.col.col-10
            %label.label Carnet de Extranjería
            %label.input{for: "alienslicense"}
              %i.icon-append.fa.fa-credit-card
              = f.input :alienslicense, placeholder: "Carnet de Extranjería", input_html: { class: 'form-control' }, label: false
        %label.label Lugar de Nacimiento
        .row
          %section.col.col-10
            %label.label Ciudad
            %label.input{for: "city"}
              %i.icon-append.fa.fa-credit-card
              = f.input :city, placeholder: "Ciudad", input_html: { class: 'form-control' }, label: false
        .row
          %section.col.col-10
            %label.label Provincia
            %label.input{for: "province"}
              %i.icon-append.fa.fa-credit-card
              = f.input :province, placeholder: "Provincia", input_html: { class: 'form-control' }, label: false
        .row
          %section.col.col-10
            %label.label Departamento
            %label.input{for: "department"}
              %i.icon-append.fa.fa-credit-card
              = f.input :department, placeholder: "Departamento", input_html: { class: 'form-control' }, label: false
        .row{"style"=>"display: none;"}
          %section.col.col-10
            %label.label Tipo
            .col.col-10.inline-group
              = f.association :type_entities, :as => :check_boxes,  collection: TypeEntity.where('id = 3'), :label => false, :input_html => { :checked => true }

      %input{:name => 'button_id', :id => 'id_form_button', 'style' => 'display:none'}

      %footer
        %button.btn.btn-primary#trabajadores{type: "submit", :onclick => "part_block();"}
          %i.fa.fa-save 
          Guardar e Ir a Trabajadores
        %button.btn.btn-primary#entidad{type: "submit", :onclick => "part_block();"}
          %i.fa.fa-save 
          Guardar

:javascript
  $(document).ready(function () {
    $("#entity_name").focus();
    $('#type-entity-select').select2();

    if($('form[id^="edit_"]').length > 0) {
      submit_validate($('form[id^="edit_"]'));
    }else{
      submit_validate($('#new_entity'));
    }

    if($('#entity_type_entity_ids_6').is(':checked') || $('#entity_type_entity_ids_7').is(':checked')){
      $('#cost-center-select').fadeIn('fast');
    } else {
      $('#cost-center-select').fadeOut('fast');
    }

    $('#entity_type_entity_ids_6').change(function(){
      if($(this).is(':checked'))
        $('#cost-center-select').fadeIn('fast');
      else
        $('#cost-center-select').fadeOut('fast');
    });

    $('#entity_type_entity_ids_7').change(function(){
      if($(this).is(':checked'))
        $('#cost-center-select').fadeIn('fast');
      else
        $('#cost-center-select').fadeOut('fast');
    });

  });
  
  function submit_validate(form){
    $('button').click(function(){ $('#id_form_button').val($(this).attr('id')); });
    $(form['selector']).ajaxForm({ 
      beforeSubmit: function() {
        $(form['selector']).validate({
          // Rules for form validation
          rules : {
            'entity[name]' : {
              required : true,
            },
            'entity[paternal_surname]' : {
              required : true,
            },
            'entity[maternal_surname]' : {
              required : true,
            },
            'entity[gender]' : {
              required : true,
            },
            'entity[dni]' : {
              required : true,
              digits : true,
              minlength : 8,
              maxlength : 8
            },
            'entity[city]' : {
              required : true,
            },
            'entity[province]' : {
              required : true,
            },
            'entity[department]' : {
              required : true,
            }
          },
          // Messages for form validation
          messages : {
            'entity[name]' : {
              required : 'Por favor, ingresar el nombre.'
            },
            'entity[paternal_surname]' : {
              required : 'Por favor, ingresar el apellido paterno.'
            },
            'entity[maternal_surname]' : {
              required : 'Por favor, ingresar el apellido materno.'
            },
            'entity[gender]' : {
              required : 'Por favor, ingresar el genero.'
            },
            'entity[dni]' : {
              required : 'Por favor, ingresar el DNI.',
              digits : 'Por favor, ingresar solo dígitos.',
              maxlength: 'Solo son 8 dígitos',
              minlength: 'Solo son 8 dígitos'
            },
            'entity[city]' : {
              required : 'Por favor, ingresar la ciudad.'
            },
            'entity[province]' : {
              required : 'Por favor, ingresar la provincia.'
            },
            'entity[department]' : {
              required : 'Por favor, ingresar el departamento.'
            }
          },
          // Do not change code below
          errorPlacement : function(error, element) {
            error.insertAfter(element.parent());
            $('#modalLoadingLabelading').modal('hide');
            $('.modal-backdrop.fade.in').remove();
          }
        });
        // Remove all Help-inLine
        $(".help-inline").remove();
        $('#modalLoadingLabelading').modal('hide');
        $('.modal-backdrop.fade.in').remove();
        // Client Valid
        return $(form['selector']).valid();
        $('#modalLoadingLabelading').modal('hide');
        $('.modal-backdrop.fade.in').remove();
      },
      target: '#content',
      success: function (data){
        $(".help-inline").parent().addClass("state-error");
        $('#modalLoadingLabelading').modal('hide');
        $('.modal-backdrop.fade.in').remove();
      },
      error: function(xhr, status, error) {
        $('#modalLoadingLabelading').modal('hide');
        $('.modal-backdrop.fade.in').remove();
      }
    });
  }