#wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-eye
    %h2 Banco
  .widget-body
    = simple_form_for([:logistics, @bank], html: {class: 'form-horizontal smart-form', autocomplete: 'off' }) do |f|
      %fieldset
        .row
          %section.col.col-6
            %label.label Nombre
            %label.input{for: "business_name"}
              %i.icon-append.fa.fa-superscript
              = f.input :business_name, placeholder: "Nombre", input_html: { class: 'form-control' }, label: false
          %section.col.col-3
            %label.label RUC
            %label.input{for: "ruc"}
              %i.icon-append.fa.fa-user
              = f.input :ruc, placeholder: "RUC", input_html: { class: 'form-control' }, label: false 
          %section.col.col-3
            %label.label Moneda
            %select#money.select2.form-control{:name => "bank[money_id]"}
              %option{:value => "0"} Seleccione una Moneda
              - @money.each do |ph|
                %option{:value => "#{ph.id}", :selected => "#{@bank.money_id}"=="#{ph.id}"}
                  = ph.name+" ("+ph.symbol+")"

        .row
          %section.col.col-4
            %label.label Tipo de Cuenta
            %label.input
              %i.icon-append.fa.fa-superscript
              = f.input :account_type, placeholder: "Tipo de Cuenta", input_html: { class: 'form-control' }, label: false
          %section.col.col-4
            %label.label Número de Cuenta
            %label.input{for: "ruc"}
              %i.icon-append.fa.fa-superscript
              = f.input :account_number, placeholder: "Número", input_html: { class: 'form-control' }, label: false

        .row
          %section.col.col-4
            %label.label Cta. Detracción
            %label.input
              %i.icon-append.fa.fa-superscript
              = f.input :account_detraction, placeholder: "Cta. Detracción", input_html: { class: 'form-control' }, label: false
          %section.col.col-4
            %label.label CCI
            %label.input{for: "ruc"}
              %i.icon-append.fa.fa-superscript
              = f.input :cci, placeholder: "Número", input_html: { class: 'form-control' }, label: false


      %footer
        %button.btn.btn-primary{type: "submit"}
          %i.fa.fa-save
            Guardar

:javascript
  $(document).ready(function () {
    if($('form[id^="edit_"]').length > 0) {
      submit_validate($('form[id^="edit_"]'));
    }else{
      submit_validate($('#new_bank'));
    }
  });

  function submit_validate(form){
    $(form['selector']).ajaxForm({
      beforeSubmit: function() {
        $(form['selector']).validate({
          // Rules for form validation
          rules : {
            'bank[business_name]' : {
              required : true
            },
            'bank[ruc]' : {
              required : true
            },
            'bank[account_type]' : {
              required : true
            },
            'bank[account_number]' : {
              required : true
            }
          },

          // Messages for form validation
          messages : {
            'bank[business_name]' : {
              required : '(*)'
             },
            'bank[ruc]' : {
              required : '(*)'
             },
            'bank[account_type]' : {
              required : '(*)'
            },
            'bank[account_number]' : {
              required : '(*)'
            }
          },

          // Do not change code below
          errorPlacement : function(error, element) {
            error.insertAfter(element.parent());
            $('#modalLoadingLabelading').modal('hide');
            $('.modal-backdrop.fade.in').remove();
          }
        });
        // Remove all Help-inLine
        $(".help-inline").remove();
        $('#modalLoadingLabelading').modal('hide');
        $('.modal-backdrop.fade.in').remove();
        // Client Valid
        if( $(form['selector']).valid() ){
          $('#modalLoadingLabelading').modal();
        }
        // Client Valid
        return $(form['selector']).valid();
      },
      target: '#content',
      success: function (data){
        $(".help-inline").parent().addClass("state-error");
        $('#modalLoadingLabelading').modal('hide');
        $('.modal-backdrop.fade.in').remove();
      },
      error: function(xhr, status, error) {
        $('#modalLoadingLabelading').modal('hide');
        $('.modal-backdrop.fade.in').remove();
      }
    });
  }