=simple_form_for([:biddings, @professional]) do |f|
  #bootstrap-wizard.col-sm-12
    .form-bootstrapWizard
      %ul.bootstrapWizard.form-wizard
        %li.active{"data-target" => "#step1"}
          %a{"data-toggle" => "tab", href: "#tab1"}
            %span.step 1
            %span.title Información Básica
        %li{"data-target" => "#step2"}
          %a{"data-toggle" => "tab", href: "#tab2"}
            %span.step 2
            %span.title Certificados
        %li{"data-target" => "#step3"}
          %a{"data-toggle" => "tab", href: "#tab3"}
            %span.step 3
            %span.title Capacitaciones
        %li{"data-target" => "#step4"}
          %a{"data-toggle" => "tab", href: "#tab4"}
            %span.step 4
            %span.title Guardar formulario
      .clearfix
    .tab-content
      #tab1.tab-pane.active
        %br/
        %h3
          %strong Paso 1
          \- Información básica
        .row
          .col-sm-4
            %label Nombre
            .form-group
              .input-group
                %span.input-group-addon
                  %i.fa.fa-user.fa-md.fa-fw
                %input#name.form-control.input-md{name: "professional[name]", placeholder: "Nombre", type: "text"}/
          .col-sm-4
            %label DNI:
            .form-group
              .input-group
                %span.input-group-addon
                  %i.fa.fa-superscript.fa-md.fa-fw
                %input#dni.form-control.input-md{name: "professional[dni]", placeholder: "DNI"}/
          .col-sm-4
            %label Profesiones
            .input-group.col-sm-4
              = f.association :majors, :as => :collection_select, :label => false, :input_html =>{:class => "select2-choices", :multiple => true}
        .row
          .col-sm-4
            %label Fecha de Titulación
            .form-group
              .input-group
                %span.input-group-addon
                  %i.fa.fa-calendar.fa-md.fa-fw
                %input#datetitle.form-control.input-md{name: "professional[professional_title_date]", type: "date"}/
          .col-sm-4
            %label Fecha de Colegiatura
            .form-group
              .input-group
                %span.input-group-addon
                  %i.fa.fa-calendar.fa-md.fa-fw
                %input#datetuiton.form-control.input-ms{name: "professional[date_of_tuition]",  type: "date"}/
          .col-sm-4
            %label Número de Colegiatura
            .form-group
              .input-group
                %span.input-group-addon
                  %i.fa.fa-superscript.fa-md.fa-fw
                %input#datetuiton.form-control.input-md{name: "professional[code_tuition]", placeholder: "Número de Colegiatura ", type: "text"}/
        %fieldset
          %legend Archivos a Adjuntar
          .row
            .col-sm-4
              .col-sm-3
                %label Título profesional
              .col-sm-9
                = f.input :professional_title, :input_html => { class: 'btn btn-default' }, label: false, onchange: "this.parentNode.nextSibling.value = this.value", as: "file"
                %p.help-block
                  Subir el archivo correspondiente
            .col-sm-4
              .col-sm-3
                %label Colegiatura
              .col-sm-9
                = f.input :tuition, :input_html => { class: 'btn btn-default' }, label: false, onchange: "this.parentNode.nextSibling.value = this.value", as: "file"
                %p.help-block
                  Subir el archivo correspondiente
            .col-sm-4
              .col-sm-3
                %label Curriculum Vitae
              .col-sm-9
                = f.input :cv, :input_html => { class: 'btn btn-default' }, label: false, onchange: "this.parentNode.nextSibling.value = this.value", as: "file"
                %p.help-block
                  Subir el archivo correspondiente

      #tab2.tab-pane
        %br/
        %h3
          %strong Paso 2
          \- Certificados
        .row
          .col-sm-4
            %label Nombre de la obra
            %select.form-control#work-select{name: "professional[certificates_attributes][work_id]"}
              -if @action=="edit"
                -@work.each do |wc|
                  -if @certificate.work_id==wc.id
                    %option{value: "#{wc.id}", selected:true} 
                      = "#{wc.name}"
                  -else
                    %option{value: "#{wc.id}"} 
                      = "#{wc.name}"
              -else
                -@work.each do |wc|
                  %option{value: "#{wc.id}"} 
                    = "#{wc.name}"
            %input#change-check{type: "checkbox", :value=> "otros"}
              = "No es una de las Obras?"
          .col-sm-4
            %label Otra Obra
            %input#another_work.form-control{name: "professional[certificates_attributes][other_work]", :disabled=>"disabled"}
          .col-sm-2
            %label Inicio de la obra: 
            %label.input
              %input#start_certificate.form-control{name:"professional[certificates_attributes][start]", :disabled=>"disabled"}
          .col-sm-2
            %label Termino de la obra: 
            %label.input
              %input#finish_certificate.form-control{name: "professional[certificates_attributes][end]", :disabled=>"disabled"}
        %br    
        .row
          .col-sm-4
            %label Entidad contratante
            .input-group
              %select.form-control.col.sm-4#category-select{ name: "professional[certificates_attributes][entity_id]"}
                - @entities.each do |entities|
                  - entities.each do |entity|
                    %option{:value => "#{entity.id}"}
                      = entity.name + ' ' + entity.paternal_surname
              %span.input-group-addon
                %i.fa.fa-gears
          .col-sm-4
            %label Cargo
            %select.form-control#work-select{name: "professional[certificates_attributes][charge_id]"}
              -if @action=="edit"
                -@charge.each do |wc|
                  -if @certificate.charge_id==wc.id
                    %option{value: "#{wc.id}", selected:true} 
                      = "#{wc.name}"
                  -else
                    %option{value: "#{wc.id}"} 
                      = "#{wc.name}"
              -else
                -@charge.each do |wc|
                  %option{value: "#{wc.id}"} 
                    = "#{wc.name}"
          .col-sm-4
            %label Cantidad de días trabajados
            .col-4
              %input#worked-day.form-control{name: "professional[certificates_attributes][num_days]", :disabled=>"disabled"}
        
        %br
        .row
          .col-sm-2
            %a.btn.btn-primary{href: 'javascript:void(0);'} Agregar más fechas

        %br
        .row
          .col-sm-4
            %label.col-sm-4 Fecha de Inicio:
            .col-sm-8
              .input-group
                %input#start-worker.form-control{ name: "professional[certificates_attributes][start_date]", as: :string, type:  "date"}
                %span.input-group-addon
                  %i.fa.fa-calendar
        
          .col-sm-4
            %label.col-sm-4.control-label Fecha de Termino:
            .col-sm-8
              .input-group
                %input#finish-worker.form-control{ name:"professional[certificates_attributes][finish_date]", as: :string, type:  "date"}
                %span.input-group-addon
                  %i.fa.fa-calendar
        %br
        .row
          .col-sm-6
            %label Componentes de la obra:
            %br
            .col-sm-4
              %label#get-comp
                %label.select.type-training#comp-check

        .row
          .col-sm-6
            .col-sm-4#comp{style: "display:none;"}
              -if @component !=nil
                - @component.each do |comp|
                  %input{name: "professional[certificates_attributes][component_work]", type: "checkbox", :value=> "#{comp.id}"}
                    = "#{comp.name}"
                  %br
        %fieldset
          %legend Archivos a Adjuntar
          .row
            .col-sm-6
              %label.col-sm-2 Certificado
              .col-sm-10
                .button
                  = file_field_tag "professional[certificates_attributes][certificate]", class: 'btn btn-default', label: false, onchange: "this.parentNode.nextSibling.value = this.value", as: "file"
            .col-sm-6
              %label.col-sm-2 Otro
              .col-sm-10
                .button
                  = file_field_tag "professional[certificates_attributes][other]", class: 'btn btn-default', label: false, onchange: "this.parentNode.nextSibling.value = this.value", as: "file"

      #tab3.tab-pane
        %br/
        %h3
          %strong Paso 3
          \- Capacitaciones
        
        .row
          .col-sm-4
            %label Tipo de capacitación
            %br
            %select.form-control{name: "professional[trainings_attributes][type_training]"}
              -if @action=="edit"
                -if @training.type_training=="Curso"
                  %option{value: "Curso", selected:true} Curso
                  %option{value: "Diplomado"} Diplomado
                  %option{value: "Doctorado"} Doctorado
                  %option{value: "Maestría"} Maestría
                -if @training.type_training=="Diplomado"
                  %option{value: "Curso"} Curso
                  %option{value: "Diplomado", selected:true} Diplomado
                  %option{value: "Doctorado"} Doctorado
                  %option{value: "Maestría"} Maestría
                -if @training.type_training=="Doctorado"
                  %option{value: "Curso"} Curso
                  %option{value: "Diplomado"} Diplomado
                  %option{value: "Doctorado", selected:true} Doctorado
                  %option{value: "Maestría"} Maestría
                -if @training.type_training=="Maestría"
                  %option{value: "Curso"} Curso
                  %option{value: "Diplomado"} Diplomado
                  %option{value: "Doctorado"} Doctorado
                  %option{value: "Maestría", selected:true} Maestría
              -else
                %option{value: "Curso"} Curso
                %option{value: "Diplomado"} Diplomado
                %option{value: "Doctorado"} Doctorado
                %option{value: "Maestría"} Maestría
          
          .col-sm-6
            %label Nombre de curso
            %br
            .input-group
              %input.form-control{ name:"professional[trainings_attributes][name_training]", placeholder: "Nombre del curso", html: { class: 'form-control' }}
              %span.input-group-addon
                %i.fa.fa-book.fa-sm.fa-fw
        %br          
        .row
          .col-sm-4
            %label Fecha de Inicio
            .input-group
              %input#start.form-control{ name:"professional[trainings_attributes][start_training]",as: :string, type: "date"}/
              %span.input-group-addon
                %i.fa.fa-calendar
          .col-sm-4
            %label Fecha de Termino
            .input-group
              %input#finish.form-control{ name:"professional[trainings_attributes][finish_training]", as: :string, type: "date"}/
              %span.input-group-addon
                %i.fa.fa-calendar
          
          .col-sm-4
            %label Número de horas
            .input-group
              %span.input-group-addon
                %i.icon-append.fa.fa-book
              %input.form-control{ name:"professional[trainings_attributes][num_hours]", placeholder: "Número de horas", input_html: { class: 'form-control' }}
        %br
        %fieldset
          %legend Archivos a Adjuntar
          .row  
            %label Certificado de Capacitación
            = file_field_tag "professional[trainings_attributes][training]", class: 'btn btn-default', label: false, onchange: "this.parentNode.nextSibling.value = this.value", as: "file"

      #tab4.tab-pane
        %br/
        %h3
          %strong Paso 4
          \- Guardar Formulario
        %br/
        %h1.text-center.text-success
          %strong
            %i.fa.fa-check.fa-lg
            Completo
        %h4.text-center Haga click en siguiente para finalizar
        %br/
        %footer
          %button.btn.btn-primary{type: "submit"}
            %i.fa.fa-save
              Guardar
        %br/
      .form-actions
        .row
          .col-sm-12
            %ul.pager.wizard.no-margin
              %li.previous.disabled
                %a.btn.btn-lg.btn-default{href: "javascript:void(0);"} Previous
              %li.next
                %a.btn.btn-lg.txt-color-darken{href: "javascript:void(0);"} Next