#wid-id-0.jarviswidget.jarviswidget-color-darken{"data-widget-deletebutton" => "false", "data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-check
    %h2 Editar Profesional
  %div{:style => 'overflow:hidden'}
    = render :partial => 'form'

%button.btn.btn-sm.btn-primary.btn-prev#backlist-pros{type: "button"}
  %i.fa.fa-arrow-left>
  Retornar al listado de profesionales


= javascript_include_tag 'plugin/flot/jquery.flot.cust'
= javascript_include_tag 'plugin/vectormap/jquery-jvectormap-1.2.2.min'
= javascript_include_tag 'plugin/fullcalendar/jquery.fullcalendar.min'
= javascript_include_tag 'plugin/vectormap/jquery-jvectormap-world-mill-en'
= javascript_include_tag 'plugin/flot/jquery.flot.resize'
= javascript_include_tag 'plugin/flot/jquery.flot.tooltip'
= javascript_include_tag 'plugin/datatables/jquery.dataTables-cust.min'
= javascript_include_tag 'plugin/datatables/ColReorder.min'
= javascript_include_tag 'plugin/datatables/FixedColumns.min'
= javascript_include_tag 'plugin/datatables/ColVis.min'
= javascript_include_tag 'plugin/datatables/ZeroClipboard'
= javascript_include_tag 'plugin/datatables/media/js/TableTools.min'
= javascript_include_tag 'plugin/datatables/DT_bootstrap'

:javascript
  // DO NOT REMOVE : GLOBAL FUNCTIONS!
  pageSetUp();

  $(document).ready(function(){

    $('#professional_major_ids').select2({ width: '100%' });
    
    $("#company_id").val("#{@company}");

    $('#backlist-pros').click(function(){
        load_url_ajax("#{biddings_professionals_path}", 'content', null, null, 'GET');
    });
    
    if($('form[id^="edit_"]').length > 0) {
      submit_validate($('form[id^="edit_"]'));
    } else {
      submit_validate($('#new_professional'));
    }
  });

  function submit_validate(form){
    $(form['selector']).ajaxForm({
      target: '#content',
    });
  }

  
  function submit_validate(form){
    $(form['selector']).ajaxForm({
      target: '#content',
    });
  }
  // PAGE RELATED SCRIPTS
  
  loadScript("#{ asset_path 'plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js', type: :javascript }", runBootstrapWizard);
  
  //Bootstrap Wizard Validations

  function runBootstrapWizard(){
    if($('form[id^="edit_"]').length > 0) {
      var form = $('form[id^="edit_"]');
    } else {
      var form = $('#new_professional');
    }

    var $validator = $(form['selector']).validate({
      
      rules: {
        'professional[name]':{
          required:true
        },
        'professional[dni]':{
          required: true,
          digits: true,
          maxlength : 8,
          minlength : 8
        },
        'professional[professional_title_date]':{
          required: true
        },
        'professional[date_of_tuition]':{
          required: true
        },
        'professional[code_tuition]':{
          required: true,
          digits: true
        },
        'professional[major]':{
          required: true
        },
        'professional[certificate_attributes][start_date]':{
          required: true
        },
        'professional[certificate_attributes][finish_date]':{
          required: true
        },
        'professional[training_attributes][name_training]':{
          required: true
        },
        'professional[training_attributes][start_training]':{
          required: true
        },
        'professional[training_attributes][num_hours]':{
          required: true,
          digits: true
        }
      },
      
      messages: {
        'professional[name]':{
          required: 'Ingrese el nombre'
        },
        'professional[dni]':{
          required: 'Ingrese el DNI',
          digits: 'Solo se aceptan números',
          maxlength: 'Son solo 8 dígitos',
          minlength: 'Son solo 8 dígitos'
        },
        'professional[professional_title_date]':{
          required: 'Ingrese la fecha de titulación.'
        },
        'professional[date_of_tuition]':{
          required: 'Ingrese la fecha de colegiatura.'
        },
        'professional[code_tuition]':{
          required: 'Ingrese el código de colegiatura.',
          digits: 'Solo se pueden ingresar números.'
        },
        'professional[major]':{
          required: "Escoja la profesión."
        },
        'professional[certificate_attributes][start_date]':{
          required: 'Ingrese la fecha de inicio.'
        },
        'professional[certificate_attributes][finish_date]':{
          required: 'Ingrese la fecha de termino.'
        },
        'professional[training_attributes][name_training]':{
          required: 'Ingrese el nombre de la capacitación.'
        },
        'professional[training_attributes][start_training]':{
          required: 'Ingrese la fecha de inicio.'
        },
        'professional[training_attributes][num_hours]':{
          required: 'Ingrese el número de horas de duración de la capacitación.',
          digits: 'Solo se aceptan números'
        }
      },
      
      highlight: function (element) {
        $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
      },
      unhighlight: function (element) {
        $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
      },
      errorElement: 'span',
      errorClass: 'help-block',
      errorPlacement: function (error, element) {
        if (element.parent('.input-group').length) {
          error.insertAfter(element.parent());
        } else {
          error.insertAfter(element);
        }
      }
    });
    
    $('#bootstrap-wizard').bootstrapWizard({
      'tabClass': 'form-wizard',
      'onNext': function (tab, navigation, index) {
        var $valid = $(form['selector']).valid();
        if (!$valid) {
          $validator.focusInvalid();
          return false;
        } else {
          $('#bootstrap-wizard').find('.form-wizard').children('li').eq(index - 1).addClass('complete');
          $('#bootstrap-wizard').find('.form-wizard').children('li').eq(index - 1).find('.step').html('<i class="fa fa-check"></i>');
        }
      }
    });
  }

  loadScript("#{ asset_path 'plugin/fuelux/wizard/wizard.js', type: :javascript }", fueluxWizard);
  
  function fueluxWizard() {
    
    var wizard = $('.wizard').wizard();
    
    wizard.on('finished', function (e, data) {
    
      $.ajax({
        type: 'POST',
        url: "/biddings/professionals",
        async: false,
        data: $('#new_professional').serialize(),
        dataType : 'html',
        success: function(data) {
          $('#modalLoading').modal('hide');
          $('#content').html(data);
        },
        error : function(xhr, ajaxOptions, thrownError) {
          container.html('<h4 style="margin-top:10px; display:block; text-align:left"><i class="fa fa-warning txt-color-orangeDark"></i> Error 404! Page not found.</h4>');
        }
      });

    });

    wizard.on('change', function(e, data){

      if($('form[id^="edit_"]').length > 0) {
        var form = $('form[id^="edit_"]');
      } else {
        var form = $('#new_professional');
      }

      if(data.tab == 1 && data.direction == 'next'){
        var $valid = $(form['selector']).valid();
        if (!$valid) {
          e.preventDefault();
        }
      }
      if(data.tab == 2 && data.direction == 'next') {
        var $valid = $(form['selector']).valid();
        if (!$valid) {
          e.preventDefault();
        }
      }
      if(data.tab == 3 && data.direction == 'next') {
        var $valid = $(form['selector']).valid();
        if (!$valid) {
          e.preventDefault();
        }
      }
    });
  }

  function add_dates() {
    data = { authenticity_token: "#{form_authenticity_token}"};
    append_url_ajax('#{more_dates_biddings_professionals_path}', 'new-date', data, '', 'POST');
  }
  
  function add_certificates() {
    data = { authenticity_token: "#{form_authenticity_token}"};
    append_url_ajax('#{more_certificates_biddings_professionals_path}', 'accordion-ce', data, '', 'POST');
  }

  function add_trainings() {
    data = { authenticity_token: "#{form_authenticity_token}"};
    append_url_ajax('#{more_trainings_biddings_professionals_path}', 'accordion-tr', data, '', 'POST');
  }

  function delete_item(code){
    $("#" + code).remove();
  }

  function calculateDays(element){
    var di = $(element).parent().parent().parent().siblings().children('.col-sm-8').children('.input-group').find('input').val();
    if(di!=''){
      var d1 = di.split("-");
      var dat1 = new Date(d1[0], parseFloat(d1[1])-1, parseFloat(d1[2]));
      var d2 = $(element).val().split("-");
      var dat2 = new Date(d2[0], parseFloat(d2[1])-1, parseFloat(d2[2]));
      var fin = dat2.getTime() - dat1.getTime();
      var dias = Math.floor(fin / (1000 * 60 * 60 * 24));
      if(dias<0){
        dias="Ingrese una fecha correcta"
      }
      $(element).parent().parent().parent().parent().parent().children('.3.row').children('.col-sm-4').children('.form-control.worked-day').val(dias);
    }else{
      $(element).parent().parent().parent().parent().parent().children('.3.row').children('.col-sm-4').children('.form-control.worked-day').val("Ingrese correctamente ambas fechas");
    }
  }

  function check(element){
    $(element).parent().find('select').attr("disabled", $(element).is(':checked'));
    if ($(element).parent().children('.change-check').is(':checked')){
      $(element).parent().parent().parent().children('.comp2.row').children('.col-sm-6').children('.col-sm-4').children('#get-comp').children('.comp-check.components.select').fadeOut('fast');
      $(element).parent().parent().children().children('.start_certificate').find('input').fadeOut('fast');
      $(element).parent().parent().children().children('.finish_certificate').find('input').fadeOut('fast');
      $(element).parent().parent().children('.another_work').fadeIn('fast');
      $(element).parent().parent().children('.specialty-select').fadeIn('fast');
      $(element).parent().parent().parent().children('.2.row').children('.col-sm-4').children('.entity.input-group').fadeOut('fast');
      $(element).parent().parent().parent().children('.2.row').children('.col-sm-4').children('.contractor.input-group').fadeOut('fast');
      $(element).parent().parent().children().children('.start_other_works').fadeIn('fast');
      $(element).parent().parent().children().children('.finish_other_works').fadeIn('fast');
      $(element).parent().parent().parent().children('.2.row').children('.col-sm-4').children('.entity_other_works.input-group').fadeIn('fast');
      $(element).parent().parent().parent().children('.2.row').children('.col-sm-4').children('.contractor_other_works.input-group').fadeIn('fast');
      $(element).parent().parent().parent().children('.comp.row').children('.col-sm-6').children('.col-sm-4.comp').fadeIn('fast');
    }else{
      $(element).parent().parent().parent().children('.comp2.row').children('.col-sm-6').children('.col-sm-4').children('#get-comp').children('.comp-check.components.select').fadeIn('fast');
      $(element).parent().parent().children().children('.start_certificate').find('input').fadeIn('fast');
      $(element).parent().parent().children().children('.finish_certificate').find('input').fadeIn('fast');
      $(element).parent().parent().parent().children('.2.row').children('.col-sm-4').children('.entity.input-group').fadeIn('fast');
      $(element).parent().parent().parent().children('.2.row').children('.col-sm-4').children('.contractor.input-group').fadeIn('fast');
      $(element).parent().parent().children('.another_work').fadeOut('fast');
      $(element).parent().parent().children('.specialty-select').fadeOut('fast');
      $(element).parent().parent().children().children('.start_other_works').fadeOut('fast');
      $(element).parent().parent().children().children('.finish_other_works').fadeOut('fast');
      $(element).parent().parent().parent().children('.2.row').children('.col-sm-4').children('.entity_other_works.input-group').fadeOut('fast');
      $(element).parent().parent().parent().children('.2.row').children('.col-sm-4').children('.contractor_other_works.input-group').fadeOut('fast');
      $(element).parent().parent().parent().children('.comp.row').children('.col-sm-6').children('.col-sm-4.comp').fadeOut('fast');
    }
  }

  function workSelectCH(element){
    var work_id = $(element).val();
    complete_infocombo(element, "#{get_component_from_work_biddings_professionals_path}", work_id, "#{form_authenticity_token}", 0);
  }

  function workSelectOL(element){
    console.log("entro al onload");
    var work_id = $(element).val();
    complete_infocombo(element, "#{get_component_from_work_biddings_professionals_path}", work_id, "#{form_authenticity_token}", 0);
  }

  function workSelectKU(element){
    var work_id = $(element).val();
    complete_infocombo(element, "#{get_component_from_work_biddings_professionals_path}", work_id, "#{form_authenticity_token}", 0);
  }

  function complete_infocombo(element, url, work_id, form_token, default_value){
    var str_html = "";
    $.ajax({
        type: "POST",
        url: url,
        async: false,
        data: { work_id: work_id, authenticity_token: form_token}
    }).done(function( data ) {
      var start = data.start;
      var finish = data.finish;
      var entity = data.entity;
      var contractor = data.contractor;
      newOptions = [];
      $.each(data.component_work, function(key, value){
        item = {};
        item['name'] = value.name;
        item['id'] = value.id;
        newOptions.push(item);
      });
      $(element).parent().parent().parent().children('.comp2.row').children('.col-sm-6').children('.col-sm-4').children('#get-comp').children('.comp-check.components.select').empty();
      $.each(newOptions, function(key,value){
        str_html = str_html + "<label> <strong> > </strong> " + value.name + "</label><br/>"
      });
      $(element).parent().parent().parent().children('.comp2.row').children('.col-sm-6').children('.col-sm-4').children('#get-comp').children('.comp-check.components.select').html(str_html);
      $(element).parent().parent().children().children('.start_certificate').find('input').empty();
      $(element).parent().parent().children().children('.start_certificate').find('input').val(start);
      $(element).parent().parent().children().children('.finish_certificate').find('input').empty();
      $(element).parent().parent().children().children('.finish_certificate').find('input').val(finish);
      $(element).parent().parent().parent().children('.2.row').children('.col-sm-4').children('.entity.input-group').find('input').empty();
      $(element).parent().parent().parent().children('.2.row').children('.col-sm-4').children('.entity.input-group').find('input').val(entity);
      $(element).parent().parent().parent().children('.2.row').children('.col-sm-4').children('.contractor.input-group').find('input').empty();
      $(element).parent().parent().parent().children('.2.row').children('.col-sm-4').children('.contractor.input-group').find('input').val(contractor);
    });
  }