%html
  %head
    %title Sample WebApp
  %body
    
  @unitOfMeasures

  %table#tTblUOM.table.table-striped.table-bordered.table-hover
    %thead
      - ["AA","VBB",3].each do |row|
        %tr
          %td= row
    %tbody
      - [1,2,3,4,5,6,7].each do |row|
        %tr
          %td= row

  %table#tTblUOM2.table.table-striped.table-bordered.table-hover
    %thead
      - ["Nombre","Descripcion"].each do |f|
        %tr
          %td= f
    %tbody
      - @unitOfMeasures.each do |row|
        %tr
          %td= row.name
          %td= row.description


= javascript_include_tag 'uom'