#content-inside
  .row
    .col-xs-12.col-sm-12.col-md-8.col-lg-12{:style => 'text-align: center;'}
      %h1.page-title.txt-color-blueDark
        %i.fa.fa-pencil-square-o.fa-fw
        = "CUADRO DE ESTADO - " + Time.now.strftime("%B %Y")
  .row.col-md-2{ 'style' => 'width: 14%;' }
    .widget-body
      %table#dt_basic.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th{'colspan' => 4, "style"=>"text-align:center;padding-top: 93px;"}
        %tbody
          %tr
            %th COSTO DIRECTO
          %tr
            %th{"style"=>"text-align:center"} MO
          %tr
            %th{"style"=>"text-align:center"} MAT
          %tr
            %th{"style"=>"text-align:center"} EQ
          %tr
            %th{"style"=>"text-align:center"} SC y SERV
          %tr
            %th GASTOS GENERALES
          %tr
            %th UTILIDAD
          %tr
            %th GASTOS DE GESTIÓN
  .row.col-md-5
    .widget-body
      %table#dt_basic.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th{'colspan' => 4, "style"=>"text-align:center"} VENTA
          %tr
            %th{'colspan' => 2, "style"=>"text-align:center"} PROGRAMADO
            %th{'colspan' => 2, "style"=>"text-align:center"} VALORIZADO
          %tr
            %th{"style"=>"text-align:center;color:#38C0FB"} Mes Actual
            %th{"style"=>"text-align:center"} Acumulado
            %th{"style"=>"text-align:center;color:#38C0FB"} Mes Actual
            %th{"style"=>"text-align:center"} Acumulado
        %tbody
          // Valores totalizados
          %tr
            %th{"style"=>"text-align:center"}= 0
            %th{"style"=>"text-align:center"}= 0
            %th{"style"=>"text-align:center"}= number_to_currency(@acumulated_valorized_sale_current_month.round(2), unit: "S/. ")
            %th{"style"=>"text-align:center"}= number_to_currency(@acumulated_valorized_sale_current_month.round(2), unit: "S/. ")
            
          - @direct_cost.each do |cost|
            %tr
              %th{"style"=>"text-align:center"}= 0
              %th{"style"=>"text-align:center"}= 0
              %th{"style"=>"text-align:center"}= number_to_currency(cost[0].round(2), unit: "S/. ")
              %th{"style"=>"text-align:center"}= number_to_currency(cost[0].round(2), unit: "S/. ")
          // G.Generales, Utilidad y Gastos Gestion
          %tr
            %th{"style"=>"text-align:center"}= 0
            %th{"style"=>"text-align:center"}= 0
            %th{"style"=>"text-align:center"}= 0
            %th{"style"=>"text-align:center"}= 0
          // Utilidad
          %tr
            %th{"style"=>"text-align:center"}= 0
            %th{"style"=>"text-align:center"}= 0
            %th{"style"=>"text-align:center"}= 0
            %th{"style"=>"text-align:center"}= 0
          // Gastos Gestion
          %tr
            %th{"style"=>"text-align:center"}= 0
            %th{"style"=>"text-align:center"}= 0
            %th{"style"=>"text-align:center"}= 0
            %th{"style"=>"text-align:center"}= 0

  .row.col-md-5
    .widget-body
      %table#dt_basic.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th{'colspan' => 2, "style"=>"text-align:center"} Costo Directo
          %tr
            %th{'colspan' => 2, "style"=>"text-align:center"} REAL
          %tr
            %th{"style"=>"text-align:center;color:#38C0FB"} Mes Actual
            %th{"style"=>"text-align:center"} Acumulado
        %tbody
          %tr
            %th{"style"=>"text-align:center"}= (@partwork+@partequipment+@partpeople+@orderofservice+@scvaluations).round(2) rescue 0
            %th{"style"=>"text-align:center"}= (@partwork2+@partequipment2+@partpeople2 +@orderofservice2+@scvaluations2).round(2) rescue 0
          %tr
            %th{"style"=>"text-align:center"}= @partwork.round(2) rescue 0
            %th{"style"=>"text-align:center"}= @partwork2.round(2) rescue 0
          %tr
            %th{"style"=>"text-align:center"}= @partequipment.round(2) rescue 0
            %th{"style"=>"text-align:center"}= @partequipment2.round(2) rescue 0
          %tr
            %th{"style"=>"text-align:center"}= @partpeople.round(2) rescue 0
            %th{"style"=>"text-align:center"}= @partpeople2.round(2) rescue 0
          %tr
            %th{"style"=>"text-align:center"}= @orderofservice.round(2) rescue 0
            %th{"style"=>"text-align:center"}= @orderofservice2.round(2) rescue 0
          %tr
            %th{"style"=>"text-align:center"}= @scvaluations.round(2) rescue 0
            %th{"style"=>"text-align:center"}= @scvaluations2.round(2) rescue 0
          // Gastos Generales
          %tr
            %th{"style"=>"text-align:center"}= (@partequipment3+@partpeople3+@orderofservice3).round(2) rescue 0
            %th{"style"=>"text-align:center"}= (@partequipment4+@partpeople4+@orderofservice4).round(2) rescue 0
          // Utilidad
          %tr
            %th{"style"=>"text-align:center"}= (@partequipment5+@partpeople5+@orderofservice5).round(2) rescue 0
            %th{"style"=>"text-align:center"}= (@partequipment6+@partpeople6+@orderofservice6).round(2) rescue 0
          // Gastos de Gestion
          %tr
            %th{"style"=>"text-align:center"}= (@partequipment7+@partpeople7+@orderofservice7).round(2) rescue 0
            %th{"style"=>"text-align:center"}= (@partequipment8+@partpeople8+@orderofservice8).round(2) rescue 0