#content-inside{:style => 'overflow:hidden'}
  .row
    .col-xs-12.col-sm-12.col-md-8.col-lg-12{:style => 'text-align: center;'}
      %h1.page-title.txt-color-blueDark
        %i.fa.fa-pencil-square-o.fa-fw
        = "CUADRO DE ESTADO - " + Time.now.strftime("%B %Y")
  .row.col-md-2{ 'style' => 'width: 14%;' }
    .widget-body
      %table#dt_basic.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th{'colspan' => 4, "style"=>"text-align:center;padding-top: 93px;"}
        %tbody
          %tr
            %th COSTO DIRECTO
          %tr
            %th{"style"=>"text-align:center; font-weight: normal;"} MO
          %tr
            %th{"style"=>"text-align:center; font-weight: normal;"} MAT
          %tr
            %th{"style"=>"text-align:center; font-weight: normal;"} EQ
          %tr
            %th{"style"=>"text-align:center; font-weight: normal;"} SC y SERV
          %tr
            %th GASTOS GENERALES
          %tr
            %th UTILIDAD
          %tr
            %th GASTOS DE GESTIÓN
  .row.col-md-5
    .widget-body
      %table#dt_basic.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th{'colspan' => 4, "style"=>"text-align:center"} VENTA
          %tr
            %th{'colspan' => 2, "style"=>"text-align:center"} PROGRAMADO
            %th{'colspan' => 2, "style"=>"text-align:center"} VALORIZADO
          %tr
            %th{"style"=>"text-align:center;color:#38C0FB"} Mes Actual
            %th{"style"=>"text-align:center"} Acumulado
            %th{"style"=>"text-align:center;color:#38C0FB"} Mes Actual
            %th{"style"=>"text-align:center"} Acumulado
        %tbody
          // Valores Venta totalizados
          %tr
            %th{"style"=>"text-align:center"}= number_to_currency(@acumulated_scheduled_sale_current_month.round(2), unit: "S/. ")
            %th{"style"=>"text-align:center"}= number_to_currency(@acumulated_scheduled_sale_current_month.round(2), unit: "S/. ")
            %th{"style"=>"text-align:center"}= number_to_currency(@acumulated_valorized_sale_current_month.round(2), unit: "S/. ")
            %th{"style"=>"text-align:center"}= number_to_currency(@acumulated_valorized_sale_current_month.round(2), unit: "S/. ")
            
          - @sale_goal.each do |cost|
            %tr
              %th{"style"=>"text-align:center; font-weight: normal;"}= number_to_currency(cost[0].round(2), unit: "S/. ")
              %th{"style"=>"text-align:center; font-weight: normal;"}= number_to_currency(cost[1].round(2), unit: "S/. ")
              %th{"style"=>"text-align:center; font-weight: normal;"}= number_to_currency(cost[2].round(2), unit: "S/. ")
              %th{"style"=>"text-align:center; font-weight: normal;"}= number_to_currency(cost[3].round(2), unit: "S/. ")
          // G.Generales
          %tr
            %th{"style"=>"text-align:center"}= number_to_currency(@gg_scheduled_sale_current_month, unit: "S/. ")
            %th{"style"=>"text-align:center"}= number_to_currency(@gg_scheduled_sale_current_month, unit: "S/. ")
            %th{"style"=>"text-align:center"}= number_to_currency(@gg_valorized_sale_current_month, unit: "S/. ")
            %th{"style"=>"text-align:center"}= number_to_currency(@gg_valorized_sale_current_month, unit: "S/. ")
          // Utilidad
          %tr
            %th{"style"=>"text-align:center"}= number_to_currency(0, unit: "S/. ")
            %th{"style"=>"text-align:center"}= number_to_currency(0, unit: "S/. ")
            %th{"style"=>"text-align:center"}= number_to_currency(0, unit: "S/. ")
            %th{"style"=>"text-align:center"}= number_to_currency(0, unit: "S/. ")
          // Gastos Gestion
          %tr
            %th{"style"=>"text-align:center"}= number_to_currency(0, unit: "S/. ")
            %th{"style"=>"text-align:center"}= number_to_currency(0, unit: "S/. ")
            %th{"style"=>"text-align:center"}= number_to_currency(0, unit: "S/. ")
            %th{"style"=>"text-align:center"}= number_to_currency(0, unit: "S/. ")

  .row.col-md-5
    .widget-body
      %table#dt_basic.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th{'colspan' => 4, "style"=>"text-align:center"} Costo Directo
          %tr
            %th{'colspan' => 2, "style"=>"text-align:center"} REAL
            %th{'colspan' => 2, "style"=>"text-align:center"} META
          %tr
            %th{"style"=>"text-align:center;color:#38C0FB"} Mes Actual
            %th{"style"=>"text-align:center"} Acumulado
            %th{"style"=>"text-align:center;color:#38C0FB"} Mes Actual
            %th{"style"=>"text-align:center"} Acumulado
        %tbody
          // Valores Totalizados de Costo Directo
          %tr
            %th{"style"=>"text-align:center"}= number_to_currency((@partwork+@partequipment+@partpeople+@orderofservice+@scvaluations).round(2), unit: "S/. ")
            %th{"style"=>"text-align:center"}= number_to_currency((@partwork2+@partequipment2+@partpeople2 +@orderofservice2+@scvaluations2).round(2), unit: "S/. ")
            %th{"style"=>"text-align:center"}= number_to_currency(@acumulated_cost_goal_current_month.round(2), unit: "S/. ")
            %th{"style"=>"text-align:center"}= number_to_currency(@acumulated_cost_goal_current_month.round(2), unit: "S/. ")
          
          // Datos de Costo Directo
          - @cost_goal.each do |cost|
            %tr
              %th{"style"=>"text-align:center; font-weight: normal;"}= number_to_currency(cost[0].round(2), unit: "S/. ")
              %th{"style"=>"text-align:center; font-weight: normal;"}= number_to_currency(cost[1].round(2), unit: "S/. ")
              %th{"style"=>"text-align:center; font-weight: normal;"}= number_to_currency(cost[2].round(2), unit: "S/. ")
              %th{"style"=>"text-align:center; font-weight: normal;"}= number_to_currency(cost[2].round(2), unit: "S/. ")
          // Gastos Generales
          %tr
            %th{"style"=>"text-align:center"}= number_to_currency((@partequipment3+@partpeople3+@orderofservice3).round(2), unit: "S/. ")
            %th{"style"=>"text-align:center"}= number_to_currency((@partequipment4+@partpeople4+@orderofservice4).round(2), unit: "S/. ")
            %th{"style"=>"text-align:center"}= number_to_currency(0, unit: "S/. ")
            %th{"style"=>"text-align:center"}= number_to_currency(0, unit: "S/. ")
          // Utilidad
          %tr
            %th{"style"=>"text-align:center"}= number_to_currency((@partequipment5+@partpeople5+@orderofservice5).round(2), unit: "S/. ")
            %th{"style"=>"text-align:center"}= number_to_currency((@partequipment6+@partpeople6+@orderofservice6).round(2), unit: "S/. ")
            %th{"style"=>"text-align:center"}= number_to_currency(0, unit: "S/. ")
            %th{"style"=>"text-align:center"}= number_to_currency(0, unit: "S/. ")
          // Gastos de Gestion
          %tr
            %th{"style"=>"text-align:center"}= number_to_currency((@partequipment7+@partpeople7+@orderofservice7).round(2), unit: "S/. ")
            %th{"style"=>"text-align:center"}= number_to_currency((@partequipment8+@partpeople8+@orderofservice8).round(2), unit: "S/. ")
            %th{"style"=>"text-align:center"}= number_to_currency(0, unit: "S/. ")
            %th{"style"=>"text-align:center"}= number_to_currency(0, unit: "S/. ")
  .row.col-md-5
    .widget-body
      %table#dt_basic.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th{'colspan' => 4, "style"=>"text-align:center"} TOTAL
          %tr
            %th{"style"=>"text-align:center;"}= @acumulated_scheduled_sale_current_month + @gg_scheduled_sale_current_month
          %tr
            %th{"style"=>"text-align:center;"}= @acumulated_scheduled_sale_current_month + @gg_scheduled_sale_current_month
          %tr
            %th{"style"=>"text-align:center;"}= @acumulated_valorized_sale_current_month + @gg_valorized_sale_current_month
          %tr
            %th{"style"=>"text-align:center;"}= @acumulated_valorized_sale_current_month + @gg_valorized_sale_current_month
          %tr
            %th{"style"=>"text-align:center;"}= number_to_currency((@partwork+@partequipment+@partpeople+@orderofservice+@scvaluations+@partequipment3+@partpeople3+@orderofservice3+@partequipment5+@partpeople5+@orderofservice5+@partequipment7+@partpeople7+@orderofservice7).round(2), unit: "S/. ")
          %tr
            %th{"style"=>"text-align:center;"}= number_to_currency((@partwork2+@partequipment2+@partpeople2 +@orderofservice2+@scvaluations2+@partequipment4+@partpeople4+@orderofservice4+@partequipment6+@partpeople6+@orderofservice6+@partequipment8+@partpeople8+@orderofservice8).round(2), unit: "S/. ")
          %tr
            %th{"style"=>"text-align:center;"}= @acumulated_cost_goal_current_month + @gg_cost_goal_current_month
          %tr
            %th{"style"=>"text-align:center;"}= @acumulated_cost_goal_current_month + @gg_cost_goal_current_month
  %br
  .row.col-md-12
    .col-md-6
      #first-lineal-chart
    .col-md-6
      #second-lineal-chart
  
  %br
  .row.col-md-12
    .col-md-6
      #third-lineal-chart
    .col-md-6
      #bar-chart

  %br
  .row.col-md-12
    .col-md-12
      #four-lineal-chart


:javascript

  load_lineal_graphic_for_general_report('first-lineal-chart', 'MARGEN DE OBRA CD', '', 'Valorizado', 'Costo Real', 'Diferencia');
  load_lineal_graphic_for_general_report('second-lineal-chart', 'MARGEN DE GASTOS GENERALES', '', 'Valorizado', 'Costo Real', 'Diferencia');
  load_lineal_graphic_for_general_report('third-lineal-chart', 'MARGEN TOTAL DE OBRA', '', 'Valorizado', 'Costo Real', 'Diferencia');
  load_lineal_graphic_for_general_report('four-lineal-chart', 'CURVA CONTROL DE COSTO DE OBRA', '', 'Programado', 'Valorizado,', 'Costo Real');
  load_bar_graphic_for_general_report('bar-chart', 'RESULTADO ÚLTIMO 6 MESES', '');