#wid-id-0.jarviswidget.jarviswidget-color-blueDark{"data-widget-editbutton" => "false", "data-widget-deletebutton" => "false"}
  -if @flag=="no"
    -if @nhsub=="no"
      %strong No se encontró ningun subcontrato con ese proveedor
    -else
      %strong Por favor escoja otro fecha, ya que la fecha de inicio es menor a la última valorización
  -else
    = simple_form_for([:production, @scValuation], html: {autocomplete: 'off' }) do |f|
      %div
        .jarviswidget-editbox
        .widget-body
          %table.panel.panel-primary{ style: "height: 90px; width: 850px;margin: 0 auto" }
            %thead.panel-heading
              %tr
                %th{'colspan' => 4, "style"=>"text-align:center;font-size: large"}= @entity.name.to_s + ' N° ' + @numbercode
              %tr{"bgcolor"=>"#3276B1","style"=>"height:25px;"}
                %th{"style"=>"color:white;text-align:center"} Monto contratado
                %th{"style"=>"color:white;text-align:center"} Adelanto
                %th{"style"=>"color:white;text-align:center"} Amortización Acumulada
                %th{"style"=>"color:white;text-align:center"} Saldo
            %tbody{:style=>"font-size:100%;"}
              %th{"style"=>"color:#5f5f5f;text-align:center"}= number_to_currency(@subcontract.contract_amount, unit: 'S/. ', precision: 2)
              %th{"style"=>"color:#5f5f5f;text-align:center"}= number_to_currency(@subadvances, unit: 'S/. ', precision: 2)
              %th{"style"=>"color:#5f5f5f;text-align:center"}= number_to_currency(@accumulated_amortizaciondeadelanto, unit: 'S/. ', precision: 2)
              %th{"style"=>"color:#5f5f5f;text-align:center"}= number_to_currency(@balance, unit: 'S/. ', precision: 2)

      %div
        .jarviswidget-editbox
        .widget-body
          %h1{"style"=>"font-size: large;color:#5f5f5f; font-weight:bold;text-align:center;"}
            = "SEMANA N° #{@inicio[0].split[1].to_s} - #{@fin[0].split[1].to_s} / DEL #{@start_date.to_date.strftime('%d-%m-%y')} AL #{@end_date.to_date.strftime('%d-%m-%y')}"

          %table.panel.panel-primary.table-bordered{ style: "height: 530px;width: 850px;margin: 0 auto" }
            %thead.panel-heading
   
              %tr{"bgcolor"=>"#3276B1",style: "height: 45px;"}
                %th{"style"=>"color:white;text-align:center;width: 50px"} Item
                %th{"style"=>"color:white;text-align:center;width: 300px"} Descripcion
                %th{ 'colspan' => 2, "style"=>"color:white;width: 200px;text-align:center"} Actual
                %th{"style"=>"color:white;text-align:center;width: 150px"} Acumulado Anterior
                %th{"style"=>"color:white;text-align:center;width: 150px"} Acumulado Actual
            %tbody
              %tr{"bgcolor"=>"#ECF3F8"}
                %th{"style"=>"color:#5f5f5f;text-align:center"} 1.00
                %th{"style"=>"color:#5f5f5f;padding-left:8px;"}
                  ="Valorización sin IGV"
                  %span{"style"=>"width=20px"}
                    %a#boton1.btn.btn-xs.btn-danger{:style=>"float:right;margin-right:10px;", href: 'javascript:void(0);', :onclick => 'part_work();',"data-toggle" => "tooltip", :title => "Metrado de Avance"}
                      %i.fa.fa-list-ol{"style"=>"color:white"}
                %th#total{'colspan'=>2,"style"=>"color:#5f5f5f;vertical-align: middle;text-align:right;padding-right:18px;"}= number_to_currency(@totalprice4, unit: 'S/. ', precision: 2)
                %th{"style"=>"color:#5f5f5f;vertical-align: middle;text-align:right;padding-right:18px;"}= number_to_currency(@valorizacionsinigv, unit: 'S/. ', precision: 2)
                %th{"style"=>"color:#5f5f5f;vertical-align: middle;text-align:right;padding-right:18px;"}= number_to_currency(@accumulated_valorizacionsinigv, unit: 'S/. ', precision: 2)
              %tr
                %th{"style"=>"color:#5f5f5f;text-align:center"} 2.00
                %th{"style"=>"color:#5f5f5f;padding-left:8px;"} 
                  ="Amortización de Adelanto (SIN. I.G.V.)"
                  %input.form-control#percent{:value => "#{sprintf('%.2f', @subcontract.initial_amortization_percent.to_f)}", :readonly => true, "style"=> "width: 150px;margin: 0 auto;text-align: center;float: left;margin-right: 10px;", :onkeypress => "return isNumber(event);",  onchange: "this.value = minmax(this.value, 1, 100)"}
                  %input#flag{:type =>"checkbox", :onchange => 'check();'} Usar Porcentaje
                %th{'colspan'=>2,"style"=>"color:#5f5f5f;text-align:center"}
                  %input.form-control#number{:value => "#{sprintf('%.2f',@subcontract.initial_amortization_number.to_f)}", "style"=> "width: 80;margin: 0 auto;text-align:center", :onkeypress => "return isNumber(event);",  onchange: "this.value = minmax(this.value, 1, 100)"}
                %th#amortLast{"style"=>"color:#5f5f5f;vertical-align: middle;text-align:right;padding-right:18px;"}= number_to_currency(@amortizaciondeadelanto, unit: 'S/. ', precision: 2)
                %th#amortAcum{"style"=>"color:#5f5f5f;vertical-align: middle;text-align:right;padding-right:18px;"}= number_to_currency(@accumulated_amortizaciondeadelanto, unit: 'S/. ', precision: 2)
              %tr{"bgcolor"=>"#ECF3F8"}
                %th{"style"=>"color:#5f5f5f;text-align:center"} 3.00
                %th{"style"=>"color:#5f5f5f;padding-left:8px;"} Total a Facturar
                %th#totalfac{'colspan'=>2,"style"=>"color:#5f5f5f;text-align:right;padding-right:18px;"}= number_to_currency(@totalbill, unit: 'S/. ', precision: 2)
                %th#lastTotalFac{"style"=>"color:#5f5f5f;text-align:right;padding-right:18px;"}= number_to_currency(@totalfacturar, unit: 'S/. ', precision: 2)
                %th#acumTotalFac{"style"=>"color:#5f5f5f;text-align:right;padding-right:18px;"}= number_to_currency(@accumulated_totalfacturar, unit: 'S/. ', precision: 2)
              %tr
                %th{"style"=>"color:#5f5f5f;text-align:center"} 4.00
                %th{"style"=>"color:#5f5f5f;padding-left:8px;"} 
                  ="I.G.V. del Total a Facturar"
                  %span#igv{"style"=>"color:#5f5f5f;text-align:center"}= @subcontract.igv
                %th#igvTotal{'colspan'=>2,"style"=>"color:#5f5f5f;text-align:right;padding-right:18px;"}= number_to_currency(@totalbilligv, unit: 'S/. ', precision: 2)
                %th#lastIgv{"style"=>"color:#5f5f5f;text-align:right;padding-right:18px;"}= number_to_currency(@totalfacigv, unit: 'S/. ', precision: 2)
                %th#acumIgv{"style"=>"color:#5f5f5f;text-align:right;padding-right:18px;"}= number_to_currency(@accumulated_totalfacigv, unit: 'S/. ', precision: 2)
              %tr{"bgcolor"=>"#3276B1"}
                %th{"style"=>"color:white;text-align:center"} 5.00
                %th{"style"=>"color:white;padding-left:8px;"} TOTAL INCLUIDO IGV
                %th#totalInIgv{ 'colspan' => 2, "style"=>"color:white;text-align:right;padding-right:18px;"}= number_to_currency(@totalbillwigv, unit: 'S/. ', precision: 2)
                %th#lastTotal{"style"=>"color:white;text-align:right;padding-right:18px;"}= number_to_currency(@totalincluidoigv, unit: 'S/. ', precision: 2)
                %th#acumTotal{"style"=>"color:white;text-align:right;padding-right:18px;"}= number_to_currency(@accumulated_totalincluidoigv, unit: 'S/. ', precision: 2)
              %tr{"bgcolor"=>"#ECF3F8"}
                %th{"style"=>"color:#5f5f5f;text-align:center;"} 6.00
                %th{"style"=>"color:#5f5f5f;padding-left:8px;"} RETENCIONES
                %th#ret{ 'colspan' => 2, "style"=>"color:#5f5f5f;text-align:right;padding-right:18px;"}= number_to_currency(@retention, unit: 'S/. ', precision: 2)
                %th#lastRet{"style"=>"color:#5f5f5f;text-align:right;padding-right:18px;"}= number_to_currency(@retenciones, unit: 'S/. ', precision: 2)
                %th#acumRet{"style"=>"color:#5f5f5f;text-align:right;padding-right:18px;"}= number_to_currency(@accumulated_retenciones, unit: 'S/. ', precision: 2)
              %tr
                %th{"style"=>"color:#5f5f5f;text-align:center;padding-left:18px;"} 6.01
                %th{'colspan'=>2,"style"=>"color:#5f5f5f;padding-left:18px;"} Detracción del Total (Incl. I.G.V.)

                %th{"style"=>"color:#5f5f5f;text-align:right;padding-right:18px;"}= number_to_currency(@subcontract.detraction, unit: 'S/. ', precision: 2)
                %th{"style"=>"color:#5f5f5f;text-align:right;padding-right:18px;"}= number_to_currency(@retenciones, unit: 'S/. ', precision: 2)
                %th{"style"=>"color:#5f5f5f;text-align:right;padding-right:18px;"}= number_to_currency(@accumulated_detraccion, unit: 'S/. ', precision: 2)
              %tr
                %th{"style"=>"color:#5f5f5f;text-align:center;padding-left:18px;"} 6.02
                %th{'colspan'=>2,"style"=>"color:#5f5f5f;padding-left:18px;"} Fondo de Garantía N°01

                %th{"style"=>"color:#5f5f5f;text-align:right;padding-right:18px;"}= number_to_currency(((@subcontract.guarantee_fund.to_f/100)*@totalprice4), unit: 'S/. ', precision: 2)
                %th{"style"=>"color:#5f5f5f;text-align:right;padding-right:18px;"}= number_to_currency(@fondogarantia1, unit: 'S/. ', precision: 2)
                %th{"style"=>"color:#5f5f5f;text-align:right;padding-right:18px;"}= number_to_currency(@accumulated_fondogarantia1, unit: 'S/. ', precision: 2)
              %tr
                %th{"style"=>"color:#5f5f5f;text-align:center;padding-left:18px;"} 6.03
                %th{'colspan'=>2,"style"=>"color:#5f5f5f;padding-left:18px;"} 
                  ="Fondo de Garantía N°02"
                  %span{"style"=>"width=20px"}
                    %a#boton2.btn.btn-xs.btn-danger{:style=>"float:right;margin-right:10px;", href: 'javascript:void(0);', :onclick => 'part_people();',"data-toggle" => "tooltip", :title => "Detalle de Descuento de Personal"}
                      %i.fa.fa-list-ol{"style"=>"color:white"}        
                %th{"style"=>"color:#5f5f5f;vertical-align: middle;text-align:right;padding-right:18px;"}= number_to_currency(@totalprice, unit: 'S/. ', precision: 2)
                %th{"style"=>"color:#5f5f5f;vertical-align: middle;text-align:right;padding-right:18px;"}= number_to_currency(@fondogarantia2, unit: 'S/. ', precision: 2)
                %th{"style"=>"color:#5f5f5f;vertical-align: middle;text-align:right;padding-right:18px;"}= number_to_currency(@accumulated_fondogarantia2, unit: 'S/. ', precision: 2)
              %tr
                %th{"style"=>"color:#5f5f5f;text-align:center;padding-left:18px;"} 6.04
                %th{'colspan'=>2,"style"=>"color:#5f5f5f;padding-left:18px;"} 
                  ="Descuento de Equipos"
                  %span{"style"=>"width=20px"}
                    %a#boton3.btn.btn-xs.btn-danger{:style=>"float:right;margin-right:10px;", href: 'javascript:void(0);', :onclick => 'part_equipment();',"data-toggle" => "tooltip", :title => "Detalle de Descuento de Equipos"}
                      %i.fa.fa-list-ol{"style"=>"color:white"}
                %th{"style"=>"color:#5f5f5f;vertical-align: middle;text-align:right;padding-right:18px;"}= number_to_currency(@totalprice3, unit: 'S/. ', precision: 2)
                %th{"style"=>"color:#5f5f5f;vertical-align: middle;text-align:right;padding-right:18px;"}= number_to_currency(@descuestoequipos, unit: 'S/. ', precision: 2)
                %th{"style"=>"color:#5f5f5f;vertical-align: middle;text-align:right;padding-right:18px;"}= number_to_currency(@accumulated_descuestoequipos, unit: 'S/. ', precision: 2)
              %tr
                %th{"style"=>"color:#5f5f5f;text-align:center;padding-left:18px;"} 6.05
                %th{'colspan'=>2,"style"=>"color:#5f5f5f;padding-left:18px;"} Descuento de Materiales
                %th{"style"=>"color:#5f5f5f"}
                %th{"style"=>"color:#5f5f5f;text-align:right;padding-right:18px;"}= number_to_currency(@descuentomateriales, unit: 'S/. ', precision: 2)
                %th{"style"=>"color:#5f5f5f;text-align:right;padding-right:18px;"}= number_to_currency(@accumulated_descuentomateriales, unit: 'S/. ', precision: 2)
              %tr
                %th{"style"=>"color:#5f5f5f;text-align:center;padding-left:18px;"} 6.06
                %th{'colspan'=>2,"style"=>"color:#5f5f5f;padding-left:18px;"} Descuento de Otros (Incl. I.G.V.)
                %th{"style"=>"color:#5f5f5f"}
                  %input#other.form-control{}
                %th#lastOther{"style"=>"color:#5f5f5f;vertical-align: middle;text-align:center"}= number_to_currency(@otrosdescuentos, unit: 'S/. ', precision: 2)
                %th#acumOther{"style"=>"color:#5f5f5f;vertical-align: middle;text-align:center"}= number_to_currency(@otrosdescuentos, unit: 'S/. ', precision: 2)
              %tr{"bgcolor"=>"#3276B1"}
                %th{"style"=>"color:white"} 07
                %th{"style"=>"color:white;padding-left:8px;"} NETO A PAGAR
                %th{"style"=>"color:white"}
                %th#netpay{"style"=>"color:white;text-align:right;padding-right:18px;"}= number_to_currency(@netoactualpagar, unit: 'S/. ', precision: 2)
                %th#lastnetpay{"style"=>"color:white;text-align:right;padding-right:18px;"}= number_to_currency(@netoapagar, unit: 'S/. ', precision: 2)
                %th#acumnetpay{"style"=>"color:white;text-align:right;padding-right:18px;"}= number_to_currency(@accumulated_netoapagar, unit: 'S/. ', precision: 2)
                = hidden_field_tag 'sv_valuation[name]', @entity.name
                = hidden_field_tag 'sv_valuation[code]', @numbercode
                = hidden_field_tag 'sv_valuation[start_date]', @start_date
                = hidden_field_tag 'sv_valuation[end_date]', @end_date
                = hidden_field_tag 'sv_valuation[working_group]', @cad
                = hidden_field_tag 'sv_valuation[valuation]', @totalprice4
                = hidden_field_tag 'sv_valuation[initial_amortization_number]', @subcontract.initial_amortization_number.to_f
                = hidden_field_tag 'sv_valuation[initial_amortization_percentage]', @subcontract.initial_amortization_percent
                = hidden_field_tag 'sv_valuation[bill]', @totalbill
                = hidden_field_tag 'sv_valuation[billigv]', @subcontract.igv
                = hidden_field_tag 'sv_valuation[totalbill]', @totalbillwigv
                = hidden_field_tag 'sv_valuation[retention]', @retention
                = hidden_field_tag 'sv_valuation[detraction]', @subcontract.detraction
                = hidden_field_tag 'sv_valuation[guarantee_fund1]', (@subcontract.guarantee_fund.to_f/100)*@totalprice4
                = hidden_field_tag 'sv_valuation[guarantee_fund2]', @totalprice
                = hidden_field_tag 'sv_valuation[equipment_discount]', @totalprice3
                = hidden_field_tag 'sv_valuation[material_discount]', @descuentomateriales
                = hidden_field_tag 'sv_valuation[otherdiscount]', nil
                = hidden_field_tag 'sv_valuation[hired_amount]', @subcontract.contract_amount
                = hidden_field_tag 'sv_valuation[advances]', @subadvances
                = hidden_field_tag 'sv_valuation[accumulated_amortization]', @accumulated_amortizaciondeadelanto
                = hidden_field_tag 'sv_valuation[balance]', @balance
                = hidden_field_tag 'sv_valuation[net_payment]', @netoactualpagar
                = hidden_field_tag 'sv_valuation[accumulated_valuation]', @accumulated_valorizacionsinigv
                = hidden_field_tag 'sv_valuation[accumulated_initial_amortization_number]', @accumulated_amortizaciondeadelanto.to_f
                = hidden_field_tag 'sv_valuation[accumulated_bill]', @accumulated_totalfacturar
                = hidden_field_tag 'sv_valuation[accumulated_billigv]', @accumulated_totalfacigv
                = hidden_field_tag 'sv_valuation[accumulated_totalbill]', @accumulated_totalincluidoigv
                = hidden_field_tag 'sv_valuation[accumulated_retention]', @accumulated_retenciones
                = hidden_field_tag 'sv_valuation[accumulated_detraction]', @accumulated_detraccion
                = hidden_field_tag 'sv_valuation[accumulated_guarantee_fund1]', @accumulated_fondogarantia1
                = hidden_field_tag 'sv_valuation[accumulated_guarantee_fund2]', @accumulated_fondogarantia2
                = hidden_field_tag 'sv_valuation[accumulated_equipment_discount]', @accumulated_descuestoequipos
                = hidden_field_tag 'sv_valuation[accumulated_otherdiscount]', nil
                = hidden_field_tag 'sv_valuation[accumulated_net_payment]', @accumulated_netoapagar
        %footer
          %button.btn.btn-primary{type: "submit"}
            %i.fa.fa-save 
              Guardar
      %br
      %br
      #part-work.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "partPeopleLabel", role: "dialog", tabindex: "-1"}
      %br
      #part-people.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "partPeopleLabel", role: "dialog", tabindex: "-1"}
      %br
      #part-equipment.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "partPeopleLabel", role: "dialog", tabindex: "-1"}

  :javascript

    $(document).ready(function(){
      if($('#percent').val()!=0){
        $("#flag").attr('checked', true);
        check();
      }

      $('#new_sc_valuation').ajaxForm({
        target: '#content'
      });

      $("#boton1").hover(function () {
        $('#boton1').tooltip('show');
      },function(){
        $('#boton1').tooltip('hide');
      })

      $("#boton2").hover(function () {
        $('#boton2').tooltip('show');
      },function(){
        $('#boton2').tooltip('hide');
      })

      $("#boton3").hover(function () {
        $('#boton3').tooltip('show');
      },function(){
        $('#boton3').tooltip('hide');
      })

    });

    function check(){
      $('#percent').attr("readonly", !$('#flag').is(':checked'));
      $('#number').attr("disabled", $('#flag').is(':checked'));
    }

    $('#percent').change(function(){
      if($('#total').text()!=""){
        $('#number').val(' ');
        var num = parseInt($('#total').text())*$('#percent').val()/100;
        $('#number').val(num.toFixed(2));
      }
    });

    $('#number').change(function(){
      if($('#total').text()!= ""){
        $('#percent').text(' ');
        $('#percent').val(($('#number').val()/parseInt($('#total').text())*100).toFixed(2));

        $('#sv_valuation_initial_amortization_number').val($('#number').val());
        $('#sv_valuation_initial_amortization_percentage').val(($('#number').val()/parseInt($('#total').text())*100).toFixed(2));

        $('#totalfac').text((parseInt($('#total').text()) - parseFloat($('#number').val())).toFixed(2));
        $('#sv_valuation_bill').val((parseInt($('#total').text()) - parseFloat($('#number').val())).toFixed(2));

        $('#igvTotal').text(($('#totalfac').text()*$('#igv').text()).toFixed(2));
        $('#sv_valuation_billigv').val(($('#totalfac').text()*$('#igv').text()).toFixed(2));

        $('#totalInIgv').text((parseFloat($('#igvTotal').text()) + parseFloat($('#totalfac').text())).toFixed(2));
        $('#sv_valuation_totalbill').val((parseFloat($('#igvTotal').text()) + parseFloat($('#totalfac').text())).toFixed(2));

        $('#netpay').text($('#totalInIgv').text() - $('#ret').text());
        $('#sv_valuation_net_payment').val($('#totalInIgv').text() - $('#ret').text());

        $('#amortAcum').text((parseFloat($('#amortLast').text()) + parseFloat($('#number').val())).toFixed(2));
        $('#amortAcum2').text((parseFloat($('#amortLast').text()) + parseFloat($('#number').val())).toFixed(2));
        $('#saldo').text((parseInt($('#adelanto').text())-parseFloat($('#amortAcum2').text())).toFixed(2));
        $('#sv_valuation_accumulated_amortization').val((parseFloat($('#amortLast').text()) + parseFloat($('#number').val())).toFixed(2));
        $('#sv_valuation_initial_amortization_number').val((parseFloat($('#amortLast').text()) + parseFloat($('#number').val())).toFixed(2));

        $('#acumTotalFac').text((parseFloat($('#lastTotalFac').text()) + parseFloat($('#totalfac').text())).toFixed(2));
        $('#sv_valuation_accumulated_bill').val((parseFloat($('#lastTotalFac').text()) + parseFloat($('#totalfac').text())).toFixed(2));

        $('#acumIgv').text((parseFloat($('#lastIgv').text()) + parseFloat($('#igvTotal').text())).toFixed(2));
        $('#sv_valuation_accumulated_billigv').val((parseFloat($('#lastIgv').text()) + parseFloat($('#igvTotal').text())).toFixed(2));

        $('#acumTotal').text((parseFloat($('#lastTotal').text()) + parseFloat($('#totalInIgv').text())).toFixed(2));
        $('#sv_valuation_accumulated_totalbill').val((parseFloat($('#lastTotal').text()) + parseFloat($('#totalInIgv').text())).toFixed(2));

        $('#acumnetpay').text((parseFloat($('#lastnetpay').text()) + parseFloat($('#netpay').text())).toFixed(2));
        $('#sv_valuation_accumulated_net_payment').val((parseFloat($('#lastnetpay').text()) + parseFloat($('#netpay').text())).toFixed(2));
      }
    });

    $('#other').change(function(){
      if($('#other').val()!=""){
        if($('#other').val()==0){
          $('#ret').text("#{@retention}");
          $('#sv_valuation_retention').val("#{@retention}");
          $('#sv_valuation_otherdiscount').val($('#other').val());
          $('#netpay').text($('#totalInIgv').text() - $('#ret').text());
          $('#sv_valuation_net_payment').val($('#totalInIgv').text() - $('#ret').text());

          $('#acumRet').text((parseFloat($('#lastRet').text()) + parseFloat($('#ret').text())).toFixed(2));
          $('#sv_valuation_accumulated_retention').val((parseFloat($('#lastRet').text()) + parseFloat($('#ret').text())).toFixed(2));
          $('#sv_valuation_retention').val(parseFloat($('#ret').text()).toFixed(2));

          $('#acumnetpay').text((parseFloat($('#lastnetpay').text()) + parseFloat($('#netpay').text())).toFixed(2));
          $('#sv_valuation_accumulated_net_payment').val((parseFloat($('#lastnetpay').text()) + parseFloat($('#netpay').text())).toFixed(2));

          $('#acumOther').text((parseFloat($('#lastOther').text()) + parseFloat($('#other').val())).toFixed(2));
          $('#sv_valuation_accumulated_otherdiscount').val((parseFloat($('#lastOther').text()) + parseFloat($('#other').val())).toFixed(2));

        }else{
          $('#sv_valuation_otherdiscount').val($('#other').val());
          $('#ret').text("#{@retention}");
          $('#ret').text((parseFloat($('#ret').text()) + parseFloat($('#other').val())).toFixed(2));
          $('#sv_valuation_retention').val((parseFloat($('#ret').text()) + parseFloat($('#other').val())).toFixed(2));


          $('#acumRet').text((parseFloat($('#lastRet').text()) + parseFloat($('#ret').text())).toFixed(2));      
          $('#sv_valuation_accumulated_retention').val((parseFloat($('#lastRet').text()) + parseFloat($('#ret').text())).toFixed(2));
          $('#sv_valuation_retention').val(parseFloat($('#ret').text()).toFixed(2));

          $('#netpay').text($('#totalInIgv').text() - $('#ret').text());
          $('#sv_valuation_net_payment').val($('#totalInIgv').text() - $('#ret').text());

          $('#acumnetpay').text((parseFloat($('#lastnetpay').text()) + parseFloat($('#netpay').text())).toFixed(2));
          $('#sv_valuation_accumulated_net_payment').val((parseFloat($('#lastnetpay').text()) + parseFloat($('#netpay').text())).toFixed(2));

          $('#acumOther').text((parseFloat($('#lastOther').text()) + parseFloat($('#other').val())).toFixed(2));
          $('#sv_valuation_accumulated_otherdiscount').val((parseFloat($('#lastOther').text()) + parseFloat($('#other').val())).toFixed(2));

        }
      }else{
        $('#ret').text("#{@retention}");
        $('#sv_valuation_retention').val("#{@retention}");

        $('#netpay').text($('#totalInIgv').text() - $('#ret').text());
        $('#sv_valuation_net_payment').val($('#totalInIgv').text() - $('#ret').text());

        $('#acumRet').text((parseFloat($('#lastRet').text()) + parseFloat($('#ret').text())).toFixed(2));  
        $('#sv_valuation_accumulated_retention').val((parseFloat($('#lastRet').text()) + parseFloat($('#ret').text())).toFixed(2));

        $('#acumnetpay').text((parseFloat($('#lastnetpay').text()) + parseFloat($('#netpay').text())).toFixed(2));
        $('#sv_valuation_accumulated_net_payment').val((parseFloat($('#lastnetpay').text()) + parseFloat($('#netpay').text())).toFixed(2));

        $('#acumOther').text((parseFloat($('#lastOther').text())).toFixed(2));
        $('#sv_valuation_accumulated_otherdiscount').val((parseFloat($('#lastOther').text()) + parseFloat($('#other').val())).toFixed(2));
      }
    });

    function isNumber(evt) {
      evt = (evt) ? evt : window.event;
      var charCode = (evt.which) ? evt.which : evt.keyCode;
      if (charCode > 47 && charCode < 58 || charCode==46) {
        return true;
      }else{
        return false;
      }
    }

    function minmax(value, min, max){
      if($('#flag').is(':checked')){
        max = 100;
      }else{
        max = parseFloat($('#total').text());
      }
      
      if(parseInt(value) < min || isNaN(value)) 
        return min; 
      else if(parseInt(value) > max) 
        return max; 
      else return value;
    }

    function part_work() {
      data = { authenticity_token: "#{form_authenticity_token}", start_date: "#{@start_date}", end_date: "#{@end_date}", cad: "#{@cad}",name: "#{@entity.name}" };
      load_url_ajax('#{part_work_production_sc_valuations_path}', 'part-work', data, '', 'POST');
      $('#part-work').modal({
        keyboard: false,
        backdrop: 'static'
      });
    }

    function part_people() {
      data = { authenticity_token: "#{form_authenticity_token}", start_date: "#{@start_date}", end_date: "#{@end_date}", cad: "#{@cad}" };
      load_url_ajax('#{part_people_production_sc_valuations_path}', 'part-people', data, '', 'POST');
      $('#part-people').modal({
        keyboard: false,
        backdrop: 'static'
      });
    }

    function part_equipment() {
      data = { authenticity_token: "#{form_authenticity_token}", start_date: "#{@start_date}", end_date: "#{@end_date}", cad: "#{@cad}" };
      load_url_ajax('#{part_equipment_production_sc_valuations_path}', 'part-equipment', data, '', 'POST');
      $('#part-equipment').modal({
        keyboard: false,
        backdrop: 'static'
      });
    }
