#wid-id-0.jarviswidget.jarviswidget-color-darken{"data-widget-editbutton" => "false", "data-widget-deletebutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-table
  %div
    .jarviswidget-editbox
    .widget-body.no-padding
      .widget-body-toolbar
      %table#summary-purchase-orders.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th Subcontratista
            %th N°
            %th Val. Actual
            %th Neto a Pagar
            %th Fecha
            %th Estado
            %th Acciones
        %tbody
          - @scvaluation.each do |unit|
            %tr
              %td 
                = unit.name + ' ' + unit.code
              %td
                = unit.id
              %td
                = unit.valuation
              %td
                = unit.net_payment
              %td
                = unit.start_date.to_s + " - " + unit.end_date.to_s
              %td
                = unit.state
              %td
                %a.btn.btn-success.btn-xs{:onclick => "javascript:load_url_ajax('#{edit_production_sc_valuation_path(unit.id)}', 'content', null, null, 'GET')"}
                  Ver información
                %a.btn.btn-danger.btn-xs{:data => {:toggle => 'confirmation', :placement => 'left', :title => 'Esta seguro de eliminar el item ' + "#{unit.name}?", :singleton => 'true', :popout => 'true', :onclick => "javascript:delete_to_url('#{production_sc_valuation_path(unit.id)}' + '?authenticity_token=#{form_authenticity_token}', 'content', '#{production_sc_valuations_path}?company_id=#{@company}')"}}
                  Eliminar