%html
	%head
	%meta{charset: "utf-8"}
	= wicked_pdf_stylesheet_link_tag "bootstrap.min", media: "screen", rel: "stylesheet", type: "text/css"
	%body
	= image_tag @company.avatar.url, alt: "#{@company.name}"
	%br
	%br
	%br
	#main
		#content
			-if @workers_array3.count>0
				%table.table.table-bordered{"style"=>"width:900px;"}
					%thead
						%tr{"style"=> "font-size:14px"}
							%th{"style"=>"background-color:#CDCDCD;text-align:center"} Item
							%th{"style"=>"background-color:#CDCDCD;text-align:center"} Código TOBI
							%th{"style"=>"background-color:#CDCDCD;text-align:center"} Descripción
							%th{"style"=>"background-color:#CDCDCD;text-align:center"} Cantidad
							%th{"style"=>"background-color:#CDCDCD;text-align:center"} Unidad
							%th{"style"=>"background-color:#CDCDCD;text-align:center"} P.U.
							%th{"style"=>"background-color:#CDCDCD;text-align:center"} Parcial
					%tbody{"style"=> "font-size:12px"}
						-@i=1
						-@todo.each do |to|
							-if to[1].nil? && to[0].to_s.length == 2
								%tr
									%th{"style"=>"color:white;text-align:left; background-color: #091E30; font-weight: bold; "}
									%th{"style"=>"color:white;text-align:left; background-color: #091E30; font-weight: bold; "}= to[0]
									%th{'colspan' => 8, "style"=>"color:white;text-align:left; background-color: #091E30; font-weight: bold; "}= Category.find_by_code(to[0].to_s).name
								-@i=1
							-elsif to[1].nil? && to[0].to_s.length == 4
								%tr
									%th{"style"=>"color:white;text-align:left; background-color: #3276B1; font-weight: bold; "}
									%th{"style"=>"color:white;text-align:left; background-color: #3276B1; font-weight: bold; "}= to[0]
									%th{'colspan' => 8, "style"=>"color:white;text-align:left; background-color: #3276B1; font-weight: bold; "}= Category.find_by_code(to[0].to_s).name
								-@i=1
							-elsif to[1].nil? && to[0].to_s.length == 6
								%tr
									%th{"style"=>"color:white;text-align:left; background-color: #7FA1B1; font-weight: bold; "}
									%th{"style"=>"color:white;text-align:left; background-color: #7FA1B1; font-weight: bold; "}= to[0]
									%th{'colspan' => 8,"style"=>"color:white;text-align:left; background-color: #7FA1B1; font-weight: bold; "}= Category.find_by_code(to[0].to_s).name
								-@i=1
							-else
								%tr
									%th{"style"=>"text-align:left; font-weight: normal; "}= @i
									%th{:style=>"font-weight:normal;"}= to[7].to_s
									%th{:style=>"font-weight:normal;"}= to[6].to_s+" "+to[0].to_s
									%th{:style=>"text-align:right;font-weight:normal;"}= sprintf('%.2f',to[2])
									%th{:style=>"text-align:right;font-weight:normal;"}= to[1]
									%th{:style=>"text-align:right;font-weight:normal;"}= to[3]
									%th{:style=>"text-align:right;font-weight:normal;"}= number_to_currency(to[4], unit: 'S/. ', precision: 2)
								-@i+=1
			- else
				%h4.modal-title No hay datos.
				%br
				%footer