.modal-dialog{:style=>"width:1000px;"}
  .modal-content
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"}
        \×
      %h4.modal-title Descuento de Equipos
    .modal-body
      -if @workers_array3.count>0
        %h1.page-title.txt-color-blueDark Parte de Equipos
        %table.table.table-bordered
          %thead
            %tr
              %th{'colspan' => 10, "style"=>"text-align:center;font-size: large;"}= "LISTADO DE EQUIPOS "
            %tr{"style"=> "font-size:14px"}
              %th{"style"=>"text-align:center"} Item
              %th{"style"=>"text-align:center"} Código TOBI
              %th{"style"=>"text-align:center"} Descripción
              %th{"style"=>"text-align:center"} Cantidad
              %th{"style"=>"text-align:center"} Unidad
              %th{"style"=>"text-align:center"} P.U.
              %th{"style"=>"text-align:center"} Parcial
          %tbody{"style"=> "font-size:12px"}
            -@i=1
            -@todo.each do |to|
              -if to[1].nil? && to[0].to_s.length == 2
                %tr
                  %th{"style"=>"text-align:left; background-color: #727272; font-weight: bold; "}
                  %th{"style"=>"text-align:left; background-color: #727272; font-weight: bold; "}= to[0]
                  %th{'colspan' => 8, "style"=>"text-align:left; background-color: #727272; font-weight: bold; "}= Category.find_by_code(to[0].to_s).name
                -@i=1
              -elsif to[1].nil? && to[0].to_s.length == 4
                %tr
                  %th{"style"=>"text-align:left; background-color: #A5A5A5; font-weight: bold; "}
                  %th{"style"=>"text-align:left; background-color: #A5A5A5; font-weight: bold; "}= to[0]
                  %th{'colspan' => 8, "style"=>"text-align:left; background-color: #A5A5A5; font-weight: bold; "}= Category.find_by_code(to[0].to_s).name
                -@i=1
              -elsif to[1].nil? && to[0].to_s.length == 6
                %tr
                  %th{"style"=>"text-align:left; background-color: #BFBFBF; font-weight: bold; "}
                  %th{"style"=>"text-align:left; background-color: #BFBFBF; font-weight: bold; "}= to[0]
                  %th{'colspan' => 8,"style"=>"text-align:left; background-color: #BFBFBF; font-weight: bold; "}= Category.find_by_code(to[0].to_s).name
                -@i=1
              -else
                %tr
                  %th{"style"=>"text-align:left; font-weight: normal; "}= @i
                  %th{:style=>"font-weight:normal;"}= to[7].to_s
                  %th{:style=>"font-weight:normal;"}= to[6].to_s+" "+to[0].to_s
                  %th{:style=>"text-align:right;font-weight:normal;"}= sprintf('%.2f',to[2])
                  %th{:style=>"text-align:right;font-weight:normal;"}= to[1]
                  %th{:style=>"text-align:right;font-weight:normal;"}= to[3]
                  %th{:style=>"text-align:right;font-weight:normal;"}= number_to_currency(to[4], unit: 'S/. ', precision: 2)
                -@i+=1
      - else
        %h4.modal-title No hay datos.
        %br
      %footer
        %a.btn.btn-sm.btn-success.btn-prev{ :href => "#{part_equipment_pdf_production_sc_valuations_path}.pdf?start_date=#{@start_date}&end_date=#{@end_date}&cad=#{@cad}&id=#{@id}", :target => '_blank', :style=>"float: right;"}
          Ver PDF
        %button.btn.btn-info{"data-dismiss" => "modal", type: "button"}
          Salir