.modal-dialog{"style"=>"width:1050px;"}
  .modal-content
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"}
        \×
      %h4.modal-title Valorización sin IGV
    .modal-body
      -if @workers_array2.count>0
        %h1.page-title.txt-color-blueDark Parte de Obra
        %table.table.table-bordered
          %thead
            %tr
              %th Codigo
              %th Partida
              %th Cantidad
              %th P.U.
              %th Parcial
              %th Total
              
          %tbody
          - @workers_array2.each do |workerDetail2|
            %tr
              %th= workerDetail2[2]
              %th= workerDetail2[1]
              %th= workerDetail2[3].round(2)
              %th= workerDetail2[4]
              %th= workerDetail2[5]
              %th
                -if !@subcontract.nil?
                  -@subcontract.subcontract_details.each do |sub|
                    -if sub.itembybudget.order==workerDetail2[2]
                      = workerDetail2[3].round(2)-sub.amount
                -else
                  =""
      - else
        %h4.modal-title No hay datos.
        %br
      %footer
        %a.btn.btn-sm.btn-success.btn-prev{ :href => "#{part_work_pdf_production_sc_valuations_path}.pdf?start_date=#{@start_date}&end_date=#{@end_date}&cad=#{@cad}&id=#{@id}", :target => '_blank', :style=>"float: right;"}
          Ver PDF
        %button.btn.btn-info{"data-dismiss" => "modal", type: "button"}
          Salir