-if @workers_array3.count>0
  %div
    Parte de Equipos
    .jarviswidget-editbox
    .widget-body
      %table.table.table-bordered
        %thead
          %tr
            %th Descripcion
            %th Cantidad
            %th Unidad
            %th P.U.
            %th Parcial
        %tbody
        - @workers_array3.each do |workerDetail3|
          %tr
            %th= workerDetail3[0]
            %th= workerDetail3[2]
            %th= workerDetail3[1]
            %th= workerDetail3[3]
            %th= workerDetail3[4]