.modal-dialog{:style=>"width:1000px;"}
  .modal-content
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"}
        \×
      %h4.modal-title Descuento de Equipos
    .modal-body
      -if @workers_array3.count>0
        %h1.page-title.txt-color-blueDark Parte de Equipos
        %table.table.table-bordered
          %thead
            %tr
              %th Código
              %th Descripcion
              %th Cantidad
              %th Unidad
              %th P.U.
              %th Parcial
          %tbody
          - @workers_array3.each do |workerDetail3|
            %tr
              %th{:style=>"font-weight:normal;"}= workerDetail3[7].to_s
              %th{:style=>"font-weight:normal;"}= workerDetail3[6].to_s+" "+workerDetail3[0].to_s
              %th{:style=>"text-align:right;font-weight:normal;"}= sprintf('%.2f',workerDetail3[2])
              %th{:style=>"text-align:right;font-weight:normal;"}= workerDetail3[1]
              %th{:style=>"text-align:right;font-weight:normal;"}= workerDetail3[3]
              %th{:style=>"text-align:right;font-weight:normal;"}= number_to_currency(workerDetail3[4], unit: 'S/. ', precision: 2)
      - else
        %h4.modal-title No hay datos.
        %br
      %footer
        %a.btn.btn-sm.btn-success.btn-prev{ :href => "#{part_equipment_pdf_production_sc_valuations_path}.pdf?start_date=#{@start_date}&end_date=#{@end_date}&cad=#{@cad}&id=#{@id}", :target => '_blank', :style=>"float: right;"}
          Ver PDF
        %button.btn.btn-info{"data-dismiss" => "modal", type: "button"}
          Salir