%br
  - case @scvaluation.state
    - when 'disapproved'
      %a.btn.btn-success.btn-xs#aprove{type: "button"}
        %i.fa.fa-check>
          Aprobar
%div
  .jarviswidget-editbox
  .widget-body
    %table.panel.panel-primary{ style: "height: 90px; width: 850px;margin: 0 auto" }
      %thead.panel-heading
        %tr
          %th{'colspan' => 4, "style"=>"text-align:center;font-size: large"}= @scvaluation.name + ' ' + @scvaluation.code
        %tr{"bgcolor"=>"#3276B1","style"=>"height:25px;"}
          %th{"style"=>"color:white;text-align:center"} Monto contratado
          %th{"style"=>"color:white;text-align:center"} Adelanto
          %th{"style"=>"color:white;text-align:center"} Amortización Acumulada
          %th{"style"=>"color:white;text-align:center"} Saldo
      %tbody{:style=>"font-size:100%;"}
        %th{"style"=>"color:#5f5f5f;text-align:center"}= sprintf('%.2f',@scvaluation.hired_amount.to_f)
        %th{"style"=>"color:#5f5f5f;text-align:center"}= sprintf('%.2f',@scvaluation.advances.to_f)
        %th{"style"=>"color:#5f5f5f;text-align:center"}= sprintf('%.2f',@scvaluation.accumulated_amortization.to_f)
        %th{"style"=>"color:#5f5f5f;text-align:center"}= sprintf('%.2f',@scvaluation.balance.to_f)
%br
%div
  .jarviswidget-editbox
  .widget-body
    %table.panel.panel-primary.table-bordered{ style: "height: 530px;width: 850px;margin: 0 auto" }
      %thead.panel-heading
        %tr{"bgcolor"=>"#3276B1",style: "height: 45px;"}
          %th{"style"=>"color:white;text-align:center"} Item
          %th{"style"=>"color:white;text-align:center"} Descripcion
          %th{ 'colspan' => 2, "style"=>"color:white;text-align:center"} Actual
          %th{"style"=>"color:white;text-align:center"} Acumulado Anterior
          %th{"style"=>"color:white;text-align:center"} Acumulado Actual
      %tbody
        %tr
          %th{"style"=>"color:#5f5f5f"} 1.00
          %th{"style"=>"color:#5f5f5f"} Valorización sin IGV
          %th{"style"=>"color:#5f5f5f;text-align:center"}
            %span{"style"=>"width=20px;text-align:center"}
              %a.btn.bg-color-blueDark{href: 'javascript:void(0);', :onclick => 'part_work();'}
                %i.fa.fa-list-alt.fa-md.fa-fw{"style"=>"color:white"}
          %th{"style"=>"color:#5f5f5f;text-align:center;vertical-align: middle"}=sprintf('%.2f',@scvaluation.valuation.to_f)
          %th{"style"=>"color:#5f5f5f;text-align:center;vertical-align: middle"}=sprintf('%.2f',@valorizacionsinigv.to_f)
          %th{"style"=>"color:#5f5f5f;text-align:center;vertical-align: middle"}=sprintf('%.2f',@scvaluation.accumulated_valuation.to_f)
        %tr
          %th{"style"=>"color:#5f5f5f"} 2.00
          %th{"style"=>"color:#5f5f5f"} 
            Amortización de Adelanto (SIN. I.G.V.)
          %th{"style"=>"color:#5f5f5f;text-align:center"}=sprintf('%.2f',@scvaluation.initial_amortization_percentage.to_f)
          %th{"style"=>"color:#5f5f5f;text-align:center"}=sprintf('%.2f',@scvaluation.initial_amortization_number.to_f)
          %th{"style"=>"color:#5f5f5f;text-align:center"}=sprintf('%.2f',@amortizaciondeadelanto.to_f)
          %th{"style"=>"color:#5f5f5f;text-align:center"}=sprintf('%.2f',@scvaluation.accumulated_initial_amortization_number.to_f)
        %tr
          %th{"style"=>"color:#5f5f5f"} 3.00
          %th{"style"=>"color:#5f5f5f"} Total a Facturar
          %th{ 'colspan' => 2, "style"=>"color:#5f5f5f;text-align:center"}= sprintf('%.2f',@scvaluation.bill.to_f)
          %th{"style"=>"color:#5f5f5f;text-align:center"}= sprintf('%.2f',@totalfacturar.to_f)
          %th{"style"=>"color:#5f5f5f;text-align:center"}= sprintf('%.2f',@scvaluation.accumulated_bill.to_f)
        %tr
          %th{"style"=>"color:#5f5f5f"} 4.00
          %th{"style"=>"color:#5f5f5f"} I.G.V. del Total a Facturar
          %th{ 'colspan' => 2, "style"=>"color:#5f5f5f;text-align:center"}= sprintf('%.2f',@scvaluation.billigv.to_f)
          %th{"style"=>"color:#5f5f5f;text-align:center"}= sprintf('%.2f',@totalfacigv.to_f)
          %th{"style"=>"color:#5f5f5f;text-align:center"}= sprintf('%.2f',@scvaluation.accumulated_billigv.to_f)
        %tr{"bgcolor"=>"#3276B1"}
          %th{"style"=>"color:white"}
          %th{"style"=>"color:white"} Total Incluido IGV
          %th{ 'colspan' => 2, "style"=>"color:white;text-align:center"}= sprintf('%.2f',@scvaluation.totalbill.to_f)
          %th{"style"=>"color:white;text-align:center"}= sprintf('%.2f',@totalincluidoigv.to_f)
          %th{"style"=>"color:white;text-align:center"}= sprintf('%.2f',@scvaluation.accumulated_totalbill.to_f)
        %tr{"bgcolor"=>"#ECF3F8"}
          %th{"style"=>"color:#5f5f5f"} 6.00
          %th{"style"=>"color:#5f5f5f"} Retenciones
          %th{ 'colspan' => 2, "style"=>"color:#5f5f5f;text-align:center"}=sprintf('%.2f',@scvaluation.retention.to_f)
          %th{"style"=>"color:#5f5f5f;text-align:center"}=sprintf('%.2f',@retenciones.to_f)
          %th{"style"=>"color:#5f5f5f;text-align:center"}=sprintf('%.2f',@scvaluation.accumulated_retention.to_f)
        %tr
          %th{"style"=>"color:#5f5f5f"} 6.01
          %th{"style"=>"color:#5f5f5f"} Detracción del Total (Incl. I.G.V.)
          %th{ 'colspan' => 2, "style"=>"color:#5f5f5f;text-align:center"}=sprintf('%.2f',@scvaluation.detraction.to_f.to_f)
          %th{"style"=>"color:#5f5f5f;text-align:center"}=sprintf('%.2f',@detraccion.to_f)
          %th{"style"=>"color:#5f5f5f;text-align:center"}=sprintf('%.2f',@scvaluation.accumulated_detraction.to_f)
        %tr
          %th{"style"=>"color:#5f5f5f"} 6.02
          %th{"style"=>"color:#5f5f5f"} Fondo de Garantía N°01
          %th{ 'colspan' => 2, "style"=>"color:#5f5f5f;text-align:center"}=sprintf('%.2f',@scvaluation.guarantee_fund1.to_f)
          %th{"style"=>"color:#5f5f5f;text-align:center"}=sprintf('%.2f',@fondogarantia1.to_f)
          %th{"style"=>"color:#5f5f5f;text-align:center"}=sprintf('%.2f',@scvaluation.accumulated_guarantee_fund1.to_f)
        %tr
          %th{"style"=>"color:#5f5f5f"} 6.03
          %th{"style"=>"color:#5f5f5f"} Fondo de Garantía N°02
          %th{"style"=>"color:#5f5f5f;text-align:center"}
            %span{"style"=>"width=20px;text-align:center"}
              %a.btn.bg-color-blueDark{href: 'javascript:void(0);', :onclick => 'part_people();'}
                %i.fa.fa-list-alt.fa-md.fa-fw{"style"=>"color:white"}      
          %th{"style"=>"color:#5f5f5f;text-align:center;vertical-align: middle"}= sprintf('%.2f',@scvaluation.guarantee_fund2.to_f)
          %th{"style"=>"color:#5f5f5f;text-align:center;vertical-align: middle"}= sprintf('%.2f',@fondogarantia2.to_f)
          %th{"style"=>"color:#5f5f5f;text-align:center;vertical-align: middle"}= sprintf('%.2f',@scvaluation.accumulated_guarantee_fund2.to_f)
        %tr
          %th{"style"=>"color:#5f5f5f"} 6.04
          %th{"style"=>"color:#5f5f5f"} Descuento de Equipos
          %th{"style"=>"color:#5f5f5f;text-align:center"}
            %span{"style"=>"width=20px;text-align:center"}
              %a.btn.bg-color-blueDark{href: 'javascript:void(0);', :onclick => 'part_equipment();'}
                %i.fa.fa-list-alt.fa-md.fa-fw{"style"=>"color:white"}
          %th{"style"=>"color:#5f5f5f;text-align:center;vertical-align: middle"}=sprintf('%.2f',@scvaluation.equipment_discount.to_f)
          %th{"style"=>"color:#5f5f5f;text-align:center;vertical-align: middle"}=sprintf('%.2f',@descuentoequipos.to_f)
          %th{"style"=>"color:#5f5f5f;text-align:center;vertical-align: middle"}=sprintf('%.2f',@scvaluation.accumulated_equipment_discount.to_f)
        %tr
          %th{"style"=>"color:#5f5f5f"} 6.05
          %th{"style"=>"color:#5f5f5f"} Descuento de Materiales
          %th{ 'colspan' => 2, "style"=>"color:#5f5f5f"}
          %th{"style"=>"color:#5f5f5f"}
          %th{"style"=>"color:#5f5f5f"}
        %tr
          %th{"style"=>"color:#5f5f5f"} 6.06
          %th{"style"=>"color:#5f5f5f"} Descuento de Otros (Incl. I.G.V.)
          %th{ 'colspan' => 2, "style"=>"color:#5f5f5f;text-align:center"}=sprintf('%.2f',@scvaluation.otherdiscount.to_f)
          %th{"style"=>"color:#5f5f5f;text-align:center"}=sprintf('%.2f',@otrosdescuentos.to_f)
          %th{"style"=>"color:#5f5f5f;text-align:center"}=sprintf('%.2f',@scvaluation.accumulated_otherdiscount.to_f)
        %tr{"bgcolor"=>"#3276B1"}
          %th{"style"=>"color:white"} 07
          %th{"style"=>"color:white"} NETO A PAGAR
          %th{ 'colspan' => 2, "style"=>"color:white;text-align:center"}=sprintf('%.2f',@scvaluation.net_payment.to_f)
          %th{"style"=>"color:white;text-align:center"}=sprintf('%.2f',@netoapagar)
          %th{"style"=>"color:white;text-align:center"}=sprintf('%.2f',@scvaluation.accumulated_net_payment.to_f)
  %br
  %br
  #part-work.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "partPeopleLabel", role: "dialog", tabindex: "-1"}
  %br
  #part-people.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "partPeopleLabel", role: "dialog", tabindex: "-1"}
  %br
  #part-equipment.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "partPeopleLabel", role: "dialog", tabindex: "-1"}

%br
%a.btn.btn-sm.btn-success.btn-prev{:href => "#{report_pdf_production_sc_valuations_path}.pdf?id=#{@id}", :target => '_blank', :style=>"float: right;margin-right:9%;"}
  Ver PDF
%button.btn.btn-sm.btn-primary.btn-prev#backlist{type: "button"}
  %i.fa.fa-arrow-left>
  Retornar al listado de Valorisaciones SC
:javascript

  $('#backlist').click(function(){
      load_url_ajax("#{production_sc_valuations_path}", 'content', {company_id: '#{@company}'}, null, 'GET');
  });
  $('#aprove').click(function(){
      load_url_ajax('#{approve_production_sc_valuation_path(@scvaluation.id)}', 'content', {company_id: '#{@company}', start_date: '#{@scvaluation.start_date}', end_date: '#{@scvaluation.end_date}'}, null, 'GET');
  });

  function part_work() {
    data = { authenticity_token: "#{form_authenticity_token}", start_date: "#{@scvaluation.start_date}", end_date: "#{@scvaluation.end_date}", cad: "#{@scvaluation.working_group}", id: "#{@scvaluation.id}" };
    load_url_ajax('#{part_work_production_sc_valuations_path}', 'part-work', data, '', 'POST');
    $('#part-work').modal({
      keyboard: false,
      backdrop: 'static'
    });
  }

  function part_people() {
    data = { authenticity_token: "#{form_authenticity_token}", start_date: "#{@scvaluation.start_date}", end_date: "#{@scvaluation.end_date}", cad: "#{@scvaluation.working_group}" };
    load_url_ajax('#{part_people_production_sc_valuations_path}', 'part-people', data, '', 'POST');
    $('#part-people').modal({
      keyboard: false,
      backdrop: 'static'
    });
  }

  function part_equipment() {
    data = { authenticity_token: "#{form_authenticity_token}", start_date: "#{@scvaluation.start_date}", end_date: "#{@scvaluation.end_date}", cad: "#{@scvaluation.working_group}" };
    load_url_ajax('#{part_equipment_production_sc_valuations_path}', 'part-equipment', data, '', 'POST');
    $('#part-equipment').modal({
      keyboard: false,
      backdrop: 'static'
    });
  }