#wid-id-0.jarviswidget.jarviswidget-color-blueDark{"data-widget-editbutton" => "false", "data-widget-deletebutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-table
    %h2
      Análisis de Producción

  %div
    - @poe_array.each do |workerDetail|
      - workerDetail['workers'].each do |worker|
        %h1.page-title.txt-color-blueDark= worker[0]
        .jarviswidget-editbox
        .widget-body
          %table.table.table-bordered
            %thead
              %tr
                %th #
                %th Nombre Tarea/Fase
                %th H.Efectivas
                %th Combustible (gln)
                %th Ratio real (gln/hr)
            %tbody
              - worker[1].each do |w|
                %tr
                  %th= w[1]
                  %th= w[2]
                  %th= w[3]
                  %th= w[4]
                  %th= w[5]
              %tr
                %th{'colspan' => 2} Total
                %th= workerDetail['hours']
                %th= workerDetail['fuel']
                %th= workerDetail['ratio']