#wid-id-0.jarviswidget.jarviswidget-color-blueDark{"data-widget-editbutton" => "false", "data-widget-deletebutton" => "false"}
  -if @select1 == 'specific'
    %div
      - index = 0
      - @poe_array.each do |poe|
        - poe[0].each do |data|
          %h1.page-title.txt-color-blueDark= data[0]
          .jarviswidget-editbox
          .widget-body
            %table.table.table-bordered
              %thead
                %tr
                  %th #
                  %th Nombre Tarea/Fase
                  %th H.Efectivas
                  %th Combustible (gln)
                  %th Ratio real (gln/hr)
                  %th Valor Teórico (gln/hr)
              %tbody
                - data[1].each do |value|
                  - value['data'].each do |data|
                    %tr
                      %th{ 'style' => 'font-weight: normal;' }
                        = data[0]
                      %th{ 'style' => 'font-weight: normal;' }
                        = data[1]
                      %th{ 'style' => 'font-weight: normal;' }
                        = data[2]
                      %th{ 'style' => 'font-weight: normal;' }
                        = data[3]
                      %th{ 'style' => 'font-weight: normal;' }
                        = data[4]
                      %th{ 'style' => 'font-weight: normal;' }
                        = data[5]
                  %tr
                    %th{'colspan' => 2} Total
                    %th
                      = value['hours']
                    %th
                      = value['fuel']
                    %th
                      = value['ratio']
                    %th
                      = @theoretical_value.to_f
          / Aqui esta el Gráfico!
          :javascript
            $(document).ready(function () {
              load_graphic('container-graphic-#{index}','#{@cad[0]}','#{@cad[1]}','#{@cad[2]}','#{@cad[3]}','#{@cad[4]}','#{@cad[5]}','#{@cad[6]}','#{@cad[7]}','#{@cad[8]}','#{@cad[9]}','#{@theoretical_value.to_f}','#{@cad4[9+index]}','#{@cad4[8+index]}','#{@cad4[7+index]}','#{@cad4[6+index]}','#{@cad4[5+index]}','#{@cad4[4+index]}','#{@cad4[3+index]}','#{@cad4[2+index]}','#{@cad4[1+index]}','#{@cad4[0+index]}');
            });
          %br
          .row
            %div{:id => "container-graphic-#{index}"}
          -index += 10
    %div
      %h1.page-title.txt-color-blueDark= "Resumen Parte de Equipos" + ' ' + @subcontract.code + ' ' + @subcontract.article.name
      .jarviswidget-editbox
      .widget-body
        %table.table.table-bordered
          %thead
            %tr
              %th #
              %th Nombre Tarea/Fase
              %th H.Efectivas
              %th Combustible (gln)
              %th Ratio real (gln/hr)
              %th Valor Teórico
          %tbody
            - @poe_array2.each do |workerDetail2|
              %tr
                %th{'style' => 'font-weight: normal;'}
                  = workerDetail2[0]
                %th{'style' => 'font-weight: normal;'}
                  = workerDetail2[1]
                %th{'style' => 'font-weight: normal;'}
                  = workerDetail2[2]
                %th{'style' => 'font-weight: normal;'}
                  = workerDetail2[3]
                %th{'style' => 'font-weight: normal;'}
                  = workerDetail2[4]
                %th{'style' => 'font-weight: normal;'}
                  = workerDetail2[5]

  -if @select1 == 'operador'
    %div
      - index = 0
      - @poe_array.each do |poe|
        - poe[0].each do |data|
          %h1.page-title.txt-color-blueDark= data[0]
          .jarviswidget-editbox
          .widget-body
            %table.table.table-bordered
              %thead
                %tr
                  %th #
                  %th Nombre Tarea/Fase
                  %th H.Efectivas
                  %th Combustible (gln)
                  %th Ratio real (gln/hr)
              %tbody
                - data[1].each do |value|
                  - value['data'].each do |data|
                    %tr
                      %th{ 'style' => 'font-weight: normal;' }
                        = data[0]
                      %th{ 'style' => 'font-weight: normal;' }
                        = data[1]
                      %th{ 'style' => 'font-weight: normal;' }
                        = data[2]
                      %th{ 'style' => 'font-weight: normal;' }
                        = data[3]
                      %th{ 'style' => 'font-weight: normal;' }
                        = data[4]
                  %tr
                    %th{'colspan' => 2} Total
                    %th
                      = value['hours']
                    %th
                      = value['fuel']
                    %th
                      = value['ratio']
          / Aqui esta el Gráfico!
          :javascript
            $(document).ready(function () {
              load_graphic('container-graphic-#{index}','#{@cad[0]}','#{@cad[1]}','#{@cad[2]}','#{@cad[3]}','#{@cad[4]}','#{@cad[5]}','#{@cad[6]}','#{@cad[7]}','#{@cad[8]}','#{@cad[9]}','#{@theoretical_value.to_f}','#{@cad4[9+index]}','#{@cad4[8+index]}','#{@cad4[7+index]}','#{@cad4[6+index]}','#{@cad4[5+index]}','#{@cad4[4+index]}','#{@cad4[3+index]}','#{@cad4[2+index]}','#{@cad4[1+index]}','#{@cad4[0+index]}');
            });
          %br
          .row
            %div{:id => "container-graphic-#{index}"}
          -index += 10
  
      %div
        %h1.page-title.txt-color-blueDark= "Resumen Parte de Equipos" + ' ' + @worker.entity.name.to_s + ' ' + @worker.entity.second_name.to_s + ' ' + @worker.entity.paternal_surname.to_s + ' ' + @worker.entity.maternal_surname.to_s
        .jarviswidget-editbox
        .widget-body
          %table.table.table-bordered
            %thead
              %tr
                %th #
                %th Nombre Tarea/Fase
                %th H.Efectivas
                %th Combustible (gln)
                %th Ratio real (gln/hr)
                %th Valor Teórico
            %tbody
              - @poe_array2.each do |workerDetail2|
                %tr
                  %th{'style' => 'font-weight: normal;'}
                    = workerDetail2[0]
                  %th{'style' => 'font-weight: normal;'}
                    = workerDetail2[1]
                  %th{'style' => 'font-weight: normal;'}
                    = workerDetail2[2]
                  %th{'style' => 'font-weight: normal;'}
                    = workerDetail2[3]
                  %th{'style' => 'font-weight: normal;'}
                    = workerDetail2[4]
                  %th 10
      / Aqui esta el Gráfico!
      %br
      .row
        #container-graphic

  -if @select1 == 'frente'
    %div
      - index = 0
      - @poe_array.each do |poe|
        - poe[0].each do |data|
          %h1.page-title.txt-color-blueDark= data[0]
          .jarviswidget-editbox
          .widget-body
            %table.table.table-bordered
              %thead
                %tr
                  %th #
                  %th Nombre Tarea/Fase
                  %th H.Efectivas
                  %th Combustible (gln)
                  %th Ratio real (gln/hr)
              %tbody
                - data[1].each do |value|
                  - value['data'].each do |data|
                    %tr
                      %th{ 'style' => 'font-weight: normal;' }
                        = data[0]
                      %th{ 'style' => 'font-weight: normal;' }
                        = data[1]
                      %th{ 'style' => 'font-weight: normal;' }
                        = data[2]
                      %th{ 'style' => 'font-weight: normal;' }
                        = data[3]
                      %th{ 'style' => 'font-weight: normal;' }
                        = data[4]
                  %tr
                    %th{'colspan' => 2} Total
                    %th
                      = value['hours']
                    %th
                      = value['fuel']
                    %th
                      = value['ratio']
          / Aqui esta el Gráfico!
          :javascript
            $(document).ready(function () {
              load_graphic('container-graphic-#{index}','#{@cad[0]}','#{@cad[1]}','#{@cad[2]}','#{@cad[3]}','#{@cad[4]}','#{@cad[5]}','#{@cad[6]}','#{@cad[7]}','#{@cad[8]}','#{@cad[9]}','#{@theoretical_value.to_f}','#{@cad4[9+index]}','#{@cad4[8+index]}','#{@cad4[7+index]}','#{@cad4[6+index]}','#{@cad4[5+index]}','#{@cad4[4+index]}','#{@cad4[3+index]}','#{@cad4[2+index]}','#{@cad4[1+index]}','#{@cad4[0+index]}');
            });
          %br
          .row
            %div{:id => "container-graphic-#{index}"}
          -index += 10
  
      %div
        %h1.page-title.txt-color-blueDark= "Resumen Parte de Equipos" + ' ' + @sector.name
        .jarviswidget-editbox
        .widget-body
          %table.table.table-bordered
            %thead
              %tr
                %th #
                %th Nombre Tarea/Fase
                %th H.Efectivas
                %th Combustible (gln)
                %th Ratio real (gln/hr)
                %th Valor Teórico
            %tbody
              - @poe_array2.each do |workerDetail2|
                %tr
                  %th{'style' => 'font-weight: normal;'}
                    = workerDetail2[0]
                  %th{'style' => 'font-weight: normal;'}
                    = workerDetail2[1]
                  %th{'style' => 'font-weight: normal;'}
                    = workerDetail2[2]
                  %th{'style' => 'font-weight: normal;'}
                    = workerDetail2[3]
                  %th{'style' => 'font-weight: normal;'}
                    = workerDetail2[4]
                  %th 10
      / Aqui esta el Gráfico!
      %br
      .row
        #container-graphic

  -if @select1 == 'equipment'
    %div
      - index = 0
      - @poe_array.each do |poe|
        - poe[0].each do |data|
          %h1.page-title.txt-color-blueDark= data[0]
          .jarviswidget-editbox
          .widget-body
            %table.table.table-bordered
              %thead
                %tr
                  %th #
                  %th Nombre Tarea/Fase
                  %th H.Efectivas
                  %th Combustible (gln)
                  %th Ratio real (gln/hr)
                  %th Valor Teórico (gln/hr)
              %tbody
                - data[1].each do |value|
                  - value['data'].each do |data|
                    %tr
                      %th{ 'style' => 'font-weight: normal;' }
                        = data[0]
                      %th{ 'style' => 'font-weight: normal;' }
                        = data[1]
                      %th{ 'style' => 'font-weight: normal;' }
                        = data[2]
                      %th{ 'style' => 'font-weight: normal;' }
                        = data[3]
                      %th{ 'style' => 'font-weight: normal;' }
                        = data[4]
                      %th{ 'style' => 'font-weight: normal;' }
                        = data[5]
                  %tr
                    %th{'colspan' => 2} Total
                    %th
                      = value['hours']
                    %th
                      = value['fuel']
                    %th
                      = value['ratio']
                    %th
                      = @theoretical_value.to_f
          / Aqui esta el Gráfico!
          :javascript
            $(document).ready(function () {
              load_graphic('container-graphic-#{index}','#{@cad[0]}','#{@cad[1]}','#{@cad[2]}','#{@cad[3]}','#{@cad[4]}','#{@cad[5]}','#{@cad[6]}','#{@cad[7]}','#{@cad[8]}','#{@cad[9]}','#{@theoretical_value.to_f}','#{@cad4[9+index]}','#{@cad4[8+index]}','#{@cad4[7+index]}','#{@cad4[6+index]}','#{@cad4[5+index]}','#{@cad4[4+index]}','#{@cad4[3+index]}','#{@cad4[2+index]}','#{@cad4[1+index]}','#{@cad4[0+index]}');
            });
          %br
          .row
            %div{:id => "container-graphic-#{index}"}
          -index += 10
  
      %div
        %h1.page-title.txt-color-blueDark= "Resumen Parte de Equipos" + ' ' + @article2.name.to_s
        .jarviswidget-editbox
        .widget-body
          %table.table.table-bordered
            %thead
              %tr
                %th #
                %th Nombre Tarea/Fase
                %th H.Efectivas
                %th Combustible (gln)
                %th Ratio real (gln/hr)
                %th Valor Teórico
            %tbody
              - @poe_array2.each do |workerDetail2|
                %tr
                  %th{'style' => 'font-weight: normal;'}
                    = workerDetail2[0]
                  %th{'style' => 'font-weight: normal;'}
                    = workerDetail2[1]
                  %th{'style' => 'font-weight: normal;'}
                    = workerDetail2[2]
                  %th{'style' => 'font-weight: normal;'}
                    = workerDetail2[3]
                  %th{'style' => 'font-weight: normal;'}
                    = workerDetail2[4]
                  %th{'style' => 'font-weight: normal;'}
                    = workerDetail2[5]