#wid-id-0.jarviswidget.jarviswidget-color-blueDark{"data-widget-editbutton" => "false", "data-widget-deletebutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-table
    %h2
      Análisis de Producción

  %div
    - @poe_array.each do |poe|
      - poe[0].each do |data|
        %h1.page-title.txt-color-blueDark= data[0]
        .jarviswidget-editbox
        .widget-body
          %table.table.table-bordered
            %thead
              %tr
                %th #
                %th Nombre Tarea/Fase
                %th H.Efectivas
                %th Combustible (gln)
                %th Ratio real (gln/hr)
            %tbody
              - data[1].each do |value|
                - value['data'].each do |data|
                  %tr
                    %th{ 'style' => 'font-weight: normal;' }
                      = data[0]
                    %th{ 'style' => 'font-weight: normal;' }
                      = data[1]
                    %th{ 'style' => 'font-weight: normal;' }
                      = data[2]
                    %th{ 'style' => 'font-weight: normal;' }
                      = data[3]
                    %th{ 'style' => 'font-weight: normal;' }
                      = data[4]
                %tr
                  %th{'colspan' => 2} Total
                  %th
                    = value['hours']
                  %th
                    = value['fuel']
                  %th
                    = value['ratio']

  %div
    %h1.page-title.txt-color-blueDark Resumen Parte de Equipos
    .jarviswidget-editbox
    .widget-body
      %table.table.table-bordered
        %thead
          %tr
            %th #
            %th Nombre Tarea/Fase
            %th H.Efectivas
            %th Combustible (gln)
            %th Ratio real (gln/hr)
        %tbody
          - @poe_array2.each do |workerDetail2|
            %tr
              %th{'style' => 'font-weight: normal;'}
                = workerDetail2[0]
              %th{'style' => 'font-weight: normal;'}
                = workerDetail2[1]
              %th{'style' => 'font-weight: normal;'}
                = workerDetail2[2]
              %th{'style' => 'font-weight: normal;'}
                = workerDetail2[3]
              %th{'style' => 'font-weight: normal;'}
                = workerDetail2[4]