#wid-id-0.jarviswidget.jarviswidget-color-blueDark{"data-widget-editbutton" => "false", "data-widget-deletebutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-table
    %h2
      Análisis de Producción

  %div
    Parte de Equipos por Trabajador
    .jarviswidget-editbox
    .widget-body
      %table.table.table-bordered
        %thead
          %tr
            %th #
            %th Nombre encargado
            %th Nombre Tarea/Fase
            %th H.Efectivas
            %th Combustible (gln)
            %th Ratio real (gln/hr)
        %tbody
          - @poe_array.each do |workerDetail|
            %tr
              %th= workerDetail[0]
              %th= workerDetail[1]
              %th= workerDetail[2]
              %th= workerDetail[3]
              %th= workerDetail[4]
              %th= workerDetail[5]
          %tr
            %th{'colspan' => 3} Total
            %th= @totaleffehours
            %th= @totalfuel
            %th= @totalratio

  %div
    Resumen Parte de Equipos
    .jarviswidget-editbox
    .widget-body
      %table.table.table-bordered
        %thead
          %tr
            %th #
            %th Nombre Tarea/Fase
            %th H.Efectivas
            %th Combustible (gln)
            %th Ratio real (gln/hr)
        %tbody
          - @poe_array2.each do |workerDetail2|
            %tr
              %th= workerDetail2[0]
              %th= workerDetail2[1]
              %th= workerDetail2[2]
              %th= workerDetail2[3]
              %th= workerDetail2[4]