#wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-eye
    %h2 Subcontrato
  .widget-body
    = simple_form_for([:production, @subcontract], html: {class: 'form-horizontal smart-form', autocomplete: 'off' }) do |f|
      %fieldset
        .row{ 'style' => 'display:none' }
          %input{ 'name' => 'company_id', 'value' => "#{@company}", 'readonly' => true, 'style' => 'display:none' }
          = f.input :type, input_html: { class: 'form-control', value: "#{@type}" }, label: false, readonly: true
        .row
          %section.col.col-4
            %label.label Ejecutor
            %label.input{for: "entity_id"}
              %select.form-control{:name =>"subcontract[entity_id]", :style => 'width:100%;padding: 0;border: none;'}
                - @suppliers.each do |supply|
                  %option{:value => "#{supply.id}"}
                    = supply.name

          %section.col.col-4
            %label.label Valorizaciones
            %label.input{for: "valorization"}
              %select.form-control{:name =>"subcontract[valorization]", :style => 'width:100%;padding: 0;border: none;'}
                %option{:value => "semanal"}
                  Semanales
                %option{:value => "quincenal"}
                  Quincenales
                %option{:value => "mensual"}
                  Mensuales

          %section.col.col-4
            %label.label Condiciones de Pago
            %label.input{for: "terms_of_payment"}
              %select.form-control{:name =>"subcontract[terms_of_payment]", :style => 'width:100%;padding: 0;border: none;'}
                %option{:value => "contado"}
                  Al Contado
                %option{:value => "quincenal"}
                  Crédito a 3 dias
                %option{:value => "mensual"}
                  Crédito a 5 dias
                %option{:value => "mensual"}
                  Crédito a 7 dias
                %option{:value => "quincenal"}
                  Crédito a 10 dias
                %option{:value => "mensual"}
                  Crédito a 15 dias
                %option{:value => "mensual"}
                  Crédito a 30 dias
                %option{:value => "quincenal"}
                  Crédito a 40 dias
                %option{:value => "mensual"}
                  Crédito a 50 dias
                %option{:value => "mensual"}
                  Crédito a 60 dias
        .row
          %section.col.col-4
            %label.label Amortización inicial (Numérico)
            .input-group
              = f.input :initial_amortization_number, placeholder: "Amortización numérico", input_html: { class: 'form-control' }, label: false
              %span.input-group-addon
                %span.onoffswitch
                  %input#number-amort.onoffswitch-checkbox{name: "number-amort", type: "checkbox", checked: true}/
                  %label.onoffswitch-label{ for: 'number-amort' }
                    .onoffswitch-inner{"data-swchoff-text" => "NO", "data-swchon-text" => "YES"}
                    .onoffswitch-switch

          %section.col.col-4
            %label.label Amortización inicial (Porcentaje)
            .input-group
              = f.input :initial_amortization_percent, placeholder: "Amortización porcentaje", input_html: { class: 'form-control' }, label: false, readonly: true
              %span.input-group-addon
                %span.onoffswitch
                  %input#percent-amort.onoffswitch-checkbox{name: "percent-amort", type: "checkbox"}/
                  %label.onoffswitch-label{ for: 'percent-amort' }
                    .onoffswitch-inner{"data-swchoff-text" => "NO", "data-swchon-text" => "YES"}
                    .onoffswitch-switch

          %section.col.col-4
            %label.label Fondo de Garantia
            %label.input{for: "guarantee_fund"}
              %i.icon-append.fa.fa-credit-card
              = f.input :guarantee_fund, placeholder: "Fondo de garantía", input_html: { class: 'form-control' }, label: false

        .row
          %section.col.col-4
            %label.label Detracción
            %label.input{for: "detraction"}
              = f.input :detraction, placeholder: "Detracción", input_html: { class: 'form-control' }, label: false
          %section.col.col-4
            %label.label Monto Contratado
            %label.input{for: "contract_amount"}
              = f.input :contract_amount, placeholder: "Monto contratado", input_html: { class: 'form-control' }, label: false
          %section.col.col-4
            %label.label I.G.V.
            %label.input{for: "igv"}
              = f.input :igv, placeholder: "I.G.V.", input_html: { class: 'form-control' }, label: false
            
      %fieldset
        %legend Insumos
        .row
          %section.col.col-2
            %label.control-label(for="article_id") Insumos

          %section.col.col-6
            %select#article-select.select2.form-control(name='article_id' style='width:100%;padding: 0;border: none;')
              - @articles.each do |article|
                %option(value = "#{article.id}-#{article.unit_of_measurement.id}")
                  = article.code + " - " + article.name + " - " + article.unit_of_measurement.symbol

          %section.col.col-1
            = text_field_tag 'amount', nil, class: 'form-control', id: 'article-amount', value: '1'

          %section.col.col-2
            %div
              %a(href="javascript:add_article_item();" id="btn-add-article" class="btn btn-success" role="button")
                Agregar Insumo

        .col-lg-12
          %table.has-tickbox(class="table table-condensed table-bordered table-striped table-hover dataTable" style="font-size: 12px;" id="summary-articles" aria-describedby="data-table_info")
            %thead
              %tr
                %th Insumo
                %th Unidad
                %th Cantidad
                %th Precio Unitario
                %th Parcial
                %th Descripción
                %th Eliminar
            %tbody(id="article_items_table")
              -if @action=="edit"
                - @subcontract.subcontract_details.each do |sub|
                  = hidden_field_tag 'subcontract[subcontract_details_attributes][' + @reg_n.to_s + '][id]', sub.id
                  = hidden_field_tag 'subcontract[subcontract_details_attributes][' + @reg_n.to_s + '][part_of_equipment_id]', @subcontract.id
                  %tr.part-equi_item{id: "tr" + @reg_n.to_s}
                    %td.article-id(style="display:none")
                      = sub.article_id
                    %td.col-md-2
                      = sub.article.name
                    %td
                      = sub.article.unit_of_measurement.name
                    %td.amount.col-md-1{:style => "width:5%"}
                      = text_field_tag 'subcontract[subcontract_details_attributes][' + @reg_n.to_s + '][amount]', sub.amount , class: "form-control quantity", id: 'subcontract-amount', onfocusout: "calculatePartialAmount(this);"
                    %td.unit-price.col-md-1
                      = text_field_tag 'subcontract[subcontract_details_attributes][' + @reg_n.to_s + '][unit_price]', sub.unit_price , class: "form-control quantity", id: 'subcontract-unit_price', onfocusout: "calculatePartialUnitPrice(this);"
                    %td.col-md-1.partial
                      = text_field_tag 'subcontract[subcontract_details_attributes][' + @reg_n.to_s + '][partial]', sub.partial , class: "form-control quantity", id: 'subcontract-partial', :readonly => true
                    %td
                      = text_area_tag 'subcontract[subcontract_details_attributes][' + @reg_n.to_s + '][description]', sub.description, class: "form-control description"
                    %td{:style => "width: 1%; text-align: center;"}
                      %a{href: "javascript:delete_item('"+@reg_n.to_s+"')"}(class="btn") X
                  - @reg_n+=1

      %fieldset
        %legend Adelantos
        .row
          %section.col.col-2
            %label.control-label(for="bank_id") Adelantos

          %section.col.col-3
            = text_field_tag 'advance', nil, class: 'form-control', id: 'advance', placeholder: 'Adelanto'

          %section.col.col-3
            %input#start-date-input.string.optional.form-control{'name'=>'date_of_issue', type: "date"}


          %section.col.col-2
            %div
              %a(href="javascript:add_advance_item();" id="btn-add-advance" class="btn btn-success" role="button")
                Agregar Adelanto

        .col-lg-12
          %table#summary-workers.table.table-striped.table-bordered.table-hover.has-tickbox.smart-form
            %thead
              %tr
                %th.col-2 Adelanto
                %th.col-5 Fecha
                %th Eliminar
            %tbody(id="advance_items_table")
              - if @action == 'edit'
                - @subcontract.subcontract_advances.each do |oos|
                  %tr
                    %td.col-5.advance
                      = text_field_tag 'subcontract[subcontract_advances_attributes][' + @reg_n.to_s + '][advance]', oos.advance, class: "form-control advance-item", onkeypress: "return isNumber(event);"
                    %td(style="display:none")
                      = hidden_field_tag 'subcontract[subcontract_advances_attributes][' + @reg_n.to_s + '][id]', oos.id
                    %td.delete-item
                      %label.checkbox
                        = check_box 'subcontract[subcontract_advances_attributes]', '[' + @reg_n.to_s + '][_destroy]'
                        %i
                    - @reg_n += 1         
              
      %footer
        %button.btn.btn-primary{type: "submit"}
          %i.fa.fa-save 
          Guardar

:javascript
  $(document).ready(function () {

    $('select').select2();
    if($('form[id^="edit_"]').length > 0) {
      submit_validate($('form[id^="edit_"]'));
    }else{
      submit_validate($('#new_subcontract'));
    }

    $('#number-amort').change(function(){
      if($(this).is(':checked')){
        $('#subcontract_initial_amortization_number').removeAttr('readonly');
        $('#subcontract_initial_amortization_percent').attr('readonly', 'readonly')
        $('#percent-amort').click();
      }else{
        $('#subcontract_initial_amortization_number').attr('readonly', 'readonly')
        $('#subcontract_initial_amortization_percent').removeAttr('readonly')
        $('#percent-amort').click();
      }
    });

    $('#percent-amort').change(function(){
      if($(this).is(':checked')){
        $('#subcontract_initial_amortization_percent').removeAttr('readonly');
        $('#subcontract_initial_amortization_number').attr('readonly', 'readonly')
        $('#number-amort').click();
      }else{
        $('#subcontract_initial_amortization_percent').attr('readonly', 'readonly')
        $('#subcontract_initial_amortization_number').removeAttr('readonly')
        $('#number-amort').click();
      }
    });

  });
  
  function submit_validate(form){
    $(form['selector']).ajaxForm({
      beforeSubmit: function() {
        $(form['selector']).validate({
          // Rules for form validation
          rules : {
            'subcontract[entity_id]' : {
              required : true
            },
            'subcontract[valorization]' : {
              required : true
            },
            'subcontract[terms_of_payment]' : {
              required : true
            },
            'subcontract[guarantee_fund]' : {
              required : true
            },
            'subcontract[detraction]' : {
              required : true
            },
            'subcontract[contract_amount]' : {
              required : true
            }
          },

          // Messages for form validation
          messages : {
            'subcontract[entity_id]' : {
              required : 'Por favor, ingresar el Ejecutor.'
            },
            'subcontract[valorization]' : {
              required : 'Por favor, ingresar la valorizacion.'
            },
            'subcontract[terms_of_payment]' : {
              required : 'Por favor, ingresar la condición de pago.'
            },
            'subcontract[guarantee_fund]' : {
              required : 'Por favor, ingresar el fondo de garantia.'
            },
            'subcontract[detraction]' : {
              required : 'Por favor, ingresar la detracción.'
            },
            'subcontract[contract_amount]' : {
              required : 'Por favor, ingresar el monto contratado.'
            }
          },

          // Do not change code below
          errorPlacement : function(error, element) {
            error.insertAfter(element.parent());
          }
        });
        // Remove all Help-inLine
        $(".help-inline").remove();
        // Client Valid
        return $(form['selector']).valid();
      },
      target: '#content',
      success: function (data){
        $(".help-inline").parent().addClass("state-error");
      },
      error: function(xhr, status, error) {
      }
    });
  }

  function add_article_item(){
    str_item = {authenticity_token: "#{form_authenticity_token}", article_id: $("#article-select").val(), amount: $("#article-amount").val()};
    append_url_ajax('#{add_more_article_production_subcontracts_path}', 'article_items_table', str_item, 0, 'POST');
  }

  function add_advance_item(){
    str_item = {authenticity_token: "#{form_authenticity_token}", article_id: $("#article-select").val(), amount: $("#article-amount").val()};
    append_url_ajax('#{add_more_article_production_subcontracts_path}', 'article_items_table', str_item, 0, 'POST');
  }

  function calculatePartialAmount(element){
    var unitprice = parseFloat($(element).parent().siblings('.unit-price').find('input').val());
    var amount = parseInt($(element).val());

    var price_without_igv = parseFloat(unitprice * amount).toFixed(2);

    $(element).parent().siblings('.partial').find('input').val(price_without_igv);
  }

  function calculatePartialUnitPrice(element){
    var amount = parseFloat($(element).parent().siblings('.amount').find('input').val());
    var unitprice = parseInt($(element).val());

    var price_without_igv = parseFloat(unitprice * amount).toFixed(2);

    $(element).parent().siblings('.partial').find('input').val(price_without_igv);
  }

  function delete_item(code){
    $("#tr" + code).remove();
  }