%tr(class="subcontract_item"){id: "tr" + @reg_n.to_s}
  %td.article-id(style="display:none")
    = hidden_field_tag 'subcontract[subcontract_details_attributes][' + @reg_n.to_s + '][article_id]', @id_article.to_i
  %td.phase
    %select.form-control{:name =>"subcontract[subcontract_details_attributes][#{@reg_n.to_s}][phase_id]"}
      %option{:value => "0", :selected => true, :disabled => true} Seleccionar Fase
      - @phases.each do |phase|
        %option{:value => "#{phase.id}"}
          = phase.name
  %td.col-md-2
    = @name_article
  %td
    = @unitOfMeasurement
  %td.amount.col-md-1{:style => "width:5%"}
    %div
      = text_field_tag 'subcontract[subcontract_details_attributes][' + @reg_n.to_s + '][amount]', nil , class: "form-control quantity", onfocusout: "calculatePartialAmount(this);", :required => true, title:'No puede dejar este campo vacio'
  %td.unit-price.col-md-1
    %div
      = text_field_tag 'subcontract[subcontract_details_attributes][' + @reg_n.to_s + '][unit_price]', nil , class: "form-control quantity", onfocusout: "calculatePartialUnitPrice(this);", :required => true, title:'No puede dejar este campo vacio'
  %td.col-md-1.partial
    = text_field_tag 'subcontract[subcontract_details_attributes][' + @reg_n.to_s + '][partial]', nil , class: "form-control quantity", id: 'subcontract-partial', :readonly => true
  %td
    = text_area_tag 'subcontract[subcontract_details_attributes][' + @reg_n.to_s + '][description]', nil,class: "form-control description"
  %td{:style => "width: 1%; text-align: center;"}
    %a{href: "javascript:delete_item('"+@reg_n.to_s+"')"}(class="btn") X