%tr(class="subcontract_item"){id: "tr" + @reg_n.to_s}
  %td.itembybudget-id(style="display:none")
    = hidden_field_tag 'subcontract[subcontract_details_attributes][' + @reg_n.to_s + '][itembybudget_id]', @id_itembybudget.to_i
  %td.itembybudget
    = @code_itembybudget.to_s + ' - ' + @name_itembybudget.to_s 
  %td{:class => "article-selected"}
    %input.select2.bigdrop.select2-offscreen.form-control{'name' => 'subcontract[subcontract_details_attributes][' + @reg_n.to_s + '][article_id]', 'type' => 'hidden', 'style' => 'width:100%;padding: 0;border: none;', 'id' => "article-selected-#{@reg_n.to_s}"}
  %td.amount.col-md-1{:style => "width:5%"}
    %div
      = text_field_tag 'subcontract[subcontract_details_attributes][' + @reg_n.to_s + '][amount]', nil , class: "form-control quantity", onfocusout: "calculatePartialAmount(this);", :required => true, title:'No puede dejar este campo vacio'
  %td.unit-price.col-md-1
    %div
      = text_field_tag 'subcontract[subcontract_details_attributes][' + @reg_n.to_s + '][unit_price]', nil , class: "form-control quantity", onfocusout: "calculatePartialUnitPrice(this);", :required => true, title:'No puede dejar este campo vacio'
  %td.col-md-1.partial
    = text_field_tag 'subcontract[subcontract_details_attributes][' + @reg_n.to_s + '][partial]', nil , class: "form-control quantity", id: 'subcontract-partial', :readonly => true
  %td
    = text_area_tag 'subcontract[subcontract_details_attributes][' + @reg_n.to_s + '][description]', nil,class: "form-control description"
  %td{:style => "width: 1%; text-align: center;"}
    %a{href: "javascript:delete_item('"+@reg_n.to_s+"')"}(class="btn") X

:javascript
  $("#article-selected-#{@reg_n.to_s}").select2({
    placeholder: "Buscar Insumos...",
    minimumInputLength: 3,
    ajax: {
      url: "#{display_articles_production_subcontracts_path}",
      dataType: 'json',
      type: 'POST',
      quietMillis: 100,
      data: function(term, page){
        return {
          q: term,
          page: page,
          authenticity_token: "#{form_authenticity_token}"
        };
      },
      results: function(data, page){
        return {results: data.articles};
      }
    },
    formatResult: function(node){ return '<div>' + node.code + ' - ' + node.name + ' - ' + node.symbol + '</div>' },
    formatSelection: function(node){ return (node.code + ' - ' + node.name + ' - ' + node.symbol) },
    escapeMarkup: function (m) { return m; }
  });
