%tr(class="order_service_item"){id: "tr-" + @reg_n.to_s}
  %td.article-id{ :style => "display:none"}
    = hidden_field_tag 'order_of_service[order_of_service_details_attributes][' + @reg_n.to_s + '][article_id]', @id_article.to_i
  %td.measurement-id{ :style => "display:none"}
    = hidden_field_tag 'order_of_service[order_of_service_details_attributes][' + @reg_n.to_s + '][unit_of_measurement_id]', @unitOfMeasurementId.to_i
  %td.discount-igv{ :style => "display:none"}
    = hidden_field_tag 'order_of_service[order_of_service_details_attributes][' + @reg_n.to_s + '][quantity_igv]', nil, class: "form-control discount-igv"
  %td
    = @code_article
  %td
    = @name_article
  %td
    = @unitOfMeasurement
  %td.col-md-1.amount{:style => "width:5%"}
    %div
      = text_field_tag 'order_of_service[order_of_service_details_attributes][' + @reg_n.to_s + '][amount]', @amount.to_i , class: "form-control quantity", onfocusout: "calculatePriceWithourIgvAmount(this);", :required => true, title:'No puede dejar este campo vacio'
  %td
    %div
      %select.form-control{:name =>"order_of_service[order_of_service_details_attributes][#{@reg_n.to_s}][sector_id]", :required => true, title:'No puede dejar este campo vacio'}
        %option{:selected => true, :disabled => true} Seleccionar Sector
        - @sectors.each do |sector|
          %optgroup{:label => "#{sector.name}"}
            - Sector.getSubSectors(sector.code).each do |subsector|
              %option{:value => "#{subsector.id}"}
                = subsector.name
  %td
    %div
      %select.form-control{:name =>"order_of_service[order_of_service_details_attributes][#{@reg_n.to_s}][phase_id]", :required => true, title:'No puede dejar este campo vacio'}
        %option{:value => "0",:selected => true, :disabled => true} Seleccionar Fase
        - @phases.each do |phase|
          %option{:value => "#{phase.id}"}
            = phase.code.to_s + ' ' + phase.name
  %td.working_group
    %select.form-control{:name =>"order_of_service[order_of_service_details_attributes][#{@reg_n.to_s}][phase_id]", :required => true, title:'No puede dejar este campo vacio'}
      %option{:value => "0",:selected => true, :disabled => true} Seleccionar Fase
      - @working_groups.each do |working_group|
        %option{:value => "#{working_group.id}"}
          = working_group.name.to_s
  %td.unit-price
    %div
      = text_field_tag 'order_of_service[order_of_service_details_attributes][' + @reg_n.to_s + '][unit_price]', nil, class: "form-control unit-price", onfocusout: "calculatePriceWithourIgv(this);", onkeypress: "return isNumber(event);", :required => true, title:'No puede dejar este campo vacio'
  %td.discount-before
    = text_field_tag 'order_of_service[order_of_service_details_attributes][' + @reg_n.to_s + '][discount_before]', nil, class: "form-control discount-before", :readonly => true
    %div{id: @reg_n.to_s+"b",:style => "display:none"}
  %td.price-without-igv
    = text_field_tag 'order_of_service[order_of_service_details_attributes][' + @reg_n.to_s + '][unit_price_before_igv]', nil, class: "form-control unit-price-before-igv", :readonly => true
  %td.check-igv
    %label.checkbox
      = check_box_tag 'order_of_service[order_of_service_details_attributes][' + @reg_n.to_s + '][igv]', nil, nil, { class: 'order_purchase_igv', onchange: "enableFieldsForIgv(this);" }
      %i
  %td.discount-after
    = text_field_tag 'order_of_service[order_of_service_details_attributes][' + @reg_n.to_s + '][discount_after]', nil, class: "form-control discount-after", :readonly => true
    %div{id: @reg_n.to_s+"a",:style => "display:none"}
  %td.price-with-igv
    = text_field_tag 'order_of_service[order_of_service_details_attributes][' + @reg_n.to_s + '][unit_price_igv]', nil , class: "form-control unit-price-igv", :readonly => true
  //%td(class="order_delivery_equipos")
  %td.aditional-operations{:style => 'text-align: center'}
    %a.btn.btn-info.btn-xs{'data-toggle' => 'modal', 'href' => "#", 'data-target' => "#modal-service-#{@id_article.to_s}-#{@amount.to_i.to_s}", 'onclick' => "set_id_modeling(this, #{@reg_n.to_s})"}
      %strong
        %i.fa.fa-superscript
  %td
    = text_area_tag 'order_of_service[order_of_service_details_attributes][' + @reg_n.to_s + '][description]', nil,class: "form-control description"
  %td{:style => "width: 1%;"}
    %a{href: "javascript:delete_item('"+@reg_n.to_s+"')"}(class="btn") X