- @orderOfServices.each do |orderService|
  %tr
    %td 
      = orderService.id.to_s.rjust(5, '0')
    - case orderService.state
      - when 'pre_issued'
        %td.label-status
          %i.fa.fa-flag{:style => "visibility: hidden;"}
          %span.label{:style => "color: #000;"}
            = translate_order_service_state(orderService.state)
      - when 'issued'
        %td.label-status
          %i.fa.fa-flag{:style => "color: #FF7A00;"}
          %span.label.label-warning{:style => "background-color: #FF7A00;"}
            = translate_order_service_state(orderService.state)
      - when 'revised'
        %td.label-status
          %i.fa.fa-flag{:style => "color: #c79121;"}
          %span.label.label-warning
            = translate_order_service_state(orderService.state)
      - when 'canceled'
        %td.label-status
          %i.fa.fa-flag{:style => "color: #a90329;"}
          %span.label.label-danger
            = translate_order_service_state(orderService.state)
      - when 'approved'
        %td.label-status
          %i.fa.fa-flag{:style => "color: #25CA25;"}
          %span.label.label-success{:style => "background-color: #25CA25;"}
            = translate_order_service_state(orderService.state)
    %td
      - if orderService.description != ''
        = truncate(orderService.description, :length => 60, :omission => '...')
      - else
        No tiene descripción alguna.
    %td
      = orderService.entity.name + ' ' + orderService.entity.paternal_surname
    %td
      - if orderService.state_per_order_of_services.last != nil
        = orderService.state_per_order_of_services.last.created_at.strftime("%d/%m/%Y")
      - else
        = orderService.created_at.strftime("%d/%m/%Y")
    %td
      = orderService.date_of_issue.strftime("%d/%m/%Y")
    %td
      = orderService.user.first_name + " " + orderService.user.last_name
    %td
      %a.btn.btn-view.btn-xs{:onclick => "javascript:load_url_ajax('#{logistics_order_of_service_path(orderService.id)}', 'content', {company_id: '#{@company}'}, null, 'GET')", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Ver Detalle"}
        %i.fa.fa-eye

      - case orderService.state
        - when 'pre_issued'

          %a.btn.btn-warning.btn-xs{:onclick => "javascript:load_url_ajax('#{edit_logistics_order_of_service_path(orderService.id)}', 'content', {company_id: '#{@company}'}, null, 'GET')", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Editar"}
            %i.fa.fa-edit

          %a.btn.btn-info.btn-xs{:onclick => "javascript:load_url_ajax('#{logistics_order_of_service_path(orderService.id)}', 'content', {company_id: '#{@company}', state_change: '#{get_next_state(orderService.state)}'}, null, 'GET')", "data-original-title" => "Avanzar el estado", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Avanzar el estado"}
            %i.fa.fa-flag

          - if current_user.has_role? :canceller
            %a.btn.btn-danger.btn-xs{:onclick => "javascript:delete_to_url('#{delete_logistics_order_of_service_path(orderService.id)}?authenticity_token=#{form_authenticity_token}', 'content', '#{logistics_order_of_services_path}?company_id=#{@company}')", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Eliminar Orden"}
              %i.fa.fa-trash-o

        - when 'issued'

          %a.btn.btn-success.btn-xs{:onclick => "javascript:load_url_ajax('#{logistics_order_of_service_path(orderService.id)}', 'content', {company_id: '#{@company}', state_change: '#{get_prev_state(orderService.state)}'}, null, 'GET')", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Retroceder el estado"}
            %i.fa.fa-mail-reply

          %a.btn.btn-info.btn-xs{:onclick => "javascript:load_url_ajax('#{logistics_order_of_service_path(orderService.id)}', 'content', {company_id: '#{@company}', state_change: '#{get_next_state(orderService.state)}'}, null, 'GET')", "data-original-title" => "Avanzar el estado", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Avanzar el estado"}
            %i.fa.fa-flag

          %a.btn.btn-pdf.btn-xs{:target => "_blank", :href => "#{order_service_pdf_logistics_order_of_service_path(orderService.id)}.pdf?company_id=#{@company}", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Ver PDF"}
            %i.fa.fa-file

          - if current_user.has_role? :canceller
            %a.btn.btn-danger.btn-xs{:onclick => "javascript:load_url_ajax('#{logistics_order_of_service_path(orderService.id)}', 'content', {company_id: '#{@company}', state_change: 'canceled'}, null, 'GET')", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Anular"}
              %i.fa.fa-times

        - when 'revised'

          %a.btn.btn-success.btn-xs{:onclick => "javascript:load_url_ajax('#{logistics_order_of_service_path(orderService.id)}', 'content', {company_id: '#{@company}', state_change: '#{get_prev_state(orderService.state)}'}, null, 'GET')", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Retroceder el estado"}
            %i.fa.fa-mail-reply

          %a.btn.btn-info.btn-xs{:onclick => "javascript:load_url_ajax('#{logistics_order_of_service_path(orderService.id)}', 'content', {company_id: '#{@company}', state_change: '#{get_next_state(orderService.state)}'}, null, 'GET')", "data-original-title" => "Avanzar el estado", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Avanzar el estado"}
            %i.fa.fa-flag

          %a.btn.btn-pdf.btn-xs{:target => "_blank", :href => "#{order_service_pdf_logistics_order_of_service_path(orderService.id)}.pdf?company_id=#{@company}", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Ver PDF"}
            %i.fa.fa-file

          - if current_user.has_role? :canceller
            %a.btn.btn-danger.btn-xs{:onclick => "javascript:load_url_ajax('#{logistics_order_of_service_path(orderService.id)}', 'content', {company_id: '#{@company}', state_change: 'canceled'}, null, 'GET')", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Anular"}
              %i.fa.fa-times

        - when 'canceled'

          %a.btn.btn-pdf.btn-xs{:target => "_blank", :href => "#{order_service_pdf_logistics_order_of_service_path(orderService.id)}.pdf?company_id=#{@company}", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Ver PDF"}
            %i.fa.fa-file

        - when 'approved'

          %a.btn.btn-success.btn-xs{:onclick => "javascript:load_url_ajax('#{logistics_order_of_service_path(orderService.id)}', 'content', {company_id: '#{@company}', state_change: '#{get_prev_state(orderService.state)}'}, null, 'GET')", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Retroceder el estado"}
            %i.fa.fa-mail-reply

          %a.btn.btn-info.btn-xs{:onclick => "javascript:load_url_ajax('#{logistics_order_of_service_path(orderService.id)}', 'content', {company_id: '#{@company}', state_change: '#{get_next_state(orderService.state)}'}, null, 'GET')", "data-original-title" => "Avanzar el estado", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Avanzar el estado"}
            %i.fa.fa-flag

          %a.btn.btn-pdf.btn-xs{:target => "_blank", :href => "#{order_service_pdf_logistics_order_of_service_path(orderService.id)}.pdf?company_id=#{@company}", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Ver PDF"}
            %i.fa.fa-file

          - if current_user.has_role? :canceller
            %a.btn.btn-danger.btn-xs{:onclick => "javascript:load_url_ajax('#{logistics_order_of_service_path(orderService.id)}', 'content', {company_id: '#{@company}', state_change: 'canceled'}, null, 'GET')", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Anular"}
              %i.fa.fa-times