#content-inside
  .row
    .col-xs-12.col-sm-7.col-md-7.col-lg-12
      %h1.page-title.txt-color-blueDark
        %i.fa.fa-pencil-square-o.fa-eye
        = "Orden de Servicio " + @orderOfService.id.to_s.rjust(5, '0')
        %strong= "C.C " + @orderOfService.cost_center.name
  %section#widget-grid
    .row
      %article.col-sm-12.col-md-12.col-lg-8
        #wid-id-0.jarviswidget.jarviswidget-color-greenDark{"data-widget-collapsed" => "false", "data-widget-deletebutton" => "false", "data-widget-editbutton" => "false"}
          %header
            %span.widget-icon
              %i.fa.fa-table
            %h2 
            = 'Orden de Compra N° ' + @orderOfService.id.to_s.rjust(5, '0')
          %div
            .jarviswidget-editbox
              / This area used as dropdown edit box
            .widget-body.no-padding
              %table.table.table-hover
                %thead
                  %tr
                    %th Código
                    %th Estado
                    %th Proveedor
                    %th Moneda
                    %th Forma de pago
                    %th Fecha de Emisión
                    %th Fecha de Servicio
                    %th Responsable
                    %th Descripcion
                %tbody(id="service_items_table")
                  %tr
                    %td
                      = @orderOfService.id.to_s.rjust(5, '0')
                    %td
                      = translate_order_service_state(@orderOfService.state)
                    %td
                      - if @orderOfService.entity.present?
                        = @orderOfService.entity.name + ' ' + @orderOfService.entity.paternal_surname
                    %td
                      = @orderOfService.money.name
                    %td
                      = @orderOfService.method_of_payment.name
                    %td
                      = @orderOfService.date_of_issue.strftime("%d/%m/%Y")
                    %td
                      = @orderOfService.date_of_service.strftime("%d/%m/%Y") rescue Time.now.strftime("%d/%m/%Y")
                    %td
                      = @orderOfService.user.first_name.to_s + ' ' + @orderOfService.user.last_name.to_s
                    %td
                      = @orderOfService.description
      - if @state_change != nil
        %h1.page-title.txt-color-blueDark
          %i.fa.fa-pencil-square-o.fa-fw 
          Cambiar estado de la Orden
        %article.col-sm-12.col-md-12.col-lg-4
          - case @state_change
            - when 'issued'

              - if current_user.has_role? :issuer
                %a.btn.btn-info.btn-lg{:onclick => "javascript:load_url_ajax('#{goissue_logistics_order_of_service_path(@orderOfService.id)}', 'content', {company_id: '#{@company}', authenticity_token: '#{form_authenticity_token}'})"}
                  Emitir
              - else
                %p.alert.alert-danger
                  %i.fa.fa-times.fa-fw.fa-lg
                  %strong Opps!
                  No tienes los privilegios para Emitir.

            - when 'observed'

              - if current_user.has_role? :issuer
                %a.btn.btn-info.btn-lg{:onclick => "javascript:load_url_ajax('#{goobserve_logistics_order_of_service_path(@orderOfService.id)}', 'content', {company_id: '#{@company}', authenticity_token: '#{form_authenticity_token}'})"}
                  Observar
              - else
                %p.alert.alert-danger
                  %i.fa.fa-times.fa-fw.fa-lg
                  %strong Opps!
                  No tienes los privilegios para hacer una Observación.

            - when 'revised'

              - if current_user.has_role? :reviser
                %a.btn.btn-info.btn-lg{:onclick => "javascript:load_url_ajax('#{gorevise_logistics_order_of_service_path(@orderOfService.id)}', 'content', {company_id: '#{@company}', authenticity_token: '#{form_authenticity_token}'})"}
                  Dar visto bueno
              - else
                %p.alert.alert-danger
                  %i.fa.fa-times.fa-fw.fa-lg
                  %strong Opps!
                  No tienes los privilegios para Dar el Visto Bueno.

            - when 'canceled'
              - if current_user.has_role? :canceller
                %a.btn.btn-danger.btn-lg{:onclick => "javascript:delete_to_url('#{logistics_order_of_service_path(@orderOfService.id)}' + '?authenticity_token=#{form_authenticity_token}', 'content', '#{logistics_order_of_services_path}?company_id=#{@company}')"}
                  Anular
              - else
                %p.alert.alert-danger
                  %i.fa.fa-times.fa-fw.fa-lg
                  %strong Opps!
                  No tienes los privilegios para Anular.
            - when 'approved'
              - if current_user.has_role? :approver
                %a.btn.btn-primary.btn-lg{:onclick => "javascript:load_url_ajax('#{goapprove_logistics_order_of_service_path(@orderOfService.id)}', 'content', {company_id: '#{@company}', authenticity_token: '#{form_authenticity_token}'})"}
                  Aprobar
              - else
                %p.alert.alert-danger
                  %i.fa.fa-times.fa-fw.fa-lg
                  %strong Opps!
                  No tienes los privilegios para Aprobar.
            - when ''
              %p.alert.alert-danger
                %i.fa.fa-times.fa-fw.fa-lg
                %strong Opps!
                Ya no puedes cambiar de estado.
      - else
        %article.col-sm-12.col-md-12.col-lg-4
          #wid-id-3.jarviswidget.jarviswidget-color-greenDark{"data-widget-collapsed" => "false", "data-widget-deletebutton" => "false", "data-widget-editbutton" => "false"}
            %header
              %span.widget-icon
                %i.fa.fa-table
              %h2 
              = 'Historial de Estado de la Orden de Servicio N° ' + @orderOfService.id.to_s.rjust(5, '0')
            %div
              .jarviswidget-editbox
                / This area used as dropdown edit box
              .widget-body.no-padding
                %table.table.table-hover
                  %thead
                    %tr
                      %th Estado
                      %th Fecha
                      %th Quien fue
                  %tbody
                    - @orderOfServicePerState.each do |serviceState|
                      %tr
                        %td
                          = translate_order_service_state(serviceState.state)
                        %td
                          = serviceState.created_at.strftime("%d/%m/%Y")
                        %td
                          = serviceState.user.first_name + " " + serviceState.user.last_name
      %article.col-sm-12.col-md-12.col-lg-12
        #wid-id-2.jarviswidget.jarviswidget-color-greenDark{"data-widget-collapsed" => "false", "data-widget-deletebutton" => "false", "data-widget-editbutton" => "false"}
          %header
            %span.widget-icon
              %i.fa.fa-table
            %h2 Detalle de la Orden de Servicio
          %div
            .jarviswidget-editbox
              / This area used as dropdown edit box
            .widget-body.no-padding
              %table.table.table-hover
                %thead
                  %tr
                    %th Codigo
                    %th Insumo
                    %th Cantidad
                    %th Unidad de Medida
                    %th Precio Unitario
                    %th Total antes de IGV
                    %th Total después de IGV
                    %th Glosa
                %tbody(id="service_detail_items_table")
                  - @orderOfServiceDetails.each do |orderServiceDetail|
                    %tr
                      %td
                        - if orderServiceDetail.article.present?
                          = orderServiceDetail.article.code
                      %td
                        - if orderServiceDetail.article.present?
                          = orderServiceDetail.article.name
                      %td
                        = orderServiceDetail.amount
                      %td
                        - if orderServiceDetail.unit_of_measurement != nil
                          = orderServiceDetail.unit_of_measurement.symbol
                        - else
                          = "No tiene Unidad de Medida"
                      %td
                        = number_to_currency(orderServiceDetail.unit_price.to_f, unit: "#{@orderOfService.money.symbol}", precision: 2)
                      %td
                        = number_to_currency((orderServiceDetail.amount.to_i * orderServiceDetail.unit_price.to_f).to_f, unit: "#{@orderOfService.money.symbol}", precision: 2)
                      %td
                        = number_to_currency(orderServiceDetail.unit_price_igv.to_f, unit: "#{@orderOfService.money.symbol}", precision: 2)
                      %td
                        = orderServiceDetail.description

- if @type_of_order.nil?
  %button.btn.btn-sm.btn-primary.btn-prev#backlist-service-order{type: "button"}
    %i.fa.fa-arrow-left>
    Retornar al listado de Ordenes de Servicio

:javascript
  
  $('#backlist-service-order').click(function(){
    load_url_ajax("#{logistics_order_of_services_path}", 'content', {company_id: "#{@company}"}, null, 'GET');
  });