#content
  .row
    .col-xs-12.col-sm-7.col-md-7.col-lg-4
      %h1.page-title.txt-color-blueDark
        %i.fa.fa-pencil-square-o.fa-fw 
        Variación del Plazo Contractual
  #widget-grid
    .row
      %article.col-sm-12.col-md-12.col-lg-12
        .container-fluid
          .row-fluid
            .span8
              %table#t_extensions(class="white-table table-bordered table table-condensed" style="width: 100%;")
                %thead
                  %th
                    Fecha de Inicio
                  %th
                    Plazo Contractual
                  %th
                    Total Plazo Actualizado
                  %th
                    Fecha de Término Contractual
                  %th
                    Fecha de Término Actualizada
                %tbody
                  %tr
                    %td
                      = l @cost_center_detail.start_date_of_work, format: :medium  #@project.date_min
                    %td 
                      = @cost_center_detail.execution_term.to_f #(@project.date_max - @project.date_min).to_i rescue ' '
                      días
                    %td
                      = @cost_center_detail.execution_term + @aditional_term #(@project.date_max - @project.date_min + @extensionscontrol.sum(:approved_deadline).to_i).to_i rescue ' '
                      días
                    %td
                      = l @cost_center_detail.start_date_of_work + @cost_center_detail.execution_term, format: :medium #@project.date_max
                      
                    %td
                      = l @cost_center_detail.start_date_of_work + @cost_center_detail.execution_term + @aditional_term, format: :medium #@project.date_max + (@extensionscontrol.sum(:approved_deadline).to_i).days rescue ' '

        %a(class="btn btn-danger"){:href => "javascript:load_url_ondiv('#{new_management_extensionscontrol_path}', 'right-area')"}
          Registrar Ampliación

        %br
        %br

        %table(class="white-table table-bordered table table-condensed" style="width: 100%;")
          %thead
            %th
              ID
            %th
              Motivo
            %th
              Estado
            %th
              Plazo Solicitado
            %th
              Plazo Aprobado
            %th
              M.G.G Solicitado
            %th
              M.G.G Aprobado
            %th
              Resolución
            %th
              Observación
            %th
              Ver Archivo
            %th
              Acciones
          %tbody
            - @extensionscontrol.each do |ext|
              %tr
                %td
                  = ext.id
                %td
                  = ext.motive
                %td
                  = t ext.status
                %td
                  = ext.requested_deadline
                %td
                  = ext.approved_deadline
                %td
                  = ext.requested_mgg
                %td
                  = ext.approved_mgg
                %td
                  = ext.resolution
                %td
                  = ext.observation
                %td
                  = image_tag ext.files.url
                %td
                  %a(href="javascript:post_to_url('#{approve_management_extensionscontrols_path}?extension_id=#{ext.id}','new_extensionscontrol', 'right-area')" class="btn btn-success")
                    Aprobar
                  %a(href="javascript:post_to_url('#{disprove_management_extensionscontrols_path}?extension_id=#{ext.id}','new_extensionscontrol', 'right-area')" class="btn btn-warning")
                    Desaprobar