.jarviswidget.jarviswidget-color-darken{"data-widget-editbutton" => "false", "data-widget-deletebutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-table
    %h2 Lista de Items pendientes en Atender de Ordenes Aprobadas
  %div
    .jarviswidget-editbox
    .widget-body.no-padding
      .widget-body-toolbar
      %table#items-pending-requested.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th Código de la O.S
            %th Código del Artículo
            %th Nombre del Artículo
            %th Unidad de Medida
            %th Cantidad
            %th Por Atender
            %th Sector
            %th Fase
            %th Centro de Atención
            %th Fecha Programada
        %tbody{ :id => "body-items-pending-requested" }
          - @deliveryOrders.each do |delivery|
            - delivery.delivery_order_details.where("requested IS NULL").each do |dod|
              - resto = 0
              - if PurchaseOrder.get_total_amount_items_requested_by_purchase_order(dod.id).first != nil
                -resto = dod.amount.to_i - PurchaseOrder.get_total_amount_items_requested_by_purchase_order(dod.id).first.at(0).to_i
              - else
                -resto = dod.amount.to_i 
              -if resto != 0           
                %tr
                  %td.col-md-1
                    = delivery.id.to_s.rjust(5, '0')
                  %td.col-md-1
                    = dod.article.code
                  %td.col-md-1
                    = dod.article.name
                  %td.col-md-1
                    = dod.unit_of_measurement.symbol
                  %td.col-md-1
                    = dod.amount.to_i
                  %td.col-md-1
                    %code
                      = resto.to_i
                  %td.sector.col-md-1.order_delivery_sector
                    = dod.sector.name
                  %td.order_delivery_phase
                    = dod.phase.name
                  %td.order_delivery_centro_atencion
                    = dod.center_of_attention.name
                  %td.order_delivery_fecha_programada.col-md-2
                    = dod.scheduled_date