%tr(class="familiar_item"){id: "tr" + @reg_n.to_s}
  %td.col-md-1.paternal_surname{:style => "width:5%"}
    %div
      = text_field_tag 'worker[worker_familiars_attributes][' + @reg_n.to_s + '][paternal_surname]', @paternal_surname.to_s , class: "form-control quantity", :required => true, title:'No puede dejar este campo vacio'
  %td.col-md-1.maternal_surname{:style => "width:5%"}
    %div
      = text_field_tag 'worker[worker_familiars_attributes][' + @reg_n.to_s + '][maternal_surname]', @maternal_surname.to_s , class: "form-control quantity", :required => true, title:'No puede dejar este campo vacio'
  %td.col-md-1.names{:style => "width:5%"}
    %div
      = text_field_tag 'worker[worker_familiars_attributes][' + @reg_n.to_s + '][names]', @names.to_s , class: "form-control quantity", :required => true, title:'No puede dejar este campo vacio'
  %td.col-md-1.relationship{:style => "width:5%"}
    %div
      = text_field_tag 'worker[worker_familiars_attributes][' + @reg_n.to_s + '][relationship]', @relationship.to_s , class: "form-control quantity", :required => true, title:'No puede dejar este campo vacio'
  %td.col-md-1.dayofbirth{:style => "width:5%"}
    %div
      %input#familiar-dayofbirth.string.optional.form-control{'name'=>'worker[worker_familiars_attributes][' + @reg_n.to_s + '][dayofbirth]', type: "date", value: @dayofbirth.to_s}
  %td.col-md-1.dni{:style => "width:5%"}
    %div
      = text_field_tag 'worker[worker_familiars_attributes][' + @reg_n.to_s + '][dni]', @dni.to_s , class: "form-control quantity", :required => true, title:'No puede dejar este campo vacio'
  %td{:style => "width: 1%;"}
    %a{href: "javascript:delete_item('"+@reg_n.to_s+"')"}(class="btn") X