#wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-eye
    %h2 Trabajadores
  .widget-body
    = simple_form_for([:production, @worker], html: {class: 'form-horizontal smart-form', autocomplete: 'off' }) do |f|
      %fieldset
        .row{ 'style' => 'display:none' }
          %input{ 'name' => 'company_id', 'value' => "#{@company_id}", 'readonly' => true, 'style' => 'display:none' }
        .row
          %section.col.col-6
            %label.label Categoria del Trabajador
            %label.input{for: "article_id"}
              %select.form-control{:name =>"worker[article_id]", :style => 'width:100%;padding: 0;border: none;'}
                - @articles.each do |article|
                  - if @worker.article_id == article.id
                    %option{:value => "#{article.id}", :selected => true}
                      = article.name
                  - else
                    %option{:value => "#{article.id}"}
                      = article.name
          %section.col.col-6
            %label.label Cargo del Trabajador
            %label.input{for: "category_of_worker_id"}
              %select.form-control{:name =>"worker[position_worker_id]", :style => 'width:100%;padding: 0;border: none;'}
                - @positionWorkers.each do |positionWorker|
                  - if @worker.position_worker_id == positionWorker.id
                    %option{:value => "#{positionWorker.id}", :selected => true}
                      = positionWorker.name
                  - else
                    %option{:value => "#{positionWorker.id}"}
                      = positionWorker.name
        .row
          %section.col.col-6
            %label.label Primer Nombre
            %label.input{for: "first_name"}
              %i.icon-append.fa.fa-user
              = f.input :first_name, placeholder: "Primer Nombre", input_html: { class: 'form-control' }, label: false
          %section.col.col-6
            %label.label Segundo Nombre
            %label.input{for: "second_name"}
              %i.icon-append.fa.fa-user
              = f.input :second_name, placeholder: "Segundo Nombre", input_html: { class: 'form-control' }, label: false
        .row
          %section.col.col-6
            %label.label Apellido Paterno
            %label.input{for: "paternal_surname"}
              %i.icon-append.fa.fa-user
              = f.input :paternal_surname, placeholder: "Apellido Paterno", input_html: { class: 'form-control' }, label: false
          %section.col.col-6
            %label.label Apellido Materno
            %label.input{for: "maternal_surname"}
              %i.icon-append.fa.fa-user
              = f.input :maternal_surname, placeholder: "Apellido Materno", input_html: { class: 'form-control' }, label: false
        .row
          %section.col.col-4
            %label.label DNI
            %label.input{for: "dni"}
              %i.icon-append.fa.fa-credit-card
              = f.input :dni, placeholder: "DNI", input_html: { class: 'form-control' }, label: false
          %section.col.col-4
            %label.label Email
            %label.input{for: "email"}
              %i.icon-append.fa.fa-credit-card
              = f.input :email, placeholder: "Email", input_html: { class: 'form-control' }, label: false
          %section.col.col-4
            %label.label Teléfono
            %label.input{for: "phone"}
              = f.input :phone, input_html: { class: 'form-control' }, label: false
        .row
          %section.col.col-10
            %label.label Fecha de Nacimiento
            %label.input{for: "date_of_birth"}
              = f.input :date_of_birth, as: :string, input_html: { class: 'form-control', :type => "date"}, label: false
        .row
          %section.col.col-10
            %label.label Dirección
            %label.input{for: "address"}
              = f.input :address, input_html: { class: 'form-control' }, label: false

      %fieldset
        %legend Bancos
        .row
          %section.col.col-2
            %label.control-label(for="bank_id") Bancos

          %section.col.col-3
            %select#bank-select.select2.form-control(style='width:100%;padding: 0;border: none;') 
              - @banks.each do |bank|
                %option(value = "#{bank.id}")
                  = bank.business_name

          %section.col.col-3
            = text_field_tag 'account_number', nil, class: 'form-control', id: 'bank-account_number', placeholder: 'Numero de Cuenta'


          %section.col.col-2
            %div
              %a(href="javascript:add_bank_item();" id="btn-add-bank" class="btn btn-success" role="button")
                Agregar Banco

        .col-lg-12
          %table#summary-workers.table.table-striped.table-bordered.table-hover.has-tickbox.smart-form
            %thead
              %tr
                %th.col-2 Nombre
                %th.col-5 Numero de Cuenta
                %th Eliminar
            %tbody(id="bank_items_table")
              - if @action == 'edit'
                - puts @worker.worker_details
                - @worker.worker_details.each do |oos|
                  %tr
                    %td.bank-id(style="display:none")
                      = hidden_field_tag 'worker[worker_details_attributes][' + @reg_n.to_s + '][bank_id]', oos.bank.id
                    %td.col-2=oos.bank.business_name
                    %td.col-5.account_number
                      = text_field_tag 'worker[worker_details_attributes][' + @reg_n.to_s + '][account_number]', oos.account_number, class: "form-control account_number-item", onkeypress: "return isNumber(event);"
                    %td(style="display:none")
                      = hidden_field_tag 'worker[worker_details_attributes][' + @reg_n.to_s + '][id]', oos.id
                    %td(style="display:none")
                      = hidden_field_tag 'worker[worker_details_attributes][' + @reg_n.to_s + '][worker_id]', @worker.id
                    %td.delete-item
                      %label.checkbox
                        = check_box 'worker[worker_details_attributes]', '[' + @reg_n.to_s + '][_destroy]'
                        %i
                    - @reg_n += 1
      %footer
        %button.btn.btn-primary{type: "submit"}
          %i.fa.fa-save 
          Guardar

:javascript
  $(document).ready(function () {
    $('select').select2();

    if($('form[id^="edit_"]').length > 0) {
      submit_validate($('form[id^="edit_"]'));
    }else{
      submit_validate($('#new_worker'));
    }

  });
  
  function submit_validate(form){    
    loadScript("#{ asset_path 'plugin/select2/select2.min.js', type: :javascript }");
    $('#bank-select').select2();
    $(form['selector']).ajaxForm({
      beforeSubmit: function() {
        $(form['selector']).validate({
          // Rules for form validation
          rules : {
            'worker[category_of_worker_id]' : {
              required : true,
            },
            'worker[first_name]' : {
              required : true,
            },
            'worker[second_name]' : {
              required : true,
            },
            'worker[paternal_surname]' : {
              required : true,
            },
            'worker[maternal_surname]' : {
              required : true,
            },
            'worker[dni]' : {
              required : true,
              digits: true,
              maxlength: 8,
              minlength: 8
            },
            'worker[email]' : {
              required : true,
            },
            'worker[phone]' : {
              required : true,
            },
            'worker[date_of_birth]' : {
              required : true,
            }
          },

          // Messages for form validation
          messages : {
            'worker[category_of_worker_id]' : {
              required : 'Por favor, ingresar la categoria del trabajador.'
            },
            'worker[first_name]' : {
              required : 'Por favor, ingresar el primer nombre.'
            },
            'worker[second_name]' : {
              required : 'Por favor, ingresar el segundo nombre.'
            },
            'worker[paternal_surname]' : {
              required : 'Por favor, ingresar el apellido Paterno.'
            },
            'worker[maternal_surname]' : {
              required : 'Por favor, ingresar el apellido Materno.'
            },
            'worker[dni]' : {
              required : 'Por favor, ingresar el DNI.',
              digits: 'Por favor, ingresar un DNI válido',
              maxlength: 'Por favor, ingresar un DNI válido',
              minlength: 'Por favor, ingresar un DNI válido'
            },
            'worker[email]' : {
              required : 'Por favor, ingresar el email.',
              email: 'Ingresar email valido.'
            },
            'worker[phone]' : {
              required : 'Por favor, ingresar el teléfono.'
            },
            'worker[date_of_birth]' : {
              required : 'Por favor, ingresar la fecha de nacimiento.'
            }
          },

          // Do not change code below
          errorPlacement : function(error, element) {
            error.insertAfter(element.parent());
          }
        });
        // Remove all Help-inLine
        $(".help-inline").remove();
        // Client Valid
        return $(form['selector']).valid();
      },
      target: '#content',
      success: function (data){
        $(".help-inline").parent().addClass("state-error");
      },
      error: function(xhr, status, error) {
      }
    });
  }

  function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 46) {
        return false;
    }
    return true;
  }

  function add_bank_item(){
    var bank_id = $("#bank-select").val();
    str_item = {authenticity_token: "#{form_authenticity_token}", bank_id: $("#bank-select").val(), account_number: $("#bank-account_number").val()};

    append_url_ajax('#{add_worker_item_field_production_workers_path}', 'bank_items_table', str_item, 0, 'POST');
  }

  function delete_item(code){
    $("#tr" + code).remove();
  }