#wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-eye
    %h2 Trabajadores
  .widget-body
    = simple_form_for([:production, @worker], html: {class: 'form-horizontal smart-form', autocomplete: 'off' }) do |f|
      %fieldset
        %legend{style: "font-weight: 600;"} DATOS LABORALES
        .row
          .section.col.col-md-2
            %label.control-label Tipo de Trabajador
          .section.col.col-md-8
            .form-group
              .col-md-12
                -if @action == 'edit'
                  -if @worker.typeofworker=="empleado"
                    %label.radio-inline
                      %input.radiobox{:name =>'worker[typeofworker]', :type => 'radio', :value => "empleado", checked: ""}
                      %span Empleado
                    %label.radio-inline
                      %input.radiobox{:name =>'worker[typeofworker]', :type => 'radio', :value => "obrero"}
                      %span Obrero
                    %label.radio-inline
                      %input.radiobox{:name =>'worker[typeofworker]', :type => 'radio', :value => "pensionista"}
                      %span Pensionista
                    %label.radio-inline
                      %input.radiobox{:name =>'worker[typeofworker]', :type => 'radio', :value => "formacion"}
                      %span Personal en Formación
                    %label.radio-inline
                      %input.radiobox{:name =>'worker[typeofworker]', :type => 'radio', :value => "externo"}
                      %span Externo
                  -elsif @worker.typeofworker=="obrero"
                    %label.radio-inline
                      %input.radiobox{:name =>'worker[typeofworker]', :type => 'radio', :value => "empleado"}
                      %span Empleado
                    %label.radio-inline
                      %input.radiobox{:name =>'worker[typeofworker]', :type => 'radio', :value => "obrero", checked: ""}
                      %span Obrero
                    %label.radio-inline
                      %input.radiobox{:name =>'worker[typeofworker]', :type => 'radio', :value => "pensionista"}
                      %span Pensionista
                    %label.radio-inline
                      %input.radiobox{:name =>'worker[typeofworker]', :type => 'radio', :value => "formacion"}
                      %span Personal en Formación
                    %label.radio-inline
                      %input.radiobox{:name =>'worker[typeofworker]', :type => 'radio', :value => "externo"}
                      %span Externo
                  -elsif @worker.typeofworker=="pensionista"
                    %label.radio-inline
                      %input.radiobox{:name =>'worker[typeofworker]', :type => 'radio', :value => "empleado"}
                      %span Empleado
                    %label.radio-inline
                      %input.radiobox{:name =>'worker[typeofworker]', :type => 'radio', :value => "obrero", checked: ""}
                      %span Obrero
                    %label.radio-inline
                      %input.radiobox{:name =>'worker[typeofworker]', :type => 'radio', :value => "pensionista", checked: ""}
                      %span Pensionista
                    %label.radio-inline
                      %input.radiobox{:name =>'worker[typeofworker]', :type => 'radio', :value => "formacion"}
                      %span Personal en Formación
                    %label.radio-inline
                      %input.radiobox{:name =>'worker[typeofworker]', :type => 'radio', :value => "externo"}
                      %span Externo
                  -elsif @worker.typeofworker=="formacion"
                    %label.radio-inline
                      %input.radiobox{:name =>'worker[typeofworker]', :type => 'radio', :value => "empleado"}
                      %span Empleado
                    %label.radio-inline
                      %input.radiobox{:name =>'worker[typeofworker]', :type => 'radio', :value => "obrero", checked: ""}
                      %span Obrero
                    %label.radio-inline
                      %input.radiobox{:name =>'worker[typeofworker]', :type => 'radio', :value => "pensionista"}
                      %span Pensionista
                    %label.radio-inline
                      %input.radiobox{:name =>'worker[typeofworker]', :type => 'radio', :value => "formacion", checked: ""}
                      %span Personal en Formación
                    %label.radio-inline
                      %input.radiobox{:name =>'worker[typeofworker]', :type => 'radio', :value => "externo"}
                      %span Externo
                  -elsif @worker.typeofworker=="externo"
                    %label.radio-inline
                      %input.radiobox{:name =>'worker[typeofworker]', :type => 'radio', :value => "empleado"}
                      %span Empleado
                    %label.radio-inline
                      %input.radiobox{:name =>'worker[typeofworker]', :type => 'radio', :value => "obrero"}
                      %span Obrero
                    %label.radio-inline
                      %input.radiobox{:name =>'worker[typeofworker]', :type => 'radio', :value => "pensionista"}
                      %span Pensionista
                    %label.radio-inline
                      %input.radiobox{:name =>'worker[typeofworker]', :type => 'radio', :value => "formacion"}
                      %span Personal en Formación
                    %label.radio-inline
                      %input.radiobox{:name =>'worker[typeofworker]', :type => 'radio', :value => "externo",checked: ""}
                      %span Externo
                -else
                  %label.radio-inline
                    %input.radiobox{:name =>'worker[typeofworker]', :type => 'radio', :value => "empleado"}
                    %span Empleado
                  %label.radio-inline
                    %input.radiobox{:name =>'worker[typeofworker]', :type => 'radio', :value => "obrero"}
                    %span Obrero
                  %label.radio-inline
                    %input.radiobox{:name =>'worker[typeofworker]', :type => 'radio', :value => "pensionista"}
                    %span Pensionista
                  %label.radio-inline
                    %input.radiobox{:name =>'worker[typeofworker]', :type => 'radio', :value => "formacion"}
                    %span Personal en Formación
                  %label.radio-inline
                    %input.radiobox{:name =>'worker[typeofworker]', :type => 'radio', :value => "externo"}
                    %span Externo
        %br
        .row{ 'style' => 'display:none' }
          %input{ 'name' => 'company_id', 'value' => "#{@company_id}", 'readonly' => true, 'style' => 'display:none' }
          %input{ 'name' => 'worker[entity_id]', 'value' => "#{@entity.id}", 'readonly' => true, 'style' => 'display:none' }
        .row
          %section.col.col-8
            %label.label Entidad Trabajador
            %label.input{for: "entity_id"}
              = text_field_tag 'worker[paternal_surname]', @entity.paternal_surname.to_s + ' ' + @entity.maternal_surname.to_s + ', ' + @entity.name.to_s + ' ' + @entity.second_name.to_s, class: 'form-control', placeholder: 'Apellido Paterno', disabled: "disabled", style: "background-color: gainsboro; text-transform: uppercase;", :onchange => "makeUppercase(this);"
          %section.col.col-4#categoria{ 'style' => 'display:none' }
            %label.label Categoría del Obrero
            %label.input{for: "category_of_worker_id"}
              %select.form-control{:name =>"worker[position_worker_id]", :style => 'width:100%;padding: 0;border: none;'}
                - @positionWorkers.each do |positionWorker|
                  -if @action=="edit"
                    - if @worker.position_worker_id == positionWorker.id
                      %option{:value => "#{positionWorker.id}", :selected => true}
                        = positionWorker.name
                    - else
                      %option{:value => "#{positionWorker.id}"}
                        = positionWorker.name

                  -else
                    %option{:value => "#{positionWorker.id}", :selected => positionWorker.name=="Empleado"}
                      = positionWorker.name

        .row
          %section.col.col-4
            %label Fecha de Nacimiento
            %input#familiar-dayofbirth.string.optional.form-control{'name'=>'date_of_birth', type: "date", :value => "#{@entity.date_of_birth}", disabled: "disabled", style: "background-color: gainsboro; text-transform: uppercase;"}
          %section.col.col-4
            %label.label DNI
            %label.input{for: "dni"}
              = text_field_tag 'worker[dni]', @entity.dni, class: 'form-control', placeholder: 'Apellido Paterno', disabled: "disabled", style: "background-color: gainsboro; text-transform: uppercase;"
          %section.col.col-4
            %label.label Nacionalidad
            %label.input{for: "alienslicense"}
              = text_field_tag 'worker[alienslicense]', @entity.alienslicense, class: 'form-control', placeholder: 'Nacionalidad', disabled: "disabled", style: "background-color: gainsboro; text-transform: uppercase;", :onchange => "makeUppercase(this);"
        %label.label Lugar de Nacimiento
        .row
          %section.col.col-4
            %label.label Ciudad
            %label.input{for: "city"}
              = text_field_tag 'worker[city]', @entity.city, class: 'form-control', placeholder: 'Ciudad', disabled: "disabled", style: "background-color: gainsboro; text-transform: uppercase;", :onchange => "makeUppercase(this);"
          %section.col.col-4
            %label.label Provincia
            %label.input{for: "province"}
              = text_field_tag 'worker[province]', @entity.province, class: 'form-control', placeholder: 'Provincia', disabled: "disabled", style: "background-color: gainsboro; text-transform: uppercase;", :onchange => "makeUppercase(this);"
          %section.col.col-4
            %label.label Departamento
            %label.input{for: "department"}
              = text_field_tag 'worker[department]', @entity.department, class: 'form-control', placeholder: 'Departamento', disabled: "disabled", style: "background-color: gainsboro; text-transform: uppercase;", :onchange => "makeUppercase(this);"
        .row#row1{ 'style' => 'display:none' }
          %section.col.col-4
            %label.label Email
            %label.input{for: "email"}
              %i.icon-append.fa.fa-credit-card
              = f.input :email, placeholder: "Email", input_html: { class: 'form-control', :onchange => "makeUppercase(this);" }, label: false, style: "background-color: gainsboro; text-transform: uppercase;"
          %section.col.col-4
            %label.label Teléfono
            %label.input{for: "phone"}
              = f.input :phone, input_html: { class: 'form-control' }, label: false, style: "background-color: gainsboro; text-transform: uppercase;"
          %section.col.col-4
            %label.label Celular
            %label.input{for: "cellphone"}
              = f.input :cellphone, input_html: { class: 'form-control' }, label: false
        %label.label#label1{ 'style' => 'display:none' } Residencia Actual
        .row#row2{ 'style' => 'display:none' }
          %section.col.col-8
            %label.label Dirección
            %label.input{for: "address"}
              = f.input :address, placeholder: "Dirección", input_html: { class: 'form-control', style: 'text-transform: uppercase;', :onchange => "makeUppercase(this);" }, label: false
          %section.col.col-4
            %label.label País
            %label.input{for: "pais"}
              = f.input :pais, input_html: { class: 'form-control', style: 'text-transform: uppercase;', :onchange => "makeUppercase(this);" }, label: false
        .row#row3{ 'style' => 'display:none' }
          %section.col.col-4
            %label.label Distrito
            %label.input{for: "district"}
              = f.input :district, placeholder: "Distrito", input_html: { class: 'form-control', style: 'text-transform: uppercase;', :onchange => "makeUppercase(this);" }, label: false
          %section.col.col-4
            %label.label Provincia
            %label.input{for: "province"}
              = f.input :province, input_html: { class: 'form-control', style: 'text-transform: uppercase;', :onchange => "makeUppercase(this);" }, label: false
          %section.col.col-4
            %label.label Departamento
            %label.input{for: "department"}
              = f.input :department, input_html: { class: 'form-control', style: 'text-transform: uppercase;', :onchange => "makeUppercase(this);" }, label: false
        .row#row4{ 'style' => 'display:none' }
          %section.col.col-4
            %label.label Licencia de Conducir
            %label.input{for: "driverlicense"}
              %i.icon-append.fa.fa-credit-card
              = f.input :driverlicense, placeholder: "Licencia de Conducir", input_html: { class: 'form-control', style: 'text-transform: uppercase;' , :onchange => "makeUppercase(this);"}, label: false
          %section.col.col-4
            %label.control-label Estado Civil
            %br
            .input-group
              %select.col-sm-6.form-control#maritalstatus{:name =>"worker[maritalstatus]", :required => true, title:'No puede dejar este campo vacio', 'style' => 'width:200px', class: 'maritalstatus' }
                -if @action == 'edit'
                  %option{:value => "0"} Seleccione un estado
                  %option{:value => "soltero", :selected => "#{@worker.maritalstatus}"=="soltero"} Soltero
                  %option{:value => "casado", :selected => "#{@worker.maritalstatus}"=="casado"} Casado
                  %option{:value => "divorciado", :selected => "#{@worker.maritalstatus}"=="divorciado"} Divorciado
                  %option{:value => "viudo", :selected => "#{@worker.maritalstatus}"=="viudo"} Viudo
                  %option{:value => "conviviente", :selected => "#{@worker.maritalstatus}"=="conviviente"} Conviviente
                -else
                  %option{:value => "0", :selected => 'selected'} Seleccione un estado
                  %option{:value => "soltero"} Soltero
                  %option{:value => "casado"} Casado
                  %option{:value => "divorciado"} Divorciado
                  %option{:value => "viudo"} Viudo
                  %option{:value => "conviviente"} Conviviente
        .row#row7{ 'style' => 'display:none' }
          %section.col.col-12
            %label.label JORNADA LABORAL
            .col.col-12.inline-group
              = f.association :type_workdays, :as => :check_boxes, :label => false
        %br
        .row#row6{ 'style' => 'display:none' }
          %section.col-md-12
            .col-md-1
            .col-md-4
              %label.label ¿Discapacitado?
            .col-md-1
            .col-md-4
              %label.label ¿Sindicalizado?
          %section.col-md-12
            .col-md-1
            -if @action == 'edit'
              -if @worker.disabled=="si"
                .col-md-2
                  %label.radio-inline
                    %input{:name =>'worker[disabled]', :type => 'radio', :value => "si", checked: ""}
                    %span Si
                .col-md-2
                  %label.radio-inline
                    %input{:name =>'worker[disabled]', :type => 'radio', :value => "no"}
                    %span No
              -elsif @worker.disabled=="no"
                .col-md-2
                  %label.radio-inline
                    %input{:name =>'worker[disabled]', :type => 'radio', :value => "si"}
                    %span Si
                .col-md-2
                  %label.radio-inline
                    %input{:name =>'worker[disabled]', :type => 'radio', :value => "no", checked: ""}
                    %span No
              -else
                .col-md-2
                  %label.radio-inline
                    %input{:name =>'worker[disabled]', :type => 'radio', :value => "si"}
                    %span Si
                .col-md-2
                  %label.radio-inline
                    %input{:name =>'worker[disabled]', :type => 'radio', :value => "no"}
                    %span No
            -else
              .col-md-2
                %label.radio-inline
                  %input{:name =>'worker[disabled]', :type => 'radio', :value => "si"}
                  %span Si
              .col-md-2
                %label.radio-inline
                  %input{:name =>'worker[disabled]', :type => 'radio', :value => "no"}
                  %span No
            .col-md-1
            -if @action == 'edit'
              -if @worker.unionized=="si"
                .col-md-2
                  %label.radio-inline
                    %input{:name =>'worker[unionized]', :type => 'radio', :value => "si", checked: ""}
                    %span Si
                .col-md-2
                  %label.radio-inline
                    %input{:name =>'worker[unionized]', :type => 'radio', :value => "no"}
                    %span No
              -elsif @worker.unionized=="no"
                .col-md-2
                  %label.radio-inline
                    %input{:name =>'worker[unionized]', :type => 'radio', :value => "si"}
                    %span Si
                .col-md-2
                  %label.radio-inline
                    %input{:name =>'worker[unionized]', :type => 'radio', :value => "no", checked: ""}
                    %span No
              -else
                .col-md-2
                  %label.radio-inline
                    %input{:name =>'worker[unionized]', :type => 'radio', :value => "si"}
                    %span Si
                .col-md-2
                  %label.radio-inline
                    %input{:name =>'worker[unionized]', :type => 'radio', :value => "no"}
                    %span No
            -else
              .col-md-2
                %label.radio-inline
                  %input{:name =>'worker[unionized]', :type => 'radio', :value => "si"}
                  %span Si
              .col-md-2
                %label.radio-inline
                  %input{:name =>'worker[unionized]', :type => 'radio', :value => "no"}
                  %span No

      %fieldset#fieldset6{ 'style' => 'display:none' }
        %legend{style: "font-weight: 600;"} DATOS TRIBUTARIOS
        .row
          %section.col-md-4
            %label.label ¿Percibe rentas de 5ta exoneradas (Inc. e) Art. 19 de la LIR?
          %section.col-md-12
            .col-md-1
            -if @action == 'edit'
              -if @worker.income_fifth_category=="si"
                .col-md-2
                  %label.radio-inline
                    %input{:name =>'worker[income_fifth_category]', :type => 'radio', :value => "si", checked: ""}
                    %span Si
                .col-md-2
                  %label.radio-inline
                    %input{:name =>'worker[income_fifth_category]', :type => 'radio', :value => "no"}
                    %span No
              -elsif @worker.income_fifth_category=="no"
                .col-md-2
                  %label.radio-inline
                    %input{:name =>'worker[income_fifth_category]', :type => 'radio', :value => "si"}
                    %span Si
                .col-md-2
                  %label.radio-inline
                    %input{:name =>'worker[income_fifth_category]', :type => 'radio', :value => "no", checked: ""}
                    %span No
              -else
                %section.col-md-2
                  %label.radio-inline
                    %input{:name =>'worker[income_fifth_category]', :type => 'radio', :value => "si"}
                    %span Si
                %section.col-md-2
                  %label.radio-inline
                    %input{:name =>'worker[income_fifth_category]', :type => 'radio', :value => "no"}
                    %span No
            -else
              %section.col-md-2
                %label.radio-inline
                  %input{:name =>'worker[income_fifth_category]', :type => 'radio', :value => "si"}
                  %span Si
              %section.col-md-2
                %label.radio-inline
                  %input{:name =>'worker[income_fifth_category]', :type => 'radio', :value => "no"}
                  %span No

      %fieldset#fieldset1{ 'style' => 'display:none' }
        %legend{style: "font-weight: 600;"} Bancos
        .row
          %section.col.col-2
            %label.control-label(for="bank_id") Bancos

          %section.col.col-3
            %select#bank-select.select2.form-control(style='width:100%;padding: 0;border: none;') 
              - @banks.each do |bank|
                %option(value = "#{bank.id}")
                  = bank.business_name

          %section.col.col-3
            = text_field_tag 'account_number', nil, class: 'form-control', id: 'bank-account_number', placeholder: 'Numero de Cuenta'


          %section.col.col-2
            %div
              %a(href="javascript:add_bank_item();" id="btn-add-bank" class="btn btn-success" role="button")
                Agregar Banco

        .col-lg-12
          %table#summary-workers.table.table-striped.table-bordered.table-hover.has-tickbox.smart-form
            %thead
              %tr
                %th.col-2 Nombre
                %th.col-5 Numero de Cuenta
                %th Eliminar
            %tbody(id="bank_items_table")
              - if @action == 'edit'
                - puts @worker.worker_details
                - @worker.worker_details.each do |oos|
                  %tr
                    %td.bank-id(style="display:none")
                      = hidden_field_tag 'worker[worker_details_attributes][' + @reg_n.to_s + '][bank_id]', oos.bank.id
                    %td.col-2=oos.bank.business_name
                    %td.col-5.account_number
                      = text_field_tag 'worker[worker_details_attributes][' + @reg_n.to_s + '][account_number]', oos.account_number, class: "form-control account_number-item", onkeypress: "return isNumber(event);"
                    %td(style="display:none")
                      = hidden_field_tag 'worker[worker_details_attributes][' + @reg_n.to_s + '][id]', oos.id
                    %td(style="display:none")
                      = hidden_field_tag 'worker[worker_details_attributes][' + @reg_n.to_s + '][worker_id]', @worker.id
                    %td.delete-item
                      %label.checkbox
                        = check_box 'worker[worker_details_attributes]', '[' + @reg_n.to_s + '][_destroy]'
                        %i
                    - @reg_n += 1

      %fieldset#fieldset7{ 'style' => 'display:none' }
        %legend{style: "font-weight: 600;"} DATOS DE SEGURIDAD SOCIAL
        %legend{ 'style' => 'display:none' } Regimen de Salud
        %br{ 'style' => 'display:none' }
        .row{ 'style' => 'display:none' }
          %section.col.col-3
            %label Regimen de Salud
            %select#healthtype-select.select2.form-control{style: 'width:100%;padding: 0;border: none;', class: 'healthreg'}
              %option(value = "") Tipo de régimen
              %option(value = "ESSALUD REGULAR (Exclusivamente)") ESSALUD REGULAR (Exclusivamente)
              %option(value = "ESSALUD REGULAR Y EPS / SERV PROPIOS") ESSALUD REGULAR Y EPS / SERV PROPIOS
          %section.col.col-3#centrosalud{ 'style' => 'display:none' }
            %label Centro de Salud
            %select#health-select.select2.form-control(style='width:100%;padding: 0;border: none;')  
              %option(value = "") Escoga el centro de salud
              - @health.each do |health|
                %option(value = "#{health.id}")
                  = health.enterprise
        .row{ 'style' => 'display:none' }
          %section.col.col-3
            %label Fecha de Inicio
            %input#health-startdate.string.optional.form-control{'name'=>'healthstartdate', type: "date", style: 'text-transform: uppercase;'}
          %section.col.col-3
            %label Fecha de Fin
            %input#health-enddate.string.optional.form-control{'name'=>'healthenddate', type: "date", style: 'text-transform: uppercase;'}
          
          %br
          %section.col.col-2
            %div
              %a(href="javascript:add_health_center_item();" id="btn-add-health_center" class="btn btn-success" role="button")
                Agregar Centro de Salud

        .col-lg-12{ 'style' => 'display:none' }
          %table#summary-workers.table.table-striped.table-bordered.table-hover.has-tickbox.smart-form
            %thead
              %tr
                %th.col-2 Tipo de Regimen
                %th.col-2 Nombre
                %th.col-2 Fecha de Inicio
                %th.col-2 Fecha de Fin
                %th Eliminar
            %tbody(id="health_center_items_table")
              - if @action == 'edit'
                - @worker.worker_healths.each do |oos|
                  %tr
                    %td.bank-id(style="display:none")
                      = hidden_field_tag 'worker[worker_healths_attributes][' + @reg_n.to_s + '][health_center_id]', oos.health_center_id
                    %td.col-2.health_regime
                      = text_field_tag 'worker[worker_healths_attributes][' + @reg_n.to_s + '][health_regime]', oos.health_regime, class: "form-control health_regime-item"
                    -if oos.health_center_id != 0
                      %td.col-2
                        = oos.health_center.enterprise.to_s
                    -if oos.health_center_id == 0
                      %td.col-2 -
                    %td.col-2.start_date
                      = text_field_tag 'worker[worker_healths_attributes][' + @reg_n.to_s + '][start_date]', oos.start_date, class: "form-control start_date-item"
                    %td.col-2.end_date
                      = text_field_tag 'worker[worker_healths_attributes][' + @reg_n.to_s + '][end_date]', oos.end_date, class: "form-control end_date-item"
                    %td(style="display:none")
                      = hidden_field_tag 'worker[worker_healths_attributes][' + @reg_n.to_s + '][id]', oos.id
                    %td(style="display:none")
                      = hidden_field_tag 'worker[worker_healths_attributes][' + @reg_n.to_s + '][worker_id]', @worker.id
                    %td.delete-item
                      %label.checkbox
                        = check_box 'worker[worker_healths_attributes]', '[' + @reg_n.to_s + '][_destroy]'
                        %i
                    - @reg_n += 1
        %br{ 'style' => 'display:none' }
        %legend Regimen Pensionario
        %br
        .row
          %section.col-md-4
            %label.label Elija un Régimen Pensionario
          %section.col-md-12
            .row
              .col-md-1
              %section.col-md-7
                %label.radio-inline
                  %input{:name =>'regimenpensionario', :type => 'radio', :value => "Estoy"}
                  %span Estoy afiliado al Sistema Privado de Pensiones
            .row
              .col-md-1
              %section.col-md-7
                %label.radio-inline
                  %input{:name =>'regimenpensionario', :type => 'radio', :value => "Deseo"}
                  %span Deseo afiliarme al Sistema Privado de Pensiones
            .row
              .col-md-1
              %section.col-md-7
                %label.radio-inline
                  %input{:name =>'regimenpensionario', :type => 'radio', :value => "No"}
                  %span No estoy afiliado a ninguna AFP y deseo inscribirme o permanecer en el Sistema Nacional de Pensiones
        .row#afp4{ 'style' => 'display:none' }
          %section.col.col-1
            %br
            %label.control-label(for="afp_id") Regimen Pensionario

          %section.col.col-3#afplista{ 'style' => 'display:none' }
            %label.label Lista de AFPs
            %select#afp-select.select2.form-control(style='width:100%;padding: 0;border: none;')

          %section.col.col-3#afpcuspp{ 'style' => 'display:none' }
            %label.label CUSPP
            = text_field_tag 'afpnumber', nil, class: 'form-control', id: 'afp-afpnumber', placeholder: 'Numero de Cuenta'
            %label Obtener CUSPP accediendo a
            %a{:target =>'_blank', :href => 'http://www.sbs.gob.pe/app/spp/Reporte_sit_prev/afil_existe.asp'}>web de la SBS

          %section.col.col-3#afpfechaafi{ 'style' => 'display:none' }
            %label Fecha de Afiliación
            %input#afp-startdate.string.optional.form-control{'name'=>'afpstartdate', type: "date"}
          %br
          %section.col.col-2
            %div
              %a(href="javascript:add_afp_item();" id="btn-add-afp" class="btn btn-success" role="button")
                Agregar AFP

        .row#afp2{ 'style' => 'display:none' }
          %section.col.col-3
            %select#afptype-select.select2.form-control(style='width:100%;padding: 0;border: none;') 
              %option(value = "") Tipo de comisión
              %option(value = "Comision por Flujo(sueldo)") Comision por Flujo(sueldo)
              %option(value = "Comision mixta (saldo y sueldo)") Comision mixta (saldo y sueldo)
          %section.col.col-3
            %label Fecha de Fin
            %input#afp-enddate.string.optional.form-control{'name'=>'afpenddate', type: "date"}

        .col-lg-12
          %table#summary-workers.table.table-striped.table-bordered.table-hover.has-tickbox.smart-form
            %thead
              %tr
                %th.col-2 Nombre
                %th.col-2{ 'style' => 'display:none' } Tipo de AFP
                %th.col-2 CUSPP
                %th.col-2 Fecha de Inicio
                %th.col-2{ 'style' => 'display:none' } Fecha de Fin
                %th Eliminar
            %tbody(id="afp_items_table")
              - if @action == 'edit'
                - puts @worker.worker_afps
                - @worker.worker_afps.each do |oos|
                  %tr
                    %td.bank-id(style="display:none")
                      = hidden_field_tag 'worker[worker_afps_attributes][' + @reg_n.to_s + '][afp_id]', oos.afp.id
                    %td.col-2=oos.afp.enterprise
                    %td.col-2.afptype{ 'style' => 'display:none' }
                      = text_field_tag 'worker[worker_afps_attributes][' + @reg_n.to_s + '][afptype]', oos.afptype, class: "form-control afptype-item"
                    %td.col-2.cuspp
                      = text_field_tag 'worker[worker_afps_attributes][' + @reg_n.to_s + '][afpnumber]', oos.afpnumber, class: "form-control afpnumber-item"
                    %td.col-2.start_date
                      = text_field_tag 'worker[worker_afps_attributes][' + @reg_n.to_s + '][start_date]', oos.start_date, class: "form-control start_date-item"
                    %td.col-2.end_date{ 'style' => 'display:none' }
                      = text_field_tag 'worker[worker_afps_attributes][' + @reg_n.to_s + '][end_date]', oos.end_date, class: "form-control end_date-item"
                    %td(style="display:none")
                      = hidden_field_tag 'worker[worker_afps_attributes][' + @reg_n.to_s + '][id]', oos.id
                    %td(style="display:none")
                      = hidden_field_tag 'worker[worker_afps_attributes][' + @reg_n.to_s + '][worker_id]', @worker.id
                    %td.delete-item
                      %label.checkbox
                        = check_box 'worker[worker_afps_attributes]', '[' + @reg_n.to_s + '][_destroy]'
                        %i
                    - @reg_n += 1

      %fieldset#fieldset2{ 'style' => 'display:none' }
        %legend Datos familiares
        .row
          %section.col.col-2
            %div
              %a(href="javascript:add_familiar_item();" id="btn-add-familiar" class="btn btn-success" role="button")
                Agregar Familiar

        .col-lg-13
          %table#summary-workers.table.table-striped.table-bordered.table-hover.has-tickbox.smart-form
            %thead
              %tr
                %th{style: "width: 15%;"} Apellido Paterno
                %th{style: "width: 15%;"} Apellido Materno
                %th{style: "width: 25%;"} Nombres
                %th{style: "width: 15%;"} Parentesco
                %th{style: "width: 15%;"} Fecha de Nacimiento
                %th{style: "width: 10%;"} DNI
                %th{style: "width: 5%;"} Eliminar
            %tbody(id="familiar_items_table")
              - if @action == 'edit'
                - puts @worker.worker_familiars
                - @worker.worker_familiars.each do |oos|
                  %tr
                    %td{style: "width: 15%;"}=oos.paternal_surname
                    %td{style: "width: 15%;"}=oos.maternal_surname
                    %td{style: "width: 25%;"}=oos.names
                    %td{style: "width: 15%;"}=oos.relationship
                    %td{style: "width: 15%;"}=oos.dayofbirth
                    %td{style: "width: 10%;"}=oos.dni
                    %td(style="display:none")
                      = hidden_field_tag 'worker[worker_familiars_attributes][' + @reg_n.to_s + '][id]', oos.id
                    %td(style="display:none")
                      = hidden_field_tag 'worker[worker_familiars_attributes][' + @reg_n.to_s + '][worker_id]', @worker.id
                    %td.delete-item{style: "width: 5%;"}
                      %label.checkbox
                        = check_box 'worker[worker_familiars_attributes]', '[' + @reg_n.to_s + '][_destroy]'
                        %i
                    - @reg_n += 1
      %fieldset#fieldset3{ 'style' => 'display:none' }
        %legend{style: "font-weight: 600;"} DATOS DE LA SITUACIÓN EDUCATIVA
        .row
          %section.col.col-3
            %label.control-label Situación Educativa
            %br
            .input-group
              %select.col-sm-6.form-control#educationtype{:name =>"worker[levelofinstruction]", :required => true, title:'No puede dejar este campo vacio', 'style' => 'width:200px', class: 'educationtype' }
                -if @action == 'edit'
                  %option{:value => "0", :selected => 'selected'} Seleccione un nivel
                  %option{:value => "Sin Educación Formal", :selected => "#{@worker.levelofinstruction}"=="Sin Educación Formal"} Sin Educación Formal
                  %option{:value => "Educación Especial Incompleta", :selected => "#{@worker.levelofinstruction}"=="Educación Especial Incompleta"} Educación Especial Incompleta
                  %option{:value => "Educación Especial Completa", :selected => "#{@worker.levelofinstruction}"=="Educación Especial Completa"} Educación Especial Completa
                  %option{:value => "Educación Primaria Incompleta", :selected => "#{@worker.levelofinstruction}"=="Educación Primaria Incompleta"} Educación Primaria Incompleta
                  %option{:value => "Educación Primaria Completa", :selected => "#{@worker.levelofinstruction}"=="Educación Primaria Completa"} Educación Primaria Completa
                  %option{:value => "Educación Secundaria Incompleta", :selected => "#{@worker.levelofinstruction}"=="Educación Secundaria Incompleta"} Educación Secundaria Incompleta
                  %option{:value => "Educación Secundaria Completa", :selected => "#{@worker.levelofinstruction}"=="Educación Secundaria Completa"} Educación Secundaria Completa
                  %option{:value => "Educación Técnica Incompleta", :selected => "#{@worker.levelofinstruction}"=="Educación Técnica Incompleta"} Educación Técnica Incompleta
                  %option{:value => "Educación Técnica Completa", :selected => "#{@worker.levelofinstruction}"=="Educación Técnica Completa"} Educación Técnica Completa
                  %option{:value => "Educación Superior (Instituto Superior, ETC) Incompleta", :selected => "#{@worker.levelofinstruction}"=="Educación Superior (Instituto Superior, ETC) Incompleta"} Educación Superior (Instituto Superior, ETC) Incompleta
                  %option{:value => "Educación Superior (Instituto Superior, ETC) Completa", :selected => "#{@worker.levelofinstruction}"=="Educación Superior (Instituto Superior, ETC) Completa"} Educación Superior (Instituto Superior, ETC) Completa
                  %option{:value => "Educación Universitaria Incompleta", :selected => "#{@worker.levelofinstruction}"=="Educación Universitaria Incompleta"} Educación Universitaria Incompleta
                  %option{:value => "Educación Universitaria Completa", :selected => "#{@worker.levelofinstruction}"=="Educación Universitaria Completa"} Educación Universitaria Completa
                  %option{:value => "Grado de Bachiller", :selected => "#{@worker.levelofinstruction}"=="Grado de Bachiller"} Grado de Bachiller
                  %option{:value => "Titulado", :selected => "#{@worker.levelofinstruction}"=="Titulados"} Titulado
                  %option{:value => "Estudios de Maestría Incompleta", :selected => "#{@worker.levelofinstruction}"=="Estudios de Maestría Incompleta"} Estudios de Maestría Incompleta
                  %option{:value => "Estudios de Maestría Completa", :selected => "#{@worker.levelofinstruction}"=="Estudios de Maestría Completa"} Estudios de Maestría Completa
                  %option{:value => "Grado de Maestría", :selected => "#{@worker.levelofinstruction}"=="Grado de Maestría"} Grado de Maestría
                  %option{:value => "Estudios de Doctorado Incompleto", :selected => "#{@worker.levelofinstruction}"=="Estudios de Doctorado Incompleto"} Estudios de Doctorado Incompleto
                  %option{:value => "Estudios de Doctorado Completo", :selected => "#{@worker.levelofinstruction}"=="Estudios de Doctorado Completo"} Estudios de Doctorado Completo
                  %option{:value => "Grado de Doctor", :selected => "#{@worker.levelofinstruction}"=="Grado de Doctor"} Grado de Doctor
                -else
                  %option{:value => "0", :selected => 'selected'} Seleccione un nivel
                  %option{:value => "Sin Educación Formal"} Sin Educación Formal
                  %option{:value => "Educación Especial Incompleta"} Educación Especial Incompleta
                  %option{:value => "Educación Especial Completa"} Educación Especial Completa
                  %option{:value => "Educación Primaria Incompleta"} Educación Primaria Incompleta
                  %option{:value => "Educación Primaria Completa"} Educación Primaria Completa
                  %option{:value => "Educación Secundaria Incompleta"} Educación Secundaria Incompleta
                  %option{:value => "Educación Secundaria Completa"} Educación Secundaria Completa
                  %option{:value => "Educación Técnica Incompleta"} Educación Técnica Incompleta
                  %option{:value => "Educación Técnica Completa"} Educación Técnica Completa
                  %option{:value => "Educación Superior (Instituto Superior, ETC) Incompleta"} Educación Superior (Instituto Superior, ETC) Incompleta
                  %option{:value => "Educación Superior (Instituto Superior, ETC) Completa"} Educación Superior (Instituto Superior, ETC) Completa
                  %option{:value => "Educación Universitaria Incompleta"} Educación Universitaria Incompleta
                  %option{:value => "Educación Universitaria Completa"} Educación Universitaria Completa
                  %option{:value => "Grado de Bachiller"} Grado de Bachiller
                  %option{:value => "Titulado"} Titulado
                  %option{:value => "Estudios de Maestría Incompleta"} Estudios de Maestría Incompleta
                  %option{:value => "Estudios de Maestría Completa"} Estudios de Maestría Completa
                  %option{:value => "Grado de Maestría"} Grado de Maestría
                  %option{:value => "Estudios de Doctorado Incompleto"} Estudios de Doctorado Incompleto
                  %option{:value => "Estudios de Doctorado Completo"} Estudios de Doctorado Completo
                  %option{:value => "Grado de Doctor"} Grado de Doctor
          %section.col.col-2#lastgrade{ 'style' => 'display:none' }
            %label Último Ciclo/Grado/Año Cursado
            = f.input :lastgrade, input_html: { class: 'form-control' }, label: false
        .row
          %section.col.col-5
            %label.label Colegio Primaria
            %label.input{for: "primaryschool"}
              = f.input :primaryschool, placeholder: "Colegio", input_html: { class: 'form-control', style: 'text-transform: uppercase;', :onchange => "makeUppercase(this);" }, label: false
          %section.col.col-3
            %label.label Lugar
            %label.input{for: "primarydistrict"}
              = f.input :primarydistrict, input_html: { class: 'form-control', style: 'text-transform: uppercase;', :onchange => "makeUppercase(this);" }, label: false
          %section.col.col-2
            %label.label Desde
            %label.input{for: "primarystartdate"}
              %select.form-control{:name =>"worker[primarystartdate]", :style => 'width:100%;padding: 0;border: none;'}
                -if !@years.nil?
                  - @years.each do |years|
                    - if @worker.primarystartdate == years
                      %option{:value => "#{years}", :selected => true}
                        = years
                    - else
                      %option{:value => "#{years}"}
                        = years
          %section.col.col-2
            %label.label Hasta
            %label.input{for: "primaryenddate"}
              %select.form-control{:name =>"worker[primaryenddate]", :style => 'width:100%;padding: 0;border: none;'}
                -if !@years.nil?
                  - @years.each do |years|
                    - if @worker.primarystartdate == years
                      %option{:value => "#{years}", :selected => true}
                        = years
                    - else
                      %option{:value => "#{years}"}
                        = years
        .row
          %section.col.col-5
            %label.label Colegio Secundaria
            %label.input{for: "highschool"}
              = f.input :highschool, placeholder: "Colegio", input_html: { class: 'form-control', style: 'text-transform: uppercase;', :onchange => "makeUppercase(this);" }, label: false
          %section.col.col-3
            %label.label Lugar
            %label.input{for: "highschooldistrict"}
              = f.input :highschooldistrict, input_html: { class: 'form-control', style: 'text-transform: uppercase;', :onchange => "makeUppercase(this);" }, label: false
          %section.col.col-2
            %label.label Desde
            %label.input{for: "highschoolstartdate"}
              %select.form-control{:name =>"worker[highschoolstartdate]", :style => 'width:100%;padding: 0;border: none;'}
                -if !@years.nil?
                  - @years.each do |years|
                    - if @worker.primarystartdate == years
                      %option{:value => "#{years}", :selected => true}
                        = years
                    - else
                      %option{:value => "#{years}"}
                        = years
          %section.col.col-2
            %label.label Hasta
            %label.input{for: "highschoolenddate"}
              %select.form-control{:name =>"worker[highschoolenddate]", :style => 'width:100%;padding: 0;border: none;'}
                -if !@years.nil?
                  - @years.each do |years|
                    - if @worker.primarystartdate == years
                      %option{:value => "#{years}", :selected => true}
                        = years
                    - else
                      %option{:value => "#{years}"}
                        = years
        .row
          %section.col.col-2
            %div
              %a(href="javascript:add_centerofstudy_item();" id="btn-add-centerofstudy" class="btn btn-success" role="button")
                Agregar Estudios Superiores

        .col-lg-13
          %table#summary-workers.table.table-striped.table-bordered.table-hover.has-tickbox.smart-form
            %thead
              %tr
                %th.col-2 Universidad/Instituto
                %th.col-2 Profesion
                %th.col-2 Título
                %th.col-2 N° de Coleg.
                %th.col-2 Fecha de Comienzo
                %th.col-2 Fecha de Fin
                %th Eliminar
            %tbody(id="centerofstudy_items_table")
              - if @action == 'edit'
                - puts @worker.worker_center_of_studies
                - @worker.worker_center_of_studies.each do |oos|
                  %tr
                    %td.col-2=oos.name
                    %td.col-2=oos.profession
                    %td.col-2=oos.title
                    %td.col-2=oos.numberoftuition
                    %td.col-2=oos.start_date
                    %td.col-2=oos.end_date
                    %td(style="display:none")
                      = hidden_field_tag 'worker[worker_center_of_studies][' + @reg_n.to_s + '][id]', oos.id
                    %td(style="display:none")
                      = hidden_field_tag 'worker[worker_center_of_studies][' + @reg_n.to_s + '][worker_id]', @worker.id
                    %td.delete-item
                      %label.checkbox
                        = check_box 'worker[worker_center_of_studies]', '[' + @reg_n.to_s + '][_destroy]'
                        %i
                    - @reg_n += 1
        %br
        .row
          %section.col.col-2
            %div
              %a(href="javascript:add_otherstudy_item();" id="btn-add-otherstudy" class="btn btn-success" role="button")
                Agregar Otros de Estudios

        .col-lg-13
          %table#summary-workers.table.table-striped.table-bordered.table-hover.has-tickbox.smart-form
            %thead
              %tr
                %th{style: "width: 50%;"} Otros Estudios
                %th{style: "width: 40%;"} Nivel
                %th{style: "width: 10%;"} Eliminar
            %tbody(id="otherstudy_items_table")
              - if @action == 'edit'
                - puts @worker.worker_otherstudies
                - @worker.worker_otherstudies.each do |oos|
                  %tr
                    %td{style: "width: 50%;"}=oos.study
                    %td{style: "width: 40%;"}=oos.level
                    %td(style="display:none")
                      = hidden_field_tag 'worker[worker_otherstudies][' + @reg_n.to_s + '][id]', oos.id
                    %td(style="display:none")
                      = hidden_field_tag 'worker[worker_otherstudies][' + @reg_n.to_s + '][worker_id]', @worker.id
                    %td.delete-item{style: "width: 10%;"}
                      %label.checkbox
                        = check_box 'worker[worker_otherstudies]', '[' + @reg_n.to_s + '][_destroy]'
                        %i
                    - @reg_n += 1
        %br
        .row
          %section.col-md-12
            .col-md-1
            .col-md-4
              %label.label TIENE CONOCIMIENTOS DE NORMAS DE CALIDAD?
            .col-md-1
            .col-md-4
              %label.label TIENE CONOCIMIENTOS DE NORMAS DE SEGURIDAD?
          %section.col-md-12
            .col-md-2
            -if @action == 'edit'
              -if @worker.quality=="si"
                .col-md-2
                  %label.radio-inline
                    %input{:name =>'worker[quality]', :type => 'radio', :value => "si", checked: ""}
                    %span Si
                .col-md-2
                  %label.radio-inline
                    %input{:name =>'worker[quality]', :type => 'radio', :value => "no"}
                    %span No
              -elsif @worker.quality=="no"
                .col-md-2
                  %label.radio-inline
                    %input{:name =>'worker[quality]', :type => 'radio', :value => "si"}
                    %span Si
                .col-md-2
                  %label.radio-inline
                    %input{:name =>'worker[quality]', :type => 'radio', :value => "no", checked: ""}
                    %span No
              -else
                .col-md-2
                  %label.radio-inline
                    %input{:name =>'worker[quality]', :type => 'radio', :value => "si"}
                    %span Si
                .col-md-2
                  %label.radio-inline
                    %input{:name =>'worker[quality]', :type => 'radio', :value => "no"}
                    %span No
            -else
              .col-md-2
                %label.radio-inline
                  %input{:name =>'worker[quality]', :type => 'radio', :value => "si"}
                  %span Si
              .col-md-2
                %label.radio-inline
                  %input{:name =>'worker[quality]', :type => 'radio', :value => "no"}
                  %span No
            .col-md-1
            -if @action == 'edit'
              -if @worker.security=="si"
                .col-md-2
                  %label.radio-inline
                    %input{:name =>'worker[security]', :type => 'radio', :value => "si", checked: ""}
                    %span Si
                .col-md-2
                  %label.radio-inline
                    %input{:name =>'worker[security]', :type => 'radio', :value => "no"}
                    %span No
              -elsif @worker.security=="no"
                .col-md-2
                  %label.radio-inline
                    %input{:name =>'worker[security]', :type => 'radio', :value => "si"}
                    %span Si
                .col-md-2
                  %label.radio-inline
                    %input{:name =>'worker[security]', :type => 'radio', :value => "no", checked: ""}
                    %span No
              -else
                .col-md-2
                  %label.radio-inline
                    %input{:name =>'worker[security]', :type => 'radio', :value => "si"}
                    %span Si
                .col-md-2
                  %label.radio-inline
                    %input{:name =>'worker[security]', :type => 'radio', :value => "no"}
                    %span No
            -else
              .col-md-2
                %label.radio-inline
                  %input{:name =>'worker[security]', :type => 'radio', :value => "si"}
                  %span Si
              .col-md-2
                %label.radio-inline
                  %input{:name =>'worker[security]', :type => 'radio', :value => "no"}
                  %span No
          %section.col-md-12
            .col-md-1
            .col-md-4
              %label.label TIENE CONOCIMIENTOS DE NORMAS DE MEDIOAMBIENTE?
            .col-md-1
            .col-md-4
              %label.label TIENE CONOCIMIENTOS DE LA LEGISLACION LABORAL?
          %section.col-md-12
            .col-md-2
            -if @action == 'edit'
              -if @worker.enviroment=="si"
                .col-md-2
                  %label.radio-inline
                    %input{:name =>'worker[enviroment]', :type => 'radio', :value => "si", checked: ""}
                    %span Si
                .col-md-2
                  %label.radio-inline
                    %input{:name =>'worker[enviroment]', :type => 'radio', :value => "no"}
                    %span No
              -elsif @worker.enviroment=="no"
                .col-md-2
                  %label.radio-inline
                    %input{:name =>'worker[enviroment]', :type => 'radio', :value => "si"}
                    %span Si
                .col-md-2
                  %label.radio-inline
                    %input{:name =>'worker[enviroment]', :type => 'radio', :value => "no", checked: ""}
                    %span No
              -else
                .col-md-2
                  %label.radio-inline
                    %input{:name =>'worker[enviroment]', :type => 'radio', :value => "si"}
                    %span Si
                .col-md-2
                  %label.radio-inline
                    %input{:name =>'worker[enviroment]', :type => 'radio', :value => "no"}
                    %span No
            -else
              .col-md-2
                %label.radio-inline
                  %input{:name =>'worker[enviroment]', :type => 'radio', :value => "si"}
                  %span Si
              .col-md-2
                %label.radio-inline
                  %input{:name =>'worker[enviroment]', :type => 'radio', :value => "no"}
                  %span No
            .col-md-1
            -if @action == 'edit'
              -if @worker.labor_legislation=="si"
                .col-md-2
                  %label.radio-inline
                    %input{:name =>'worker[labor_legislation]', :type => 'radio', :value => "si", checked: ""}
                    %span Si
                .col-md-2
                  %label.radio-inline
                    %input{:name =>'worker[labor_legislation]', :type => 'radio', :value => "no"}
                    %span No
              -elsif @worker.labor_legislation=="no"
                .col-md-2
                  %label.radio-inline
                    %input{:name =>'worker[labor_legislation]', :type => 'radio', :value => "si"}
                    %span Si
                .col-md-2
                  %label.radio-inline
                    %input{:name =>'worker[labor_legislation]', :type => 'radio', :value => "no", checked: ""}
                    %span No
              -else
                .col-md-2
                  %label.radio-inline
                    %input{:name =>'worker[labor_legislation]', :type => 'radio', :value => "si"}
                    %span Si
                .col-md-2
                  %label.radio-inline
                    %input{:name =>'worker[labor_legislation]', :type => 'radio', :value => "no"}
                    %span No
            -else
              .col-md-2
                %label.radio-inline
                  %input{:name =>'worker[labor_legislation]', :type => 'radio', :value => "si"}
                  %span Si
              .col-md-2
                %label.radio-inline
                  %input{:name =>'worker[labor_legislation]', :type => 'radio', :value => "no"}
                  %span No
      %fieldset#fieldset4{ 'style' => 'display:none' }
        %legend{style: "font-weight: 600;"} Experiencia Laboral
        .row
          %section.col.col-2
            %div
              %a(href="javascript:add_experience_item();" id="btn-add-experience" class="btn btn-success" role="button")
                Agregar Empresa

        .col-lg-13
          %table#summary-workers.table.table-striped.table-bordered.table-hover.has-tickbox.smart-form
            %thead
              %tr
                %th{style: "width: 20%;"} Empresa
                %th{style: "width: 20%;"} Cargo
                %th{style: "width: 5%;"} Salario
                %th{style: "width: 15%;"} Jefe inmediato
                %th{style: "width: 15%;"} Motivo de Salida
                %th{style: "width: 10%;"} Inicio
                %th{style: "width: 10%;"} Fin
                %th{style: "width: 5%;"} Eliminar
            %tbody(id="experience_items_table")
              - if @action == 'edit'
                - puts @worker.worker_experiences
                - @worker.worker_experiences.each do |oos|
                  %tr
                    %td{style: "width: 20%;"}=oos.businessname
                    %td{style: "width: 20%;"}=oos.title
                    %td{style: "width: 5%;"}=oos.salary
                    %td{style: "width: 15%;"}=oos.bossincharge
                    %td{style: "width: 15%;"}=oos.exitreason
                    %td{style: "width: 10%;"}=oos.start_date
                    %td{style: "width: 10%;"}=oos.end_date
                    %td(style="display:none")
                      = hidden_field_tag 'worker[worker_experiences][' + @reg_n.to_s + '][id]', oos.id
                    %td(style="display:none")
                      = hidden_field_tag 'worker[worker_experiences][' + @reg_n.to_s + '][worker_id]', @worker.id
                    %td.delete-item{style: "width: 5%;"}
                      %label.checkbox
                        = check_box 'worker[worker_experiences]', '[' + @reg_n.to_s + '][_destroy]'
                        %i
                    - @reg_n += 1
        %br
        .row
          .section.col.col-md-12
            .section.col.col-md-2
              %label.control-label Tiene hijos en etapa escolar?
            .section.col.col-md-3
              .form-group
              -if @action == 'edit'
                -if @worker.numberofchilds.nil?
                  .col-md-3
                    %label.radio-inline
                      %input{:name =>'numberofchilds2', :type => 'radio', :value => "si"}
                      %span Si
                  .col-md-1
                    %label.radio-inline
                      %input{:name =>'numberofchilds2', :type => 'radio', :value => "no", checked: ""}
                      %span No
                -else
                  .col-md-3
                    %label.radio-inline
                      %input{:name =>'numberofchilds2', :type => 'radio', :value => "si", checked: ""}
                      %span Si
                  .col-md-1
                    %label.radio-inline
                      %input{:name =>'numberofchilds2', :type => 'radio', :value => "no"}
                      %span No
              -else
                .col-md-3
                  %label.radio-inline
                    %input{:name =>'numberofchilds2', :type => 'radio', :value => "si"}
                    %span Si
                .col-md-1
                  %label.radio-inline
                    %input{:name =>'numberofchilds2', :type => 'radio', :value => "no"}
                    %span No
            %section.col.col-2#numberofchildren{ 'style' => 'display:none' }
              %label Cuántos?
              = f.input :numberofchilds, placeholder: "Número de hijos", input_html: { class: 'form-control' }, label: false
      %fieldset#fieldset5{ 'style' => 'display:none' }
        %legend{style: "font-weight: 600;"} Documentación Adjunta
        .row
          %section.col.col-md-12
            .col-md-5
              %label.label Curriculum Vitae Documentado o
              %label.label Constacias de Trabajo o Certifidaco de Calificacion
            .col-md-7
              = f.input :cv, :input_html => { :class => 'btn btn-default' }, label: false, as: "file"
              %p.help-block.col-md-
                - if @action == 'edit' && @worker.cv.exists?
                  = 'Archivo subido: ' + File.basename(@worker.cv.path, File.extname(@worker.cv.path))
                - else
                  Subir el archivo correspondiente
        .row
          %section.col.col-md-12
            .col-md-5
              %label.label Certificado de Antecedentes Policiales
            .col-md-7
              = f.input :antecedent_police, :input_html => { :class => 'btn btn-default' }, label: false, as: "file"
              %p.help-block
                - if @action == 'edit' && @worker.antecedent_police.exists?
                  = 'Archivo subido: ' + File.basename(@worker.antecedent_police.path, File.extname(@worker.antecedent_police.path))
                - else
                  Subir el archivo correspondiente
        .row
          %section.col.col-md-12
            .col-md-5
              %label.label Documento Nacional de Identidad
            .col-md-7
              = f.input :dni, :input_html => { :class => 'btn btn-default' }, label: false, as: "file"
              %p.help-block
                - if @action == 'edit' && @worker.dni.exists?
                  = 'Archivo subido: ' + File.basename(@worker.dni.path, File.extname(@worker.dni.path))
                - else
                  Subir el archivo correspondiente
        .row
          %section.col.col-md-12
            .col-md-5
              %label.label Carta de Deposito de C.T.S.
            .col-md-7
              = f.input :cts_deposit_letter, :input_html => { :class => 'btn btn-default' }, label: false, as: "file"
              %p.help-block
                - if @action == 'edit' && @worker.cts_deposit_letter.exists?
                  = 'Archivo subido: ' + File.basename(@worker.cts_deposit_letter.path, File.extname(@worker.cts_deposit_letter.path))
                - else
                  Subir el archivo correspondiente
        .row
          %section.col.col-md-12
            .col-md-5
              %label.label Carta de Fondos Previsionales
            .col-md-7
              = f.input :pension_funds_letter, :input_html => { :class => 'btn btn-default' }, label: false, as: "file"
              %p.help-block
                - if @action == 'edit' && @worker.pension_funds_letter.exists?
                  = 'Archivo subido: ' + File.basename(@worker.pension_funds_letter.path, File.extname(@worker.pension_funds_letter.path))
                - else
                  Subir el archivo correspondiente
        .row
          %section.col.col-md-12
            .col-md-5
              %label.label Declaración Jurada de Renta de 5ta
            .col-md-7
              = f.input :affidavit, :input_html => { :class => 'btn btn-default' }, label: false, as: "file"
              %p.help-block
                - if @action == 'edit' && @worker.affidavit.exists?
                  = 'Archivo subido: ' + File.basename(@worker.affidavit.path, File.extname(@worker.affidavit.path))
                - else
                  Subir el archivo correspondiente

        .row#partidamatrimonio{ 'style' => 'display:none' }
          %section.col.col-md-12
            .col-md-5
              %label.label Certificado de Convivencia de Matrimonio/ Partida de Matrimonio
            .col-md-7
              = f.input :marriage_certificate, :input_html => { :class => 'btn btn-default' }, label: false, as: "file"
              %p.help-block.col-md-
                - if @action == 'edit' && @worker.marriage_certificate.exists?
                  = 'Archivo subido: ' + File.basename(@worker.marriage_certificate.path, File.extname(@worker.marriage_certificate.path))
                - else
                  Subir el archivo correspondiente

        .row#partidanacihijos{ 'style' => 'display:none' }
          %section.col.col-md-12
            .col-md-5
              %label.label Partida de Nacimiento de Hijos
            .col-md-7
              = f.input :birth_certificate_of_childer, :input_html => { :class => 'btn btn-default' }, label: false, as: "file"
              %p.help-block.col-md-
                - if @action == 'edit' && @worker.birth_certificate_of_childer.exists?
                  = 'Archivo subido: ' + File.basename(@worker.birth_certificate_of_childer.path, File.extname(@worker.birth_certificate_of_childer.path))
                - else
                  Subir el archivo correspondiente

        .row#dnihijoesposa{ 'style' => 'display:none' }
          %section.col.col-md-12
            .col-md-5
              %label.label DNI Hijos y Esposa
            .col-md-7
              = f.input :dni_wife_kids, :input_html => { :class => 'btn btn-default' }, label: false, as: "file"
              %p.help-block.col-md-
                - if @action == 'edit' && @worker.dni_wife_kids.exists?
                  = 'Archivo subido: ' + File.basename(@worker.dni_wife_kids.path, File.extname(@worker.dni_wife_kids.path))
                - else
                  Subir el archivo correspondiente

        .row#constanciamatricula{ 'style' => 'display:none' }
          %section.col.col-md-12
            .col-md-5
              %label.label Constancia de Matricula (Asig. Escolar)
            .col-md-7
              = f.input :schoolar_certificate, :input_html => { :class => 'btn btn-default' }, label: false, as: "file"
              %p.help-block.col-md-
                - if @action == 'edit' && @worker.schoolar_certificate.exists?
                  = 'Archivo subido: ' + File.basename(@worker.schoolar_certificate.path, File.extname(@worker.schoolar_certificate.path))
                - else
                  Subir el archivo correspondiente
      %footer
        -if @register=='yes'
          %button.btn.btn-primary{type: "submit"}
            %i.fa.fa-save 
            Registrar
        -else
          %button.btn.btn-primary{type: "submit"}
            %i.fa.fa-save 
            Guardar

:javascript
  $(document).ready(function () {
    $('select').select2();
    $('.checkbox .check_boxes').css('left', '0').css('position', 'relative');
    if(('#{@worker.typeofworker}'=="empleado")||('#{@worker.typeofworker}'=="obrero")){
      $("#row1").css("display", "");
      $("#row2").css("display", "");
      $("#row3").css("display", "");
      $("#row4").css("display", "");
      $("#row6").css("display", "");
      $("#row7").css("display", "");
      $("#label1").css("display", "");
      $("#fieldset1").css("display", "");
      $("#fieldset2").css("display", "");
      $("#fieldset3").css("display", "");
      $("#fieldset4").css("display", "");
      $("#fieldset5").css("display", "");
      $("#fieldset6").css("display", "");
    }
    if('#{@worker.typeofworker}'=="obrero"){
      $("#categoria").css("display", "");
    }
    if('#{@worker.numberofchilds}'!=0){
      $("#numberofchildren").css("display", "");
      $("#partidanacihijos").css("display", "");
      $("#dnihijoesposa").css("display", "");
      $("#constanciamatricula").css("display", "");
    }
    if('#{@worker.maritalstatus}'=='casado'){
      $("#partidamatrimonio").css("display", "");
    }
    if(('#{@worker.levelofinstruction}'=='especiali')||('#{@worker.levelofinstruction}'=='primariai')||('#{@worker.levelofinstruction}'=='secundariai')||('#{@worker.levelofinstruction}'=='tecnicai')||('#{@worker.levelofinstruction}'=='superiori')||('#{@worker.levelofinstruction}'=='universitariai')||('#{@worker.levelofinstruction}'=='maestriai')||('#{@worker.levelofinstruction}'=='doctoradoi')){
      $("#partidamatrimonio").css("display", "");
    }
    if($('form[id^="edit_"]').length > 0) {
      submit_validate($('form[id^="edit_"]'));
    }else{
      submit_validate($('#new_worker'));
    }
  });

  $("input.radiobox").change(function() {
    if(($(this).prop('value') == "empleado") || ($(this).prop('value') == "obrero")){
      $("#row1").css("display", "");
      $("#row2").css("display", "");
      $("#row3").css("display", "");
      $("#row4").css("display", "");
      $("#row6").css("display", "");
      $("#row7").css("display", "");
      $("#label1").css("display", "");
      $("#fieldset1").css("display", "");
      $("#fieldset2").css("display", "");
      $("#fieldset3").css("display", "");
      $("#fieldset4").css("display", "");
      $("#fieldset5").css("display", "");
      $("#fieldset6").css("display", "");
    }
    else {
      $("#row1").css("display", "none");
      $("#row2").css("display", "none");
      $("#row3").css("display", "none");
      $("#row4").css("display", "none");
      $("#row6").css("display", "none");
      $("#row7").css("display", "none");
      $("#label1").css("display", "none");
      $("#fieldset1").css("display", "none");
      $("#fieldset2").css("display", "none");
      $("#fieldset3").css("display", "none");
      $("#fieldset4").css("display", "none");
      $("#fieldset5").css("display", "none");
      $("#fieldset6").css("display", "none");
    }
  });
  $("input.radiobox").change(function() {
    if($(this).prop('value') == "obrero"){
      $("#categoria").css("display", "");
    }
    else {
      $("#categoria").css("display", "none");
    }
  });
  $("input[type=radio][name=regimenpensionario]").change(function() {
    if($(this).prop('value') == "Estoy"){

      $.ajax({
        type: "POST",
        url: "#{display_afps_production_workers_path}",
        async: false,
        data: { type_of_afp: "SPP", authenticity_token: "#{form_authenticity_token}"}
      }).done(function( data ) {
        $('#afp-select').empty();
        $('#afp-select').append( data.hash )
      });

      $("#afp4").css("display", "");
      $("#afpcuspp").css("display", "");
      $("#afpfechaafi").css("display", "");
      $("#afplista").css("display", "");
    }
    else if($(this).prop('value') == "Deseo"){

      $.ajax({
        type: "POST",
        url: "#{display_afps_production_workers_path}",
        async: false,
        data: { type_of_afp: "SPP", authenticity_token: "#{form_authenticity_token}"}
      }).done(function( data ) {
        $('#afp-select').empty();
        $('#afp-select').append( data.hash )
      });

      $("#afp4").css("display", "");
      $("#afpcuspp").css("display", "none");
      $("#afpfechaafi").css("display", "none");
      $("#afplista").css("display", "");
    }
    else if($(this).prop('value') == "No"){

      $.ajax({
        type: "POST",
        url: "#{display_afps_production_workers_path}",
        async: false,
        data: { type_of_afp: "SNP", authenticity_token: "#{form_authenticity_token}"}
      }).done(function( data ) {
        $('#afp-select').empty();
        $('#afp-select').append( data.hash )
      });

      $("#afp4").css("display", "");
      $("#afpcuspp").css("display", "none");
      $("#afpfechaafi").css("display", "none");
      $("#afplista").css("display", "");
    }
    else{
      $("#afp4").css("display", "none");
      $("#afpcuspp").css("display", "none");
      $("#afpfechaafi").css("display", "none");
      $("#afplista").css("display", "none");
    }
  });

  $("input[type=radio][name=numberofchilds2]").change(function() {
    if($(this).prop('value') == "si"){
      $("#numberofchildren").css("display", "");
      $("#partidanacihijos").css("display", "");
      $("#dnihijoesposa").css("display", "");
      $("#constanciamatricula").css("display", "");
    }
    else {
      $("#numberofchildren").css("display", "none");
      $("#partidanacihijos").css("display", "none");
      $("#dnihijoesposa").css("display", "none");
      $("#constanciamatricula").css("display", "none");
    }
  });

  $(".maritalstatus").change(function() {
    if($(this).prop('value') == "casado"){
      $("#partidamatrimonio").css("display", "");
    }
    else {
      $("#partidamatrimonio").css("display", "none");
    }
  });

  $(".educationtype").change(function() {
    if(($(this).prop('value') == "especiali")||($(this).prop('value') == "primariai")||($(this).prop('value') == "secundariai")||($(this).prop('value') == "tecnicai")||($(this).prop('value') == "superiori")||($(this).prop('value') == "universitariai")||($(this).prop('value') == "maestriai")||($(this).prop('value') == "doctoradoi")){
      $("#lastgrade").css("display", "");
    }
    else {
      $("#lastgrade").css("display", "none");
    }
  });

  $(".healthreg").change(function() {
    if($(this).prop('value') == "ESSALUD REGULAR Y EPS / SERV PROPIOS"){
      $("#centrosalud").css("display", "");
    }
    else {
      $("#centrosalud").css("display", "none");
    }
  });

  function submit_validate(form){
    loadScript("#{ asset_path 'plugin/select2/select2.min.js', type: :javascript }");
    $('#bank-select').select2();
    $(form['selector']).ajaxForm({
      beforeSubmit: function() {
        $(form['selector']).validate({
          // Rules for form validation
          rules : {
            'worker[category_of_worker_id]' : {
              required : true,
            },
            'worker[first_name]' : {
              required : true,
            },
            'worker[second_name]' : {
              required : true,
            },
            'worker[paternal_surname]' : {
              required : true,
            },
            'worker[maternal_surname]' : {
              required : true,
            }
          },

          // Messages for form validation
          messages : {
            'worker[category_of_worker_id]' : {
              required : 'Por favor, ingresar la categoria del trabajador.'
            },
            'worker[first_name]' : {
              required : 'Por favor, ingresar el primer nombre.'
            },
            'worker[second_name]' : {
              required : 'Por favor, ingresar el segundo nombre.'
            },
            'worker[paternal_surname]' : {
              required : 'Por favor, ingresar el apellido Paterno.'
            },
            'worker[maternal_surname]' : {
              required : 'Por favor, ingresar el apellido Materno.'
            }
          },

          // Do not change code below
          errorPlacement : function(error, element) {
            error.insertAfter(element.parent());
          }
        });
        // Remove all Help-inLine
        $(".help-inline").remove();
        $('#modalLoadingLabelading').modal('hide');
        $('.modal-backdrop.fade.in').remove();
        // Client Valid
        if( $(form['selector']).valid() ){
          $('#modalLoadingLabelading').modal();
        }
        
        return $(form['selector']).valid();
      },
      target: '#content',
      success: function (data){
        $(".help-inline").parent().addClass("state-error");
        $('#modalLoadingLabelading').modal('hide');
        $('.modal-backdrop.fade.in').remove();
      },
      error: function(xhr, status, error) {
        $('#modalLoadingLabelading').modal('hide');
        $('.modal-backdrop.fade.in').remove();
      }
    });
  }

  function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 45) {
        return false;
    }
    return true;
  }

  function add_bank_item(){
    var bank_id = $("#bank-select").val();
    str_item = {authenticity_token: "#{form_authenticity_token}", bank_id: $("#bank-select").val(), account_number: $("#bank-account_number").val()};

    append_url_ajax('#{add_worker_item_field_production_workers_path}', 'bank_items_table', str_item, 0, 'POST');
  }

  function add_afp_item(){
    str_item = {authenticity_token: "#{form_authenticity_token}", afp_id: $("#afp-select").val(), afpnumber: $("#afp-afpnumber").val(), afptype: $("#afptype-select").val(), start_date: $("#afp-startdate").val(), end_date: $("#afp-enddate").val(), afpnumber: $("#afp-afpnumber").val()};

    append_url_ajax('#{add_afp_item_field_production_workers_path}', 'afp_items_table', str_item, 0, 'POST');
  }

  function add_health_center_item(){
    str_item = {authenticity_token: "#{form_authenticity_token}", health_center_id: $("#health-select").val(), health_regime: $("#healthtype-select").val(), start_date: $("#health-startdate").val(), end_date: $("#health-enddate").val()};

    append_url_ajax('#{add_health_center_item_field_production_workers_path}', 'health_center_items_table', str_item, 0, 'POST');
  }

  function add_familiar_item(){
    str_item = {authenticity_token: "#{form_authenticity_token}", paternal_surname: $("#familiar-paternal_surname").val(), maternal_surname: $("#familiar-maternal_surname").val(), names: $("#familiar-names").val(), relationship: $("#familiar-relationship").val(), dayofbirth: $("#familiar-dayofbirth").val(), dni: $("#familiar-dni").val()};

    append_url_ajax('#{add_familiar_item_field_production_workers_path}', 'familiar_items_table', str_item, 0, 'POST');
  }

  function add_centerofstudy_item(){
    str_item = {authenticity_token: "#{form_authenticity_token}", nameu: $("#centerofstudy-name").val(), profession: $("#centerofstudy-profession").val(), title: $("#centerofstudy-title").val(), numberoftuition: $("#centerofstudy-numberoftuition").val(), start_date: $("#centerofstudy-start_date").val(), end_date: $("#centerofstudy-end_date").val()};

    append_url_ajax('#{add_centerofstudy_item_field_production_workers_path}', 'centerofstudy_items_table', str_item, 0, 'POST');
  }

  function add_experience_item(){
    str_item = {authenticity_token: "#{form_authenticity_token}", businessname: $("#experience-businessname").val(), businessaddress: $("#experience-businessaddress").val(), title2: $("#experience-title").val(), salary: $("#experience-salary").val(), bossincharge: $("#experience-bossincharge").val(), exitreason: $("#experience-exitreason").val(), start_date2: $("#experience-start_date").val(), end_date2: $("#experience-end_date").val()};

    append_url_ajax('#{add_experience_item_field_production_workers_path}', 'experience_items_table', str_item, 0, 'POST');
  }

  function add_otherstudy_item(){
    str_item = {authenticity_token: "#{form_authenticity_token}", study: $("#otherstudy-study").val(), level: $("#otherstudy-level").val()};

    append_url_ajax('#{add_otherstudy_item_field_production_workers_path}', 'otherstudy_items_table', str_item, 0, 'POST');
  }

  function delete_item(code){
    $("#tr" + code).remove();
  }
  
  function makeUppercase(element) {
    $(element).val($(element).val().toUpperCase());
  }  