.modal-dialog{ style: "width: 720px;" }
  .modal-content
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"}
        \×
      %h4.modal-title Llene los siguientes datos del contrato
    .modal-body
      %h3.modal-title 
        = @worker.entity.paternal_surname + ' ' + @worker.entity.maternal_surname + ', ' + @worker.entity.name + ' ' + @worker.entity.dni
      %br
      .row
        .col-md-3
          %label Número de Contrato
          = text_field_tag 'worker_contract[numberofcontract]', @worker_contract_correlative, class: 'form-control', id: 'numberofcontract', placeholder: 'Número de Contrato', readonly: true, style: 'font-weight: bold;'
        .col-md-3
        .col-md-6
          %label Tipo de Contrato
          %select.form-control#typecontract{:name =>"contract_type_id", :style => 'padding: 0;border: none;'}
            - @contractypes.each do |contractype|
              %option{:value => "#{contractype.id}"}
                = contractype.description
      %br
      .row
        .col-md-6
          -if @worker.typeofworker=='obrero'
            %label Categoría del Trabajador
          -elsif @worker.typeofworker=='empleado'
            %label Cargo del Trabajador
          %input#article-select.select2.bigdrop.select2-offscreen.form-control{'name' => 'article_id', 'type' => 'hidden', 'style' => 'width:100%;padding: 0;border: none;'}

        .col-md-4
          %label Regimen
          %select.form-control#regime{:name =>"regime", :style => 'padding: 0;border: none;'}
            %option{:value => 'NORMAL'} NORMAL
            %option{:value => '2 x 30'} 2 x 30
            %option{:value => '4 x 60'} 4 x 60
            %option{:value => '5 x 60'} 5 x 60
            %option{:value => '4 x 120'} 4 x 120
            %option{:value => 'ESPECIAL'} ESPECIAL
      %br
      .row
        .col-md-6
          %label Remuneración Bruta
          = text_field_tag 'worker_contract[salary]', nil, class: 'form-control', id: 'salary', placeholder: 'Salario'
        .col-md-6
          %label Destaque
          = text_field_tag 'worker_contract[destaque]', nil, class: 'form-control', id: 'destaque', placeholder: 'Destaque'
      %br
      .row
        .col-md-4
          %label Campamento
          = text_field_tag 'worker_contract[camp]', nil, class: 'form-control', id: 'camp', placeholder: 'Campamento'
        .col-md-4
          %label Viáticos
          = text_field_tag 'worker_contract[viatical]', nil, class: 'form-control', id: 'viatical', placeholder: 'Viáticos'
        .col-md-4
          %label Bonificación
          = text_field_tag 'worker_contract[bonus]', nil, class: 'form-control', id: 'bonus', placeholder: 'Bonificación'
      %br
      .row
        .col-md-4
          %label Fecha de Inicio
          %input#worker_contract_start_date.string.optional.form-control{'name'=>'worker_contract[start_date]', type: "date"}
        -if @worker.typeofworker=='empleado'
          .col-md-4
            %label Fecha de Fin
            %input#worker_contract_end_date.string.optional.form-control{'name'=>'worker_contract[end_date]', type: "date"}
          .col-md-4
            %label Duración del Contrato
            = text_field_tag 'worker_contract[days]', nil, class: 'form-control', id: 'worker_contract_days', placeholder: 'Días'


      %footer{ style: "margin-top: 20px;" }
        %button.btn.btn-primary#smart-mod-eg1{type: "button"}
          %i.fa.fa-save 
          Realizar Contrato
        %button.btn.btn-info{"data-dismiss" => "modal", type: "button"}
          Cancelar

:javascript
  $(document).ready(function () {
    $('select').select2({width:'320px'});

    $('#article-select').select2({
      placeholder: "Buscar Cargos...",
      minimumInputLength: 3,
      ajax: {
        url: "#{display_articles_personal_production_worker_contracts_path}",
        dataType: 'json',
        type: 'POST',
        quietMillis: 100,
        data: function(term, page){
          return {
            q: term,
            page: page,
            authenticity_token: "#{form_authenticity_token}"
          };
        },
        results: function(data, page){
          return {results: data.articles};
        }
      },
      formatResult: function(node){ return '<div>' + node.code + ' - ' + node.name + ' - ' + node.symbol + '</div>' },
      formatSelection: function(node){ return (node.code + ' - ' + node.name + ' - ' + node.symbol) },
      escapeMarkup: function (m) { return m; }
    });

  });

  $("#smart-mod-eg1").click(function(e) {
    $.SmartMessageBox({
      title : "Verificación",
      content : "¿Está seguro?",
      buttons : '[No][Yes]'
    }, function(ButtonPressed) {
      if (ButtonPressed === "Yes") {
        load_url_ajax('#{approve_production_worker_path(@worker.id)}', 'content', {worker_id: '#{@worker.id}', article_id: $('#article').val(), camp: $('#camp').val(), bonus: $('#bonus').val(), viatical: $('#viatical').val(), destaque: $('#destaque').val(), regime: $('#regime').val(), days: $('#worker_contract_days').val(), start_date: $('#worker_contract_start_date').val(), end_date: $('#worker_contract_end_date').val(), salary: $('#salary').val(), numberofcontract: $('#numberofcontract').val(), typeofcontract: "Contrato", contract_type_id: $('#typecontract').val()}, null, 'GET');
        $('.modal-backdrop.fade.in').remove();
        $.smallBox({
          title : "Exito",
          content : "<i class='fa fa-clock-o'></i> <i>Haz finalizado el contrato</i>",
          color : "#659265",
          iconSmall : "fa fa-check fa-2x fadeInRight animated",
          timeout : 4000
        });
      }
      if (ButtonPressed === "No") {
        $.smallBox({
          title : "Aviso",
          content : "<i class='fa fa-clock-o'></i> <i>Ha cancelado la operación</i>",
          color : "#C46A69",
          iconSmall : "fa fa-times fa-2x fadeInRight animated",
          timeout : 4000
        });
      }

    });
    e.preventDefault();
  })

  $('#worker_contract_days').change(function(){
    var start_date = $('#worker_contract_start_date').val();
    var dias = $('#worker_contract_days').val();
    var dias2 = parseInt(dias)
    var d1 = start_date.split("-");
    var dat1 = new Date(d1[0], parseFloat(d1[1])-1, parseFloat(d1[2]));
    var end_date = new Date(dat1);
    end_date.setDate(dat1.getDate() + dias2 - 1);
    day = String(end_date.getDate());
    month = String(end_date.getMonth()+1);
    year = String(end_date.getFullYear());
    if(day.length<2){
      day = "0"+day;
    }
    if(month.length<2){
      month = "0"+month;
    }
    end_date2 = year+"-"+month+"-"+day;
    $('#worker_contract_end_date').val(end_date2);
  });

  $('#worker_contract_start_date').change(function(){
    var start_date = $('#worker_contract_start_date').val();
    var end_date = $('#worker_contract_end_date').val();
    var d1 = start_date.split("-");
    var dat1 = new Date(d1[0], parseFloat(d1[1])-1, parseFloat(d1[2]));
    var d2 = end_date.split("-");
    var dat2 = new Date(d2[0], parseFloat(d2[1])-1, parseFloat(d2[2]));
    var fin = dat2.getTime() - dat1.getTime();
    var dias = (Math.floor(fin / (1000 * 60 * 60 * 24))+1);
    $('#worker_contract_days').val(dias);
  });

  $('#worker_contract_end_date').change(function(){
    var start_date = $('#worker_contract_start_date').val();
    var end_date = $('#worker_contract_end_date').val();
    var d1 = start_date.split("-");
    var dat1 = new Date(d1[0], parseFloat(d1[1])-1, parseFloat(d1[2]));
    var d2 = end_date.split("-");
    var dat2 = new Date(d2[0], parseFloat(d2[1])-1, parseFloat(d2[2]));
    var fin = dat2.getTime() - dat1.getTime();
    var dias = (Math.floor(fin / (1000 * 60 * 60 * 24))+1);
    $('#worker_contract_days').val(dias);
  });