%html
  %head
    %meta{charset: "utf-8"}
    = wicked_pdf_stylesheet_link_tag "bootstrap.min", media: "screen", rel: "stylesheet", type: "text/css"
  %body
    #main
      #content
        %table.table.table-bordered
          %thead
            %tr
              %th{'colspan' => 6, "style"=>"text-align:center;font-size: 12px;"}= "LISTADO DE TRABAJADORES - ARSAC - " + @cc.code.to_s + " - " + @cc.name.to_s
            %tr{"style"=> "font-size:12px;"}
              %th{"style"=>"text-align:center;margin:0px;padding:3px;"} Item
              %th{"style"=>"text-align:center;margin:0px;padding:3px;"} Código TOBI
              %th{"style"=>"text-align:center;margin:0px;padding:3px;"} Puesto
              %th{"style"=>"text-align:center;margin:0px;padding:3px;"} Nombre
              %th{"style"=>"text-align:center;margin:0px;padding:3px;"} DNI
              %th{"style"=>"text-align:center;margin:0px;padding:3px;"} Dirección
          %tbody{"style"=> "font-size:12px"}
            -@i=1
            -if @todo.count>0
              -@todo.each do |to|
                -if to[0].nil? && to[5].nil?
                  %tr{"bgcolor"=>"#222222"}
                    -if to[1].to_s=="Activo"
                      %th{'colspan' => 6, "style"=>"text-align:left; background-color: #222222; font-weight: bold;color:white;margin:0px;padding:5px "}
                        %label{"style"=>"margin-left:50px"}=to[1].to_s
                    -if to[1].to_s=="Cesado"
                      %th{'colspan' => 6, "style"=>"text-align:left; background-color: #222222; font-weight: bold;color:white;margin:0px;padding:3px; "}
                        %label{"style"=>"margin-left:50px"}=to[1].to_s
                  -@i=1
                -elsif to[0].nil? && to[5]==0
                  %tr{"bgcolor"=>"#626262"}
                    %th{"style"=>"text-align:left;font-weight: bold;font-size:8px;color:white;margin:0px;padding:3px;"}
                    %th{'colspan' => 5, "style"=>"text-align:left; font-weight: bold;color:white;margin:0px;padding:3px; "}= to[1].to_s
                  -@i=1
                -else
                  -if to[1].nil? && to[0].to_s.length == 2
                    %tr
                      %th{"style"=>"text-align:left; background-color: #1E486E;color:white; font-weight: bold;font-size:8px;margin:0px;padding:3px; "}
                      %th{"style"=>"text-align:left; background-color: #1E486E;color:white; font-weight: bold;font-size:8px "}= to[0]
                      %th{'colspan' => 8, "style"=>"text-align:left; background-color: #1E486E;color:white; font-weight: bold;font-size:8px "}= Category.find_by_code(to[0].to_s).name
                    -@i=1
                  -elsif to[1].nil? && to[0].to_s.length == 4
                    %tr
                      %th{"style"=>"text-align:left; background-color: #296191;color:white; font-weight: bold;font-size:8px;margin:0px;padding:3px;"}
                      %th{"style"=>"text-align:left; background-color: #296191;color:white; font-weight: bold;font-size:8px"}= to[0]
                      %th{'colspan' => 8, "style"=>"text-align:left; background-color: #296191;color:white; font-weight: bold;font-size:8px"}= Category.find_by_code(to[0].to_s).name
                    -@i=1
                  -elsif to[1].nil? && to[0].to_s.length == 6
                    %tr
                      %th{"style"=>"text-align:left; background-color: #3593BB;color:white; font-weight: bold;font-size:8px;margin:0px;padding:3px; "}
                      %th{"style"=>"text-align:left; background-color: #3593BB;color:white; font-weight: bold;font-size:8px "}= to[0]
                      %th{'colspan' => 8,"style"=>"text-align:left; background-color: #3593BB;color:white; font-weight: bold;font-size:8px "}= Category.find_by_code(to[0].to_s).name
                    -@i=1
                  -else
                    %tr
                      %th{"style"=>"text-align:left; font-weight: normal;font-size:8px;margin:0px;padding:3px;"}= @i
                      %th{"style"=>"text-align:left; font-weight: normal;font-size:8px;margin:0px;padding:3px;"}= to[0].to_s
                      %th{"style"=>"text-align:left; font-weight: normal;font-size:8px;margin:0px;padding:3px;"}= to[1].to_s
                      %th{"style"=>"text-align:left; font-weight: normal;font-size:8px;margin:0px;padding:3px;"}= to[2].to_s
                      %th{"style"=>"text-align:left; font-weight: normal;font-size:8px;margin:0px;padding:3px;"}= to[3].to_s
                      %th{"style"=>"text-align:left; font-weight: normal;font-size:8px;margin:0px;padding:3px;"}= to[4].to_s + " "+ to[5].to_s
                    -@i+=1
            -else
              %th{'colspan' => 6, "style"=>"text-align:center;font-size: large;"} No se encontraron trabajadores registrados con los datos especificados