#content-inside
  .row
    %article.col-sm-12.col-md-12.col-lg-12
      #wid-id-0.jarviswidget.jarviswidget-color-greenDark{"data-widget-collapsed" => "false", "data-widget-deletebutton" => "false", "data-widget-editbutton" => "false"}
        %header
          %h2 Formulario del Trabajador
        %div
          .jarviswidget-editbox
            / This area used as dropdown edit box
          .widget-body.no-padding
            %table.table.table-hover
              %thead
                %tr
                  %th{"style"=>"text-align:center;font-size: large",'colspan' => 6} Datos Generales
              %tbody
                %tr
                  %th Nombre Completo
                  %th{'colspan' => 5}= @worker.entity.paternal_surname.to_s + ' ' + @worker.entity.maternal_surname.to_s + ' ' + @worker.entity.name.to_s + ' ' + @worker.entity.second_name.to_s
                %tr
                  %th Cargo del Trabajador
                  %th{'colspan' => 2,"style"=>"font-weight: 500"}= @worker.position_worker.name
                  %th Fecha de Nacimiento
                  %th{'colspan' => 2,"style"=>"font-weight: 500"}= @worker.entity.date_of_birth.to_s
                %tr
                  %th DNI
                  %th{'colspan' => 2,"style"=>"font-weight: 500"}= @worker.entity.dni.to_s
                  %th Carnet de Extranjeria
                  %th{'colspan' => 2,"style"=>"font-weight: 500"}= @worker.entity.alienslicense.to_s
                %tr
                  %th Email
                  %th{'colspan' => 2,"style"=>"font-weight: 500"}= @worker.email
                  %th Estado Civil
                  %th{'colspan' => 2,"style"=>"font-weight: 500"}= @worker.maritalstatus
                %tr
                  %th Teléfono
                  %th{'colspan' => 2,"style"=>"font-weight: 500"}= @worker.phone
                  %th Celular
                  %th{'colspan' => 2,"style"=>"font-weight: 500"}= @worker.cellphone
                %tr
                  %th Licencia de Conducir
                  %th{'colspan' => 2,"style"=>"font-weight: 500"}= @worker.driverlicense
                  %th CUSPP
                  %th{'colspan' => 2,"style"=>"font-weight: 500"}= @worker.worker_afps.last.afpnumber rescue ''
                %thead
                  %tr
                    %th{"style"=>"text-align:center;font-size: large",'colspan' => 6} Lugar de Nacimiento
                %tbody
                  %th Ciudad
                  %th{"style"=>"font-weight: 500"}= @worker.entity.city
                  %th Provincia
                  %th{"style"=>"font-weight: 500"}= @worker.entity.province
                  %th Departamento
                  %th{"style"=>"font-weight: 500"}= @worker.entity.department
                %thead
                  %tr
                    %th{"style"=>"text-align:center;font-size: large",'colspan' => 6} Residencia Actual
                %tbody
                  %tr
                    %th Direccion
                    %th{'colspan' => 3,"style"=>"font-weight: 500"}= @worker.address
                    %th Pais
                    %th{"style"=>"font-weight: 500"}= @worker.pais
                  %th Distrito
                  %th{"style"=>"font-weight: 500"}= @worker.district
                  %th Provincia
                  %th{"style"=>"font-weight: 500"}= @worker.province
                  %th Departamento
                  %th{"style"=>"font-weight: 500"}= @worker.department
                %thead
                  %tr
                    %th{"style"=>"text-align:center;font-size: large",'colspan' => 6} Otros Datos
                %tbody
                  %th Discapacitado
                  %th{"style"=>"font-weight: 500"}= @worker.disabled
                  %th Sindicalizado
                  %th{"style"=>"font-weight: 500"}= @worker.unionized
                  %th{"style"=>"width: 300px"} Percibe rentas de 5ta exoneradas (Inc. e) Art. 19 de la LIR
                  %th{"style"=>"font-weight: 500"}= @worker.income_fifth_category
                  %tr
                    %th Jornada Laboral
                    %th{'colspan' => 3,"style"=>"font-weight: 500"}= @worker.address
                    %th Cantidad de Hijos
                    %th{"style"=>"font-weight: 500"}= @worker.numberofchilds.to_s
  %br
  %article.col-sm-12.col-md-12.col-lg-12
    #wid-id-0.jarviswidget.jarviswidget-color-greenDark{"data-widget-collapsed" => "false", "data-widget-deletebutton" => "false", "data-widget-editbutton" => "false"}
      %header
        %span.widget-icon
          %i.fa.fa-table
        %h2 Estudios
      %div
        .jarviswidget-editbox
          / This area used as dropdown edit box
        .widget-body.no-padding
          %table.table.table-hover
            %thead
              %tr
                %th Nivel
                %th Escuela/Colegio
                %th Lugar
                %th Inicio
                %th Fin
            %tbody
              %tr
                %td Primaria
                %td
                  = @worker.primaryschool.to_s
                %td
                  = @worker.primarydistrict.to_s
                %td
                  = @worker.primarystartdate.to_s
                %td
                  = @worker.primaryenddate.to_s
              %tr
                %td Secundaria
                %td
                  = @worker.highschool.to_s
                %td
                  = @worker.highschooldistrict.to_s
                %td
                  = @worker.highschoolstartdate.to_s
                %td
                  = @worker.highschoolenddate.to_s
  -if @worker_afps.count>0
    %br

    %article.col-sm-12.col-md-12.col-lg-12
      #wid-id-0.jarviswidget.jarviswidget-color-greenDark{"data-widget-collapsed" => "false", "data-widget-deletebutton" => "false", "data-widget-editbutton" => "false"}
        %header
          %span.widget-icon
            %i.fa.fa-table
          %h2 AFP
        %div
          .jarviswidget-editbox
            / This area used as dropdown edit box
          .widget-body.no-padding
            %table.table.table-hover
              %thead
                %tr
                  %th AFP
                  %th Tipo AFP
                  %th Dia de Inicio
                  %th Dia de Fin
              %tbody
                - @worker_afps.each do |worker_afps|
                  %tr
                    %td
                      = worker_afps.afp.enterprise.to_s
                    %td
                      = worker_afps.afptype.to_s
                    %td
                      = worker_afps.start_date.to_s
                    %td
                      = worker_afps.end_date.to_s
  -if @worker_details.count>0
    %br

    %article.col-sm-12.col-md-12.col-lg-12
      #wid-id-0.jarviswidget.jarviswidget-color-greenDark{"data-widget-collapsed" => "false", "data-widget-deletebutton" => "false", "data-widget-editbutton" => "false"}
        %header
          %span.widget-icon
            %i.fa.fa-table
          %h2 Bancos
        %div
          .jarviswidget-editbox
            / This area used as dropdown edit box
          .widget-body.no-padding
            %table.table.table-hover
              %thead
                %tr
                  %th Banco
                  %th Numero de Cuenta
              %tbody
                - @worker_details.each do |worker_details|
                  %tr
                    %td
                      = worker_details.bank.business_name.to_s
                    %td
                      = worker_details.account_number.to_s
  -if @worker_familiars.count>0
    %br

    %article.col-sm-12.col-md-12.col-lg-12
      #wid-id-0.jarviswidget.jarviswidget-color-greenDark{"data-widget-collapsed" => "false", "data-widget-deletebutton" => "false", "data-widget-editbutton" => "false"}
        %header
          %span.widget-icon
            %i.fa.fa-table
          %h2 Familiares
        %div
          .jarviswidget-editbox
            / This area used as dropdown edit box
          .widget-body.no-padding
            %table.table.table-hover
              %thead
                %tr
                  %th Apellido Paterno
                  %th Apellido Materno
                  %th Nombres
                  %th Parentezco
                  %th Fecha de Nacimiento
                  %th DNI
              %tbody
                - @worker_familiars.each do |worker_familiars|
                  %tr
                    %td
                      = worker_familiars.paternal_surname.to_s
                    %td
                      = worker_familiars.maternal_surname.to_s
                    %td
                      = worker_familiars.names.to_s
                    %td
                      = worker_familiars.relationship.to_s
                    %td
                      = worker_familiars.dayofbirth.to_s
                    %td
                      = worker_familiars.dni.to_s
  -if @worker_healths.count>0
    %br

    %article.col-sm-12.col-md-12.col-lg-12
      #wid-id-0.jarviswidget.jarviswidget-color-greenDark{"data-widget-collapsed" => "false", "data-widget-deletebutton" => "false", "data-widget-editbutton" => "false"}
        %header
          %span.widget-icon
            %i.fa.fa-table
          %h2 Centros de Salud
        %div
          .jarviswidget-editbox
            / This area used as dropdown edit box
          .widget-body.no-padding
            %table.table.table-hover
              %thead
                %tr
                  %th Regimen
                  %th Centro de Salud
                  %th Dia de Inicio
                  %th Dia de Fin
              %tbody
                - @worker_healths.each do |worker_healths|
                  %tr
                    %td
                      = worker_healths.health_regime.to_s
                    %td
                      = worker_healths.health_center.enterprise.to_s rescue ''
                    %td
                      = worker_healths.start_date.to_s
                    %td
                      = worker_healths.end_date.to_s
  -if @worker_center_of_studies.count>0
    %br

    %article.col-sm-12.col-md-12.col-lg-12
      #wid-id-0.jarviswidget.jarviswidget-color-greenDark{"data-widget-collapsed" => "false", "data-widget-deletebutton" => "false", "data-widget-editbutton" => "false"}
        %header
          %span.widget-icon
            %i.fa.fa-table
          %h2 Centros de Estudio
        %div
          .jarviswidget-editbox
            / This area used as dropdown edit box
          .widget-body.no-padding
            %table.table.table-hover
              %thead
                %tr
                  %th Universidad / Instituto
                  %th Profesion
                  %th Titulo
                  %th Numero de Coleg.
                  %th Dia de Inicio
                  %th Dia de Fin
              %tbody
                - @worker_center_of_studies.each do |worker_center_of_studies|
                  %tr
                    %td
                      = worker_center_of_studies.name.to_s
                    %td
                      = worker_center_of_studies.profession.to_s
                    %td
                      = worker_center_of_studies.title.to_s
                    %td
                      = worker_center_of_studies.numberoftuition.to_s
                    %td
                      = worker_center_of_studies.start_date.to_s
                    %td
                      = worker_center_of_studies.end_date.to_s
  -if @worker_otherstudies.count>0
    %br

    %article.col-sm-12.col-md-12.col-lg-12
      #wid-id-0.jarviswidget.jarviswidget-color-greenDark{"data-widget-collapsed" => "false", "data-widget-deletebutton" => "false", "data-widget-editbutton" => "false"}
        %header
          %span.widget-icon
            %i.fa.fa-table
          %h2 Otros Estudios
        %div
          .jarviswidget-editbox
            / This area used as dropdown edit box
          .widget-body.no-padding
            %table.table.table-hover
              %thead
                %tr
                  %th Estudio
                  %th Nivel
              %tbody
                - @worker_otherstudies.each do |worker_otherstudies|
                  %tr
                    %td
                      = worker_otherstudies.study.to_s
                    %td
                      = worker_otherstudies.level.to_s
  -if @worker_experiences.count>0
    %br

    %article.col-sm-12.col-md-12.col-lg-12
      #wid-id-0.jarviswidget.jarviswidget-color-greenDark{"data-widget-collapsed" => "false", "data-widget-deletebutton" => "false", "data-widget-editbutton" => "false"}
        %header
          %span.widget-icon
            %i.fa.fa-table
          %h2 Experiencia Laboral
        %div
          .jarviswidget-editbox
            / This area used as dropdown edit box
          .widget-body.no-padding
            %table.table.table-hover
              %thead
                %tr
                  %th Empresa
                  %th Cargo
                  %th Salario
                  %th Jefe Inmediato
                  %th Motivo de Salida
                  %th Fecha de Inicio
                  %th Fecha de Fin
              %tbody
                - @worker_experiences.each do |worker_experiences|
                  %tr
                    %td
                      = worker_experiences.businessname.to_s
                    %td
                      = worker_experiences.title.to_s
                    %td
                      = worker_experiences.salary.to_s
                    %td
                      = worker_experiences.bossincharge.to_s
                    %td
                      = worker_experiences.exitreason.to_s
                    %td
                      = worker_experiences.start_date.to_s
                    %td
                      = worker_experiences.end_date.to_s

  %article.col-sm-12.col-md-12.col-lg-12
    #wid-id-2.jarviswidget.jarviswidget-color-greenDark{"data-widget-collapsed" => "false", "data-widget-deletebutton" => "false", "data-widget-editbutton" => "false"}
      %header
        %span.widget-icon
          %i.fa.fa-table
        %h2 Documentos
      %div
        .jarviswidget-editbox
          / This area used as dropdown edit box
        .widget-body.no-padding
          .alert.alert-info.no-margin.fade.in
            %button.close{"data-dismiss" => "alert"}
              ×
            %i.fa-fw.fa.fa-info
            Documentos subidos de la Obra
          .col-sm-12
            .row
              %table.table.table-bordered
                %thead
                  %tr
                    %th Nombre del Documento
                    %th Documento
                %tbody
                  - if @worker.cv_file_name != nil
                    %tr
                      %td Curriculum Vitae
                      %td
                        %a.btn.btn-info.btn-xs{:href =>"#{@worker.cv.url}", :target => "_blank"}
                          %i.fa.fa-clipboard
                  - if @worker.antecedent_police_file_name != nil
                    %tr
                      %td Certificado de Antecedentes Policiales
                      %td
                        %a.btn.btn-info.btn-xs{:href =>"#{@worker.antecedent_police.url}", :target => "_blank"}
                          %i.fa.fa-clipboard
                  - if @worker.dni_file_name != nil
                    %tr
                      %td Documento Nacional de Identidad
                      %td
                        %a.btn.btn-info.btn-xs{:href =>"#{@worker.dni.url}", :target => "_blank"}
                          %i.fa.fa-clipboard
                  - if @worker.cts_deposit_letter_file_name != nil
                    %tr
                      %td Carta de Deposito de C.T.S.
                      %td
                        %a.btn.btn-info.btn-xs{:href =>"#{@worker.cts_deposit_letter.url}", :target => "_blank"}
                          %i.fa.fa-clipboard
                  - if @worker.pension_funds_letter_file_name != nil
                    %tr
                      %td Carta de Fondos Previsionales
                      %td
                        %a.btn.btn-info.btn-xs{:href =>"#{@worker.pension_funds_letter.url}", :target => "_blank"}
                          %i.fa.fa-clipboard
                  - if @worker.affidavit_file_name != nil
                    %tr
                      %td Declaración Jurada
                      %td
                        %a.btn.btn-info.btn-xs{:href =>"#{@worker.affidavit.url}", :target => "_blank"}
                          %i.fa.fa-clipboard
                  - if @worker.marriage_certificate_file_name != nil
                    %tr
                      %td Certificado de Convivencia / Partida de Matrimonio
                      %td
                        %a.btn.btn-info.btn-xs{:href =>"#{@worker.marriage_certificate.url}", :target => "_blank"}
                          %i.fa.fa-clipboard
                  - if @worker.birth_certificate_of_childer_file_name != nil
                    %tr
                      %td Partida de Nacimiento de Hijos
                      %td
                        %a.btn.btn-info.btn-xs{:href =>"#{@worker.birth_certificate_of_childer.url}", :target => "_blank"}
                          %i.fa.fa-clipboard
                  - if @worker.dni_wife_kids_file_name != nil
                    %tr
                      %td DNI Hijos y Esposa
                      %td
                        %a.btn.btn-info.btn-xs{:href =>"#{@worker.dni_wife_kids.url}", :target => "_blank"}
                          %i.fa.fa-clipboard
                  - if @worker.schoolar_certificate_file_name != nil
                    %tr
                      %td Constancia de Matricula (Asig. Escolar)
                      %td
                        %a.btn.btn-info.btn-xs{:href =>"#{@worker.schoolar_certificate.url}", :target => "_blank"}
                          %i.fa.fa-clipboard

%button.btn.btn-sm.btn-primary.btn-prev#backlist{type: "button"}
  %i.fa.fa-arrow-left>
  Retornar al listado de Trabajadores

:javascript

  $('#backlist').click(function(){
      load_url_ajax("#{production_workers_path}", 'content', {company_id: '#{@company}'}, null, 'GET');
  });