!!!
%html{lang: "en-us"}
  %head
    %meta{charset: "utf-8"}/
    / <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    %title SmartAdmin
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    /
      Use the correct meta names below for your web application
      Ref: http://davidbcalhoun.com/2010/viewport-metatag
      
      <meta name="HandheldFriendly" content="True">
      <meta name="MobileOptimized" content="320">
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", name: "viewport"}/
    / Basic Styles
    = stylesheet_link_tag "bootstrap.min", media: "screen", rel: "stylesheet", type: "text/css"
    = stylesheet_link_tag "font-awesome.min", media: "screen", rel: "stylesheet", type: "text/css"
    
    / SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables
    = stylesheet_link_tag "smartadmin-production", media: "screen", rel: "stylesheet", type: "text/css"
    = stylesheet_link_tag "smartadmin-skins", media: "screen", rel: "stylesheet", type: "text/css"
    /
      SmartAdmin RTL Support is under construction
      <link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-rtl.css">
    / Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp
    = stylesheet_link_tag "demo", media: "screen", rel: "stylesheet", type: "text/css"
    / GOOGLE FONT
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700", rel: "stylesheet"}/
  %body#login.animated.fadeInDown
    / possible classes: minified, no-right-panel, fixed-ribbon, fixed-header, fixed-width
    %header#header
      / <span id="logo"></span>
      #logo-group
        %span#logo
          = image_tag 'logo.png', alt: "SmartAdmin"
        / END AJAX-DROPDOWN
    #main{role: "main"}
      / MAIN CONTENT
      #content.container
        .row
          .col-xs-12.col-sm-12.col-md-7.col-lg-8.hidden-xs.hidden-sm
            %h1.txt-color-red.login-header-big SmartAdmin
            .hero
              .pull-left.login-desc-box-l
                %h4.paragraph-header It's Okay to be Smart. Experience the simplicity of SmartAdmin, everywhere you go!
                .login-app-icons
                  %a.btn.btn-danger.btn-sm{href: "javascript:void(0);"} Frontend Template
                  %a.btn.btn-danger.btn-sm{href: "javascript:void(0);"} Find out more
              = image_tag 'demo/iphoneview.png', alt: "SmartAdmin", class: "pull-right display-image", style: "width:210px"
            .row
              .col-xs-12.col-sm-12.col-md-6.col-lg-6
                %h5.about-heading About SmartAdmin - Are you up to date?
                %p
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.
              .col-xs-12.col-sm-12.col-md-6.col-lg-6
                %h5.about-heading Not just your average template!
                %p
                  Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi voluptatem accusantium!
          .col-xs-12.col-sm-12.col-md-5.col-lg-4
            .well.no-padding
              = form_for(resource, :as => resource_name, :html => {:class => "smart-form client-form", :id => "signup-form"}, :url => registration_path(resource_name)) do |f|
                %header
                  Sign Up
                %fieldset
                  %section
                    %label.label E-mail
                    %label.input
                      %i.icon-append.fa.fa-user
                      = f.email_field :email, :autofocus => true
                      %b.tooltip.tooltip-top-right
                        %i.fa.fa-user.txt-color-teal
                        Please enter email address
                  %section
                    %label.label Password
                    %label.input
                      %i.icon-append.fa.fa-lock
                      = f.password_field :password
                      %b.tooltip.tooltip-top-right
                        %i.fa.fa-lock.txt-color-teal
                        Enter your password
                  %section
                    %label.label Password Confirmation
                    %label.input
                      %i.icon-append.fa.fa-lock
                      = f.password_field :password_confirmation
                      %b.tooltip.tooltip-top-right
                        %i.fa.fa-lock.txt-color-teal
                        Enter again your password
                %footer
                  %button.btn.btn-primary{type: "submit"}
                    Sign Up

    / ==================================================
    /
      PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)
      <script data-pace-options='{ "restartOnRequestAfter": true }' src="js/plugin/pace/pace.min.js"></script>
    / Link to Google CDN's jQuery + jQueryUI; fall back to local
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"
    :javascript
      if (!window.jQuery) { document.write('<script src="js/libs/jquery-2.0.2.min.js"><\/script>');}
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"
    :javascript
      if (!window.jQuery.ui) { document.write('<script src="js/libs/jquery-ui-1.10.3.min.js"><\/script>');}
    /
      JS TOUCH : include this plugin for mobile drag / drop touch events
      <script src="js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script>
    / BOOTSTRAP JS
    = javascript_include_tag 'bootstrap/bootstrap.min'
    / CUSTOM NOTIFICATION
    = javascript_include_tag 'notification/SmartNotification.min'
    / JARVIS WIDGETS
    = javascript_include_tag 'smartwidgets/jarvis.widget.min'
    / EASY PIE CHARTS
    = javascript_include_tag 'plugin/easy-pie-chart/jquery.easy-pie-chart.min'
    / SPARKLINES
    = javascript_include_tag 'plugin/sparkline/jquery.sparkline.min'
    / JQUERY VALIDATE
    = javascript_include_tag 'plugin/jquery-validate/jquery.validate.min'
    / JQUERY MASKED INPUT
    = javascript_include_tag 'plugin/masked-input/jquery.maskedinput.min'
    / JQUERY SELECT2 INPUT
    = javascript_include_tag 'plugin/select2/select2.min'
    / JQUERY UI + Bootstrap Slider
    = javascript_include_tag 'plugin/bootstrap-slider/bootstrap-slider.min'
    / browser msie issue fix
    = javascript_include_tag 'plugin/msie-fix/jquery.mb.browser.min'
    / SmartClick: For mobile devices
    = javascript_include_tag 'plugin/smartclick/smartclick'
    /[if IE 7]
      <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
    / MAIN APP JS FILE
    = javascript_include_tag 'app'
    :javascript
      runAllForms();

      $(function() {
        // Validation
        $("#login-form").validate({
          // Rules for form validation
          rules : {
            'user[email]' : {
              required : true,
              email : true
            },
            'user[password]' : {
              required : true,
              minlength : 8
            },
            'user[password_confirmation]' : {
              required : true,
              minlength : 8
            }
          },

          // Messages for form validation
          messages : {
            'user[email]' : {
              required : 'Please enter your email address',
              email : 'Please enter a VALID email address'
            },
            'user[password]' : {
              required : 'Please enter your password'
            },
            'user[password_confirmation]' : {
              required : 'Please re-enter your password for confirmation',
            }
          },

          // Do not change code below
          errorPlacement : function(error, element) {
            error.insertAfter(element.parent());
          }
        });
      });