#wid-id-0.jarviswidget.jarviswidget-color-darken{"data-widget-editbutton" => "false", "data-widget-deletebutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-table
    %h2 Lista de Ingresos a Almacén
  %div
    .jarviswidget-editbox
    .widget-body.no-padding
      .widget-body-toolbar
      %table#dt_basic.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th Código
            %th Fecha de eliminación
            %th Usuario que eliminó
            %th Descripcion
            %th Acciones
        %tbody
          - @orders.each do |unit|
            %tr
              %td 
                = unit.code.to_s
              %td
                = unit.date_of_elimination.strftime("%d/%m/%Y").to_s
              %td
                -person = User.find(unit.user_id_historic)
                = person.first_name + " " + person.last_name + " " + person.surname
              %td
                = unit.description
              %td
                %a.btn.btn-info.btn-xs{:onclick => "javascript:load_url_ajax('#{logistics_historic_order_of_service_path(unit.id)}', 'content', null, null, 'GET')"}
                  Ver información

:javascript
  // DO NOT REMOVE : GLOBAL FUNCTIONS!
  pageSetUp();

  $(document).ready(function () {
    $('[data-toggle="confirmation"]').confirmation();

    $('#body-summary-purchase-orders tr td a').tooltip('hide');
  });
  
  // PAGE RELATED SCRIPTS

  loadDataTableScripts();
  function loadDataTableScripts() {

    loadScript("#{ asset_path 'plugin/datatables/jquery.dataTables-cust.min', type: :javascript }", dt_2);

    function dt_2() {
      loadScript("#{ asset_path 'plugin/datatables/ColReorder.min', type: :javascript }", dt_3);
    }

    function dt_3() {
      loadScript("#{ asset_path 'plugin/datatables/FixedColumns.min.js', type: :javascript }", dt_4);
    }

    function dt_4() {
      loadScript("#{ asset_path 'plugin/datatables/ColVis.min', type: :javascript }", dt_5);
    }

    function dt_5() {
      loadScript("#{ asset_path 'plugin/datatables/ZeroClipboard', type: :javascript }", dt_6);
    }

    function dt_6() {
      loadScript("#{ asset_path 'plugin/datatables/media/js/TableTools.min', type: :javascript }", dt_7);
    }

    function dt_7() {
      loadScript("#{ asset_path 'plugin/datatables/DT_bootstrap', type: :javascript }", runDataTables);
    }

  }

  function runDataTables() {

    /*
     * BASIC
     */
    $('#dt_basic').dataTable({
      "sPaginationType" : "bootstrap_full"
    });

    /* END BASIC */

    $('#dt_basic_wrapper').removeClass("dataTables_wrapper");

    /* Add the events etc before DataTables hides a column */
    $("#dt_basic thead input").keyup(function() {
      oTable.fnFilter(this.value, oTable.oApi._fnVisibleToColumnIndex(oTable.fnSettings(), $("thead input").index(this)));
    });

    $("#dt_basic thead input").each(function(i) {
      this.initVal = this.value;
    });
    $("#dt_basic thead input").focus(function() {
      if (this.className == "search_init") {
        this.className = "";
        this.value = "";
      }
    });
    $("#dt_basic thead input").blur(function(i) {
      if (this.value == "") {
        this.className = "search_init";
        this.value = this.initVal;
      }
    });
  }