#wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-eye
    %h2 Formulario de Registro
  %div
    .jarviswidget-editbox
    .widget-body
      - if @action == 'edit'
        = simple_form_for(@costCenter, url: logistics_cost_center_path, :method => :patch, html: {class: 'form-horizontal' }) do |f|
          %fieldset
            .form-group
              %label.col-md-2.control-label{for: "code"} C贸digo
              .col-md-10
                = f.input :code, placeholder: "C贸digo", input_html: { class: 'form-control' }, label: false        
            .form-group
              %label.col-md-2.control-label{for: "name"} Nombre
              .col-md-10
                = f.input :name, placeholder: "Nombre del sector", :input_html => {:class => 'form-control'}, label: false
          .form-actions
            .row
              .col-md-12
                %button.btn.btn-primary{type: "submit"}
                  %i.fa.fa-save
                    Guardar
      - else
        = simple_form_for(@costCenter, url: logistics_cost_centers_path, html: {class: 'form-horizontal' }) do |f|
          %fieldset
            .form-group
              %label.col-md-2.control-label{for: "code"} C贸digo
              .col-md-10
                = f.input :code, placeholder: "C贸digo", input_html: { class: 'form-control' }, label: false        
            .form-group
              %label.col-md-2.control-label{for: "name"} Nombre
              .col-md-10
                = f.input :name, placeholder: "Nombre del sector", :input_html => {:class => 'form-control'}, label: false
          .form-actions
            .row
              .col-md-12
                %button.btn.btn-primary{type: "submit"}
                  %i.fa.fa-save
                    Guardar

:javascript
  $(document).ready(function () {
    $("#cost_center_code").focus();
  });

  $('#new_cost_center').ajaxForm({
    target: '#content'
  });

  $('form[id^="edit_"]').ajaxForm({
    target: '#content'
  });
