#wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-eye
    %h2 Grupo de Trabajo
  .widget-body
    = simple_form_for([:production, @workingGroup], html: {class: 'form-horizontal smart-form', autocomplete: 'off' }) do |f|
      %fieldset
        .row{ 'style' => 'display:none' }
          %input{ 'name' => 'company_id', 'value' => "#{@company_id}", 'readonly' => true, 'style' => 'display:none' }
        .row
          %section.col.col-10
            %label.label Sector
            %label.input{for: "sector_id"}
              %select.form-control{:name =>"working_group[sector_id]", :style => 'width:100%;padding: 0;border: none;'}
                - @sectors.each do |sector|
                  %optgroup{:label => "#{sector.name}"}
                    - Sector.getSubSectors(sector.code).each do |subsector|
                      - if @workingGroup.sector_id == subsector.id
                        %option{:value => "#{subsector.id}", :selected => true}
                          = subsector.name
                      - else
                        %option{:value => "#{subsector.id}"}
                          = subsector.name
        .row
          %section.col.col-10
            %label.label Jefe de Frente
            %label.input{for: "front_chief_id"}
              %select.form-control{:name =>"working_group[front_chief_id]", :style => 'width:100%;padding: 0;border: none;'}
                - @front_chiefs.each do |front_chief|
                  %option{:value => "#{front_chief.id}"}
                    = front_chief.name
        .row
          %section.col.col-10
            %label.label Ejecutor
            %label.input{for: "executor_id"}
              %select.form-control{:name =>"working_group[executor_id]", :style => 'width:100%;padding: 0;border: none;'}
                - @executors.each do |executor|
                  %option{:value => "#{executor.id}"}
                    = executor.name
        .row
          %section.col.col-10
            %label.label Maestro de Obra
            %label.input{for: "master_builder_id"}
              %select.form-control{:name =>"working_group[master_builder_id]", :style => 'width:100%;padding: 0;border: none;'}
                - @master_builders.each do |master_builder|
                  %option{:value => "#{master_builder.id}"}
                    = master_builder.name
        .row
          %section.col.col-10
            %label.label Activo
            %label.checkbox
              = check_box_tag 'working_group[active]', nil, nil, { class: 'checkbox working_group_active' }
              %i
      %footer
        %button.btn.btn-primary{type: "submit"}
          %i.fa.fa-save 
          Guardar

:javascript
  $(document).ready(function () {
    $('select').select2();

    if($('form[id^="edit_"]').length > 0) {
      submit_validate($('form[id^="edit_"]'));
    }else{
      submit_validate($('#new_working_group'));
    }

  });
  
  function submit_validate(form){
    $(form['selector']).ajaxForm({
      beforeSubmit: function() {
        $(form['selector']).validate({
          // Rules for form validation
          rules : {
            'working_group[sector_id]' : {
              required : true,
            },
            'working_group[front_chief_id]' : {
              required : true,
            },
            'working_group[executor_id]' : {
              required : true,
            },
            'working_group[master_builder_id]' : {
              required : true,
            },
            'working_group[active]' : {
              required : true,
            }
          },

          // Messages for form validation
          messages : {
            'working_group[sector_id]' : {
              required : 'Por favor, seleccionar el sector.',
            },
            'working_group[front_chief_id]' : {
              required : 'Por favor, seleccionar el jefe de frente.',
            },
            'working_group[executor_id]' : {
              required : 'Por favor, seleccionar el ejecutor.',
            },
            'working_group[master_builder_id]' : {
              required : 'Por favor, seleccionar el maestro de obra.',
            },
            'working_group[active]' : {
              required : 'Por favor, indicar si el grupo de trabajo está activo o no.',
            }
          },

          // Do not change code below
          errorPlacement : function(error, element) {
            error.insertAfter(element.parent());
          }
        });
        // Remove all Help-inLine
        $(".help-inline").remove();
        // Client Valid
        return $(form['selector']).valid();
      },
      target: '#content',
      success: function (data){
        $(".help-inline").parent().addClass("state-error");
      },
      error: function(xhr, status, error) {
      }
    });
  }