#wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-eye
    %h2 Orden de Servicio
  %div{:style => "padding-top: 0"}
    .jarviswidget-editbox
    .widget-body 
      = simple_form_for([:logistics, @orderOfService], html: {class: 'form-horizontal', autocomplete: 'off' }) do |f|
        = hidden_field_tag "company_id", @company
        - if @action == 'edit'
          = hidden_field_tag "order_of_service[date_of_issue]", @orderOfService.date_of_service.to_date rescue Time.now.to_date
        - else
          = hidden_field_tag "order_of_service[date_of_issue]", DateTime.now.to_date
        = hidden_field_tag "order_of_service[cost_center_id]", @cost_center_id
        .col-sm-12
          %fieldset
            %legend{'style' => 'border:none'}
            .row
              .col-md-4
                .form-group
                  %label.col-md-3.control-label Proveedores
                  .col-md-9
                    .input-group
                      %select.form-control#category-select{:name =>"order_of_service[entity_id]"}
                        - @suppliers.each do |supp|
                          - if @orderOfService.entity_id == supp.id
                            %option{:value => "#{supp.id}", :selected => true}
                              = supp.name
                          - else
                            %option{:value => "#{supp.id}"}
                              = supp.name
                      %span.input-group-addon
                        %i.fa.fa-truck
              .col-md-4
                .form-group
                  %label.col-md-4.control-label Forma de pago
                  .col-md-8
                    .input-group
                      %select.form-control#category-select{:name =>"order_of_service[method_of_payment_id]"}
                        - @methodOfPayments.each do |mop|
                          - if @orderOfService.method_of_payment_id == mop.id
                            %option{:value => "#{mop.id}", :selected => true}
                              = mop.name
                          - else
                            %option{:value => "#{mop.id}"}
                              = mop.name
                      %span.input-group-addon
                        %i.fa.fa-gears
              .col-md-4
                .form-group
                  %label.col-md-4.control-label Fecha de Servicio
                  .col-md-8
                    .input-group
                      = f.input :date_of_service, as: :string, :input_html => {:class => 'form-control', :type => "date"}, label: false
                      %span.input-group-addon
                        %i.fa.fa-calendar
            .row
              .col-md-4
                .form-group
                  %label.col-md-4.control-label Moneda
                  .col-md-8
                    .input-group
                      %select.form-control#category-select{:name =>"order_of_service[money_id]"}
                        - @moneys.each do |money|
                          - if @orderOfService.money_id == money.id
                            %option{:value => "#{money.id}", :rel => "", :selected => true}
                              = money.name
                          - else
                            %option{:value => "#{money.id}", :rel => ""}
                              = money.name
                      %span.input-group-addon
                        %i.fa.fa-money
              .col-md-4
                .form-group
                  %label.col-md-4.control-label Tipo de cambio
                  .col-md-8
                    .input-group
                      = text_field(:order_of_service, :exchange_of_rate, :value => "#{@orderOfService.exchange_of_rate}", class: "form-control")
                      %span.input-group-addon
                        %i.fa.fa-warning
              .col-md-4
                .form-group
                  %label.col-md-2.control-label Estado
                  .col-md-10
                    .input-group
                      = f.input :state, :input_html => {:name => 'state', :class => 'form-control', :value => translate_order_service_state(@orderOfService.state)}, label: false, readonly: true
                      %span.input-group-addon
                        %i.fa.fa-flag
            .row
              .col-md-4
                .form-group
                  %label.col-md-3.control-label Responsable
                  .col-md-9
                    .input-group
                      - if @orderOfService.user != nil
                        = text_field(:order_of_service, :liable, class: "form-control", value: "#{@orderOfService.user.first_name} #{@orderOfService.user.last_name}", readonly: true)
                      - else
                        = text_field(:order_of_service, :liable, class: "form-control", value: "#{current_user.first_name} #{current_user.last_name}", readonly: true)
                      %span.input-group-addon
                        %i.fa.fa-male
              .col-md-8
                .form-group
                  %label.col-md-2.control-label Glosa
                  .col-md-10
                    .input-group
                      = f.input :description, placeholder: "Glosa", :input_html => {:class => 'form-control'}, label: false
                      %span.input-group-addon
                        %i.fa.fa-align-justify
          %br
        .col-sm-12
          %fieldset
            %legend Detalle de Orden de Servicio
            .form-group
              .col-lg-12
                %label(for="article_id" class="col-lg-2 control-label") Insumos
                .col-lg-6 
                  %select(name='article_id' class = 'select2 form-control' id = 'article-select' style='width:100%;padding: 0;border: none;')
                    - @articles.each do |article|
                      %option(value = "#{article.id}-#{article.unit_of_measurement.id}")
                        = article.code + " - " + article.name + " - " + article.unit_of_measurement.symbol
                .col-lg-1
                  = text_field_tag 'amount', nil, class: 'form-control', id: 'article-amount', value: '1'
                .col-lg-2 
                  %div(class="col-lg-3")
                    %a(href="javascript:add_article_item();" id="btn-add-article" class="btn btn-success" role="button")
                      Agregar Insumo
            .form-group
              .col-lg-3
              .col-lg-12
                %table#summary-orders-service.table.table-striped.table-bordered.table-hover.has-tickbox.smart-form
                  %thead
                    %tr
                      %th Código Insumo
                      %th Nombre del Insumo
                      %th Unidad de Medida
                      %th Cantidad
                      %th Sector
                      %th Fase
                      %th Precio Unitario
                      %th Precio antes de IGV
                      %th ¿Aplica IGV?
                      %th Precio después de IGV
                      %th Glosa
                      %th Eliminar
                  %tbody#article_items_table
                    - if @action == 'edit'
                      - @orderOfService.order_of_service_details.each do |oos|
                        %tr
                          %td.article-id(style="display:none")
                            = hidden_field_tag 'order_of_service[order_of_service_details_attributes][' + @reg_n.to_s + '][article_id]', oos.article.id
                          %td.measurement-id(style="display:none")
                            = hidden_field_tag 'order_of_service[order_of_service_details_attributes][' + @reg_n.to_s + '][unit_of_measurement_id]', oos.unit_of_measurement.id
                          %td=oos.article.code
                          %td=oos.article.name
                          %td.unit-of-measurement
                            =oos.unit_of_measurement.symbol
                          %td.amount
                            = text_field_tag 'order_of_service[order_of_service_details_attributes][' + @reg_n.to_s + '][amount]', oos.amount, class: "form-control amount-item", onfocusout: "calculatePrice(this);", onkeypress: "return isNumber(event);"
                          %td.sector.col-md-1
                            %select.form-control{:name =>"order_of_service[order_of_service_details_attributes][#{@reg_n.to_s}][sector_id]"}
                              %option{:value => "0", :selected => true, :disabled => true} Seleccionar Sector
                              - @sectors.each do |sector|
                                - if sector.id == oos.sector_id
                                  %option{:value => "#{sector.id}", :selected => true}
                                    = sector.name
                                - else
                                  %option{:value => "#{sector.id}"}
                                    = sector.name
                          %td.phase
                            %select.form-control{:name =>"order_of_service[order_of_service_details_attributes][#{@reg_n.to_s}][phase_id]"}
                              %option{:value => "0", :selected => true, :disabled => true} Seleccionar Fase
                              - @phases.each do |phase|
                                %optgroup{:label => "#{phase.name}"}
                                  - Phase.get_subphases(phase.code).each do |subphase|
                                    - if subphase.id == oos.phase_id
                                      %option{:value => "#{subphase.id}", :selected => true}
                                        = subphase.name
                                    - else
                                      %option{:value => "#{subphase.id}"}
                                        = subphase.name
                          %td.unit-price
                            = text_field_tag 'order_of_service[order_of_service_details_attributes][' + @reg_n.to_s + '][unit_price]', oos.unit_price, class: "form-control unit-price", onfocusout: "calculatePriceWithourIgv(this);", onkeypress: "return isNumber(event);"
                          %td.price-without-igv
                            - @unit_price_without_igv = oos.amount * oos.unit_price
                            = text_field_tag 'unit_price_before_igv', "#{@unit_price_without_igv}", class: "form-control unit-price-before-igv", :readonly => true
                          %td.check-igv
                            %label.checkbox
                              - if oos.igv != nil
                                = hidden_field_tag 'order_of_service[order_of_service_details_attributes][' + @reg_n.to_s + '][igv]', ''
                                = check_box_tag 'order_of_service[order_of_service_details_attributes][' + @reg_n.to_s + '][igv]', nil, true, { class: 'order_purchase_igv', onchange: "enableFieldsForIgv(this);" }
                                %i
                              - else
                                = hidden_field_tag 'order_of_service[order_of_service_details_attributes][' + @reg_n.to_s + '][igv]', ''
                                = check_box_tag 'order_of_service[order_of_service_details_attributes][' + @reg_n.to_s + '][igv]', nil, nil, { class: 'order_purchase_igv', onchange: "enableFieldsForIgv(this);" }
                                %i
                          %td.price-with-igv
                            = text_field_tag 'order_of_service[order_of_service_details_attributes][' + @reg_n.to_s + '][unit_price_igv]', oos.unit_price_igv , class: "form-control unit-price-igv", :readonly => true
                          %td
                            = text_area_tag 'order_of_service[order_of_service_details_attributes][' + @reg_n.to_s + '][description]', oos.description, class: "form-control description"
                          %td(style="display:none")
                            = hidden_field_tag 'order_of_service[order_of_service_details_attributes][' + @reg_n.to_s + '][id]', oos.id
                          %td(style="display:none")
                            = hidden_field_tag 'order_of_service[order_of_service_details_attributes][' + @reg_n.to_s + '][order_of_service_id]', @orderOfService.id
                          %td.delete-item
                            %label.checkbox
                              = check_box 'order_of_service', '[order_of_service_details_attributes][' + @reg_n.to_s + '][_destroy]'
                              %i
                          - @reg_n += 1
        .form-actions{:style => "margin-top: 0;"}
          .row
            .col-md-12
              %button.btn.btn-primary{type: "submit"}
                %i.fa.fa-save
                  Guardar

:javascript
  
  $(document).ready(function(){
    loadScript("#{ asset_path 'plugin/select2/select2.min.js', type: :javascript }");
    $('#article-select').select2();
    $.cost_center = "#{@company}";

    $('form[id^="edit_order_of_service"]').ajaxForm({
      beforeSubmit: function(arr, $form, options) {
        $form.validate({
          // Rules for form validation
          rules : {
            'order_of_service[supplier_id]': {
              required: true
            },
            'order_of_service[money_id]': {
              required: true
            },
            'order_of_service[method_of_payment_id]': {
              required: true
            },
            'order_of_service[date_of_issue]': {
              required: true
            },
            'order_of_service[expiration_date]': {
              required: true
            },
            'order_of_service[delivery_date]': {
              required: true
            }
          },

          // Messages for form validation
          messages : {
            'order_of_service[supplier_id]': "Porfavor, especifica el proveedor.",
            'order_of_service[money_id]': "Porfavor, especifica el tipo de moneda con que se trabajará.",
            'order_of_service[method_of_payment_id]': "Porfavor, especifica el método de págo.",
            'order_of_service[date_of_issue]': "Porfavor, especifica la fecha de emisión.",
            'order_of_service[expiration_date]': "Porfavor, especifica la fecha de expiración.",
            'order_of_service[delivery_date]': "Porfavor, especifica la fecha de entrega."
          },
          highlight: function (element) {
            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
          },
          unhighlight: function (element) {
            $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
          },
          errorElement: 'span',
          errorClass: 'help-block',
          errorPlacement: function (error, element) {
            if (element.parent('.input-group').length) {
              error.insertAfter(element.parent());
            } else {
              error.insertAfter(element);
            }
          }
        });

        return $form.valid();
      },
      target: '#content'
    });

  });

  function calculatePriceWithourIgv(element){
    var amount = parseInt($(element).parent().siblings('.amount').find('input').val());

    var price_without_igv = parseFloat($(element).val() * amount).toFixed(2);

    $(element).parent().siblings('.price-without-igv').find('input').val(price_without_igv);
    $(element).parent().siblings('.price-with-igv').find('input').val(price_without_igv);
  }

  function enableFieldsForIgv(element){
    if($(element).is(":checked")){
      var price_without_igv = $(element).parent().parent().siblings('.price-without-igv').find('input').val();
      $(element).parent().parent().siblings('.price-with-igv').find('input').val(parseFloat(price_without_igv*parseFloat("#{@igv}")).toFixed(2));
    } else {
      var price_without_igv = $(element).parent().parent().siblings('.price-without-igv').find('input').val();
      $(element).parent().parent().siblings('.price-with-igv').find('input').val(price_without_igv);
    }
  }

  function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 46) {
        return false;
    }
    return true;
  }

  function add_article_item(){
    var article_id = $("#article-select").val();
    str_item = {authenticity_token: "#{form_authenticity_token}", article_id: $("#article-select").val(), amount: $("#article-amount").val()};

    append_url_ajax('#{add_order_service_item_field_logistics_order_of_services_path}', 'article_items_table', str_item, 0, 'POST');
  }

  function delete_item(code){
    $("#tr" + code).remove();
  }