- @reportRows.each do |x|
  %tr
    %td
      = x[0][2]
    %td
      = x[0][3]    
    - case x[0][0]
      - when 1
        %td
          = x[0][9]
        %td
          = x[0][10]
        %td
          = x[0][11]
        %td
          = x[1]
        %td
          = number_with_precision(1, precision: 2, delimiter: ',')
        %td
          = number_with_precision(x[1], precision: 2, delimiter: ',')
        %td
        %td
        %td
      - when 0
        %td
          = x[0][5]
        %td
          = x[0][6]
        %td
          = x[0][7]
        %td
        %td
        %td
        %td
          = x[1]
        %td
          = number_with_precision(1, precision: 2, delimiter: ',')
        %td
          = number_with_precision(x[1], precision: 2, delimiter: ',')