#content-inside
  .row
    .col-xs-12.col-sm-7.col-md-7.col-lg-4
      %h1.page-title.txt-color-blueDark
        %i.fa.fa-pencil-square-o.fa-fw 
        Tareo de Obreros Diario

  .row
    .well
      .input-group
        .col-sm-4
          %label.input{for: "working_group_id"}
            %select#working-group-select.form-control{:name =>"working_group_id"}
              %option{:value => ''} Grupo de Trabajo
              - @workingGroups.each do |working_group|
                %option{:value => "#{working_group.id}"}
                  = working_group.name
        .col-sm-3
          %label.input{for: "start_date"}
            %input#start-date-input.string.optional.form-control{:name => "start_date", :type => "date"}
        .col-sm-3
          %label.input{for: "end_date"}
            %input#end-date-input.string.optional.form-control{:name => "end_date", :type => "date"}
        .col-sm-2
          %button.btn.btn-primary.btn-default#show-table{:type => 'button'}
            %i.fa.fa-search
            Buscar
  %br
  .row
  #widget-grid
    .row
      %article.col-xs-12.col-sm-12.col-md-12.col-lg-12
        #table-information-result

:javascript
  $('#show-table').click(function(){
    var working_group = $('#working-group-select').val();
    var start_date = $('#start-date-input').val();
    var end_date = $('#end-date-input').val();

    if(start_date != null && end_date != null) {
      if(new Date(start_date) <= new Date(end_date)) {
        var parameters = { company_id: "#{@company}", working_group: working_group, start_date: start_date, end_date: end_date, authenticity_token: "#{form_authenticity_token}" };

        load_items_delivery_order_ajax("#{search_daily_work_production_daily_works_daily_workers_path}", 'table-information-result', parameters);
      } else {
        alert('La fecha de fin debe ser mayor a la fecha de ingreso.')
      }
    } else {
      alert('Por favor, especificar todos los datos necesarios.')
    }
  });