#wid-id-0.jarviswidget.jarviswidget-color-darken{"data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-table
    %h2 Lista de Grupos de Trabajo
  %div
    .jarviswidget-editbox
    .widget-body.no-padding
      .widget-body-toolbar
      %table#dt_basic.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th N°
            %th Nombre de Grupo de Trabajo
            %th Jefe de Frente
            %th Ejecutor
            %th Maestro de Obra
            %th Acciones
        %tbody
          - @workingGroups.each do |working_group|
            %tr
              %td
                = working_group.id
              %td
                = working_group.name
              %td
                = Worker.find(working_group.front_chief_id).entity.name.to_s + ' ' + Worker.find(working_group.front_chief_id).entity.second_name.to_s + ' ' + Worker.find(working_group.front_chief_id).entity.paternal_surname.to_s + ' ' + Worker.find(working_group.front_chief_id).entity.maternal_surname.to_s
              %td 
                = Entity.find(working_group.executor_id).name rescue ''
              %td
                = Worker.find(working_group.master_builder_id).entity.name.to_s + ' ' + Worker.find(working_group.master_builder_id).entity.second_name.to_s + ' ' + Worker.find(working_group.master_builder_id).entity.paternal_surname.to_s + ' ' + Worker.find(working_group.master_builder_id).entity.maternal_surname.to_s
              %td
                %a.btn.btn-warning.btn-xs{:onclick => "javascript:load_url_ajax('#{edit_production_working_group_path(working_group.id)}', 'content', {company_id: '#{@company}'}, null, 'GET')"}
                  Editar
                %a.btn.btn-danger.btn-xs{:data => {:toggle => 'confirmation', :placement => 'left', :title => 'Esta seguro de eliminar el item ' + "#{working_group.id}?", :singleton => 'true', :popout => 'true', :onclick => "javascript:delete_to_url('#{production_working_group_path(working_group.id)}', 'content', '#{production_working_groups_path}?company_id=#{@company}')"}}
                  Eliminar

:javascript
  // DO NOT REMOVE : GLOBAL FUNCTIONS!
  pageSetUp();

  $(document).ready(function () {
    $('[data-toggle="confirmation"]').confirmation();
  });

  // PAGE RELATED SCRIPTS

  loadDataTableScripts();
  function loadDataTableScripts() {

    loadScript("#{ asset_path 'plugin/datatables/jquery.dataTables-cust.min', type: :javascript }", dt_2);

    function dt_2() {
      loadScript("#{ asset_path 'plugin/datatables/ColReorder.min', type: :javascript }", dt_3);
    }

    function dt_3() {
      loadScript("#{ asset_path 'plugin/datatables/FixedColumns.min.js', type: :javascript }", dt_4);
    }

    function dt_4() {
      loadScript("#{ asset_path 'plugin/datatables/ColVis.min', type: :javascript }", dt_5);
    }

    function dt_5() {
      loadScript("#{ asset_path 'plugin/datatables/ZeroClipboard', type: :javascript }", dt_6);
    }

    function dt_6() {
      loadScript("#{ asset_path 'plugin/datatables/media/js/TableTools.min', type: :javascript }", dt_7);
    }

    function dt_7() {
      loadScript("#{ asset_path 'plugin/datatables/DT_bootstrap', type: :javascript }", runDataTables);
    }

  }

  function runDataTables() {

    /*
     * BASIC
     */
    $('#dt_basic').dataTable({
      "sPaginationType" : "bootstrap_full"
    });

    /* END BASIC */

  }