#content-inside
  .row
    .col-xs-12.col-sm-7.col-md-7.col-lg-4
      %h1.page-title.txt-color-blueDark
        %i.fa.fa-pencil-square-o.fa-fw 
        Lista de Grupos de Trabajo
    - if @sector != nil && @subsectors.first != nil && @entity != nil && @front_chief != nil && @master_builder != nil
      .col-sm-12
        %a.btn.btn-primary.btn-mini{:onclick => "javascript:load_url_ajax('#{new_production_working_group_path}', 'content', {company_id: '#{@company}'}, null, 'GET')"}
          Agregar Grupo de Trabajo
    - else
      .col-xs-12.col-sm-7.col-md-7.col-lg-12
        .alert.alert-block.alert-danger
          %a.close(data-dismiss="alert" href="#")
            ×
          %h4.alert-heading
            %i.fa.fa-lock
              No puedes crear Grupos de Trabajo!
          %p
            Verifica si tienes, por lo menos, 1 sector, 1 subsector, 1 ejecutor, 1 jefe de frente, 1 capataz
    - if flash[:notice] != nil
      .alert.alert-success.fade.in{"style" => "clear:both"}
        %button.close{"data-dismiss" => "alert"}
          ×
        %i.fa-fw.fa.fa-check
        %strong Éxito
        = flash[:notice]
    - if flash[:error] != nil
      .alert.alert-danger.fade.in{"style" => "clear:both"}
        %button.close{"data-dismiss" => "alert"}
          ×
        %i.fa-fw.fa.fa-times
        %strong Error!
        = flash[:error]
  %br
  .row
  #widget-grid
    .row
      %article.col-xs-12.col-sm-12.col-md-12.col-lg-12
        = render :partial => 'table'