#wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-eye
    %h2 Subcontrato
  .widget-body
    = simple_form_for([:production, @partequi], html: {class: 'form-horizontal smart-form', autocomplete: 'off' }) do |f|
      %fieldset
        .row{ 'style' => 'display:none' }
          %input{ 'name' => 'company_id', 'value' => "#{@company}", 'readonly' => true, 'style' => 'display:none' }
          %input{ 'name' => 'subcontract', 'value' => "#{@subcontract}", 'readonly' => true, 'style' => 'display:none' }
          %input{ 'name' => 'subcontract_equipment_detail[subcontract_equipment_id]', 'value' => "#{@subcontract}", 'readonly' => true, 'style' => 'display:none' }
        .row
          %section.col.col-4
            %label.label Artículo
            %label.input
              %select.form-control#article{:name =>"subcontract_equipment_detail[article_id]", :style => 'width:100%;padding: 0;border: none;', onchange: 'artiSelectCH();'}
                -if @action =="edit"
                  - @article.each do |arti|
                    -if @partequi.article_id== arti.id
                      %option{:value => "#{arti.id}", :selected=>"selected"}
                        = arti.name
                    -else
                      %option{:value => "#{arti.id}"}
                        = arti.name
                -else
                  - @article.each do |arti|
                    %option{:value => "#{arti.id}"}
                      = arti.name

          .col.col-4
            %label.label Código de Articulo      
            .col-sm-10
              %input.form-control#cod-art{:disabled=>'disabled'}
          .col.col-4
            %label.label Unidad de medida
            .col-sm-10
              %input.form-control#unit-art{:disabled=>'disabled'}
        .row
          .col.col-10
            %section
              %label.label Descripción
              %label.input{for: "description"}
                = f.input :description, :disabled=>'disabled', input_html: { class: 'form-control' }, label: false, rows: 4
        .row
          .col.col-4
            %label.label Marca
            .col.col-10
              .form-group
                .input-group
                  = f.input :brand, placeholder: "  Marca",  input_html: { class: 'form-control' }, label: false
                  %span.input-group-addon
                    %i.fa.fa-wrench.fa-md.fa-fw
          .col.col-4
            %label.label Serie
            .col.col-10
              .form-group
                .input-group
                  = f.input :series, placeholder: "  Serie",  input_html: { class: 'form-control' }, label: false
                  %span.input-group-addon
                    %i.fa.fa-cogs.fa-md.fa-fw
          .col.col-4
            %label.label Modelo
            .col.col-10
              .form-group
                .input-group
                  = f.input :model, placeholder: "  Modelo", input_html: { class: 'form-control' }, label: false
                  %span.input-group-addon
                    %i.fa.fa-truck.fa-md.fa-fw

        %br      
        .row
          .col.col-4
            %label.label Fecha de ingreso
            .col.col-10
              .form-group
                .input-group
                  = f.input :date_in,as: :string, input_html: { class: 'form-control', :type => "date" }, label: false
                  %span.input-group-addon
                    %i.fa.fa-calendar.fa-md.fa-fw
          .col.col-4
            %label.label Año
            .col.col-10
              .form-group
                .input-group
                  = f.input :year, placeholder: "  Año", input_html: { class: 'form-control' }, label: false
                  %span.input-group-addon
                    %i.fa.fa-calendar.fa-md.fa-fw
          .col.col-4
            %label.label Precio sin IGV
            .col.col-10
              .form-group
                .input-group
                  = f.input :price_no_igv, placeholder: "  Precio Sin IGV", input_html: { class: 'form-control' }, label: false
                  %span.input-group-addon
                    %i.fa.fa-money.fa-md.fa-fw
        %br     
        .row
          %section.col.col-4
            %label.label Tipos de Alquiler
            %label.input
              %select.form-control.col-sm-10{:name =>"subcontract_equipment_detail[rental_type_id]", :style => 'width:100%;padding: 0;border: none;'}
                -if @action =="edit"
                  - @rental.each do |rent|
                    -if @partequi.rental_type_id== rent.id
                      %option{:value => "#{rent.id}", :selected=>"selected"}
                        = rent.name
                    -else
                      %option{:value => "#{rent.id}"}
                        = rent.name
                -else
                  - @rental.each do |rent|
                    %option{:value => "#{rent.id}"}
                      = rent.name
        .row
          .col.col-4
            %label.label Horas Mínimas
            %label.input.col-sm-10{for: "minimum_hours"}
              %select.form-control{:name =>"subcontract_equipment_detail[minimum_hours]", :style => 'width:100%;padding: 0;border: none;'}
                %option{:value => "diario"} Diario
                %option{:value => "semanal"} Semanal
                %option{:value => "quincenal"} Quincenal
                %option{:value => "mensual"} Mensual
          .col.col-4
            %label.label Cantidad de Horas de Maquinaria
            .col.col-10
              .form-group
                .input-group
                  = f.input :amount_hours, placeholder: "  Cantidad de Horas de Maquinaria", input_html: { class: 'form-control' }, label: false
                  %span.input-group-addon
                    %i.fa.fa-clock-o.fa-md.fa-fw
          .col.col-4
            %label.label Cantidad Contratada
            .col.col-10
              .form-group
                .input-group
                  = f.input :contracted_amount, placeholder: "  Cantidad Contratada", input_html: { class: 'form-control' }, label: false
                  %span.input-group-addon
                    %i.fa.fa-briefcase.fa-md.fa-fw
        
      %footer
        %button.btn.btn-primary{type: "submit"}
          %i.fa.fa-save 
          Guardar

:javascript
  $(document).ready(function () {
    var article_id = $('#article').val();
    complete_infocombo("#{get_component_from_article_production_subcontract_equipment_details_path}", article_id, "#{form_authenticity_token}", 0);

    $('select').select2();
    if($('form[id^="edit_"]').length > 0) {
      submit_validate($('form[id^="edit_"]'));
    }else{
      submit_validate($('#new_subcontract_equipment_detail'));
    }

  });
  
  function submit_validate(form){
    $(form['selector']).ajaxForm({
      beforeSubmit: function() {
        $(form['selector']).validate({
          // Rules for form validation
          rules : {
            'subcontract_equipment_detail[description]':{
              required : true
            },
            'subcontract_equipment_detail[brand]':{
              required : true
            },
            'subcontract_equipment_detail[series]':{
              required : true
            },
            'subcontract_equipment_detail[model]':{
              required : true
            },
            'subcontract_equipment_detail[date_in]':{
              required : true
            },
            'subcontract_equipment_detail[year]':{
              required : true
            },
            'subcontract_equipment_detail[price_no_igv]':{
              required : true
            },
            'subcontract_equipment_detail[amount_hours]':{
              required : true
            },
            'subcontract_equipment_detail[contracted_amount]':{
              required : true
            }
            
          },

          // Messages for form validation
          messages : {
            'subcontract_equipment_detail[description]':{
              required : 'Por favor, ingrese una descripción.'
            },
            'subcontract_equipment_detail[brand]':{
              required : 'Por favor, señale la marca del equipo.'
            },
            'subcontract_equipment_detail[series]':{
              required : 'Por favor, señale la serie del equipo.'
            },
            'subcontract_equipment_detail[model]':{
              required : 'Por favor, señale el modelo.'
            },
            'subcontract_equipment_detail[date_in]':{
              required : 'Por favor, seleccione la fecha de ingreso.'
            },
            'subcontract_equipment_detail[year]':{
              required : 'Por favor, señale el año del equipo.'
            },
            'subcontract_equipment_detail[price_no_igv]':{
              required : 'Por favor, ingrese el precio sin IGV.'
            },
            'subcontract_equipment_detail[amount_hours]':{
              required : 'Por favor, señale la cantidad de horas.'
            },
            'subcontract_equipment_detail[contracted_amount]':{
              required : 'Por favor, señale la cantidad de horas contratadas.'
            }
            
          },

          // Do not change code below
          errorPlacement : function(error, element) {
            error.insertAfter(element.parent());
          }
        });
        // Remove all Help-inLine
        $(".help-inline").remove();
        // Client Valid
        return $(form['selector']).valid();
      },
      target: '#content',
      success: function (data){
        $(".help-inline").parent().addClass("state-error");
      },
      error: function(xhr, status, error) {
      }
    });
  }

  function artiSelectCH(){
    var article_id = $('#article').val();
    complete_infocombo("#{get_component_from_article_production_subcontract_equipment_details_path}", article_id, "#{form_authenticity_token}", 0);
  }

  function artiSelectKU(){
    var article_id = $('#article').val();
    complete_infocombo("#{get_component_from_article_production_subcontract_equipment_details_path}", article_id, "#{form_authenticity_token}", 0);
  }

  function complete_infocombo( url, article_id, form_token, default_value){
    var str_html = "";
    $.ajax({
        type: "POST",
        url: url,
        async: false,
        data: { article_id: article_id, authenticity_token: form_token}
    }).done(function( data ) {
      var code = data.code;
      console.log(code);
      var unit = data.unit;
      console.log(unit);
      $('#cod-art').val(code);
      $('#unit-art').val(unit);
    });
  }