#content-inside
  #widget-grid
    .row
      - if flash[:notice] != nil
        .alert.alert-success.fade.in{"style" => "clear:both"}
          %button.close{"data-dismiss" => "alert"}
            ×
          %i.fa-fw.fa.fa-check
          %strong Éxito
          = flash[:notice]
      - if flash[:error] != nil
        .alert.alert-danger.fade.in
          %button.close{"data-dismiss" => "alert"}
            ×
          %i.fa-fw.fa.fa-times
          %strong Error!
          = flash[:error]
      %article.col-sm-12.col-md-12.col-lg-6
        #wid-id-3.jarviswidget{"data-widget-custombutton" => "false", "data-widget-editbutton" => "false"}
          %header
            %span.widget-icon
              %i.fa.fa-edit
            %h2
              Información de Usuario
          / widget div
          %div
            / widget edit box
            .jarviswidget-editbox
              / This area used as dropdown edit box
            / end widget edit box
            / widget content
            .widget-body.no-padding
              = simple_form_for([:logistics, @person], url: update_profile_logistics_persons_path, method: 'POST', html: {multipart: true,class: 'smart-form' }) do |f|
                = hidden_field_tag "profile", true
                %header
                  = @person.first_name
                %fieldset
                  .row
                    %section.col.col-6
                      %label.input{for: "first_name"}
                        %i.icon-append.fa.fa-user
                        = f.input :first_name, placeholder: "Primer Nombre", html: { class: 'form-control' }, label: false
                    %section.col.col-6
                      %label.input{for: "last_name"}
                        %i.icon-append.fa.fa-user
                        = f.input :last_name, placeholder: "Segundo Nombre", html: { class: 'form-control' }, label: false

                  .row
                    %section.col.col-6
                      %label.input{for: "surname"}
                        %i.icon-append.fa.fa-phone
                        = f.input :surname, placeholder: "Apellidos", html: { class: 'form-control' }, label: false
                    %section.col.col-6
                      %label.input{for: "email"}
                        %i.icon-append.fa.fa-envelope-o
                        = f.input :email, placeholder: "E-mail", html: { class: 'form-control' }, label: false
                  //-----------------------password--------------------------------------------

                  .row
                    = f.hidden_field :reset_password_token
                    %section.col.col-6
                      %label.input{for: "password"}
                        %i.icon-append.fa.fa-lock
                        = f.input :password, placeholder: "Nueva Contraseña", html: { class: 'form-control', id: 'password_change' }, label: false                        
                    %section.col.col-6
                      %label.input{for: "password_confirmation"}
                        %i.icon-append.fa.fa-lock
                        = f.input :password_confirmation, placeholder: "Confirmar Contraseña", html: { class: 'form-control' }, label: false

                  //-------------------------password-----------------------------------------

                %fieldset
                  .row
                    %section.col.col-6
                      = f.input :date_of_birth, placeholder: "Fecha de Nacimiento", as: :string ,:input_html => {:class => 'form-control', type: "date"}, label: false
                      //= f.input :avatar, :input_html => { :class => 'btn btn-default' }, label: false, as: "file"
                  %section
                    %label.input.input-file{for: "avatar"}
                      = f.input :avatar, :input_html => { :class => 'btn btn-default' }, label: false, as: "file"
                      %p.help-block
                        - if @person.avatar.exists?
                          = 'Archivo subido: ' + File.basename(@person.avatar.path, File.extname(@person.avatar.path))
                        - else
                          Subir el archivo correspondiente
                %footer
                  %button.btn.btn-primary{type: "submit"}
                    %i.fa.fa-save
                    Actualizar Datos
      %article.col-sm-12.col-md-12.col-lg-6
        #wid-id-2.jarviswidget{"data-widget-custombutton" => "false", "data-widget-editbutton" => "false"}
          %header
            %span.widget-icon
              %i.fa.fa-edit
            %h2
              Imagen del Usuario
          / widget div
          %div{role: 'content'}
            / widget edit box
            .jarviswidget-editbox
              / This area used as dropdown edit box
            / end widget edit box
            / widget content
            .widget-body.no-padding
              .smart-form
                %fieldset{style: 'text-align:center'}
                  = image_tag current_user.avatar.url(:medium), alt: "me"
= javascript_include_tag 'plugin/vectormap/jquery-jvectormap-1.2.2.min'
= javascript_include_tag 'plugin/jquery-form/jquery-form.min'
= javascript_include_tag 'plugin/bootstrap-timepicker/bootstrap-timepicker.min'
= javascript_include_tag 'plugin/colorpicker/bootstrap-colorpicker.min'

:javascript
  // DO NOT REMOVE : GLOBAL FUNCTIONS!
  pageSetUp();
  
  
  // PAGE RELATED SCRIPTS
  $($('form[id^="edit_user_"]')).ajaxForm({
    beforeSubmit: function() {
      $("form[id^=edit_user]").validate({
        // Rules for form validation
        rules : {
          'user[first_name]' : {
            required : true
          },
          'user[last_name]' : {
            required : true
          },
          'user[email]' : {
            required : true,
            email : true
          },
          'user[password]' : {
            minlength : 8
          },
          'user[password_confirmation]' : {
            equalTo: "#user_password"
          }
        },

        // Messages for form validation
        messages : {
          login : {
            required : 'Please enter your login'
          },
          email : {
            required : 'Please enter your email address',
            email : 'Please enter a VALID email address'
          },
          'user[password]' : {
            minlength : 'La contraseña debe tener como mínimo 8 caracteres'
          },
          'user[password_confirmation]' : {
            equalTo: 'Las contraseñas deben ser iguales'
          },
          password : {
            required : 'Please enter your password',
            minlength: 'Password muy pequeño'
          },
          passwordConfirm : {
            required : 'Please enter your password one more time',
            equalTo : 'Please enter the same password as above'
          },
          firstname : {
            required : 'Please select your first name'
          },
          lastname : {
            required : 'Please select your last name'
          },
          gender : {
            required : 'Please select your gender'
          },
          terms : {
            required : 'You must agree with Terms and Conditions'
          }
        },

        // Do not change code below
        errorPlacement : function(error, element) {
          error.insertAfter(element.parent());
        }
      });
      return $("form[id^=edit_user]").valid();
    },
    target: '#content'
  });

  $('#dateBirth').click(function(){ $(this).datepicker() })
  // Load form valisation dependency 
  loadScript("#{ asset_path 'plugin/jquery-form/jquery-form.min', type: :javascript }", runFormValidation);
  
  
  // Registration validation script
  function runFormValidation() {
        
  };