#wid-id-0.jarviswidget.jarviswidget-color-blueDark{"data-widget-editbutton" => "false", "data-widget-deletebutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-table
    %h2
      Tabla
  %div
    .jarviswidget-editbox
    .widget-body
      %table.table.table-bordered
        %thead
          %tr
            %th Apellidos y Nombres
            %th Categoria
            %th T. Normales
            %th T. 60%
            %th T. 100%
            %th Total Hours
        %tbody
          - @workers_array.each do |workerDetail|
            %tr
              %th= workerDetail[0]
              %th= workerDetail[1]
              %th= workerDetail[2]
              %th= workerDetail[3]
              %th= workerDetail[4]
              %th= workerDetail[5]