#wid-id-0.jarviswidget.jarviswidget-color-blueDark{"data-widget-editbutton" => "false", "data-widget-deletebutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-table
    %h2
      Análisis de Producción
  -if @workers_array.count>0 && @workers_array2.count>0 && @workers_array3.count>0
    %div
      %h1.page-title.txt-color-blueDark Totales
      .widget-body
        %table.table.table-bordered{"style"=>"width:40%"}
          %tbody
            %tr
              %td{"style"=>"width:45%"} Total Partidas
              %td= number_to_currency @totalprice2, unit: 'S/.', precision: 2
            %tr
              %td{"style"=>"width:45%"} Total Mano de Obra
              %td= number_to_currency @totalprice, unit: 'S/.', precision: 2
            %tr
              %td{"style"=>"width:45%"} Total Equipos
              %td= number_to_currency @totalprice3, unit: 'S/.', precision: 2
            %tr
              %td{"style"=>"width:45%"} Total
              %td
                %span.label.label-danger{"style"=>"color:#fff"}
                  = number_to_currency @totalprice4, unit: 'S/.', precision: 2

  -if @workers_array.count>0
    .container-part-people
      %div{ :style => 'width:49%; display:inline-block;' }
        %h1.page-title.txt-color-blueDark Mano de Obra META
        .widget-body
          %table.table.table-bordered
            %tbody
              - @workers_array.each do |workerDetail|
                %tr
                  %th= workerDetail[0]
                  %td= workerDetail[4]
                  %td= workerDetail[10]
                  %td= number_to_currency workerDetail[1], unit: 'S/.', precision: 2
                  %td= number_to_currency workerDetail[7], unit: 'S/.', precision: 2
                %tr
                  %th= workerDetail[0]+' HE 60%'
                  %td= workerDetail[5]
                  %td= workerDetail[10]
                  %td= number_to_currency workerDetail[2], unit: 'S/.', precision: 2
                  %td= number_to_currency workerDetail[8], unit: 'S/.', precision: 2
                %tr
                  %th= workerDetail[0]+' HE 100%'
                  %td= workerDetail[6]
                  %td= workerDetail[10]
                  %td= number_to_currency workerDetail[3], unit: 'S/.', precision: 2
                  %td= number_to_currency workerDetail[9], unit: 'S/.', precision: 2
              %tr
                %th{'colspan' => 4} Total
                %th
                  %span.label.label-danger{"style"=>"color:#fff"}
                    = number_to_currency @totalprice, unit: 'S/.', precision: 2

      %div{ :style => 'width:50%; display:inline-block;' }
        %h1.page-title.txt-color-blueDark Mano de Obra REAL
        %table.table.table-bordered
          %thead
            %tr
              %th Cantidad
              %th P.U.
              %th Parcial
          %tbody
          - @workers_array.each do |workerDetail|
            - article = Article.find(workerDetail[12])
            - meta_info = Budget.budget_meta_info_per_article(article.code, @cost_center)
            - if !meta_info.nil?
              %tr
                %td= meta_info[1].round(2)
                %td= number_to_currency meta_info[2], unit: 'S/.', precision: 2
                %td= number_to_currency meta_info[3], unit: 'S/.', precision: 2
            - else
              %tr
                %td= 0
                %td= number_to_currency 0, unit: 'S/.', precision: 2
                %td= number_to_currency 0, unit: 'S/.', precision: 2

  -if @workers_array2.count>0
    .container-part-work
      %div{ :style => 'width:49%; display: inline-block;' }
        %h1.page-title.txt-color-blueDark Parte de Obras META
        .widget-body
          %table.table.table-bordered
            %thead
              %tr
                %th Codigo
                %th Partida
                %th Unidad
                %th Cantidad
                %th P.U.
                %th Parcial
            %tbody
            - @workers_array2.each do |workerDetail2|
              %tr
                %td= workerDetail2[0]
                %td= workerDetail2[1]
                %td= workerDetail2[2]
                %td= workerDetail2[3]
                %td= number_to_currency workerDetail2[4], unit: 'S/.', precision: 2
                %td= number_to_currency workerDetail2[5], unit: 'S/.', precision: 2

      %div{ :style => 'width:50%; display: inline-block;' }
        %h1.page-title.txt-color-blueDark Parte de Obras REAL
        .widget-body
          %table.table.table-bordered
            %thead
              %tr
                %th Cantidad
                %th P.U.
                %th Parcial
            %tbody
            - @workers_array2.each do |workerDetail2|
              - article = Article.find(workerDetail2[0])
              - meta_info = Budget.budget_meta_info_per_article(article.code, @cost_center)
              %tr
                %td= meta_info[1]
                %td= number_to_currency meta_info[2], unit: 'S/.', precision: 2
                %td= number_to_currency meta_info[3], unit: 'S/.', precision: 2

  -if @workers_array3.count>0
    .container-part-equipment
      %div{ :style => 'width:49%; display: inline-block;' }
        %h1.page-title.txt-color-blueDark Parte de Equipos META
        .widget-body
          %table.table.table-bordered
            %thead
              %tr
                %th Descripcion
                %th Cantidad
                %th Unidad
                %th P.U.
                %th Parcial
            %tbody
            - @workers_array3.each do |workerDetail3|
              %tr
                %td= workerDetail3[0]
                %td= workerDetail3[2].round(2)
                %td= workerDetail3[1]
                %td= number_to_currency workerDetail3[3], unit: 'S/.', precision: 2
                %td= number_to_currency workerDetail3[4], unit: 'S/.', precision: 2

      %div{ :style => 'width:50%; display: inline-block;' }
        %h1.page-title.txt-color-blueDark Parte de Equipos REAL
        .widget-body
          %table.table.table-bordered
            %thead
              %tr
                %th Cantidad
                %th P.U.
                %th Parcial
            %tbody
            - @workers_array3.each do |workerDetail3|
              - specific = Article.find_idarticle_global_by_specific_idarticle(workerDetail3[5], @cost_center)
              - article = Article.find(specific[1])
              - meta_info = Budget.budget_meta_info_per_article(article.code, @cost_center)
              - if !meta_info.nil?
                %tr
                  %td= meta_info[1]
                  %td= number_to_currency meta_info[2], unit: 'S/.', precision: 2
                  %td= number_to_currency meta_info[3], unit: 'S/.', precision: 2
              - else
                %tr
                  %td= 0
                  %td= number_to_currency 0, unit: 'S/.', precision: 2
                  %td= number_to_currency 0, unit: 'S/.', precision: 2

  -if @workers_array4.count>0
    .container-stock-input
      %div{ :style => 'width:49%; display: inline-block;' }
        %h1.page-title.txt-color-blueDark Consumo de Materiales
        .widget-body
          %table.table.table-bordered
            %thead
              %tr
                %th Nombre
                %th Unidad
                %th Cantidad
                %th P.U.
                %th Parcial
            %tbody
            - @workers_array4.each do |workerDetail4|
              %tr
                %td= workerDetail4[1]
                %td= workerDetail4[2]
                %td= workerDetail4[3]
                %td= number_to_currency Article.getSpecificArticlesforStockOutputs5(workerDetail4[0].to_i), unit: 'S/.', precision: 2
                %td= number_to_currency workerDetail4[3]*Article.getSpecificArticlesforStockOutputs5(workerDetail4[0].to_i), unit: 'S/.', precision: 2

      %div{ :style => 'width:50%; display: inline-block;' }
        %h1.page-title.txt-color-blueDark Consumo de Materiales
        .widget-body
          %table.table.table-bordered
            %thead
              %tr
                %th Nombre
                %th Unidad
                %th Cantidad
                %th P.U.
                %th Parcial
            %tbody
            - @workers_array4.each do |workerDetail4|
              %tr
                %td= workerDetail4[1]
                %td= workerDetail4[2]
                %td= workerDetail4[3]
                %td= number_to_currency Article.getSpecificArticlesforStockOutputs5(workerDetail4[0].to_i), unit: 'S/.', precision: 2
                %td= number_to_currency workerDetail4[3]*Article.getSpecificArticlesforStockOutputs5(workerDetail4[0].to_i), unit: 'S/.', precision: 2