#content-inside
  .row
    .col-xs-12.col-sm-7.col-md-7.col-lg-4
      %h1.page-title.txt-color-blueDark
        %i.fa.fa-pencil-square-o.fa-fw 
        Análisis de Producción
  .row
    - if @sector != nil && @subsectors != nil && @workingGroups != nil
      
      .row
        .col-md-1
        .col-md-2
          %label Sector
          %br
          %label.input{for: "sector_id"}
            %select.form-control#sector{:name =>"validation[sector_id]", :style => 'width:100%;padding: 0;border: none;'}
              %option{:value => "0"} Seleccionar Sector
              -@sector.each do |sector|
                %optgroup{:label => "#{sector.name}"}
                  - Sector.getSubSectors(sector.code).each do |subsector|
                    %option{:value => "#{subsector.id}"}
                      =subsector.name
        .col-md-2
          %label Jefe de Frente
          %br
          %label.input{for: "front_chief_id"}
            %select.form-control#chief{:name =>"working_group[front_chief_id]", :style => 'width:100%;padding: 0;border: none;'}
              %option{:value => "0"} Seleccione un jefe de frente
              - @front_chiefs.each do |front_chief|
                %option{:value => "#{front_chief.id}"}
                  = front_chief.entity.name.to_s + ' ' + front_chief.entity.second_name.to_s + ' ' + front_chief.entity.paternal_surname.to_s + ' ' + front_chief.entity.maternal_surname.to_s
        .col-md-2
          %label Ejecutor
          %br
          %label.input{for: "executor_id"}
            %select.form-control#exe{:name =>"working_group[executor_id]", :style => 'width:100%;padding: 0;border: none;'}
              %option{:value => "0"} Seleccione un ejecutor
              - @executors.each do |ex|
                %option{:value => "#{ex.id}"}
                  = ex.name.to_s + ' ' + ex.second_name.to_s + ' ' + ex.paternal_surname.to_s + ' ' + ex.maternal_surname.to_s
        .col-md-2
          %label Capataz
          %br
          %label.input{for: "master_builder_id"}
            %select.form-control#master{:name =>"working_group[master_builder_id]", :style => 'width:100%;padding: 0;border: none;'}
              %option{:value => "0"} Seleccione un capataz
              - @master_builders.each do |master_builder|
                %option{:value => "#{master_builder.id}"}
                  = master_builder.entity.name.to_s + ' ' + master_builder.entity.second_name.to_s + ' ' + master_builder.entity.paternal_surname.to_s + ' ' + master_builder.entity.maternal_surname.to_s
      .row
        .col-md-1
        .col-md-3
          %label Fecha de inicio
          %input#start-date-input.string.optional.form-control{'name'=>'date1', type: "date"}

        .col-md-3
          %label Fecha de fin
          %input#end-date-input.string.optional.form-control{'name'=>'date2', type: "date"}

        .col-md-3
        %br
          %button.btn.btn-primary.btn-default#show-table{:type => 'button'}
            %i.fa.fa-search
            Consultar
      %br
      .row
      #widget-grid
        %article.col-xs-12.col-sm-12.col-md-12.col-lg-12
          #table-information-result
    - else
      .col-xs-12.col-sm-7.col-md-7.col-lg-12
        .alert.alert-block.alert-danger
          %a.close(data-dismiss="alert" href="#")
            ×
          %h4.alert-heading
            %i.fa.fa-lock
              No puedes generar un Analisis de Valorizaciones!
          %p
            Verifica si tienes, por lo menos, 1 sector, 1 subsector, 1 grupo de trabajo
    - if flash[:notice] != nil
      .alert.alert-success.fade.in{"style" => "clear:both"}
        %button.close{"data-dismiss" => "alert"}
          ×
        %i.fa-fw.fa.fa-check
        %strong Éxito
        = flash[:notice]
    - if flash[:error] != nil
      .alert.alert-danger.fade.in
        %button.close{"data-dismiss" => "alert"}
          ×
        %i.fa-fw.fa.fa-times
        %strong Error!
        = flash[:error]


:javascript
  $(document).ready(function () {
    $('select').select2({width:'200'});
  });

  $('#chief').change(function (){
    console.log("entro al chief change");
    var front_chief_id= $(this).val();
    console.log(front_chief_id);
    frontChief("#{frontChief_production_analysis_of_valuations_path}", front_chief_id, "#{form_authenticity_token}", "0302");
  });

  $('#chief').keyup(function(){
    console.log("entro al chief keyup");
    var front_chief_id= $(this).val();
    frontChief("#{frontChief_production_analysis_of_valuations_path}", front_chief_id, "#{form_authenticity_token}", "0302");
  });

  $('#exe').change(function (){
    var executor_id = $(this).val();
    var front_chief_id = $('#chief').val();
    console.log(executor_id);
    console.log(front_chief_id);
    executor("#{executor_production_analysis_of_valuations_path}", front_chief_id, executor_id ,"#{form_authenticity_token}", "0302");

  });

  $('#exe').keyup(function(){
    var executor_id = $(this).val();
    var front_chief_id = $('#chief').val();
    executor("#{executor_production_analysis_of_valuations_path}", front_chief_id, executor_id ,"#{form_authenticity_token}", "0302");
  });


  function frontChief(url, front_chief_id, form_token, default_value){
    console.log("entro a la funcion chief ");
    $.ajax({
        type: "POST",
        url: url,
        async: false,
        data: { front_chief_id: front_chief_id, authenticity_token: form_token}
      }).done(function( data ) {
        console.log(data);
        newOptions = [];
        $.each(data.executor, function(key, value){
          item = {};
          item['id'] = value.id;
          item['name'] = value.name;
          console.log("name: " + value.name);
          console.log("id: "+value.id);
          newOptions.push(item);
        });
        $('#exe').empty();
        $('#exe').append(
            $("<option></option>").attr("value", 0).text("Seleccione un ejecutor")
        )
        $.each(newOptions, function(key,value){
          $('#exe').append(
            $("<option></option>").attr("value", value.id).text(value.name)
          )
        });
      });
  }

  function executor(url, front_chief_id, executor_id, form_token, default_value){
    $.ajax({
        type: "POST",
        url: url,
        async: false,
        data: { front_chief_id: front_chief_id, executor_id: executor_id, authenticity_token: form_token}
      }).done(function( data ) {
        console.log(data);
        newOptions = [];
        $.each(data.master, function(key, value){
          item = {};
          item['id'] = value.id;
          item['first_name'] = value.name;
          item['paternal_surname'] = value.paternal_surname;
          item['maternal_surname'] = value.maternal_surname;
          newOptions.push(item);
        });
          
        $('#master').empty();
        $('#master').append(
            $("<option></option>").attr("value", 0).text("Seleccione un capataz")
        )
        $.each(newOptions, function(key,value){
          $('#master').append(
            $("<option></option>").attr("value", value.id).text(value.first_name+ ' '+value.maternal_surname+ ' '+value.maternal_surname)
          )
        });
      });
  }

  $('#show-table').click(function(){
    var start_date = $('#start-date-input').val();
    var end_date = $('#end-date-input').val();
    var chief = $('#chief').val();
    var exe = $('#exe').val();
    var master = $('#master').val();
    var sector = $('#sector').val();

    if(start_date != null && end_date != null) {
      if(new Date(start_date) < new Date(end_date)) {
        var parameters = { company_id: "#{@company}", front_chief: chief, executor: exe, master_builder: master, start_date: start_date, end_date: end_date, sector: sector, authenticity_token: "#{form_authenticity_token}" };

        load_items_delivery_order_ajax("#{get_report_production_analysis_of_valuations_path}", 'table-information-result', parameters);
      } else {
        alert('La fecha de fin debe ser mayor a la fecha de ingreso.')
      }
    } else {
      alert('Por favor, especificar todos los datos necesarios.')
    }
  });

  function show_modal_venta(){
    $('#container-part-work').modal({
      keyboard: false, 
      backdrop: 'static'
    });
  }

  function show_modal_part_people_meta(){
    $('#container_part_people_meta').modal({
      keyboard: false, 
      backdrop: 'static'
    });
  }

  function show_modal_part_people_real(){
    $('#container_part_people_real').modal({
      keyboard: false, 
      backdrop: 'static'
    });
  }

  function show_modal_stock_input_meta(){
    $('#container_stock_input_meta').modal({
      keyboard: false, 
      backdrop: 'static'
    });
  }

  function show_modal_stock_input_real(){
    $('#container_stock_input_real').modal({
      keyboard: false, 
      backdrop: 'static'
    });
  }

  function show_modal_part_equipment_meta(){
    $('#container_part_equipment_meta').modal({
      keyboard: false, 
      backdrop: 'static'
    });
  }

  function show_modal_part_equipment_real(){
    $('#container_part_equipment_real').modal({
      keyboard: false, 
      backdrop: 'static'
    });
  }

  function show_modal_part_subcontract_meta(){
    $('#container_part_subcontract_meta').modal({
      keyboard: false, 
      backdrop: 'static'
    });
  }