#content-inside
  .row
    .col-xs-12.col-sm-7.col-md-7.col-lg-4
      %h1.page-title.txt-color-blueDark
        %i.fa.fa-pencil-square-o.fa-fw 
        Valorizaciones
    - if @sector != nil && @subsectors.first != nil && @workingGroups != nil
      .col-sm-12
        %label.label Sector
        %label.input{for: "sector_id"}
          %select.form-control{:name =>"validation[sector_id]", :style => 'width:100%;padding: 0;border: none;'}
            -@sector.each do |sector|
              %optgroup{:label => "#{sector.name}"}
                - Sector.getSubSectors(sector.code).each do |subsector|
                  %option{:value => "#{subsector.id}"}
                    =subsector.name
        %label.label Jefe de Frente
        %label.input{for: "front_chief_id"}
          %select.form-control{:name =>"working_group[front_chief_id]", :style => 'width:100%;padding: 0;border: none;'}
            - @front_chiefs.each do |front_chief|
              %option{:value => "#{front_chief.id}"}
                = front_chief.first_name + ' ' + front_chief.paternal_surname
        %label.label Ejecutor
        %label.input{for: "executor_id"}
          %select.form-control{:name =>"working_group[executor_id]", :style => 'width:100%;padding: 0;border: none;'}
            - @executors.each do |executor|
              %option{:value => "#{executor.id}"}
                = executor.name
        %label.label Maestro de Obra
        %label.input{for: "master_builder_id"}
          %select.form-control{:name =>"working_group[master_builder_id]", :style => 'width:100%;padding: 0;border: none;'}
            - @master_builders.each do |master_builder|
              %option{:value => "#{master_builder.id}"}
                = master_builder.first_name + ' ' + master_builder.paternal_surname
        %label.label Fecha de ingreso
        .form-group
          .input-group
            %input{'name'=>'datein',as: :date}
            %span.input-group-addon
              %i.fa.fa-calendar.fa-md.fa-fw
    - else
      .col-xs-12.col-sm-7.col-md-7.col-lg-12
        .alert.alert-block.alert-danger
          %a.close(data-dismiss="alert" href="#")
            ×
          %h4.alert-heading
            %i.fa.fa-lock
              No puedes hacer un Analisis de Valorizaciones!
          %p
            Verifica si tienes, por lo menos, 1 sector, 1 subsector, 1 grupo de trabajo
    - if flash[:notice] != nil
      .alert.alert-success.fade.in{"style" => "clear:both"}
        %button.close{"data-dismiss" => "alert"}
          ×
        %i.fa-fw.fa.fa-check
        %strong Éxito
        = flash[:notice]
    - if flash[:error] != nil
      .alert.alert-danger.fade.in
        %button.close{"data-dismiss" => "alert"}
          ×
        %i.fa-fw.fa.fa-times
        %strong Error!
        = flash[:error]