#wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-eye
    %h2 Librería Técnica
  .widget-body
    = simple_form_for([:libraries, @lib], html: {class: 'form-horizontal smart-form', autocomplete: 'off' }) do |f|
      %fieldset
        .row
          %section.col.col-md-8
            %label.label Nombre
            %label.input{for: "name"}
              %i.icon-append.fa.fa-user
              = f.input :name, placeholder: "Nombre", input_html: { class: 'form-control' }, label: false
        %br
        .row
          %section.col.col-md-8
            %label.label Descripción 
            %label.input
              = f.input :description, placeholder: "Descripción", input_html: { class: 'form-control' }, label: false, rows: 4
        .row
          %section.col.col-md-12
            %label.label Tipo
            = f.association :type_of_technical_libraries, as: :check_boxes, :label => false

        %br
        .row
          %section.col.col-md-12
            %label.label Documento
            -if @action == nil
              = f.input :document, :input_html => { :class => 'btn btn-default' }, label: false, as: "file", required: true
            -else
              = f.input :document, :input_html => { :class => 'btn btn-default' }, label: false, as: "file"
            %p.help-block
              - if @action == 'edit' && @lib.document.exists?
                = 'Archivo subido: ' + File.basename(@lib.document.path, File.extname(@lib.document.path))
              - else
                Subir el archivo correspondiente
        %br
        .row
          %section.col.col-md-12
            %label Tipo de Centro de Costo
            %select.select2.form-control#speciality_select{:name =>"technical_library[type_of_cost_center]"}
              %option{:value => nil, :disabled=>true, :selected => true} Seleccione una especialidad
              %option{:value => "saneamiento", :selected => "#{@lib.type_of_cost_center}"=="saneamiento"}
                Saneamiento
              %option{:value => "electrico", :selected => "#{@lib.type_of_cost_center}"=="electrico"}
                Eléctrico
              %option{:value => "civil", :selected => "#{@lib.type_of_cost_center}"=="civil"}
                Civil
              %option{:value => "administracion", :selected => "#{@lib.type_of_cost_center}"=="administracion"}
                Administración                   

      %footer
        %button.btn.btn-primary{type: "submit", :onclick => "part_block();"}
          %i.fa.fa-save 
          Guardar

:javascript
  $(document).ready(function () {
    $('.check_boxes').attr("style", 'position: relative; left: 0;');

    if($('form[id^="edit_"]').length > 0) {
      submit_validate($('form[id^="edit_"]'));
    }else{
      submit_validate($('#new_technical_library'));
    }

  });
  
  function submit_validate(form){
    $(form['selector']).ajaxForm({
      beforeSubmit: function() {
        $(form['selector']).validate({
          // Rules for form validation
          rules : {
            'technical_library[name]' : {
              required : true
            },
            'technical_library[description]' : {
              required : true,
            },
            'technical_library[type_of_law_and_regulation_ids]':{
              required: true
            }
          },

          // Messages for form validation
          messages : {
            'technical_library[name]' : {
              required : "Por favor, ingrese el nombre del documento"
            },
            'technical_library[description]' : {
              required : "Por favor, ingrese una descripción para el documento"
            },
            'technical_library[type_of_law_and_regulation_ids]':{
              required: "Seleccione un tipo"
            }
          },

          // Do not change code below
          errorPlacement : function(error, element) {
            error.insertAfter(element.parent());
            $('#modalLoadingLabelading').modal('hide');
            $('.modal-backdrop.fade.in').remove();
          }
        });
        // Remove all Help-inLine
        $(".help-inline").remove();
        $('#modalLoadingLabelading').modal('hide');
        $('.modal-backdrop.fade.in').remove();
        // Client Valid
        if( $(form['selector']).valid() ){
          $('#modalLoadingLabelading').modal();
        }
        // Client Valid
        return $(form['selector']).valid();
      },
      target: '#content',
      success: function (data){
        $(".help-inline").parent().addClass("state-error");
        $('#modalLoadingLabelading').modal('hide');
        $('.modal-backdrop.fade.in').remove();
      },
      error: function(xhr, status, error) {
        $('#modalLoadingLabelading').modal('hide');
        $('.modal-backdrop.fade.in').remove();
      }
    });
  }