#wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-eye
    %h2 Compañia
  .widget-body
    = simple_form_for([:logistics, @company], html: {class: 'form-horizontal smart-form', autocomplete: 'off' }) do |f|
      %fieldset
        .row
          %section.col.col-6
            %label.label RUC
            %label.input{for: "ruc"}
              %i.icon-append.fa.fa-superscript
              = f.input :ruc, placeholder: "RUC", input_html: { class: 'form-control' }, label: false
        .row
          %section.col.col-5
            %label.label Nombre
            %label.input{for: "name"}
              %i.icon-append.fa.fa-user
              = f.input :name, placeholder: "Nombre de la compañia", input_html: { class: 'form-control' }, label: false
          %section.col.col-5
            %label.label Nombre Abreviado
            %label.input{for: "name"}
              %i.icon-append.fa.fa-user
              = f.input :short_name, placeholder: "Nombre abreviado", input_html: { class: 'form-control' }, label: false
        .row
          %section.col.col-10
            %label.label Dirección
            %label.input{for: "address"}
              %i.icon-append.fa.fa-user
              = f.input :address, placeholder: "Dirección del Grupo", input_html: { class: 'form-control' }, label: false
        .row
          %section.col.col-10
            %label.label Logo
            %label.input.input-file{for: "avatar"}
            = f.input :avatar, :input_html => { :class => 'btn btn-default' }, label: false, as: "file"
            %p.help-block
              - if @action == 'edit' && @company.avatar.exists?
                = 'Archivo subido: ' + File.basename(@company.avatar.path, File.extname(@company.avatar.path))
              - else
                Subir el archivo correspondiente
      %footer
        %button.btn.btn-primary{type: "submit", :onclick => "part_block();"}
          %i.fa.fa-save
            Guardar

:javascript
  $(document).ready(function () {
    $("#category_code").focus();

    if($('form[id^="edit_"]').length > 0) {
      submit_validate($('form[id^="edit_"]'));
    }
    else{
      submit_validate($('#new_company'));
    }
  });
  
  function submit_validate(form){
    $(form['selector']).ajaxForm({
      beforeSubmit: function() {
        $(form['selector']).validate({
          // Rules for form validation
          rules : {
            'company[ruc]' : {
              required : true,
              digits: true,
              minlength : 11,
              maxlength : 11
            },
            'company[name]' : {
              required : true,
            },
            'company[address]' : {
              required : true,
            }
          },

          // Messages for form validation
          messages : {
            'company[ruc]' : {
              required : 'Porfavor, ingresar el RUC de la Compania',
              digits: 'Solo se aceptan números',
              minlength : "Como mínimo debe tener 11 dígitos.",
              maxlength : "Como máximo debe tener 11 dígitos."
            },
            'company[name]' : {
              required : 'Porfavor, ingresar el nombre de la CIA.'
            },
            'company[address]' : {
              required : 'Porfavor, ingresar la dirección de la CIA.'
            }
          },

          // Do not change code below
          errorPlacement : function(error, element) {
            error.insertAfter(element.parent());
            $('#modalLoadingLabelading').modal('hide');
            $('.modal-backdrop.fade.in').remove();
          }
        });
        // Remove all Help-inLine
        errorPlacement : function(error, element) {
            error.insertAfter(element.parent());
            $('#modalLoadingLabelading').modal('hide');
            $('.modal-backdrop.fade.in').remove();
          }
        });
        // Remove all Help-inLine
        $(".help-inline").remove();
        $('#modalLoadingLabelading').modal('hide');
        $('.modal-backdrop.fade.in').remove();
        // Client Valid
        if( $(form['selector']).valid() ){
          $('#modalLoadingLabelading').modal();
        }
        // Client Valid
        return $(form['selector']).valid();
      },
      target: '#content',
      success: function (data){
        $(".help-inline").parent().addClass("state-error");
        $('#modalLoadingLabelading').modal('hide');
        $('.modal-backdrop.fade.in').remove();
      },
      error: function(xhr, status, error) {
        $('#modalLoadingLabelading').modal('hide');
        $('.modal-backdrop.fade.in').remove();
      }
    });
  }