#wid-id-5.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-custombutton" => "false", "data-widget-editbutton" => "false", "data-widget-fullscreenbutton" => "false", "data-widget-sortable" => "false", "data-widget-deletebutton" => "false"}
  %header
    %h2 Lista de Valorizaciones
  %div
    .jarviswidget-editbox
    .widget-body
      .tabs-left
        %ul.nav.nav-tabs.tabs-left
          - @type_val.each do |type_val|
            - if type_val.id == 1
              %li.active
                %a{"data-toggle" => "tab", href: "#tab-#{type_val.id}"}
                  %span.badge.bg-color-blue.txt-color-white
                    = type_val.valorization_docs.count
                  = type_val.name
            - else
              %li
                %a{"data-toggle" => "tab", href: "#tab-#{type_val.id}"}
                  %span.badge.bg-color-blue.txt-color-white
                    = type_val.valorization_docs.count
                  = type_val.name
        .tab-content
          - @type_val.each do |type_val|
            - if type_val.id == 1
              .tab-pane.active{:id => "tab-#{type_val.id}"}
                .col-md-10
                  %table.table.table-condensed.table-bordered
                    %thead
                      %tr
                        %th Nombres
                        %th Descripción
                        %th Doc
                        %th Acciones
                    %tbody
                      - type_val.valorization_docs.each do |lawre|
                        %tr
                          %td
                            = lawre.name.to_s
                          %td
                            = lawre.description.to_s
                          %td
                            - if lawre.document.exists?
                              %a.btn.btn-info.btn-xs{:href =>"#{lawre.document.url}", :target => "_blank"}
                                %i.fa.fa-clipboard
                            -else
                              No hay ningun Archivo adjunto
                          %td
                            %a.btn.btn-warning.btn-xs{:onclick => "javascript:load_url_ajax('#{edit_documentary_control_valorization_doc_path(lawre.id)}', 'content', null, null, 'GET')"}
                              Editar
                            %a.btn.btn-danger.btn-xs{:data => {:toggle => 'confirmation', :placement => 'left', :title => 'Esta seguro de eliminar el item ' + "#{lawre.name}?", :singleton => 'true', :popout => 'true', :onclick => "javascript:delete_to_url('#{documentary_control_valorization_doc_path(lawre.id)}' + '?authenticity_token=#{form_authenticity_token}', 'content', '#{documentary_control_valorization_docs_path}')"}}
                              Eliminar
            - else
              .tab-pane{:id => "tab-#{type_val.id}"}
                .col-md-10
                  %table.table.table-condensed.table-bordered
                    %thead
                      %tr
                        %th Nombres
                        %th Descripción
                        %th Doc
                        %th Acciones
                    %tbody
                      - type_val.valorization_docs.each do |lawre|
                        %tr
                          %td
                            = lawre.name.to_s
                          %td
                            = lawre.description.to_s
                          %td
                            - if lawre.document.exists?
                              %a.btn.btn-info.btn-xs{:href =>"#{lawre.document.url}", :target => "_blank"}
                                %i.fa.fa-clipboard
                            -else
                              No hay ningun Archivo adjunto
                          %td
                            %a.btn.btn-warning.btn-xs{:onclick => "javascript:load_url_ajax('#{edit_documentary_control_valorization_doc_path(lawre.id)}', 'content', null, null, 'GET')"}
                              Editar
                            %a.btn.btn-danger.btn-xs{:data => {:toggle => 'confirmation', :placement => 'left', :title => 'Esta seguro de eliminar el item ' + "#{lawre.name}?", :singleton => 'true', :popout => 'true', :onclick => "javascript:delete_to_url('#{documentary_control_valorization_doc_path(lawre.id)}' + '?authenticity_token=#{form_authenticity_token}', 'content', '#{documentary_control_valorization_docs_path}')"}}
                              Eliminar

:javascript
  $(document).ready(function () {
    $('[data-toggle="confirmation"]').confirmation();
  });