.modal-dialog#modalid{ style: "width: 50%;" }
  .modal-content
    .modal-header
      %header
        %h2
          %span.widget-icon
            %i.fa.fa-pencil-square-o.fa-fw 
          %strong EDICIÓN DE CARTAS FIANZAS
    .modal-body
    
      = form_for @letter, url: general_expenses_bond_letter_path, as: :put, html: { class: "smart-form", id: "update_bond_letter" } do |f|    

        %fieldset
          .row
            %section.col-md-5
              %label{"style"=>"font-size:14px;"} Emitido por
            %section.col-md-6
              %select#issuer_entity_id.select2.form-control{:name => "bond_letter[issuer_entity_id]"}
                %option{:value => nil, :disabled => true, :selected => true} Seleccione
                - @issuer.each do |ph|
                  %option{:value => "#{ph.id}", :selected => ph.id==@letter.issuer_entity_id}
                    = ph.ruc + " - " + ph.name


          .row{"style"=>"margin-bottom:1%;"}
            %section.col-md-5
              %label{"style"=>"font-size:14px;"} A Cargo de 
            %section.col-md-6
              %select#receptor_entity_id.select2.form-control{:name => "bond_letter[receptor_entity_id]"}
                %option{:value => nil, :disabled => true, :selected => true} Seleccione
                - @receptor.each do |ph|
                  %option{:value => "#{ph.id}", :selected => ph.id==@letter.receptor_entity_id}
                    = ph.ruc + " - " + ph.name              
          .row
            %section.col-md-5
              %label{"style"=>"font-size:14px;"} Concepto
            %section.col-md-6
              %select#concept.select2.form-control{:name => "bond_letter[concept]"}
                %option{:value => nil, :disabled => true, :selected => true} Seleccione
                %option{:value => "0", :selected => 0==@letter.concept.to_i} Fiel Cumplimiento
                %option{:value => "1", :selected => 1==@letter.concept.to_i} Adelanto
                
          .row#concept_type_advance{"style"=>"display:none"}
            %section.col-md-5
              %label{"style"=>"font-size:14px;"} TIPO Y Nº ADELANTO 
            %section.col-md-6
              %select#advance_id.select2.form-control{:name => "bond_letter[advance_id]"}
                
          .row
            %section.col-md-5
              %label{"style"=>"font-size:14px;"} Estado
            %section.col-md-6
              %select#state.select2.form-control{:name => 'bond_letter[status]'}
                %option{:value => "0",:selected => 0==@letter.status.to_i} Cerrado
                %option{:value => "1",:selected => 1==@letter.status.to_i} Activo

        %footer
          %button.btn.btn-primary#smart-mod-eg1{type: "button", "style"=>"float:right;"}
            %i.fa.fa-save
              Guardar
          %button.btn.btn-danger#new2{"data-dismiss" => "modal", type: "button"}
            Salir

:javascript

  $("#new2").click(function() {
    data2 = { authenticity_token: "#{form_authenticity_token}", cc: #{@cc.id}};
    load_modal_ajax('#{general_expenses_bond_letters_path}', 'bond_letter_index', 'bond_letter_edit', data2, null, 'GET');
  });

  $(document).ready(function (){

    $('#bond_letter_new').attr("tabindex","");

    $("#concept").change(function() {
        // foo is the id of the other select box 
        if ($(this).val() == "1") {
          $("#concept_type_advance").show();
        }else{
          $("#concept_type_advance").hide();
        } 
    });
    submit_form($('form#update_bond_letter'))
  });

  $("#smart-mod-eg1").click(function(e) {
    $('form#update_bond_letter').submit();
    data2 = { authenticity_token: "#{form_authenticity_token}", cc: #{@cc.id}};
    load_modal_ajax('#{general_expenses_bond_letters_path}', 'bond_letter_index', 'bond_letter_edit', data2, null, 'GET');
  });

  function submit_form(form_element){
    form_element.ajaxForm({
      beforeSubmit: function() {
        form_element.validate({
          // Rules for form validation
          ignore: '',
          rules : {
            'bond_letter[issuer_entity_id]' : {
              required : true,
            },
            'bond_letter[receptor_entity_id]' : {
              required : true,
            },
            'bond_letter[concept]' : {
              required : true,
            },
            'bond_letter[status]' : {
              required : true,
            }
          },

          // Messages for form validation
          messages : {
            'bond_letter[issuer_entity_id]' : {
              required : "(*)",
            },
            'bond_letter[receptor_entity_id]' : {
              required : "(*)",
            },
            'bond_letter[concept]' : {
              required : "(*)",
            },
            'bond_letter[status]' : {
              required :  "(*)",
            }
          },

          // Do not change code below
          errorPlacement : function(error, element) {
            error.insertAfter(element.parent());
          }
        });
        // Remove all Help-inLine
        $(".help-inline").remove();
        // Client Valid
        return form_element.valid();
      },
      success: function (data){
        $(".help-inline").parent().addClass("state-error");
      },
      error: function(xhr, status, error) {
        console.log(error);
      }
    })
  }
