!!!
%html{lang: "en-us"}
  %head
    %meta{charset: "utf-8"}
    / <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    %title ARSAC Managment Project
    %meta{content: "", name: "description"}
    %meta{content: "", name: "author"}
    /
      Use the correct meta names below for your web application
      Ref: http://davidbcalhoun.com/2010/viewport-metatag
      
      <meta name="HandheldFriendly" content="True">
      <meta name="MobileOptimized" content="320">
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", name: "viewport"}
    %link{href: "#{asset_path('favicon.png')}", rel: "shortcut icon"}/
    / Basic Styles
    = stylesheet_link_tag "bootstrap.min", media: "screen", rel: "stylesheet", type: "text/css"
    = stylesheet_link_tag "font-awesome.min", media: "screen", rel: "stylesheet", type: "text/css"
    
    / SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables
    = stylesheet_link_tag "smartadmin-production", media: "screen", rel: "stylesheet", type: "text/css"
    = stylesheet_link_tag "smartadmin-production_unminified", media: "screen", rel: "stylesheet", type: "text/css"
    = stylesheet_link_tag "smartadmin-skins", media: "screen", rel: "stylesheet", type: "text/css"
    /
      SmartAdmin RTL Support is under construction
      <link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-rtl.css">
    / Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp
    = stylesheet_link_tag "custom", media: "screen", rel: "stylesheet", type: "text/css"
    /JS
    = javascript_include_tag 'application'
    / TOKEN
    = csrf_meta_tag
    / FAVICONS
    =# stylesheet_link_tag "smartadmin-production.min", media: "screen", rel: "stylesheet", type: "text/css"
    =# stylesheet_link_tag "smartadmin-production.min", media: "screen", rel: "stylesheet", type: "text/css"
    %link{href: "images/favicon/favicon.ico", rel: "shortcut icon", type: "image/x-icon"}
    %link{href: "images/favicon/favicon.ico", rel: "icon", type: "image/x-icon"}
    / GOOGLE FONT
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700", rel: "stylesheet"}
  %body
    / possible classes: minified, fixed-ribbon, fixed-header, fixed-width
    / HEADER
    %header#header
      #logo-group
        / PLACE YOUR LOGO HERE
        %span#logo{:style => 'margin-top: 9px;'}
          - if !@company.nil?
            = image_tag @company.avatar.url, alt: "#{@company.name}"
        / END LOGO PLACEHOLDER
        
      / projects dropdown
      - if !@cost_center_name.nil?
        #project-context
          %span.label Centro de Costo:
          %span#project-selector.popover-trigger-element.dropdown-toggle{"data-toggle" => "dropdown"}
            = @cost_center_name
            %i.fa.fa-angle-down
          - if !@others_cost_centers.nil?
            %ul.dropdown-menu
              - @others_cost_centers.each do |other_cc|
                %li
                  %a{href: "#{show_panel_main_path(@company.id)}?cost_center=#{other_cc.id}"}
                    %i.fa.fa-power-off
                    = other_cc.name
      #logo-sigo
        = image_tag asset_path('logo-sigo.png'), alt: "sigo"
      / pulled right: nav area
      .pull-right
        / collapse menu button
        #hide-menu.btn-header.pull-right
          %span
            %a{href: "javascript:void(0);", title: "Collapse Menu"}
              %i.fa.fa-reorder
        / end collapse menu
        / logout button
        #logout.btn-header.transparent.pull-right
          %span
            %a{href: "#{destroy_user_session_path}", title: 'Sign out'}
              %i.fa.fa-sign-out
        / end logout button
        / search mobile button (this is hidden till mobile view port)
        #show-companies.btn-header.transparent.pull-right
          %span
            %a{href: "#{root_path}?flag=1", title: "Show Companies"}
              %i.fa.fa-suitcase
        / end search mobile button
        / input: search field
      / end pulled right: nav area
    / END HEADER
    / Left panel : Navigation area
    / Note: This width of the aside area can be adjusted through LESS variables
    %aside#left-panel
      / User info
      .login-info
        %span
          / User image size is adjusted inside CSS, it should stay as it
          = image_tag current_user.avatar.url(:thumb), alt: "me", class: 'online'
          %a#show-shortcut{href: "javascript:void(0);"}
            = "#{current_user.first_name} #{current_user.last_name}"
            %i.fa.fa-angle-down
      / end user info
      /
        NAVIGATION : This navigation is also responsive
        
        To make this navigation dynamic please make sure to link the node
        (the reference to the nav > ul) after page load. Or the navigation
        will not initialize.
      %nav
        /
          NOTE: Notice the gaps after each icon usage <i></i>..
          Please note that these links work a bit different than
          traditional href="" links. See documentation for details.
        %ul
          %li
            %a{href: "#{inbox_task_main_path}", title: "Tareas"}
              %i.fa.fa-lg.fa-fw.fa-inbox
              %span.menu-item-parent Inbox
              %span.badge.pull-right.inbox-badge= @total_pending
          - if current_user.has_role? :director
            %li
              %a{href: "#{management_dashboard_path}", title: "Dashboard de Gestión"}
                %i.fa.fa-lg.fa-fw.fa-home
                %span.menu-item-parent Dashboard
            %li
              %a{href: "#{logistics_companies_path}", title: "Gestión de Compañias"}
                %i.fa.fa-lg.fa-fw.fa-gears
                %span.menu-item-parent Companias
            %li
              %a{href: "#{logistics_persons_path}", title: "Gestión de Usuarios"}
                %i.fa.fa-lg.fa-fw.fa-group
                %span.menu-item-parent Usuarios
          %li
            %a{href: "#", title: "Compañias"}
              %i.fa.fa-lg.fa-fw.fa-wrench
              %span.menu-item-parent Mantenimientos
            %ul
              %li
                %a{href: '#'}
                  %i.fa.fa-lg.fa-fw.fa-list-alt
                  %span.menu-item-parent Globales
                %ul
                  %li
                    %a{href: "#{logistics_type_of_articles_path}", title: "Articulos"}
                      %i.fa.fa-lg.fa-fw.fa-filter
                      %span.menu-item-parent Tipo de Insumos
                  %li
                    %a{href: "#{logistics_categories_path}", title: "Fases"}
                      %i.fa.fa-lg.fa-fw.fa-tasks
                      %span.menu-item-parent Grupos
                  %li
                    %a{href: "#{logistics_articles_path}", title: "Articulos"}
                      %i.fa.fa-lg.fa-fw.fa-desktop
                      %span.menu-item-parent Articulos
                  %li
                    %a{href: "#{logistics_unit_of_measurements_path}", title: "Unidad de Medida"}
                      %i.fa.fa-lg.fa-fw.fa-home{'style'=>"position: relative;bottom: 11px;"}
                      %span.menu-item-parent{'style'=>"width: 100px;"}
                        Unidades de Medida
                  %li
                    %a{href: "#{logistics_phases_path}", title: "Fases"}
                      %i.fa.fa-lg.fa-fw.fa-tasks
                      %span.menu-item-parent Fases
                  %li
                    %a{href: "#{logistics_extra_calculations_path}", title: "Operaciones Adicionales"}
                      %i.fa.fa-lg.fa-fw.fa-tasks
                      %span.menu-item-parent Operaciones Adicionales
                  %li
                    %a{href: "#{logistics_financial_variables_path}", title: "Variables Financieras"}
                      %i.fa.fa-lg.fa-fw.fa-tasks
                      %span.menu-item-parent Variables Financieras
                  %li
                    %a{href: "#{logistics_theoretical_values_path}", title: "Valores Teóricos"}
                      %i.fa.fa-lg.fa-fw.fa-tasks
                      %span.menu-item-parent Valores Teóricos
                  %li
                    %a{href: "#{logistics_money_index_path}", title: "Monedas"}
                      %i.fa.fa-lg.fa-fw.fa-tasks
                      %span.menu-item-parent Monedas
                  %li
                    %a{href: "#{logistics_exchange_of_rates_path}", title: "Tipo de Cambio"}
                      %i.fa.fa-lg.fa-fw.fa-tasks
                      %span.menu-item-parent Tipo de Cambio
                  %li
                    %a{href: "#{logistics_method_of_payments_path}", title: "Formas de Pago"}
                      %i.fa.fa-lg.fa-fw.fa-dot-circle-o
                      %span.menu-item-parent Formas de Pago
                  %li
                    %a{href: "#{logistics_banks_path}", title: "Bancos"}
                      %i.fa.fa-lg.fa-fw.fa-tasks
                      %span.menu-item-parent Bancos
              %li
                %a{href: '#'}
                  %i.fa.fa-lg.fa-fw.fa-list-alt
                  %span.menu-item-parent Específicas
                %ul
                  %li
                    %a{href: "#{specifics_articles_logistics_articles_path}", title: "Articulos por Centro de Costo"}
                      %i.fa.fa-lg.fa-fw.fa-desktop
                      %span.menu-item-parent Articulos Específicos
                  %li
                    %a{href: "#{getSpecificsPhases_logistics_phases_path}", title: "Fases por Centro de Costo"}
                      %i.fa.fa-lg.fa-fw.fa-desktop
                      %span.menu-item-parent Fases Específicas
                  %li
                    %a{href: "#{logistics_center_of_attentions_path}", title: "Centro de Atención"}
                      %i.fa.fa-lg.fa-fw.fa-dot-circle-o{'style'=>"position: relative;bottom: 11px;"}
                      %span.menu-item-parent{'style'=>"width: 100px;"}
                        Centro de Atención
                  %li
                    %a{href: "#{logistics_sectors_path}", title: "Sectores"}
                      %i.fa.fa-lg.fa-fw.fa-map-marker
                      %span.menu-item-parent Sectores
                  %li
                    %a{href: "#{logistics_warehouses_path}", title: "Almacenes" }
                      %i.fa.fa-lg.fa-fw.fa-tasks
                      %span.menu-item-parent Almacenes
                  %li
                    %a{href: "#{logistics_formats_path}", title: "Formatos"}
                      %i.fa.fa-lg.fa-fw.fa-tasks
                      %span.menu-item-parent Formatos
                  %li
                    %a{href: "#{logistics_documents_path}", title: "Documentos"}
                      %i.fa.fa-lg.fa-fw.fa-tasks
                      %span.menu-item-parent Documentos
                  %li
                    %a{href: "#{production_rental_types_path}", title: 'Tipo de Alquiler'}
                      %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                      %span.menu-item-parent Tipo de Alquiler
                  %li
                    %a{href: "#{production_category_of_workers_path}", title: 'Trabajadores'}
                      %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                      %span.menu-item-parent Categoria de Trabajadores
                  %li
                    %a{href: "#{production_position_workers_path}", title: 'Trabajadores'}
                      %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                      %span.menu-item-parent Cargo de Trabajadores
          
          %li
            %a{href: "#", title: "Compañias"}
              %i.fa.fa-lg.fa-fw.fa-book
              %span.menu-item-parent Control Documentario
            %ul
              %li
                %a{href: '#'}
                  %i.fa.fa-lg.fa-fw.fa-list-alt
                  %span.menu-item-parent Mantenimientos
                %ul
                  %li
                    %a{href: "#{documentary_control_type_of_companies_path}", title: "Compañias"}
                      %i.fa.fa-lg.fa-fw.fa-briefcase
                      %span.menu-item-parent Tipos Doc. Notariales
                  %li
                    %a{href: "#{documentary_control_type_of_contest_documents_path}", title: "Compañias"}
                      %i.fa.fa-lg.fa-fw.fa-briefcase
                      %span.menu-item-parent Tipos Doc. Concurso
                  %li
                    %a{href: "#{ documentary_control_type_of_contractual_documents_path}", title: "Compañias"}
                      %i.fa.fa-lg.fa-fw.fa-briefcase
                      %span.menu-item-parent Tipos Doc. Contractual
                  %li
                    %a{href: "#{documentary_control_type_of_book_works_path}", title: "Compañias"}
                      %i.fa.fa-lg.fa-fw.fa-briefcase
                      %span.menu-item-parent Tipos Cuaderno Obra
                  %li
                    %a{href: "#{documentary_control_type_of_record_of_meetings_path}", title: "Compañias"}
                      %i.fa.fa-lg.fa-fw.fa-briefcase
                      %span.menu-item-parent Tipos Acta de Reunión
                  %li
                    %a{href: "#{documentary_control_type_of_received_letters_path}", title: "Compañias"}
                      %i.fa.fa-lg.fa-fw.fa-briefcase
                      %span.menu-item-parent Tipos Doc. Recibidos
                  %li
                    %a{href: "#{documentary_control_type_of_issued_letters_path}", title: "Compañias"}
                      %i.fa.fa-lg.fa-fw.fa-briefcase
                      %span.menu-item-parent Tipos Doc. Emitidos
                  %li
                    %a{href: "#{documentary_control_type_of_work_reports_path}", title: "Compañias"}
                      %i.fa.fa-lg.fa-fw.fa-briefcase
                      %span.menu-item-parent Tipos Informes de Obras
                  %li
                    %a{href: "#{documentary_control_type_of_technical_files_path}", title: "Compañias"}
                      %i.fa.fa-lg.fa-fw.fa-briefcase
                      %span.menu-item-parent Tipos Expediente Técnico
              %li
                %a{href: "#{documentary_control_of_companies_path}", title: "Compañias"}
                  %i.fa.fa-lg.fa-fw.fa-briefcase
                  %span.menu-item-parent Notariales
              %li
                %a{href: "#", title: "Compañias"}
                  %i.fa.fa-lg.fa-fw.fa-gavel
                  %span.menu-item-parent Área Legal
                %ul
                  %li
                    %a{href: "#{documentary_control_contest_documents_path}", title: "Compañias"}
                      %i.fa.fa-lg.fa-fw.fa-briefcase
                      %span.menu-item-parent Doc. del Concurso
                  %li
                    %a{href: "#{documentary_control_contractual_documents_path}", title: "Compañias"}
                      %i.fa.fa-lg.fa-fw.fa-briefcase
                      %span.menu-item-parent Doc. Contractuales
                  %li
                    %a{href: "#{documentary_control_book_works_path}", title: "Compañias"}
                      %i.fa.fa-lg.fa-fw.fa-briefcase
                      %span.menu-item-parent Cuaderno de Obra
              %li
                %a{href: "#", title: "Compañias"}
                  %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                  %span.menu-item-parent Documentación
                %ul
                  %li
                    %a{href: "#{documentary_control_record_of_meetings_path}", title: "Compañias"}
                      %i.fa.fa-lg.fa-fw.fa-briefcase
                      %span.menu-item-parent Acta de Reunión
                  %li
                    %a{href: "#{documentary_control_received_letters_path}", title: "Compañias"}
                      %i.fa.fa-lg.fa-fw.fa-briefcase
                      %span.menu-item-parent Recibidas
                  %li
                    %a{href: "#{documentary_control_issued_letters_path}", title: "Compañias"}
                      %i.fa.fa-lg.fa-fw.fa-briefcase
                      %span.menu-item-parent Emitidas
              %li
                %a{href: "#{documentary_control_work_reports_path}", title: "Compañias"}
                  %i.fa.fa-lg.fa-fw.fa-book
                  %span.menu-item-parent Informes de Obra
              %li
                %a{href: "#{documentary_control_technical_files_path}", title: "Compañias"}
                  %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                  %span.menu-item-parent Expediente Técnico
              %li
                %a{href: "#{documentary_control_flowcharts_path}", title: "Compañias"}
                  %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                  %span.menu-item-parent Organigrama
              %li
                %a{href: "#{documentary_control_photo_of_work_path("show")}", title: "Compañias"}
                  %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                  %span.menu-item-parent Fotos de Obra    
                                
          %li
            %a{href: "#", title: "Compañias"}
              %i.fa.fa-lg.fa-fw.fa-book
              %span.menu-item-parent Biblioteca Técnica
            %ul
              %li
                %a{href: '#'}
                  %i.fa.fa-lg.fa-fw.fa-list-alt
                  %span.menu-item-parent Mantenimientos
                %ul
                  %li
                    %a{href: "#{libraries_type_of_law_and_regulations_path}", title: "Compañias"}
                      %i.fa.fa-lg.fa-fw.fa-briefcase
                      %span.menu-item-parent Tipos Leyes y Reglamentos
                  %li
                    %a{href: "#{libraries_type_of_technical_libraries_path}", title: "Compañias"}
                      %i.fa.fa-lg.fa-fw.fa-briefcase
                      %span.menu-item-parent Tipos Librería Técnica
              %li
                %a{href: "#{libraries_law_and_regulations_path}", title: "Compañias"}
                  %i.fa.fa-lg.fa-fw.fa-briefcase
                  %span.menu-item-parent Leyes y Reglamentos
              %li
                %a{href: "#{libraries_technical_standards_path}", title: "Compañias"}
                  %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                  %span.menu-item-parent Normas Técnicas
              %li
                %a{href: "#{libraries_technical_libraries_path}", title: "Compañias"}
                  %i.fa.fa-lg.fa-fw.fa-book
                  %span.menu-item-parent Librería Técnica
              %li
                %a{href: "#{libraries_download_softwares_path}", title: "Compañias"}
                  %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                  %span.menu-item-parent Download Software
              %li
                %a{href: "#{libraries_interest_links_path}", title: "Compañias"}
                  %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                  %span.menu-item-parent Links de Interés
          %li
            %a{href: "#", title: "Compañias"}
              %i.fa.fa-lg.fa-fw.fa-shopping-cart
              %span.menu-item-parent Pedidos y Compras
            %ul
              %li
                %a{href: "#{logistics_delivery_orders_path}", title: "Ordenes de Suministro" }
                  %i.fa.fa-lg.fa-fw.fa-clipboard
                  %span.menu-item-parent
                    Ordenes de Suministro
              %li
                %a{href: "#{show_tracking_orders_logistics_delivery_orders_path}", title: "Seguimiento de Ordenes"}
                  %i.fa.fa-lg.fa-fw.fa-clipboard
                  %span.menu-item-parent
                    Seguimiento de Ordenes
              %li
                %a{href: "#{logistics_purchase_orders_path}", title: "Ordenes de Compra" }
                  %i.fa.fa-lg.fa-fw.fa-clipboard
                  %span.menu-item-parent
                    Ordenes de Compra
              %li
                %a{href: "#{logistics_order_of_services_path}", title: "Ordenes de Servicio" }
                  %i.fa.fa-lg.fa-fw.fa-clipboard
                  %span.menu-item-parent
                    Ordenes de Servicio
          %li
            %a{href: "#", title: "Compañias"}
              %i.fa.fa-lg.fa-fw.fa-truck
              %span.menu-item-parent Almacenes
            %ul
              %li
                %a{href: "#{logistics_stock_inputs_path}", title: "Ingreso a Almacén" }
                  %i.fa.fa-lg.fa-fw.fa-clipboard
                  %span.menu-item-parent
                    Ingreso a Almacén
              %li
                %a{href: "#{logistics_stock_outputs_path}", title: "Salida de Almacén" }
                  %i.fa.fa-lg.fa-fw.fa-clipboard
                  %span.menu-item-parent
                    Salida de Almacén
              %li
                %a{href: "#{reports_inventories_path}", title: "Consulta de Inventarios" }
                  %i.fa.fa-lg.fa-fw.fa-clipboard
                  %span.menu-item-parent
                    Consulta de Inventarios
          %li
            %a{href: '#', title: "Ejecución"}
              %i.fa.fa-lg.fa-fw.fa-signal
              %span.menu-item-parent Ejecución
            %ul
              %li
                %a{href: '#', title: "Producción"}
                  %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                  %span.menu-item-parent Producción
                %ul
                  %li
                    %a{href: "#{production_working_groups_path}", title: 'Trabajadores'}
                      %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                      %span.menu-item-parent Grupos de Trabajo
                  %li
                    %a{href: "#{production_part_works_path}", title: 'Parte Diario De Avance - Producción'}
                      %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                      %span.menu-item-parent Parte Diario
                  %li
                    %a{href: "#{production_analysis_of_valuations_path}", title: 'Analisis de Producción'}
                      %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                      %span.menu-item-parent Analisis Producción
              %li
                %a{href: '#', title: "Equipos"}
                  %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                  %span.menu-item-parent Equipos
                %ul
                  %li
                    %a{href: "#{production_subcontract_equipments_path}", title: 'Trabajadores'}
                      %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                      %span.menu-item-parent Contratos
                  %li
                    %a{href: "#{production_part_of_equipments_path}", title: 'Parte de Equipos'}
                      %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                      %span.menu-item-parent Parte diario
                  %li
                    %a{href: "#{production_machinery_reports_path}", title: 'Reporte de Maquinaria'}
                      %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                      %span.menu-item-parent Consulta de Partes
                  %li
                    %a{href: "#{production_valuation_of_equipments_path}", title: 'Valorizar Equipos'}
                      %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                      %span.menu-item-parent Valorizar Equipos
                  %li
                    %a{href: "#{production_equipment_reports_path}", title: 'Reporte de Equipos'}
                      %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                      %span.menu-item-parent Reporte de Equipos
                  
              %li
                %a{href: '#'}
                  %i.fa.fa-lg.fa-fw.fa-list-alt
                  %span.menu-item-parent Subcontratos
                %ul
                  %li
                    %a{href: "#{production_subcontracts_path}", title: 'Trabajadores'}
                      %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                      %span.menu-item-parent Subcontrato
                  %li
                    %a{href: "#{production_sc_valuations_path}", title: 'Valorizaciones SC'}
                      %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                      %span.menu-item-parent Valorizaciones SC
              %li
                %a{href: '#'}
                  %i.fa.fa-lg.fa-fw.fa-list-alt
                  %span.menu-item-parent Personal
                %ul
                  %li
                    %a{href: "#{production_workers_path}", title: 'Trabajadores'}
                      %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                      %span.menu-item-parent Trabajadores
                  %li
                    %a{href: "#{production_part_people_path}", title: 'Parte de Personal'}
                      %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                      %span.menu-item-parent Parte diario
                  %li
                    %a{href: "#{production_daily_works_daily_workers_path}", title: 'Tareo Diario de Obra'}
                      %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                      %span.menu-item-parent Consulta Partes
                  %li
                    %a{href: "#{production_daily_works_weekly_workers_path}", title: 'Tareo Semanal de Obra'}
                      %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                      %span.menu-item-parent Tareo Semanal
                  %li
                    %a{href: "#{production_weekly_reports_path}", title: 'Reporte Semanal de Obra'}
                      %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                      %span.menu-item-parent Reporte Semanal
          %li
            %a{href: "#", title: "Administración"}
              %i.fa.fa-lg.fa-fw.fa-calendar
              %span.menu-item-parent Administración
            %ul
              %li
                %a{href: "#{administration_document_provisions_path}", title: "Tipo de Documento para Provisiones"}
                  %i.fa.fa-lg.fa-fw.fa-list-alt
                  %span.menu-item-parent Tipo de Documento para Provisiones
              %li
                %a{href: "#{administration_provisions_path}", title: "Provisiones"}
                  %i.fa.fa-lg.fa-fw.fa-list-alt
                  %span.menu-item-parent Provisiones
          %li
            %a{href: "#", title: "Planillas"}
              %i.fa.fa-lg.fa-fw.fa-file-text
              %span.menu-item-parent Planillas
            %ul
              %li
                %a{href: "#{payrolls_concepts_path}", title: "Conceptos de Planilla"}
                  %i.fa.fa-lg.fa-fw.fa-list-alt
                  %span.menu-item-parent Conceptos de Planilla
              %li
                %a{href: "#{payrolls_afps_path}", title: "AFP's"}
                  %i.fa.fa-lg.fa-fw.fa-list-alt
                  %span.menu-item-parent AFP's
          %li
            %a{href: "#", title: "Licitaciones"}
              %i.fa.fa-lg.fa-fw.fa-calendar
              %span.menu-item-parent Licitaciones
            %ul
              %li
                %a{href: '#'}
                  %i.fa.fa-lg.fa-fw.fa-list-alt
                  %span.menu-item-parent Mantenimientos
                %ul
                  %li
                    %a{href: "#{biddings_work_partners_path}", title: "Miembros Consorcio"}
                      %i.fa.fa-lg.fa-fw.fa-user
                      %span.menu-item-parent Socios
                  %li
                    %a{href: "#{biddings_majors_path}", title: "Profesionales"}
                      %i.fa.fa-lg.fa-fw.fa-book
                      %span.menu-item-parent Profesiones
                  %li
                    %a{href: "#{biddings_charges_path}", title: "Cargos"}
                      %i.fa.fa-lg.fa-fw.fa-group
                      %span.menu-item-parent Cargos
                  %li
                    %a{href: "#{biddings_components_path}", title: "Componentes"}
                      %i.fa.fa-lg.fa-fw.fa-clipboard
                      %span.menu-item-parent Componentes
                %li
                  %a{href: "#{biddings_works_path}", title: "Obras"}
                    %i.fa.fa-lg.fa-fw.fa-home
                    %span.menu-item-parent Obras
                %li
                  %a{href: "#{biddings_professionals_path}", title: "Profesionales"}
                    %i.fa.fa-lg.fa-fw.fa-user
                    %span.menu-item-parent Profesionales
              %li
                %a{href: "#{calendar_biddings_works_path}"}
                  %i.fa.fa-lg.fa-fw.fa-list-alt
                  %span.menu-item-parent Calendario de Licitaciones

          %li
            %a{href: "#", title: "Reportes"}
              %i.fa.fa-lg.fa-fw.fa-bar-chart-o
              %span.menu-item-parent Reportes
            %ul
              %li
                %a{href: "#{reports_reportofthemonths_path}", title: "Reporte Mensual" }
                  %i.fa.fa-lg.fa-fw.fa-clipboard
                  %span.menu-item-parent
                    Reporte Mensual
          %li
            %a{href: "#{logistics_type_entities_path}", title: "Tipo de Entidades"}
              %i.fa.fa-lg.fa-fw.fa-sitemap
              %span.menu-item-parent Tipo de Entidades
          %li
            %a{href: "#{logistics_entities_path}", title: "Entidades"}
              %i.fa.fa-lg.fa-fw.fa-group
              %span.menu-item-parent Entidades
          %li
            %a{href: "##{logistics_person_path(current_user.id)}", title: "Usuario"}
              %i.fa.fa-lg.fa-fw.fa-user
              %span.menu-item-parent Mi Perfil
      %span.minifyme
        %i.fa.fa-arrow-circle-left.hit
    / END NAVIGATION
    / MAIN PANEL
    #main{role: "main"}
      #ribbon
        %ol.breadcrumb
      / MAIN CONTENT
      #content
      / END MAIN CONTENT
    / END MAIN PANEL
    /
      SHORTCUT AREA : With large tiles (activated via clicking user name tag)
      Note: These tiles are completely responsive,
      you can add as many as you like
    #shortcut
      %ul
        %li
          %a.jarvismetro-tile.big-cubes.selected.bg-color-pinkDark{href: "##{logistics_person_path(current_user.id)}"}
            %span.iconbox
              %i.fa.fa-user.fa-4x
              %span Mi Perfil

    %a{'data-toggle' => 'modal', 'href' => "#", 'data-target' => "#modalLoading"}

    #modalLoading.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modalLoadingLabel", role: "dialog", tabindex: "-1"}
      .modal-dialog
        .modal-content
          .modal-body
            .row
              .col-sm-12
                %h3 Cargando Contenido...
                .progress.progress-sm.progress-striped.active
                  .progress-bar.bg-color-darken{role: "progressbar", style: "width: 100%"}
    / END SHORTCUT AREA
    / ==================================================
    /
      PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)
      <script data-pace-options='{ "restartOnRequestAfter": true }' src="js/plugin/pace/pace.min.js"></script>
    / Link to Google CDN's jQuery + jQueryUI; fall back to local
    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js'
    :javascript
      if (!window.jQuery) {
      	document.write('<script src="js/libs/jquery-2.0.2.min.js"><\/script>');
      }
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"
    :javascript
      if (!window.jQuery.ui) {
      	document.write('<script src="js/libs/jquery-ui-1.10.3.min.js"><\/script>');
      }
    /
      JS TOUCH : include this plugin for mobile drag / drop touch events
      <script src="js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script>
    / BOOTSTRAP JS
    = javascript_include_tag 'bootstrap/bootstrap'
    = javascript_include_tag 'bootstrap/bootstrap-tooltip'
    = javascript_include_tag 'bootstrap/bootstrap-confirmation'
    / CUSTOM NOTIFICATION
    = javascript_include_tag 'notification/SmartNotification.min'
    / JARVIS WIDGETS
    = javascript_include_tag 'smartwidgets/jarvis.widget.min'
    / EASY PIE CHARTS
    = javascript_include_tag 'plugin/easy-pie-chart/jquery.easy-pie-chart.min'
    / SPARKLINES
    = javascript_include_tag 'plugin/sparkline/jquery.sparkline.min'
    / JQUERY VALIDATE
    = javascript_include_tag 'plugin/jquery-validate/jquery.validate.min'
    / JQUERY MASKED INPUT
    = javascript_include_tag 'plugin/masked-input/jquery.maskedinput.min'
    / JQUERY SELECT2 INPUT
    = javascript_include_tag 'plugin/select2/select2.min'
    / JQUERY UI + Bootstrap Slider
    = javascript_include_tag 'plugin/bootstrap-slider/bootstrap-slider.min'
    / browser msie issue fix
    = javascript_include_tag 'plugin/msie-fix/jquery.mb.browser.min'
    / SmartClick: For mobile devices
    = javascript_include_tag 'plugin/smartclick/smartclick'
    / JQUERY FORM
    = javascript_include_tag 'plugin/jquery-form/jquery-form.min'
    / HIGHCHARTS
    = javascript_include_tag 'highchart/highcharts'
    = javascript_include_tag 'highchart/modules/exporting'
    /[if IE 7]
      <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
    / Demo purpose only
    //= javascript_include_tag 'demo'
    / MAIN APP JS FILE
    = javascript_include_tag 'app'
    / Your GOOGLE ANALYTICS CODE Below
