!!!
%html{lang: "en-us"}
  %head
    %meta{charset: "utf-8"}
    / <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    %title ARSAC Managment Project
    %meta{content: "", name: "description"}
    %meta{content: "", name: "author"}
    /
      Use the correct meta names below for your web application
      Ref: http://davidbcalhoun.com/2010/viewport-metatag
      
      <meta name="HandheldFriendly" content="True">
      <meta name="MobileOptimized" content="320">
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", name: "viewport"}
    %link{href: "#{asset_path('favicon.png')}", rel: "shortcut icon"}/
    / Basic Styles
    = stylesheet_link_tag "bootstrap.min", media: "screen", rel: "stylesheet", type: "text/css"
    = stylesheet_link_tag "font-awesome.min", media: "screen", rel: "stylesheet", type: "text/css"
    
    / SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables
    = stylesheet_link_tag "smartadmin-production", media: "screen", rel: "stylesheet", type: "text/css"
    = stylesheet_link_tag "smartadmin-production_unminified", media: "screen", rel: "stylesheet", type: "text/css"
    = stylesheet_link_tag "smartadmin-skins", media: "screen", rel: "stylesheet", type: "text/css"
    /
      SmartAdmin RTL Support is under construction
      <link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-rtl.css">
    / Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp
    = stylesheet_link_tag "custom", media: "screen", rel: "stylesheet", type: "text/css"
    /JS
    = javascript_include_tag 'application'
    / TOKEN
    = csrf_meta_tag
    / FAVICONS
    =# stylesheet_link_tag "smartadmin-production.min", media: "screen", rel: "stylesheet", type: "text/css"
    =# stylesheet_link_tag "smartadmin-production.min", media: "screen", rel: "stylesheet", type: "text/css"
    %link{href: "images/favicon/favicon.ico", rel: "shortcut icon", type: "image/x-icon"}
    %link{href: "images/favicon/favicon.ico", rel: "icon", type: "image/x-icon"}
    / GOOGLE FONT
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700", rel: "stylesheet"}
  %body
    / possible classes: minified, fixed-ribbon, fixed-header, fixed-width
    / HEADER
    %header#header
      #logo-group
        / PLACE YOUR LOGO HERE
        %span#logo{:style => 'margin-top: 9px;'}
          - if !@company.nil?
            = image_tag @company.avatar.url, alt: "#{@company.name}"
        / END LOGO PLACEHOLDER
        
      / projects dropdown
      - if !@cost_center_name.nil?
        #project-context
          %span.label Centro de Costo:
          %span#project-selector.popover-trigger-element.dropdown-toggle{"data-toggle" => "dropdown"}
            = @cost_center_name
            %i.fa.fa-angle-down
          - if !@others_cost_centers.nil?
            %ul.dropdown-menu
              - @others_cost_centers.each do |other_cc|
                %li
                  %a{href: "#{show_panel_main_path(@company.id)}?cost_center=#{other_cc.id}"}
                    %i.fa.fa-power-off
                    = other_cc.name
      / pulled right: nav area
      .pull-right
        / collapse menu button   

        #hide-menu.btn-header.pull-right
          %span
            %a{href: "javascript:void(0);", title: "Collapse Menu"}
              %i.fa.fa-reorder
        / end collapse menu
        / logout button
        #logout.btn-header.transparent.pull-right
          %span
            %a{href: "#{destroy_user_session_path}", title: 'Sign out'}
              %i.fa.fa-sign-out
        / end logout button
        / search mobile button (this is hidden till mobile view port)
        #show-companies.btn-header.transparent.pull-right
          %span
            %a{href: "#{root_path}?flag=1", title: "Show Companies"}
              %i.fa.fa-suitcase
        
        / end search mobile button
        /cost center details button
        .btn-header.pull-right
          %span
            %a{"href"=> "#", "data-toggle"=>"modal", "data-target"=>"#cost_center_general_data", title: "Datos generales del centro de costo"}
              %i.fa.fa-info-circle
        /end cost center details button

        / input: search field
      / end pulled right: nav area
    / END HEADER
    / Left panel : Navigation area
    / Note: This width of the aside area can be adjusted through LESS variables
    %aside#left-panel
      / User info
      .login-info
        %span
          / User image size is adjusted inside CSS, it should stay as it
          = image_tag current_user.avatar.url(:thumb), alt: "me", class: 'online'
          %a#show-shortcut{href: "javascript:void(0);"}
            = "#{current_user.first_name} #{current_user.last_name}"
            %i.fa.fa-angle-down
      / end user info
      /
        NAVIGATION : This navigation is also responsive
        
        To make this navigation dynamic please make sure to link the node
        (the reference to the nav > ul) after page load. Or the navigation
        will not initialize.
      %nav
        /
          NOTE: Notice the gaps after each icon usage <i></i>..
          Please note that these links work a bit different than
          traditional href="" links. See documentation for details.
        %ul
          %li
            %a{href: "#{inbox_task_main_path}", title: "Tareas"}
              %i.fa.fa-lg.fa-fw.fa-inbox
              Inbox
              %span.badge.pull-right.inbox-badge= @total_pending
          - if current_user.has_role? :director
            %li
              %a{href: "#{management_dashboard_path}", title: "Dashboard de Gestión"}
                %i.fa.fa-lg.fa-fw.fa-home
                Dashboard
            %li
              %a{href: "#{logistics_companies_path}", title: "Gestión de Compañias"}
                %i.fa.fa-lg.fa-fw.fa-gears
                Companias
            %li
              %a{href: "#{logistics_persons_path}", title: "Gestión de Usuarios"}
                %i.fa.fa-lg.fa-fw.fa-group
                Usuarios
          %li
            %a{href: "#", title: "Compañias"}
              %i.fa.fa-lg.fa-fw.fa-wrench
              Mantenimientos
            %ul
              %li
                %a{href: '#'}
                  %i.fa.fa-lg.fa-fw.fa-list-alt
                  Sistema
                %ul
                  %li
                    %a{href: "#{logistics_type_of_articles_path}", title: "Articulos"}
                      %i.fa.fa-lg.fa-fw.fa-filter
                      Tipo de Insumos
                  %li
                    %a{href: "#{administration_account_accountants_path}", title: "Cuentas Contables"}
                      %i.fa.fa-lg.fa-fw.fa-tasks
                      Cuentas Contables
                    %ul
                      %li
                        %a{href: "#{import_administration_account_accountants_path}", title: "Importar Cuentas Contables"}
                          %i.fa.fa-fw.fa-file-text
                          Importar
                  %li
                    %a{href: "#{administration_sub_dailies_path}", title: "Sub Diarios"}
                      %i.fa.fa-lg.fa-fw.fa-tasks
                      Sub Diarios
                    %ul
                      %li
                        %a{href: "#{import_administration_sub_dailies_path}", title: "Importar Sub Diarios"}
                          %i.fa.fa-fw.fa-file-text
                          Importar
                  %li
                    %a{href: "#{logistics_extra_calculations_path}", title: "Operaciones Adicionales"}
                      %i.fa.fa-lg.fa-fw.fa-tasks
                      Operaciones Adicionales
                  %li
                    %a{href: "#{logistics_financial_variables_path}", title: "Variables Financieras"}
                      %i.fa.fa-lg.fa-fw.fa-tasks
                      Variables Financieras
                  %li
                    %a{href: "#{logistics_theoretical_values_path}", title: "Valores Teóricos"}
                      %i.fa.fa-lg.fa-fw.fa-tasks
                      Valores Teóricos
              %li
                %a{href: '#'}
                  %i.fa.fa-lg.fa-fw.fa-list-alt
                  Globales
                %ul
                  %li
                    %a{href: "#{logistics_categories_path}", title: "Fases"}
                      %i.fa.fa-lg.fa-fw.fa-tasks
                      Grupos
                  %li
                    %a{href: "#{logistics_articles_path}", title: "Articulos"}
                      %i.fa.fa-lg.fa-fw.fa-desktop
                      Articulos
                  %li
                    %a{href: "#{logistics_unit_of_measurements_path}", title: "Unidad de Medida"}
                      %i.fa.fa-lg.fa-fw.fa-home{'style'=>"position: relative;bottom: 11px;"}
                      %span.menu-item-parent{'style'=>"width: 100px;"}
                        Unidades de Medida
                  %li
                    %a{href: "#{logistics_phases_path}", title: "Fases"}
                      %i.fa.fa-lg.fa-fw.fa-tasks
                      Fases
                  %li
                    %a{href: "#{logistics_money_index_path}", title: "Monedas"}
                      %i.fa.fa-lg.fa-fw.fa-tasks
                      Monedas
                  %li
                    %a{href: "#{logistics_exchange_of_rates_path}", title: "Tipo de Cambio"}
                      %i.fa.fa-lg.fa-fw.fa-tasks
                      Tipo de Cambio
                  %li
                    %a{href: "#{logistics_method_of_payments_path}", title: "Formas de Pago"}
                      %i.fa.fa-lg.fa-fw.fa-dot-circle-o
                      Formas de Pago
                  %li
                    %a{href: "#{logistics_banks_path}", title: "Bancos"}
                      %i.fa.fa-lg.fa-fw.fa-tasks
                      Bancos
              %li
                %a{href: '#'}
                  %i.fa.fa-lg.fa-fw.fa-list-alt
                  Específicas
                %ul
                  %li
                    %a{href: "#{specifics_articles_logistics_articles_path}", title: "Articulos por Centro de Costo"}
                      %i.fa.fa-lg.fa-fw.fa-desktop
                      Articulos Específicos
                  %li
                    %a{href: "#{getSpecificsPhases_logistics_phases_path}", title: "Fases por Centro de Costo"}
                      %i.fa.fa-lg.fa-fw.fa-desktop
                      Fases Específicas
                  %li
                    %a{href: "#{logistics_center_of_attentions_path}", title: "Centro de Atención"}
                      %i.fa.fa-lg.fa-fw.fa-dot-circle-o{'style'=>"position: relative;bottom: 11px;"}
                      %span.menu-item-parent{'style'=>"width: 100px;"}
                        Centro de Atención
                  %li
                    %a{href: "#{logistics_sectors_path}", title: "Sectores"}
                      %i.fa.fa-lg.fa-fw.fa-map-marker
                      Sectores
                  %li
                    %a{href: "#{logistics_warehouses_path}", title: "Almacenes" }
                      %i.fa.fa-lg.fa-fw.fa-tasks
                      Almacenes
                  %li
                    %a{href: "#{logistics_formats_path}", title: "Formatos"}
                      %i.fa.fa-lg.fa-fw.fa-tasks
                      Formatos
                  %li
                    %a{href: "#{logistics_documents_path}", title: "Documentos"}
                      %i.fa.fa-lg.fa-fw.fa-tasks
                      Documentos
                  %li
                    %a{href: "#{production_rental_types_path}", title: 'Tipo de Alquiler'}
                      %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                      Tipo de Alquiler
                  %li
                    %a{href: "#{production_category_of_workers_path}", title: 'Trabajadores'}
                      %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                      Categoria de Trabajadores
                  %li
                    %a{href: "#{production_position_workers_path}", title: 'Trabajadores'}
                      %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                      Cargo de Trabajadores
          
          %li
            %a{href: "#", title: "Compañias"}
              %i.fa.fa-lg.fa-fw.fa-book
              Control Documentario
            %ul
              %li
                %a{href: '#'}
                  %i.fa.fa-lg.fa-fw.fa-list-alt
                  Mantenimientos
                %ul
                  %li
                    %a{href: "#{documentary_control_type_of_companies_path}", title: "Compañias"}
                      %i.fa.fa-lg.fa-fw.fa-briefcase
                      Tipos Doc. Notariales
                  %li
                    %a{href: "#{documentary_control_type_of_contest_documents_path}", title: "Compañias"}
                      %i.fa.fa-lg.fa-fw.fa-briefcase
                      Tipos Doc. Concurso
                  %li
                    %a{href: "#{ documentary_control_type_of_contractual_documents_path}", title: "Compañias"}
                      %i.fa.fa-lg.fa-fw.fa-briefcase
                      Tipos Doc. Contractual
                  %li
                    %a{href: "#{documentary_control_type_of_book_works_path}", title: "Compañias"}
                      %i.fa.fa-lg.fa-fw.fa-briefcase
                      Tipos Cuaderno Obra
                  %li
                    %a{href: "#{documentary_control_type_of_record_of_meetings_path}", title: "Compañias"}
                      %i.fa.fa-lg.fa-fw.fa-briefcase
                      Tipos Acta de Reunión
                  %li
                    %a{href: "#{documentary_control_type_of_received_letters_path}", title: "Compañias"}
                      %i.fa.fa-lg.fa-fw.fa-briefcase
                      Tipos Doc. Recibidos
                  %li
                    %a{href: "#{documentary_control_type_of_issued_letters_path}", title: "Compañias"}
                      %i.fa.fa-lg.fa-fw.fa-briefcase
                      Tipos Doc. Emitidos
                  %li
                    %a{href: "#{documentary_control_type_of_work_reports_path}", title: "Compañias"}
                      %i.fa.fa-lg.fa-fw.fa-briefcase
                      Tipos Informes de Obras
                  %li
                    %a{href: "#{documentary_control_type_of_technical_files_path}", title: "Compañias"}
                      %i.fa.fa-lg.fa-fw.fa-briefcase
                      Tipos Expediente Técnico
              %li
                %a{href: "#{documentary_control_of_companies_path}", title: "Compañias"}
                  %i.fa.fa-lg.fa-fw.fa-briefcase
                  Notariales
              %li
                %a{href: "#", title: "Compañias"}
                  %i.fa.fa-lg.fa-fw.fa-gavel
                  Área Legal
                %ul
                  %li
                    %a{href: "#{documentary_control_contest_documents_path}", title: "Compañias"}
                      %i.fa.fa-lg.fa-fw.fa-briefcase
                      Doc. del Concurso
                  %li
                    %a{href: "#{documentary_control_contractual_documents_path}", title: "Compañias"}
                      %i.fa.fa-lg.fa-fw.fa-briefcase
                      Doc. Contractuales
                  %li
                    %a{href: "#{documentary_control_book_works_path}", title: "Compañias"}
                      %i.fa.fa-lg.fa-fw.fa-briefcase
                      Cuaderno de Obra
              %li
                %a{href: "#", title: "Compañias"}
                  %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                  Documentación
                %ul
                  %li
                    %a{href: "#{documentary_control_record_of_meetings_path}", title: "Compañias"}
                      %i.fa.fa-lg.fa-fw.fa-briefcase
                      Acta de Reunión
                  %li
                    %a{href: "#{documentary_control_received_letters_path}", title: "Compañias"}
                      %i.fa.fa-lg.fa-fw.fa-briefcase
                      Recibidas
                  %li
                    %a{href: "#{documentary_control_issued_letters_path}", title: "Compañias"}
                      %i.fa.fa-lg.fa-fw.fa-briefcase
                      Emitidas
              %li
                %a{href: "#{documentary_control_work_reports_path}", title: "Compañias"}
                  %i.fa.fa-lg.fa-fw.fa-book
                  Informes de Obra
              %li
                %a{href: "#{documentary_control_technical_files_path}", title: "Compañias"}
                  %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                  Expediente Técnico
              %li
                %a{href: "#{documentary_control_flowcharts_path}", title: "Compañias"}
                  %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                  Organigrama
              %li
                %a{href: "#{documentary_control_photo_of_work_path("show")}", title: "Compañias"}
                  %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                  Fotos de Obra    
                                
          %li
            %a{href: "#", title: "Compañias"}
              %i.fa.fa-lg.fa-fw.fa-book
              Biblioteca Técnica
            %ul
              %li
                %a{href: '#'}
                  %i.fa.fa-lg.fa-fw.fa-list-alt
                  Mantenimientos
                %ul
                  %li
                    %a{href: "#{libraries_type_of_law_and_regulations_path}", title: "Compañias"}
                      %i.fa.fa-lg.fa-fw.fa-briefcase
                      Tipos Leyes y Reglamentos
                  %li
                    %a{href: "#{libraries_type_of_technical_libraries_path}", title: "Compañias"}
                      %i.fa.fa-lg.fa-fw.fa-briefcase
                      Tipos Librería Técnica
              %li
                %a{href: "#{libraries_law_and_regulations_path}", title: "Compañias"}
                  %i.fa.fa-lg.fa-fw.fa-briefcase
                  Leyes y Reglamentos
              %li
                %a{href: "#{libraries_technical_standards_path}", title: "Compañias"}
                  %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                  Normas Técnicas
              %li
                %a{href: "#{libraries_technical_libraries_path}", title: "Compañias"}
                  %i.fa.fa-lg.fa-fw.fa-book
                  Librería Técnica
              %li
                %a{href: "#{libraries_download_softwares_path}", title: "Compañias"}
                  %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                  Download Software
              %li
                %a{href: "#{libraries_interest_links_path}", title: "Compañias"}
                  %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                  Links de Interés
          %li
            %a{href: "#", title: "Compañias"}
              %i.fa.fa-lg.fa-fw.fa-shopping-cart
              Pedidos y Compras
            %ul
              %li
                %a{href: "#{logistics_delivery_orders_path}", title: "Ordenes de Suministro" }
                  %i.fa.fa-lg.fa-fw.fa-clipboard
                  %span.menu-item-parent
                    Ordenes de Suministro
              %li
                %a{href: "#{show_tracking_orders_logistics_delivery_orders_path}", title: "Seguimiento de Ordenes"}
                  %i.fa.fa-lg.fa-fw.fa-clipboard
                  %span.menu-item-parent
                    Seguimiento de Ordenes
              %li
                %a{href: "#{logistics_purchase_orders_path}", title: "Ordenes de Compra" }
                  %i.fa.fa-lg.fa-fw.fa-clipboard
                  %span.menu-item-parent
                    Ordenes de Compra
              %li
                %a{href: "#{logistics_order_of_services_path}", title: "Ordenes de Servicio" }
                  %i.fa.fa-lg.fa-fw.fa-clipboard
                  %span.menu-item-parent
                    Ordenes de Servicio
          %li
            %a{href: "#", title: "Compañias"}
              %i.fa.fa-lg.fa-fw.fa-truck
              Almacenes
            %ul
              %li
                %a{href: "#{logistics_stock_inputs_path}", title: "Ingreso a Almacén" }
                  %i.fa.fa-lg.fa-fw.fa-clipboard
                  %span.menu-item-parent
                    Ingreso a Almacén
              %li
                %a{href: "#{logistics_stock_outputs_path}", title: "Salida de Almacén" }
                  %i.fa.fa-lg.fa-fw.fa-clipboard
                  %span.menu-item-parent
                    Salida de Almacén
              %li
                %a{href: "#{reports_inventories_path}", title: "Consulta de Inventarios" }
                  %i.fa.fa-lg.fa-fw.fa-clipboard
                  %span.menu-item-parent
                    Consulta de Inventarios
          %li
            %a{href: '#', title: "Ejecución"}
              %i.fa.fa-lg.fa-fw.fa-signal
              Ejecución
            %ul
              %li
                %a{href: '#', title: "Producción"}
                  %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                  Producción
                %ul
                  %li
                    %a{href: "#{production_working_groups_path}", title: 'Trabajadores'}
                      %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                      Grupos de Trabajo
                  %li
                    %a{href: "#{production_part_works_path}", title: 'Parte Diario De Avance - Producción'}
                      %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                      Parte Diario
                  %li
                    %a{href: "#{production_analysis_of_valuations_path}", title: 'Analisis de Producción'}
                      %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                      Analisis Producción
              %li
                %a{href: '#', title: "Equipos"}
                  %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                  Equipos
                %ul
                  %li
                    %a{href: "#{production_subcontract_equipments_path}", title: 'Trabajadores'}
                      %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                      Contratos
                  %li
                    %a{href: "#{production_part_of_equipments_path}", title: 'Parte de Equipos'}
                      %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                      Parte diario
                  %li
                    %a{href: "#{production_machinery_reports_path}", title: 'Reporte de Maquinaria'}
                      %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                      Consulta de Partes
                  %li
                    %a{href: "#{production_valuation_of_equipments_path}", title: 'Valorizar Equipos'}
                      %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                      Valorizar Equipos
                  %li
                    %a{href: "#{production_equipment_reports_path}", title: 'Reporte de Equipos'}
                      %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                      Reporte de Equipos
                  
              %li
                %a{href: '#'}
                  %i.fa.fa-lg.fa-fw.fa-list-alt
                  Subcontratos
                %ul
                  %li
                    %a{href: "#{production_subcontracts_path}", title: 'Trabajadores'}
                      %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                      Subcontrato
                  %li
                    %a{href: "#{production_sc_valuations_path}", title: 'Valorizaciones SC'}
                      %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                      Valorizaciones SC
              %li
                %a{href: '#'}
                  %i.fa.fa-lg.fa-fw.fa-list-alt
                  Personal
                %ul
                  %li
                    %a{href: "#{production_part_people_path}", title: 'Parte de Personal'}
                      %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                      Parte diario ( Obreros )
                  %li
                    %a{href: "#{production_daily_works_daily_workers_path}", title: 'Tareo Diario de Obra'}
                      %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                      Consulta Partes
                  %li
                    %a{href: "#{production_daily_works_weekly_workers_path}", title: 'Tareo Semanal de Obra'}
                      %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                      Tareo Semanal
                  %li
                    %a{href: "#{production_weekly_reports_path}", title: 'Reporte Semanal de Obra'}
                      %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                      Reporte Semanal
          %li
            %a{href: "#", title: "Provisiones"}
              %i.fa.fa-lg.fa-fw.fa-calendar
              Administración
            %ul
              %li
                %a{href: "#{administration_document_provisions_path}", title: "Tipo de Documento para Provisiones"}
                  %i.fa.fa-lg.fa-fw.fa-list-alt
                  Tipo de Documento para Provisiones
              %li
                %a{href: "#{administration_provisions_path}", title: "Compras"}
                  %i.fa.fa-lg.fa-fw.fa-list-alt
                  Provisiones (Compras)
              %li
                %a{href: "#{administration_provision_articles_path}", title: "Compras"}
                  %i.fa.fa-lg.fa-fw.fa-list-alt
                  Provisiones (Compra Directa)
              %li
                %a{href: "#{administration_payment_orders_path}", title: "Ordenes de Pago"}
                  %i.fa.fa-lg.fa-fw.fa-list-alt
                  Ordenes de pago
              %li
                %a{href: '#'}
                  %i.fa.fa-lg.fa-fw.fa-list-alt
                  Personal
                %ul
                  %li
                    %a{href: "#{production_workers_path}", title: 'Trabajadores'}
                      %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                      Trabajadores
                  %li
                    %a{href: "#{administration_part_workers_path}", title: 'Parte de Trabajadores'}
                      %i.fa.fa-lg.fa-fw.fa-bar-chart-o
                      Parte diario ( Trabajadores )
                  %li
                    %a{href: "#{administration_health_centers_path}", title: "Centros de Salud"}
                      %i.fa.fa-lg.fa-fw.fa-list-alt
                      Centros de Salud
                  %li
                    %a{href: "#{administration_contract_types_path}", title: "Tipos de Contrato"}
                      %i.fa.fa-lg.fa-fw.fa-list-alt
                      Tipos de Contrato
          %li
            %a{href: "#", title: "Gastos Generales"}
              %i.fa.fa-lg.fa-fw.fa-calendar
              Gastos Generales
            %ul
              %li
                %a{href: "#{general_expenses_general_expenses_path}", title: "Declaración de GG."}
                  %i.fa.fa-lg.fa-fw.fa-list-alt
                  Declaración de GG.
          %li
            %a{href: "#", title: "Planillas"}
              %i.fa.fa-lg.fa-fw.fa-file-text
              Planillas
            %ul
              %li
                %a{href: "#{payrolls_concepts_path}", title: "Conceptos de Planilla"}
                  %i.fa.fa-lg.fa-fw.fa-list-alt
                  Conceptos de Planilla
              %li
                %a{href: "#{payrolls_afps_path}", title: "AFP's"}
                  %i.fa.fa-lg.fa-fw.fa-list-alt
                  AFP's
              %li
                %a{href: "#{payrolls_payrolls_path}", title: "Boleta de Pago"}
                  %i.fa.fa-lg.fa-fw.fa-list-alt
                  Boleta de Pago
              %li
                %a{href: "#{payrolls_payslips_path}", title: "Boleta de Pago"}
                  %i.fa.fa-lg.fa-fw.fa-list-alt
                  Planillas
          %li
            %a{href: "#", title: "Licitaciones"}
              %i.fa.fa-lg.fa-fw.fa-calendar
              Licitaciones
            %ul
              %li
                %a{href: '#'}
                  %i.fa.fa-lg.fa-fw.fa-list-alt
                  Mantenimientos
                %ul
                  %li
                    %a{href: "#{biddings_work_partners_path}", title: "Miembros Consorcio"}
                      %i.fa.fa-lg.fa-fw.fa-user
                      Socios
                  %li
                    %a{href: "#{biddings_majors_path}", title: "Profesionales"}
                      %i.fa.fa-lg.fa-fw.fa-book
                      Profesiones
                  %li
                    %a{href: "#{biddings_charges_path}", title: "Cargos"}
                      %i.fa.fa-lg.fa-fw.fa-group
                      Cargos
                  %li
                    %a{href: "#{biddings_components_path}", title: "Componentes"}
                      %i.fa.fa-lg.fa-fw.fa-clipboard
                      Componentes
                %li
                  %a{href: "#{biddings_works_path}", title: "Obras"}
                    %i.fa.fa-lg.fa-fw.fa-home
                    Obras
                %li
                  %a{href: "#{biddings_professionals_path}", title: "Profesionales"}
                    %i.fa.fa-lg.fa-fw.fa-user
                    Profesionales
              %li
                %a{href: "#{calendar_biddings_works_path}"}
                  %i.fa.fa-lg.fa-fw.fa-list-alt
                  Calendario de Licitaciones

          %li
            %a{href: "#", title: "Reportes"}
              %i.fa.fa-lg.fa-fw.fa-bar-chart-o
              Reportes
            %ul
              %li
                %a{href: "#{reports_reportofthemonths_path}", title: "Reporte Mensual" }
                  %i.fa.fa-lg.fa-fw.fa-clipboard
                  %span.menu-item-parent
                    Reporte Mensual
          %li
            %a{href: "#{logistics_type_entities_path}", title: "Tipo de Entidades"}
              %i.fa.fa-lg.fa-fw.fa-sitemap
              Tipo de Entidades
          %li
            %a{href: "#{logistics_entities_path}", title: "Entidades"}
              %i.fa.fa-lg.fa-fw.fa-group
              Entidades
          %li
            %a{href: "##{logistics_person_path(current_user.id)}", title: "Usuario"}
              %i.fa.fa-lg.fa-fw.fa-user
              Mi Perfil
      %span.minifyme
        %i.fa.fa-arrow-circle-left.hit
    / END NAVIGATION
    / MAIN PANEL
    #main{role: "main"}
      #ribbon
        %ol.breadcrumb
      / MAIN CONTENT
      #content
      / END MAIN CONTENT
    / END MAIN PANEL
    /
      SHORTCUT AREA : With large tiles (activated via clicking user name tag)
      Note: These tiles are completely responsive,
      you can add as many as you like
    #shortcut
      %ul
        %li
          %a.jarvismetro-tile.big-cubes.selected.bg-color-pinkDark{href: "##{logistics_person_path(current_user.id)}"}
            %span.iconbox
              %i.fa.fa-user.fa-4x
              %span Mi Perfil

    %a{'data-toggle' => 'modal', 'href' => "#", 'data-target' => "#modalLoading"}

    #modalLoadingLabelading.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modalLoadingLabel", role: "dialog", tabindex: "-1"}
      .modal-dialog
        .modal-content
          .modal-body
            .row
              .col-sm-12
                %h3 Cargando Contenido...
                .progress.progress-sm.progress-striped.active
                  .progress-bar.bg-color-darken{role: "progressbar", style: "width: 100%"}

    #cost_center_general_data.modal.fade{"aria-hidden" => "true", role: "dialog", tabindex: "-1"}
      .modal-dialog{"style"=>"width:70%;margin-top:0px;"}
        .modal-content
          .modal-header{"style"=>"background-color:#296191;color:white;padding-top:8px;padding-bottom:8px"}
            %button{"class"=>"close", "data-dismiss"=>"modal"}
              %span{"aria-hidden"=>"true","style"=>"color:white;"} &times;
              %span{"class"=>"sr-only"} Close
            %h4{"class"=>"modal-title", "id"=>"cost_center_general_data","style"=>"margin-left:35%;font-weight:900;"} Datos Generales del Proyecto
          .modal-body{"style"=>"background-color:#E6E6E6;font-size: 115%;"}
            - if !@cost_center_detail.nil?
              %table{"style"=>"margin-left:30px;margin-right:30px;height:auto;"}
                %tr
                  %td{"style"=>"font-size:100%;"}
                    %strong Nombre de la obra:
                  %td{"style"=>"font-weight:900;padding-left:95px;"}=@cost_center_detail.name
                %tr{"style"=>"height:10px;"}

              %table{"style"=>"margin-left:30px;margin-right:30px;height:auto;"}

                %tr
                  %td{"style"=>"font-size:100%;"}
                    %strong Entidad:
                  %td
                    -if !Entity.find_by_id(@cost_center_detail.entity_id).nil?
                      =Entity.find_by_id(@cost_center_detail.entity_id).name
                    -else
                      =""
                %tr{"style"=>"height:10px;"}
                %tr
                  %td{"style"=>"font-size:100%;"}
                    %strong Nombre del Contratista:
                  %td=@company.name

                  %td{"style"=>"font-size:100%;"}
                    %strong Dirección:
                  %td=@company.address
                %tr{"style"=>"height:10px;"}
                %tr
                  %td{"style"=>"font-size:100%;"}
                    %strong Ruc:
                  %td{"style"=>"width:35%;"}=@company.ruc

                  %td{"style"=>"font-size:100%;"}
                    %strong Condición Tributaria Amazónica: 
                  %td=@cost_center_detail.amazon_tax_condition
                %tr{"style"=>"height:10px;"}
                %tr
                  %td{"style"=>"font-size:100%;"}
                    %strong Consorciados y Participación: 
                  %td
                    %div{"style"=>"display:inline;"}
                      -EntityCostCenterDetail.where("cost_center_detail_id ="+ @cost_center_detail.id.to_s).each do |c|
                        -if !c.entity_id.nil? && c.entity_id!=0
                          %div{"style"=>"margin-bottom:3px;"}=Entity.find(c.entity_id.to_s).name + " ( "+c.participation.to_s+"% )"
                        -else
                          =""
                  %td{"style"=>"font-size:100%;"}
                    %strong Fecha de Convocatoria:
                  %td=@cost_center_detail.call_date.strftime("%d - %m - %Y").to_s
                %tr{"style"=>"height:10px;"}
                %tr
                  %td{"style"=>"font-size:100%;"}
                    %strong Número de Proceso:
                  %td=@cost_center_detail.process_number
                  %td{"style"=>"font-size:100%;"}
                    %strong Código Snip: 
                  %td=@cost_center_detail.snip_code
                %tr{"style"=>"height:14px;"}
                %tr
                  %td{"style"=>"font-size:100%;"}
                    %strong Fecha de Buena Pro:
                  %td=@cost_center_detail.good_pro_date.strftime("%d - %m - %Y").to_s

                  %td{"style"=>"font-size:100%;"}
                    %strong Valor Referencial: 
                  %td= number_to_currency(@cost_center_detail.referential_value.to_s, unit: 'S/. ', precision: 2)
                %tr{"style"=>"height:14px;"}
                %tr
                  %td{"style"=>"font-size:100%;"}
                    %strong Valor Ganado:
                  %td= number_to_currency(@cost_center_detail.earned_value.to_s, unit: 'S/. ', precision: 2)

                  %td{"style"=>"font-size:100%;"}
                    %strong Costo Directo:
                  %td= number_to_currency(@cost_center_detail.direct_cost.to_s, unit: 'S/. ', precision: 2)
                %tr{"style"=>"height:16px;"}
                %tr
                  %td{"style"=>"font-size:100%;"}
                    %strong Gastos Generales: 
                  %td= number_to_currency(@cost_center_detail.general_cost.to_s, unit: 'S/. ', precision: 2)

                  %td{"style"=>"font-size:100%;"}
                    %strong Utilidad:
                  %td= number_to_currency(@cost_center_detail.utility.to_s, unit: 'S/. ', precision: 2)
                %tr{"style"=>"height:16px;"}
                %tr
                  %td{"style"=>"font-size:100%;"}
                    %strong Igv: 
                  %td= number_to_currency(@cost_center_detail.IGV, unit: 'S/. ', precision: 2)

                  %td{"style"=>"font-size:100%;"}
                    %strong Fecha Firma del Contrato:
                  %td=@cost_center_detail.contract_sign_date.strftime("%d - %m - %Y").to_s
                %tr{"style"=>"height:15px;"}
                %tr
                  %td{"style"=>"font-size:100%;"}
                    %strong Número del Contrato:
                  %td=@cost_center_detail.contract_number

                  %td{"style"=>"font-size:100%;"}
                    %strong Fecha Entrega del Terreno: 
                  %td=@cost_center_detail.land_delivery_date.strftime("%d - %m - %Y").to_s
                %tr{"style"=>"height:14px;"}
                %tr
                  %td{"style"=>"font-size:100%;"}
                    %strong Fecha de Solicitud del Adelanto Directo:
                  %td=@cost_center_detail.direct_advanced_form_date.strftime("%d - %m - %Y").to_s

                  %td{"style"=>"font-size:100%;"}
                    %strong Fecha de Pago del Adelanto Directo: 
                  %td=@cost_center_detail.direct_advanced_payment_date.strftime("%d - %m - %Y").to_s
                %tr{"style"=>"height:14px;"}
                %tr
                  %td{"style"=>"font-size:100%;"}
                    %strong Fecha de Inicio de Obra:
                  %td=@cost_center_detail.start_date_of_work

                  %td{"style"=>"font-size:100%;"}
                    %strong Sistema de Contratación:
                  %td
                    -if @cost_center_detail.procurement_system=="unit_price"
                      ="Precio Unitario"
                    -if @cost_center_detail.procurement_system=="advance_sum"
                      ="Suma Alzada"
                    -if @cost_center_detail.procurement_system=="mixto"
                      ="Mixto"
                %tr{"style"=>"height:12px;"}
                %tr
                  %td{"style"=>"font-size:100%;"}
                    %strong Plazo de Ejecución (Dias Calendario): 
                  %td=@cost_center_detail.execution_term

                  %td{"style"=>"font-size:100%;"}
                    %strong Supervisión:
                  %td=@cost_center_detail.supervision
                %tr{"style"=>"height:12px;"}
                %tr
                  %td{"style"=>"font-size:100%;"}
                    %strong Fecha de Pago de Adelanto de Materiales: 
                  %td=@cost_center_detail.material_advanced_payment_date.strftime("%d - %m - %Y").to_s                  
            - else
              %h2 Datos no encontrados.         
          .modal-footer{"style"=>"margin-top:0px;background-color:#296191"}
            

    / END SHORTCUT AREA
    / ==================================================
    /
      PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)
      <script data-pace-options='{ "restartOnRequestAfter": true }' src="js/plugin/pace/pace.min.js"></script>
    / Link to Google CDN's jQuery + jQueryUI; fall back to local
    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js'
    :javascript
      if (!window.jQuery) {
      	document.write('<script src="js/libs/jquery-2.0.2.min.js"><\/script>');
      }
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"
    :javascript
      if (!window.jQuery.ui) {
      	document.write('<script src="js/libs/jquery-ui-1.10.3.min.js"><\/script>');
      }
    /
      JS TOUCH : include this plugin for mobile drag / drop touch events
      <script src="js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script>
    / BOOTSTRAP JS
    = javascript_include_tag 'bootstrap/bootstrap'
    = javascript_include_tag 'bootstrap/bootstrap-tooltip'
    = javascript_include_tag 'bootstrap/bootstrap-confirmation'
    / CUSTOM NOTIFICATION
    = javascript_include_tag 'notification/SmartNotification.min'
    / JQUERY VALIDATE
    = javascript_include_tag 'plugin/jquery-validate/jquery.validate.min'
    / JQUERY MASKED INPUT
    = javascript_include_tag 'plugin/masked-input/jquery.maskedinput.min'
    / JQUERY SELECT2 INPUT
    = javascript_include_tag 'plugin/select2/select2.min'
    / browser msie issue fix
    = javascript_include_tag 'plugin/msie-fix/jquery.mb.browser.min'
    / SmartClick: For mobile devices
    = javascript_include_tag 'plugin/smartclick/smartclick'
    / JQUERY FORM
    = javascript_include_tag 'plugin/jquery-form/jquery-form.min'
    / HIGHCHARTS
    = javascript_include_tag 'highchart/highcharts'
    = javascript_include_tag 'highchart/modules/exporting'
    /[if IE 7]
      <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
    / Demo purpose only
    //= javascript_include_tag 'demo'
    / MAIN APP JS FILE
    = javascript_include_tag 'app'
    / Your GOOGLE ANALYTICS CODE Below
