#content-inside
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      %h1.page-title.txt-color-blueDark
        %i.fa.fa-pencil-square-o.fa-fw 
        Centro de Costo / Duraci칩n del Proyecto
  #widget-grid
    .row
      %article.col-sm-12.col-md-12.col-lg-6
        #wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-editbutton" => "false"}
          %header
            %span.widget-icon
              %i.fa.fa-eye
            %h2 Duraci칩n del Proyecto
          .widget-body
            = simple_form_for([:logistics, @costCenter], html: {class: 'form-horizontal smart-form', autocomplete: 'off' }) do |f|
              %input{"style"=>"display:none;", value: "#{@comp}", :name =>"companyID"}
              %fieldset
                .row
                  %section.col.col-2
                    %label.label C칩digo
                    = f.input :code, input_html: { class: 'form-control', disabled: "disabled"}, label: false
                  %section.col.col-10
                    %label.label Nombre
                    = f.input :name, input_html: { class: 'form-control', disabled: "disabled"}, label: false
                .row
                  %section.col.col-6
                    %label.control-label Fecha Inicio
                    .input-group
                      - if @costCenter.start_date != nil
                        = text_field(:cost_center, :start_date, class: "form-control", value: @costCenter.start_date.strftime("%d/%m/%Y"))
                      - else
                        = text_field(:cost_center, :start_date, class: "form-control")
                      %span.input-group-addon
                        %i.fa.fa-calendar
                  %section.col.col-6
                    %label.control-label Fecha Fin
                    .input-group
                      - if @costCenter.end_date != nil
                        = text_field(:cost_center, :end_date, class: "form-control", value: @costCenter.end_date.strftime("%d/%m/%Y"))
                      - else
                        = text_field(:cost_center, :end_date, class: "form-control")
                      %span.input-group-addon
                        %i.fa.fa-calendar
                  = hidden_field_tag "timeline", "1"
              %footer
                %button.btn.btn-primary{type: "submit"}
                  %i.fa.fa-save
                    Guardar

  %button.btn.btn-sm.btn-primary.btn-prev#backlist-cost{type: "button"}
    %i.fa.fa-arrow-left>
    &nbsp;Regresar al listado
  .row
    &nbsp;

#wid-id-0.jarviswidget.jarviswidget-color-darken{"data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-table
    %h2 Lista de Fechas
  %div
    .jarviswidget-editbox
    .widget-body.no-padding
      .widget-body-toolbar
      %table#dt_basic.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th Id
            %th Fecha
            %th A침o
            %th Mes
            %th Dia
        %tbody
          - @costCenterTimeLine.each do |x|
            %tr
              %td
                = x.id
              %td 
                = x.date.strftime("%d/%m/%Y")
              %td
                = x.year
              %td
                = x.period
              %td
                = x.day

:javascript
  // DO NOT REMOVE : GLOBAL FUNCTIONS!
  pageSetUp();

  $('#backlist-cost').click(function(){
      load_url_ajax("#{logistics_cost_centers_path}", 'content', {company_id: #{@comp}}, null, 'GET');
  });

  $(document).ready(function () {
    $("#cost_center_company_id").val($.company_global_id);
    $("#cost_center_code").focus();

    $('#cost_center_start_date').datepicker({
      format: "dd/mm/yyyy", language: "es", autoclose: true, orientation: "auto right"
    });
    $('#cost_center_end_date').datepicker({
      format: "dd/mm/yyyy", language: "es", autoclose: true, orientation: "auto right"
    });
    $("#cost_center_start_date").mask('99/99/9999');
    $("#cost_center_end_date").mask('99/99/9999');

    if($('form[id^="edit_"]').length > 0) {
      submit_validate($('form[id^="edit_"]'));
    }else{
      submit_validate($('#new_cost_center'));
    }
  });

  // PAGE RELATED SCRIPTS

  loadDataTableScripts();
  function loadDataTableScripts() {

    loadScript("#{ asset_path 'plugin/datatables/jquery.dataTables-cust.min', type: :javascript }", dt_2);

    function dt_2() {
      loadScript("#{ asset_path 'plugin/datatables/ColReorder.min', type: :javascript }", dt_3);
    }

    function dt_3() {
      loadScript("#{ asset_path 'plugin/datatables/FixedColumns.min.js', type: :javascript }", dt_4);
    }

    function dt_4() {
      loadScript("#{ asset_path 'plugin/datatables/ColVis.min', type: :javascript }", dt_5);
    }

    function dt_5() {
      loadScript("#{ asset_path 'plugin/datatables/ZeroClipboard', type: :javascript }", dt_6);
    }

    function dt_6() {
      loadScript("#{ asset_path 'plugin/datatables/media/js/TableTools.min', type: :javascript }", dt_7);
    }

    function dt_7() {
      loadScript("#{ asset_path 'plugin/datatables/DT_bootstrap', type: :javascript }", runDataTables);
    }

  }

  function runDataTables() {

    /*
     * BASIC
     */
    $('#dt_basic').dataTable({
      "sPaginationType" : "bootstrap_full"
    });

    /* END BASIC */

  }

  function submit_validate(form){
    $(form['selector']).ajaxForm({
      beforeSubmit: function() {
        $(form['selector']).validate({
          // Rules for form validation
          rules : {
            'cost_center[start_date]' : {
              required : true
            },
            'cost_center[end_date]' : {
              required : true
            }
          },

          // Messages for form validation
          messages : {
            'cost_center[start_date]' : {
              required : '(*)'
             },
            'cost_center[end_date]' : {
              required : '(*)'
             }
          },

          // Do not change code below
          errorPlacement : function(error, element) {
            error.insertAfter(element.parent());
          }
        });
        // Remove all Help-inLine
        $(".help-inline").remove();
        // Client Valid
        return $(form['selector']).valid();
      },
      target: '#content',
      success: function (data){
        $(".help-inline").parent().addClass("state-error");
      },
      error: function(xhr, status, error) {
      }
    });
  }
