#content-inside
  .row
    .col-xs-3.col-sm-3.col-md-3.col-lg-3
      %h2.page-title.txt-color-blueDark
        %i.fa.fa-pencil-square-o.fa-fw 
        = t('activerecord.modelsdescription.cost_center')
    .col-xs-4.col-sm-4.col-md-4.col-lg-4{ "style" => "margin-top: 10px;" }
      %a.btn.btn-primary.btn-mini{:onclick => "javascript:load_url_ajax('#{new_logistics_cost_center_path}', 'content', null, null, 'GET')"}
        = t('activerecord.actions.add')
  - if flash[:notice] != nil
    .alert.alert-success.fade.in{"style" => "clear:buttonoth"}
      %button.close{"data-dismiss" => "alert"} ×
      %i.fa-fw.fa.fa-check
      %strong Éxito
      = flash[:notice]
  - if flash[:error] != nil
    .alert.alert-danger.fade.in
      %button.close{"data-dismiss" => "alert"} ×
      %i.fa-fw.fa.fa-times
      %strong Error!
      = flash[:error]
  
  #widget-grid
    .row
      %article.col-xs-12
        = render :partial => 'table'

  %button.btn.btn-sm.btn-primary.btn-prev#backlist-cost{type: "button"}
    %i.fa.fa-arrow-left>
    &nbsp;Regresar al listado

:javascript

  $('#backlist-cost').click(function(){
    load_url_ajax("#{logistics_companies_path}", 'content', {company_id: $.company_global_id}, null, 'GET');
  });