#wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-eye
    %h2 Salida de Almacén
  %div{:style => "padding-top: 0"}
    .jarviswidget-editbox
    .widget-body
      = simple_form_for([:logistics, @head], html: {class: 'form-horizontal', novalidate: 'novalidate', autocomplete: 'off' }) do |f|
        %fieldset
          = hidden_field_tag "stock_input[id]", @head.id
          = hidden_field_tag "stock_input[input]", "0"
          .row
            .col-md-3
              .row
                .col-md-12
                  .form-group
                    %label.control-label Almacén
                    .input-group
                      %select.form-control#category-select{:name =>"stock_input[warehouse_id]"}
                        - @warehouses.each do |x|
                          - if @head.warehouse_id == x.id
                            %option{:value => "#{x.id}", :rel => "", :selected => true}
                              = x.name
                          - else
                            %option{:value => "#{x.id}"}
                              = x.name
                      %span.input-group-addon
                        %i.fa.fa-gears
            .col-md-2
              .row
                .col-md-12
                  .form-group
                    %label.control-label Formato
                    .input-group
                      %select.form-control#format-select{:name =>"stock_input[format_id]"}
                        - @formats.each do |x|
                          - if @head.format_id == x.id
                            %option{:value => "#{x.id}", :rel => "", :selected => true}
                              = x.name
                          - else
                            %option{:value => "#{x.id}"}
                              = x.name
                      %span.input-group-addon
                        %i.fa.fa-gears
            .col-md-2
              .row
                .col-md-12
                  .form-group
                    %label.control-label Periodo
                    .input-group
                      %select(name='stock_input[period]' class = 'select2 form-control' id = 'period-select' style='width:100%;padding: 0;border: none;')
                        - @periods.select(:year).uniq.each do |x|
                          %optgroup{:label => "#{x.year.to_i}"}
                            - @periods.where("year = ?", x.year).each do |y|
                              - if @head.period == y.year.to_s + y.month.to_s.rjust(2, "0")
                                %option{:value => "#{y.year.to_s}#{y.month.to_s.rjust(2, "0")}", :rel => "", :selected => true}
                                  = y.year.to_s + " - " + y.month.to_s.rjust(2, "0")
                              - else
                                %option(value = "#{y.year.to_s}#{y.month.to_s.rjust(2, "0")}")
                                  = y.year.to_s + " - " + y.month.to_s.rjust(2, "0")
            .col-md-2
              .row
                .col-md-12
                  .form-group
                    %label.control-label N° Documento
                    .input-group
                      = text_field(:stock_input, :document, :value => "#{@head.document}", placeholder: "N° Documento", class: "form-control")
                      %span.input-group-addon
                        %i.fa.fa-file
            .col-md-2
              .row
                .col-md-12
                  .form-group
                    %label.control-label Fecha
                    .input-group
                      = text_field(:stock_input, :issue_date, :value => "#{@head.issue_date.strftime("%d/%m/%Y")}", class: "form-control")
                      %span.input-group-addon
                        %i.fa.fa-calendar
          .row
            .col-md-12
              .form-group
                %label.control-label Glosa
                .input-group
                  = text_area(:stock_input, :description, :value => "#{@head.description}", placeholder: "Glosa", class: "form-control")
                  %span.input-group-addon
                    %i.fa.fa-align-justify
        
          %fieldset
            .row
              .col-md-6
                .form-group
                  %label.control-label Articulo
                  .input-group
                    %select(name='stock_input[article_id]' class = 'select2 form-control' id = 'article-select' style='width:100%;padding: 0;border: none;')
                      - @articles.each do |x|
                        %option(value = "#{x.id}")
                          = x.code + " - " + x.name + " - " + x.unit_of_measurement.symbol
              .col-md-2
                .form-group
                  %label.control-label &nbsp;
                  .input-group
                    = text_field_tag 'article-amount', nil, class: 'form-control col-md-3', id: 'article-amount', value: '1'
              .col-md-2
                .form-group
                  %label.control-label &nbsp;
                  .input-group
                    %button.btn.btn-sm.btn-success#btn-add-article{'type' => 'button'}
                      Agregar item
          
        %fieldset
          %table(class="table table-condensed table-bordered table-striped table-hover has-tickbox smart-form" style="font-size: 12px;" id="summary-pod" aria-describedby="data-table_info")
            %thead
              %tr
                %th Codigo
                %th Descripción
                %th{'style' => 'width: 4%;'}
                  Unidad
                %th{'style' => 'width: 5%;'}
                  Cantidad
                %th{'style' => 'width: 4%;'}
                  Equipo
                %th{'style' => 'width: 4%;'}
                  Eliminar
            %tbody(id="table-items-paso2")
              = render :partial => 'table_items_detail_edit'

        .form-actions{:style => "margin-top: 0;"}
          .row
            .col-md-12
              %button.btn.btn-primary#btn-save{type: "button"}
                %i.fa.fa-save
                  Guardar

  %button.btn.btn-primary#backlist{type: "button"}
    %i.fa.fa-arrow-left
      Retornar