- @article.each do |art|
  -rest=Article.getSpecificArticlesforStockOutputs4(@warehouse,art[0].to_i)
  -if rest.count>0
    -rest=Article.getSpecificArticlesforStockOutputs4(@warehouse,art[0].to_i).first.at(0).to_i
  -else
    -rest=0
  %tr
    %td
      = art[1]
    %td
      = art[2]
    %td{ 'style' => 'text-align:center' }
      = art[3]
    %td{ 'style' => 'text-align:center' } 
      = art[4] - rest
    %td
      %label.checkbox
        = check_box("order_delivery", "approved", { class: 'order_check', :checked=>true }, art[0])
        %i