- @article.each do |art|
  %tr{:id=>"tr#{art[0]}"}
    %td
      = art[1]
    %td
      = art[2]
    %td{ 'style' => 'text-align:center' }
      = art[3]
    %td{ 'style' => 'text-align:center' } 
      = art[5]
    %td{:style=>"display:none"}
      %label.checkbox
        = check_box("order_delivery", "approved", { class: 'order_check', :checked=>true }, art[0])
        %i
    %td
      %a.btn.btn-default{href: "javascript:delete_item('"+art[0].to_s+"')", :style => 'width: 50%;'}
        %i.fa.fa-times