#content-inside
  %section#widget-grid
    .row
      %article.col-sm-12.col-md-12.col-lg-12
        #wid-id-2.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-deletebutton" => "false", "data-widget-editbutton" => "false", "data-widget-collapsed" => "false", "data-widget-fullscreenbutton" => "false"}
          %header
            %h2 Crear Salida de Almacén
          %div
            .jarviswidget-editbox

            .widget-body.fuelux
              .wizard
                %ul.steps
                  %li.active{"data-target" => "#step1"}
                    %span.badge.badge-info> 1
                    Seleccionar Responsable / Almacén
                    %span.chevron
                  %li{"data-target" => "#step2"}
                    %span.badge> 2
                    Escoger Artículos
                    %span.chevron
                  %li{"data-target" => "#step3"}
                    %span.badge> 3
                    Llenar Información
                    %span.chevron
                  %li{"data-target" => "#step4"}
                    %span.badge> 4
                    Guardar Información
                    %span.chevron
                .actions
                  %button.btn.btn-sm.btn-primary.btn-prev{type: "button"}
                    %i.fa.fa-arrow-left>
                    Anterior
                  %button.btn.btn-sm.btn-success.btn-next{"data-last" => "Finalizar", type: "button"}
                    Siguiente
                    %i.fa.fa-arrow-right
              .step-content
                = render :partial => 'form_step'

%button.btn.btn-sm.btn-primary.btn-prev#backlist{type: "button"}
  %i.fa.fa-arrow-left>
  &nbsp;Retornar

:javascript
  // DO NOT REMOVE : GLOBAL FUNCTIONS!
  pageSetUp();

  $(document).ready(function(){
  
    // Search
    $('#search').click(function(){
      responsible_id = $('#responsible-selected').val();
      url = "/logistics/stock_inputs/" + responsible_id + "/show_purchase_order_item_field";
      data = { authenticity_token: "#{form_authenticity_token}" }
      load_url_ajax(url, 'table-items-paso1', data, 'avoid-opacity', 'PUT');
    });
    // Cost Center Change
    GetWarehouse($("#cost-center-selected").val());
    $('#cost-center-selected').change(function(){
      // refresf Warehouse Select
      //cost_center_id = $("#cost-center-selected").val();
      GetWarehouse(this.value);
    });
    function GetWarehouse(cost_center_id){
      url = "/logistics/cost_centers/" + cost_center_id + "/select_warehouses";
      data = { authenticity_token: "#{form_authenticity_token}" }
      load_url_ajax(url, 'warehouse-select', data, 'avoid-opacity', 'GET');
    }
    // Back
    $('#backlist').click(function(){
      load_url_ajax("#{logistics_stock_outputs_path}", 'content', null, null, 'GET');
    });

    loadScript("#{ asset_path 'plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js', type: :javascript }", runBootstrapWizard);
  
    //Bootstrap Wizard Validations

    function runBootstrapWizard() {

      var $validator = $("#new_stock_input").validate({

        rules: {
          'stock_input[responsible_id]': {
            required: true
          },
          'stock_input[warehouse_id]': {
            required: true 
          },
          'stock_input[format_id]': {
            required: true
          },
          'stock_input[series]': {
            required: true
          },
          'stock_input[document]': {
            required: true,
            minlength : 1,
            maxlength : 10
          },
          'stock_input[issue_date]': {
            required: true
          },
          'stock_input[phase_id]': {
            required: true
          },
          'stock_input[working_group_id]': {
            required: true
          },
          'stock_input[description]': {
            required: true
          }
        },
        
        messages: {
          'stock_input[responsible_id]': "(*)",
          'stock_input[warehouse_id]': "(*)",
          'stock_input[format_id]': "(*)",
          'stock_input[series]': "(*)",
          'stock_input[document]' : {
            required : '(*)',
            minlength : "Mín 1 dígito.",
            maxlength : "Máx 10 dígitos.",
          },
          'stock_input[issue_date]': "(*)",
          'stock_input[phase_id]': "(*)",
          'stock_input[working_group_id]': "(*)",
          'stock_input[description]': "(*)"
        },
        
        highlight: function (element) {
          $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
        },
        unhighlight: function (element) {
          $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
        },
        errorElement: 'span',
        errorClass: 'help-block',
        errorPlacement: function (error, element) {
          if (element.parent('.input-group').length) {
            error.insertAfter(element.parent());
          } else {
            error.insertAfter(element);
          }
        }
      });

    }

    // Steps
    loadScript("#{ asset_path 'plugin/fuelux/wizard/wizard.js', type: :javascript }", fueluxWizard);
  
    function fueluxWizard() {
      
      var wizard = $('.wizard').wizard();
      
      // Siguiente
      wizard.on('change', function(e, data){

        var status = false;
        var data_items_sel = new Array();

        if(data.step == 1 && data.direction == 'next'){
          var $valid = $("#new_stock_input").valid();
          if (!$valid) {
            e.preventDefault();
            $.smallBox({
              title: "Para continuar <font color=yellow>seleccionar Centro de costo y Responsable</font>.",
              content: "<i class='fa fa-clock-o'></i> <i>Hace unos segundos...</i>",
              color: "#c46a69",
              iconSmall: "fa fa-times bounce animated",
              timeout: 4000
            });
          } else {
            var warehouse_id = $("#warehouse-select").val();
            str_item = { authenticity_token: "#{form_authenticity_token}", warehouse_id: warehouse_id };

            load_url_ajax('#{partial_select_per_warehouse_logistics_stock_outputs_path}', 'select_table_per_warehouse', str_item, 0, 'POST');
          }
        }

        if(data.step == 2 && data.direction == 'next'){

          if( $.trim($('#items').html()).length ) {
            var index = 0;
            $('#items tbody#partial_table_per_warehouse tr td .checkbox .order_check').each(function(){
              if( $(this).is(':checked') ){
                status = true
                data_items_sel[index] = $(this).val();
                index++;
              }
            });

            if(status){
              var warehouse_id = $("#warehouse-select").val();
              data = { ids_items: data_items_sel, authenticity_token: "#{form_authenticity_token}", warehouse_id2: warehouse_id };
              load_items_delivery_order_ajax('#{add_items_from_pod_logistics_stock_outputs_path}', 'table-items-paso2', data);

              $.smallBox({
                title: "Completa el <font color=yellow>Ingreso a Almacén</font>.",
                content: "<i class='fa fa-clock-o'></i> <i>Hace unos segundos...</i>",
                color: "#5F895F",
                iconSmall: "fa fa-check bounce animated",
                timeout: 4000
              });

            } else {

              e.preventDefault();
              $.smallBox({
                title: "Para continuar <font color=yellow>seleccionar items</font>.",
                content: "<i class='fa fa-clock-o'></i> <i>Hace unos segundos...</i>",
                color: "#c46a69",
                iconSmall: "fa fa-times bounce animated",
                timeout: 4000
              });
            }

          } else {

            e.preventDefault();
            $.smallBox({
              title: "Para continuar <font color=yellow>buscar items</font>.",
              content: "<i class='fa fa-clock-o'></i> <i>Hace unos segundos...</i>",
              color: "#c46a69",
              iconSmall: "fa fa-times bounce animated",
              timeout: 4000
            });

          }
        }

        if(data.step == 3 && data.direction == 'next'){
          var $valid = $("#new_stock_input").valid();
          if (!$valid) {
            e.preventDefault();
            $.smallBox({
              title: "Para continuar <font color=yellow>ingrese todos los datos requerridos</font>.",
              content: "<i class='fa fa-clock-o'></i> <i>Hace unos segundos...</i>",
              color: "#c46a69",
              iconSmall: "fa fa-times bounce animated",
              timeout: 4000
            });
          }          
        }

      });

      // Finalizar
      wizard.on('finished', function (e, data) {
    
        $.ajax({
          type: 'POST',
          url: "/logistics/stock_outputs",
          async: false,
          data: $('#new_stock_input').serialize(),
          dataType : 'html',
          success: function(data) {
            $('#modalLoading').modal('hide');
            $('#content').html(data);
          },
          error : function(xhr, ajaxOptions, thrownError) {
            container.html('<h4 style="margin-top:10px; display:block; text-align:left"><i class="fa fa-warning txt-color-orangeDark"></i> Error 404! Page not found.</h4>');
          }
        });

      });
    }

  });

  function add_article_item(){

    var data = $("#article-selected").val();
    str_item = { authenticity_token: "#{form_authenticity_token}", data: data, warehouse: $('#warehouse').val()};    
    append_url_ajax('#{partial_table_per_warehouse_logistics_stock_outputs_path}', 'partial_table_per_warehouse', str_item, 0, 'POST');
    var cad=[];
    var i = 0;
    $('#partial_table_per_warehouse').children().each(function(){
      cad[i]=$(this).attr('id').substring(2,10);
      i++;
    });
    cad=cad.join();
    $('#ids').val('');
    $('#ids').val(cad);
  }

  function delete_item(code){
    $("#tr" + code).remove();
    var cad=[];
    var i = 0;
    $('#partial_table_per_warehouse').children().each(function(){
      cad[i]=$(this).attr('id').substring(2,10);
      i++;
    });
    cad=cad.join();
    $('#ids').val('');
    $('#ids').val(cad);
  }

  function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 46) {
        return false;
    }
    return true;
  }

  function minmax(value, min, max){
    if(parseInt(value) < min || isNaN(value)) 
      return min; 
    else if(parseInt(value) > max) 
      return max; 
    else return value;
  }
