#content-inside
  .row
    .col-xs-12.col-sm-7.col-md-7.col-lg-4
      %h1.page-title.txt-color-blueDark
        %i.fa.fa-pencil-square-o.fa-fw 
        Salida a Almacén

#wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-eye
    %h2 Ingreso a Almacén
  %div{:style => "padding-top: 0"}
    .jarviswidget-editbox
    .widget-body
      = simple_form_for([:logistics, @head], html: {class: 'form-horizontal', novalidate: 'novalidate', autocomplete: 'off' }) do |f|
        %fieldset

        %br

          .row          
            %table.table.table-bordered{ style: "width: 700px;margin: 0 auto" }
              %thead
                %tr
                  %th{"style"=>"text-align:center"} Almacen
                  %th{"style"=>"text-align:center"} Formato
                  %th{"style"=>"text-align:center"} Periodo
                  %th{"style"=>"text-align:center"} N° Documento
                  %th{"style"=>"text-align:center"} Fecha
              %tbody
                %th{"style"=>"text-align:center;font-weight: 300;"}= @head.warehouse.name
                %th{"style"=>"text-align:center;font-weight: 300;"}= @head.format.name rescue '-'
                %th{"style"=>"text-align:center;font-weight: 300;"}= @head.period.to_s[0,4] + ' - ' + @head.period.to_s[4,6]
                %th{"style"=>"text-align:center;font-weight: 300;"}= @head.document
                %th{"style"=>"text-align:center;font-weight: 300;"}= @head.issue_date
                %tr
                  %th{"style"=>"text-align:center"} Descripción
                  %th{'colspan' => 4, "style"=>"font-weight: 300;"}= @head.description
                %tr
                  %th{"style"=>"text-align:center"} Grupo de Trabajo
                  %th{'colspan' => 4, "style"=>"font-weight: 300;"}= Worker.find(@head.working_group.front_chief_id).entity.name.to_s + ' ' + Worker.find(@head.working_group.front_chief_id).entity.paternal_surname.to_s + ' - ' + Entity.find(@head.working_group.executor_id).name + ' - ' + Worker.find(@head.working_group.master_builder_id).entity.name + ' ' + Worker.find(@head.working_group.master_builder_id).entity.paternal_surname
        %br
          
        %fieldset
          %table(class="table table-condensed table-bordered table-striped table-hover has-tickbox smart-form" style="font-size: 12px;" id="summary-pod" aria-describedby="data-table_info")
            %thead
              %tr
                %th{'style' => 'width: 13%;'}
                  Codigo
                %th{'style' => 'width: 25%;'}
                  Nombre
                %th{'style' => 'width: 10%;'}
                  Unidad
                %th{'style' => 'width: 6%;'}
                  Cantidad de Salida
                %th{'style' => 'width: 20%;'}
                  Sector
                %th{'style' => 'width: 20%;'}
                  Fases
            %tbody(id="table-items-paso2")
              - @arrItems.each do |x|
                - @article = x.article
                %tr{id: "tr" + @reg_n.to_s}
                  %td(style="display:none")
                    = hidden_field_tag 'stock_input[stock_input_details_attributes][' + @reg_n.to_s + '][id]', x.id
                  %td(style="display:none")
                    = hidden_field_tag 'stock_input[stock_input_details_attributes][' + @reg_n.to_s + '][article_id]', @article.id
                  %td
                    = @article.code
                  %td
                    = @article.name
                  %td
                    = @article.unit_of_measurement.symbol
                  %td.unit-price
                    = x.amount
                  %td{:style => "width:15%"}
                    - @sectors.each do |sect|
                      - if sect.id == x.sector_id
                        = sect.name
                  %td{:style => "width:15%"}
                    - @phases.each do |phas|
                      - if phas.id == x.phase_id
                        = phas.name
                - @reg_n += 1

  %button.btn.btn-primary#backlist{type: "button"}
    %i.fa.fa-arrow-left
      Retornar

:javascript

  $('#backlist').click(function(){
      load_url_ajax("#{logistics_stock_outputs_path}", 'content', {company_id: '#{@company}'}, null, 'GET');
  });