#wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-eye
    %h2 Sub-Categorias
  %div
    .jarviswidget-editbox
    .widget-body
      - if @action == 'edit'
        = simple_form_for(@SubCategories, url: logistics_subcategory_path, :method => :patch, html: {class: 'form-horizontal' }) do |f|
          %fieldset
            .form-group
              %label.col-md-2.control-label{for: "category_id"} Categoria
              .col-md-10
                %select.form-control#category-select{:name =>"subcategory[category_id]"}
                  - @Categories.each do |category|
                    %option{:value => "#{category.id}"}
                      = category.name
            .form-group
              %label.col-md-2.control-label{for: "code"} C贸digo
              .col-md-10
                = f.input :code, placeholder: "C贸digo", :input_html => {:class => 'form-control', :id => 'code-subcategory'}, label: false
            .form-group
              %label.col-md-2.control-label{for: "name"} Nombre
              .col-md-10
                = f.input :name, placeholder: "Nombre de la Sub-Categoria", :input_html => {:class => 'form-control'}, label: false
          .form-actions
            .row
              .col-md-12
                %button.btn.btn-primary{type: "submit"}
                  %i.fa.fa-save
                    Guardar
      - else
        = simple_form_for(@SubCategories, url: logistics_subcategories_path, html: {class: 'form-horizontal' }) do |f|
          %fieldset
            .form-group
              %label.col-md-2.control-label{for: "category_id"} Categoria
              .col-md-10
                %select.form-control#category-select{:name =>"subcategory[category_id]"}
                  - @Categories.each do |category|
                    %option{:value => "#{category.id}"}
                      = category.name
            .form-group
              %label.col-md-2.control-label{for: "code"} C贸digo
              .col-md-10
                = f.input :code, placeholder: "C贸digo", :input_html => {:class => 'form-control', :id => 'code-subcategory'}, label: false
            .form-group
              %label.col-md-2.control-label{for: "name"} Nombre
              .col-md-10
                = f.input :name, placeholder: "Nombre de la Sub-Categoria", :input_html => {:class => 'form-control'}, label: false
          .form-actions
            .row
              .col-md-12
                %button.btn.btn-primary{type: "submit"}
                  %i.fa.fa-save
                    Guardar