#wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-eye
    %h2 Subcontrato
  .widget-body
    = simple_form_for([:production, @partwork], html: {class: 'form-horizontal smart-form', autocomplete: 'off' }) do |f|
      - f.fields_for :part_work_details do |del|
        = del.hidden_field :lock_version
      = f.hidden_field :lock_version    
      %fieldset
        .row{ 'style' => 'display:none' }
          %input{ 'name' => 'company_id', 'value' => "#{@company}", 'readonly' => true, 'style' => 'display:none' }
        .row
          %section.col.col-1
            %label.input{for: "number_working_group"}
              = f.input :number_working_group, placeholder: "Numero", input_html: { class: 'form-control' }, label: false

          %section.col.col-5
            %label.input{for: "working_group_id"}
              %select.form-control{:name =>"part_work[working_group_id]", :style => 'width:100%;padding: 0;border: none;'}
                %option{:value => ''}
                  = 'Seleccione Grupo de Trabajo'
                - @working_groups.each do |working_group|
                  %option{:value => "#{working_group.id}", :selected => @partwork.working_group_id==working_group.id}
                    =  working_group.name
          %section.col.col-4
            %select.form-control{:name =>"part_work[sector_id]", :style => 'width:100%;padding: 0;border: none;'}
              - @sectors.each do |sector|
                %optgroup{:label => "#{sector.name}"}
                  - Sector.getSubSectors(sector.code).each do |subsector|
                    %option{:value => "#{subsector.id}", :selected => @partwork.sector_id==subsector.id}
                      = subsector.name
          %section.col.col-2
            %label.input{for: "date_of_creation"}
              = f.input :date_of_creation, as: :string, input_html: { class: 'form-control', :type => "date" }, label: false
            
      %fieldset
        %legend Registro de Partidas
        .row
          %section.col.col-2
            %label.control-label(for="itembybudget_id") Partida

          %section.col.col-6
            %select.form-control#itembybudget_select{ :style => "width:100%; border:none;" }
              %option Seleccione una Partida
              - @itembybudgets.each do |ibb|
                %option{ :value => ibb.id }
                  = ibb.order.to_s + " - " + ibb.subbudgetdetail.to_s

          %section.col.col-2
            %div
              %a(href="javascript:add_article_item();" id="btn-add-article" class="btn btn-success" role="button")
                Agregar Insumo

        .col-lg-12
          %table.has-tickbox(class="table table-condensed table-bordered table-striped table-hover dataTable" style="font-size: 12px;" id="summary-articles" aria-describedby="data-table_info")
            %thead
              %tr
                %th{:style => "width:10%;"} Código
                %th{:style => "width:50%;"} Partida
                %th{:style => "width:10%;"} Metrado
                %th{:style => "width:15%;"} Observación
                %th{:style => "width:10%;"} Eliminar
            %tbody#itembybudgets_table
              -if @action == "edit"
                - @partworkde.each do |part|
                  %tr.partwork_item{id: "tr" + @reg_n.to_s}
                    %td.part-id{"style"=>"display:none"}
                      = hidden_field_tag 'part_work[part_work_details_attributes][' + @reg_n.to_s + '][id]', part.id
                    %td.article-id{"style"=>"display:none"}
                      = hidden_field_tag 'part_work[part_work_details_attributes][' + @reg_n.to_s + '][part_work_id]', @partwork.id
                    %td.article-id{"style"=>"display:none"}
                      = hidden_field_tag 'part_work[part_work_details_attributes][' + @reg_n.to_s + '][itembybudget_id]', part.itembybudget_id
                    %td.col-md-2
                      = part.itembybudget.order
                    %td.col-md-2
                      = part.itembybudget.subbudgetdetail
                    %td.bill-of-quantitties.col-md-1{:style => "width:5%"}
                      = text_field_tag 'part_work[part_work_details_attributes][' + @reg_n.to_s + '][bill_of_quantitties]', part.bill_of_quantitties , class: "form-control bill-of-quantitties", :required => true, title:'No puede dejar este campo vacio'
                    %td.description
                      = text_area_tag 'part_work[part_work_details_attributes][' + @reg_n.to_s + '][description]', part.description, class: "form-control description"
                    %td{:style => "width: 1%; text-align: center;"}
                      %label.checkbox
                        = check_box 'part_work', '[part_work_details_attributes][' + @reg_n.to_s + '][_destroy]'
                        %i
                  - @reg_n+=1
      %footer
        %button.btn.btn-primary{type: "submit", :onclick => "part_block();"}
          %i.fa.fa-save 
          Guardar

:javascript
  $(document).ready(function () {

    $('select').select2();

    if($('form[id^="edit_"]').length > 0) {
      submit_validate($('form[id^="edit_"]'));
    }else{
      submit_validate($('#new_part_work'));
    }

  });
  
  function submit_validate(form){
    $(form['selector']).ajaxForm({
      beforeSubmit: function() {
        $(form['selector']).validate({
          // Rules for form validation
          rules : {
            'part_work[number_working_group]' : {
              required : true
            },
            'part_work[working_group_id]' : {
              required : true
            },
            'part_work[sector_id]' : {
              required : true
            },
            'part_work[date_of_creation]' : {
              required : true
            }
          },

          // Messages for form validation
          messages : {
            'part_work[number_working_group]' : {
              required : 'Por favor, ingresar el grupo de trabajo.'
            },
            'part_work[working_group_id]' : {
              required : 'Por favor, ingresar el grupo de trabajo.'
            },
            'part_work[sector_id]' : {
              required : 'Por favor, ingresar el sector.'
            },
            'part_work[date_of_creation]' : {
              required : 'Por favor, ingresar la fecha.'
            }
          },

          // Do not change code below
          errorPlacement : function(error, element) {
            error.insertAfter(element.parent());
            $('#modalLoadingLabelading').modal('hide');
            $('.modal-backdrop.fade.in').remove();
          }
        });
        // Remove all Help-inLine
        $(".help-inline").remove();
        $('#modalLoadingLabelading').modal('hide');
        $('.modal-backdrop.fade.in').remove();
        // Client Valid
        if( $(form['selector']).valid() ){
          $('#modalLoadingLabelading').modal();
        }
        // Client Valid
        return $(form['selector']).valid();
      },
      target: '#content',
      success: function (data){
        $(".help-inline").parent().addClass("state-error");
        $('#modalLoadingLabelading').modal('hide');
        $('.modal-backdrop.fade.in').remove();
      },
      error: function(xhr, status, error) {
        $('#modalLoadingLabelading').modal('hide');
        $('.modal-backdrop.fade.in').remove();
      }
    });
  }

  function add_article_item(){
    str_item = {authenticity_token: "#{form_authenticity_token}", itembybudget_id: $("#itembybudget_select").val()};
    append_url_ajax('#{add_more_article_production_part_works_path}', 'itembybudgets_table', str_item, 0, 'POST');
  }


  function delete_item(code){
    $("#tr" + code).remove();
  }