%tr(class="partwork_item"){id: "tr" + @reg_n.to_s}
  %td.article-id(style="display:none")
    = hidden_field_tag 'part_work[part_work_details_attributes][' + @reg_n.to_s + '][itembybudget_id]', @id_itembybudget.to_i
  %td.col-md-2
    = @itembybudget_code
  %td.col-md-2
    = @name_itembybudget
  %td.amount.col-md-1{:style => "width:5%"}
    %div
      = text_field_tag 'part_work[part_work_details_attributes][' + @reg_n.to_s + '][bill_of_quantitties]', nil , class: "form-control quantity", :required => true, title:'No puede dejar este campo vacio'
  %td.description
    = text_field_tag 'part_work[part_work_details_attributes][' + @reg_n.to_s + '][description]', nil , class: "form-control quantity", id: 'description-part_work'
  %td{:style => "width: 1%; text-align: center;"}
    %a{href: "javascript:delete_item('"+@reg_n.to_s+"')"}(class="btn") X