#content-inside
  .row
    .col-xs-12.col-sm-7.col-md-7.col-lg-4
      %h1.page-title.txt-color-blueDark
        %i.fa.fa-pencil-square-o.fa-eye
        Parte de Obra
  %section#widget-grid
    .row
      %article.col-sm-12.col-md-12.col-lg-8
        #wid-id-0.jarviswidget.jarviswidget-color-greenDark{"data-widget-collapsed" => "false", "data-widget-deletebutton" => "false", "data-widget-editbutton" => "false"}
          %header
            %span.widget-icon
              %i.fa.fa-table
            %h2 
            = 'Parte Obra N° ' + @partwork.number_working_group.to_s
          %div
            .jarviswidget-editbox
              / This area used as dropdown edit box
            .widget-body.no-padding
              .alert.alert-info.no-margin.fade.in
                %button.close{"data-dismiss" => "alert"}
                  ×
                %i.fa-fw.fa.fa-info
                Información Principal
              %table.table.table-hover
                %thead
                  %tr
                    %th Número
                    %th Grupo de Trabajo
                    %th Jefe de Frente
                    %th Ejecutor
                    %th Capataz
                    %th Fecha
                %tbody(id="article_items_table")
                  %tr
                    %td
                      = @partwork.number_working_group
                    %td
                      = @partwork.working_group.name
                    %td
                      = Worker.find(@partwork.working_group.front_chief_id).entity.name + ' ' + Worker.find(@partwork.working_group.front_chief_id).entity.second_name + ' ' + Worker.find(@partwork.working_group.front_chief_id).entity.paternal_surname + ' ' + Worker.find(@partwork.working_group.front_chief_id).entity.maternal_surname
                    %td
                      = Entity.find(@partwork.working_group.executor_id).name
                    %td
                      = Worker.find(@partwork.working_group.master_builder_id).entity.name + ' ' + Worker.find(@partwork.working_group.master_builder_id).entity.second_name + ' ' + Worker.find(@partwork.working_group.master_builder_id).entity.paternal_surname + ' ' + Worker.find(@partwork.working_group.master_builder_id).entity.maternal_surname
                    %td
                      = @partwork.date_of_creation

      %article.col-sm-12.col-md-12.col-lg-12
        #wid-id-2.jarviswidget.jarviswidget-color-greenDark{"data-widget-collapsed" => "false", "data-widget-deletebutton" => "false", "data-widget-editbutton" => "false"}
          %header
            %span.widget-icon
              %i.fa.fa-table
            %h2 Detalle de la Parte Obra
          %div
            .jarviswidget-editbox
              / This area used as dropdown edit box
            .widget-body.no-padding
              .alert.alert-info.no-margin.fade.in
                %button.close{"data-dismiss" => "alert"}
                  ×
                %i.fa-fw.fa.fa-info
                Detalle de los Insumos Asociados
              %table.table.table-hover
                %thead
                  %tr
                    %th Codigo
                    %th Partida
                    %th Metrado
                    %th Descripción
                %tbody
                  - @partworkdetails.each do |partworkdetail|
                    %tr
                      %td
                        = partworkdetail.itembybudget.order
                      %td
                        = partworkdetail.itembybudget.subbudgetdetail
                      %td
                        = partworkdetail.bill_of_quantitties
                      %td
                        = partworkdetail.description

%button.btn.btn-sm.btn-primary.btn-prev#backlist-purchase-order{type: "button"}
  %i.fa.fa-arrow-left>
  Retornar al listado de Ordenes de Compra

:javascript
  
  $('#backlist-purchase-order').click(function(){
    load_url_ajax("#{production_part_works_path}", 'content', {company_id: "#{@company}"}, null, 'GET');
  });