#wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-eye
    %h2 Subcontrato
  .widget-body
    = simple_form_for([:production, @subcontractEquipment], html: {class: 'form-horizontal smart-form', autocomplete: 'off' }) do |f|
      %fieldset
        .row{ 'style' => 'display:none' }
          %input{ 'name' => 'company_id', 'value' => "#{@company}", 'readonly' => true, 'style' => 'display:none' }
        .row
          %section.col.col-4
            %label.label Proveedor
            %label.input
              %select.form-control{:name =>"subcontract_equipment[entity_id]", :style => 'width:100%;padding: 0;border: none;'}
                -if @action =="edit"
                  - @suppliers.each do |supply|
                    -if @subcontractEquipment.entity_id== supply.id
                      %option{:value => "#{supply.id}", :selected=>"selected"}
                        = supply.name
                    -else
                      %option{:value => "#{supply.id}"}
                        = supply.name
                -else
                  - @suppliers.each do |supply|
                    %option{:value => "#{supply.id}"}
                      = supply.name

          %section.col.col-4
            %label.label Valorizaciones
            %label.input{for: "valorization"}
              %select.form-control{:name =>"subcontract_equipment[valorization]", :style => 'width:100%;padding: 0;border: none;'}
                -if @action == "edit"
                  - if @subcontractEquipment.valorization == "semanal"
                    %option{:value => "semanal", :selected=>"selected"}
                      Semanales
                    %option{:value => "quincenal"}
                      Quincenales
                    %option{:value => "mensual"}
                      Mensuales
                  - if @subcontractEquipment.valorization == "quincenal"
                    %option{:value => "semanal"}
                      Semanales
                    %option{:value => "quincenal", :selected=>"selected"}
                      Quincenales
                    %option{:value => "mensual"}
                      Mensuales
                  -else
                    %option{:value => "semanal"}
                      Semanales
                    %option{:value => "quincenal"}
                      Quincenales
                    %option{:value => "mensual", :selected=>"selected"}
                      Mensuales
                -else
                  %option{:value => "semanal"}
                    Semanales
                  %option{:value => "quincenal"}
                    Quincenales
                  %option{:value => "mensual"}
                    Mensuales

          %section.col.col-4
            %label.label Condiciones de Pago
            %label.input{for: "terms_of_payment"}
              %select.form-control{:name =>"subcontract_equipment[terms_of_payment]", :style => 'width:100%;padding: 0;border: none;'}
                -if @action =="edit"
                  -if @subcontractEquipment.terms_of_payment=="contado"
                    %option{:value => "contado", :selected=>"selected"}
                      Al Contado
                    %option{:value => "3D"}
                      Crédito a 3 dias
                    %option{:value => "5D"}
                      Crédito a 5 dias
                    %option{:value => "7D"}
                      Crédito a 7 dias
                    %option{:value => "10D"}
                      Crédito a 10 dias
                    %option{:value => "15D"}
                      Crédito a 15 dias
                    %option{:value => "30D"}
                      Crédito a 30 dias
                    %option{:value => "40D"}
                      Crédito a 40 dias
                    %option{:value => "50D"}
                      Crédito a 50 dias
                    %option{:value => "60D"}
                      Crédito a 60 dias
                  -elsif @subcontractEquipment.terms_of_payment=="3D"
                    %option{:value => "contado"}
                      Al Contado
                    %option{:value => "3D", :selected=>"selected"}
                      Crédito a 3 dias
                    %option{:value => "5D"}
                      Crédito a 5 dias
                    %option{:value => "7D"}
                      Crédito a 7 dias
                    %option{:value => "10D"}
                      Crédito a 10 dias
                    %option{:value => "15D"}
                      Crédito a 15 dias
                    %option{:value => "30D"}
                      Crédito a 30 dias
                    %option{:value => "40D"}
                      Crédito a 40 dias
                    %option{:value => "50D"}
                      Crédito a 50 dias
                    %option{:value => "60D"}
                      Crédito a 60 dias
                  -elsif @subcontractEquipment.terms_of_payment=="5D"
                    %option{:value => "contado"}
                      Al Contado
                    %option{:value => "3D"}
                      Crédito a 3 dias
                    %option{:value => "5D", :selected=>"selected"}
                      Crédito a 5 dias
                    %option{:value => "7D"}
                      Crédito a 7 dias
                    %option{:value => "10D"}
                      Crédito a 10 dias
                    %option{:value => "15D"}
                      Crédito a 15 dias
                    %option{:value => "30D"}
                      Crédito a 30 dias
                    %option{:value => "40D"}
                      Crédito a 40 dias
                    %option{:value => "50D"}
                      Crédito a 50 dias
                    %option{:value => "60D"}
                      Crédito a 60 dias
                  -elsif @subcontractEquipment.terms_of_payment=="7D"
                    %option{:value => "contado"}
                      Al Contado
                    %option{:value => "3D"}
                      Crédito a 3 dias
                    %option{:value => "5D"}
                      Crédito a 5 dias
                    %option{:value => "7D", :selected=>"selected"}
                      Crédito a 7 dias
                    %option{:value => "10D"}
                      Crédito a 10 dias
                    %option{:value => "15D"}
                      Crédito a 15 dias
                    %option{:value => "30D"}
                      Crédito a 30 dias
                    %option{:value => "40D"}
                      Crédito a 40 dias
                    %option{:value => "50D"}
                      Crédito a 50 dias
                    %option{:value => "60D"}
                      Crédito a 60 dias
                  -elsif @subcontractEquipment.terms_of_payment=="10D"
                    %option{:value => "contado"}
                      Al Contado
                    %option{:value => "3D"}
                      Crédito a 3 dias
                    %option{:value => "5D"}
                      Crédito a 5 dias
                    %option{:value => "7D"}
                      Crédito a 7 dias
                    %option{:value => "10D", :selected=>"selected"}
                      Crédito a 10 dias
                    %option{:value => "15D"}
                      Crédito a 15 dias
                    %option{:value => "30D"}
                      Crédito a 30 dias
                    %option{:value => "40D"}
                      Crédito a 40 dias
                    %option{:value => "50D"}
                      Crédito a 50 dias
                    %option{:value => "60D"}
                      Crédito a 60 dias
                  -elsif @subcontractEquipment.terms_of_payment=="15D"
                    %option{:value => "contado"}
                      Al Contado
                    %option{:value => "3D"}
                      Crédito a 3 dias
                    %option{:value => "5D"}
                      Crédito a 5 dias
                    %option{:value => "7D"}
                      Crédito a 7 dias
                    %option{:value => "10D"}
                      Crédito a 10 dias
                    %option{:value => "15D", :selected=>"selected"}
                      Crédito a 15 dias
                    %option{:value => "30D"}
                      Crédito a 30 dias
                    %option{:value => "40D"}
                      Crédito a 40 dias
                    %option{:value => "50D"}
                      Crédito a 50 dias
                    %option{:value => "60D"}
                      Crédito a 60 dias
                  -elsif @subcontractEquipment.terms_of_payment=="30D"
                    %option{:value => "contado"}
                      Al Contado
                    %option{:value => "3D"}
                      Crédito a 3 dias
                    %option{:value => "5D"}
                      Crédito a 5 dias
                    %option{:value => "7D"}
                      Crédito a 7 dias
                    %option{:value => "10D"}
                      Crédito a 10 dias
                    %option{:value => "15D"}
                      Crédito a 15 dias
                    %option{:value => "30D", :selected=>"selected"}
                      Crédito a 30 dias
                    %option{:value => "40D"}
                      Crédito a 40 dias
                    %option{:value => "50D"}
                      Crédito a 50 dias
                    %option{:value => "60D"}
                      Crédito a 60 dias
                  -elsif @subcontractEquipment.terms_of_payment=="40D"
                    %option{:value => "contado"}
                      Al Contado
                    %option{:value => "3D"}
                      Crédito a 3 dias
                    %option{:value => "5D"}
                      Crédito a 5 dias
                    %option{:value => "7D"}
                      Crédito a 7 dias
                    %option{:value => "10D"}
                      Crédito a 10 dias
                    %option{:value => "15D"}
                      Crédito a 15 dias
                    %option{:value => "30D"}
                      Crédito a 30 dias
                    %option{:value => "40D", :selected=>"selected"}
                      Crédito a 40 dias
                    %option{:value => "50D"}
                      Crédito a 50 dias
                    %option{:value => "60D"}
                      Crédito a 60 dias
                  -elsif @subcontractEquipment.terms_of_payment=="50D"
                    %option{:value => "contado"}
                      Al Contado
                    %option{:value => "3D"}
                      Crédito a 3 dias
                    %option{:value => "5D"}
                      Crédito a 5 dias
                    %option{:value => "7D"}
                      Crédito a 7 dias
                    %option{:value => "10D"}
                      Crédito a 10 dias
                    %option{:value => "15D"}
                      Crédito a 15 dias
                    %option{:value => "30D"}
                      Crédito a 30 dias
                    %option{:value => "40D"}
                      Crédito a 40 dias
                    %option{:value => "50D", :selected=>"selected"}
                      Crédito a 50 dias
                    %option{:value => "60D"}
                      Crédito a 60 dias
                  -else
                    %option{:value => "contado"}
                      Al Contado
                    %option{:value => "3D"}
                      Crédito a 3 dias
                    %option{:value => "5D"}
                      Crédito a 5 dias
                    %option{:value => "7D"}
                      Crédito a 7 dias
                    %option{:value => "10D"}
                      Crédito a 10 dias
                    %option{:value => "15D"}
                      Crédito a 15 dias
                    %option{:value => "30D"}
                      Crédito a 30 dias
                    %option{:value => "40D"}
                      Crédito a 40 dias
                    %option{:value => "50D"}
                      Crédito a 50 dias
                    %option{:value => "60D", :selected=>"selected"}
                      Crédito a 60 dias
                -else
                  %option{:value => "contado"}
                    Al Contado
                  %option{:value => "3D"}
                    Crédito a 3 dias
                  %option{:value => "5D"}
                    Crédito a 5 dias
                  %option{:value => "7D"}
                    Crédito a 7 dias
                  %option{:value => "10D"}
                    Crédito a 10 dias
                  %option{:value => "15D"}
                    Crédito a 15 dias
                  %option{:value => "30D"}
                    Crédito a 30 dias
                  %option{:value => "40D"}
                    Crédito a 40 dias
                  %option{:value => "50D"}
                    Crédito a 50 dias
                  %option{:value => "60D"}
                    Crédito a 60 dias
        .row
          %section.col.col-4
            %label.label Amortización inicial (Numérico)
            .input-group{for: "initial_amortization_number"}
              = f.input :initial_amortization_number, placeholder: "Amortización numérico", input_html: { class: 'form-control' }, label: false
              %span.input-group-addon
                %span.onoffswitch
                  %input#number-amort.onoffswitch-checkbox{name: "number-amort", type: "checkbox", checked: true}/
                  %label.onoffswitch-label{ for: 'number-amort' }
                    .onoffswitch-inner{"data-swchoff-text" => "NO", "data-swchon-text" => "YES"}
                    .onoffswitch-switch

          %section.col.col-4
            %label.label Amortización inicial (%)
            .input-group{for: "initial_amortization_percent"}
              = f.input :initial_amortization_percent, placeholder: "Amortización porcentaje", input_html: { class: 'form-control' }, label: false, readonly: true
              %span.input-group-addon
                %span.onoffswitch
                  %input#percent-amort.onoffswitch-checkbox{name: "percent-amort", type: "checkbox"}/
                  %label.onoffswitch-label{ for: 'percent-amort' }
                    .onoffswitch-inner{"data-swchoff-text" => "NO", "data-swchon-text" => "YES"}
                    .onoffswitch-switch

          %section.col.col-4
            %label.label Fondo de Garantia
            %label.input{for: "guarantee_fund"}
              %i.icon-append.fa.fa-credit-card
              = f.input :guarantee_fund, placeholder: "Fondo de garantía", input_html: { class: 'form-control' }, label: false

        .row
          %section.col.col-4
            %label.label Detracción
            %label.input{for: "detraction"}
              = f.input :detraction, placeholder: "Detracción", input_html: { class: 'form-control' }, label: false
          %section.col.col-4
            %label.label IGV
            %label.checkbox
              - if @subcontractEquipment.igv.nil?
                = check_box_tag 'subcontract_equipment[igv]', @igv, false
                %i
              - else
                = check_box_tag 'subcontract_equipment[igv]', @igv, true
                %i
          %section.col.col-4
            %label.label Descripción del Contrato
            %label.input{for: "contract_description"}
              = f.input :contract_description, placeholder: "Descripción",:as => :text, input_html: { class: 'form-control',:style=> 'height: 70px' }, label: false

      %fieldset
        %legend Adelantos
        .row
          %section.col.col-2
            %label.control-label(for="bank_id") Adelantos

          %section.col.col-3
            = text_field_tag 'advance', nil, class: 'form-control', id: 'advance', placeholder: 'Adelanto'

          %section.col.col-3
            %input#start-date-input.string.optional.form-control{'name'=>'date_of_issue', type: "date"}

          %section.col.col-2
            %div
              %a(href="javascript:add_advance_item();" id="btn-add-advance" class="btn btn-success" role="button")
                Agregar Adelanto

        .col-lg-12
          %table#summary-advance.table.table-striped.table-bordered.table-hover.has-tickbox.smart-form
            %thead
              %tr
                %th.col-2 Adelanto
                %th.col-5 Fecha
                %th Eliminar
            %tbody(id="advance_items_table")
              - if @action == 'edit'
                - @subcontractEquipment.subcontract_equipment_advances.each do |sa|
                  %tr
                    %td.advance
                      %div
                        = text_field_tag 'subcontract_equipment[subcontract_equipment_advances_attributes][' + @reg_n.to_s + '][advance]', sa.advance, class: "form-control advance-item", :required => true, title:'No puede dejar este campo vacio'
                    %td.date_of_issue
                      %div
                        %input#start-date-input.string.optional.form-control{ 'name' => 'subcontract_equipment[subcontract_equipment_advances_attributes][' + @reg_n.to_s + '][date_of_issue]', type: "date", value: sa.date_of_issue , :required => true, title:'No puede dejar este campo vacio'}
                    %td(style="display:none")
                      = hidden_field_tag 'subcontract_equipment[subcontract_equipment_advances_attributes][' + @reg_n.to_s + '][id]', sa.id
                    %td(style="display:none")
                      = hidden_field_tag 'subcontract_equipment[subcontract_equipment_advances_attributes][' + @reg_n.to_s + '][subcontract_equipment_id]', @subcontractEquipment.id
                    %td.delete-item
                      %label.checkbox
                        = check_box 'subcontract_equipment[subcontract_equipment_advances_attributes]', '[' + @reg_n.to_s + '][_destroy]'
                        %i
                    - @reg_n += 1         

      %footer
        %button.btn.btn-primary{type: "submit"}
          %i.fa.fa-save 
          Guardar

:javascript
  $(document).ready(function () {

    $('select').select2();
    if($('form[id^="edit_"]').length > 0) {
      submit_validate($('form[id^="edit_"]'));
    }else{
      submit_validate($('#new_subcontract_equipment'));
    }

    $('#number-amort').change(function(){
      if($(this).is(':checked')){
        $('#subcontract_equipment_initial_amortization_number').removeAttr('readonly');
        $('#subcontract_equipment_initial_amortization_percent').attr('readonly', 'readonly')
        $('#percent-amort').click();
      }else{
        $('#subcontract_equipment_initial_amortization_number').attr('readonly', 'readonly')
        $('#subcontract_equipment_initial_amortization_percent').removeAttr('readonly')
        $('#percent-amort').click();
      }
    });

    $('#percent-amort').change(function(){
      if($(this).is(':checked')){
        $('#subcontract_equipment_initial_amortization_percent').removeAttr('readonly');
        $('#subcontract_equipment_initial_amortization_number').attr('readonly', 'readonly')
        $('#number-amort').click();
      }else{
        $('#subcontract_equipment_initial_amortization_percent').attr('readonly', 'readonly')
        $('#subcontract_equipment_initial_amortization_number').removeAttr('readonly')
        $('#number-amort').click();
      }
    });

  });
  
  function submit_validate(form){
    $(form['selector']).ajaxForm({
      beforeSubmit: function() {
        $(form['selector']).validate({
          // Rules for form validation
          rules : {
            'subcontract_equipment[guarantee_fund]' : {
              required : true
            },
            'subcontract_equipment[detraction]' : {
              required : true
            },
            'subcontract_equipment[contract_amount]' : {
              required : true
            }
          },

          // Messages for form validation
          messages : {
            
            'subcontract_equipment[guarantee_fund]' : {
              required : 'Por favor, ingresar el fondo de garantia.'
            },
            'subcontract_equipment[detraction]' : {
              required : 'Por favor, ingresar la detracción.'
            },
            'subcontract_equipment[contract_amount]' : {
              required : 'Por favor, ingresar el monto contratado.'
            }
          },

          // Do not change code below
          errorPlacement : function(error, element) {
            error.insertAfter(element.parent());
          }
        });
        // Remove all Help-inLine
        $(".help-inline").remove();
        // Client Valid
        return $(form['selector']).valid();
      },
      target: '#content',
      success: function (data){
        $(".help-inline").parent().addClass("state-error");
      },
      error: function(xhr, status, error) {
      }
    });
  }

  function add_advance_item(){
    str_item = {authenticity_token: "#{form_authenticity_token}", advance: $("#advance").val(), date: $("#start-date-input").val()};
    append_url_ajax('#{add_more_advance_production_subcontract_equipments_path}', 'advance_items_table', str_item, 0, 'POST');
  }

  function delete_item(code){
    $("#tr" + code).remove();
  }