#wid-id-0.jarviswidget.jarviswidget-color-darken{"data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-table
    %h2 Lista de Subcontratos de Equipos
  %div
    .jarviswidget-editbox
    .widget-body.no-padding
      .widget-body-toolbar
      %table#dt_basic.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th N°
            %th Ejecutor
            %th Valorización
            %th Condiciones de Pago
            %th Fondo de Garantia
            %th Monto Contratado
            %th Descripción
            %th Acciones
        %tbody
          - @subcontracts.each do |subcontract|
            %tr
              %td
                = subcontract.id
              %td 
                = subcontract.entity.name
              %td
                = subcontract.valorization
              %td
                -if subcontract.terms_of_payment=="contado"
                  Al Contado
                -elsif subcontract.terms_of_payment=="3D"
                  Crédito a 3 dias
                -elsif subcontract.terms_of_payment=="5D"
                  Crédito a 5 dias
                -elsif subcontract.terms_of_payment=="7D"
                  Crédito a 7 dias
                -elsif subcontract.terms_of_payment=="10D"
                  Crédito a 10 dias
                -elsif subcontract.terms_of_payment=="15D"
                  Crédito a 15 dias
                -elsif subcontract.terms_of_payment=="30D"
                  Crédito a 30 dias
                -elsif subcontract.terms_of_payment=="40D"
                  Crédito a 40 dias
                -elsif subcontract.terms_of_payment=="50D"
                  Crédito a 50 dias
                -else
                  Crédito a 60 dias
              %td
                = number_to_currency(subcontract.guarantee_fund.to_f, unit: "S/.", precision: 2)
              %td 
                = number_to_currency(subcontract.contract_amount.to_f, unit: "S/.", precision: 2)
              %td 
                = subcontract.contract_description
              %td
                %a.btn.btn-info.btn-xs{:onclick => "javascript:load_url_ajax('#{production_subcontract_equipment_details_path}', 'content', {company_id: '#{@company}', subcontract: '#{subcontract.id}'}, null, 'GET')"}
                  Equipos
                %a.btn.btn-warning.btn-xs{:onclick => "javascript:load_url_ajax('#{edit_production_subcontract_equipment_path(subcontract.id)}', 'content', {company_id: '#{@company}'}, null, 'GET')"}
                  Editar
                %a.btn.btn-danger.btn-xs{:data => {:toggle => 'confirmation', :placement => 'left', :title => 'Esta seguro de eliminar el item ' + "#{subcontract.id}?", :singleton => 'true', :popout => 'true', :onclick => "javascript:delete_to_url('#{production_subcontract_equipment_path(subcontract.id)}' + '?authenticity_token=#{form_authenticity_token}', 'content', '#{production_subcontract_equipments_path}?company_id=#{@company}')"}}
                  Eliminar

:javascript
  // DO NOT REMOVE : GLOBAL FUNCTIONS!
  pageSetUp();

  $(document).ready(function () {
    $('[data-toggle="confirmation"]').confirmation();
  });

  // PAGE RELATED SCRIPTS

  loadDataTableScripts();
  function loadDataTableScripts() {

    loadScript("#{ asset_path 'plugin/datatables/jquery.dataTables-cust.min', type: :javascript }", dt_2);

    function dt_2() {
      loadScript("#{ asset_path 'plugin/datatables/ColReorder.min', type: :javascript }", dt_3);
    }

    function dt_3() {
      loadScript("#{ asset_path 'plugin/datatables/FixedColumns.min.js', type: :javascript }", dt_4);
    }

    function dt_4() {
      loadScript("#{ asset_path 'plugin/datatables/ColVis.min', type: :javascript }", dt_5);
    }

    function dt_5() {
      loadScript("#{ asset_path 'plugin/datatables/ZeroClipboard', type: :javascript }", dt_6);
    }

    function dt_6() {
      loadScript("#{ asset_path 'plugin/datatables/media/js/TableTools.min', type: :javascript }", dt_7);
    }

    function dt_7() {
      loadScript("#{ asset_path 'plugin/datatables/DT_bootstrap', type: :javascript }", runDataTables);
    }

  }

  function runDataTables() {

    /*
     * BASIC
     */
    $('#dt_basic').dataTable({
      "sPaginationType" : "bootstrap_full"
    });

    /* END BASIC */

  }