#wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-eye
    %h2 Detalles Generales de Centro de Costo
  .widget-body
    = simple_form_for([:logistics,@cost_center, @cost_center_detail], html: {class: 'form-horizontal smart-form', autocomplete: 'off' }) do |f|
      %fieldset
        .row
          =f.hidden_field :cost_center_id, :value =>  @cost_center_id
          %section.col.col-10
            %label.label Nombre de la obra
            %label.input
              %i.icon-append.fa.fa-gavel
              = f.input :name, placeholder: "Nombre", input_html: { class: 'form-control' }, label: false
          .section.col.col-md-6{"style"=>"margin-bottom:3%;"}
            %label.label Condicion Tributaria Amazonica
            .form-group.in-line
              .col-md-1
              .col-md-10
                .col-md-5
                  = f.radio_button :amazon_tax_condition,  "Si", :selected=>@cost_center_detail.amazon_tax_condition=="Si", :id => "Si_choice", :onChange=>"disablefield();"
                  %label Si
                .col-md-5
                  = f.radio_button :amazon_tax_condition, "No", :selected=>@cost_center_detail.amazon_tax_condition=="No", :id => "No_choice", :onChange=>"disablefield();"
                  %label No
        .row
          %section.col.col-4{"style"=>"width:31%;"}
            %label.label Nombre del contratista:
            %input.string.optional.form-control{"value"=>Company.find_by_id(@companyselected).name,:readonly => true}

          %section.col.col-4{"style"=>"width:31%;"}
            %label.label Dirección:
            %input.string.optional.form-control{"value"=>Company.find_by_id(@companyselected).address,:readonly => true}

          %section.col.col-4{"style"=>"width:31%;"}
            %label.label RUC:
            %input.string.optional.form-control{"value"=>Company.find_by_id(@companyselected).ruc,:readonly => true}         
        .row
          .col-sm-3{"style"=>"margin-left:30px;margin-right:35px;"}
            %label.label Fecha de Convocatoria
            .form-group
              .input-group
                = f.input :call_date, as: :string, input_html: { :class => 'form-control', :type => "date" }, label: false
                %span.input-group-addon
                  %i.fa.fa-calendar.fa-md.fa-fw
          %section.col.col-4{"style"=>"width:31%;"}
            %label.label Numero de proceso
            %label.input
              = f.input :process_number, placeholder: "Numero de proceso", input_html: { class: 'form-control' }, label: false
          %section.col.col-4{"style"=>"width:31%;"}
            %label.label Código SNIP
            %label.input
              = f.input :snip_code, placeholder: "Codigo SNIP", input_html: { class: 'form-control' }, label: false


        .row
          .col-sm-3{"style"=>"margin-right:34px; margin-left:31px;"}
            %label.label Fecha de Buena Pro
            .form-group
              .input-group
                = f.input :good_pro_date, as: :string, input_html: { :class => 'form-control', :type => "date" }, label: false
                %span.input-group-addon
                  %i.fa.fa-calendar.fa-md.fa-fw
          %section.col.col-4{"style"=>"width:31%;"}
            %label.label Valor referencial
            %label.input
              = f.input :referential_value, placeholder: "Valor referencial", input_html: { class: 'form-control' }, label: false 
          %section.col.col-4{"style"=>"width:31%;"}
            %label.label Valor ganado
            %label.input
              = f.input :earned_value, placeholder: "valor ganado", input_html: { class: 'form-control' }, label: false
        .row                      
          %section.col.col-4{"style"=>"width:31%;"}
            %label.label Costo directo
            %label.input
              = f.input :direct_cost, placeholder: "costo directo", input_html: { class: 'form-control' }, label: false                       
          %section.col.col-4{"style"=>"width:31%;"}
            %label.label Gastos Generales
            %label.input
              = f.input :general_cost, placeholder: "gasto general", input_html: { class: 'form-control' }, label: false
          %section.col.col-4{"style"=>"width:31%;"}
            %label.label Utilidad
            %label.input
              = f.input :utility, placeholder: "utilidad", input_html: { class: 'form-control' }, label: false
        .row                      
          %section.col.col-4{"style"=>"width:31%;"}
            %label.label IGV
            %label.input
              = f.input :IGV, placeholder: "IGV", input_html: { class: 'form-control' }, label: false
          .col-sm-3{"style"=>"margin-right:34px; margin-left:31px;"}
            %label.label Fecha de Firma de Contrato
            .form-group
              .input-group
                = f.input :contract_sign_date, as: :string, input_html: { :class => 'form-control', :type => "date" }, label: false
                %span.input-group-addon
                  %i.fa.fa-calendar.fa-md.fa-fw
          %section.col.col-4{"style"=>"width:31%;"}
            %label.label Número de Contrato
            %label.input
              = f.input :contract_number, placeholder: "numero de contrato", input_html: { class: 'form-control' }, label: false
        .row{"style"=>"padding-bottom:20px;"}                      
          .col-sm-3{"style"=>"margin-right:34px; margin-left:31px;"}
            %label.label Fecha de Entrega de Terreno
            .form-group
              .input-group
                = f.input :land_delivery_date, as: :string, input_html: { :class => 'form-control', :type => "date" }, label: false
                %span.input-group-addon
                  %i.fa.fa-calendar.fa-md.fa-fw
          .col-sm-3{"style"=>"margin-right:34px; margin-left:31px;"}
            %label.label Fecha de Solicitud de Adelanto Directo
            .form-group
              .input-group
                = f.input :direct_advanced_form_date, as: :string, input_html: { :class => 'form-control', :type => "date" }, label: false
                %span.input-group-addon
                  %i.fa.fa-calendar.fa-md.fa-fw
          .col-sm-3{"style"=>"margin-right:34px; margin-left:31px;"}
            %label.label Fecha de Pago de Adelanto Directo
            .form-group
              .input-group
                = f.input :direct_advanced_payment_date, as: :string, input_html: { :class => 'form-control', :type => "date" }, label: false
                %span.input-group-addon
                  %i.fa.fa-calendar.fa-md.fa-fw
        .row                      
          .col-sm-3{"style"=>"margin-right:34px; margin-left:31px;"}
            %label.label Fecha de Inicio de la Obra
            .form-group
              .input-group
                = f.input :start_date_of_work, as: :string, input_html: { :class => 'form-control', :type => "date" }, label: false
                %span.input-group-addon
                  %i.fa.fa-calendar.fa-md.fa-fw
          .col-sm-3{"style"=>"margin-right:34px; margin-left:31px;"}
            %label.label Sistema de Contratación
            .form-group
              .col-md-12
                .input-group
                  %select.form-control#syscontract-select{:name =>"cost_center_detail[procurement_system]"}
                    -if @action=="edit"
                      -if @cost_center_detail.procurement_system=="unit_price"
                        %option{:value => "unit_price", :selected => true} Precios Unitarios
                        %option{:value => "advance_sum"} Suma Alzada
                        %option{:value => "mixto"} Mixto
                      -elsif @cost_center_detail.procurement_system=="advance_sum"
                        %option{:value => "unit_price"} Precio Unitario
                        %option{:value => "advance_sum", :selected => true} Suma Alzada
                        %option{:value => "mixto"} Mixto
                      -elsif @cost_center_detail.procurement_system=="mixto"
                        %option{:value => "unit_price"} Precio Unitario
                        %option{:value => "advance_sum"} Suma Alzada
                        %option{:value => "mixto", :selected => true} Mixto
                    -else
                      %option{:value => "unit_price"} Precio Unitario
                      %option{:value => "advance_sum"} Suma Alzada
                      %option{:value => "mixto"} Mixto
                  %span.input-group-addon
                    %i.fa.fa-calendar.fa-md.fa-fw
          %section.col.col-4{"style"=>"width:31%;"}
            %label.label Plazo de Ejecución
            %label.input
              = f.input :execution_term, placeholder: "Dias Calendario", input_html: { class: 'form-control' }, label: false
        .row
          %section.col.col-4{"style"=>"width:31%;"}
            %label.label Supervision
            %label.input
              = f.input :supervision, placeholder: "supervision", input_html: { class: 'form-control' }, label: false                      
          .col-sm-3{"style"=>"margin-right:34px; margin-left:31px;"}
            %label.label Fecha de Pago de Adelanto de Materiales
            .form-group
              .input-group
                = f.input :material_advanced_payment_date, as: :string, input_html: { :class => 'form-control', :type => "date" }, label: false
                %span.input-group-addon
                  %i.fa.fa-calendar.fa-md.fa-fw
        .row
          .col-sm-4{"style"=>"margin-left:15px;margin-bottom:3%;width:28%"}
            %label.label Entidad:
            %select#clients.select2.form-control{:name => "cost_center_detail[entity_id]",:required => true}
              %option{:value => nil, :selected => true, :disabled => true} Seleccione una entidad
              - @clients.each do |ph|
                %option{:value => "#{ph.id}", :selected => "#{@cost_center_detail.entity_id}"=="#{ph.id}"}
                  = ph.name
        .row
          .col-md-8{"style"=>"margin-left:15px;margin-bottom:3%"}
            %label.label Consorciados y Participación:
            .col-md-6
              %select#contractors.select2.form-control{:name => "cost_center_detail[entity_cost_center_details_attributes][" + @reg_n.to_s + "][entity_id]"}
                %option{:value => "0", :selected => true, :disabled => true} Seleccione un consorcio
                - @contractors.each do |cont|
                  %option{:value => "#{cont.id}"}
                    = cont.name
            .col-lg-1{"style"=>"margin-left:15px;"}
              = text_field_tag 'participation', nil, class: 'form-control', id: 'participation', placeholder: ' % '
            .col-lg-2{"style"=>"margin-left:15px;"}
              %div(class="col-lg-3")
                %a(href="javascript:add_details_entity();" id="btn-add-article" class="btn btn-success" role="button" style="padding:6px;")
                  Agregar Consorcio
        .row
          .col-lg-12
            %table#summary-contractors.table.table-striped.table-bordered.table-hover.has-tickbox.smart-form
              %thead
                %tr
                  %th.col-2 Nombre
                  %th.col-5 Participación
                  %th Eliminar
              %tbody(id="details_entities_table")
                - if @action == 'edit'
                  - @cost_center_detail.entity_cost_center_details.each do |oos|
                    %tr
                      %td.bank-id(style="display:none")
                        = hidden_field_tag 'cost_center_detail[entity_cost_center_details_attributes][' + @reg_n.to_s + '][entity_id]', oos.entity_id.to_s
                        = hidden_field_tag 'cost_center_detail[entity_cost_center_details_attributes][' + @reg_n.to_s + '][id]', oos.id.to_s
                        = hidden_field_tag 'cost_center_detail[entity_cost_center_details_attributes][' + @reg_n.to_s + '][participation]', oos.participation.to_s
                      %td.col-5.account_number
                        -if oos.entity_id!=0
                          =Entity.find(oos.entity_id).name
                        -else
                          =""
                      %td
                        = oos.participation.to_s+" %"
                      %td.delete-item
                        %label.checkbox
                          = check_box 'cost_center_detail[entity_cost_center_details_attributes]', '[' + @reg_n.to_s + '][_destroy]'
                          %i
                      - @reg_n += 1
          
      %footer
        %button.btn.btn-primary{type: "submit"}
          %i.fa.fa-save 
          Guardar


:javascript

  $(document).ready(function () {
    $("#clients").focus()
    if($('form[id^="edit_"]').length > 0) {
      submit_validate($('form[id^="edit_"]'));
    }else{
      submit_validate($('#new_cost_center_detail'));
    }
  });

  function submit_validate(form){
    $(form['selector']).ajaxForm({
      beforeSubmit: function() {
        $(form['selector']).validate({
          // Rules for form validation
         rules : {
            'cost_center_detail[name]' : {
              required : true,
              
            },
            'cost_center_detail[call_date]' : {
              required : true,
            },
            'cost_center_detail[snip_code]' : {
              required : true,
              number : true,
            },
            'cost_center_detail[process_number]' : {
              required : true,
              number : true,
            },
            'cost_center_detail[good_pro_date]' : {
              required : true,
            },
            'cost_center_detail[referential_value]' : {
              required : true,
              number : true,
            },
            'cost_center_detail[earned_value]' : {
              required : true,
              number : true,
            },
            'cost_center_detail[direct_cost]' : {
              required : true,
              number : true,
            },
            'cost_center_detail[general_cost]' : {
              required : true,
              number : true,
            },
            'cost_center_detail[utility]' : {
              required : true,
              number : true,
            },
            'cost_center_detail[contract_sign_date]' : {
              required : true,
            },
            'cost_center_detail[contract_number]' : {
              required : true,
              number : true,
            },
            'cost_center_detail[land_delivery_date]' : {
              required : true,
            },
            'cost_center_detail[direct_advanced_payment_date]' : {
              required : true,
            },
            'cost_center_detail[direct_advanced_form_date]' : {
              required : true,
            },
            'cost_center_detail[start_day_of_work]' : {
              required : true,
            },
            'cost_center_detail[procurement_system]' : {
              required : true,
            },
            'cost_center_detail[execution_term]' : {
              required : true,
              number : true,
            },
            'cost_center_detail[supervision]' : {
              required : true,
            },
            'cost_center_detail[material_advanced_payment_date]' : {
              required : true,
            },
            'cost_center_detail[entity_id]' : {
              required : true,
            }             
          },

          // Messages for form validation
          messages : {
            'cost_center_detail[name]' : {
              required : "Por favor ingresar el nombre correctamente",
            },
            'cost_center_detail[call_date]' : {
              required : "Por favor ingresar  una fecha correcta",
            },
            'cost_center_detail[snip_code]' : {
              required : "Por favor ingresar el código SNIP correcto",
              number : "Por favor ingresar un número válido",
            },
            'cost_center_detail[process_number]' : {
              required : "Por favor ingresar un número de proceso correcto",
              number : "Por favor ingresar un número válido",
            },
            'cost_center_detail[good_pro_date]' : {
              required : "Por favor ingresar una fecha correcta",
            },
            'cost_center_detail[referential_value]' : {
              required : "Por favor ingresar el valor referencial correctamente",
              number : "Por favor ingresar un número válido",
            },
            'cost_center_detail[earned_value]' : {
              required : "Por favor ingresar el valor correctamente",
              number : "Por favor ingresar un número válido",
            },
            'cost_center_detail[direct_cost]' : {
              required : "Por favor ingresar el costo directo correctamente",
              number : "Por favor ingresar un número válido",
            },
            'cost_center_detail[general_cost]' : {
              required : "Por favor ingresar los gastos generales correctamente",
              number : "Por favor ingresar un número válido",
            },
            'cost_center_detail[utility]' : {
              required : "Por favor ingresar la utilidad correctamente",
              number : "Por favor ingresar un número válido",
            },
            'cost_center_detail[contract_sign_date]' : {
              required : "Por favor ingresar una fecha correcta",
            },
            'cost_center_detail[contract_number]' : {
              required : "Por favor ingresar el número de contrato correctamente",
              number : "Por favor ingresar un número válido",
            },
            'cost_center_detail[land_delivery_date]' : {
              required : "Por favor ingresar  una fecha correcta",
            },
            'cost_center_detail[direct_advanced_payment_date]' : {
              required : "Por favor ingresar una fecha correcta",
            },
            'cost_center_detail[direct_advanced_form_date]' : {
              required : "Por favor ingresar  una fecha correcta",
            },
            'cost_center_detail[start_day_of_work]' : {
              required : "Por favor ingresar una fecha correcta",
            },
            'cost_center_detail[procurement_system]' : {
              required : "Por favor ingresar el sistema de contratación",
            },
            'cost_center_detail[execution_term]' : {
              required : "Por favor ingresar el plazo correctamente",
              number : "Por favor ingresar un número válido",
            },
            'cost_center_detail[supervision]' : {
              required : "Por favor ingresar el campo correctamente",
            },
            'cost_center_detail[material_advanced_payment_date]' : {
              required : "Por favor ingresar una fecha correcta",
            },
            'cost_center_detail[entity_id]' : {
              required : "Por favor ingresar una entidad",
            }
          },

          // Do not change code below
          errorPlacement : function(error, element) {
            error.insertAfter(element.parent());
          }
        });
        // Remove all Help-inLine
        $(".help-inline").remove();
        // Client Valid
        return $(form['selector']).valid();
      },
      target: '#content',
      success: function (data){
        $(".help-inline").parent().addClass("state-error");
      },
      error: function(xhr, status, error) {
      }
    });
  }

  function disablefield(){ 
  if (document.getElementById('Si_choice').checked == 1){ 
  document.getElementById('cost_center_detail_IGV').readOnly = true; document.getElementById('cost_center_detail_IGV').value='0';}
  else{ 
  document.getElementById('cost_center_detail_IGV').readOnly = false; document.getElementById('cost_center_detail_IGV').value='1';}
  }


  function add_details_entity(){

    var entity_id = $("#contractors").val();
    str_item = {authenticity_token: "#{form_authenticity_token}", entity_id: $("#contractors").val(), participation: $("#participation").val()};

    append_url_ajax('#{add_contractor_field_logistics_cost_center_details_path}', 'details_entities_table', str_item, 0, 'POST');
  }

  function delete_item(code){
    $("#tr" + code).remove();
  }