#wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-eye
    %h2
      = t('activerecord.modelsdescription.bill_of') + t('activerecord.modelsdescription.warehouse')
  .widget-body
    = simple_form_for([:logistics, @warehouse], html: {class: 'form-horizontal smart-form', autocomplete: 'off' }) do |f|
      %fieldset
        .row
          %section.col.col-10
            %label.label
              = t('activerecord.attributes.warehouse.cost_center')
            %label.input{for: "cost_center_id"}
              %select.form-control#cost_center-select{:name =>"warehouse[cost_center_id]"}
                - @cost_centers.each do |x|
                  %option{:value => "#{x.id}", :rel => "#{x.code}", :selected => @warehouse.cost_center_id == x.id}
                    = x.name
        .row
          %section.col.col-6
            %label.label
              = t('activerecord.attributes.warehouse.name')
            %label.input{for: "name"}
              %i.icon-append.fa.fa-superscript
              = f.input :name, placeholder: t('activerecord.attributes.warehouse.name'), input_html: { class: 'form-control' }, label: false
        .row
          %section.col.col-10
            %label.label
              = t('activerecord.attributes.warehouse.location')
            %label.input{for: "text-field"}
              %i.icon-append.fa.fa-user
              = f.input :location, placeholder: t('activerecord.attributes.warehouse.location'), input_html: { class: 'form-control' }, label: false
        = hidden_field_tag "warehouse[company_id]"

      %footer
        %button.btn.btn-primary{type: "submit"}
          %i.fa.fa-save
            = t('activerecord.actions.save')

:javascript
  $(document).ready(function () {
    //alert($.company_global_id);
    $("#warehouse_company_id").val($.company_global_id);
    $("#warehouse_name").focus();

    if($('form[id^="edit_"]').length > 0) {
      submit_validate($('form[id^="edit_"]'));
    }else{
      submit_validate($('#new_warehouse'));
    }
  });

  function submit_validate(form){
    $(form['selector']).ajaxForm({
      beforeSubmit: function() {
        $(form['selector']).validate({
          // Rules for form validation
          rules : {
            'warehouse[name]' : {
              required : true
            }
          },

          // Messages for form validation
          messages : {
            'warehouse[name]' : {
              required : '(*) requerido.'
             }
          },

          // Do not change code below
          errorPlacement : function(error, element) {
            error.insertAfter(element.parent());
          }
        });
        // Remove all Help-inLine
        $(".help-inline").remove();
        // Client Valid
        return $(form['selector']).valid();
      },
      target: '#content',
      success: function (data){
        $(".help-inline").parent().addClass("state-error");
      },
      error: function(xhr, status, error) {
      }
    });
  }
