/ NEW WIDGET START
%article.col-sm-12.col-md-12.col-lg-6
  / Widget ID (each widget will need unique ID)
  #wid-id-1.jarviswidget.jarviswidget-color-blue{"data-widget-editbutton" => "false", "data-widget-sortable" => "false", "data-widget-deletebutton" => "false"}
    /
      widget options:
      usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
      
      data-widget-colorbutton="false"
      data-widget-editbutton="false"
      data-widget-togglebutton="false"
      
      data-widget-fullscreenbutton="false"
      data-widget-custombutton="false"
      data-widget-collapsed="true"
      
    %header
      %span.widget-icon
        %i.fa.fa-sitemap
      %h2 Categorias/SubCategorias
    / widget div
    %div
      / widget edit box
      .jarviswidget-editbox
        / This area used as dropdown edit box
      / end widget edit box
      / widget content
      .widget-body
        .tree.smart-form
          - @categories.each do |category|
            %ul
              %li
                %span
                  %i.fa.fa-lg.fa-folder-open
                  = category.name + " (cod. " + category.code + ")"
                  %a.btn.btn-warning.btn-xs{:onclick => "javascript:load_url_ajax('#{edit_logistics_category_path(category.id)}', 'content', null, null, 'GET')"}
                    Editar
                  %a.btn.btn-danger.btn-xs{:onclick => "javascript:delete_to_url('#{logistics_category_path(category.id)}' + '?authenticity_token=#{form_authenticity_token}', 'content', '#{logistics_categories_path}')"}
                    Eliminar
                %ul
                  - category.subcategories.each do |subcategory|
                    %li
                      %span
                        %i.icon-leaf
                        = subcategory.name + " (cod. " + subcategory.code + ")"
                        %a.btn.btn-warning.btn-xs{:onclick => "javascript:load_url_ajax('#{edit_logistics_subcategory_path(subcategory.id)}', 'content', null, null, 'GET')"}
                          Editar
                        %a.btn.btn-danger.btn-xs{:onclick => "javascript:delete_to_url('#{logistics_subcategory_path(subcategory.id)}' + '?authenticity_token=#{form_authenticity_token}', 'content', '#{logistics_categories_path}')"}
                          Eliminar
      / end widget content
    / end widget div
  / end widget
/ WIDGET END

:javascript
  // DO NOT REMOVE : GLOBAL FUNCTIONS!
  pageSetUp();

  // PAGE RELATED SCRIPTS

  $('.tree > ul').attr('role', 'tree').find('ul').attr('role', 'group');
  $('.tree').find('li:has(ul)').addClass('parent_li').attr('role', 'treeitem').find(' > span').attr('title', 'Collapse this branch').on('click', function(e) {
    var children = $(this).parent('li.parent_li').find(' > ul > li');
    if (children.is(':visible')) {
      children.hide('fast');
      $(this).attr('title', 'Expand this branch').find(' > i').removeClass().addClass('fa fa-lg fa-plus-circle');
    } else {
      children.show('fast');
      $(this).attr('title', 'Collapse this branch').find(' > i').removeClass().addClass('fa fa-lg fa-minus-circle');
    }
    e.stopPropagation();
  });