#wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-eye
    %h2 Artículos
  %div
    .jarviswidget-editbox
    .widget-body
      = simple_form_for([:logistics, @article], html: {class: 'form-horizontal' }) do |f|
        %fieldset
          %legend Ingrese Articulo
          .form-group
            %label.col-md-2.control-label{for: "category_id"} Categoria
            .col-md-10
              %select(name='category_id' class = 'form-control' id = 'category-select')
                - @categories.each do |cat|
                  %option(value = "#{cat.id}" rel= "#{cat.code}")
                    = cat.name
          .form-group
            %label.col-md-2.control-label{for: "subcategory_id"} Sub-Categoria
            .col-md-10
              %select(name='subcategory_id' class = 'form-control' id = 'subcategory-select')
          .form-group
            %label.col-md-2.control-label{for: "name"} Código
            .col-md-10
              = f.input :code, placeholder: "Código", :input_html => {:class => 'form-control', :id => 'input-code-article'}, label: false
          .form-group
            %label.col-md-2.control-label{for: "name"} Nombre
            .col-md-10
              = f.input :name, placeholder: "Nombre del articulo", :input_html => {:class => 'form-control'}, label: false
          .form-group
            %label.col-md-2.control-label{for: "unit_of_measurement_id"} Unidad de medida
            .col-md-10
              %select.form-control{:name =>"article[unit_of_measurement_id]"}
                - @unitOfMeasurement.each do |unit|
                  %option{:value => "#{unit.id}"}
                    = unit.name
          .form-group
            %label.col-md-2.control-label{for: "description"} Descripcion
            .col-md-10
              = f.input :description, placeholder: "Descripcion del articulo", :input_html => {:class => 'form-control'}, label: false, rows: 4
        .form-actions
          .row
            .col-md-12
              %button.btn.btn-primary{type: "submit"}
                %i.fa.fa-save
                  Guardar

:javascript
  $(document).ready(function(){
    $('#category-select').change(function(){
      var category_id = $(this).val();
      $.ajax({
        type: "POST",
        url: "#{get_subcategory_form_category_logistics_subcategories_path}",
        async: false,
        data: { category_id: category_id, authenticity_token: "#{form_authenticity_token}"}
      }).done(function( data ) {
        newOptions = [];
        $.each(data.subcategories, function(key, value){
          item = {};
          item['name'] = value.name;
          item['code'] = value.code;
          newOptions.push(item);
        });
        $('#subcategory-select').empty();
        $.each(newOptions, function(key,value){
          $('#subcategory-select').append(
            $("<option></option>").attr("value", value.code).text(value.name)
          )
        });
      });
    });

    $('#subcategory-select').change(function(){
      var sub_code = $(this).val();
      $('#input-code-article').val(sub_code);
    });
  });