#wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-eye
    %h2 Artículos
  %div
    .jarviswidget-editbox
    .widget-body
      = simple_form_for([:logistics, @article], html: {class: 'form-horizontal' }) do |f|
        %fieldset
          %legend Ingrese Articulo
          .form-group
            %label.col-md-2.control-label{for: "type_of_article_id"} Tipo de Articulo
            .col-md-10
              - if @action != nil && @action == 'edit'
                %select{:name => 'article[type_of_article_id]', :class => 'form-control', :id => 'type-article-select'}
                  - @typeOfArticle.each do |typeArticle|
                    %option{:value => "#{typeArticle.id}", :rel => "#{typeArticle.code}", :selected => @typeOfArticle}
                      = typeArticle.name
              - else
                %select{:name => 'article[type_of_article_id]', :class => 'form-control', :id => 'type-article-select'}
                  - @typeOfArticle.each do |typeArticle|
                    %option(value = "#{typeArticle.id}" rel= "#{typeArticle.code}")
                      = typeArticle.name
          .form-group
            %label.col-md-2.control-label{for: "category_id"} Grupo
            .col-md-10
              - if @action != nil && @action == 'edit'
                %select{:name => 'article[category_id]', :class => 'form-control', :id => 'category-select'}
                  - @categories.each do |cat|
                    %option{:value => "#{cat.id}", :rel => "#{cat.code}", :selected => @category_article}
                      = cat.name
              - else
                %select(name='article[category_id]' class = 'form-control' id = 'category-select')
                  - @categories.each do |cat|
                    %option(value = "#{cat.id}" rel= "#{cat.code}")
                      = cat.name
          .form-group
            %label.col-md-2.control-label{for: "subcategory_id"} Sub-Grupo
            .col-md-10
              - if @action != nil && @action == 'edit'
                %select{:name => 'subcategory_id', :class => 'form-control', :id => 'subcategory-select'}
                  - @subcategories.each do |subcat|
                    - if subcat.code == @subcategory_article
                      %option{:value => "#{subcat.code}", :selected => true}
                        = subcat.name
                    - else
                      %option{:value => "#{subcat.code}"}
                        = subcat.name
              - else
                %select(name='subcategory_id' class = 'form-control' id = 'subcategory-select')
          .form-group
            %label.col-md-2.control-label{for: "name"} Código
            - if @article.code != nil
              .col-md-2
                = text_field(:extrafield, :first_code, class: "form-control", readonly: true, value: "#{@article.code[0,4]}")
              .col-md-2
                = f.input :code, placeholder: "Código", :input_html => {:class => 'form-control', :id => 'input-code-article', :value => "#{@article.code[4,8]}"}, label: false
            - else
              .col-md-2
                = text_field(:extrafield, :first_code, class: "form-control", readonly: true)
              .col-md-2
                = f.input :code, placeholder: "Código", :input_html => {:class => 'form-control', :id => 'input-code-article'}, label: false
          .form-group
            %label.col-md-2.control-label{for: "name"} Nombre
            .col-md-10
              = f.input :name, placeholder: "Nombre del articulo", :input_html => {:class => 'form-control'}, label: false
          .form-group
            %label.col-md-2.control-label{for: "unit_of_measurement_id"} Unidad de medida
            .col-md-10
              %select#unit-select-measure.form-control.select2{:name =>"article_unit_of_measurements[unit_of_measurement_id][]", :style => "width:100%;;padding: 0;border: none;", :multiple => true}
                - if @action != nil && @action == 'edit'
                  - @unitOfMeasurement.each do |unito|
                    - @units.each_with_index do |unit, index|
                      - if unito.id == unit[0]
                        %option{:value => "#{unito.id}", :selected => true}
                          = unito.name
                        - break
                    %option{:value => "#{unito.id}"}
                      = unito.name
                - else
                  - @unitOfMeasurement.each do |unit|
                    %option{:value => "#{unit.id}"}
                      = unit.name
          .form-group
            %label.col-md-2.control-label{for: "description"} Descripcion
            .col-md-10
              = f.input :description, placeholder: "Descripcion del articulo", :input_html => {:class => 'form-control'}, label: false, rows: 4
        .form-actions
          .row
            .col-md-12
              %button.btn.btn-primary{type: "submit"}
                %i.fa.fa-save
                  Guardar

:javascript
  $(document).ready(function () {
    $("#category-select").focus();

    var category_id = $("#category-select").val();
      complete_infocombo("#{get_subcategory_form_category_logistics_subcategories_path}", category_id, "#{form_authenticity_token}");
  
  });

  $('#new_article').ajaxForm({
    target: '#content'
  });

  $('form[id^="edit_"]').ajaxForm({
    target: '#content'
  });

  $(document).ready(function(){
    var clicknum = 0;
    var clicknum2 = 0;
    $("#category-select").click(function(){
     clicknum++;
     if(clicknum == 1){
      var category_id = $('#category-select').val();
      complete_infocombo("#{get_subcategory_form_category_logistics_subcategories_path}", category_id, "#{form_authenticity_token}");
      clicknum = 4;
     }
  });

    $('#subcategory-select').click(function(){
      clicknum2++;
      if(clicknum2 == 1){
        var sub_code = $(this).val();
        var type = $('option:selected', $('#type-article-select')).attr('rel');
        $('#extrafield_first_code').val(type + sub_code);
        clicknum2 = 0;
      }
    });

    $('#unit-select-measure').select2();

    $('#category-select').change(function(){
      var category_id = $(this).val();
      complete_infocombo("#{get_subcategory_form_category_logistics_subcategories_path}", category_id, "#{form_authenticity_token}");
    });

    $('#category-select').keyup(function(){
      var category_id = $(this).val();
      complete_infocombo("#{get_subcategory_form_category_logistics_subcategories_path}", category_id, "#{form_authenticity_token}");
    });

    $('#subcategory-select').change(function(){
      var sub_code = $(this).val();
      var type = $('option:selected', $('#type-article-select')).attr('rel');
      $('#extrafield_first_code').val(type+sub_code);
    });

    $('#subcategory-select').keyup(function(){
      var sub_code = $(this).val();
      var type = $('option:selected', $('#type-article-select')).attr('rel');
      $('#extrafield_first_code').val(type+sub_code);
    });

    $('#category-select').change(function(){
      var type = $('option:selected', $('#type-article-select')).attr('rel');
      $('#extrafield_first_code').val(type);
    });

    $('#type-article-select').change(function(){
      $('#extrafield_first_code').val('');
    });
  });

  function complete_infocombo(url, category_id, form_token){
    $.ajax({
        type: "POST",
        url: url,
        async: false,
        data: { category_id: category_id, authenticity_token: form_token}
      }).done(function( data ) {
        newOptions = [];
        $.each(data.subcategories, function(key, value){
          item = {};
          item['name'] = value.name;
          item['code'] = value.code;
          newOptions.push(item);
        });
        $('#subcategory-select').empty();
        $.each(newOptions, function(key,value){
          $('#subcategory-select').append(
            $("<option></option>").attr("value", value.code).text(value.name)
          )
        });
      });
  }