.modal-dialog{"style"=>"width: 50%"}
  .modal-content
    .modal-header{"style"=>"padding:0px;"}
      %header
        %h2
          %span.widget-icon
            %i.fa.fa-pencil-square-o.fa-fw 
          %strong Editar Préstamo
    .modal-body
      = form_for @loan, url: general_expenses_loan_path(@loan.id), as: :patch, html: { class: "smart-form", id: "upload_deregister" } do |f|
        %fieldset
          %input#cc{ :value => "#{@loan.cost_center_lender_id.to_i.to_s}", "style"=>"display:none"}
          %input#loan{ :value => "#{@loan.id.to_i.to_s}", "style"=>"display:none"}
          .row{"style"=>"margin-bottom:1%;"}
            .col-md-5
              %label{"style"=>"font-size:14px;"} Beneficiario
            .col-md-6
              %select#beneficiary.form-control{:name =>"loan[cost_center_beneficiary_id]"}
                %option{:value => nil, :selected => true, :disabled => true} Seleccione un Beneficiario
                - @costcenters.each do |ph|
                  %option{:value => "#{ph.id}", :selected => "#{@loan.cost_center_beneficiary_id}"=="#{ph.id}"}
                    = ph.name
          .row{"style"=>"margin-bottom:1%;"}
            .col-md-5
              %label{"style"=>"font-size:14px;"} Entregado a
            .col-md-6
              .input-group.col-md-12
                %input#worker-select.form-control{'name' => 'loan[person]', 'type' => 'hidden', 'style' => 'width:100%;padding: 0;border: none;','value'=>"#{@loan.person}"}
          .row{"style"=>"margin-bottom:1%;"}
            .col-md-5
              %label{"style"=>"font-size:14px;"} Fecha
            .col-md-6
              = text_field_tag 'loan[loan_date]', "#{@loan.loan_date}" , class: "form-control quantity", :required => true,as: :string,:type=>"date"
          .row{"style"=>"margin-bottom:1%;"}
            .col-md-5
              %label{"style"=>"font-size:14px;"} Forma de Préstamo
            .col-md-6
              %select#loan_type.form-control{:name =>"loan[loan_type]"}
                %option{:value => nil, :disabled => true} Seleccione una Forma
                %option{:value => "1",:selected => "#{@loan.loan_type}"=="1"} Cheque
                %option{:value => "2",:selected => "#{@loan.loan_type}"=="2"} Transferencia
                %option{:value => "3",:selected => "#{@loan.loan_type}"=="3"} Efectivo
          .row
            %section.col-md-5
            %section.col-md-5
              = file_field_tag 'loan[loan_doc]', class: 'btn btn-default'
              %p.help-block
                - if @loan.loan_doc.exists?
                  = 'Archivo subido: ' + File.basename(@loan.loan_doc.path, File.extname(@loan.loan_doc.path))
                - else
                  Subir el archivo correspondiente              
          .row{"style"=>"margin-bottom:1%;"}
            .col-md-5
              %label{"style"=>"font-size:14px;"} Monto
            .col-md-6
              .input-group.col-md-12
                %i.icon-append.fa.fa-superscript
                = text_field_tag 'loan[amount]', "#{@loan.amount}", class: "form-control quantity", :required => true
          .row{"style"=>"margin-bottom:1%;"}
            .col-md-5
              %label{"style"=>"font-size:14px;"} Motivo
            .col-md-6
              .input-group.col-md-12
                %i.icon-append.fa.fa-superscript
                = text_area_tag 'loan[description]', "#{@loan.description}", class: "form-control quantity", :required => true
          .row{"style"=>"margin-bottom:1%;"}
            .col-md-5
              %label{"style"=>"font-size:14px;"} Forma de Devolución
            .col-md-6
              %select#refund_type.form-control{:name =>"loan[refund_type]"}
                %option{:value => nil, :disabled => true} Seleccione una Forma
                %option{:value => "1",:selected => "#{@loan.refund_type}"=="1"} Cheque
                %option{:value => "2",:selected => "#{@loan.refund_type}"=="2"} Transferencia
                %option{:value => "3",:selected => "#{@loan.refund_type}"=="3"} Efectivo
          .row
            %section.col-md-5
            %section.col-md-5
              = file_field_tag 'loan[refund_doc]', class: 'btn btn-default'
              %p.help-block
                - if @loan.refund_doc.exists?
                  = 'Archivo subido: ' + File.basename(@loan.refund_doc.path, File.extname(@loan.refund_doc.path))
                - else
                  Subir el archivo correspondiente
          .row#checkn{"style"=>"margin-bottom:1%;display:none;"}
            .col-md-5
              %label{"style"=>"font-size:14px;"} N° Cheque
            .col-md-6
              .input-group.col-md-12
                %i.icon-append.fa.fa-superscript
                = text_field_tag 'loan[check_number]',"#{@loan.check_number}", class: "form-control quantity",as: :float
          .row#checkd{"style"=>"margin-bottom:1%;display:none;"}
            .col-md-5
              %label{"style"=>"font-size:14px;"} Fecha de Cheque
            .col-md-6
              = text_field_tag 'loan[check_date]', "#{@loan.check_date}" , class: "form-control quantity",as: :string,:type=>"date"
          .row{"style"=>"margin-bottom:1%;"}
            .col-md-5
              %label{"style"=>"font-size:14px;"} Estado
            .col-md-6
              %select#state.select2.form-control{:name =>"loan[state]"}
                %option{:value => nil, :disabled => true} Seleccione un Estado
                %option{:value => "1",:selected => "#{@loan.state}"=="1"} Pendiente
                %option{:value => "2",:selected => "#{@loan.state}"=="2"} Devuelto
          .row#devdate{"style"=>"margin-bottom:1%;display:none;"}
            .col-md-5
              %label{"style"=>"font-size:14px;"} Fecha de Devolución
            .col-md-6
              = text_field_tag 'loan[refund_date]', "#{@loan.refund_date}" , class: "form-control quantity",as: :string,:type=>"date"
        %br
        %br
        %footer
          %button.btn.btn-primary#details{type: "button", "style"=>"float:right;"}
            %i.fa.fa-save
              Guardar
          %button.btn.btn-danger#edit{"data-dismiss" => "modal", type: "button"}
            Salir  

  :javascript
    $(document).ready(function () {
      $('#loan_edit').attr("tabindex","");
      $('#worker-select').select2({
        placeholder: "Seleccionar trabajador",
        minimumInputLength: 3,
        id: function(data) { return data.id; },
        ajax: {
          url: "#{display_workers_general_expenses_loans_path}",
          dataType: 'json',
          type: 'POST',
          quietMillis: 100,
          data: function(term, page){
            return {
              q: term,
              page: page,
              authenticity_token: "#{form_authenticity_token}"
            };
          },
          results: function(data, page){
            return {results: data.workers};
          }
        },
        initSelection: function(element, callback) {
          var id=$(element).val();
          if (id != "") {
            $.ajax("#{display_workers_general_expenses_loans_path}", {
              type: 'POST',
              data: {
                element: id,
                authenticity_token: "#{form_authenticity_token}"
              },
              dataType: "json"
            }).done(function(data) { 
              callback(data.workers[0]);
            });
          }
        },
        formatResult: function(node){ return '<div>' +'DNI° '+ node.dni+' - '+ node.name + ' ' + node.paternal_surname + ' ' + node.maternal_surname + '</div>' },
        formatSelection: function(node){ return ('DNI° '+node.dni+' - '+node.name + ' ' + node.paternal_surname + ' ' + node.maternal_surname) },
        escapeMarkup: function (m) { return m; }
      });
      $('select').select2({width:'100%'});
      submit_form($('form#upload_deregister'))

      if ($("#refund_type").val()=="1"){
          $("#checkn").show();
          $("#checkd").show();
      }else{
          $("#checkn").hide();
          $("#checkd").hide();     
      }

      if ($("#state").val() == "2") {
          $("#devdate").show();
      }else{
          $("#devdate").hide();
      } 

      $("#refund_type").change(function() {
          // foo is the id of the other select box 
          if ($(this).val() == "1") {
              $("#checkn").show();
              $("#checkd").show();
          }else{
              $("#checkn").hide();
              $("#checkd").hide();
          } 
      });
      $("#state").change(function() {
          // foo is the id of the other select box 
          if ($(this).val() == "2") {
              $("#devdate").show();
          }else{
              $("#devdate").hide();
          } 
      });
    });

    function submit_form(form_element){
      form_element.ajaxForm({
        beforeSubmit: function() {
          form_element.validate({
            // Rules for form validation
            rules : {
              'loan[amount]' : {
                number : true,
              }
            },

            // Messages for form validation
            messages : {

              'loan[amount]' : {
                number : "Debe ingresar un numero válido.",
              }
  
            },

            // Do not change code below
            errorPlacement : function(error, element) {
              error.insertAfter(element.parent());
            }
          });
          // Remove all Help-inLine
          $(".help-inline").remove();
          // Client Valid
          return form_element.valid();
        },
        success: function (data){
          $(".help-inline").parent().addClass("state-error");
        },
        error: function(xhr, status, error) {
          console.log(error);
        }
      })
    }

    $("#details").click(function(e) {
      $('form#upload_deregister').submit();

      data2 = { authenticity_token: "#{form_authenticity_token}", cc1:"#{@cc1}", cc2:"#{@cc2}", cc3:"#{@cc3}"};
      load_modal_ajax('#{general_expenses_loan_path("show")}', 'loan_show', 'loan_edit', data2, null, 'GET');
      $.smallBox({
        title : "Exito",
        content : "<i class='fa fa-clock-o'></i> <i>Se actualizó el gasto de gestion</i>",
        color : "#659265",
        iconSmall : "fa fa-check fa-2x fadeInRight animated",
        timeout : 4000
      });
    });

    $("#edit").click(function() {
      data2 = { authenticity_token: "#{form_authenticity_token}", cc1:"#{@cc1}", cc2:"#{@cc2}", cc3:"#{@cc3}"};
      load_modal_ajax('#{general_expenses_loan_path("show")}', 'loan_show', 'loan_edit', data2, null, 'GET');

    });

    function isNumber(evt) {
      evt = (evt) ? evt : window.event;
      var charCode = (evt.which) ? evt.which : evt.keyCode;
      if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 46) {
          return false;
      }
      return true;
    }