.modal-dialog#modalid{ style: "width: 50%;" }
  .modal-content
    .modal-header
      %header
        %h2
          %span.widget-icon
            %i.fa.fa-pencil-square-o.fa-fw 
          %strong Formulario del Préstamo
    .modal-body
      %fieldset
        %input#cc{ :value => "#{@cc.id.to_i.to_s}", "style"=>"display:none"}
        .row{"style"=>"margin-bottom:1%;"}
          %section.col-md-5
            %label{"style"=>"font-size:14px;"} Beneficiario
          %section.col-md-6
            %select#beneficiary.select2.form-control
              %option{:value => nil} Seleccione un Beneficiario
              - @costcenters.each do |ph|
                %option{:value => "#{ph.id}"}
                  = ph.name
        .row{"style"=>"margin-bottom:1%;"}
          %section.col-md-5
            %label{"style"=>"font-size:14px;"} Entregado a
          %section.col-md-6
            %input#worker-select.form-control{'name' => 'worker_id', 'type' => 'hidden', 'style' => 'width:100%;padding: 0;border: none;'}
        .row{"style"=>"margin-bottom:1%;"}
          %section.col-md-5
            %label{"style"=>"font-size:14px;"} Fecha
          %section.col-md-6
            .input-group
              %input#loan_date.form-control{as: :string,type: "date"}
              %span.input-group-addon
                %i.icon-append.fa.fa-calendar
        .row{"style"=>"margin-bottom:1%;"}
          %section.col-md-5
            %label{"style"=>"font-size:14px;"} Forma de Préstamo
          %section.col-md-6
            %select#loan_type.select2.form-control
              %option{:value => nil} Seleccione una Forma
              %option{:value => "1"} Cheque
              %option{:value => "2"} Transferencia
              %option{:value => "3"} Efectivo
        .row{"style"=>"margin-bottom:1%;"}
          %section.col-md-5
            %label{"style"=>"font-size:14px;"} Monto
          %section.col-md-6
            .input-group
              %input#amount.form-control{placeholder: ""}
              %span.input-group-addon
                %i.icon-append.fa.fa-plus-circle
        .row{"style"=>"margin-bottom:1%;"}
          %section.col-md-5
            %label{"style"=>"font-size:14px;"} Motivo
          %section.col-md-6
            .input-group
              %textarea#description.form-control{placeholder: ""}
              %span.input-group-addon
                %i.icon-append.fa.fa-list-alt
        .row{"style"=>"margin-bottom:1%;"}
          %section.col-md-5
            %label{"style"=>"font-size:14px;"} Forma de Devolución
          %section.col-md-6
            %select#refund_type.select2.form-control
              %option{:value => nil} Seleccione una Forma
              %option{:value => "1"} Cheque
              %option{:value => "2"} Transferencia
              %option{:value => "3"} Efectivo
        .row#checkn{"style"=>"margin-bottom:1%;display:none;"}
          %section.col-md-5
            %label{"style"=>"font-size:14px;"} N° Cheque
          %section.col-md-6
            .input-group
              %input#check_number.form-control
              %span.input-group-addon
                %i.icon-append.fa.fa-bar-chart
        .row#checkd{"style"=>"margin-bottom:1%;display:none;"}
          %section.col-md-5
            %label{"style"=>"font-size:14px;"} Fecha de Cheque
          %section.col-md-6
            .input-group
              %input#check_date.form-control{as: :string,type: "date"}
              %span.input-group-addon
                %i.icon-append.fa.fa-calendar
        .row{"style"=>"margin-bottom:1%;"}
          %section.col-md-5
            %label{"style"=>"font-size:14px;"} Estado
          %section.col-md-6
            %select#state.select2.form-control
              %option{:value => "1"} Pendiente
              %option{:value => "2"} Devuelto

        .row#devdate{"style"=>"margin-bottom:1%;display:none;"}
          %section.col-md-5
            %label{"style"=>"font-size:14px;"} Fecha de Devolución
          %section.col-md-6
            .input-group
              %input#refund_date.form-control{{as: :string,type: "date"}}
              %span.input-group-addon
                %i.icon-append.fa.fa-calendar
      %footer
        %button.btn.btn-primary#smart-mod-eg1{type: "button", "style"=>"float:right;"}
          %i.fa.fa-save
            Guardar
        %button.btn.btn-danger#new2{"data-dismiss" => "modal", type: "button"}
          Salir      

:javascript

  $("#new2").click(function() {
    data2 = { authenticity_token: "#{form_authenticity_token}", cc_id: $('#cc').val()};
    load_modal_ajax('#{general_expenses_loans_path}', 'loan', 'loan_new', data2, null, 'GET');
  });

  function isNumber(n) {
    return !isNaN(parseFloat(n)) && isFinite(n);
  }
  $(document).ready(function (){

    $('#loan_new').attr("tabindex","");

    $('#refund_type').change(function(){
      if($(this).val() == 2)
        $('#devdate').fadeIn('fast');
      else
        $('#devdate').fadeOut('fast');
    });

    $('#worker-select').select2({
      placeholder: "Buscar Trabajadores...",
      minimumInputLength: 3,
      id: function(data) { return data.id; },
      ajax: {
        url: "#{display_workers_general_expenses_loans_path}",
        dataType: 'json',
        type: 'POST',
        quietMillis: 100,
        data: function(term, page){
          return {
            q: term,
            page: page,
            authenticity_token: "#{form_authenticity_token}"
          };
        },
        results: function(data, page){
          return {results: data.workers};
        }
      },
      formatResult: function(node){ return '<div>' +'DNI° '+ node.dni+' - '+ node.name + ' ' + node.paternal_surname + ' ' + node.maternal_surname + '</div>' },
      formatSelection: function(node){ return ('DNI° '+node.dni+' - '+node.name + ' ' + node.paternal_surname + ' ' + node.maternal_surname) },
      escapeMarkup: function (m) { return m; }
    });

      $("#refund_type").change(function() {
          // foo is the id of the other select box 
          if ($(this).val() == "1") {
              $("#checkn").show();
              $("#checkd").show();
          }else{
              $("#checkn").hide();
              $("#checkd").hide();
          } 
      });
      $("#state").change(function() {
          // foo is the id of the other select box 
          if ($(this).val() == "2") {
              $("#devdate").show();
          }else{
              $("#devdate").hide();
          } 
      });
  });
  $("#smart-mod-eg1").click(function(e) {
    if($('#beneficiary').val()!='' && $('#person').val()!= '' && $('#loan_date').val()!= '' && $('#loan_type').val()!=''  && $('#amount').val()!='' && !isNaN($('#amount').val())  && $('#description').val()!=''&& $('#refund_type').val()!='' && $('#state').val()!=''){
      if($('#refund_type').val()==2 ){
        if($('#refund_date').val()!='' ){
          data = { authenticity_token: "#{form_authenticity_token}", cost_center_beneficiary_id: $('#beneficiary').val(), person: $('#worker-select').val(), amount: $('#amount').val(), loan_date: $('#loan_date').val(), loan_type: $('#loan_type').val(), cost_center_lender_id: $('#cc').val(), description: $('#description').val(), refund_type: $('#refund_type').val(), check_number: $('#check_number').val(), check_date: $('#check_date').val(), state: $('#state').val(), refund_date: $('#refund_date').val()};
          data2 = { authenticity_token: "#{form_authenticity_token}", cc_id: $('#cc').val()};
          load_url_ajax('#{create_loan_general_expenses_loans_path}', 'loan_new', data, null, 'POST');
          load_modal_ajax('#{general_expenses_loans_path}', 'loan', 'loan_new', data2, null, 'GET');
          $.smallBox({
            title : "Exito",
            content : "<i class='fa fa-clock-o'></i> <i>Se creó el préstamo</i>",
            color : "#659265",
            iconSmall : "fa fa-check fa-2x fadeInRight animated",
            timeout : 4000
          });      
        }else{
          $.smallBox({
            title : "Aviso",
            content : "<i class='fa fa-clock-o'></i> <i>Ingrese los datos correctamente.</i>",
            color : "#C46A69",
            iconSmall : "fa fa-times fa-2x fadeInRight animated",
            timeout : 4000
          });
        }
      }else{
        data = { authenticity_token: "#{form_authenticity_token}", cost_center_beneficiary_id: $('#beneficiary').val(), person: $('#worker-select').val(), amount: $('#amount').val(), loan_date: $('#loan_date').val(), loan_type: $('#loan_type').val(), cost_center_lender_id: $('#cc').val(), description: $('#description').val(), refund_type: $('#refund_type').val(), check_number: $('#check_number').val(), check_date: $('#check_date').val(), state: $('#state').val(), refund_date: $('#refund_date').val()};
        data2 = { authenticity_token: "#{form_authenticity_token}", cc_id: $('#cc').val()};
        load_url_ajax('#{create_loan_general_expenses_loans_path}', 'loan_new', data, null, 'POST');
        load_modal_ajax('#{general_expenses_loans_path}', 'loan', 'loan_new', data2, null, 'GET');
        $.smallBox({
          title : "Exito",
          content : "<i class='fa fa-clock-o'></i> <i>Se creó el préstamo</i>",
          color : "#659265",
          iconSmall : "fa fa-check fa-2x fadeInRight animated",
          timeout : 4000
        });
      }

    }else{
      $.smallBox({
        title : "Aviso",
        content : "<i class='fa fa-clock-o'></i> <i>Ingrese los datos correctamente.</i>",
        color : "#C46A69",
        iconSmall : "fa fa-times fa-2x fadeInRight animated",
        timeout : 4000
      });
    }
  });

  function minmax(value, min, max){
    if(parseInt(value) < min || isNaN(value)){ 
      return min; 
    }else{
      if(parseInt(value) > max){
        return max; 
      }else{
        return value;
      }
    }
  }

  function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 46) {
        return false;
    }
    return true;
  }

