%tr(class="partperson_item"){id: "tr" + @reg_n.to_s}
  %td.article-id(style="display:none")
    = hidden_field_tag 'part_person[part_person_details_attributes][' + @reg_n.to_s + '][worker_id]', @id_worker.to_i
  %td.category-worker.col-md-2
    = @category_worker
  %td.name-worker.col-md-2
    = @name_worker
  %td.phase.col-md-2
    %select.form-control{:name =>"part_person[part_person_details_attributes][#{@reg_n.to_s}][phase_id]"}
      - @phases.each do |phas|
        %optgroup{:label => "#{phas.name}"}
          - Phase.get_subphases(phas.code).each do |subphase|
            %option{:value => "#{subphase.id}"}
              = subphase.name
  %td.normal-hours
    = text_field_tag 'part_person[part_person_details_attributes][' + @reg_n.to_s + '][normal_hours]', 0 , class: "form-control normal-hours", onfocusout: "calculateHours(this, 'normal');", onkeypress: "return isNumber(event);", onchange: "this.value = minmax(this.value, 0, 24)"
  %td.he-60
    = text_field_tag 'part_person[part_person_details_attributes][' + @reg_n.to_s + '][he_60]', 0 , class: "form-control he-60", onfocusout: "calculateHours(this, '60');", onkeypress: "return isNumber(event);", onchange: "this.value = minmax(this.value, 0, 24)"
  %td.he-100
    = text_field_tag 'part_person[part_person_details_attributes][' + @reg_n.to_s + '][he_100]', 0 , class: "form-control he-100", onfocusout: "calculateHours(this, '100');", onkeypress: "return isNumber(event);", onchange: "this.value = minmax(this.value, 0, 24)"
  %td.total-hours
    = text_field_tag 'part_person[part_person_details_attributes][' + @reg_n.to_s + '][total_hours]', 0 , class: "form-control total-hours", onkeypress: "return isNumber(event);", onchange: "this.value = minmax(this.value, 0, 24)", readonly: true
  %td{:style => "width: 1%; text-align: center;"}
    %a{href: "javascript:delete_item('"+@reg_n.to_s+"')"}(class="btn") X