%tr(class="partperson_item"){id: "tr" + @reg_n.to_s}
  %td.article-id(style="display:none")
    = hidden_field_tag 'part_person[part_person_details_attributes][' + @reg_n.to_s + '][worker_id]', @id_worker.to_i
  %td.category-worker.col-md-2
    = @category_worker
  %td.name-worker.col-md-2
    = @name_worker
  %td.sector
    %div
      %select.form-control{:name =>"part_person[part_person_details_attributes][#{@reg_n.to_s}][sector_id]", :style => 'width:100%;padding: 0;border: none;',:required => true, title:'No puede dejar este campo vacio'}
        - @sectors.each do |sector|
          %optgroup{:label => "#{sector.name}"}
            - Sector.getSubSectors(sector.code).each do |subsector|
              %option{:value => "#{subsector.id}", :selected => subsector.id.to_i==@sec.to_i}
                = subsector.name
  %td.phase.col-md-2
    %div
      %select.form-control{:name =>"part_person[part_person_details_attributes][#{@reg_n.to_s}][phase_id]", :style => 'width:100%;padding: 0;border: none;',:required => true, title:'No puede dejar este campo vacio'}
        %option{:value => "0", :selected => true, :disabled => true} Seleccionar Fase
        - @phases.each do |phase|
          %option{:value => "#{phase.id}"}
            = phase.code + ' - ' + phase.name
  %td.normal-hours
    %div
      = text_field_tag 'part_person[part_person_details_attributes][' + @reg_n.to_s + '][normal_hours]', 0 , class: "form-control normal-hours", onfocusout: "calculateHours(this, 'normal');", onchange: "this.value = minmax(this.value, 0, 24)", :required => true, title:'No puede dejar este campo vacio'
  %td.he-60
    %div
      = text_field_tag 'part_person[part_person_details_attributes][' + @reg_n.to_s + '][he_60]', 0 , class: "form-control he-60", onfocusout: "calculateHours(this, '60');", onchange: "this.value = minmax(this.value, 0, 24)", :required => true, title:'No puede dejar este campo vacio'
  %td.he-100
    %div
      = text_field_tag 'part_person[part_person_details_attributes][' + @reg_n.to_s + '][he_100]', 0 , class: "form-control he-100", onfocusout: "calculateHours(this, '100');", onchange: "this.value = minmax(this.value, 0, 24)", :required => true, title:'No puede dejar este campo vacio'
  %td.total-hours
    = text_field_tag 'part_person[part_person_details_attributes][' + @reg_n.to_s + '][total_hours]', 0 , class: "form-control total-hours", onchange: "this.value = minmax(this.value, 0, 24)", readonly: true
  %td{:style => "width: 1%; text-align: center;"}
    %a{href: "javascript:delete_item('"+@reg_n.to_s+"')"}(class="btn") X