%table(class="white-table table-bordered table table-condensed" style="width: 100%;")
  %thead
    %tr
      %th Codigo
      %th Presupuesto
      %th Costo Total
      %th Utilidad
      %th="%"
      %th Gastos Generales
      %th="%"
      %th Estado
      %th Acciones
  %tbody
    - @budget.each do |item|
      -cost = get_bugdet_cost(item.id)
      %tr
        %td= item.id
        %td
          %strong= item.description 
        %td
          %strong= number_to_currency(cost, :unit=>'S/. ')
        %td= number_to_currency((cost * item.general_expenses rescue 0), :unit=>'S/. ')
        %td= number_with_precision(item.general_expenses*100, :precision => 2) rescue 0
        %td= number_to_currency((cost * item.utility rescue 0), :unit=>'S/. ')
        %td= number_with_precision(item.utility*100, :precision => 2) rescue 0
        %td
        %td
          .btn-group
            %a{:href=>"javascript:load_edit('"+edit_management_budget_path(item.id).to_s+"')"}(class="btn btn-info btn-mini")
              %i(class="fa fa-lg fa-fw fa-edit")
              Editar
            %a{:href=>"javascript:load_resume('"+resume_management_budget_path(item.id).to_s+"')"}(class="btn btn-info btn-mini")
              %i(class="fa fa-lg fa-fw fa-book")
              Resumen
            %a{:href=>"javascript:load_update_valorization('"+newvalorization_management_valorization_path(item.id).to_s+"')"}(class="btn btn-info btn-mini")
              %i(class="fa fa-lg fa-fw fa-list-alt")
              Crear Valorizacion
            %a{:href=>"javascript:load_delete('"+destroy_admin_management_budget_path(item.id).to_s+"?authenticity_token="+form_authenticity_token+"')", data: { confirm: "¿Esta seguro de eliminar este presupuesto?" }}(class="btn btn-mini btn-danger")
              %i(class="fa fa-lg fa-fw fa-trash-o")
      %tr
        %td(colspan="9")
          %table(class="white-table table-bordered table table-condensed" style="width: 60%;")
            %tbody
              - item.valorizations.each do |valorization|
                %tr
                  %td= valorization.id
                  %td
                    - month = valorization.valorization_date.to_date.strftime("%-m").to_i
                    - year = valorization.valorization_date.to_date.strftime("%Y").to_i 
                    
                    Valorizacion:
                    = t("date.month_names")[month]
                    = year
                  %td
                    .btn-group
                      %a{:href=>"javascript:load_url_ondiv('" + edit_management_valorization_path(valorization.id).to_s+ "', 'right-area')"}(class="btn btn-mini btn-default")
                        Editar
                      %a{:href=>"javascript:delete_to_url_into_div('"+management_valorization_path(valorization).to_s+"?authenticity_token="+form_authenticity_token+"&redir=1', 'right-area')", data: {confirm: "¿Esta seguro de eliminar esta valorizacion?"}}(class="btn btn-mini btn-danger")
                        %i(class="fa fa-trash-o")

:javascript 
  function load_edit(url){
    load_url_ondiv(url, 'right-area');
  }
  function load_resume(url){
    load_url_ondiv(url, 'right-area');
  }
  function load_update_valorization(url){
    load_url_ondiv(url, 'right-area');
  }
  function load_delete(url){
    delete_to_url_into_div(url, 'right-area');
  }
 