#wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-eye
    %h2 Conceptos
  .widget-body
    = simple_form_for([:payrolls, @con], html: {class: 'form-horizontal smart-form', autocomplete: 'off' }) do |f|
      %fieldset
        .row
          %section.col.col-10
            %label.label Nombre
            %label.input
              %i.icon-append.fa.fa-credit-card
              = f.input :name, placeholder: "Nombre", input_html: { class: 'form-control' }, label: false
          
          %section.col.col-2
            %label.label Valorizaciones
            %label.input
              %a.btn.btn-sm.btn-info#valorization_concept{ :href => 'javascript:void(0)', :onclick => 'javascript:show_me_the_valorization()' }
                %i.fa.fa-superscript
                Definir

          %section.col.col-4
            %label.label Código
            %label.input
              = f.input :code, placeholder: "Código", input_html: { class: 'form-control'}, label: false              
          %section.col.col-4
            %label.label Tipo
            %label.input
              %select#tipo.form-control{"style"=>'width:100%;padding: 0;border: none;',:name=>"tipo"}
                -if @action=="edit"
                  %option{:value => nil,:disabled=>true} Seleccione
                  %option{:value => "1",:selected=>@con.code[0,1]=='1'} Ganancia
                  %option{:value => "2",:selected=>@con.code[0,1]=='2'} Descuento
                  %option{:value => "3",:selected=>@con.code[0,1]=='3'} Aportación
                -else
                  %option{:value => nil,:disabled=>true,:selected=>true} Seleccione
                  %option{:value => "1"} Ganancia
                  %option{:value => "2"} Descuento
                  %option{:value => "3"} Aportación
          %section.col.col-4
            %label.label Porcentaje
            %label.input
              = f.input :percentage, placeholder: "Porcentaje", input_html: { class: 'form-control' }, label: false
          %section.col.col-4
            %label.label Monto
            %label.input
              = f.input :amount, placeholder: "Monto", input_html: { class: 'form-control' }, label: false

        .row
          %section.col.col-4
            %label.label Tope
            %label.input
              = f.input :top, placeholder: "Tope", input_html: { class: 'form-control' }, label: false      
          .section.col.col-md-6
            %label.label Concepto
            .form-group.in-line
              .col-md-1
              .col-md-10
                .col-md-5
                  = f.radio_button :type_concept,  "Fijo", :selected=>@con.type_concept=="Fijo"
                  %label Fijo
                .col-md-5
                  = f.radio_button :type_concept, "Variable", :selected=>@con.type_concept=="Variable"
                  %label Variable
                      
                    

      %fieldset#afecto{:style=>"display:none"}
        %legend Aportaciones a las que está afecto
        .row
          .section.col.col-md-8
            .form-group.in-line
              .col-md-1
              .col-md-10
                %label.radio-inline
                  %input.radiobox#t{:name=>"but",:type => 'radio', :value => "Trabajador"}
                  %span Trabajador
                %label.radio-inline
                  %input.radiobox#e{:name=>"but",:type => 'radio', :value => "Empresa"}
                    %span Empresa
        %br
        .row
          %section.col.col-2
            %label.control-label Detalle
          %section.col.col-6#condeDef
            %select#conde.select2.form-control{"style"=>'width:100%;padding: 0;border: none;'}
              %option{:value => "0"} Seleccione
          %section.col.col-6#condeTrab{"style"=>"display:none"}
            %select#conde1.select2.form-control{"style"=>'width:100%;padding: 0;border: none;'}
              %option{:value => "0"} Seleccione
              -if !@condeTrab.nil?
                - @condeTrab.each do |con|
                  %option{:value => "#{con.id}"}
                    = con.name
          %section.col.col-6#condeEmp{"style"=>"display:none"}
            %select#conde2.select2.form-control{"style"=>'width:100%;padding: 0;border: none;'}
              %option{:value => "0"} Seleccione
              -if !@condeEmp.nil?
                - @condeEmp.each do |con|
                  %option{:value => "#{con.id}"}
                    = con.name

          %section.col.col-4
            %div
              %a{ :href => "javascript:add_concept();", :id => "btn-add-con", :class => "btn btn-success", :role => "button", :style => 'padding: 7px;'}
                Agregar concepto

        %br  
        %br

        .col-lg-12
          %table#summary-workers.table.table-striped.table-bordered.table-hover.has-tickbox.smart-form
            %thead
              %tr
                %th.col-2 Nombre
                %th.col-5 Tipo
                %th Eliminar
            %tbody#concept_items_table
              - if @action == 'edit'
                - @coned.each do |oos|
                  %tr
                    %td(style="display:none")
                      = hidden_field_tag 'concept[concept_details_attributes][' + @reg_n.to_s + '][id]', oos.id
                    %td(style="display:none")
                      = hidden_field_tag 'concept[concept_details_attributes][' + @reg_n.to_s + '][concept_id]', oos.concept_id
                    %td(style="display:none")
                      = hidden_field_tag 'concept[concept_details_attributes][' + @reg_n.to_s + '][subconcept_id]', oos.subconcept_id
                    %td(style="display:none")
                      = hidden_field_tag 'concept[concept_details_attributes][' + @reg_n.to_s + '][category]', oos.category
                    %td=Concept.find(oos.subconcept_id).name.to_s
                    %td= oos.category
                    %td.delete-item
                      %label.checkbox
                        = check_box 'concept[concept_details_attributes]', '[' + @reg_n.to_s + '][status]'
                        %i
                    - @reg_n += 1

      %footer
        %button.btn.btn-primary{type: "submit"}
          %i.fa.fa-save 
          Guardar

  #modal_valorization.modal.fade{ "aria-hidden" => "true", "aria-labelledby" => "modalValorizationLabel", role: "dialog", tabindex: "-1" }
    .modal-dialog
      .modal-content
        .modal-body
          
          %section
            %label.label Conceptos
            %label.input
              %input#concepts_list.form-control{ "name" => "concept_item", 'type' => 'hidden', 'style' => 'width:100%;padding: 0;border: none;' }
          
          %section
            #modalValorizationItemsContent

:javascript
  $(document).ready(function () {

    $('input[type="radio"]').click(function(){
        if($(this).attr("value")=="Trabajador"){
            $("#condeEmp").hide();
            $("#condeDef").hide();
            $("#condeTrab").show();
        }
        if($(this).attr("value")=="Empresa"){
            $("#condeTrab").hide();
            $("#condeDef").hide();
            $("#condeEmp").show();
        }
    });
    $("#tipo").change(function() {
        // foo is the id of the other select box 
        if ($(this).val() == "1") {
            $("#afecto").show();
        }else{
            $("#afecto").hide();
        } 
    });

    if ($(tipo).val() == "1") {
        $("#afecto").show();
    }else{
        $("#afecto").hide();
    } 
    $('select').select2();

    if($('form[id^="edit_"]').length > 0) {
      submit_validate($('form[id^="edit_"]'));
    }else{
      submit_validate($('#new_concept'));
    }

  });
  
  function submit_validate(form){  
    loadScript("#{ asset_path 'plugin/select2/select2.min.js', type: :javascript }");
    $(form['selector']).ajaxForm({
      beforeSubmit: function() {
        $(form['selector']).validate({
          // Rules for form validation
          rules : {
            'concept[code]' : {
              required : true
            },
            'concept[name]' : {
              required : true
            },
            'concept[type_concept]' : {
              required : true
            },
            'tipo' : {
              required : true
            }
          },

          // Messages for form validation
          messages : {
            'concept[code]' : {
              required : 'Por favor, ingresar el código.'
            },
            'concept[name]' : {
              required : 'Por favor, ingresar el nombre.'
            },
            'concept[type_concept]' : {
              required : 'Seleccione el tipo de concepto'
            },
            'tipo' : {
              required : 'Seleccione el tipo'
            }
          },

          // Do not change code below
          errorPlacement : function(error, element) {
            error.insertAfter(element.parent());
          }
        });
        // Remove all Help-inLine
        $(".help-inline").remove();
        // Client Valid
        return $(form['selector']).valid();
      },
      target: '#content',
      success: function (data){
        $(".help-inline").parent().addClass("state-error");
      },
      error: function(xhr, status, error) {
      }
    });
  }

  function add_concept(){
    var cat = ""
    if(document.getElementById('t').checked){
      cat = $("#t").val()
      sub = $("#conde1").val()
    }
    if(document.getElementById('e').checked){
      cat = $("#e").val()
      sub = $("#conde2").val()
    }
    console.log($("#conde").val());
    console.log(cat);
    console.log(cat.length);
    if($("#conde1").val() != 0 || $("#conde2").val()!=0 || $("#conde").val() != 0 && cat.length > 1){
      str_item = {authenticity_token: "#{form_authenticity_token}", subconcept: sub, category: cat, status: 0};
      append_url_ajax('#{add_subconcept_payrolls_concepts_path}', 'concept_items_table', str_item, 0, 'POST');
    }else{
      alert("Escoja un concepto a usar y de que tipo es");
    }
  }

  function delete_item(code){
    $("#tr" + code).remove();
  }

  function show_me_the_valorization(){
    $('#modal_valorization').modal();
  }

  $('#concepts_list').select2({
    placeholder: "Buscar Concepto...",
    minimumInputLength: 3,
    ajax: {
      url: "#{display_proveedor_logistics_purchase_orders_path}",
      dataType: 'json',
      type: 'POST',
      quietMillis: 100,
      data: function(term, page){
        return {
          q: term,
          page: page,
          authenticity_token: "#{form_authenticity_token}"
        };
      },
      results: function(data, page){
        return {results: data.articles};
      }
    },
    formatResult: function(node){ return '<div>' + node.code + ' - ' + node.name +'</div>' },
    formatSelection: function(node){ return (node.code + ' - ' + node.name ) },
    escapeMarkup: function (m) { return m; }
  });