#wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-eye
    %h2 Orden de Suministro
  %div{:style => "padding-top: 0"}
    .jarviswidget-editbox
    .widget-body 
      = simple_form_for([:logistics, @deliveryOrder], html: {class: 'form-horizontal' }) do |f|
        .col-sm-12
          %fieldset
            %legend{:style => "border:none"}
            - if @deliveryOrder.id != nil
              .form-group.col-md-4
                %label.col-md-3{for: "id"} Código
                .col-md-9= f.input :id, placeholder: "Código", :input_html => {:class => 'form-control', :value => @deliveryOrder.id.to_s.rjust(5, '0')}, label: false, readonly: true
            .form-group.col-md-4
              %label.col-md-3{for: "state"} Estado
              .col-md-9
                = f.input :state, placeholder: "Nombre de la Orden", :input_html => {:class => 'form-control', :value => translate_delivery_order_state(@deliveryOrder.state)}, label: false, readonly: true
            .form-group.col-md-4
              %label.col-md-3{for: "date_of_issue"} Fecha de Requerimiento
              .col-md-9
                = f.input :date_of_issue, placeholder: "Fecha de emisión", as: :string ,:input_html => {:class => 'form-control', type: "date"}, label: false
            .form-group.col-md-4
              %label.col-md-3{for: "scheduled"} Fecha Programada
              .col-md-9
                = f.input :scheduled, placeholder: "Fecha Programada", as: :string, :input_html => {:class => 'form-control', type: "date"}, label: false
            .form-group.col-md-4
              %label.col-md-3{for: "liable"} Responsable
              .col-md-9
                = text_field(:deliveryOrder, :liable, class: "form-control", value: "#{current_user.first_name} #{current_user.last_name}", readonly: true)
            .form-group.col-md-8
              %label.col-md-1{for: "description", style: "margin-right: 4%;"} Glosa
              .col-md-9= f.input :description, placeholder: "Glosa", :input_html => {:class => 'form-control'}, label: false

        .col-sm-12
          %fieldset
            %legend Detalle de Orden de Suministro
            .form-group
              .col-lg-12
                %label(for="article_id" class="col-lg-2 control-label") Insumos
                .col-lg-6 
                  %select(name='article_id' class = 'select2 form-control' id = 'article-select' style='width:100%;padding: 0;border: none;')
                    - @articles.each do |article|
                      %optgroup{:label => "#{article.name}"}
                        - article.article_unit_of_measurements.each do |aunit|
                          %option(value = "#{article.id}-#{aunit.unit_of_measurement.id}")
                            = article.code + " - " + article.name + " - " + aunit.unit_of_measurement.symbol
                .col-lg-1
                  = text_field_tag 'amount', nil, class: 'form-control', id: 'article-amount', value: '1'
                .col-lg-2 
                  %div(class="col-lg-3")
                    %a(href="javascript:add_article_item();" id="btn-add-article" class="btn btn-success" role="button")
                      Agregar Insumo
            .form-group
              .col-lg-3
              .col-lg-12
                %table(class="table table-condensed table-bordered table-striped table-hover dataTable" style="font-size: 12px;" id="summary-articles" aria-describedby="data-table_info")
                  %thead
                    %tr
                      %th Codigo
                      %th Insumo
                      %th Unidad
                      %th Cantidad
                      %th Sector
                      %th Fases/Subfases
                      %th Glosa
                      %th 
                  %tbody(id="article_items_table")
                    - if @action != nil && @action == 'edit'
                      - @deliveryOrder.delivery_order_details.each do |dod|
                        %tr(class="order_delivery_item"){id: "tr" + dod.id.to_s}
                          %td.article-id(style="display:none")
                            = hidden_field_tag 'delivery_order[delivery_order_details_attributes][' + dod.created_at.to_time.to_i.to_s + '][article_id]', dod.article_id.to_i
                          %td.measurement-id(style="display:none")
                            = hidden_field_tag 'delivery_order[delivery_order_details_attributes][' + dod.created_at.to_time.to_i.to_s + '][unit_of_measurement_id]', dod.unit_of_measurement_id.to_i
                          %td
                            = dod.article.code
                          %td
                            = dod.article.name
                          %td
                            = dod.unit_of_measurement.name
                          %td.col-xs-2
                            .col-xs-12
                              = text_field_tag 'delivery_order[delivery_order_details_attributes][' + dod.created_at.to_time.to_i.to_s + '][amount]', dod.amount.to_i , class: "form-control quantity", id: 'article-amount'
                          %td.precio
                            %select.form-control{:name =>"delivery_order[delivery_order_details_attributes][#{dod.created_at.to_time.to_i.to_s}][sector_id]"}
                              - @sectors.each do |sector|
                                %option{:value => "#{sector.id}"}
                                  = sector.name
                          %td
                            %select.form-control{:name =>"delivery_order[delivery_order_details_attributes][#{dod.created_at.to_time.to_i.to_s}][phase_id]"}
                              - @phases.each do |phase|
                                %option{:value => "#{phase.id}"}
                                  = phase.name
                          %td
                            = text_area_tag 'delivery_order[delivery_order_details_attributes][' + dod.created_at.to_time.to_i.to_s + '][description]', dod.description, class: "form-control description"
                          %td(style="display:none")= hidden_field_tag 'delivery_order[delivery_order_details_attributes][' + dod.created_at.to_time.to_i.to_s + '][id]', dod.id
                          %td(style="display:none")= hidden_field_tag 'delivery_order[delivery_order_details_attributes][' + dod.created_at.to_time.to_i.to_s + '][delivery_order_id]', @deliveryOrder.id
                          %td
                            %i.fa.fa-check{style: "color: green;text-align:center"}
        .form-actions{:style => "margin-top: 0;"}
          .row
            .col-md-12
              %button.btn.btn-primary{type: "submit"}
                %i.fa.fa-save
                  Guardar

:javascript
  $('#new_delivery_order').ajaxForm({
    target: '#content'
  });

  $('form[id^="edit_"]').ajaxForm({
    target: '#content'
  });

  loadScript("#{ asset_path 'plugin/select2/select2.min.js', type: :javascript }");
  $('#article-select').select2();

  function add_article_item(){

    var article_id = $("#article-select").val();
    str_item = {authenticity_token: "#{form_authenticity_token}", article_id: $("#article-select").val(), amount: $("#article-amount").val()};

    append_url_ajax('#{add_delivery_order_item_field_logistics_delivery_orders_path}', 'article_items_table', str_item, 0, 'POST');
  }

  function delete_item(code){
    $("#tr" + code).remove();
  }