- @deliveryOrders.each do |delivery|
  %tr
    %td 
      = delivery.id.to_s.rjust(5, '0')
    - case delivery.state
      - when 'pre_issued'
        %td.label-status
          %i.fa.fa-flag{:style => "visibility: hidden;"}
          %span.label{:style => "color: #000;"}
            = translate_delivery_order_state(delivery.state)
      - when 'issued'
        %td.label-status
          %i.fa.fa-flag{:style => "color: #FF7A00;"}
          %span.label.label-warning{:style => "background-color: #FF7A00;"}
            = translate_delivery_order_state(delivery.state)
      - when 'revised'
        %td.label-status
          %i.fa.fa-flag{:style => "color: #c79121;"}
          %span.label.label-warning
            = translate_delivery_order_state(delivery.state)
      - when 'canceled'
        %td.label-status
          %i.fa.fa-flag{:style => "color: #a90329;"}
          %span.label.label-danger
            = translate_delivery_order_state(delivery.state)
      - when 'approved'
        %td.label-status
          %i.fa.fa-flag{:style => "color: #25CA25;"}
          %span.label.label-success{:style => "background-color: #25CA25;"}
            = translate_delivery_order_state(delivery.state)
    %td
      = truncate(delivery.description, :length => 60, :omission => '...')
    %td
      = delivery.date_of_issue.strftime("%d/%m/%Y")
    %td
      = delivery.scheduled.strftime("%d/%m/%Y")
    %td
      = delivery.user.first_name + " " + delivery.user.last_name
    %td
      %a.btn.btn-view.btn-xs{:onclick => "javascript:load_url_ajax('#{logistics_delivery_order_path(delivery.id)}', 'content', null, null, 'GET')", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Ver Detalle"}
        %i.fa.fa-eye

      %a.btn.btn-success.btn-xs{:onclick => "javascript:load_url_ajax('#{logistics_delivery_order_path(delivery.id)}?state_change=#{get_prev_state(delivery.state)}', 'content', null, null, 'GET')", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Retroceder el estado"}
        %i.fa.fa-mail-reply

      %a.btn.btn-info.btn-xs{:onclick => "javascript:load_url_ajax('#{logistics_delivery_order_path(delivery.id)}?state_change=#{get_next_state(delivery.state)}', 'content', null, null, 'GET')", "data-original-title" => "Avanzar el estado", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Avanzar el estado"}
        %i.fa.fa-flag

      - case delivery.state
        - when 'pre_issued'

          %a.btn.btn-warning.btn-xs{:onclick => "javascript:load_url_ajax('#{edit_logistics_delivery_order_path(delivery.id)}', 'content', {company_id: $.company_global_id}, null, 'GET')", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Editar"}
            %i.fa.fa-edit

        - when 'issued'

          %a.btn.btn-pdf.btn-xs{:target => "_blank", :href => "#{delivery_order_pdf_logistics_delivery_order_path(delivery.id)}.pdf", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Ver PDF"}
            %i.fa.fa-file

        - when 'revised'

          %a.btn.btn-pdf.btn-xs{:target => "_blank", :href => "#{delivery_order_pdf_logistics_delivery_order_path(delivery.id)}.pdf", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Ver PDF"}
            %i.fa.fa-file

        - when 'canceled'

          %a.btn.btn-pdf.btn-xs{:target => "_blank", :href => "#{delivery_order_pdf_logistics_delivery_order_path(delivery.id)}.pdf", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Ver PDF"}
            %i.fa.fa-file

        - when 'approved'

          %a.btn.btn-pdf.btn-xs{:target => "_blank", :href => "#{delivery_order_pdf_logistics_delivery_order_path(delivery.id)}.pdf", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Ver PDF"}
            %i.fa.fa-file