#content-inside
  .row
    .col-xs-12.col-sm-7.col-md-7.col-lg-4
      %h1.page-title.txt-color-blueDark{ "style" => "margin-bottom: 10px;"}
        %i.fa.fa-pencil-square-o.fa-fw
        Ordenes de Suministros
    - if @article != nil && @sector != nil && @phase != nil && @centerOfAttention != nil && @costcenters.first != nil
      .col-sm-3{ "style" => "margin-top: 10px;" }
        %a.btn.btn-primary.btn-mini{:onclick => "javascript:load_url_ajax('#{new_logistics_delivery_order_path}', 'content', {company_id: $.company_global_id}, null, 'GET')"}
          Agregar Nueva Orden de Suministro

    - if flash[:notice] != nil
      .alert.alert-success.fade.in{"style" => "clear:both"}
        %button.close{"data-dismiss" => "alert"}
          ×
        %i.fa-fw.fa.fa-check
        %strong Éxito
        = flash[:notice]
    - if flash[:error] != nil
      .alert.alert-danger.fade.in
        %button.close{"data-dismiss" => "alert"}
          ×
        %i.fa-fw.fa.fa-times
        %strong Error!
        = flash[:error]
  - if @article == nil && @sector == nil && @phase == nil && @centerOfAttention == nil && @costcenters.first == nil
    .alert.alert-block.alert-danger
      %a.close(data-dismiss="alert" href="#")
        ×
      %h4.alert-heading
        %i.fa.fa-lock
          No puedes crear Ordenes de Suministro!
      %p
        Verifica si tienes, por lo menos, 1 insumo, 1 fase, 1 centro de atención y 1 sector
  %br
  .row
    .col-xs-12.col-sm-7.col-md-7.col-lg-4
      %div
        .smart-form
          %section
            %label.select
              %select{ 'name' => 'cost_center_id', 'id' => 'cost-center-selected' }
                - @costcenters.each do |cc|
                  %option{'value' => "#{cc.id}"}= cc.name
              %i
  #widget-grid
    .row
      %article.col-xs-12.col-sm-12.col-md-12.col-lg-12
        = render :partial => 'table'

:javascript
  // DO NOT REMOVE : GLOBAL FUNCTIONS!
  pageSetUp();
  
  // PAGE RELATED SCRIPTS
  $('#cost-center-selected').change(function(){
    load_items_delivery_order_ajax('#{show_rows_delivery_orders_logistics_delivery_orders_path}', 'body-summary-delivery-orders', {company_id: $.company_global_id, cost_center_id: this.value, authenticity_token: "#{form_authenticity_token}"});
  });

  loadDataTableScripts();
  function loadDataTableScripts() {

    loadScript("#{ asset_path 'plugin/datatables/jquery.dataTables-cust.min', type: :javascript }", dt_2);

    function dt_2() {
      loadScript("#{ asset_path 'plugin/datatables/ColReorder.min', type: :javascript }", dt_3);
    }

    function dt_3() {
      loadScript("#{ asset_path 'plugin/datatables/FixedColumns.min.js', type: :javascript }", dt_4);
    }

    function dt_4() {
      loadScript("#{ asset_path 'plugin/datatables/ColVis.min', type: :javascript }", dt_5);
    }

    function dt_5() {
      loadScript("#{ asset_path 'plugin/datatables/ZeroClipboard', type: :javascript }", dt_6);
    }

    function dt_6() {
      loadScript("#{ asset_path 'plugin/datatables/media/js/TableTools.min', type: :javascript }", dt_7);
    }

    function dt_7() {
      loadScript("#{ asset_path 'plugin/datatables/DT_bootstrap', type: :javascript }", runDataTables);
    }

  }