#content-inside
  .row
    .col-xs-12.col-sm-7.col-md-7.col-lg-4
      %h1.page-title.txt-color-blueDark
        %i.fa.fa-pencil-square-o.fa-eye
        Orden de Suministro #
        = @deliveryOrder.id.to_s.rjust(5, '0')
  %section#widget-grid
    .row
      %article.col-sm-12.col-md-12.col-lg-6
        #wid-id-0.jarviswidget.jarviswidget-color-greenDark{"data-widget-collapsed" => "false", "data-widget-deletebutton" => "false", "data-widget-editbutton" => "false"}
          %header
            %span.widget-icon
              %i.fa.fa-table
            %h2 
            = 'Orden de Suministro N° ' + @deliveryOrder.id.to_s.rjust(5, '0')
          %div
            .jarviswidget-editbox
              / This area used as dropdown edit box
            .widget-body.no-padding
              .alert.alert-info.no-margin.fade.in
                %button.close{"data-dismiss" => "alert"}
                  ×
                %i.fa-fw.fa.fa-info
                Cabecera de la Orden de Suministro
              %table.table.table-hover
                %thead
                  %tr
                    %th Codigo
                    %th Estado
                    %th Fecha de Requerimiento
                    %th Fecha Programada
                    %th Responsable
                    %th Glosa
                %tbody(id="article_items_table")
                  %tr
                    %td
                      = @deliveryOrder.id.to_s.rjust(5, '0')
                    %td
                      = translate_delivery_order_state(@deliveryOrder.state)
                    %td
                      = @deliveryOrder.date_of_issue.strftime("%d/%m/%Y")
                    %td
                      = @deliveryOrder.scheduled.strftime("%d/%m/%Y")
                    %td
                      = @deliveryOrder.user.first_name + ' ' + @deliveryOrder.user.last_name
                    %td
                      = @deliveryOrder.description
      - if @state_change != nil
        %h1.page-title.txt-color-blueDark
          %i.fa.fa-pencil-square-o.fa-fw 
          Cambiar estado de la Orden
        %article.col-sm-12.col-md-12.col-lg-6
          - case @state_change
            - when 'issued'
              %a.btn.btn-info.btn-lg{:onclick => "javascript:load_url_ajax('#{goissue_logistics_delivery_order_path(@deliveryOrder.id)}' + '?authenticity_token=#{form_authenticity_token}', 'content')"}
                Emitir
            - when 'observed'
              %a.btn.btn-info.btn-lg{:onclick => "javascript:load_url_ajax('#{goobserve_logistics_delivery_order_path(@deliveryOrder.id)}' + '?authenticity_token=#{form_authenticity_token}', 'content')"}
                Observar
            - when 'revised'
              %a.btn.btn-info.btn-lg{:onclick => "javascript:load_url_ajax('#{gorevise_logistics_delivery_order_path(@deliveryOrder.id)}' + '?authenticity_token=#{form_authenticity_token}', 'content')"}
                Dar visto bueno
            - when 'canceled'
              %a.btn.btn-danger.btn-lg{:onclick => "javascript:delete_to_url('#{logistics_delivery_order_path(@deliveryOrder.id)}' + '?authenticity_token=#{form_authenticity_token}', 'content', '#{logistics_delivery_orders_path}')"}
                Anular
            - when 'approved'
              %a.btn.btn-primary.btn-lg{:onclick => "javascript:load_url_ajax('#{goapprove_logistics_delivery_order_path(@deliveryOrder.id)}' + '?authenticity_token=#{form_authenticity_token}', 'content')"}
                Aprobar
      - else
        %article.col-sm-12.col-md-12.col-lg-6
          #wid-id-3.jarviswidget.jarviswidget-color-greenDark{"data-widget-collapsed" => "false", "data-widget-deletebutton" => "false", "data-widget-editbutton" => "false"}
            %header
              %span.widget-icon
                %i.fa.fa-table
              %h2 
              = 'Historial de Estado de la Orden de Suministro N° ' + @deliveryOrder.id.to_s.rjust(5, '0')
            %div
              .jarviswidget-editbox
                / This area used as dropdown edit box
              .widget-body.no-padding
                .alert.alert-info.no-margin.fade.in
                  %button.close{"data-dismiss" => "alert"}
                    ×
                  %i.fa-fw.fa.fa-info
                  Historial de Estados
                %table.table.table-hover
                  %thead
                    %tr
                      %th Estado
                      %th Fecha
                      %th Quien fue
                  %tbody
                    - @deliverPerState.each do |deliverState|
                      %tr
                        %td
                          = translate_delivery_order_state(deliverState.state)
                        %td
                          = deliverState.created_at.strftime("%d/%m/%Y")
                        %td
                          = deliverState.user.first_name + " " + deliverState.user.last_name
      %article.col-sm-12.col-md-12.col-lg-12
        #wid-id-2.jarviswidget.jarviswidget-color-greenDark{"data-widget-collapsed" => "false", "data-widget-deletebutton" => "false", "data-widget-editbutton" => "false"}
          %header
            %span.widget-icon
              %i.fa.fa-table
            %h2 Detalle de la Orden de Suministro
          %div
            .jarviswidget-editbox
              / This area used as dropdown edit box
            .widget-body.no-padding
              .alert.alert-info.no-margin.fade.in
                %button.close{"data-dismiss" => "alert"}
                  ×
                %i.fa-fw.fa.fa-info
                Detalle de la Orden de Suministro
              %table.table.table-hover
                %thead
                  %tr
                    %th Codigo
                    %th Insumo
                    %th Cantidad
                    %th Sector
                    %th Unidad de Medida
                    %th Fases
                    %th Centro de Atención
                    %th Glosa
                %tbody(id="article_items_table")
                  - @deliveryOrderDetails.each do |deliverydetail|
                    %tr
                      %td
                        = deliverydetail.article.code
                      %td
                        = deliverydetail.article.name
                      %td
                        = deliverydetail.amount
                      %td
                        = deliverydetail.sector.name
                      %td
                        - if deliverydetail.unit_of_measurement != nil
                          = deliverydetail.unit_of_measurement.name
                        - else
                          = "No tiene Unidad de Medida"
                      %td
                        = deliverydetail.phase.name
                      %td
                        = deliverydetail.center_of_attention.name
                      %td
                        = deliverydetail.description

= javascript_include_tag 'plugin/flot/jquery.flot.cust'
= javascript_include_tag 'plugin/vectormap/jquery-jvectormap-1.2.2.min'
= javascript_include_tag 'plugin/fullcalendar/jquery.fullcalendar.min'
= javascript_include_tag 'plugin/vectormap/jquery-jvectormap-world-mill-en'
= javascript_include_tag 'plugin/flot/jquery.flot.resize'
= javascript_include_tag 'plugin/flot/jquery.flot.tooltip'
= javascript_include_tag 'plugin/datatables/jquery.dataTables-cust.min'
= javascript_include_tag 'plugin/datatables/ColReorder.min'
= javascript_include_tag 'plugin/datatables/FixedColumns.min'
= javascript_include_tag 'plugin/datatables/ColVis.min'
= javascript_include_tag 'plugin/datatables/ZeroClipboard'
= javascript_include_tag 'plugin/datatables/media/js/TableTools.min'
= javascript_include_tag 'plugin/datatables/DT_bootstrap'