#content-inside
  .row
    .col-xs-12.col-sm-7.col-md-7.col-lg-4
      %h1.page-title.txt-color-blueDark
        %i.fa.fa-pencil-square-o.fa-fw
        Seguimiento de las Ordenes
  .row
    .col-xs-12.col-sm-7.col-md-7.col-lg-4
      %div
        .smart-form
          %section
            %label.select
              %select{ 'name' => 'cost_center_id', 'id' => 'cost-center-selected' }
                - @costcenters.each do |cc|
                  %option{'value' => "#{cc.id}"}= cc.name
              %i
  #widget-grid
    .row
      %article.col-xs-12.col-sm-12.col-md-12.col-lg-12
        = render :partial => 'table_items_pending'

- if @costcenters.first != nil

  :javascript

    $(document).ready(function(){

      $('#cost-center-selected').focus();

      load_items_delivery_order_ajax('#{show_rows_delivery_orders_logistics_delivery_orders_path}', 'body-items-pending-requested', {company_id: $.company_global_id, cost_center_id: $("#cost-center-selected").val(), authenticity_token: "#{form_authenticity_token}", pending: true});

      $('#cost-center-selected').change(function(){
        load_items_delivery_order_ajax('#{show_rows_delivery_orders_logistics_delivery_orders_path}', 'body-items-pending-requested', {company_id: $.company_global_id, cost_center_id: this.value, authenticity_token: "#{form_authenticity_token}", pending: true});
      });
    });