= simple_form_for([:administration, @provision], html: {class: 'form-horizontal', novalidate: 'novalidate', autocomplete: 'off' }) do |f|
  #step1.step-pane.active
    %h3
      %strong Paso 1
      \- Seleccionar Proveedor y sus ordenes
    %fieldset
      .row
        = hidden_field_tag 'provision[cost_center_id]', @cost_center, class: 'form-control', id: 'cost-center-selected'
      .row
        .col-md-1
        .col-md-4
          .form-group
            %label.control-label Proveedor
            .input-group
              %select.select2.form-control#supplier-selected{:name => 'provision[entity_id]', :style => 'width:100%;padding: 0;border: none;'}
                - @suppliers.each do |x|
                  %option(value = "#{x.id}")
                    = x.name
        .col-md-1
        .col-md-4
          .form-group
            %label.control-label Tipo de Orden
            .input-group
              %select.select2.form-control#type-order-selected{:name => 'type_of_order_consult', :style => 'width:100%;padding: 0;border: none;'}
                %option{:value => 'purchase_order'}
                  Orden de Compra
                %option{:value => 'service_order'}
                  Orden de Servicio
            
  #step2.step-pane
    %h3
      %strong Paso 2
      \- Seleccionar la(s) orden(es) a provisionar
    %fieldset
      .row
        %article.col-xs-12.col-sm-12.col-md-12.col-lg-12
          %br
          #items-orders
        
  #step3.step-pane
    %h3
      %strong Paso 3
      \- Seleccionar el(los) item(s) de la(s) orden(es) seleccionada(s)
    %fieldset
      .row
        %article.col-xs-12.col-sm-12.col-md-12.col-lg-12
          %br
          #items-orders-details
    
  #step4.step-pane
    %h3
      %strong Paso 4
      \- Registrar Información

    %fieldset
      .input-group{'style' => 'display:none;'}
        = f.input :order_id, :as => :hidden, :input_html => {:class => 'form-control'}, label: false
      .row
        .col-md-4
          .form-group
            %label.col-md-4.control-label Tipo Documento
            .col-md-8
              .input-group
                %select.select2.form-control{:name => 'provision[document_provision_id]', :style => 'width:100%;padding: 0;border: none;'}
                  - @documentProvisions.each do |x|
                    %option(value = "#{x.id}")
                      = x.name
        .col-md-4
          .form-group
            %label.col-md-4.control-label Numero de Documento
            .col-md-8
              .input-group
                = f.input :number_document_provision, :input_html => {:class => 'form-control'}, label: false
                %span.input-group-addon
                  %i.fa.fa-calendar
        .col-md-4
          .form-group
            %label.col-md-4.control-label Fecha
            .col-md-8
              .input-group
                = f.input :accounting_date, as: :string, :input_html => {:class => 'form-control', :type => "date"}, label: false
                %span.input-group-addon
                  %i.fa.fa-calendar
      .row
        .col-md-4
          .form-group
            %label.col-md-4.control-label Serie
            .col-md-8
              .input-group
                = f.input :series, placeholder: "Serie", :input_html => {:class => 'form-control'}, label: false
                %span.input-group-addon
                  %i.fa.fa-money
      .row
        .col-md-12
          .form-group
            %label.col-md-2.control-label Glosa
            .col-md-10
              .input-group
                = f.input :description, placeholder: "Glosa", :input_html => {:class => 'form-control'}, label: false
                %span.input-group-addon
                  %i.fa.fa-align-justify
    %fieldset
      %table.table.table-condensed.table-bordered.table-striped.table-hover.has-tickbox.smart-form#summary-provisions{:style => "font-size: 12px;", 'aria-describedby' => "data-table_info"}
        %thead
          %tr
            %th Codigo
            %th Nombre del Artículo
            %th Cuenta Contable
            %th Unidad
            %th Cantidad a atender
            %th IGV
            %th Precio Unitario
            %th Total
            %th Acción
        %tbody{:id => "provisions_items_table"}

  #step5.step-pane
    %h3
      %strong Paso 5
      \- Terminado!
    %br/
    %br/
    %h1.text-center.text-success
      %i.fa.fa-check
      Felicidades!
      %br/
      .alert.alert-warning.fade.in
        %i.fa-fw.fa.fa-warning
        %strong Aún no Acabas
        Presiona el botón FINALIZAR para terminar con la Orden de Compra.
        %i.fa.fa-hand-o-up
    %br/
    %br/
    %br/
    %br/