- if @orders.count > 0
  %table#list-orders.table.table-striped.table-bordered.table-hover.smart-form
    %thead
      %tr
        %th Código de la orden
        %th Fecha de Emisión
        %th Descripción
        %th Seleccionar
    - @orders.each do |order|
      %tr
        %td
          = order.id.to_s.rjust(5, '0')
        %td
          = order.date_of_issue.strftime("%d-%m-%Y")
        %td
          = order.description
        %td.orders-checked
          %label.checkbox
            = check_box("order_selected", "selected", { class: 'order_check' }, order.id)
            %i
  = hidden_field_tag 'type_of_order_selected', @type_order, id: 'type_of_order_selected'
-  else
  %h3{:style => 'text-align:center;'}
    = "El proveedor " + @supplier_obj.name.to_s + ' ' + @supplier_obj.paternal_surname.to_s + ' ' + @supplier_obj.maternal_surname.to_s + ' ' + "no tiene ordenes asignadas."