- if @data_orders.count > 0
  = hidden_field_tag "type_of_order_name", @type_order, id: 'type_of_order_name'
  %table#list-orders-details.table.table-striped.table-bordered.table-hover.smart-form
    %thead
      %tr
        %th Código del Insumo
        %th Nombre del Insumo
        %th Cantidad
        %th Por atender
        %th Precio sin IGV con Cálculos antes de IGV
        %th Precio con IGV con Cálculos después de IGV
        %th Descripción
        %th Seleccionar
    - @data_orders.each do |order|
      %tr
        %td
          = order[0]
        %td
          = order[1]
        %td
          = order[2]
        %td
          %code
            = order[7]
        %td
          = number_to_currency((order[4]), unit: 'S/. ', precision: 2)
        %td
          = number_to_currency(order[3], unit: 'S/. ', precision: 2)
        %td
          = order[5]
        %td.orders-checked
          %label.checkbox
            = check_box("order_selected", "selected", { class: 'order_check' }, order[6])
            %i
-  else
  %h3{:style => 'text-align:center;'}
    = "Esta Orden no tiene detalle para Seleccionar. Por favor intentar con otra Orden"