- if @data_orders.count > 0
  %h2 Detallado de las Ordenes Pre-Seleccionadas
  %table#list-orders-details.table.table-striped.table-bordered.table-hover.smart-form
    %thead
      %tr
        %th Codigo de Orden
        %th Código del Insumo
        %th Nombre del Insumo
        %th Cantidad
        %th Por atender
        %th Precio
        %th Parcial
        %th IGV
        %th Parcial con IGV
        %th 
          %button.btn-xs.btn-success{ :type => 'button', :onclick => 'check_all_checkboxes();' }
            %i.fa.fa-hand-o-down        
    - @data_orders.each do |order|
      %tr
        %td= order[12].to_s
        %td
          = order[0].to_s
        %td
          = order[1].to_s
        %td
          = order[2].to_f
        %td
          %code
            = order[7].to_s
        %td
          = number_to_currency((order[4].to_f), unit: order[8].to_s, precision: 4)
        %td
          = number_to_currency order[11].to_f, unit: order[8].to_s, precision: 2
        %td
          = number_to_currency order[10].to_f, unit: order[8].to_s, precision: 2
        %td
          = number_to_currency((order[11].to_f+order[10].to_f), unit: order[8].to_s, precision: 2)
        %td.orders-checked
          %label.checkbox
            = check_box("order_selected", "selected", { class: 'order_check' }, (order[6].to_s + '-' + order[9].to_s))
            %i

  :javascript
    function check_all_checkboxes(){
      num = parseInt($('#select-all').val());
      if(num%2==0){
        $('.order_check').prop("checked",true);
        $('#select-all').val(num+1);
      }else{
        $('.order_check').prop("checked",false);
        $('#select-all').val(num+1);
      }
    }
-  else
  %h3{:style => 'text-align:center;'}
    = "Esta Orden no tiene detalle para Seleccionar. Por favor intentar con otra Orden"

%br

%button.btn.btn-info{ :type => 'button', :onclick => 'put_the_details();', 'data-dismiss' => "modal" }
  Agregar items Seleccionados
%button.btn.btn-danger{ :type => 'button', 'data-dismiss' => "modal" }
  Cerrar 

