- if @orders_po.count > 0
  %h2 Ordenes de Compra
  %table#list-orders_po.table.table-striped.table-bordered.table-hover.smart-form
    %thead
      %tr
        %th Código de la orden
        %th Fecha de Emisión
        %th Descripción
        %th Seleccionar
    - @orders_po.each do |order|
      %tr
        %td
          = order.id.to_s.rjust(5, '0')
        %td
          = order.date_of_issue.strftime("%d-%m-%Y")
        %td
          = order.description
        %td.orders-checked
          %label.checkbox
            = check_box("order_selected", "selected", { class: 'order_check' }, order.id)
            %i

- elsif @orders_oos.count > 0
  %h2 Ordenes de Servicio
  %table#list-orders_oos.table.table-striped.table-bordered.table-hover.smart-form
    %thead
      %tr
        %th Código de la orden
        %th Fecha de Emisión
        %th Descripción
        %th Seleccionar
    - @orders_oos.each do |order|
      %tr
        %td
          = order.id.to_s.rjust(5, '0')
        %td
          = order.date_of_issue.strftime("%d-%m-%Y")
        %td
          = order.description
        %td.orders-checked
          %label.checkbox
            = check_box("order_selected", "selected", { class: 'order_check' }, order.id)
            %i

-  else

  %h3{:style => 'text-align:center;'}
    = "El proveedor " + @supplier_obj.name.to_s + ' ' + @supplier_obj.paternal_surname.to_s + ' ' + @supplier_obj.maternal_surname.to_s + ' ' + "no tiene ordenes asignadas u ordenes aprovadas."

%br

%button.btn.btn-info{ :type => 'button', :onclick => 'show_me_the_details();' }
  Ver detalle de lo Seleccionado
%button.btn.btn-danger{ :type => 'button', 'data-dismiss' => "modal" }
  Cerrar

%br

%div#show_containter_details