- if @orders_po.count > 0 || @orders_oos.count > 0
  =hidden_field_tag 'select-all', 0
  %h2 Ordenes: 
  %select#select-orders{:name =>"orders[]", :style => 'width:80%;padding: 0;border: none;', :multiple => true}
    - @orders_po.each do |order|
      %option{ :value => "OC-#{order[0]}" }
        = "OC - " + order[2].rjust(5, '0') + " - " + order[3].to_s
    - @orders_oos.each do |order|
      %option{ :value => "OS-#{order.id}" }
        = "OS - " + order.code.rjust(5, '0') + " - " + order.description.to_s
  %button.btn.btn-sm.btn-primary#search_deliv_orders{type: "button", :style => "margin-left: 10px;", :onclick => 'show_me_the_details();' }
    %i.fa.fa-search
    Buscar        

  :javascript
    $(document).ready(function(){
      $('#select-orders').select2();
    });
-  else

  %h3{:style => 'text-align:center;'}
    = "El proveedor " + @supplier_obj.name.to_s + ' ' + @supplier_obj.paternal_surname.to_s + ' ' + @supplier_obj.maternal_surname.to_s + ' ' + "no tiene ordenes asignadas u ordenes aprobadas."

%br

%button.btn.btn-danger{ :type => 'button', 'data-dismiss' => "modal" }
  Cerrar

%br

%div#show_containter_details
