- if @data_orders.count > 0
  %table#list-orders.table.table-striped.table-bordered.table-hover.smart-form
    %thead
      %tr
        %th Código del Insumo
        %th Nombre del Insumo
        %th Cantidad
        %th Precio sin IGV
        %th Precio con IGV
        %th Descripción
        %th Seleccionar
    - @data_orders.each do |order|
      %tr
        %td
          = order[0]
        %td
          = order[1]
        %td
          = order[2]
        %td
          = order[3]
        %td
          = order[4]
        %td
          = order[5]
        %td.orders-checked
          %label.checkbox
            = check_box("order_selected", "selected", { class: 'order_check' }, order.id)
            %i
-  else
  %h3{:style => 'text-align:center;'}
    = "Esta Orden no tiene detalle para Seleccionar. Por favor intentar con otra Orden"