#content-inside
  .row
    .col-xs-12.col-sm-7.col-md-7.col-lg-4
      %h1.page-title.txt-color-blueDark
        %i.fa.fa-pencil-square-o.fa-fw 
        Editar Provisión
  #widget-grid
    .row
      %article.col-sm-12.col-md-12.col-lg-12
        = render :partial => 'form_edit'
  %button.btn.btn-sm.btn-primary.btn-prev#backlist-provisions{type: "button"}
    %i.fa.fa-arrow-left>
    Retornar al listado de cargos

:javascript

  // DO NOT REMOVE : GLOBAL FUNCTIONS!
  pageSetUp();
  $('#backlist-provisions').click(function(){
    load_url_ajax("#{administration_provisions_path}", 'content', null, null, 'GET');
  });

  function delete_item(code){
    $("#tr" + code).remove();
  }

  // PAGE RELATED SCRIPTS

  function calculatePrice(element){
    var amount = parseInt($(element).val());
    var igv = parseFloat($(element).parent().siblings('.current-igv').find('input').val());
    var unit_price = parseFloat($(element).parent().siblings('.unit-price').find('input').val());
    var discount_before = parseFloat($(element).parent().siblings('.discount-before').find('input').val());
    var discount_after = parseFloat($(element).parent().siblings('.discount-after').find('input').val());

    var total_price = parseFloat(((amount * unit_price) - discount_before)*(1+igv)).toFixed(2);
    var net_total_price = parseFloat(total_price) + parseFloat(discount_after)

    $(element).parent().siblings('.price-with-igv').find('input').val(total_price);
    $(element).parent().siblings('.neto-price-with-igv').find('input').val(parseFloat(net_total_price).toFixed(2));
  }

  function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 46) {
        return false;
    }
    return true;
  }

  function minmax(value, min, max){
    if(parseInt(value) < min || isNaN(value)) 
      return min; 
    else if(parseInt(value) > max) 
      return max; 
    else return value;
  }

  function add_more_items(){
    var data_delivery_order = new Array();
    status = false;
    var index = 0;
    $('#modal-more-items tbody tr td .checkbox .order_check').each(function(){
      if( $(this).is(':checked') ){
        status = true
        data_delivery_order[index] = $(this).val();
        index++;
      }
    });

    if(status){
      data = { ids_delivery_order: data_delivery_order, authenticity_token: "#{form_authenticity_token}" };
      append_url_ajax('#{add_items_from_delivery_orders_logistics_purchase_orders_path}', 'order_delivery_items_table', data, '', 'POST');
    }

    $('#modalDeliveryItems').modal('hide');
  }

  function enableFieldsForIgv(element){
    if($(element).is(":checked")){
      var price_without_igv = $(element).parent().parent().siblings('.price-without-igv').find('input').val();
      console.log(price_without_igv);
      console.log($(element).parent().parent().siblings('.price-with-igv').find('input'));
      $(element).parent().parent().siblings('.price-with-igv').find('input').val(parseFloat(price_without_igv*(parseFloat("#{@igv}"))).toFixed(2));
    } else {
      var price_without_igv = $(element).parent().parent().siblings('.price-without-igv').find('input').val();
      $(element).parent().parent().siblings('.price-with-igv').find('input').val(price_without_igv);
    }
  }