#content-inside
  %section#widget-grid
    .row
      %article.col-sm-12.col-md-12.col-lg-12
        #wid-id-2.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-deletebutton" => "false", "data-widget-editbutton" => "false", "data-widget-collapsed" => "false", "data-widget-fullscreenbutton" => "false"}
          %header
            %span.widget-icon
              %i.fa.fa-pencil-square-o.fa-fw 
            %h2
              %strong Generar Provisiones - Paso a Paso
          %div
            .jarviswidget-editbox

            .widget-body.fuelux
              .wizard
                %ul.steps
                  %li{"data-target" => "#step1"}
                    %span.badge> 1
                    Seleccionar Proveedor y sus Ordenenes
                    %span.chevron
                  %li{"data-target" => "#step2"}
                    %span.badge> 2
                    Seleccionar la(s) orden(es) a provisionar
                    %span.chevron
                  %li{"data-target" => "#step3"}
                    %span.badge> 3
                    Seleccionar el(los) item(s) de la(s) orden(es) seleccionada(s)
                    %span.chevron
                  %li{"data-target" => "#step4"}
                    %span.badge> 4
                    Registrar Información
                    %span.chevron
                  %li{"data-target" => "#step5"}
                    %span.badge> 5
                    Guardar Información
                .actions
                  %button.btn.btn-sm.btn-primary.btn-prev{type: "button"}
                    %i.fa.fa-arrow-left>
                    Anterior
                  %button.btn.btn-sm.btn-success.btn-next{"data-last" => "Finalizar", type: "button"}
                    Siguiente
                    %i.fa.fa-arrow-right
              .step-content
                = render :partial => 'form'

  %button.btn.btn-sm.btn-primary.btn-prev#backlist-provisions{type: "button"}
    %i.fa.fa-arrow-left>
    Retornar al listado de Provisiones


:javascript

    // DO NOT REMOVE : GLOBAL FUNCTIONS!
  pageSetUp();

  $(document).ready(function(){
  
    $('#backlist-provisions').click(function(){
      load_url_ajax("#{administration_provisions_path}", 'content', null, null, 'GET');
    });
   
    $('#btn-add-more-items-do').click(function(){
      var ids_delivery_order = new Array();

      $('#summary-delivery-orders tbody tr td.pod-di input').each(function(index, element){
        ids_delivery_order[index] = $(this).val();
      });

      data = { cost_center_id: $.cost_center, authenticity_token: "#{form_authenticity_token}", ids_delivery_order: ids_delivery_order };
      load_items_delivery_order_ajax('#{more_items_from_delivery_orders_logistics_purchase_orders_path}', 'modalDeliveryItemsContent', data);
      $('#modalDeliveryItems').modal('toggle', {
        keyboard: false,
        backdrop: 'static'
      });
    });

    $('#type-order-selected').change(function(){
      $.ajax({
        type: 'POST',
        url: "#{get_suppliers_by_type_order_administration_provisions_path}",
        async: false,
        data: { authenticity_token: "#{form_authenticity_token}", type: $(this).val() },
        dataType : 'html',
        success: function(data) {
          $('#supplier-selected').html($.parseJSON(data).suppliers);
        },
        error : function(xhr, ajaxOptions, thrownError) {
          console.log(xhr);
          console.log(thrownError);
        }
      });
    });

  });

  function delete_item(code){
    $("#tr" + code).remove();
  }

  // PAGE RELATED SCRIPTS

  function calculatePrice(element){
    var amount = parseInt($(element).val());
    var igv = parseFloat($(element).parent().siblings('.current-igv').find('input').val());
    var unit_price = parseFloat($(element).parent().siblings('.unit-price').find('input').val());
    var discount_before = parseFloat($(element).parent().siblings('.discount-before').find('input').val());
    var discount_after = parseFloat($(element).parent().siblings('.discount-after').find('input').val());

    var total_price = parseFloat(((amount * unit_price) - discount_before)*(1+igv)).toFixed(2);
    var net_total_price = parseFloat(total_price) + parseFloat(discount_after)

    $(element).parent().siblings('.price-with-igv').find('input').val(total_price);
    $(element).parent().siblings('.neto-price-with-igv').find('input').val(parseFloat(net_total_price).toFixed(2));
  }

  function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 46) {
        return false;
    }
    return true;
  }

  function minmax(value, min, max){
    if(parseInt(value) < min || isNaN(value)) 
      return min; 
    else if(parseInt(value) > max) 
      return max; 
    else return value;
  }

  function add_more_items(){
    var data_delivery_order = new Array();
    status = false;
    var index = 0;
    $('#modal-more-items tbody tr td .checkbox .order_check').each(function(){
      if( $(this).is(':checked') ){
        status = true
        data_delivery_order[index] = $(this).val();
        index++;
      }
    });

    if(status){
      data = { ids_delivery_order: data_delivery_order, authenticity_token: "#{form_authenticity_token}" };
      append_url_ajax('#{add_items_from_delivery_orders_logistics_purchase_orders_path}', 'order_delivery_items_table', data, '', 'POST');
    }

    $('#modalDeliveryItems').modal('hide');
  }

  function enableFieldsForIgv(element){
    if($(element).is(":checked")){
      var price_without_igv = $(element).parent().parent().siblings('.price-without-igv').find('input').val();
      console.log(price_without_igv);
      console.log($(element).parent().parent().siblings('.price-with-igv').find('input'));
      $(element).parent().parent().siblings('.price-with-igv').find('input').val(parseFloat(price_without_igv*(parseFloat("#{@igv}"))).toFixed(2));
    } else {
      var price_without_igv = $(element).parent().parent().siblings('.price-without-igv').find('input').val();
      $(element).parent().parent().siblings('.price-with-igv').find('input').val(price_without_igv);
    }
  }

  loadScript("#{ asset_path 'plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js', type: :javascript }", runBootstrapWizard);
  
  //Bootstrap Wizard Validations

  function runBootstrapWizard() {

    var $validator = $("#new_provision").validate({

      rules: {
        'provision[document_provision_id]': {
          required: true
        },
        'provision[number_document_provision]': {
          required: true
        },
        'provision[accounting_date]': {
          required: true
        },
        'provision[series]': {
          required: true
        },
        'provision[entity_id]': {
          required: true
        }
      },
      
      messages: {
        'provision[document_provision_id]':  {
          required: "Porfavor, especifica el tipo de Documento."
        },
        'provision[number_document_provision]':  {
          required: "Porfavor, especifica el numero del documento."
        },
        'provision[accounting_date]':  {
          required: "Porfavor, especifica la fecha."
        },
        'provision[series]':  {
          required: "Porfavor, especifica la serie."
         },
        'provision[entity_id]': {
          required: "Porfavor, especifica al proveedor."
        }
      },
      
      highlight: function (element) {
        $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
      },
      unhighlight: function (element) {
        $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
      },
      errorElement: 'span',
      errorClass: 'help-block',
      errorPlacement: function (error, element) {
        if (element.parent('.input-group').length) {
          error.insertAfter(element.parent());
        } else {
          error.insertAfter(element);
        }
      }
    });

  }

  loadScript("#{ asset_path 'plugin/fuelux/wizard/wizard.js', type: :javascript }", fueluxWizard);
  
  function fueluxWizard() {
    
    var wizard = $('.wizard').wizard();
    
    wizard.on('finished', function (e, data) {
    
      $.ajax({
        type: 'POST',
        url: "#{administration_provisions_path}",
        async: false,
        data: $('#new_provision').serialize(),
        dataType : 'html',
        success: function(data) {
          $('#modalLoading').modal('hide');
          $('#content').html(data);
        },
        error : function(xhr, ajaxOptions, thrownError) {
          container.html('<h4 style="margin-top:10px; display:block; text-align:left"><i class="fa fa-warning txt-color-orangeDark"></i> Error 404! Page not found.</h4>');
        }
      });

    });

    wizard.on('change', function(e, data){

      var status = false; var status_detail = false;
      var data_orders = new Array(); var data_orders_detail = new Array();

      if(data.step == 1 && data.direction == 'next'){
        if( ($('#supplier-selected').val() > 0) && ($('#type-order-selected').val() != '') ) {
          supplier = $('#supplier-selected').val();
          type_order = $('#type-order-selected').val();
          data = { type_of_order_consult: type_order, supplier: supplier, authenticity_token: "#{form_authenticity_token}" }
          $.smallBox({
            title: "Ahora selecciona alguna Orden de la siguiente lista.",
            content: "<i class='fa fa-clock-o'></i> <i>1 seconds ago...</i>",
            color: "#5F895F",
            iconSmall: "fa fa-check bounce animated",
            timeout: 4000
          });
          load_items_delivery_order_ajax('#{display_orders_administration_provisions_path}', 'items-orders', data);

        } else {

          e.preventDefault();
          $.smallBox({
            title: "Antes de continuar debes de haber seleccionado algun proveedor.",
            content: "<i class='fa fa-clock-o'></i> <i>1 seconds ago...</i>",
            color: "#c46a69",
            iconSmall: "fa fa-times bounce animated",
            timeout: 4000
          });
        }
        
      }

      if(data.step == 2 && data.direction == 'next') {
        if($('#list-orders tbody tr td.orders-checked').length > 0){

          var index = 0;
          $('#list-orders tbody tr td.orders-checked .checkbox .order_check').each(function(){
            if( $(this).is(':checked') ){
              status = true
              data_orders[index] = $(this).val();
              index++;
            }
          });

          if(status){
            data = { ids_orders: data_orders, authenticity_token: "#{form_authenticity_token}", type_of_order_selected: $('#type_of_order_selected').val() };
            load_items_delivery_order_ajax('#{display_details_orders_administration_provisions_path}', 'items-orders-details', data);

            $.smallBox({
              title: "Ahora selecciona algun detalle de las ordenes seleccionadas.",
              content: "<i class='fa fa-clock-o'></i> <i>1 seconds ago...</i>",
              color: "#5F895F",
              iconSmall: "fa fa-check bounce animated",
              timeout: 4000
            });

          } else {

            e.preventDefault();
            $.smallBox({
              title: "Antes de continuar debes de haber seleccionado alguna Orden.",
              content: "<i class='fa fa-clock-o'></i> <i>1 seconds ago...</i>",
              color: "#c46a69",
              iconSmall: "fa fa-times bounce animated",
              timeout: 4000
            });
          }

        } else {

          e.preventDefault();
          $.smallBox({
            title: "El proveedor seleccionado no tiene orden alguna asignada.",
            content: "<i class='fa fa-clock-o'></i> <i>1 seconds ago...</i>",
            color: "#c46a69",
            iconSmall: "fa fa-times bounce animated",
            timeout: 4000
          });

        }
      }

      if(data.step == 3 && data.direction == 'next') {
        if($('#list-orders-details tbody tr td.orders-checked').length > 0){

          var index = 0;
          $('#list-orders-details tbody tr td.orders-checked .checkbox .order_check').each(function(){
            if( $(this).is(':checked') ){
              status_detail = true
              data_orders_detail[index] = $(this).val();
              index++;
            }
          });

          if(status_detail){
            data = { ids_orders_details: data_orders_detail, authenticity_token: "#{form_authenticity_token}", type_of_order: $('#type_of_order_name').val() };
            load_items_delivery_order_ajax('#{puts_details_in_provision_administration_provisions_path}', 'provisions_items_table', data);

            $.smallBox({
              title: "Ahora puedes completar la información de la provisión.",
              content: "<i class='fa fa-clock-o'></i> <i>1 seconds ago...</i>",
              color: "#5F895F",
              iconSmall: "fa fa-check bounce animated",
              timeout: 4000
            });

          } else {

            e.preventDefault();
            $.smallBox({
              title: "Antes de continuar debes de haber seleccionado alguna Orden.",
              content: "<i class='fa fa-clock-o'></i> <i>1 seconds ago...</i>",
              color: "#c46a69",
              iconSmall: "fa fa-times bounce animated",
              timeout: 4000
            });
          }

        } else {

          e.preventDefault();
          $.smallBox({
            title: "El proveedor seleccionado no tiene orden alguna asignada.",
            content: "<i class='fa fa-clock-o'></i> <i>1 seconds ago...</i>",
            color: "#c46a69",
            iconSmall: "fa fa-times bounce animated",
            timeout: 4000
          });

        }
      }

      if(data.step == 4 && data.direction == 'next') {
        var $valid = $("#new_provision").valid();
        if (!$valid) {
          e.preventDefault();
          $.smallBox({
            title: "No se tiene datos necesarios de la Provisión.",
            content: "<i class='fa fa-clock-o'></i> <i>1 seconds ago...</i>",
            color: "#c46a69",
            iconSmall: "fa fa-times bounce animated",
            timeout: 4000
          });
        }
      }

    });

  }