#wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-eye
    %h2
      = t('activerecord.modelsdescription.bill_of') + t('activerecord.modelsdescription.working_group')
  .widget-body
    = simple_form_for([:logistics, @working_group], html: {class: 'form-horizontal smart-form', autocomplete: 'off' }) do |f|
      %fieldset
        .row
          %section.col.col-10
            %label.label
              = t('activerecord.attributes.working_group.sector')
            %label.input{for: "sector_id"}
              %select.form-control#sector-select{:name =>"working_group[sector_id]"}
                - @sectors.each do |x|
                  %option{:value => "#{x.id}", :rel => "#{x.id}", :selected => @working_group.sector_id == x.id}
                    = x.name
        .row
          %section.col.col-10
            %label.label
              = t('activerecord.attributes.working_group.front_chief')
            %label.input{for: "front_chief_id"}
              %select.form-control#cost_center-select{:name =>"working_group[front_chief_id]"}
                - @front_chiefs.each do |x|
                  %option{:value => "#{x.id}", :rel => "#{x.id}", :selected => @working_group.front_chief_id == x.id}
                    = x.name
        .row
          %section.col.col-10
            %label.label
              = t('activerecord.attributes.working_group.master_builder')
            %label.input{for: "master_builder_id"}
              %select.form-control#cost_center-select{:name =>"working_group[master_builder_id]"}
                - @master_builders.each do |x|
                  %option{:value => "#{x.id}", :rel => "#{x.id}", :selected => @working_group.master_builder_id == x.id}
                    = x.name
        .row
          %section.col.col-10
            %label.label
              = t('activerecord.attributes.working_group.executor')
            %label.input{for: "executor_id"}
              %select.form-control#cost_center-select{:name =>"working_group[executor_id]"}
                - @executors.each do |x|
                  %option{:value => "#{x.id}", :rel => "#{x.id}", :selected => @working_group.executor_id == x.id}
                    = x.name
        = hidden_field_tag "warehouse[company_id]"

      %footer
        %button.btn.btn-primary{type: "submit"}
          %i.fa.fa-save
            = t('activerecord.actions.save')

:javascript
  $(document).ready(function () {
    //alert($.company_global_id);
    $("#working_group_company_id").val($.company_global_id);
    $("#working_group_front_chief_id").focus();

    if($('form[id^="edit_"]').length > 0) {
      submit_validate($('form[id^="edit_"]'));
    }else{
      submit_validate($('#new_working_group'));
    }
  });

  function submit_validate(form){
    $(form['selector']).ajaxForm({
      beforeSubmit: function() {
        $(form['selector']).validate({
          // Rules for form validation
          rules : {
            'warehouse[name]' : {
              required : true
            }
          },

          // Messages for form validation
          messages : {
            'warehouse[name]' : {
              required : '(*) requerido.'
             }
          },

          // Do not change code below
          errorPlacement : function(error, element) {
            error.insertAfter(element.parent());
          }
        });
        // Remove all Help-inLine
        $(".help-inline").remove();
        // Client Valid
        return $(form['selector']).valid();
      },
      target: '#content',
      success: function (data){
        $(".help-inline").parent().addClass("state-error");
      },
      error: function(xhr, status, error) {
      }
    });
  }
