#wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-eye
    %h2 Subcontrato
  .widget-body
    = simple_form_for([:production, @subcontractInput], html: {class: 'form-horizontal smart-form', autocomplete: 'off' }) do |f|
      %fieldset
        - if @action=="edit"
          .row{ 'style' => 'display:none' }
            %input{ 'name' => 'subcontract_input[id]', 'value' => "#{@subcontractInput.id}", 'readonly' => true, 'style' => 'display:none' }
            %input{ 'name' => 'company_id', 'value' => "#{@company}", 'readonly' => true, 'style' => 'display:none' }
            %input{ 'name' => 'subcontract_input[type_article]', 'value' => "04", 'readonly' => true, 'style' => 'display:none' }
          .row
            %section.col.col-4
              %label.label Insumo
              %label.input
                %select.form-control{:name =>"subcontract_input[article_id]", :style => 'width:100%;padding: 0;border: none;'}
                  - @articles.each do |article|
                    -if @subcontractInput.article_id == article.id
                      %option{:value => "#{article.id}", :selected=>"selected"}
                        = article.name
                    -else
                      %option{:value => "#{article.id}"}
                        = article.name
            %section.col.col-4
              %label.label Precio
              %label.input{for: "price"}
                %i.icon-append.fa.fa-credit-card
                = f.input :price, placeholder: "Precio", input_html: { class: 'form-control' }, label: false

        - else

          .row
            %label.label Tipo de Subcontrato
            .radio_button
              %input{'class'=>'sub', type: "radio", :value => "04", "name"=>"subcontract_input[type_article]"}
                = "Subcontrato"
              %br
              %input{'class'=>'equip', type: "radio", :value => "03", "name"=>"subcontract_input[type_article]"}
                = "Subcontrato de Equipo"

          .row{ 'style' => 'display:none' }
            %input{ 'name' => 'company_id', 'value' => "#{@company}", 'readonly' => true, 'style' => 'display:none' }
          .row
            %section.col.col-4
              %label.label Insumo
              %label.input
                %input#insumo.select2.bigdrop.select2-offscreen.form-control{'name' => 'subcontract_input[article_id]', 'type' => 'hidden', 'style' => 'width:100%;padding: 0;border: none;'}

            %section.col.col-4
              %label.label Precio
              %label.input{for: "price"}
                %i.icon-append.fa.fa-credit-card
                = f.input :price, placeholder: "Precio", input_html: { class: 'form-control' }, label: false

      %footer
        %button.btn.btn-primary{type: "submit"}
          %i.fa.fa-save 
          Guardar

:javascript
  $(document).ready(function () {

    $('#insumo').select2({
      placeholder: "Buscar Insumos...",
      minimumInputLength: 3,
      ajax: {
        url: "#{display_articles_production_subcontract_inputs_path}",
        dataType: 'json',
        type: 'POST',
        quietMillis: 100,
        data: function(term, page){
          var code = "";
          if( $('input.sub').is(':checked') )
            code = "04"

          if( $('input.equip').is(':checked') )
            code = "03"

          return {
            q: term,
            page: page,
            code: code,
            authenticity_token: "#{form_authenticity_token}"
          };
        },
        results: function(data, page){
          return {results: data.articles};
        }
      },
      formatResult: function(node){ return '<div>' + node.name + '</div>' },
      formatSelection: function(node){ return (node.name) },
      escapeMarkup: function (m) { return m; }
    });

    if($('form[id^="edit_"]').length > 0) {
      submit_validate($('form[id^="edit_"]'));
    }else{
      submit_validate($('#new_subcontract_input'));
    }

  });
  
  function submit_validate(form){
    $(form['selector']).ajaxForm({
      beforeSubmit: function() {
        $(form['selector']).validate({
          // Rules for form validation
          rules : {
            'subcontract_input[article_id]' : {
              required : true
            },
            'subcontract_input[price]' : {
              required : true
            }
          },

          // Messages for form validation
          messages : {
            
            'subcontract_input[article_id]' : {
              required : 'Por favor, ingresar el articulo.'
            },
            'subcontract_input[price]' : {
              required : 'Por favor, ingresar le precio.'
            }
          },

          // Do not change code below
          errorPlacement : function(error, element) {
            error.insertAfter(element.parent());
          }
        });
        // Remove all Help-inLine
        $(".help-inline").remove();
        // Client Valid
        return $(form['selector']).valid();
      },
      target: '#content',
      success: function (data){
        $(".help-inline").parent().addClass("state-error");
      },
      error: function(xhr, status, error) {
      }
    });
  }