#content-inside
  .row
    .col-xs-12.col-sm-7.col-md-7.col-lg-7
      %h1.page-title.txt-color-blueDark
        %i.fa.fa-pencil-square-o.fa-fw 
        Lista de Insumos de Subcontrato
    - if flash[:notice] != nil
      .alert.alert-success.fade.in{"style" => "clear:both"}
        %button.close{"data-dismiss" => "alert"}
          ×
        %i.fa-fw.fa.fa-check
        %strong Éxito
        = flash[:notice]
    - if flash[:error] != nil
      .alert.alert-danger.fade.in
        %button.close{"data-dismiss" => "alert"}
          ×
        %i.fa-fw.fa.fa-times
        %strong Error!
        = flash[:error]
  .row
    - if @article.present?
      .col-sm-2
        %a.btn.btn-primary.btn-mini{:onclick => "javascript:load_url_ajax('#{new_production_subcontract_input_path}', 'content', {company_id: '#{@company}', type: '#{@type}'}, null, 'GET')"}
          Agregar Subcontrato
    - else
      .col-xs-12.col-sm-7.col-md-7.col-lg-12
        .alert.alert-block.alert-danger
          %a.close(data-dismiss="alert" href="#")
            ×
          %h4.alert-heading
            %i.fa.fa-lock
              No puedes crear un Insumo de Subcontrato!
          %p
            Verifica si tienes, por lo menos, 1 insumo de tipo Subcontrato (cod. 04).
  %br
  .row
  #widget-grid
    .row
      %article.col-xs-12.col-sm-12.col-md-12.col-lg-12
        = render :partial => 'table'