#wid-id-0.jarviswidget.jarviswidget-color-darken{"data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-table
    %h2 Lista de Contratos
  %div
    .jarviswidget-editbox
    .widget-body.no-padding
      .widget-body-toolbar
      %table#dt_basic.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th N° de contrato
            %th Tipo
            %th Tipo de Contrato
            %th Cargo
            %th Sueldo
            %th Destaque
            %th Dias
            %th Dia de Inicio
            %th Dia de Fin
            %th Acciones
        %tbody
          - @workercontracts.each do |workercontract|
            %tr
              %td
                = workercontract.numberofcontract.to_s
              %td 
                = workercontract.typeofcontract.to_s
              %td 
                = workercontract.contract_type.description.to_s
              %td
                - if !workercontract.article.nil?
                  = workercontract.article.name.to_s
              %td
                = number_to_currency(workercontract.salary.to_f, :unit => 'S/.', :precision => 2)
              %td
                = number_to_currency(workercontract.destaque.to_f, :unit => 'S/.', :precision => 2)
              %td 
                = workercontract.days.to_s
              %td
                - if !workercontract.start_date.nil?
                  = workercontract.start_date.strftime('%d-%m-%Y')
              %td 
                - if !workercontract.end_date.nil?
                  = workercontract.end_date.strftime('%d-%m-%Y')
              %td
                %a.btn.btn-warning.btn-xs{:onclick => "javascript:load_url_ajax('#{edit_production_worker_contract_path(workercontract.id)}', 'content', {company_id: '#{@company}', type: '#{workercontract.typeofcontract}', typeofcontract: 'Contrato'}, null, 'GET')"}
                  Editar
                %a.btn.btn-danger.btn-xs{:data => {:toggle => 'confirmation', :placement => 'left', :title => 'Esta seguro de eliminar el item ' + "#{workercontract.id}?", :singleton => 'true', :popout => 'true', :onclick => "javascript:delete_to_url('#{production_worker_contract_path(workercontract.id)}' + '?authenticity_token=#{form_authenticity_token}', 'content', '#{production_worker_contracts_path}?company_id=#{@company}&worker_id=#{workercontract.worker_id}')"}}
                  Eliminar

:javascript
  // DO NOT REMOVE : GLOBAL FUNCTIONS!
  pageSetUp();

  $(document).ready(function () {
    $('[data-toggle="confirmation"]').confirmation();
  });

  // PAGE RELATED SCRIPTS

  loadDataTableScripts();
  function loadDataTableScripts() {

    loadScript("#{ asset_path 'plugin/datatables/jquery.dataTables-cust.min', type: :javascript }", dt_2);

    function dt_2() {
      loadScript("#{ asset_path 'plugin/datatables/ColReorder.min', type: :javascript }", dt_3);
    }

    function dt_3() {
      loadScript("#{ asset_path 'plugin/datatables/FixedColumns.min.js', type: :javascript }", dt_4);
    }

    function dt_4() {
      loadScript("#{ asset_path 'plugin/datatables/ColVis.min', type: :javascript }", dt_5);
    }

    function dt_5() {
      loadScript("#{ asset_path 'plugin/datatables/ZeroClipboard', type: :javascript }", dt_6);
    }

    function dt_6() {
      loadScript("#{ asset_path 'plugin/datatables/media/js/TableTools.min', type: :javascript }", dt_7);
    }

    function dt_7() {
      loadScript("#{ asset_path 'plugin/datatables/DT_bootstrap', type: :javascript }", runDataTables);
    }

  }

  function runDataTables() {

    /*
     * BASIC
     */
    $('#dt_basic').dataTable({
      "sPaginationType" : "bootstrap_full"
    });

    /* END BASIC */

  }