.span3
.span6
  %br
  %br
  %br
  #login_panel
    = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class=>'form-horizontal'}) do |f|
      .fieldset
        %legend
          Iniciar Sesión
        .control-group
          = f.label :dni, 'D.N.I.:', :class=>"control-label"
          .controls
            = f.text_field :dni, :autofocus => true
        .control-group
          = f.label :password, 'Contraseña:', :class=>"control-label"  
          .controls
            = f.password_field :password

        .form-actions
          = f.submit "Iniciar Sesión", :class => "btn btn-success"
    = render "devise/shared/links"
.span3
