#content-inside
  .row
    .col-md-12.col-sm-7.col-md-7.col-lg-4
      %h1.page-title.txt-color-blueDark
        %i.fa.fa-pencil-square-o.fa-fw 
        Enlazar Presupuestos
  - if @message_error == ''
    
    .row
      .col-md-8.col-sm-offset-2
        %table.has-tickbox(class="table table-condensed table-bordered table-striped table-hover dataTable" style="font-size: 12px;" id="partidas-meta" aria-describedby="data-table_info")
          %thead
            %tr
              %th(colspan="2") Partidas Meta Seleccionadas
              %th Total
              %th Porcentaje
              %th Eliminar
          %tbody(id="items_table2")

    %br
    .row
      .col-md-6
        .content-load
          .items-panel
            %table(class=" table-bordered table-hover white-table small-font table-condensed " width="100%")
              %thead
                %tr
                  %th Partidas Venta
              %tbody
                - result_credit = get_credit(@saleitembybudgets[0].budget_id)
                - itemwbs = itemswbs_from_budget(@saleitembybudgets[0].budget_id)
                - @saleitembybudgets.each do |itembudget|
                  - title = get_title_or_description(itembudget)
                  - amount_str = ""
                  - if  itembudget.item_id != nil
                    - meas_i = number_with_precision(itembudget.measured.to_f, :precision => 2)
                    - cred_i = number_with_precision(result_credit[itembudget.item_code + itembudget.order], :precision => 2)
                    - amount = meas_i.to_f - cred_i.to_f
                    - amount_str = get_color_class(amount.to_s, itemwbs[itembudget.id])
                  - else 
                    - amount_str = "color-title"
                  %tr{:id=>"item_" + itembudget.id.to_s, :class=> amount_str}
                    %td 
                      = "---" * (itembudget.order.length/3).to_i
                      = itembudget.order        
                      -if itembudget.measured.to_f > 0
                        -title_parsed = URI.escape(title.gsub('\'', '_'))
                        %a{:href=>"javascript:add_item('#{itembudget.id.to_s}');"}
                          = title
                      -else
                        %strong
                          = title
      .col-md-6
        .content-load
          .items-panel
            %table(class=" table-bordered table-hover white-table small-font table-condensed " width="100%")
              %thead
                %tr
                  %th Partidas Meta
                  %th Acciones
                  %th Metrado
                  %th Precio
              %tbody
                - result_credit = get_credit(@goalitembybudgets[0].budget_id)
                - itemwbs = itemswbs_from_budget(@goalitembybudgets[0].budget_id)
                - @goalitembybudgets.each do |itembudget|
                  - title = get_title_or_description(itembudget)
                  - amount_str = ""
                  - if  itembudget.item_id != nil
                    - meas_i = number_with_precision(itembudget.measured.to_f, :precision => 2)
                    - cred_i = number_with_precision(result_credit[itembudget.item_code + itembudget.order], :precision => 2)
                    - amount = meas_i.to_f - cred_i.to_f
                    - amount_str = get_color_class(amount.to_s, itemwbs[itembudget.id])
                  - else 
                    - amount_str = "color-title"
                  %tr{:id=>"item_" + itembudget.id.to_s, :class=> amount_str}
                    %td 
                      = "---" * (itembudget.order.length/3).to_i
                      = itembudget.order        
                      -if itembudget.measured.to_f > 0
                        -title_parsed = URI.escape(title.gsub('\'', '_'))
                        %a{:href=>"javascript:add_item2('#{itembudget.id.to_s}')"}
                          = title
                      -else
                        %strong
                          = title
                    %td
                      -if itembudget.measured.to_f > 0
                        %center
                          %a{:href=>"javascript:viewassigment('#{itembudget.id.to_s}')"}
                            Ver Asignaciones
                    -if itembudget.measured.to_f > 0
                      %td(style="text-align: right;")
                        = number_with_delimiter(number_with_precision itembudget.measured.to_f, :precision => 2)
                      %td(style="text-align: right;") 
                        = number_to_currency(number_with_precision(itembudget.price, :precision => 2).to_s , :unit=>'S/. ') rescue ""
                    -else
                      %td(colspan="2")
    .row{style: "display: none"}
      .col-lg-12
        %table.has-tickbox(class="table table-condensed table-bordered table-striped table-hover dataTable" style="font-size: 12px;" id="summary-sale" aria-describedby="data-table_info")
          %thead
            %tr
              %th(colspan="2") Partida Venta Seleccionada
              %th Total
              %th Eliminar
          %tbody(id="items_table")
    .row{style: "display: none"}
      .col-lg-12
        %table.has-tickbox(class="table table-condensed table-bordered table-striped table-hover dataTable" style="font-size: 12px;" id="summary-sale" aria-describedby="data-table_info")
          %thead
            %tr
              %th(colspan="2") Partida Venta Seleccionada
              %th Total
              %th Eliminar
          %tbody(id="items_table3")
    %div(class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
      .modal-dialog
        .modal-content
          %div(class="modal-header")
            %button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
              &times;
            %h4
              Asignaciones
          %div(class="modal-body")
          %div(class="modal-footer")
  %br

  %button.btn.btn-sm.btn-primary.btn-prev#backlist-entity{type: "button"}
    %i.fa.fa-arrow-left>
    Retornar al listado

  
:javascript
  var selected_item;
  $(".content-load").height($(document).height()-600);
  $(".botom-load").height(200);
  $(document).ready(function (){
    $('select').select2({width:'280px'});
  });

  function add_item(elemento){
    $("#item_" + selected_item).removeClass("info");
    selected_item = elemento;
    $("#item_" + elemento).addClass("info");
    $('#summary-sale').find("tr:gt(0)").remove();
    str_item = {authenticity_token: "#{form_authenticity_token}", item_id: elemento};

    append_url_ajax('#{add_item_management_equivalence_of_items_path}', 'items_table', str_item, 0, 'POST');
    add_item4(elemento);
  }

  function add_item2(elemento){
    str_item = {authenticity_token: "#{form_authenticity_token}", item_id: elemento};

    append_url_ajax('#{add_item2_management_equivalence_of_items_path}', 'items_table2', str_item, 0, 'POST');
  }

  function add_item4(elemento){
    str_item = {authenticity_token: "#{form_authenticity_token}", item_id: elemento};

    append_url_ajax('#{add_item2_management_equivalence_of_items_path}', 'items_table2', str_item, 0, 'POST');
  }

  function add_item5(elemento){
    var row = table.insertRow(0);
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
    var cell3 = row.insertCell(2);
    var cell4 = row.insertCell(3);
    var cell5 = row.insertCell(4);
    cell1.innerHTML = "NEW CELL1";
    cell2.innerHTML = "NEW CELL2";
    cell3.innerHTML = "NEW CELL3";
    cell4.innerHTML = "NEW CELL4";
    cell5.innerHTML = "NEW CELL5";
  }

  function add_item4(elemento){
    var url="#{complete_management_equivalence_of_items_path}";
    var form_token="#{form_authenticity_token}";
    var default_value=0;
    var str_html = "";
    var table = document.getElementById("items_table2");
    $.ajax({
        type: "POST",
        url: url,
        async: false,
        data: { item_id: elemento, authenticity_token: form_token}
    }).done(function( data ) {
      newOptions = [];
      $.each(data.combo, function(key, value){
        var row = table.insertRow(value.number);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        var cell4 = row.insertCell(3);
        var cell5 = row.insertCell(4);
        cell1.innerHTML = "NEW CELL1";
        cell2.innerHTML = "NEW CELL2";
        cell3.innerHTML = "NEW CELL3";
        cell4.innerHTML = "NEW CELL4";
        cell5.innerHTML = "NEW CELL5";
      });
    });
  }

  function add_item3(elemento,porcentaje){
    percent = document.getElementById("equivalence_of_items_goalitembybudget_"+porcentaje+"_percentage").value;
    str_item = {authenticity_token: "#{form_authenticity_token}", sale_id: elemento, target_id: $('#saleitembybudget_item').val(), percentage: percent};

    append_url_ajax('#{link_budget_method_management_equivalence_of_items_path}', 'items_table2', str_item, 0, 'POST');
    $("#tr" + porcentaje).remove();
  }

  $('#backlist-entity').click(function(){
    load_url_ajax("#{management_equivalence_of_items_path}", 'content', null, null, 'GET');
  });

  function delete_item(code){
    $("#tr" + code).remove();
  }

  $('#save').click(function(){
    target_id =  $('#saleitembybudget_item').val();
    var goaltargets = document.getElementsByClassName("form-control reg_n");
    $.each(goaltargets, function(){
      var percentage = document.getElementById("equivalence_of_items_goalitembybudget_"+Number($(this).val())+"_percentage").value;

      var elemento = document.getElementById("equivalence_of_items_goalitembybudget_"+Number($(this).val())+"_id").value;

      str_item = {authenticity_token: "#{form_authenticity_token}", sale_id: elemento, target_id: target_id, percentage: percentage};

      append_url_ajax('#{link_budget_method_management_equivalence_of_items_path}', 'items_table3', str_item, 0, 'POST');

      console.log("listo");
    });
    $('#partidas-meta').find("tr:gt(0)").remove();
  });

  function viewassigment(id){
    $('#myModal').modal('show');
    load_url_ondiv('#{get_itembybudget_assigned_management_equivalence_of_items_path}?itembybudget=' + id, 'modal-body')
  }

  function viewassigment2(id){
    $('#myModal').modal('show');
    load_url_ondiv('#{get_itembybudget2_assigned_management_equivalence_of_items_path}?itembybudget=' + id, 'modal-body')
  }