#wid-id-0.jarviswidget.jarviswidget-color-darken{"data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-table
    %h2 Relacion de Partidas
  %div
    .jarviswidget-editbox
    .widget-body.no-padding
      .widget-body-toolbar
      %table#dt_basic.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th{"style" => "width:10%"} Codigo Venta
            %th{"style" => "width:31%"} Partida Venta
            %th{"style" => "width:10%"} Codigo Meta
            %th{"style" => "width:32%"} Partida Meta
            %th{"style" => "width:7%"} Porcentaje
            %th{"style" => "width:10%"} Acciones
        %tbody
          - @equiarray.each do |unit|
            %tr
              %td{"style" => "width:10%"}
                = Itembybudget.find(unit[0]).order.to_s
              %td{"style" => "width:31%"}
                = Itembybudget.find(unit[0]).subbudgetdetail.to_s
              %th{'colspan' => 3,"style" => "width:42%"}
                %table
                  %tbody
                    - EquivalenceOfItem.where("sale_item_by_budget_id = ?",unit[0]).each do |equi|
                      %tr
                        %td{"style" => "width:24%"}
                          = Itembybudget.find(equi.target_item_by_budget_id).order.to_s
                        %td{"style" => "width:76%"}
                          = Itembybudget.find(equi.target_item_by_budget_id).subbudgetdetail.to_s
                        %td{"style" => "width:7%"}
                          = equi.percentage
              %td{"style" => "width:10%"}
                %a.btn.btn-danger.btn-xs{:data => {:toggle => 'confirmation', :placement => 'left', :title => 'Esta seguro de eliminar el item ' + "#{unit[0]}?", :singleton => 'true', :popout => 'true', :onclick => "javascript:delete_to_url('#{management_equivalence_of_item_path(unit[0])}' + '?authenticity_token=#{form_authenticity_token}', 'content', '#{management_equivalence_of_items_path}')"}}
                  Eliminar

:javascript
  // DO NOT REMOVE : GLOBAL FUNCTIONS!
  pageSetUp();

  $(document).ready(function () {
    $('[data-toggle="confirmation"]').confirmation();
  });