%tr(class="item"){id: "tr" + @reg_n.to_s}
  %td{"style" => "display:none"}
    %div
      = text_field_tag 'equivalence_of_items[goalitembybudget][' + @reg_n.to_s + '][id]', @goalitembybudget.id , class: "form-control id", :required => true, title:'No puede dejar este campo vacio'
  %td{"style" => "display:none"}
    %div
      = text_field_tag 'equivalence_of_items[reg_n]', @reg_n.to_s , class: "form-control reg_n", :required => true, title:'No puede dejar este campo vacio'
  %td
    = @goalitembybudget.order
  %td
    = @goalitembybudget.subbudgetdetail
  %td
    -if @goalitembybudget.price != nil
      = (@goalitembybudget.measured*@goalitembybudget.price).round(2)
    -else
      = @goalitembybudget.measured
  %td
    %div
      = text_field_tag 'equivalence_of_items[goalitembybudget][' + @reg_n.to_s + '][percentage]',  0, class: "form-control goal", :required => true, title:'No puede dejar este campo vacio'
  %td{:style => "width: 1%;"}
    %a{href: "javascript:delete_item('"+@reg_n.to_s+"')"}(class="btn") X