#wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-eye
    %h2 Sub-Fase
  %div
    .jarviswidget-editbox
    .widget-body
      - if @action == 'edit'
        = simple_form_for(@subphase, url: logistics_subphase_path, method: 'PATCH', html: {class: 'form-horizontal' }) do |f|
          %fieldset
            %legend Ingrese Sub-Fase
            .form-group
              %label.col-md-2.control-label{for: "phase_id"} Fase
              .col-md-10
                %select.form-control#phase-select{:name =>"extra_field[phase_id]"}
                  - @phases.each do |phase|
                    %option{:value => "#{phase.id}", :rel => "#{phase.code}", :selected => @subphase.code.to_s[0,2] == phase.code}
                      = phase.name
            .form-group
              %label.col-md-2.control-label#code-subphase{for: "code"} C贸digo
              .col-md-2
                = text_field(:extra_field, :first_code, class: "form-control", readonly: true)
              .col-md-2
                = f.input :code, placeholder: "C贸digo", :input_html => {:class => 'form-control', :id => 'code-subphase'}, label: false
            .form-group
              %label.col-md-2.control-label{for: "name"} Nombre
              .col-md-10
                = f.input :name, placeholder: "Nombre de la fase", :input_html => {:class => 'form-control', :id => 'code-subphase'}, label: false
            .form-group{style: 'display:none;'}
              %label.col-md-2.control-label{for: "type"}
              .col-md-10{style: 'display:none;'}
                = f.input :category, label: false, input_html: { value: 'subphase' }, readonly: true
          .form-actions
            .row
              .col-md-12
                %button.btn.btn-primary{type: "submit"}
                  %i.fa.fa-save
                    Guardar
      - else
        = simple_form_for(@subphase, url: logistics_subphases_path, html: {class: 'form-horizontal' }) do |f|
          %fieldset
            %legend Ingrese Sub-Fase
            .form-group
              %label.col-md-2.control-label{for: "phase_id"} Fase
              .col-md-10
                %select.form-control#phase-select{:name =>"extra_field[phase_id]"}
                  - @phases.each do |phase|
                    %option{:value => "#{phase.id}", :rel => "#{phase.code}"}
                      = phase.name
            .form-group
              %label.col-md-2.control-label#code-subphase{for: "code"} C贸digo
              .col-md-2
                = text_field(:extra_field, :first_code, class: "form-control", readonly: true)
              .col-md-2
                = f.input :code, placeholder: "C贸digo", :input_html => {:class => 'form-control', :id => 'code-subphase'}, label: false
            .form-group
              %label.col-md-2.control-label{for: "name"} Nombre
              .col-md-10
                = f.input :name, placeholder: "Nombre de la fase", :input_html => {:class => 'form-control', :id => 'code-subphase'}, label: false
            .form-group{style: 'display:none;'}
              %label.col-md-2.control-label{for: "type"}
              .col-md-10{style: 'display:none;'}
                = f.input :category, label: false, input_html: { value: 'subphase' }, readonly: true
          .form-actions
            .row
              .col-md-12
                %button.btn.btn-primary{type: "submit"}
                  %i.fa.fa-save
                    Guardar

:javascript

  $('#new_phase').ajaxForm({
    target: '#content'
  });

  $('form[id^="edit_"]').ajaxForm({
    target: '#content'
  });

  $(document).ready(function(){
    var clicknum = 0;
    $("#phase-select").click(function(){
     clicknum++;
     if(clicknum == 1){
      var code = $('option:selected', this).attr('rel');
      $('#extra_field_first_code').val(code);
      clicknum = 4;
     }
    });

    $('#phase-select').change(function(){
      var code = $('option:selected', this).attr('rel');
      $('#extra_field_first_code').val(code);
    });
  });