- @reportRows.each do |x|
  %tr
    %td
      = x[2] #x.warehouse_name
    %td
      = x[0]
    %td
      = x[7]
    %td
      = x[8]
    %td
      = x[9]
    %td
      = x[10]
    %td
      = number_with_precision(x[11], precision: 2, delimiter: ',')
    %td
      = number_with_precision(x[12], precision: 2, delimiter: ',')
    %td
      = x[13]
    %td
      = number_with_precision(x[14], precision: 2, delimiter: ',')
    %td
      = number_with_precision(x[15], precision: 2, delimiter: ',')