- @reportRows.each do |x|
  %tr
    %td
      = x.stock_input.warehouse.name
    %td
      = x.stock_input.entity.name
    %td
      = x.stock_input.period
    %td
      = x.stock_input.issue_date
    %td
      = x.purchase_order_detail.purchase_order.money.symbol
    %td
      = x.stock_input.series + '-' + x.stock_input.document
    %td
      = x.stock_input.format.name
    %td
      = x.purchase_order_detail.delivery_order_detail.article.code
    %td
      = x.purchase_order_detail.delivery_order_detail.article.name
    %td
      = x.purchase_order_detail.delivery_order_detail.article.unit_of_measurement.symbol
    %td
      = x.amount