- @reportRows.each do |x|
  %tr
    %td
      = x[2]
    %td
      = x[3]
    %td
      = x[5]
    %td
      = x[6]
    %td
      = x[7]
    - case x[0]
      - when 1
        %td
          = x[8]
        %td
          = number_with_precision(x[9], precision: 2, delimiter: ',')
        %td
          = number_with_precision(x[10], precision: 2, delimiter: ',')
        %td
        %td
        %td
      - when 0
        %td
        %td
        %td
        %td
          = x[8]
        %td
          = number_with_precision(x[9], precision: 2, delimiter: ',')
        %td
          = number_with_precision(x[10], precision: 2, delimiter: ',')