- @reportRows.each do |x|
  %tr
    %td
      = x[3] #x.warehouse_name
    %td
      = x[0]
    %td
      = x[5] #x.period
    %td
      = x[6] #x.issue_date
    %td
      = x[8] #x.article_code
    %td
      = x[9] #x.article_name
    %td
      = x[10] #x.article_symbol
    - case x[1] #x.input
      - when 1
        %td
          = x[11] #x.amount
        %td
          = number_with_precision(x[12], precision: 2, delimiter: ',')
        %td
          = number_with_precision(x[13], precision: 2, delimiter: ',')
        %td
        %td
        %td
      - when 0
        %td
        %td
        %td
        %td
          = x[11] #x.amount
        %td
          = number_with_precision(x[12], precision: 2, delimiter: ',')
        %td
          = number_with_precision(x[13], precision: 2, delimiter: ',')