- @reportRows.each do |x|
  %tr
    %td
      = x[1] #x.warehouse_name
    %td
      = x[6]
    %td
      = x[7]
    %td
      = x[8]
    %td
      = x[9]
    %td
      = number_with_precision(x[10], precision: 2, delimiter: ',')
    %td
      = number_with_precision(x[11], precision: 2, delimiter: ',')
    %td
      = x[12]
    %td
      = number_with_precision(x[13], precision: 2, delimiter: ',')
    %td
      = number_with_precision(x[14], precision: 2, delimiter: ',')