!!!
%html{lang: "en-us"}
  %head
    %meta{charset: "utf-8"}
    / <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    %title ARSAC Managment Project
    %meta{content: "", name: "description"}
    %meta{content: "", name: "author"}
    /
      Use the correct meta names below for your web application
      Ref: http://davidbcalhoun.com/2010/viewport-metatag
      
      <meta name="HandheldFriendly" content="True">
      <meta name="MobileOptimized" content="320">
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", name: "viewport"}
    / Basic Styles
    = stylesheet_link_tag "bootstrap.min", media: "screen", rel: "stylesheet", type: "text/css"
    = stylesheet_link_tag "font-awesome.min", media: "screen", rel: "stylesheet", type: "text/css"
    
    / SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables
    = stylesheet_link_tag "smartadmin-production", media: "screen", rel: "stylesheet", type: "text/css"
    = stylesheet_link_tag "smartadmin-production_unminified", media: "screen", rel: "stylesheet", type: "text/css"
    = stylesheet_link_tag "smartadmin-skins", media: "screen", rel: "stylesheet", type: "text/css"
    /
      SmartAdmin RTL Support is under construction
      <link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-rtl.css">
    / Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp
    = stylesheet_link_tag "custom", media: "screen", rel: "stylesheet", type: "text/css"
    /JS
    = javascript_include_tag 'application'
    / TOKEN
    = csrf_meta_tag
    / FAVICONS
    =# stylesheet_link_tag "smartadmin-production.min", media: "screen", rel: "stylesheet", type: "text/css"
    =# stylesheet_link_tag "smartadmin-production.min", media: "screen", rel: "stylesheet", type: "text/css"
    %link{href: "images/favicon/favicon.ico", rel: "shortcut icon", type: "image/x-icon"}
    %link{href: "images/favicon/favicon.ico", rel: "icon", type: "image/x-icon"}
    / GOOGLE FONT
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700", rel: "stylesheet"}
  %body{ 'style' => 'overflow-y:scroll'}
    %header#header
      .pull-right
        / collapse menu button
        #hide-menu.btn-header.pull-right
          %span
            %a{href: "javascript:void(0);", title: "Collapse Menu"}
              %i.fa.fa-reorder
        / end collapse menu
        / logout button
        #logout.btn-header.transparent.pull-right
          %span
            %a{href: "#{destroy_user_session_path}", title: 'Sign out', 'data-method' => 'DELETE'}
              %i.fa.fa-sign-out
        / end logout button
    -if @company == nil
      - if !current_user.has_role? :director 
        - current_user.companies.each do |company| 
          .col-sm-8.col-md-8.col-lg-6
            .well
              .jumbotron{"style" => "overflow: hidden"}
                .col-sm-12.col-md-12.col-lg-12
                  %h1= company.name
                  %p= "RUC: #{company.ruc}"
                  %span#logo{:style => 'margin-top: 9px;float:right;'}
                    - if !company.nil?
                      = image_tag company.avatar.url, alt: "#{company.name}"
                  %p
                    %a.btn.btn-primary.btn-lg{ 'href' => 'javascript:void(0)', 'id' => "btn-#{company.id}", 'data-target' => "#modal-#{company.id}", "role" => "button" }
                      Ver información
          .modal.fade{"id" => "modal-#{company.id}", "aria-hidden" => "true", "aria-labelledby" => "modalCompanyItemsLabel", role: "dialog", tabindex: "-1"}
            .modal-dialog
              .modal-content
                .modal-header
                  %button.close{ 'type' => "button", 'data-dismiss' => "modal", 'aria-hidden' => "true" } ×
                  %h4= "Centro de Costos de " + company.name
                .modal-body{ 'style' => 'overflow:hidden' }
                  - company.cost_centers.each do |cc|
                    - if cc.users.where("user_id = " + @user.id.to_s).count > 0
                      .col-sm-12.col-md-12.col-lg-12
                        %h1= cc.name
                        %a.btn.btn-primary.btn-lg{ "href"=> "#{show_panel_main_path(company.id)}?cost_center=#{cc.id}"}
                          Ingresar
          :javascript
            $("a#btn-#{company.id}").click(function(){
              $('#modal-#{company.id}').modal('show');
            });
      - else
        - Company.all.each do |company| 
          .col-sm-8.col-md-8.col-lg-6
            .well
              .jumbotron{"style" => "overflow: hidden"}
                .col-sm-12.col-md-12.col-lg-12
                  %h1= company.name
                  %p= "RUC: #{company.ruc}"
                  %span#logo{:style => 'margin-top: 9px;float:right;'}
                    - if !company.nil?
                      = image_tag company.avatar.url, alt: "#{company.name}"
                  %p
                    %a.btn.btn-primary.btn-lg{ 'href' => 'javascript:void(0)', 'id' => "btn-#{company.id}", 'data-target' => "#modal-#{company.id}", "role" => "button" }
                      Ver información
          .modal.fade{"id" => "modal-#{company.id}", "aria-hidden" => "true", "aria-labelledby" => "modalCompanyItemsLabel", role: "dialog", tabindex: "-1"}
            .modal-dialog
              .modal-content
                .modal-header
                  %button.close{ 'type' => "button", 'data-dismiss' => "modal", 'aria-hidden' => "true" } ×
                  %h4= "Centro de Costos de " + company.name
                .modal-body{ 'style' => 'overflow:hidden' }
                  - company.cost_centers.each do |cc|
                    - if cc.users.where("user_id = " + @user.id.to_s).count > 0
                      .col-sm-12.col-md-12.col-lg-12
                        %h1= cc.name
                        %a.btn.btn-primary.btn-lg{ "href"=> "#{show_panel_main_path(company.id)}?cost_center=#{cc.id}"}
                          Ingresar
          :javascript
            $("a#btn-#{company.id}").click(function(){
              $('#modal-#{company.id}').modal('show');
            });

    #part-contract.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "partContractsLabel", role: "dialog"}

    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js'
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"
    /
      JS TOUCH : include this plugin for mobile drag / drop touch events
      <script src="js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script>
    / BOOTSTRAP JS
    = javascript_include_tag 'bootstrap/bootstrap'
    = javascript_include_tag 'plugin/msie-fix/jquery.mb.browser.min'
    /[if IE 7]
      <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
    / MAIN APP JS FILE
    = javascript_include_tag 'app'
    / Your GOOGLE ANALYTICS CODE Below
    
    :javascript
        if (!window.jQuery) {
          document.write('<script src="js/libs/jquery-2.0.2.min.js"><\/script>');
        }
    :javascript
        if (!window.jQuery.ui) {
          document.write('<script src="js/libs/jquery-ui-1.10.3.min.js"><\/script>');
        }