#wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-eye
    %h2 Obras
  %div{:style => "padding-top: 0"}
    .jarviswidget-editbox
    .widget-body
      = simple_form_for([:biddings, @work], html: {multipart: true, class: 'form-horizontal', autocomplete: 'off' }) do |f|
        = hidden_field_tag "company_id", @company
        .col-sm-12
          %fieldset
            %legend{'style' => 'border:none'}
            .row
              .col-md-4
                .form-group
                  %label.col-md-4.control-label Especialidad
                  .col-md-8
                    .input-group
                      %select.form-control#specialty-select{:name =>"work[specialty]"}
                        -if @action=="edit"
                          -if @work.specialty=="Saneamiento"
                            %option{:value => "Saneamiento", :selected => true} Saneamiento
                            %option{:value => "Civil"} Civil
                            %option{:value => "Electromecanico"} Electromecanico
                            %option{:value => "Hidráulica"} Hidráulica
                          -elsif @work.specialty=="Civil"
                            %option{:value => "Saneamiento"} Saneamiento
                            %option{:value => "Civil", :selected => true} Civil
                            %option{:value => "Electromecanico"} Electromecanico
                            %option{:value => "Hidráulica"} Hidráulica
                          -elsif @work.specialty=="Electromecanico"
                            %option{:value => "Saneamiento"} Saneamiento
                            %option{:value => "Civil"} Civil
                            %option{:value => "Electromecanico", :selected => true} Electromecanico
                            %option{:value => "Hidráulica"} Hidráulica
                          -elsif @work.specialty=="Hidráulica"
                            %option{:value => "Saneamiento"} Saneamiento
                            %option{:value => "Civil"} Civil
                            %option{:value => "Electromecanico"} Electromecanico
                            %option{:value => "Hidráulica", :selected => true} Hidráulica
                        -else
                          %option{:value => "Saneamiento"} Saneamiento
                          %option{:value => "Civil"} Civil
                          %option{:value => "Electromecanico"} Electromecanico
                          %option{:value => "Hidráulica"} Hidráulica
                      %span.input-group-addon
                        %i.fa.fa-money
              .col-md-4
                .form-group
                  %label.col-md-4.control-label Participación de ARSAC
                  .col-md-8
                    .input-group
                      = f.input :participation_of_arsac, placeholder: "Participación de ARSAC", input_html: { class: 'form-control', onkeypress: "return isNumber(event);" }, label: false
                      %span.input-group-addon
                        %i.fa.fa-flag
              .col-md-4
                .form-group
                  %label.col-md-4.control-label Fecha de Liquidación
                  .col-md-8
                    .input-group
                      = f.input :settlement_date, as: :string, :input_html => {:class => 'form-control', :type => "date"}, label: false
                      %span.input-group-addon
                        %i.fa.fa-calendar
            .row
              .col-md-4
                .form-group
                  %label.col-md-4.control-label Entidad contratante
                  .col-md-8
                    .input-group
                      %select.form-control#category-select{:name =>"work[entity_id]"}
                        - @entities.each do |entities|
                          - entities.each do |entity|
                            - if @work.entity_id == entity.id
                              %option{:value => "#{entity.id}", :selected => true}
                                = entity.name + ' ' + entity.surname
                            - else
                              %option{:value => "#{entity.id}"}
                                = entity.name + ' ' + entity.surname
                      %span.input-group-addon
                        %i.fa.fa-gears
              .col-md-4
                .form-group
                  %label.col-md-4.control-label Fecha de Firma de Contrato
                  .col-md-8
                    .input-group
                      = f.input :date_signature_of_contract, as: :string, :input_html => {:class => 'form-control', :type => "date"}, label: false
                      %span.input-group-addon
                        %i.fa.fa-calendar
              .col-md-4
                .form-group
                  %label.col-md-4.control-label Monto de Liquidación
                  .col-md-8
                    .input-group
                      = f.input :amount_of_settlement, placeholder: "Monto de Liquidación", input_html: { value: number_with_precision(f.object.amount_of_settlement, precision: 2), class: 'form-control' }, label: false
                      %span.input-group-addon
                        %i.fa.fa-flag
            .row
              .col-md-4
                .form-group
                  %label.col-md-4.control-label Nombre de la Obra
                  .col-md-8
                    .input-group
                      = f.input :name, placeholder: "Nombre de la Obra", input_html: { class: 'form-control' }, label: false
                      %span.input-group-addon
                        %i.fa.fa-warning
              .col-md-4
                .form-group
                  %label.col-md-4.control-label Fecha de Inicio de Obra
                  .col-md-8
                    .input-group
                      = f.input :start_date_of_work, as: :string, :input_html => {:class => 'form-control', :type => "date"}, label: false
                      %span.input-group-addon
                        %i.fa.fa-calendar
              .col-md-4
                .form-group
                  %label.col-md-4.control-label IPC de Liquidación
                  .col-md-8
                    .input-group
                      = f.input :ipc_settlement, placeholder: "Monto de Liquidación", input_html: { class: 'form-control' }, label: false
                      %span.input-group-addon
                        %i.fa.fa-flag
            .row
              .col-md-4
                .form-group
                  %label.col-md-4.control-label Monto de Contrato
                  .col-md-8
                    .input-group
                      = f.input :amount_of_contract, placeholder: "Monto de Contrato", input_html: { value: number_with_precision(f.object.amount_of_contract, precision: 2), class: 'form-control' }, label: false
                      %span.input-group-addon
                        %i.fa.fa-male
              .col-md-4
                .form-group
                  %label.col-md-4.control-label Fecha de Fin Real de Obra
                  .col-md-8
                    .input-group
                      = f.input :real_end_date_of_work, as: :string, :input_html => {:class => 'form-control', :type => "date"}, label: false
                      %span.input-group-addon
                        %i.fa.fa-calendar
              .col-md-4
                .form-group
                  %label.col-md-4.control-label Sistema de Contratación
                  .col-md-8
                    .input-group
                      %select.form-control#syscontract-select{:name =>"work[procurement_system]"}
                        -if @action=="edit"
                          -if @work.procurement_system=="unit_price"
                            %option{:value => "unit_price", :selected => true} Precio Unitario
                            %option{:value => "advance_sum"} Suma Avanzada
                            %option{:value => "mixto"} Mixto
                          -elsif @work.procurement_system=="advance_sum"
                            %option{:value => "unit_price"} Precio Unitario
                            %option{:value => "advance_sum", :selected => true} Suma Avanzada
                            %option{:value => "mixto"} Mixto
                          -elsif @work.procurement_system=="mixto"
                            %option{:value => "unit_price"} Precio Unitario
                            %option{:value => "advance_sum"} Suma Avanzada
                            %option{:value => "mixto", :selected => true} Mixto
                        -else
                          %option{:value => "unit_price"} Precio Unitario
                          %option{:value => "advance_sum"} Suma Avanzada
                          %option{:value => "mixto"} Mixto
                      %span.input-group-addon
                        %i.fa.fa-calendar
            .row
              .col-md-4
                .form-group
                  %label.col-md-4.control-label Contratista
                  .col-md-8
                    .input-group
                      %select.form-control#category-select{:name =>"work[contractor_id]"}
                        - @contractors.each do |entities|
                          - entities.each do |entity|
                            - if @work.contractor_id == entity.id
                              %option{:value => "#{entity.id}", :selected => true}
                                = entity.name + ' ' + entity.surname
                            - else
                              %option{:value => "#{entity.id}"}
                                = entity.name + ' ' + entity.surname
                      %span.input-group-addon
                        %i.fa.fa-flag
              .col-md-4
                .form-group
                  %label.col-md-4.control-label Fecha de Recepción de Obra
                  .col-md-8
                    .input-group
                      = f.input :date_of_receipt_of_work, as: :string, :input_html => {:class => 'form-control', :type => "date"}, label: false
                      %span.input-group-addon
                        %i.fa.fa-calendar
              .col-md-4
                .form-group
                  %label.col-md-4.control-label Objeto de Contrato
                  .col-md-8
                    .input-group
                      %select.form-control#purposecontract-select{:name =>"work[purpose_of_contract]"}
                        -if @action=="edit"
                          -if @work.procurement_system=="obra"
                            %option{:value => "obra", :selected => true} Obra
                            %option{:value => "expediente_obra"} Exp + Obra
                            %option{:value => "llave_mano"} Llave en mano
                          -elsif @work.procurement_system=="expediente_obra"
                            %option{:value => "obra"} Obra
                            %option{:value => "expediente_obra", :selected => true} Exp + Obra
                            %option{:value => "llave_mano"} Llave en mano
                          -elsif @work.procurement_system=="llave_mano"
                            %option{:value => "obra"} Obra
                            %option{:value => "expediente_obra"} Exp + Obra
                            %option{:value => "llave_mano", :selected => true} Llave en mano
                        -else
                          %option{:value => "obra"} Obra
                          %option{:value => "expediente_obra"} Exp + Obra
                          %option{:value => "llave_mano"} Llave en mano
                      %span.input-group-addon
                        %i.fa.fa-calendar
            .row{:id => 'dates-exp', :style => 'display:none'}
              .col-md-4
                .form-group
                  %label.col-md-4.control-label Fecha de inicio de Expediente
                  .col-md-8
                    .input-group
                      = f.input :start_date_of_inquiry, as: :string, :input_html => {:class => 'form-control', :type => "date"}, label: false
                      %span.input-group-addon
                        %i.fa.fa-calendar
              .col-md-4
                .form-group
                  %label.col-md-4.control-label Fecha de fin de Expediente
                  .col-md-8
                    .input-group
                      = f.input :end_date_of_inquiry, as: :string, :input_html => {:class => 'form-control', :type => "date"}, label: false
                      %span.input-group-addon
                        %i.fa.fa-calendar
            .row
              %fieldset
                %legend Componentes
                .col-md-12
                  .form-group
                    = f.association :components, :as => :check_boxes, :label => false
            .row
              %fieldset
                %legend Documentos
                .col-md-6
                  .form-group
                    %label.col-md-5.control-label Minuta/Testimonio de Consorcio
                    .col-md-7
                      = f.input :testimony_of_consortium, :input_html => { :class => 'btn btn-default' }, label: false, as: "file"
                      %p.help-block
                        Subir el archivo correspondiente
                .col-md-6
                  .form-group
                    %label.col-md-4.control-label Contrato + Adendas + Ampliación de Plazo
                    .col-md-8
                      = f.file_field :contract, :class => 'btn btn-default', :name => 'work[contract]', :id => 'multiple_contract', label: false, :multiple => true
                      %p.help-block
                        Subir los archivos correspondientes
                  #progress
                    .bar{:style => "width: 0%; height: 18px; background: green;"}
            .row
              .col-md-6
                .form-group
                  %label.col-md-5.control-label Acta de Recepción
                  .col-md-7
                    = f.input :reception_certificate, :input_html => { :class => 'btn btn-default' }, label: false, as: "file"
                    %p.help-block
                      Subir el archivo correspondiente
              .col-md-6
                .form-group
                  %label.col-md-4.control-label Liquidación de Obra
                  .col-md-8
                    = f.input :settlement_of_work, :input_html => { :class => 'btn btn-default' }, label: false, as: "file"
                    %p.help-block
                      Subir el archivo correspondiente
            .row
              .col-md-6
                .form-group
                  %label.col-md-5.control-label Presupuesto
                  .col-md-7
                    = f.input :budget, :input_html => { :class => 'btn btn-default' }, label: false, as: "file"
                    %p.help-block
                      Subir el archivo correspondiente
              .col-md-6
                .form-group
                  %label.col-md-4.control-label Bases Integradas + Memoria Descriptiva
                  .col-md-8
                    = f.file_field :integrated_bases, :class => 'btn btn-default', :id => 'multiple_integrated_bases', :name => 'work[integrated_bases]', label: false, :multiple => true
                    %p.help-block
                      Subir los archivos correspondientes
            .row
              .col-md-6
                .form-group
                  %label.col-md-5.control-label Arbitraje
                  .col-md-7
                    = f.input :arbitration, :input_html => { :class => 'btn btn-default' }, label: false, as: "file"
                    %p.help-block
                      Subir el archivo correspondiente
        %footer
          %button.btn.btn-primary{type: "submit"}
            %i.fa.fa-save
              Guardar

:javascript
  $(document).ready(function () {

    $('#purposecontract-select').change(function(){
      if($(this).val() == 'expediente_obra'){
        $('#dates-exp').fadeIn('fast');
      } else {
        $('#dates-exp').fadeOut('fast');
      }
    });

    if($('form[id^="edit_"]').length > 0) {
      submit_validate($('form[id^="edit_"]'));
    }
    else{
      submit_validate($('#new_work'));
    }
  });

  function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 46 && charCode != 37) {
        return false;
    }
    return true;
  }
  
  function submit_validate(form){
    $(form['selector']).ajaxForm({
      beforeSubmit: function() {
        $(form['selector']).validate({
          // Rules for form validation
          rules : {
            'work[date_signature_of_contract]' : {
              required : true
            },
            'work[start_date_of_work]' : {
              required : true,
            },
            'work[real_end_date_of_work]': {
              required : true
            },
            'work[date_of_receipt_of_work]': {
              required : true
            },
            'work[specialty]': {
              required : true
            },
            'work[name]': {
              required : true
            },
            'work[entity_id]': {
              required : true
            },
            'work[participation_of_arsac]': {
              required : true
            },
            'work[contractor_id]': {
              required : true
            },
            'work[amount_of_contract]': {
              required : true
            }
          },

          // Messages for form validation
          messages : {
            'work[date_signature_of_contract]' : {
              required : 'Campo requerido'
            },
            'work[start_date_of_work]' : {
              required : 'Campo requerido'
            },
            'work[real_end_date_of_work]': {
              required : 'Campo requerido'
            },
            'work[date_of_receipt_of_work]': {
              required : 'Campo requerido'
            },
            'work[specialty]': {
              required : 'Campo requerido'
            },
            'work[name]': {
              required : 'Campo requerido'
            },
            'work[entity_id]': {
              required : 'Campo requerido'
            },
            'work[participation_of_arsac]': {
              required : 'Campo requerido'
            },
            'work[contractor_id]': {
              required : 'Campo requerido'
            },
            'work[amount_of_contract]': {
              required : 'Campo requerido'
            }
          },

          // Do not change code below
          highlight: function (element) {
            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
          },
          unhighlight: function (element) {
            $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
          },
          errorElement: 'span',
          errorClass: 'help-block',
          errorPlacement: function (error, element) {
            if (element.parent('.input-group').length) {
              error.insertAfter(element.parent());
            } else {
              error.insertAfter(element);
            }
          }
        });
        // Remove all Help-inLine
        $(".help-inline").remove();
        // Client Valid
        return $(form['selector']).valid();
      },
      target: '#content',
      success: function (data){
        $(".help-inline").parent().addClass("state-error");
      },
      error: function(xhr, status, error) {
      }
    });
  }