#wid-id-0.jarviswidget.jarviswidget-color-darken{"data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-table
    %h2 Lista de Obras
  / widget div
  %div
    / widget edit box
    .jarviswidget-editbox
      / This area used as dropdown edit box
    / end widget edit box
    / widget content
    .widget-body.no-padding
      .widget-body-toolbar
      #dt_basic_wrapper.form-inline{:role => 'grid'}
        .dt-top-row
          #dt_basic_length.dataTables_length
            %span.smart-form
              %label.select{style: "width:60px"}
                %select{"aria-controls" => "dt_basic", name: "dt_basic_length", size: "1"}
                  %option{selected: "selected", value: "10"} 10
                  %option{value: "25"} 25
                  %option{value: "50"} 50
                  %option{value: "100"} 100
                %i
          #dt_basic_filter.dataTables_filter
            .input-group
              %span.input-group-addon
                %i.fa.fa-search
              %input.form-control{"aria-controls" => "dt_basic", placeholder: "Filter", type: "text"}
        .dt-wrapper
          %table#summary-works.table.table-striped.table-bordered.table-hover
            %thead
              %tr
                %th #
                %th Especialidad
                %th Nombre
                %th Entidad Contratante
                %th Monto del Contrato
                %th Contratista
                %th Participación de ARSAC
                %th Monto de Liquidación
                %th Fecha de Inicio Obra
                %th Fecha Fin de Obra
                %th Acciones
            %tbody
              - @works.each do |work|
                %tr
                  %td
                    = work.id
                  %td
                    = work.specialty
                  %td
                    = work.name
                  %td
                    = work.entity.name
                  %td
                    = number_to_currency(work.amount_of_contract, unit: 'S/.' , precision: 2)
                  %td
                    - if work.contractor_id != nil
                      = Work.getContractorName(work.contractor_id)
                    - else
                      = "No se tiene un Contratista definido."
                  %td
                    = work.participation_of_arsac
                  %td
                    = number_to_currency(work.amount_of_settlement, unit: 'S/.' , precision: 2)
                  %td
                    = work.start_date_of_work.strftime("%d/%m/%Y")
                  %td
                    = work.real_end_date_of_work.strftime("%d/%m/%Y")
                  %td
                    %a.btn.btn-success.btn-xs{:onclick => "javascript:load_url_ajax('#{biddings_work_path(work.id)}', 'content', null, null, 'GET')"}
                      Ver Información
                    %a.btn.btn-warning.btn-xs{:onclick => "javascript:load_url_ajax('#{edit_biddings_work_path(work.id)}', 'content', null, null, 'GET')"}
                      Editar
                    %a.btn.btn-danger.btn-xs{:data => {:toggle => 'confirmation', :placement => 'left', :title => 'Esta seguro de eliminar el item ' + "#{work.name}?", :singleton => 'true', :popout => 'true', :onclick => "javascript:delete_to_url('#{biddings_work_path(work.id)}' + '?authenticity_token=#{form_authenticity_token}', 'content', '#{biddings_works_path}')"}}
                      Eliminar

:javascript
  // DO NOT REMOVE : GLOBAL FUNCTIONS!
  pageSetUp();

  $(document).ready(function () {
    $('[data-toggle="confirmation"]').confirmation();
  });

  // PAGE RELATED SCRIPTS

  loadDataTableScripts();
  function loadDataTableScripts() {

    loadScript("#{ asset_path 'plugin/datatables/jquery.dataTables-cust.min', type: :javascript }", dt_2);

    function dt_2() {
      loadScript("#{ asset_path 'plugin/datatables/ColReorder.min', type: :javascript }", dt_3);
    }

    function dt_3() {
      loadScript("#{ asset_path 'plugin/datatables/FixedColumns.min.js', type: :javascript }", dt_4);
    }

    function dt_4() {
      loadScript("#{ asset_path 'plugin/datatables/ColVis.min', type: :javascript }", dt_5);
    }

    function dt_5() {
      loadScript("#{ asset_path 'plugin/datatables/ZeroClipboard', type: :javascript }", dt_6);
    }

    function dt_6() {
      loadScript("#{ asset_path 'plugin/datatables/media/js/TableTools.min', type: :javascript }", dt_7);
    }

    function dt_7() {
      loadScript("#{ asset_path 'plugin/datatables/DT_bootstrap', type: :javascript }", runDataTables);
    }

  }

  function runDataTables() {

    /*
     * BASIC
     */
    $('#summary-works').dataTable({
      "sPaginationType" : "bootstrap_full"
    });

    $('#summary-works_wrapper').removeClass("dataTables_wrapper");

    /* END BASIC */

    /* Add the events etc before DataTables hides a column */
    $("#summary-works thead input").keyup(function() {
      oTable.fnFilter(this.value, oTable.oApi._fnVisibleToColumnIndex(oTable.fnSettings(), $("thead input").index(this)));
    });

    $("#summary-works thead input").each(function(i) {
      this.initVal = this.value;
    });
    $("#datatable_fixed_column thead input").focus(function() {
      if (this.className == "search_init") {
        this.className = "";
        this.value = "";
      }
    });
    $("#summary-works thead input").blur(function(i) {
      if (this.value == "") {
        this.className = "search_init";
        this.value = this.initVal;
      }
    });   
    

    var oTable = $('#datatable_fixed_column').dataTable({
      "sDom" : "<'dt-top-row'><'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
      //"sDom" : "t<'row dt-wrapper'<'col-sm-6'i><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'>>",
      "oLanguage" : {
        "sSearch" : "Search all columns:"
      },
      "bSortCellsTop" : true
    });   
    


    /*
     * COL ORDER
     */
    $('#datatable_col_reorder').dataTable({
      "sPaginationType" : "bootstrap",
      "sDom" : "R<'dt-top-row'Clf>r<'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
      "fnInitComplete" : function(oSettings, json) {
        $('.ColVis_Button').addClass('btn btn-default btn-sm').html('Columns <i class="icon-arrow-down"></i>');
      }
    });
    
    /* END COL ORDER */

  }