- if @type_doc == 'testimony'

  %div{ :id => "file-#{@reg.to_s}" }
    %a.btn.btn-danger.btn-xs{href: "javascript:delete_item('file-"+@reg.to_s+"')"}
      %i.fa.fa-times
    = file_field_tag "work[testimony_of_consortium_documents_attributes][#{@reg}][attachment]", class: 'btn btn-default'

- elsif @type_doc == 'contract'
  
  %div{ :id => "file-#{@reg.to_s}" }
    %a.btn.btn-danger.btn-xs{href: "javascript:delete_item('file-"+@reg.to_s+"')"}
      %i.fa.fa-times
    = file_field_tag "work[contract_documents_attributes][#{@reg}][attachment]", class: 'btn btn-default', id: "file-#{@reg.to_s}"

- elsif @type_doc == 'integrated'
  
  %div{ :id => "file-#{@reg.to_s}" }
    %a.btn.btn-danger.btn-xs{href: "javascript:delete_item('file-"+@reg.to_s+"')"}
      %i.fa.fa-times
    = file_field_tag "work[integrated_bases_documents_attributes][#{@reg}][attachment]", class: 'btn btn-default', id: "file-#{@reg.to_s}"

- elsif @type_doc == 'arbitration'
  
  %div{ :id => "file-#{@reg.to_s}" }
    %a.btn.btn-danger.btn-xs{href: "javascript:delete_item('file-"+@reg.to_s+"')"}
      %i.fa.fa-times
    = file_field_tag "work[arbitration_documents_attributes][#{@reg}][attachment]", class: 'btn btn-default', id: "file-#{@reg.to_s}"

- elsif @type_doc == 'invoices'

  %div{ :id => "file-#{@reg.to_s}" }
    %a.btn.btn-danger.btn-xs{href: "javascript:delete_item('file-"+@reg.to_s+"')"}
      %i.fa.fa-times
    = file_field_tag "work[invoice_documents_attributes][#{@reg}][attachment]", class: 'btn btn-default', id: "file-#{@reg.to_s}"