%span(style='padding-left: 30px;' class='small-font')
  %i.fa.fa-user 
  Mano de Obra : 
  =number_to_currency(Wbsitem.get_brief(@item_id, @budget_id, @order)[0].to_s, :unit=>'')
%span(style='padding-left: 20px;' class='small-font')
  %i.fa.fa-shopping-cart 
  Materiales : 
  = number_to_currency(Wbsitem.get_brief(@item_id, @budget_id, @order)[1].to_s, :unit=>'')
%span(style='padding-left: 20px;' class='small-font')
  %i.fa.fa-truck
  Equipos : 
  = number_to_currency(Wbsitem.get_brief(@item_id, @budget_id, @order)[2].to_s, :unit=>'')
%span(style='padding-left: 20px;' class='small-font')
  %i.fa.fa-file-text
  Subcontratos :  
  =number_to_currency(Wbsitem.get_brief(@item_id, @budget_id, @order)[3].to_s, :unit=>'')
- if @budget.type_of_budget.to_i == 0
  .btn-group
    %span(style='padding-left: 30px;' class='small-font')
      %a(href ='#{filter_by_budget_and_item_management_inputbybudgetanditems_path.to_s}.pdf?budget_id=#{@budget_id}&item_id=#{@item_id}&order=#{@order}' class='btn btn-default btn-xs btn-danger')
        %i.fa.fa-download
        PDF 
      %a(href='#' data-toggle='modal' data-target="#itemsModal" class='btn btn-success btn-xs #{@must_be_blocked ? "disabled" : "" }')
        %i.fa.fa-plus
        Agregar