%span(style='padding-left: 30px;' class='small-font')
  %i.fa.fa-user 
  Mano de Obra : 
  =number_with_precision(Wbsitem.get_brief(@item_id, @budget_id, @order)[0], :precision => 2)
%span(style='padding-left: 20px;' class='small-font')
  %i.fa.fa-wrench 
  Materiales : 
  = number_with_precision(Wbsitem.get_brief(@item_id, @budget_id, @order)[1], :precision => 2)
%span(style='padding-left: 20px;' class='small-font')
  %i.fa.fa-certificate
  Equipos : 
  = number_with_precision(Wbsitem.get_brief(@item_id, @budget_id, @order)[2], :precision => 2)
%span(style='padding-left: 20px;' class='small-font')
  %i.fa.fa-file 
  Subcontratos :  
  =number_with_precision(Wbsitem.get_brief(@item_id, @budget_id, @order)[3], :precision => 2)
- if @budget.type_of_budget.to_i == 0
  .btn-group
    %span(style='padding-left: 30px;' class='small-font')
      %a(href ='#{filter_by_budget_and_item_management_inputbybudgetanditems_path.to_s}.pdf?budget_id=#{@budget_id}&item_id=#{@item_id}&order=#{@order}' class='btn btn-default btn-mini btn-danger')
        %i.fa.fa-download
        PDF 
      %a(href='#' data-toggle='modal' data-target="#itemsModal" class='btn btn-success btn-mini')
        %i.fa.fa-plus
        Agregar