#wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-eye
    %h2 Tipos de Planilla
  .widget-body
    = simple_form_for([:payrolls, @tpay], html: {class: 'form-horizontal smart-form', autocomplete: 'off' }) do |f|
      %fieldset
        .row
          %section.col.col-md-8
            %label.label Nombre
            %label.input{for: "name"}
              %i.icon-append.fa.fa-user
              = f.input :name, placeholder: "Nombre", input_html: { class: 'form-control' }, label: false
          %section.col.col-md-3
            %label.label Para Obreros o Empleados?
            %select.form-control#tipo{ :name => 'type_of_payslip[for_worker_employee]', :onchange => 'checkWorker("manual");' }
              %option{:value => nil, :selected => true, :disabled => true} Seleccione
              %option{:value => "obrero", :selected => @tpay.for_worker_employee=="obrero"} Obreros
              %option{:value => "empleado", :selected => @tpay.for_worker_employee=="empleado" } Empleados
        %br
        .row
          %section.col.col-md-8
            %label.label Descripción 
            %label.input
              = f.input :description, placeholder: "Descripción", input_html: { class: 'form-control' }, label: false, rows: 4

        .row
          %section.col.col-md-12
            %label.label Conceptos a usar:
            %div#empleado{"style"=>"display:none", :disabled=>true}
              .col.col-4
                %label.label Ingresos:
                = f.association :concepts, as: :check_boxes, :label => false, collection: Concept.where("code LIKE '1%' AND type_empleado IS NOT NULL")
              .col.col-4
                %label.label Descuentos:
                = f.association :concepts, as: :check_boxes, :label => false, collection: Concept.where("code LIKE '2%' AND type_empleado IS NOT NULL")
              .col.col-4
                %label.label Aportaciones:
                = f.association :concepts, as: :check_boxes, :label => false, collection: Concept.where("code LIKE '3%' AND type_empleado IS NOT NULL")
            %div#obrero{"style"=>"display:none", :disabled=>true}
              .col.col-4
                %label.label Ingresos:            
                = f.association :concepts, as: :check_boxes, :label => false, collection: Concept.where("code LIKE '1%' AND type_obrero IS NOT NULL")
              .col.col-4
                %label.label Descuentos:
                = f.association :concepts, as: :check_boxes, :label => false, collection: Concept.where("code LIKE '2%' AND type_obrero IS NOT NULL")
              .col.col-4
                %label.label Aportaciones:
                = f.association :concepts, as: :check_boxes, :label => false, collection: Concept.where("code LIKE '3%' AND type_obrero IS NOT NULL")


      %footer
        %button.btn.btn-primary{type: "submit"}
          %i.fa.fa-save 
          Guardar

:javascript
  $(document).ready(function () {
    $('.check_boxes').attr("style"," position: relative; left: 0; ");
    checkWorker('onload');
    if($('form[id^="edit_"]').length > 0) {
      submit_validate($('form[id^="edit_"]'));
    }else{
      submit_validate($('#new_type_of_payslip'));
    }

  });
  
  function submit_validate(form){
    $(form['selector']).ajaxForm({
      beforeSubmit: function() {
        $(form['selector']).validate({
          // Rules for form validation
          rules : {
            'type_of_payslip[name]' : {
              required : true
            },
            'type_of_payslip[description]' : {
              required : true,
            }
          },

          // Messages for form validation
          messages : {
            'type_of_payslip[name]' : {
              required : "Por favor, ingrese el nombre del documento"
            },
            'type_of_payslip[description]' : {
              required : "Por favor, ingrese una descripción para el documento"
            }
          },
          // Do not change code below
          errorPlacement : function(error, element) {
            error.insertAfter(element.parent());
          }
        });
        // Remove all Help-inLine
        $(".help-inline").remove();
        // Client Valid
        return $(form['selector']).valid();
      },
      target: '#content',
      success: function (data){
        $(".help-inline").parent().addClass("state-error");
      },
      error: function(xhr, status, error) {
      }
    });
  }

  function checkWorker(status){
    if(status=='manual'){
      $('input:checkbox').attr('checked',false);
    }
    var tipo = $('#tipo').val();

    if( tipo=="empleado"){
      $('#empleado').attr('disabled',false).fadeIn('fast');
      $('#obrero').attr('disabled',true).fadeOut('fast');
      $('div#empleado div.col.col-4 div.control-group.check_boxes.optional.type_of_payslip_concepts div.controls label.checkbox input.check_boxes.optional').attr('disabled',false);
      $('div#obrero div.col.col-4 div.control-group.check_boxes.optional.type_of_payslip_concepts div.controls label.checkbox input.check_boxes.optional').attr('disabled',true);
    }

    if(tipo == "obrero"){
      $('#empleado').attr('disabled',true).fadeOut('fast');
      $('#obrero').attr('disabled',false).fadeIn('fast');
      $('div#empleado div.col.col-4 div.control-group.check_boxes.optional.type_of_payslip_concepts div.controls label.checkbox input.check_boxes.optional').attr('disabled',true)
      $('div#obrero div.col.col-4 div.control-group.check_boxes.optional.type_of_payslip_concepts div.controls label.checkbox input.check_boxes.optional').attr('disabled',false)
    }
  }