.row
  .col-md-1
  .col-md-4
    %label Contratos
    %br
    %select#exe{:name =>"valuation_of_equipment[subcontract_equipment_id]", :style => 'width:100%;padding: 0;border: none;'}
      %option{:value => "0"} Seleccione un Contrato
      - @executors.each do |ex|
        %option{:value => "#{ex.entity_id}", :rel => "#{ex.id}"}
          = ex.entity.name.to_s + ' - ' + ex.contract_description.to_s
  .col-md-2
    %label Fecha de inicio
    %input#start-date-input.string.optional.form-control{'name'=>'date1', type: "date"}

  .col-md-2
    %label Fecha de fin
    %input#end-date-input.string.optional.form-control{'name'=>'date2', type: "date"}

  .col-md-3
  %br
    %button.btn.btn-primary.btn-default#show-table{:type => 'button'}
      %i.fa.fa-search
      Consultar
%br
.row
#widget-grid
  .row
    %article.col-xs-12.col-sm-12.col-md-12.col-lg-12
      #table-information-result
%button.btn.btn-sm.btn-primary.btn-prev#backlist{type: "button"}
  %i.fa.fa-arrow-left>
  Retornar al listado de Valorizaciones de Equipo
:javascript

  $('#backlist').click(function(){
      load_url_ajax("#{production_valuation_of_equipments_path}", 'content', {company_id: '#{@company}'}, null, 'GET');
  });
  $(document).ready(function () {
    $('select').select2({width:'100%'});
  });

  $('#show-table').click(function(){
    var start_date = $('#start-date-input').val();
    var end_date = $('#end-date-input').val();
    var exe = $('#exe').val();
    var subcontract = $('option:selected', $('#exe')).attr('rel');

    if(start_date != null && end_date != null && exe!=0) {
      if(new Date(start_date) < new Date(end_date)) {
        var parameters = { company_id: "#{@company}", executor: exe, subcontract: subcontract, start_date: start_date, end_date: end_date, authenticity_token: "#{form_authenticity_token}" };

        load_items_delivery_order_ajax("#{get_report_production_valuation_of_equipments_path}", 'table-information-result', parameters);
      } else {
        alert('La fecha de fin debe ser mayor a la fecha de ingreso.')
      }
    } else {
      alert('Por favor, especificar todos los datos necesarios.')
    }
  });
