#wid-id-0.jarviswidget.jarviswidget-color-blueDark{"data-widget-editbutton" => "false", "data-widget-deletebutton" => "false"}
  -if @flag=="no"
    -if @nhsub=="no"
      %strong No se encontró ninguna subcontrato con ese proveedor
    -else
      %strong Por favor escoja otro fecha, ya que la fecha de inicio es menor a la última valorización
  -else
    = simple_form_for([:production, @valuationofequipment], html: {autocomplete: 'off' }) do |f|
      %header
        %h2
          Valorización de Equipo
        %br
      %div
        .jarviswidget-editbox
        .widget-body
          %table.table.table-bordered{ style: "width: 700px;margin: 0 auto" }
            %thead
              %tr
                %th{'colspan' => 4, "style"=>"color:#5f5f5f;text-align:center;font-size: large"}= @subcontractequipment.entity.name + ' ' + @numbercode
              %tr
                %th{"style"=>"color:#5f5f5f;text-align:center"} Monto contratado
                %th{"style"=>"color:#5f5f5f;text-align:center"} Adelanto
                %th{"style"=>"color:#5f5f5f;text-align:center"} Amortización Acumulada
                %th{"style"=>"color:#5f5f5f;text-align:center"} Saldo
            %tbody
              %th{"style"=>"color:#5f5f5f;text-align:center"}= number_to_currency(@subcontractequipment.contract_amount, unit: 'S/. ', precision: 2)
              %th#adelanto{"style"=>"color:#5f5f5f;text-align:center"}= number_to_currency(@subadvances, unit: 'S/. ', precision: 2)
              %th#amortAcum2{"style"=>"color:#5f5f5f;text-align:center"}= number_to_currency((@subcontractequipment.initial_amortization_number+@amortizaciondeadelanto), unit: 'S/. ', precision: 2)
              %th#saldo{"style"=>"color:#5f5f5f;text-align:center"}= number_to_currency(@balance, unit: 'S/. ', precision: 2), unit: 'S/. ', precision: 2)

      %div
        .jarviswidget-editbox
        .widget-body
          %table.table.table-bordered{ style: "width: 900px;margin: 0 auto" }
            %thead
              %tr
                %th{"style"=>"color:#5f5f5f;text-align:center"} Item
                %th{"style"=>"color:#5f5f5f;text-align:center"} Descripcion
                %th{ 'colspan' => 2, "style"=>"color:#5f5f5f;text-align:center"} Actual
                %th{"style"=>"color:#5f5f5f;text-align:center"} Acumulado Anterior
                %th{"style"=>"color:#5f5f5f;text-align:center"} Acumulado Actual
            %tbody
              %tr
                %th{"style"=>"color:#5f5f5f"} 1.00
                %th{"style"=>"color:#5f5f5f"} Valorización sin IGV
                %th{"style"=>"color:#5f5f5f;text-align:center"}
                  %span{"style"=>"width=20px"}
                    %a.btn.bg-color-blueDark{href: 'javascript:void(0);', :onclick => 'part_equipment();'}
                      %i.fa.fa-list-alt.fa-md.fa-fw{"style"=>"color:white"}
                %th#total{"style"=>"color:#5f5f5f;vertical-align: middle;text-align:center"}= number_to_currency(@totalprice, unit: 'S/. ', precision: 2)
                %th{"style"=>"color:#5f5f5f;vertical-align: middle;text-align:center"}= number_to_currency(@valorizacionsinigv, unit: 'S/. ', precision: 2)
                %th{"style"=>"color:#5f5f5f;vertical-align: middle;text-align:center"}= number_to_currency((@totalprice+@valorizacionsinigv), unit: 'S/. ', precision: 2)
              %tr
                %th{"style"=>"color:#5f5f5f;vertical-align: middle"}= number_to_currency(2, unit: 'S/. ', precision: 2)
                %th{"style"=>"color:#5f5f5f;vertical-align: middle"} 
                  Amortización de Adelanto (SIN. I.G.V.)
                  %br
                  %input#flag{:type =>"checkbox", :onchange => 'check();'} Usar Porcentaje
                %th{"style"=>"color:#5f5f5f;text-align:center"}
                  %input.form-control#percent{:value => "#{@initial_amortization_percent}", :readonly => true, "style"=> "width: 40%;margin: 0 auto;text-align:center", :onkeypress => "return isNumber(event);",  onchange: "this.value = minmax(this.value, 1, 100)"}
                %th{"style"=>"color:#5f5f5f;text-align:center"}
                  %input.form-control#number{:value => "#{@subcontractequipment.initial_amortization_number}", "style"=> "width: 50%;margin: 0 auto;text-align:center", :onkeypress => "return isNumber(event);",  onchange: "this.value = minmax(this.value, 1, 100)"}
                %th#amortLast{"style"=>"color:#5f5f5f;vertical-align: middle;text-align:center"}= number_to_currency(@amortizaciondeadelanto, unit: 'S/. ', precision: 2)
                %th#amortAcum{"style"=>"color:#5f5f5f;vertical-align: middle;text-align:center"}= number_to_currency((@subcontractequipment.initial_amortization_number+@amortizaciondeadelanto), unit: 'S/. ', precision: 2)
              %tr
                %th{"style"=>"color:#5f5f5f"}= number_to_currency(3, unit: 'S/. ', precision: 2)
                %th{"style"=>"color:#5f5f5f"} Total a Facturar
                %th{"style"=>"color:#5f5f5f"}
                %th#totalfac{"style"=>"color:#5f5f5f;text-align:center"}= number_to_currency(@bill, unit: 'S/. ', precision: 2)
                %th#lastTotalFac{"style"=>"color:#5f5f5f;text-align:center"}= number_to_currency(@totalfacturar, unit: 'S/. ', precision: 2)
                %th#acumTotalFac{"style"=>"color:#5f5f5f;text-align:center"}= number_to_currency((@bill+@totalfacturar), unit: 'S/. ', precision: 2)
              %tr
                %th{"style"=>"color:#5f5f5f"}= number_to_currency(4, unit: 'S/. ', precision: 2)
                %th{"style"=>"color:#5f5f5f"} I.G.V. del Total a Facturar
                %th{"style"=>"color:#5f5f5f"}
                %th#igv{"style"=>"color:#5f5f5f;text-align:center"}= number_to_currency(@billigv, unit: 'S/. ', precision: 2)
                %th#lastIgv{"style"=>"color:#5f5f5f;text-align:center"}= number_to_currency(@totalfacigv, unit: 'S/. ', precision: 2)
                %th#acumIgv{"style"=>"color:#5f5f5f;text-align:center"}= number_to_currency((@billigv+@totalfacigv), unit: 'S/. ', precision: 2)
              %tr
                %th{"style"=>"color:#5f5f5f"}
                %th{"style"=>"color:#5f5f5f"} TOTAL INCLUIDO IGV
                %th{"style"=>"color:#5f5f5f"}
                %th#total-igv{"style"=>"color:#5f5f5f;text-align:center"}= number_to_currency((@bill+@billigv), unit: 'S/. ', precision: 2)
                %th#lastTotal{"style"=>"color:#5f5f5f;text-align:center"}= number_to_currency(@totalincluidoigv, unit: 'S/. ', precision: 2)
                %th#acumTotal{"style"=>"color:#5f5f5f;text-align:center"}= number_to_currency((@bill+@billigv+@totalincluidoigv), unit: 'S/. ', precision: 2)
              %tr
                %th{"style"=>"color:#5f5f5f"}= number_to_currency(5.00, unit: 'S/. ', precision: 2)
                %th{ 'colspan' => 5, "style"=>"color:#5f5f5f"} Retenciones
              %tr
                %th{"style"=>"color:#5f5f5f"}= number_to_currency(5.01, unit: 'S/. ', precision: 2)
                %th{"style"=>"color:#5f5f5f"} Detracción del Total (Incl. I.G.V.)
                %th{"style"=>"color:#5f5f5f"}
                %th{"style"=>"color:#5f5f5f;text-align:center"}= number_to_currency(@subcontractequipment.detraction, unit: 'S/. ', precision: 2)
                %th{"style"=>"color:#5f5f5f;text-align:center"}= number_to_currency(@detraccion, unit: 'S/. ', precision: 2)
                %th{"style"=>"color:#5f5f5f;text-align:center"}= number_to_currency((@subcontractequipment.detraction+@detracciontotal), unit: 'S/. ', precision: 2)
              %tr
                %th{"style"=>"color:#5f5f5f"}= number_to_currency(5.02, unit: 'S/. ', precision: 2)
                %th{"style"=>"color:#5f5f5f"} Descuento de Combustible
                %th{"style"=>"color:#5f5f5f"}
                %th{ "style"=>"color:#5f5f5f;text-align:center"}= number_to_currency(@fuel_discount, unit: 'S/. ', precision: 2)
                %th{"style"=>"color:#5f5f5f;text-align:center"}= number_to_currency(@descuentocombustible, unit: 'S/. ', precision: 2)
                %th{"style"=>"color:#5f5f5f;text-align:center"}= number_to_currency((@fuel_discount+@descuentocombustible), unit: 'S/. ', precision: 2)
              %tr
                %th{"style"=>"color:#5f5f5f;vertical-align: middle"}= number_to_currency(5.03, unit: 'S/. ', precision: 2)
                %th{"style"=>"color:#5f5f5f;vertical-align: middle"} Descuento de Otros (Incl. I.G.V.)
                %th{"style"=>"color:#5f5f5f"}
                %th{"style"=>"color:#5f5f5f"}                            
                  = text_field_tag 'valuation_of_equipment[other_discount]', nil, id: "otherdiscounts", class: "form-control amount-item"
                %th#other-discounts{"style"=>"color:#5f5f5f;vertical-align: middle;text-align:center"}= number_to_currency(@descuentootros, unit: 'S/. ', precision: 2)
                %th#total-other-discounts{"style"=>"color:#5f5f5f;vertical-align: middle;text-align:center"}
              %tr
                %th{"style"=>"color:#5f5f5f"}
                %th{"style"=>"color:#5f5f5f"} TOTAL RETENCIONES
                %th{"style"=>"color:#5f5f5f"}
                %th#totalretention{"style"=>"color:#5f5f5f;text-align:center", 'original' => "#{@subcontractequipment.detraction.to_f+@fuel_discount.to_f}"}= number_to_currency((@subcontractequipment.detraction+@fuel_discount), unit: 'S/. ', precision: 2)
                %th#lasttr{"style"=>"color:#5f5f5f;text-align:center"}= number_to_currency(@retenciones, unit: 'S/. ', precision: 2)
                %th#acumtr{"style"=>"color:#5f5f5f;text-align:center"}= number_to_currency((@subcontractequipment.detraction+@fuel_discount + @totalretenciones), unit: 'S/. ', precision: 2)
              %tr
                %th{"style"=>"color:#5f5f5f"} 06
                %th{"style"=>"color:#5f5f5f"} NETO A PAGAR
                %th{"style"=>"color:#5f5f5f"}
                %th#net-pay{ "style"=>"color:#5f5f5f;text-align:center", 'original' => "#{(@bill-@billigv)-(@subcontractequipment.detraction.to_f+@fuel_discount.to_f)}"}= number_to_currency(((@bill+@billigv)-(@subcontractequipment.detraction+@fuel_discount)), unit: 'S/. ', precision: 2)
                %th#lastnetpay{"style"=>"color:#5f5f5f;text-align:center"}= number_to_currency(@netoapagar, unit: 'S/. ', precision: 2)
                %th#acumnetpay{"style"=>"color:#5f5f5f;text-align:center"}= number_to_currency((@bill+@billigv-@subcontractequipment.detraction + @fuel_discount + @netoapagar), unit: 'S/. ', precision: 2)
        %br
        
        #part-equipment.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "partPeopleLabel", role: "dialog", tabindex: "-1"}
        %br
        #report-equipment.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "partPeopleLabel", role: "dialog", tabindex: "-1"}

                
        = hidden_field_tag 'totalretention', @subcontractequipment.detraction.to_f+@fuel_discount.to_f, 'id' => 'input-totalretention'
        = hidden_field_tag 'valuation_of_equipment[name]', @subcontractequipment.entity.name
        = hidden_field_tag 'valuation_of_equipment[code]', @numbercode
        = hidden_field_tag 'valuation_of_equipment[start_date]', @start_date
        = hidden_field_tag 'valuation_of_equipment[end_date]', @end_date
        = hidden_field_tag 'valuation_of_equipment[working_group]', @cad
        = hidden_field_tag 'valuation_of_equipment[valuation]', @totalprice
        = hidden_field_tag 'valuation_of_equipment[initial_amortization_number]', @subcontractequipment.initial_amortization_number.to_f
        = hidden_field_tag 'valuation_of_equipment[initial_amortization_percentage]', @initial_amortization_percent
        = hidden_field_tag 'valuation_of_equipment[bill]', @bill
        = hidden_field_tag 'valuation_of_equipment[billigv]', @billigv
        = hidden_field_tag 'valuation_of_equipment[totalbill]', @bill+@billigv
        = hidden_field_tag 'valuation_of_equipment[retention]', @subcontractequipment.detraction.to_f+@fuel_discount.to_f
        = hidden_field_tag 'valuation_of_equipment[detraction]', @subcontractequipment.detraction
        = hidden_field_tag 'valuation_of_equipment[fuel_discount]', @fuel_discount
        = hidden_field_tag 'valuation_of_equipment[hired_amount]', @subcontractequipment.contract_amount
        = hidden_field_tag 'valuation_of_equipment[advances]', @subadvances
        = hidden_field_tag 'valuation_of_equipment[accumulated_amortization]', @subcontractequipment.initial_amortization_number.to_f+@amortizaciondeadelanto.to_f
        = hidden_field_tag 'valuation_of_equipment[balance]', @balance
        = hidden_field_tag 'valuation_of_equipment[net_payment]', @bill+@billigv-@subcontractequipment.detraction.to_f+@fuel_discount.to_f
        = hidden_field_tag 'valuation_of_equipment[accumulated_valuation]', @totalprice+@valorizacionsinigv
        = hidden_field_tag 'valuation_of_equipment[accumulated_initial_amortization_number]', @subcontractequipment.initial_amortization_number.to_f+@amortizaciondeadelanto.to_f
        = hidden_field_tag 'valuation_of_equipment[accumulated_bill]', @bill+@totalfacturar
        = hidden_field_tag 'valuation_of_equipment[accumulated_billigv]', @billigv+@totalfacigv
        = hidden_field_tag 'valuation_of_equipment[accumulated_totalbill]', @bill+@billigv+@totalincluidoigv
        = hidden_field_tag 'valuation_of_equipment[accumulated_retention]', @subcontractequipment.detraction.to_f+@fuel_discount.to_f + @totalretenciones
        = hidden_field_tag 'valuation_of_equipment[accumulated_detraction]', @subcontractequipment.detraction.to_f+@detracciontotal
        = hidden_field_tag 'valuation_of_equipment[accumulated_fuel_discount]', @fuel_discount+@descuentocombustible
        = hidden_field_tag 'valuation_of_equipment[accumulated_other_discount]', 0
        = hidden_field_tag 'valuation_of_equipment[accumulated_net_payment]', @bill+@billigv-@subcontractequipment.detraction.to_f+@fuel_discount.to_f + @netoapagar

        %footer
          %button.btn.btn-primary{type: "submit"}
            %i.fa.fa-save
              Guardar

    :javascript

      $(document).ready(function(){
        if($('#percent').val()!=0){
          $("#flag").attr('checked', true);
          check();
        }
        $('#new_valuation_of_equipment').ajaxForm({
          target: '#content'
        });
      });

      function check(){
        $('#percent').attr("readonly", !$('#flag').is(':checked'));
        $('#number').attr("disabled", $('#flag').is(':checked'));
      }

      $('#otherdiscounts').change(function(){
        var otherdiscount=$(this).val();
        var other_discount = $('#other-discounts').text();

        if(otherdiscount=='' || otherdiscount==0){

          $('#totalretention').html($('#totalretention').attr('original'));
          $('#input-totalretention').val($('#totalretention').attr('original'));
          $('#total-other-discounts').html(parseFloat($('#totalretention')) + parseFloat(other_discount));
          $(acumtr).text($('#totalretention').text()+$('#lasttr').text());
          $('#valuation_of_equipment_accumulated_retention').val(parseFloat($('#totalretention').text())+parseFloat($('#lasttr').text()));
          $('#net-pay').text($('#total-igv').text() - $('#totalretention').text());
          $('#valuation_of_equipment_net_payment').val($('#total-igv').text() - $('#totalretention').text());
          $('#acumnetpay').text((parseFloat($('#lastnetpay').text()) + parseFloat($('#net-pay').text())).toFixed(2));
          $('#valuation_of_equipment_accumulated_net_payment').val((parseFloat($('#lastnetpay').text()) + parseFloat($('#net-pay').text())).toFixed(2));


        } else {

          var totalretention=parseFloat($('#totalretention').text())
          var other_discount = $('#other-discounts').text();

          $('#totalretention').html(parseFloat(otherdiscount)+parseFloat($('#totalretention').attr('original')));
          $('#input-totalretention').val(parseFloat(otherdiscount)+parseFloat($('#totalretention').attr('original')));
          $('#valuation_of_equipment_retention').val(parseFloat(otherdiscount)+parseFloat($('#totalretention').attr('original')));
          $('#total-other-discounts').html(parseFloat(otherdiscount) + parseFloat(other_discount));
          $(acumtr).text($('#totalretention').text()+$('#lasttr').text());
          $('#valuation_of_equipment_accumulated_retention').val(parseFloat($('#totalretention').text())+parseFloat($('#lasttr').text()));
          $('#valuation_of_equipment_other_discount').val($('#otherdiscounts').val());
          $('#valuation_of_equipment_accumulated_other_discount').val(parseFloat($('#total-other-discounts').text()));
          $('#net-pay').text($('#total-igv').text() - $('#totalretention').text());
          $('#valuation_of_equipment_net_payment').val($('#total-igv').text() - $('#totalretention').text());
          $('#acumnetpay').text((parseFloat($('#lastnetpay').text()) + parseFloat($('#net-pay').text())).toFixed(2));
          $('#valuation_of_equipment_accumulated_net_payment').val((parseFloat($('#lastnetpay').text()) + parseFloat($('#net-pay').text())).toFixed(2));
        }

      });

      $('#input-totalretention').change(function(){
        var retention = parseFloat($(this).text());
        var total_igv = parseFloat($('#total-igv').text());
        $('#net-pay').html(total_igv-retention)
      })

      $('#percent').change(function(){
        if($('#total').text()!=""){
          $('#number').val(' ');
          $('#number').val((parseInt($('#total').text())*$('#percent').val()/100).toFixed(2));
        }
      });

      $('#number').change(function(){
        if($('#total').text()!= ""){
          $('#percent').text(' ');
          $('#percent').val(($('#number').val()/parseInt($('#total').text())*100).toFixed(2));

          $('#valuation_of_equipment_initial_amortization_number').val($('#number').val());
          $('#valuation_of_equipment_initial_amortization_percentage').val(($('#number').val()/parseInt($('#total').text())*100).toFixed(2));
          $('#amortAcum').text((parseFloat($('#amortLast').text()) + parseFloat($('#number').val())).toFixed(2));
          $('#amortAcum2').text((parseFloat($('#amortLast').text()) + parseFloat($('#number').val())).toFixed(2));
          $('#saldo').text((parseInt($('#adelanto').text())-parseFloat($('#amortAcum2').text())).toFixed(2));
          $('#valuation_of_equipment_accumulated_amortization').val((parseFloat($('#amortLast').text()) + parseFloat($('#number').val())).toFixed(2));
          $('#valuation_of_equipment_accumulated_initial_amortization_number').val((parseFloat($('#amortLast').text()) + parseFloat($('#number').val())).toFixed(2));

          $('#totalfac').text((parseInt($('#total').text()) - parseFloat($('#number').val())).toFixed(2));
          $('#valuation_of_equipment_bill').val((parseInt($('#total').text()) - parseFloat($('#number').val())).toFixed(2));
          $('#acumTotalFac').text((parseFloat($('#lastTotalFac').text()) + parseFloat($('#totalfac').text())).toFixed(2));
          $('#valuation_of_equipment_accumulated_bill').val((parseFloat($('#lastTotalFac').text()) + parseFloat($('#totalfac').text())).toFixed(2));

          $('#igv').text(($('#totalfac').text()*0.18));
          $('#valuation_of_equipment_billigv').val(parseFloat($('#totalfac').text())*0.18);
          $('#acumIgv').text((parseFloat($('#lastIgv').text()) + parseFloat($('#igv').text())).toFixed(2));
          $('#valuation_of_equipment_accumulated_billigv').val((parseFloat($('#lastIgv').text()) + parseFloat($('#igv').text())).toFixed(2));

          $('#total-igv').text((parseFloat($('#igv').text()) + parseFloat($('#totalfac').text())).toFixed(2));
          $('#valuation_of_equipment_totalbill').val((parseFloat($('#igv').text()) + parseFloat($('#totalfac').text())).toFixed(2));
          $('#acumTotal').text((parseFloat($('#lastTotal').text()) + parseFloat($('#total-igv').text())).toFixed(2));
          $('#valuation_of_equipment_accumulated_totalbill').val((parseFloat($('#lastTotal').text()) + parseFloat($('#total-igv').text())).toFixed(2));

          $('#net-pay').text($('#total-igv').text() - $('#totalretention').text());
          $('#valuation_of_equipment_net_payment').val($('#total-igv').text() - $('#totalretention').text());
          $('#acumnetpay').text((parseFloat($('#lastnetpay').text()) + parseFloat($('#net-pay').text())).toFixed(2));
          $('#valuation_of_equipment_accumulated_net_payment').val((parseFloat($('#lastnetpay').text()) + parseFloat($('#net-pay').text())).toFixed(2));
        }
      });

      function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 47 && charCode < 58 || charCode==46) {
          return true;
        }else{
          return false;
        }
      }

      function minmax(value, min, max){
        if($('#flag').is(':checked')){
          max = 100;
        }else{
          max = parseFloat($('#total').text());
        }
        
        if(parseInt(value) < min || isNaN(value)) 
          return min; 
        else if(parseInt(value) > max) 
          return max; 
        else return value;
      }

      function part_equipment() {
        data = { authenticity_token: "#{form_authenticity_token}", start_date: "#{@start_date}", end_date: "#{@end_date}", cad: "#{@cad}", name: "#{@subcontractequipment.entity.name}", code: "#{@numbercode}" };
        load_url_ajax('#{part_equipment_production_valuation_of_equipments_path}', 'part-equipment', data, '', 'POST');
        $('#part-equipment').modal({
          keyboard: false,
          backdrop: 'static'
        });
      }