#wid-id-0.jarviswidget.jarviswidget-color-blueDark{"data-widget-editbutton" => "false", "data-widget-deletebutton" => "false"}
  -if @flag=="no"
    -if @nhsub=="no"
      %strong No se encontró ninguna subcontrato con ese proveedor
    -else
      %strong Por favor escoja otro fecha, ya que la fecha de inicio es menor a la última valorización
  -else
    = simple_form_for([:production, @valuationofequipment], html: {autocomplete: 'off' }) do |f|
      %header
        %h2
          Valorización de Equipo
        %br
      %div
        .jarviswidget-editbox
        .widget-body
          %table.panel.panel-primary{ style: "height: 90px; width: 850px;margin: 0 auto" }
            %thead.panel-heading
              %tr
                %th#trig.trig{"style"=>"display:none;"} 0
                %th{'colspan' => 4, "style"=>"text-align:center;font-size: large"}= @subcontractequipment.entity.name + ' - VALORIZACIÓN N° ' + @numbercode

            %tbody
              %tr{"bgcolor"=>"#3276B1"}
                %th{"style"=>"color:white;text-align:center"} Monto contratado
                %th{"style"=>"color:white;text-align:center"} Adelanto
                %th{"style"=>"color:white;text-align:center"} Amortización Acumulada
                %th{"style"=>"color:white;text-align:center"} Saldo
              %th{"style"=>"color:#5f5f5f;text-align:center"}= number_to_currency(@subcontractequipment.contract_amount, unit: 'S/. ', precision: 2)
              %th#adelanto{"style"=>"color:#5f5f5f;text-align:center"}= number_to_currency(@subadvances, unit: 'S/. ', precision: 2)
              %th#amortAcum2{"style"=>"color:#5f5f5f;text-align:center"}= number_to_currency((@subcontractequipment.initial_amortization_number.to_f+@amortizaciondeadelanto.to_f), unit: 'S/. ', precision: 2)
              %th#saldo{"style"=>"color:#5f5f5f;text-align:center"}= number_to_currency(@subadvances-(@subcontractequipment.initial_amortization_number.to_f+@amortizaciondeadelanto.to_f), unit: 'S/. ', precision: 2)

      %div
        .jarviswidget-editbox
        .widget-body
          %table.panel.panel-primary.table-bordered{ style: "height: 530px;width: 850px;margin: 0 auto" }
            %thead.panel-heading
              %tr{"bgcolor"=>"#3276B1",style: "height: 45px;"}
                %th{"style"=>"color:#white;text-align:center"} Item
                %th{"style"=>"color:#white;text-align:center"} Descripcion
                %th{"style"=>"color:#white;text-align:center"} Actual
                %th{"style"=>"color:#white;text-align:center"} Acumulado Anterior
                %th{"style"=>"color:#white;text-align:center"} Acumulado Actual
            %tbody{:style => 'background-color: #fff;'}
              %tr{"bgcolor"=>"#ECF3F8"}
                %th{"style"=>"color:#5f5f5f; text-align:center;"} 01
                %th{"style"=>"color:#5f5f5f"} 
                  ="Valorización sin IGV"
                  %span{"style"=>"width=20px;float:right;padding-right:11px;"}
                    %a#boton1.btn.btn-xs.btn-danger{href: 'javascript:void(0);', :onclick => 'part_equipment();',"data-toggle" => "tooltip", :title => "Detalle de Equipos"}
                      %i.fa.fa-list-ol{"style"=>"color:white"}
                %th#total{"style"=>"color:#5f5f5f;vertical-align: middle;text-align:center", 'original' =>"#{@totalprice.to_f}"}= number_to_currency(@totalprice.to_f, unit: 'S/. ', precision: 2)
                %th{"style"=>"color:#5f5f5f;vertical-align: middle;text-align:center"}= number_to_currency(@valorizacionsinigv.to_f, unit: 'S/. ', precision: 2)
                %th{"style"=>"color:#5f5f5f;vertical-align: middle;text-align:center"}= number_to_currency(@totalprice.to_f+@valorizacionsinigv.to_f, unit: 'S/. ', precision: 2)
              %tr
                %th{"style"=>"color:#5f5f5f;vertical-align: middle; text-align:center;"} 02
                %th{"style"=>"color:#5f5f5f;vertical-align: middle"} 
                  Amortización de Adelanto (SIN. I.G.V.)
                  %br
                  %input#flag{:type =>"checkbox", :onchange => 'check();'} Usar Porcentaje
                  %input.form-control#percent.percent{:value => "#{@initial_amortization_percent}", :readonly => true, "style"=> "width: 30%;margin: 0 auto;text-align:center;margin-left:65%;", :onkeypress => "return isNumber(event);",  onchange: "this.value = minmax(this.value, 1, 100)"}
                %th{"style"=>"color:#5f5f5f;text-align:center"}
                  %input.form-control#number.number{:value => "#{@subcontractequipment.initial_amortization_number}", "style"=> "width: 50%;margin: 0 auto;text-align:center", :onkeypress => "return isNumber(event);",  onchange: "this.value = minmax(this.value, 1, 100)"}
                %th#amortLast{"style"=>"color:#5f5f5f;vertical-align: middle;text-align:center", 'original' =>"#{@amortizaciondeadelanto.to_f}"}= number_to_currency(@amortizaciondeadelanto.to_f, unit: 'S/. ', precision: 2)
                %th#amortAcum{"style"=>"color:#5f5f5f;vertical-align: middle;text-align:center"}= number_to_currency(@subcontractequipment.initial_amortization_number.to_f+@amortizaciondeadelanto.to_f, unit: 'S/. ', precision: 2)
              %tr{"bgcolor"=>"#ECF3F8"}
                %th{"style"=>"color:#5f5f5f; text-align:center;"} 03
                %th{"style"=>"color:#5f5f5f"} Total a Facturar
                %th#totalfac{"style"=>"color:#5f5f5f;text-align:center"}= number_to_currency(@bill, unit: 'S/. ', precision: 2)
                %th#lastTotalFac{"style"=>"color:#5f5f5f;text-align:center", 'original' =>"#{@totalfacturar.to_f}"}= number_to_currency(@totalfacturar.to_f, unit: 'S/. ', precision: 2)
                %th#acumTotalFac{"style"=>"color:#5f5f5f;text-align:center"}= number_to_currency(@bill+@totalfacturar.to_f, unit: 'S/. ', precision: 2)
              %tr
                %th{"style"=>"color:#5f5f5f; text-align:center;"} 04
                %th{"style"=>"color:#5f5f5f"} I.G.V. del Total a Facturar
                %th#igv{"style"=>"color:#5f5f5f;text-align:center"}= number_to_currency(@billigv.to_f, unit: 'S/. ', precision: 2)
                %th#lastIgv{"style"=>"color:#5f5f5f;text-align:center", 'original' =>"#{@totalfacigv.to_f}"}= number_to_currency(@totalfacigv.to_f, unit: 'S/. ', precision: 2)
                %th#acumIgv{"style"=>"color:#5f5f5f;text-align:center"}= number_to_currency(@billigv.to_f+@totalfacigv.to_f, unit: 'S/. ', precision: 2)
              %tr{"bgcolor"=>"#3276B1"}
                %th{"style"=>"color:#5f5f5f"}
                %th{"style"=>"color:white"} TOTAL INCLUIDO IGV
                %th#total-igv.total-igv{"style"=>"color:white;text-align:center", 'original' =>"#{@bill.to_f+@billigv.to_f}"}= number_to_currency(@bill.to_f+@billigv.to_f, unit: 'S/. ', precision: 2)
                %th#lastTotal{"style"=>"color:white;text-align:center", 'original' =>"#{@totalincluidoigv.to_f}"}= number_to_currency(@totalincluidoigv.to_f, unit: 'S/. ', precision: 2)
                %th#acumTotal{"style"=>"color:white;text-align:center"}= number_to_currency(@bill.to_f+@billigv.to_f+@totalincluidoigv.to_f, unit: 'S/. ', precision: 2)
              %tr{"bgcolor"=>"#ECF3F8"}
                %th{"style"=>"color:#5f5f5f; text-align:center;"} 05.00
                %th{ 'colspan' => 5, "style"=>"color:#5f5f5f"} Retenciones
              %tr
                %th{"style"=>"color:#5f5f5f; text-align:center;padding-left:15px;"} 05.01
                %th{"style"=>"color:#5f5f5f;padding-left:18px;"}= "Detracción del Total (Incl. I.G.V.) ("+@detraccion.to_s+"%)"
                %th#detractionPercent{"style"=>"display:none;"}=@subcontractequipment.detraction.to_f/100
                %th#totalDetraction{"style"=>"color:#5f5f5f;text-align:center"}= number_to_currency(((@bill.to_f+@billigv.to_f)*(@subcontractequipment.detraction.to_f/100)).round, unit: 'S/. ', precision: 2)
                %th{"style"=>"color:#5f5f5f;text-align:center"}= number_to_currency(@totalincluidoigv.to_f*@detraccion.to_f/100, unit: 'S/. ', precision: 2)
                %th{"style"=>"color:#5f5f5f;text-align:center"}= number_to_currency((@bill.to_f+@billigv.to_f+@totalincluidoigv.to_f)*((@subcontractequipment.detraction.to_f+@detracciontotal.to_f)/100), unit: 'S/. ', precision: 2)
              %tr
                %th{"style"=>"color:#5f5f5f; text-align:center;padding-left:15px;"} 05.02
                %th{"style"=>"color:#5f5f5f;padding-left:18px;"} Descuento de Combustible
                %th{ "style"=>"color:#5f5f5f;text-align:center"}= number_to_currency(@fuel_discount.to_f, unit: 'S/. ', precision: 2)
                %th{"style"=>"color:#5f5f5f;text-align:center"}= number_to_currency(@descuentocombustible.to_f, unit: 'S/. ', precision: 2)
                %th{"style"=>"color:#5f5f5f;text-align:center"}= number_to_currency(@fuel_discount.to_f+@descuentocombustible.to_f, unit: 'S/. ', precision: 2)
              %tr
                %th{"style"=>"color:#5f5f5f;vertical-align: middle; text-align:center;padding-left:15px;"} 05.03
                %th{"style"=>"color:#5f5f5f;vertical-align: middle;padding-left:18px;"} Descuento de Otros (Incl. I.G.V.)
                %th{"style"=>"color:#5f5f5f"}
                %th{"style"=>"color:#5f5f5f;width:20%;margin:0 auto;"}                            
                  = text_field_tag 'valuation_of_equipment[other_discount]', nil, id: "otherdiscounts", class: "form-control amount-item"
                %th#other-discounts{"style"=>"color:#5f5f5f;vertical-align: middle;text-align:center"}= number_to_currency(@descuentootros.to_f, unit: 'S/. ', precision: 2)
                %th#total-other-discounts{"style"=>"color:#5f5f5f;vertical-align: middle;text-align:center"}
              %tr
                %th{"style"=>"color:#5f5f5f"}
                %th{"style"=>"color:#5f5f5f;padding-left:18px;"} TOTAL RETENCIONES
                %th#totalretention{"style"=>"color:#5f5f5f;text-align:center", 'original' => "#{((@bill.to_f+@billigv.to_f)*(@subcontractequipment.detraction.to_f/100)).round+@fuel_discount.to_f}"}= number_to_currency(((@bill.to_f+@billigv.to_f)*(@subcontractequipment.detraction.to_f/100)).round+@fuel_discount.to_f, unit: 'S/. ', precision: 2)
                %th#lasttr{"style"=>"color:#5f5f5f;text-align:center", 'original' =>"#{@retenciones.to_f}"}= number_to_currency(@retenciones.to_f, unit: 'S/. ', precision: 2)
                %th#acumtr{"style"=>"color:#5f5f5f;text-align:center"}= number_to_currency((@bill.to_f+@billigv.to_f+@totalincluidoigv.to_f)*((@subcontractequipment.detraction.to_f+@detracciontotal.to_f)/100)+@fuel_discount.to_f+@totalretenciones.to_f, unit: 'S/. ', precision: 2)
              %tr{"bgcolor"=>"#3276B1"}
                %th{"style"=>"color:white; text-align:center;"} 06
                %th{"style"=>"color:white"} NETO A PAGAR

                %th#net-pay{ "style"=>"color:white;text-align:center", 'original' => "#{(@bill-@billigv)-(((@bill.to_f+@billigv.to_f)*(@subcontractequipment.detraction.to_f/100)).round+@fuel_discount.to_f)}"}= number_to_currency((@bill+@billigv)-(((@bill.to_f+@billigv.to_f)*(@subcontractequipment.detraction.to_f/100)).round+@fuel_discount.to_f), unit: 'S/. ', precision: 2)
                %th#lastnetpay{"style"=>"color:white;text-align:center", 'original' =>"#{@netoapagar.to_f}"}= number_to_currency(@netoapagar.to_f, unit: 'S/. ', precision: 2)
                %th#acumnetpay{"style"=>"color:white;text-align:center"}= number_to_currency(@bill.to_f+@billigv.to_f-((@bill.to_f+@billigv.to_f)*(@subcontractequipment.detraction.to_f/100)).round+@fuel_discount.to_f + @netoapagar.to_f, unit: 'S/. ', precision: 2)

        %br
        #part-equipment.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "partPeopleLabel", role: "dialog", tabindex: "-1"}
        %br
        #report-equipment.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "partPeopleLabel", role: "dialog", tabindex: "-1"}

                
        = hidden_field_tag 'totalretention', ((@bill.to_f+@billigv.to_f)*(@subcontractequipment.detraction.to_f/100)).round+@fuel_discount.to_f, 'id' => 'input-totalretention'
        = hidden_field_tag 'valuation_of_equipment[name]', @subcontractequipment.entity.name
        = hidden_field_tag 'valuation_of_equipment[code]', @numbercode
        = hidden_field_tag 'valuation_of_equipment[start_date]', @start_date
        = hidden_field_tag 'valuation_of_equipment[end_date]', @end_date
        = hidden_field_tag 'valuation_of_equipment[working_group]', @cad
        = hidden_field_tag 'valuation_of_equipment[valuation]', @totalprice
        = hidden_field_tag 'valuation_of_equipment[initial_amortization_number]', @subcontractequipment.initial_amortization_number.to_f
        = hidden_field_tag 'valuation_of_equipment[initial_amortization_percentage]', @initial_amortization_percent
        = hidden_field_tag 'valuation_of_equipment[bill]', @bill
        = hidden_field_tag 'valuation_of_equipment[billigv]', @billigv
        = hidden_field_tag 'valuation_of_equipment[totalbill]', @bill+@billigv
        = hidden_field_tag 'valuation_of_equipment[retention]', ((@bill.to_f+@billigv.to_f)*(@subcontractequipment.detraction.to_f/100)).round+@fuel_discount.to_f
        = hidden_field_tag 'valuation_of_equipment[detraction]', @subcontractequipment.detraction
        = hidden_field_tag 'valuation_of_equipment[fuel_discount]', @fuel_discount
        = hidden_field_tag 'valuation_of_equipment[hired_amount]', @subcontractequipment.contract_amount
        = hidden_field_tag 'valuation_of_equipment[advances]', @subadvances
        = hidden_field_tag 'valuation_of_equipment[accumulated_amortization]', @subcontractequipment.initial_amortization_number.to_f+@amortizaciondeadelanto.to_f
        = hidden_field_tag 'valuation_of_equipment[balance]', (@subadvances-(@subcontractequipment.initial_amortization_number.to_f+@amortizaciondeadelanto.to_f))
        = hidden_field_tag 'valuation_of_equipment[net_payment]', @bill+@billigv-((@bill.to_f+@billigv.to_f)*(@subcontractequipment.detraction.to_f/100)).round+@fuel_discount.to_f
        = hidden_field_tag 'valuation_of_equipment[accumulated_valuation]', @totalprice+@valorizacionsinigv
        = hidden_field_tag 'valuation_of_equipment[accumulated_initial_amortization_number]', @subcontractequipment.initial_amortization_number.to_f+@amortizaciondeadelanto.to_f
        = hidden_field_tag 'valuation_of_equipment[accumulated_bill]', @bill+@totalfacturar
        = hidden_field_tag 'valuation_of_equipment[accumulated_billigv]', @billigv+@totalfacigv
        = hidden_field_tag 'valuation_of_equipment[accumulated_totalbill]', @bill+@billigv+@totalincluidoigv
        = hidden_field_tag 'valuation_of_equipment[accumulated_retention]', ((@bill.to_f+@billigv.to_f)*(@subcontractequipment.detraction.to_f/100)).round+@fuel_discount.to_f + @totalretenciones
        = hidden_field_tag 'valuation_of_equipment[accumulated_detraction]', @subcontractequipment.detraction.to_f+@detracciontotal
        = hidden_field_tag 'valuation_of_equipment[accumulated_fuel_discount]', @fuel_discount+@descuentocombustible
        = hidden_field_tag 'valuation_of_equipment[accumulated_other_discount]', 0
        = hidden_field_tag 'valuation_of_equipment[accumulated_net_payment]', @bill+@billigv-((@bill.to_f+@billigv.to_f)*(@subcontractequipment.detraction.to_f/100)).round+@fuel_discount.to_f + @netoapagar
        = hidden_field_tag 'valuation_of_equipment[subcontract_equipment_id]', @subcontract_equipment_id

        %footer
          %button.btn.btn-primary{type: "submit"}
            %i.fa.fa-save
              Guardar

    :javascript

      $(document).ready(function(){

          $(document).on('DOMSubtreeModified','.total-igv', function(event){
            $('#totalDetraction').text((parseFloat($('#total-igv').text())*parseFloat($('#detractionPercent').text())).toFixed(2));
            //console.log("total-igv: "+$('#total-igv').text());
          });

          $(document).on('DOMSubtreeModified','.trig', function(event){
            $('#totalretention').html(parseFloat($('#totalretention').attr('original')));
            $('#total').html(parseFloat($('#total').attr('original')).toFixed(2));
            $('#amortLast').html(parseFloat($('#amortLast').attr('original')));
            $('#lastTotalFac').html(parseFloat($('#lastTotalFac').attr('original')));
            $('#lastIgv').html(parseFloat($('#lastIgv').attr('original')));
            $('#lastTotal').html(parseFloat($('#lastTotal').attr('original')));
            $('#lastnetpay').html(parseFloat($('#lastTotal').attr('original')));

            if($('#total').text()!= ""){
              //console.log('#total.text!=nil');
              $('#percent').text(' ');
              $('#percent').val(($('#number').val()/parseInt($('#total').text())*100).toFixed(2));
              $('#valuation_of_equipment_initial_amortization_number').val($('#number').val());
              $('#valuation_of_equipment_initial_amortization_percentage').val(($('#number').val()/parseInt($('#total').text())*100).toFixed(2));
              $('#amortAcum').text((parseFloat($('#amortLast').text()) + parseFloat($('#number').val())).toFixed(2));
              $('#amortAcum2').text((parseFloat($('#amortLast').text()) + parseFloat($('#number').val())).toFixed(2));

              $('#saldo').text((#{@subadvances} - parseFloat($('#amortAcum2').text())).toFixed(2));

              $('#valuation_of_equipment_accumulated_amortization').val((parseFloat($('#amortLast').text()) + parseFloat($('#number').val())).toFixed(2));
              $('#valuation_of_equipment_accumulated_initial_amortization_number').val((parseFloat($('#amortLast').text()) + parseFloat($('#number').val())).toFixed(2));
              $('#totalfac').text((parseInt($('#total').text()) - parseFloat($('#number').val())).toFixed(2));
              $('#valuation_of_equipment_bill').val((parseInt($('#total').text()) - parseFloat($('#number').val())).toFixed(2));
              $('#acumTotalFac').text((parseFloat($('#lastTotalFac').text()) + parseFloat($('#totalfac').text())).toFixed(2));
              $('#valuation_of_equipment_accumulated_bill').val((parseFloat($('#lastTotalFac').text()) + parseFloat($('#totalfac').text())).toFixed(2));

              $('#igv').text(($('#totalfac').text()*0.18).toFixed(2));
              $('#valuation_of_equipment_billigv').val(parseFloat($('#totalfac').text())*0.18);
              $('#acumIgv').text((parseFloat($('#lastIgv').text()) + parseFloat($('#igv').text())).toFixed(2));
              $('#valuation_of_equipment_accumulated_billigv').val((parseFloat($('#lastIgv').text()) + parseFloat($('#igv').text())).toFixed(2));

              $('#total-igv').text((parseFloat($('#igv').text()) + parseFloat($('#totalfac').text())).toFixed(2));
              $('#valuation_of_equipment_totalbill').val((parseFloat($('#igv').text()) + parseFloat($('#totalfac').text())).toFixed(2));
              $('#acumTotal').text((parseFloat($('#lastTotal').text()) + parseFloat($('#total-igv').text())).toFixed(2));
              $('#valuation_of_equipment_accumulated_totalbill').val((parseFloat($('#lastTotal').text()) + parseFloat($('#total-igv').text())).toFixed(2));

              $('#net-pay').text($('#total-igv').text() - $('#totalretention').text());

              $('#valuation_of_equipment_net_payment').val($('#total-igv').text() - $('#totalretention').text());
              $('#acumnetpay').text((parseFloat($('#lastnetpay').text()) + parseFloat($('#net-pay').text())).toFixed(2));
              //console.log($('#acumnetpay').text());
              //console.log($('#lastnetpay').text());
              //console.log($('#net-pay').text());
              $('#valuation_of_equipment_accumulated_net_payment').val((parseFloat($('#lastnetpay').text()) + parseFloat($('#net-pay').text())).toFixed(2));
            }
          });

        if($('#percent').val()!=0){
          $("#flag").attr('checked', true);
          check();
        }
        $('#new_valuation_of_equipment').ajaxForm({
          target: '#content'
        });

        $("#boton1").hover(function () {
          $('#boton1').tooltip('show');
        },function(){
          $('#boton1').tooltip('hide');
        })
      });

      function check(){
        $('#percent').attr("readonly", !$('#flag').is(':checked'));
        $('#number').attr("disabled", $('#flag').is(':checked'));
      }

      $('#otherdiscounts').change(function(){
        var otherdiscount=$(this).val();
        var other_discount = $('#other-discounts').text();

        if(otherdiscount=='' || otherdiscount==0){

          $('#totalretention').html($('#totalretention').attr('original'));
          $('#total-igv').html(parseFloat($('#total-igv').attr('original')));
          $('#lastnetpay').html(parseFloat($('#lastnetpay').attr('original')));
          $('#lasttr').html(parseFloat($('#lasttr').attr('original')));
          $('#input-totalretention').val($('#totalretention').attr('original'));
          $('#total-other-discounts').html(parseFloat($('#totalretention')) + parseFloat(other_discount));
          $(acumtr).text($('#totalretention').text()+$('#lasttr').text());
          $('#valuation_of_equipment_accumulated_retention').val(parseFloat($('#totalretention').text())+parseFloat($('#lasttr').text()));
          $('#net-pay').text($('#total-igv').text() - $('#totalretention').text());

          $('#valuation_of_equipment_net_payment').val($('#total-igv').text() - $('#totalretention').text());
          $('#acumnetpay').text((parseFloat($('#lastnetpay').text()) + parseFloat($('#net-pay').text())).toFixed(2));
       
          $('#valuation_of_equipment_accumulated_net_payment').val((parseFloat($('#lastnetpay').text()) + parseFloat($('#net-pay').text())).toFixed(2));


        } else {

          var totalretention=parseFloat($('#totalretention').text())
          var other_discount = $('#other-discounts').text();

          $('#totalretention').html(parseFloat(otherdiscount)+parseFloat($('#totalretention').attr('original')));
          $('#total-igv').html(parseFloat($('#total-igv').attr('original')));
          $('#lastnetpay').html(parseFloat($('#lastnetpay').attr('original')));
          $('#lasttr').html(parseFloat($('#lasttr').attr('original')));
          $('#input-totalretention').val(parseFloat(otherdiscount)+parseFloat($('#totalretention').attr('original')));
          $('#valuation_of_equipment_retention').val(parseFloat(otherdiscount)+parseFloat($('#totalretention').attr('original')));
          $('#total-other-discounts').html(parseFloat(otherdiscount) + parseFloat(other_discount));
          $(acumtr).text($('#totalretention').text()+$('#lasttr').text());
          $('#valuation_of_equipment_accumulated_retention').val(parseFloat($('#totalretention').text())+parseFloat($('#lasttr').text()));
          $('#valuation_of_equipment_other_discount').val($('#otherdiscounts').val());
          $('#valuation_of_equipment_accumulated_other_discount').val(parseFloat($('#total-other-discounts').text()));
          $('#net-pay').text($('#total-igv').text() - $('#totalretention').text());

          $('#valuation_of_equipment_net_payment').val($('#total-igv').text() - $('#totalretention').text());
          $('#acumnetpay').text((parseFloat($('#lastnetpay').text()) + parseFloat($('#net-pay').text())).toFixed(2));

          $('#valuation_of_equipment_accumulated_net_payment').val((parseFloat($('#lastnetpay').text()) + parseFloat($('#net-pay').text())).toFixed(2));
        }

      });

      $('#input-totalretention').change(function(){
        var retention = parseFloat($(this).text());
        var total_igv = parseFloat($('#total-igv').text());
        $('#net-pay').html(total_igv - retention)

      })

      $('#percent').change(function(){
        $('#total').html(parseFloat($('#total').attr('original')));
        if($('#total').text()!=""){
          $('#number').val(' ');
          $('#number').val((parseInt($('#total').text())*$('#percent').val()/100).toFixed(2));
        }
        $('#trig').text('1');
      });

      $('#number').change(function(){
        $('#totalretention').html(parseFloat($('#totalretention').attr('original')));
        $('#total').html(parseFloat($('#total').attr('original')));
        $('#amortLast').html(parseFloat($('#amortLast').attr('original')));
        $('#lastTotalFac').html(parseFloat($('#lastTotalFac').attr('original')));
        $('#lastIgv').html(parseFloat($('#lastIgv').attr('original')));
        $('#lastTotal').html(parseFloat($('#lastTotal').attr('original')));
        $('#lastnetpay').html(parseFloat($('#lastTotal').attr('original')));
        if($('#total').text()!= ""){
          //console.log('#total.text!=nil');
          $('#percent').text(' ');
          $('#percent').val(($('#number').val()/parseInt($('#total').text())*100).toFixed(2));
          $('#valuation_of_equipment_initial_amortization_number').val($('#number').val());
          $('#valuation_of_equipment_initial_amortization_percentage').val(($('#number').val()/parseInt($('#total').text())*100).toFixed(2));
          $('#amortAcum').text((parseFloat($('#amortLast').text()) + parseFloat($('#number').val())).toFixed(2));
          $('#amortAcum2').text((parseFloat($('#amortLast').text()) + parseFloat($('#number').val())).toFixed(2));



          $('#saldo').text((parseInt($('#adelanto').text())-parseFloat($('#amortAcum2').text())).toFixed(2));
          $('#valuation_of_equipment_accumulated_amortization').val((parseFloat($('#amortLast').text()) + parseFloat($('#number').val())).toFixed(2));
          $('#valuation_of_equipment_accumulated_initial_amortization_number').val((parseFloat($('#amortLast').text()) + parseFloat($('#number').val())).toFixed(2));
          $('#totalfac').text((parseInt($('#total').text()) - parseFloat($('#number').val())).toFixed(2));
          $('#valuation_of_equipment_bill').val((parseInt($('#total').text()) - parseFloat($('#number').val())).toFixed(2));
          $('#acumTotalFac').text((parseFloat($('#lastTotalFac').text()) + parseFloat($('#totalfac').text())).toFixed(2));
          $('#valuation_of_equipment_accumulated_bill').val((parseFloat($('#lastTotalFac').text()) + parseFloat($('#totalfac').text())).toFixed(2));

          $('#igv').text(($('#totalfac').text()*0.18));
          $('#valuation_of_equipment_billigv').val(parseFloat($('#totalfac').text())*0.18);
          $('#acumIgv').text((parseFloat($('#lastIgv').text()) + parseFloat($('#igv').text())).toFixed(2));
          $('#valuation_of_equipment_accumulated_billigv').val((parseFloat($('#lastIgv').text()) + parseFloat($('#igv').text())).toFixed(2));

          $('#total-igv').text((parseFloat($('#igv').text()) + parseFloat($('#totalfac').text())).toFixed(2));
          $('#valuation_of_equipment_totalbill').val((parseFloat($('#igv').text()) + parseFloat($('#totalfac').text())).toFixed(2));
          $('#acumTotal').text((parseFloat($('#lastTotal').text()) + parseFloat($('#total-igv').text())).toFixed(2));
          $('#valuation_of_equipment_accumulated_totalbill').val((parseFloat($('#lastTotal').text()) + parseFloat($('#total-igv').text())).toFixed(2));

          $('#net-pay').text($('#total-igv').text() - $('#totalretention').text());

          $('#valuation_of_equipment_net_payment').val($('#total-igv').text() - $('#totalretention').text());
          $('#acumnetpay').text((parseFloat($('#lastnetpay').text()) + parseFloat($('#net-pay').text())).toFixed(2));
          //console.log($('#acumnetpay').text());
          //console.log($('#lastnetpay').text());
          //console.log($('#net-pay').text());
          $('#valuation_of_equipment_accumulated_net_payment').val((parseFloat($('#lastnetpay').text()) + parseFloat($('#net-pay').text())).toFixed(2));
        }
      });

      function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 47 && charCode < 58 || charCode==46) {
          return true;
        }else{
          return false;
        }
      }

      function minmax(value, min, max){
        if($('#flag').is(':checked')){
          max = 100;
        }else{
          max = parseFloat($('#total').text());
        }
        
        if(parseInt(value) < min || isNaN(value)) 
          return min; 
        else if(parseInt(value) > max) 
          return max; 
        else return value;
      }

      function part_equipment() {
        data = { authenticity_token: "#{form_authenticity_token}", start_date: "#{@start_date}", end_date: "#{@end_date}", cad: "#{@cad}", name: "#{@subcontractequipment.entity.name}", code: "#{@numbercode}", ids: "#{@cad}" };
        load_url_ajax('#{part_equipment_production_valuation_of_equipments_path}', 'part-equipment', data, '', 'POST');
        $('#part-equipment').modal({
          keyboard: false,
          backdrop: 'static'
        });
      }