#wid-id-0.jarviswidget.jarviswidget-color-darken{"data-widget-editbutton" => "false", "data-widget-deletebutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-table
  %div
    .jarviswidget-editbox
    .widget-body.no-padding
      .widget-body-toolbar
      %table#summary-purchase-orders.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th #id
            %th Nombre
            %th #Valorizacion
            %th Fecha
            %th Estado
            %th Acciones
        %tbody
          - @valuationofequipment.each do |unit|
            %tr
              %td= unit.id
              %td= unit.name + ' ' + unit.code
              %td= unit.valuation
              %td= unit.start_date.to_s + " - " + unit.end_date.to_s
              %td= unit.state
              %td
                %a.btn.btn-success.btn-xs{:onclick => "javascript:load_url_ajax('#{production_valuation_of_equipment_path(unit.id)}', 'content', {company_id: '#{@company}'}, null, 'GET')"}
                  Ver información
                %a.btn.btn-danger.btn-xs{:data => {:toggle => 'confirmation', :placement => 'left', :title => 'Esta seguro de eliminar el item ' + "#{unit.name}?", :singleton => 'true', :popout => 'true', :onclick => "javascript:delete_to_url('#{production_valuation_of_equipment_path(unit.id)}' + '?authenticity_token=#{form_authenticity_token}', 'content', '#{production_valuation_of_equipments_path}?company_id=#{@company}')"}}
                  Eliminar


:javascript

  $(document).ready(function () {
    $('[data-toggle="confirmation"]').confirmation();
  });                  