.modal-dialog{ style: "width: 1250px;" }
  .modal-content
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"}
        \×
    .modal-body
      -if @workers_array3.count>0
        %h1.page-title.txt-color-blueDark Parte de Equipos
        %table.table.table-bordered
          %thead
            %tr
              %th{'colspan' => 11, "style"=>"color:#5f5f5f"}=@name + ' ' + @code
            %tr
              %th #
              %th Equipo
              %th Und
              %th Precio U.
              %th Metrado Anterior
              %th Monto Anterior
              %th Metrado Actual
              %th Monto Actual
              %th Metrado Acumulado
              %th Monto Acumulado
              %th Accion
          %tbody
          - index = 1
          - @array.each do |workerDetail3|
            %tr
              %th{ 'style' => 'font-weight: normal;text-align:center;vertical-align: middle' }= index
              %th{ 'style' => 'font-weight: normal;text-align:center;vertical-align: middle' }= workerDetail3[1] + ' ' + Article.find_article_by_global_article(SubcontractEquipmentDetail.find_by_code(workerDetail3[1]).article_id ,session[:cost_center])
              %th{ 'style' => 'font-weight: normal;text-align:center;vertical-align: middle' }= index
              %th{ 'style' => 'font-weight: normal;text-align:center;vertical-align: middle' }= number_to_currency(workerDetail3[3], unit: 'S/. ', precision: 2)
              %th{ 'style' => 'font-weight: normal;text-align:center;vertical-align: middle' }= number_to_currency(workerDetail3[5], unit: 'S/. ', precision: 2)
              %th{ 'style' => 'font-weight: normal;text-align:center;vertical-align: middle' }= number_to_currency(workerDetail3[6], unit: 'S/. ', precision: 2)
              %th{ 'style' => 'text-align:center;vertical-align: middle' }= number_to_currency(workerDetail3[2], unit: 'S/. ', precision: 2)
              %th{ 'style' => 'text-align:center;vertical-align: middle' }= number_to_currency(workerDetail3[4], unit: 'S/. ', precision: 2)
              %th{ 'style' => 'font-weight: normal;text-align:center;vertical-align: middle' }= number_to_currency(workerDetail3[5]+workerDetail3[2], unit: 'S/. ', precision: 2)
              %th{ 'style' => 'font-weight: normal;text-align:center;vertical-align: middle' }= number_to_currency(workerDetail3[6]+workerDetail3[4], unit: 'S/. ', precision: 2)
              %th
                %span{"style"=>"width=20px"}
                  %a.btn.bg-color-blueDark{href: 'javascript:void(0);', :onclick => "report_of_equipment(#{workerDetail3[0]})"}
                    %i.fa.fa-list-alt.fa-md.fa-fw{"style"=>"color:white"}
            - index += 1
      -else
        %h4.modal-title No hay datos.
        %br
      %footer
        %button.btn.btn-info{"data-dismiss" => "modal", type: "button"}
          Salir
    %br

:javascript

  function report_of_equipment(subcontract) {
    data = { authenticity_token: "#{form_authenticity_token}", start_date: "#{@start_date}", end_date: "#{@end_date}", cad: "#{@cad}", subcontractequipment: subcontract, name: "#{@name}" };
    load_url_ajax('#{report_of_equipment_production_valuation_of_equipments_path}', 'report-equipment', data, '', 'POST');
    $('#part-equipment').modal('hide');
    $('#report-equipment').modal({
      keyboard: false,
      backdrop: 'static'
    });
  }