.modal-dialog{ style: "width: 1250px;" }
  .modal-content
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"}
        \×
    .modal-body
      -if @workers_array3.count>0
        %h1.page-title.txt-color-blueDark Parte de Equipos
        %table.table.table-bordered
          %thead
            %tr
              %th{'colspan' => 11, "style"=>"color:#5f5f5f"}=@name + ' ' + @code
            %tr
              %th #
              %th Equipo
              %th Und
              %th Precio U.
              %th Metrado Anterior
              %th Monto Anterior
              %th Metrado Actual
              %th Monto Actual
              %th Metrado Acumulado
              %th Monto Acumulado
              %th Accion
          %tbody
          - index = 1
          -# puts "---codigo----"
          -# puts @code
          - @array.each do |workerDetail3|
            %tr
              %th{ 'style' => 'font-weight: normal;text-align:center;vertical-align: middle' }= index
              %th{ 'style' => 'font-weight: normal;text-align:center;vertical-align: middle' }= workerDetail3[1] + ' ' + Article.find_article_by_global_article(SubcontractEquipmentDetail.find_by_code(workerDetail3[1]).article_id ,session[:cost_center])
              %th{ 'style' => 'font-weight: normal;text-align:center;vertical-align: middle' }= Article.find_by_id(Article.find_article_by_global_article2(SubcontractEquipmentDetail.find_by_code(workerDetail3[1]).article_id ,session[:cost_center])).unit_of_measurement.name
              %th{ 'style' => 'font-weight: normal;text-align:center;vertical-align: middle' }= number_to_currency(workerDetail3[3], unit: 'S/. ', precision: 2)
              %th{ 'style' => 'font-weight: normal;text-align:center;vertical-align: middle' }= sprintf('%.2f',workerDetail3[5].to_f)
              %th{ 'style' => 'font-weight: normal;text-align:center;vertical-align: middle' }
                -if @code!="001"
                  - @workers_array5.each do |workers|
                    -if workers[1]==workerDetail3[1]
                      = number_to_currency((workers[4].to_f-workerDetail3[4].to_f), unit: 'S/. ', precision: 2)
                -else
                  =0
              %th{ 'style' => 'text-align:center;vertical-align: middle' }= sprintf('%.2f', workerDetail3[2].to_s)
              %th{ 'style' => 'text-align:center;vertical-align: middle' }= number_to_currency(workerDetail3[4].to_s, unit: 'S/. ', precision: 2)
              %th{ 'style' => 'font-weight: normal;text-align:center;vertical-align: middle' }= sprintf('%.2f',(workerDetail3[5].to_f+workerDetail3[2]).to_s)
              %th{ 'style' => 'font-weight: normal;text-align:center;vertical-align: middle' }
                -if @code!="001"
                  - @workers_array5.each do |workers|
                    -if workers[1]==workerDetail3[1]
                      = number_to_currency((workers[4].to_f), unit: 'S/. ', precision: 2)
                -else
                  = number_to_currency(workerDetail3[4].to_s, unit: 'S/. ', precision: 2)
              %th
                %span{"style"=>"width=20px"}
                  %a.btn.bg-color-blueDark{href: 'javascript:void(0);', :onclick => "report_of_equipment(#{workerDetail3[0]})"}
                    %i.fa.fa-list-alt.fa-md.fa-fw{"style"=>"color:white"}
            - index += 1
      -else
        %h4.modal-title No hay datos.
        %br
      %footer
        -if @action=="show"
          %a.btn.btn-sm.btn-success.btn-prev{ :href => "#{part_equipment_pdf_production_valuation_of_equipments_path}.pdf?name=#{@name}&code=#{@code}&start_date=#{@start_date}&end_date=#{@end_date}&cad=#{@cad}&ids=#{@ids}", :target => '_blank', :style=>"float: right;"}
            Ver PDF
        %button.btn.btn-info{"data-dismiss" => "modal", type: "button"}
          Salir
    %br

:javascript

  function report_of_equipment(subcontract) {
    data = { authenticity_token: "#{form_authenticity_token}", start_date: "#{@start_date}", end_date: "#{@end_date}", cad: "#{@cad}", subcontractequipment: subcontract, name: "#{@name}", ids:"#{@ids}", ac: "#{@action}", code: "#{@code}" };
    load_url_ajax('#{report_of_equipment_production_valuation_of_equipments_path}', 'report-equipment', data, '', 'POST');
    $('#part-equipment').modal('hide');
    $('#report-equipment').modal({
      keyboard: false,
      backdrop: 'static'
    });
  }