%fieldset
  %legend Registro de Partidas
  .col-lg-20
    %table.has-tickbox(class="table table-condensed table-bordered table-striped table-hover dataTable" style="font-size: 12px;" id="summary-workers" aria-describedby="data-table_info")
      %thead
        %tr
          %th{style: "width: 18%;"} Trabajador
          %th{style: "width: 16%;"} Asistencia
          %th{style: "width: 12%;"} Motivo de Falta
          %th{style: "width: 12%;"} Sector
          %th{style: "width: 12%;"} Fase
          %th{style: "width: 11%;"} Grupo de Trabajo
          %th{style: "width: 11%;"} Centro de Costo
          %th{style: "width: 2%;"} HE 25%
          %th{style: "width: 2%;"} HE 35%                
          %th{style: "width: 4%;"} Eliminar
      %tbody
        - @workers.each do |worker|
          - worker = Worker.find(worker[0])
          -contract = worker.worker_contracts.where(" start_date <=  '#{@date}' AND end_date >=  '#{@date}'").last
          -if !contract.nil?
            %tr
              %td.bank-id(style="display:none")
                = hidden_field_tag 'part_worker[part_worker_details_attributes][' + worker.id.to_s + '][worker_id]', worker.id
              %td=worker.entity.paternal_surname.to_s + ' ' + worker.entity.maternal_surname.to_s + ', ' + worker.entity.name.to_s + ' ' + worker.entity.second_name.to_s
              %td.assistance
                %label.radio-inline
                  %input.radiobox{:name =>'part_worker[part_worker_details_attributes][' + worker.id.to_s + '][assistance]', :type => 'radio', :value => "si", onchange: 'activatereasonlack(this);', :checked => true}
                  %span Si
                %label.radio-inline
                  %input.radiobox{:name =>'part_worker[part_worker_details_attributes][' + worker.id.to_s + '][assistance]', :type => 'radio', :value => "no", onchange: 'activatereasonlack(this);'}
                  %span No
              %td.reason.smart-form
                %div.reason2
                  %select.form-control.reasonlack{:name =>'part_worker[part_worker_details_attributes][' + worker.id.to_s + '][reason_of_lack]', 'style' => 'display:none' }
                    %option{:value => "", :selected => 'selected'} Seleccione una falta
                    %option{:value => "Licencia sin goce de haber"} Licencia sin goce de haber
                    %option{:value => "Licencia con goce de haber"} Licencia con goce de haber
                    %option{:value => "Vacaciones y/o adelanto de vacaciones"} Vacaciones y/o adelanto de vacaciones
                    %option{:value => "Faltas injustificadas"} Faltas injustificadas
                    %option{:value => "Descanso Médico"} Descanso Médico
                    %option{:value => "Subsidios por enfermedad"} Subsidios por enfermedad
                    %option{:value => "Subsidios por maternidad"} Subsidios por maternidad
              %td.sector.smart-form
                %div
                  %select.form-control{:name =>"part_worker[part_worker_details_attributes][#{worker.id.to_s}][sector_id]", :style => 'width:100%;padding: 0;border: none;'}
                    %option{:value => "", :selected => true, :disabled => true} Seleccionar Sector
                    - @sectors.each do |sector|
                      %optgroup{:label => "#{sector.name}"}
                        - Sector.getSubSectors(sector.code,@cc).each do |subsector|
                          %option{:value => "#{subsector.id}", :selected => @sector.to_i==subsector.id}
                            = subsector.name
              %td.phase.smart-form
                %div
                  %select.form-control{:name =>"part_worker[part_worker_details_attributes][#{worker.id.to_s}][phase_id]", :style => 'width:100%;padding: 0;border: none;'}
                    %option{:value => "", :selected => true, :disabled => true} Seleccionar Fase
                    - @phases.each do |phase|
                      %option{:value => "#{phase.id}", :selected=>@phase.to_i==phase.id}
                        = phase.code + ' - ' + phase.name
              %td.working-group.smart-form
                %div
                  %select.form-control{:name =>"part_worker[part_worker_details_attributes][#{worker.id.to_s}][working_group_id]", :style => 'width:100%;padding: 0;border: none;'}
                    %option{:value => ''} Seleccione Grupo de Trabajo
                    - @working_groups.each do |working_group|
                      %option{:value => "#{working_group.id}", :selected => @wg.to_i==working_group.id}
                        = working_group.name
              %td.costcenter
                %div
                  %select.form-control{:name =>"part_worker[part_worker_details_attributes][#{worker.id.to_s}][cost_center_id]", :style => 'width:100%;padding: 0;border: none;'}
                    %option{:value => "0", :selected => true, :disabled => true} Seleccionar Centro de Costo
                    - @costcenters.each do |costcenters|
                      %option{:value => "#{costcenters.id}", :selected => costcenters.id==@cc.to_i}
                        = costcenters.code
              %td.he-25
                %div
                  %input{:name=>'part_worker[part_worker_details_attributes]['+worker.id.to_s+'][he_25]', :style => "width:50px"}
              %td.he-35
                %div
                  %input{:name=>'part_worker[part_worker_details_attributes]['+worker.id.to_s+'][he_35]', :style => "width:50px"}
              %td{:style => "width: 1%; text-align: center;"}
                %a{href: "javascript:delete_item('"+@reg_n.to_s+"')"}(class="btn") X

:javascript
  $(document).ready(function(){
    $('select').select2({width:'150px'});
  });
