#content-inside
  .row
    .col-xs-12.col-sm-7.col-md-7.col-lg-7
      %h2.page-title.txt-color-blueDark
        %i.fa.fa-pencil-square-o.fa-fw 
        = Budget.where(:id => @valorization.budget_id).first.description
      %h3.page-title.txt-color-blueDark
        =@valorization.name rescue " "
        DEL MES DE
        = t("date.month_names")[@month] rescue " "
        = @year rescue " "
.row
  .col-md-12
    = render :partial => "table"

%br
%a{:href=>"javascript:load_url_ondiv('#{management_valorizations_path}', 'right-area')"}(class="btn btn-primary btn-xs")
  %i.fa.fa-arrow-left
  Retornar al listado de valorizaciones
 
:javascript
  $(function() {
    $(".table-gantt").resizable();
  });