#content-inside
  .row
    .col-xs-12.col-sm-7.col-md-7.col-lg-4
      %h1.page-title.txt-color-blueDark
        %i.fa.fa-pencil-square-o.fa-fw 
        Editar usuario
  #widget-grid
    .row
      %article.col-sm-12.col-md-12.col-lg-6
        #wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-editbutton" => "false"}
          %header
            %span.widget-icon
              %i.fa.fa-eye
            %h2 Usuario
          .widget-body
            = simple_form_for([:logistics, @user], url: logistics_person_path, method: 'PATCH', html: {class: 'form-horizontal smart-form' }) do |f|
              %fieldset
                .row
                  %section.col.col-10
                    %label.label Primer Nombre
                    %label.input{for: "first_name"}
                      %i.icon-append.fa.fa-user
                      = f.input :first_name, placeholder: "Primer Nombre", input_html: { class: 'form-control' }, label: false
                .row
                  %section.col.col-10
                    %label.label Segundo Nombre
                    %label.input{for: "last_name"}
                      %i.icon-append.fa.fa-user
                      = f.input :last_name, placeholder: "Segundo Nombre", input_html: { class: 'form-control' }, label: false
                .row
                  %section.col.col-10
                    %label.label Apellidos
                    %label.input{for: "surname"}
                      %i.icon-append.fa.fa-user
                      = f.input :surname, placeholder: "Apellidos", input_html: { class: 'form-control' }, label: false
                .row
                  %section.col.col-10
                    %label.label Email
                    %label.input{for: "email"}
                      %i.icon-append.fa.fa-user
                      = f.input :email, placeholder: "Email", input_html: { class: 'form-control' }, label: false
                .row
                  %section.col.col-10
                    %label.label Contraseña
                    %label.input{for: "email"}
                      %i.icon-append.fa.fa-user
                      = f.input :password, placeholder: "Contraseña", input_html: { class: 'form-control' }, label: false
                .row
                  %section.col.col-10
                    %label.label Rol de Usuario
                    %label.select
                      %select.select2#role-user{:name => "role[]", :style => "width:100%;padding: 0;border: none;", :multiple => true}
                        - status = false
                        - @all_roles.each do |rol|
                          - @roles.each_with_index do |role, i|
                            - if role.to_s == rol[0].to_s
                              %option{value: "#{rol[0]}", selected: true}
                                = rol[1]
                              - status = false
                              - break
                            - else
                              - status = true
                          - if status
                            %option{value: "#{rol[0]}"}
                              = rol[1]
                      %i
                .row
                  %section.col.col-10
                    %label.label Acceso a Compañias
                    %label.select
                      = f.association :companies, :as => :collection_select, :label => false, :input_html =>{:class => "select2", :multiple => true}
                .row
                  %section.col.col-10
                    %label.label Acceso a Centro de Costo
                    %label.select
                      = f.association :cost_centers, :as => :collection_select, :label => false, :input_html =>{:class => "select2", :multiple => true}
              %footer
                %button.btn.btn-primary{type: "submit"}
                  %i.fa.fa-save 
                  Guardar


= javascript_include_tag 'plugin/flot/jquery.flot.cust'
= javascript_include_tag 'plugin/flot/jquery.flot.resize'
= javascript_include_tag 'plugin/datatables/DT_bootstrap'

:javascript
  $(document).ready(function () {
    $("#role-user").focus();
    $('#role-user').select2();
    $('#user_company_ids').select2({ width: '100%' });
    $('#user_cost_center_ids').select2({ width: '100%' });
    if($('form[id^="edit_"]').length > 0) {
      submit_validate($('form[id^="edit_"]'));
    }else{
      submit_validate($('#new_user'));
    }
  });
  
  function submit_validate(form){
    $(form['selector']).ajaxForm({
      beforeSubmit: function() {
        $(form['selector']).validate({
          // Rules for form validation
          rules : {
            'user[first_name]' : {
              required : true,
            },
            'user[last_name]' : {
              required : true
            },
            'user[surname]' : {
              required : true
            },
            'user[email]' : {
              required : true,
              email: true
            },
            'user[password]' : {
              required : true,
              minlength : 8
            },
            'role' : {
              required : true
            }
          },

          // Messages for form validation
          messages : {
            'user[first_name]' : {
              required : 'El primer nombre es requerido.'
            },
            'user[last_name]' : {
              required : 'El segundo nombre es requerido.'
            },
            'user[surname]' : {
              required : 'El apellido es requerido.'
            },
            'user[email]' : {
              required : 'El email es requerido.',
              email: 'Por favor, ingrese un email válido.'
            },
            'user[password]' : {
              required : 'La contraseña es requerida.',
              minlength : 'La contraseña debe ser, por lo menos, de 8 caracteres.'
            },
            'role' : {
              required : 'Por favor, defina el rol de usuario.'
            }
          },

          // Do not change code below
          errorPlacement : function(error, element) {
            error.insertAfter(element.parent());
          }
        });
        return $(form['selector']).valid();
      },
      target: '#content'
    });
  }
