#content-inside
  #widget-grid
    .row
      %article.col-sm-12.col-md-12.col-lg-6
        #wid-id-3.jarviswidget{"data-widget-custombutton" => "false", "data-widget-editbutton" => "false"}
          %header
            %span.widget-icon
              %i.fa.fa-edit
            %h2
              Información de Usuario
          / widget div
          %div
            / widget edit box
            .jarviswidget-editbox
              / This area used as dropdown edit box
            / end widget edit box
            / widget content
            .widget-body.no-padding
              = simple_form_for([:logistics, @person], url: logistics_person_path, method: 'PATCH', html: {multipart: true,class: 'smart-form' }) do |f|
                %header
                  = @person.first_name
                %fieldset
                  .row
                    %section.col.col-6
                      %label.input{for: "first_name"}
                        %i.icon-append.fa.fa-user
                        = f.input :first_name, placeholder: "Primer Nombre", html: { class: 'form-control' }, label: false
                    %section.col.col-6
                      %label.input{for: "last_name"}
                        %i.icon-append.fa.fa-user
                        = f.input :last_name, placeholder: "Segundo Nombre", html: { class: 'form-control' }, label: false
                  .row
                    %section.col.col-6
                      %label.input{for: "surname"}
                        %i.icon-append.fa.fa-phone
                        = f.input :surname, placeholder: "Apellidos", html: { class: 'form-control' }, label: false
                    %section.col.col-6
                      %label.input{for: "email"}
                        %i.icon-append.fa.fa-envelope-o
                        = f.input :email, placeholder: "E-mail", html: { class: 'form-control' }, label: false
                %fieldset
                  .row
                    %section.col.col-6
                      %label.input
                        %i.fa.fa-calendar.icon-append
                        %input#dateBirth.form-control.datepicker.hasDatepicker{"data-dateformat" => "dd/mm/yy", name: "user[date_of_birth]", placeholder: "Fecha de Nacimiento", type: "text", value: "#{@person.date_of_birth}"}
                  %section
                    %label.input.input-file{for: "avatar"}
                      .button
                        = f.input :avatar, html: { class: 'form-control' }, label: false, onchange: "this.parentNode.nextSibling.value = this.value", as: "file"
                        Browse
                      %input{placeholder: "Include some files", readonly: "readonly", type: "text"}/
                %footer
                  %button.btn.btn-primary{type: "submit"}
                    %i.fa.fa-save
                    Actualizar Datos

      %article.col-sm-12.col-md-12.col-lg-6
        #wid-id-2.jarviswidget{"data-widget-custombutton" => "false", "data-widget-editbutton" => "false"}
          %header
            %span.widget-icon
              %i.fa.fa-edit
            %h2
              Imagen del Usuario
          / widget div
          %div{role: 'content'}
            / widget edit box
            .jarviswidget-editbox
              / This area used as dropdown edit box
            / end widget edit box
            / widget content
            .widget-body.no-padding
              .smart-form
                %fieldset{style: 'text-align:center'}
                  = image_tag current_user.avatar.url, alt: "me"
= javascript_include_tag 'plugin/vectormap/jquery-jvectormap-1.2.2.min'
= javascript_include_tag 'plugin/jquery-form/jquery-form.min'
= javascript_include_tag 'plugin/fullcalendar/jquery.fullcalendar.min'
= javascript_include_tag 'plugin/datatables/jquery.dataTables-cust.min'
= javascript_include_tag 'plugin/bootstrap-timepicker/bootstrap-timepicker.min'
= javascript_include_tag 'plugin/colorpicker/bootstrap-colorpicker.min'

:javascript
  // DO NOT REMOVE : GLOBAL FUNCTIONS!
  pageSetUp();
  
  
  // PAGE RELATED SCRIPTS

  // Load form valisation dependency 
  loadScript("#{ asset_path 'plugin/jquery-form/jquery-form.min', type: :javascript }", runFormValidation);
  
  
  // Registration validation script
  function runFormValidation() {
        
    var $registerForm = $("form[id^=edit_user]").validate({

      // Rules for form validation
      rules : {
        'user[first_name]' : {
          required : true
        },
        'user[last_name]' : {
          required : true
        },
        'user[surname]' : {
          required : true
        },
        'user[email]' : {
          required : true,
          email : true
        }
      },

      // Messages for form validation
      messages : {
        login : {
          required : 'Please enter your login'
        },
        email : {
          required : 'Please enter your email address',
          email : 'Please enter a VALID email address'
        },
        password : {
          required : 'Please enter your password'
        },
        passwordConfirm : {
          required : 'Please enter your password one more time',
          equalTo : 'Please enter the same password as above'
        },
        firstname : {
          required : 'Please select your first name'
        },
        lastname : {
          required : 'Please select your last name'
        },
        gender : {
          required : 'Please select your gender'
        },
        terms : {
          required : 'You must agree with Terms and Conditions'
        }
      },

      // Do not change code below
      errorPlacement : function(error, element) {
        error.insertAfter(element.parent());
      }
    });

    // START AND FINISH DATE
    $('#dateBirth').datepicker();

  };