-id=@reg_main.to_s+"-"+@apply.to_s
.col.col-md-12{:id=>id}
  .col.col-md-1
    %i.fa.fa-check
  .col.col-md-3
    = @name_concept
    = hidden_field_tag 'purchase_order[purchase_order_details_attributes][' + @reg_main.to_s + '][purchase_order_extra_calculations_attributes][' + @reg_n.to_s + '][extra_calculation_id]', @concept
  = hidden_field_tag 'purchase_order[purchase_order_details_attributes][' + @reg_main.to_s + '][purchase_order_extra_calculations_attributes][' + @reg_n.to_s + '][type]', @type
  .col.col-md-2
    = @value.to_s + ' ' + @name_type.to_s
    = hidden_field_tag 'purchase_order[purchase_order_details_attributes][' + @reg_main.to_s + '][purchase_order_extra_calculations_attributes][' + @reg_n.to_s + '][value]', @value
  .col.col-md-4
    = @name_apply
    = hidden_field_tag 'purchase_order[purchase_order_details_attributes][' + @reg_main.to_s + '][purchase_order_extra_calculations_attributes][' + @reg_n.to_s + '][apply]', @apply
    %a.btn.btn-default{href: "javascript:delete_extra_op('"+id.to_s+"')", :style => 'width: 10%;margin-left: 10px;'}
      %i.fa.fa-times  
  = hidden_field_tag 'purchase_order[purchase_order_details_attributes][' + @reg_main.to_s + '][purchase_order_extra_calculations_attributes][' + @reg_n.to_s + '][operation]', @operation

:javascript
  $(document).ready(function(){
    var reg = #{@reg_main};
    var reg2;
    if(#{@apply=="before"}){
      reg2 = reg + "b > input";
    }else{
      reg2 = reg + "a > input";
    }    
    var hijos = $('#'+reg2).length;
    var id = reg+"-"+hijos;
    var value = 0;
    if(#{@operation=="sum"}){
      value = parseFloat(#{@value})*-1;
    }else{
      value = #{@value};
    }
    if(#{@type=="percent"}){
      value = value/100;
    }
    if(#{@apply=="before"}){
      $('#'+reg+"b").append( "<input id="+id+" value="+value+"></input>" );
    }else{
      $('#'+reg+"a").append( "<input id="+id+" value="+value+"></input>" );
    }
    calcularcondescuentos(#{@reg_main});
  });