= simple_form_for([:logistics, @purchaseOrder], html: {class: 'form-horizontal', novalidate: 'novalidate', autocomplete: 'off' }) do |f|
  = hidden_field_tag "company_id", @company
  = hidden_field_tag "purchase_order[cost_center_id]", @cost_center
  %fieldset
    .row
      .col-md-4
        .form-group
          %label.col-md-4.control-label Fecha de Emisión
          .col-md-8
            .input-group
              = f.input :date_of_issue, as: :string, :input_html => {:class => 'form-control', :type => "date", value: Time.now.to_date}, label: false, readonly: true
              %span.input-group-addon
                %i.fa.fa-calendar
      .col-md-4
        .form-group
          %label.col-md-4.control-label Fecha de Vencimiento
          .col-md-8
            .input-group
              = f.input :expiration_date, as: :string, :input_html => {:class => 'form-control', :type => "date"}, label: false
              %span.input-group-addon
                %i.fa.fa-calendar
      .col-md-4
        .form-group
          %label.col-md-4.control-label Fecha de Entrega
          .col-md-8
            .input-group
              = f.input :delivery_date, as: :string, :input_html => {:class => 'form-control', :type => "date"}, label: false
              %span.input-group-addon
                %i.fa.fa-calendar
    .row
      .col-md-4
        .form-group
          %label.col-md-4.control-label Moneda
          .col-md-8
            .input-group
              %select.form-control#category-select{:name =>"purchase_order[money_id]"}
                - @moneys.each do |money|
                  %option{:value => "#{money.id}"}
                    = money.name
              %span.input-group-addon
                %i.fa.fa-money
      .col-md-4
        .form-group
          %label.col-md-4.control-label Tipo de cambio
          .col-md-8
            .input-group
              = text_field(:purchase_order, :exchange_of_rate, class: "form-control")
              %span.input-group-addon
                %i.fa.fa-warning
      .col-md-4
        .form-group
          %label.col-md-4.control-label Forma de pago
          .col-md-8
            .input-group
              %select.form-control{:name =>"purchase_order[method_of_payment_id]"}
                - @methodOfPayments.each do |mop|
                  %option{:value => "#{mop.id}"}
                    = mop.name
              %span.input-group-addon
                %i.fa.fa-gears
    .row
      .col-md-4
        .form-group
          %label.col-md-3.control-label Proveedores
          .col-md-9
            .input-group
              %select.form-control{:name =>"purchase_order[entity_id]"}
                - @suppliers.each do |supp|
                  %option{:value => "#{supp.id}"}
                    = supp.name.to_s + ' ' + supp.paternal_surname.to_s
              %span.input-group-addon
                %i.fa.fa-truck
      .col-md-4
        .form-group
          %label.col-md-2.control-label Estado
          .col-md-10
            .input-group
              = f.input :state, :input_html => {:class => 'form-control', :value => translate_purchase_order_state(@purchaseOrder.state)}, label: false, readonly: true
              %span.input-group-addon
                %i.fa.fa-flag
      .col-md-4
        .form-group
          %label.col-md-3.control-label Responsable
          .col-md-9
            .input-group
              = text_field(:purchaseOrder, :liable, class: "form-control", value: "#{current_user.first_name} #{current_user.last_name}", readonly: true)
              %span.input-group-addon
                %i.fa.fa-male
    .row
      .col-md-12
        .form-group
          %label.col-md-2.control-label Glosa
          .col-md-10
            .input-group
              = f.input :description, placeholder: "Glosa", :input_html => {:class => 'form-control'}, label: false
              %span.input-group-addon
                %i.fa.fa-align-justify
  %fieldset
    .row
      .col-md-12
        .actions
          %button.btn.btn-sm.btn-success#btn-add-more-items-do{'type' => 'button', :style => 'margin-right: 10px;'}
            Agregar más items
          %button.btn.btn-primary#btn-info-cost{'type' => 'button'}
            Calcular Total y Sub-Total
  %br
  %fieldset
    %table(class="table table-condensed table-bordered table-striped table-hover has-tickbox smart-form" style="font-size: 12px;" id="summary-delivery-orders" aria-describedby="data-table_info")
      %thead
        %tr
          %th Codigo
          %th Nombre del Artículo
          %th{'style' => 'width: 4%;'}
            Unidad
          %th{'style' => 'width: 5%;'}
            Cantidad
          %th{'style' => 'width: 4%;'}
            Precio Unitario
          %th{'style' => 'width: 6%;'}
            Total antes de IGV
          %th{'style' => 'width: 5%;'}
            ¿Aplica IGV?
          %th{'style' => 'width: 8%;'}
            Total después de IGV
          %th{'style' => 'width: 1%;'} Operaciones Adicionales
          %th{'style' => 'width: 30%;'} Descripción
      %tbody#order_delivery_items_table

  .form-actions
    .row
      .col-md-12
        %button.btn.btn-primary{ :type => 'submit' }
          %i.fa.fa-save
          Guardar