#wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-pencil-square-o.fa-fw 
    %h2
      %strong Editar Orden de Compra
  %div{:style => "padding-top: 0"}
    .jarviswidget-editbox
    .widget-body 
      = simple_form_for([:logistics, @purchaseOrder], html: {class: 'form-horizontal', autocomplete: 'off' }) do |f|
        = hidden_field_tag "company_id", @company
        - f.fields_for :purchase_order_details do |del|
          = del.hidden_field :lock_version
        = f.hidden_field :lock_version
        %input#cont{:style=>"display:none;", :value=>0}
        .col-sm-12

          %fieldset
            %legend{'style' => 'border:none'}
            .row
              .col-md-4
                .form-group
                  %label.col-md-4.control-label Fecha de Emisión
                  .col-md-8
                    .input-group
                      = f.input :date_of_issue, as: :string, :input_html => {:class => 'form-control', :type => "date"}, label: false
                      %span.input-group-addon
                        %i.fa.fa-calendar
              .col-md-4
                .form-group
                  %label.col-md-4.control-label Fecha de Vencimiento
                  .col-md-8
                    .input-group
                      = f.input :expiration_date, as: :string, :input_html => {:class => 'form-control', :type => "date"}, label: false
                      %span.input-group-addon
                        %i.fa.fa-calendar
              .col-md-4
                .form-group
                  %label.col-md-4.control-label Fecha de Entrega
                  .col-md-8
                    .input-group
                      = f.input :delivery_date, as: :string, :input_html => {:class => 'form-control', :type => "date"}, label: false
                      %span.input-group-addon
                        %i.fa.fa-calendar
            .row
              .col-md-4
                .form-group
                  %label.col-md-4.control-label Moneda
                  .col-md-8
                    .input-group
                      %select.form-control#category-select{:name =>"purchase_order[money_id]"}
                        - @moneys.each do |money|
                          - if @purchaseOrder.money_id == money.id
                            %option{:value => "#{money.id}", :rel => "", :selected => true}
                              = money.name
                          - else
                            %option{:value => "#{money.id}", :rel => ""}
                              = money.name
                      %span.input-group-addon
                        %i.fa.fa-money
              .col-md-4
                .form-group
                  %label.col-md-4.control-label Tipo de cambio
                  .col-md-8
                    .input-group
                      = text_field(:purchase_order, :exchange_of_rate, :value => "#{@purchaseOrder.exchange_of_rate}", class: "form-control")
                      %span.input-group-addon
                        %i.fa.fa-warning
              .col-md-4
                .form-group
                  %label.col-md-4.control-label Forma de pago
                  .col-md-8
                    .input-group
                      %select.form-control#category-select{:name =>"purchase_order[method_of_payment_id]"}
                        - @methodOfPayments.each do |mop|
                          - if @purchaseOrder.method_of_payment_id == mop.id
                            %option{:value => "#{mop.id}", :selected => true}
                              = mop.name
                          - else
                            %option{:value => "#{mop.id}"}
                              = mop.name
                      %span.input-group-addon
                        %i.fa.fa-gears
            .row
              .col-md-4
                .form-group
                  %label.col-md-3.control-label Proveedores
                  .col-md-9
                    %input#proveedor-select.form-control{"name" =>"purchase_order[entity_id]", 'type' => 'hidden', 'style' => 'width:100%;padding: 0;border: none;', 'value' => "#{@purchaseOrder.entity_id}"}

              .col-md-8
                .form-group
                  %label.col-md-2.control-label Glosa
                  .col-md-10
                    .input-group.smart-form
                      = f.input :description, placeholder: "Glosa", :input_html => {:class => 'form-control'}, label: false
                      %span.input-group-addon
                        %i.fa.fa-align-justify
          %br
          %fieldset
            .row
              .col-md-6
                .actions
                  %button.btn.btn-sm.btn-success#btn-add-more-items-do{'type' => 'button'}
                    Agregar más items
                  %button.btn.btn-primary#btn-info-cost{'type' => 'button'}
                    Calcular Total y Sub-Total
          %br
        .col-sm-12
          %fieldset
            %legend Detalle de Orden de Compra
            .form-group
              .col-lg-3
              .col-lg-12#tablemodalsadd
                %table#summary-delivery-orders.table.table-striped.table-bordered.table-hover.has-tickbox.smart-form
                  %thead
                    %tr
                      %th Código
                      %th Nombre del Artículo
                      %th U.M.
                      %th Cantidad
                      %th Precio Unitario
                      %th Otros antes IGV
                      %th Total antes de IGV
                      %th IGV?
                      %th Total después de IGV
                      %th Otros después IGV
                      %th Neto a Pagar
                      %th Otros
                      %th Descripción
                      %th{:style => "text-align:center;"}
                        %a.btn.btn-danger.btn-xs{ :href => 'javascript:void(0)' }
                          %i.fa.fa-trash-o
                  %tbody#order_delivery_items_table
                    - array_values = Array.new
                    - j = 0
                    - @purchaseOrder.purchase_order_details.each do |pod|
                      - array_values << @reg_n.to_s
                      %tr
                        %td(style="display:none" class="pod-di")
                          = hidden_field_tag 'purchase_order[purchase_order_details_attributes][' + @reg_n.to_s + '][delivery_order_detail_id]', pod.delivery_order_detail.id.to_i rescue nil
                        %td=pod.delivery_order_detail.article.code rescue '-'
                        %td=pod.delivery_order_detail.article.name rescue '-'
                        %td.unit-of-measurement
                          =pod.delivery_order_detail.unit_of_measurement.symbol rescue '-'
                        %td.discount-igv{ :style => "display:none"}
                          = hidden_field_tag 'purchase_order[purchase_order_details_attributes][' + @reg_n.to_s + '][quantity_igv]', pod.quantity_igv, class: "form-control discount-igv"                        
                        %td.amount
                          = text_field_tag 'purchase_order[purchase_order_details_attributes][' + @reg_n.to_s + '][amount]', pod.amount, class: "form-control amount-item", onfocusout: "calculatePrice(this);", onkeypress: "return isNumber(event);", onchange: "this.value = minmax(this.value, 1, #{pod.delivery_order_detail.amount rescue 0})"
                          %code= "Por atender: #{pod.delivery_order_detail.amount rescue 0}"
                        %td.unit-price
                          = text_field_tag 'purchase_order[purchase_order_details_attributes][' + @reg_n.to_s + '][unit_price]', pod.unit_price.to_f, class: "form-control unit-price", onfocusout: "calculatePriceWithourIgv(this);", onkeypress: "return isNumber(event);", :required => true, title:'*'
                        %td.discount-before{:style => 'text-align: center'}
                          = text_field_tag 'purchase_order[purchase_order_details_attributes][' + @reg_n.to_s + '][discount_before]', pod.discount_before, class: "form-control discount-before", :readonly => true
                          %div{:id => @reg_n.to_s+"b", :style => "display:none;"}
                            -pod.purchase_order_extra_calculations.where("apply LIKE '%before%'").each do |pdec|
                              -if pdec.type =="percent"
                                -value = pdec.value.to_f/100
                                -if pdec.operation == "sum"
                                  -value = value *(-1)
                                = hidden_field_tag 'discount_before', value, class: "discount_before-item-percent"
                              -elsif pdec.type == "soles"
                                -value = pdec.value.to_f
                                -if pdec.operation == "sum"
                                  -value = value *(-1)
                                = hidden_field_tag 'discount_before', value, class: "discount_before-item-soles"
                              -value = 0                          
                        %td.price-without-igv
                          = text_field_tag 'purchase_order[purchase_order_details_attributes][' + @reg_n.to_s + '][unit_price_before_igv]', pod.unit_price_before_igv.to_f.round(2), class: "form-control unit-price-before-igv", :readonly => true
                        %td.check-igv
                          %label.checkbox
                            - if pod.igv != nil
                              = check_box_tag 'purchase_order[purchase_order_details_attributes][' + @reg_n.to_s + '][igv]', nil, true, { class: 'order_purchase_igv', onchange: "enableFieldsForIgv(this);" }
                              %i
                            - else
                              = check_box_tag 'purchase_order[purchase_order_details_attributes][' + @reg_n.to_s + '][igv]', nil, nil, { class: 'order_purchase_igv', onchange: "enableFieldsForIgv(this);" }
                              %i
                        %td.total_igv
                          = text_field_tag 'purchase_order[purchase_order_details_attributes][' + @reg_n.to_s + '][total_igv]', (pod.unit_price_before_igv.to_f+pod.quantity_igv.to_f).round(2), class: "form-control unit-price-before-igv", :readonly => true
                        %td.discount-after{:style => 'text-align: center'}
                          = text_field_tag 'purchase_order[purchase_order_details_attributes][' + @reg_n.to_s + '][discount_after]', pod.discount_after, class: "form-control discount-after", :readonly => true
                          %div{:id => @reg_n.to_s+"a", :style => "display:none;"}
                            -pod.purchase_order_extra_calculations.where("apply LIKE '%after%'").each do |pdec|
                              -if pdec.type =="percent"
                                -value = pdec.value.to_f/100
                                -if pdec.operation == "sum"
                                  -value = value *(-1)
                                = hidden_field_tag 'discount_before', value, class: "discount_before-item-percent"
                              -elsif pdec.type == "soles"
                                -value = pdec.value.to_f
                                -if pdec.operation == "sum"
                                  -value = value *(-1)
                                = hidden_field_tag 'discount_before', value, class: "discount_before-item-soles"
                              -value = 0                           
                        %td.price-with-igv
                          = text_field_tag 'purchase_order[purchase_order_details_attributes][' + @reg_n.to_s + '][unit_price_igv]', pod.unit_price_igv.to_f.round(2) , class: "form-control unit-price-igv", :readonly => true
                        %td.aditional-operations{:style => 'text-align: center'}
                          %a.btn.btn-info.btn-xs{'data-toggle' => 'modal', 'href' => "#", 'data-target' => "#modal-purchase-#{@reg_n.to_s}"}
                            %strong
                              %i.fa.fa-superscript
                        %td
                          = text_area_tag 'purchase_order[purchase_order_details_attributes][' + @reg_n.to_s + '][description]', pod.description.to_s, class: "form-control description"
                        %td(style="display:none")
                          = hidden_field_tag 'purchase_order[purchase_order_details_attributes][' + @reg_n.to_s + '][id]', pod.id rescue nil
                        %td(style="display:none")
                          = hidden_field_tag 'purchase_order[purchase_order_details_attributes][' + @reg_n.to_s + '][purchase_order_id]', @purchaseOrder.id rescue nil
                        %td.delete-item
                          %label.checkbox
                            = check_box 'purchase_order', '[purchase_order_details_attributes][' + @reg_n.to_s + '][_destroy]'
                            %i
                      - j += 1
                      - @reg_n += 1

                - i = 0
                - @purchaseOrder.purchase_order_details.each do |pod|
                  .modal.fade{"id" => "modal-purchase-#{array_values[i]}", "aria-hidden" => "true", "aria-labelledby" => "modalLoadingLabel", role: "dialog", tabindex: "-1"}
                    .modal-dialog
                      .modal-content
                        .modal-header
                          %button{"type" => "button", "class" => "close", "data-dismiss" => "modal", "aria-hidden" => "true"} ×
                          %h4.modal-title Operaciones Adicionales
                        .modal-body
                          .smart-form
                            %fieldset
                              = hidden_field_tag 'id_modal', "#{array_values[i]}", :id => "modal-purchase-#{array_values[i]}-hidden"
                              .row
                                %label.label.col.col-2{for: "extra_calculation_id"} Concepto
                                .col.col-10
                                  %label.input
                                    %select.form-control{:name =>"extra_calculation_id", :id => "modal-purchase-#{array_values[i]}-select-calc"}
                                      - @extra_calculations.each do |calculation|
                                        %option{:value => "#{calculation.id}"}
                                          = calculation.concept

                              .row
                                %label.label.col.col-2{for: "type"} Tipo
                                .col.col-10
                                  %label.input
                                    %select.form-control{:name =>"type", :id => "modal-purchase-#{array_values[i]}-select-type"}
                                      %option{:value => "percent"}
                                        (%)
                                      %option{:value => "soles"}
                                        (S/.)

                              .row
                                %label.label.col.col-2{for: "value"} Valor
                                .col.col-10
                                  %label.input
                                    %i.icon-append.fa.fa-money
                                    = text_field_tag 'value', nil, id: "modal-purchase-#{array_values[i]}-input-value"

                              .row
                                %label.label.col.col-2{for: "apply"} Aplicar
                                .col.col-10
                                  %label.input
                                    %select.form-control{:name =>"apply", :id => "modal-purchase-#{array_values[i]}-select-apply"}
                                      %option{:value => "before"}
                                        Antes de IGV
                                      %option{:value => "after"}
                                        Después de IGV

                              .row
                                %label.label.col.col-2{for: "operation"} +/-
                                .col.col-10
                                  %label.input
                                    %select.form-control{:name =>"operation", :id => "modal-purchase-#{array_values[i]}-select-operation"}
                                      %option{:value => "minius"}
                                        = '-'
                                      %option{:value => "sum"}
                                        = '+'

                            %fieldset
                              %h3 Listado de Operaciones
                              %br
                              .row
                                %section.col.col-md-12{'id' => "modal-purchase-#{array_values[i]}-section"}
                                  - pod.purchase_order_extra_calculations.each do |order_operation|
                                    - @reg_n_2 = ((Time.now.to_f)*100).to_i
                                    .col.col-md-12
                                      .col.col-md-1
                                        %i.fa.fa-check
                                      .col.col-md-3
                                        = order_operation.extra_calculation.concept rescue 'Concepto errado'
                                        = hidden_field_tag 'purchase_order[purchase_order_details_attributes][' + array_values[i].to_s + '][purchase_order_extra_calculations_attributes][' + @reg_n_2.to_s + '][extra_calculation_id]', order_operation.extra_calculation_id rescue nil
                                        = hidden_field_tag 'purchase_order[purchase_order_details_attributes][' + array_values[i].to_s + '][purchase_order_extra_calculations_attributes][' + @reg_n_2.to_s + '][id]', order_operation.id
                                      = hidden_field_tag 'purchase_order[purchase_order_details_attributes][' + array_values[i].to_s + '][purchase_order_extra_calculations_attributes][' + @reg_n_2.to_s + '][type]', order_operation.type rescue nil
                                      .col.col-md-2
                                        - if order_operation.type == 'soles'
                                          = order_operation.value.to_s + '(S/.)'
                                        - elsif order_operation.type == 'percent'
                                          = order_operation.value.to_s + '(%)'
                                        = hidden_field_tag 'purchase_order[purchase_order_details_attributes][' + array_values[i].to_s + '][purchase_order_extra_calculations_attributes][' + @reg_n_2.to_s + '][value]', order_operation.value rescue nil
                                      .col.col-md-3
                                        - if order_operation.apply == 'before'
                                          Antes de IGV
                                        - elsif order_operation.apply == 'after'
                                          Después de IGV
                                        = hidden_field_tag 'purchase_order[purchase_order_details_attributes][' + array_values[i].to_s + '][purchase_order_extra_calculations_attributes][' + @reg_n_2.to_s + '][apply]', order_operation.apply rescue nil
                                      .col.col-md-3
                                        = check_box_tag 'purchase_order[purchase_order_details_attributes][' + array_values[i].to_s + '][purchase_order_extra_calculations_attributes][' + @reg_n_2.to_s + '][_destroy]'
                                        %label Eliminar
                                      = hidden_field_tag 'purchase_order[purchase_order_details_attributes][' + array_values[i].to_s + '][purchase_order_extra_calculations_attributes][' + @reg_n_2.to_s + '][operation]', order_operation.operation rescue nil
                            %footer
                              %button{:type => "button", :class => "btn btn-primary", :onclick => "add_extra_operation(this)", :rel => "modal-purchase-#{array_values[i]}"} Agregar Operación
                  - i += 1

        .form-actions{:style => "margin-top: 0;"}
          .row
            .col-md-12
              %button.btn.btn-primary{type: "submit", :onclick => "part_block();"}
                %i.fa.fa-save
                  Guardar

#modalDeliveryItems.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modalDeliveryItemsLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-body#modalDeliveryItemsContent