%h2{'style' => 'text-align:center'} Lista de los Items de Ordenes de Suministro que no han sido elegidos
%h2{'style' => 'text-align:center'} 
  Del Centro de Costo 
  %strong
    = @cost_center.name

.row
  .col-md-6
    %label Seleccionar Ordenes de Servicios:
    %select.select2#selected_deliv_orders{:name =>"delivery_orders[]", :style => 'width:100%;padding: 0;border: none;', :multiple => true}
      - @deliveryOrders.each do |delivery_order|
        %option{ :value => "#{delivery_order.id}" }
          = delivery_order.id.to_s.rjust(5, '0') + ' - ' + delivery_order.description.to_s
  .col-md-6
    %label{ :style => 'height: 7px; width:100%;'}
    %button.btn.btn-sm.btn-primary#search_deliv_orders{type: "button"}
      %i.fa.fa-search
      Buscar

%br
%br

#results_delivery_orders

%br

%button.btn.btn-sm.btn-primary.btn-prev#add-purchase-order-items{"type" => "button", "onclick" => "javascript:add_more_items();"}
  %i.fa.fa-plus
  Agregar los Seleccionados

%button.btn.btn-sm.btn-primary.btn-prev{"type" => "button", "data-dismiss" => "modal"}
  %i.fa.fa-times
  Salir

:javascript
  
  $('#selected_deliv_orders').select2();
  $('#search_deliv_orders').click(function(){
    ids = $('#selected_deliv_orders').val();
    data = { delivery_orders: ids, authenticity_token: "#{form_authenticity_token}" };
    load_items_delivery_order_ajax('#{showing_delivery_orders_table_result_logistics_purchase_orders_path}', 'results_delivery_orders', data);
  });

  function check_all_checkboxes(){
    $('#modal-more-items tbody tr td .checkbox .order_check').prop('checked', true);
  }