%h2{'style' => 'text-align:center'} Lista de los Items de Ordenes de Suministro que no han sido elegidos
%h2{'style' => 'text-align:center'} 
  Del Centro de Costo 
  %strong
    = @cost_center.name
%table#modal-more-items.table.table-bordered.table-hover.has-tickbox
  %thead
    %tr
      %th Código de la orden de Suministro
      %th Código del Artículo
      %th Nombre del Artículo
      %th Unidad de Medida
      %th Cantidad
      %th Por Atender
      %th Sector
      %th Fase
      %th Centro de Atención
      %th Fecha Programada
      %th Seleccionar
  - @delivery_orders_detail.each do |dod|
    %tr
      %td.col-md-1
        = dod.delivery_order.id.to_s.rjust(5, '0')
      %td.col-md-1
        = dod.article.code
      %td.col-md-1
        = dod.article.name
      %td.col-md-1
        = dod.unit_of_measurement.symbol
      %td.col-md-1
        = dod.amount.to_i
      %td.col-md-1
        %code
          - if PurchaseOrder.get_total_amount_items_requested_by_purchase_order(dod.id).first != nil
            = dod.amount.to_i - PurchaseOrder.get_total_amount_items_requested_by_purchase_order(dod.id).first.at(0).to_i
          - else
            = dod.amount.to_i
      %td.sector.col-md-1.order_delivery_sector
        = dod.sector.name
      %td.order_delivery_phase
        = dod.phase.name
      %td.order_delivery_centro_atencion
        = dod.center_of_attention.name
      %td.order_delivery_fecha_programada.col-md-2
        = dod.scheduled_date
      %td
        %label.checkbox
          = check_box("order_delivery", "approved", { class: 'order_check' }, dod.id)
          %i

%br

%button.btn.btn-sm.btn-primary.btn-prev#add-purchase-order-items{"type" => "button", "onclick" => "javascript:add_more_items();"}
  %i.fa.fa-plus
  Agregar los Seleccionados

%button.btn.btn-sm.btn-primary.btn-prev{"type" => "button", "data-dismiss" => "modal"}
  %i.fa.fa-times
  Salir