#content-inside
  .row
    .col-xs-12.col-sm-7.col-md-7.col-lg-4
  #widget-grid
    .row
      %article.col-sm-12.col-md-12.col-lg-12
        = render :partial => 'form'
        
%button.btn.btn-sm.btn-primary.btn-prev#backlist-purchase-order{type: "button"}
  %i.fa.fa-arrow-left>
  Retornar al listado de Ordenes de Compra

:javascript
  $(document).ready(function(){
    $('#proveedor-select').select2({
      placeholder: "Buscar proveedor...",
      minimumInputLength: 3,
      ajax: {
        url: "#{display_proveedor_logistics_purchase_orders_path}",
        dataType: 'json',
        type: 'POST',
        quietMillis: 100,
        data: function(term, page){
          return {
            q: term,
            page: page,
            authenticity_token: "#{form_authenticity_token}"
          };
        },
        results: function(data, page){
          return {results: data.articles};
        }
      },
      initSelection: function(element, callback) {
        var id=$(element).val();
        if (id != "") {
          $.ajax("#{display_proveedor_logistics_purchase_orders_path}", {
            type: 'POST',
            data: {
              element: id,
              authenticity_token: "#{form_authenticity_token}"
            },
            dataType: "json"
          }).done(function(data) { 
            callback(data.articles[0]);
          });
        }
      },
      formatResult: function(node){ return '<div>' + node.code + ' - ' + node.name +'</div>' },
      formatSelection: function(node){ return (node.code + ' - ' + node.name ) },
      escapeMarkup: function (m) { return m; }
    });



    $.cost_center = "#{@purchaseOrder.cost_center_id}";

    $('#btn-add-more-items-do').click(function(){
      var ids_delivery_order = new Array();

      $('#summary-delivery-orders tbody tr td.pod-di input').each(function(index, element){
        ids_delivery_order[index] = $(this).val();
      });

      data = { cost_center_id: $.cost_center, authenticity_token: "#{form_authenticity_token}", ids_delivery_order: ids_delivery_order };
      load_items_delivery_order_ajax('#{more_items_from_delivery_orders_logistics_purchase_orders_path}', 'modalDeliveryItemsContent', data);
      $('#modalDeliveryItems').modal('toggle', {
        keyboard: false,
        backdrop: 'static'
      });
    });

    $('#btn-info-cost').click(function() {
      var total_unit_price = 0;
      $('#order_delivery_items_table tr td.price-without-igv input').each(function(k,v){
        total_unit_price = total_unit_price + parseFloat($(this).val());
      });

      var total_unit_price_with_igv = 0;
      $('#order_delivery_items_table tr td.price-with-igv input').each(function(k,v){
        total_unit_price_with_igv = total_unit_price_with_igv + parseFloat($(this).val());
      });

      $.smallBox({
        title : "Información de la Orden de Compra",
        content : "El Sub Total es de: S/." + total_unit_price + ' ' + "El Total es de: S/." + total_unit_price_with_igv, 
        color : "#5384AF",
        //timeout: 8000,
        icon : "fa fa-bell"
      });
    });

    $('form[id^="edit_purchase_order"]').ajaxForm({
      beforeSubmit: function(arr, $form, options) {
        $form.validate({
          // Rules for form validation
          rules : {
            'purchase_order[supplier_id]': {
              required: true
            },
            'purchase_order[description]': {
              required: true
            },
            'purchase_order[money_id]': {
              required: true
            },
            'purchase_order[method_of_payment_id]': {
              required: true
            },
            'purchase_order[date_of_issue]': {
              required: true
            },
            'purchase_order[expiration_date]': {
              required: true,
              greaterThan: "#purchase_order_delivery_date",
              greaterThan: "#purchase_order_date_of_issue"
            },
            'purchase_order[delivery_date]': {
              required: true,
              greaterThan: "#purchase_order_date_of_issue"
            }
          },

          // Messages for form validation
          messages : {
            'purchase_order[supplier_id]': "Porfavor, especifica el proveedor.",
            'purchase_order[money_id]': "Porfavor, especifica el tipo de moneda con que se trabajará.",
            'purchase_order[method_of_payment_id]': "Porfavor, especifica el método de págo.",
            'purchase_order[date_of_issue]': "Porfavor, especifica la fecha de emisión.",
            'purchase_order[expiration_date]': {
              required: "Porfavor, especifica la fecha de expiración.",
              greaterThan: "La fecha de vencimiento debe ser mayor a la fecha de entrega.",
              greaterThan: "La fecha de vencimiento debe ser mayor a la fecha de emisión."
            },
            'purchase_order[description]': {
              required: "Porfavor, especifica la glosa."
            },
            'purchase_order[delivery_date]': { 
              required: "Porfavor, especifica la fecha de entrega.",
              greaterThan: "La fecha de entrega debe ser mayor a la fecha de emisión."
            }
          },
        
          // Do not change code below
          errorPlacement : function(error, element) {
            error.insertAfter(element.parent());
            $('#modalLoadingLabelading').modal('hide');
            $('.modal-backdrop.fade.in').remove();
          }
        });

        // Remove all Help-inLine
        $(".help-inline").remove();
        $('#modalLoadingLabelading').modal('hide');
        $('.modal-backdrop.fade.in').remove();
        // Client Valid
        if( $('#new_purchase_order').valid() ){
          $('#modalLoadingLabelading').modal();
        }
        return $('#new_purchase_order').valid();  
      },
      target: '#content',
      success: function (data){
        $(".help-inline").parent().addClass("state-error");
        $('#modalLoadingLabelading').modal('hide');
        $('.modal-backdrop.fade.in').remove();
      },
      error: function(xhr, status, error) {
        $('#modalLoadingLabelading').modal('hide');
        $('.modal-backdrop.fade.in').remove();
      }
    });

  });


  function enableFieldsForIgv(element){
    var reg = $(element).attr('id').split("_")[6];
    calcularcondescuentos(reg);
  }

  function add_more_items(){
    var data_delivery_order = new Array();
    status = false;
    var index = 0;
    $('#modal-more-items tbody tr td .checkbox .order_check').each(function(){
      if( $(this).is(':checked') ){
        status = true
        data_delivery_order[index] = $(this).val();
        index++;
      }
    });

    if(status){
      data = { ids_delivery_order: data_delivery_order, authenticity_token: "#{form_authenticity_token}" };
      append_url_ajax('#{add_items_from_delivery_orders_logistics_purchase_orders_path}', 'summary-delivery-orders', data, '', 'POST');
      append_url_ajax('#{add_modal_extra_operations_logistics_purchase_orders_path}', 'tablemodalsadd', data, 0, 'POST');
    }

    $('#modalDeliveryItems').modal('hide');
  };
  
  /*
  if($('form[id^="edit_order_of_service"]').length > 0){
    append_url_ajax('#{add_modal_extra_operations_logistics_order_of_services_path}', $('form[id^="edit_order_of_service"]').attr('id'), str_item, 0, 'POST');
  }
  */
  
  $('#backlist-purchase-order').click(function(){
    load_url_ajax("#{logistics_purchase_orders_path}", 'content', {company_id: "#{@company}"}, null, 'GET');
  });

  function delete_item(code){
    $("#tr-" + code).remove();
  }

  function minmax(value, min, max){
    if(parseFloat(value) < min || isNaN(value)) 
      return min; 
    else if(parseFloat(value) > max) 
      return max; 
    else return value;
  }
  
  function calculatePriceWithourIgv(element){
    var reg = $(element).attr('id').split("_")[6];
    calcularcondescuentos(reg);
  }

  function calculatePrice(element){
    var reg = $(element).attr('id').split("_")[6];
    calcularcondescuentos(reg);
  }

  function calcularcondescuentos(reg){
    var dib = $('#'+reg+'b').children();
    var dia = $('#'+reg+'a').children();
    var price = parseFloat($('#purchase_order_purchase_order_details_attributes_'+reg+'_unit_price').val());
    var amount = parseFloat($('#purchase_order_purchase_order_details_attributes_'+reg+'_amount').val());
    var igv = $('#purchase_order_purchase_order_details_attributes_'+reg+'_igv').is(':checked');

    var db_m = 0;
    var da_m = 0;
    var a_igv_c_d = 0;
    var d_igv_c_d = 0;

    if($('#'+reg+'b > input').length > 0){
      dib.each(function(){
        if(Math.abs($(this).attr('value')) < 1.0){
          db_m = parseFloat(db_m)+parseFloat(parseFloat($(this).attr('value'))*price*amount);
        }else{
          db_m =parseFloat(db_m)+parseFloat($(this).attr('value'));
        }
      });
    }
    $('#purchase_order_purchase_order_details_attributes_'+reg+'_discount_before').val(Math.abs(toFixed(toFixed(db_m,4),2)));
    $('#purchase_order_purchase_order_details_attributes_'+reg+'_unit_price_before_igv').val(toFixed(toFixed(parseFloat(price*amount-db_m),4),2));
    var total = 0;
    if(igv){
      if($('#'+reg+'a > input').length > 0){
        dia.each(function(){
          if(Math.abs($(this).attr('value')) < 1.0){
            da_m = parseFloat(da_m)+parseFloat(toFixed(toFixed(parseFloat($(this).attr('value'))*price*amount*0.18,4),2)+toFixed(toFixed(parseFloat($(this).attr('value'))*price*amount,4),2));
          }else{
            da_m =parseFloat(da_m)+parseFloat($(this).attr('value'));
          }
        });  
      }
      total = toFixed(toFixed(((parseFloat(price*amount-db_m)*1.18)-da_m),4),2);
      $('#purchase_order_purchase_order_details_attributes_'+reg+'_total_igv').val(toFixed(toFixed((parseFloat(price*amount-db_m)*1.18),4),2));
      $('#purchase_order_purchase_order_details_attributes_'+reg+'_quantity_igv').val(toFixed(toFixed((parseFloat(price*amount-db_m)*0.18),4),2));
    }else{
      if($('#'+reg+'a > input').length > 0){
        dia.each(function(){
          if(Math.abs($(this).attr('value')) < 1.0){
            da_m = parseFloat(da_m)+parseFloat(parseFloat($(this).attr('value'))*price*amount);
          }else{
            da_m =parseFloat(da_m)+parseFloat($(this).attr('value'));
          }
        });    
      }
      total=toFixed(toFixed((parseFloat(price*amount-db_m)-da_m),4),2);
      $('#purchase_order_purchase_order_details_attributes_'+reg+'_quantity_igv').val('0');
      $('#purchase_order_purchase_order_details_attributes_'+reg+'_total_igv').val(toFixed(toFixed(parseFloat(price*amount-db_m),4),2));
    }
    $('#purchase_order_purchase_order_details_attributes_'+reg+'_unit_price_igv').val(total);
    $('#purchase_order_purchase_order_details_attributes_'+reg+'_discount_after').val(Math.abs(toFixed(toFixed(da_m,4),2)));
  }

  function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 46) {
        return false;
    }
    return true;
  }

  function add_extra_operation(obj){

    var id_content = $(obj).attr('rel') + '-section';

    var concept = '#' + $(obj).attr('rel') + '-select-calc';
    var type = '#' + $(obj).attr('rel') + '-select-type';
    var name_concept = '#' + $(obj).attr('rel') + '-select-calc option:selected';
    var name_type = '#' + $(obj).attr('rel') + '-select-type option:selected';

    var value = '#' + $(obj).attr('rel') + '-input-value';

    var apply = '#' + $(obj).attr('rel') + '-select-apply';
    var operation = '#' + $(obj).attr('rel') + '-select-operation';
    var name_apply = '#' + $(obj).attr('rel') + '-select-apply option:selected';

    var reg_n = '#' + $(obj).attr('rel') + '-hidden';

    var str_data = { concept: $(concept).val(), type: $(type).val(), value: $(value).val(), apply: $(apply).val(), operation: $(operation).val(), name_concept: $(name_concept).text(), name_type: $(name_type).text(), name_apply: $(name_apply).text(), reg_n: $(reg_n).val() };

    path_jquery_before = '#tr-' + $(reg_n).val() + ' td.price-without-igv input';
    path_jquery_after = '#tr-' + $(reg_n).val() + ' td.price-with-igv input';
    path_jquery_igv = '#tr-' + $(reg_n).val() + ' td.check-igv .checkbox input';
    ancient_value_before = parseFloat($(path_jquery_before).val());
    ancient_value_after = parseFloat($(path_jquery_after).val());

    if( $(apply).val() == 'before' ){
      if( $(operation).val() == 'sum' ){
        if( $(type).val() == 'soles' ){
          ancient_value_before = ancient_value_before + parseFloat($(value).val());
        } else {
          ancient_value_before = ancient_value_before + parseFloat((ancient_value_before*($(value).val()/100)));
        }
      } else {
        if( $(type).val() == 'soles' ){
          ancient_value_before = ancient_value_before - parseFloat($(value).val());
        } else {
          ancient_value_before = ancient_value_before - parseFloat((ancient_value_before*($(value).val()/100)));
        }
      }

      if($(path_jquery_igv).is(":checked")){
        $(path_jquery_before).val(parseFloat(ancient_value_before).toFixed(2));
        ancient_value_before = ancient_value_before * (parseFloat("#{@igv}"))
        $(path_jquery_after).val(parseFloat(ancient_value_before).toFixed(2));
      } else {
        $(path_jquery_before).val(parseFloat(ancient_value_before).toFixed(2));
        $(path_jquery_after).val(parseFloat(ancient_value_before).toFixed(2));
      }

    }

    append_url_ajax('#{add_more_row_form_extra_op_logistics_purchase_orders_path}', id_content, str_data, 0, 'POST');
  }

  function set_id_modeling(obj, id_modeling){
    $current_tr_parent = $(obj).parent().parent().attr('id');
    id_modal_target = $(obj).attr('data-target');
    $id_generated = $current_tr_parent.split('-')[1];
    $(id_modal_target + '-hidden').val($id_generated);
  }

  function toFixed(num,dec){
    dec= dec || 0;
    var s = String(num);
    console.log(num%1);
    if(num%1)s= s.replace(/5$/, '6');
    return Number((+s).toFixed(dec));
  }