#content-inside
  .row
    .col-xs-12.col-sm-7.col-md-7.col-lg-4
      %h1.page-title.txt-color-blueDark
        %i.fa.fa-pencil-square-o.fa-eye
        Orden de Compra #
        = @purchaseOrder.id.to_s.rjust(5, '0')
  %section#widget-grid
    .row
      %article.col-sm-12.col-md-12.col-lg-8
        #wid-id-0.jarviswidget.jarviswidget-color-greenDark{"data-widget-collapsed" => "false", "data-widget-deletebutton" => "false", "data-widget-editbutton" => "false"}
          %header
            %span.widget-icon
              %i.fa.fa-table
            %h2 
            = 'Orden de Compra N° ' + @purchaseOrder.code.to_s.rjust(5, '0')
          %div
            .jarviswidget-editbox
              / This area used as dropdown edit box
            .widget-body.no-padding
              %table.table.table-hover
                %thead
                  %tr
                    %th Código
                    %th Estado
                    %th Proveedor
                    %th Forma de pago
                    %th Fecha de Emisión
                    %th Fecha de Expiración
                    %th Fecha de Entrega
                    %th Responsable
                    %th Descripcion
                %tbody(id="article_items_table")
                  %tr
                    %td
                      = @purchaseOrder.code.to_s.rjust(5, '0')

                    %td
                      = translate_purchase_order_state(@purchaseOrder.state)
                    %td
                      = @purchaseOrder.entity.name.to_s + ' ' + @purchaseOrder.entity.paternal_surname.to_s
                    %td
                      = @purchaseOrder.method_of_payment.name.to_s
                    %td
                      = @purchaseOrder.date_of_issue.strftime("%d/%m/%Y")
                    %td
                      = @purchaseOrder.expiration_date.strftime("%d/%m/%Y")
                    %td
                      = @purchaseOrder.delivery_date.strftime("%d/%m/%Y")
                    %td
                      = @purchaseOrder.user.first_name.to_s + ' ' + @purchaseOrder.user.last_name.to_s
                    %td
                      = @purchaseOrder.description.to_s
      - if @state_change != nil
        %h1.page-title.txt-color-blueDark
          %i.fa.fa-pencil-square-o.fa-fw 
          Cambiar estado de la Orden
        %article.col-sm-12.col-md-12.col-lg-4
          - case @state_change
            - when 'issued'

              - if current_user.has_role? :issuer
                %a.btn.btn-info.btn-lg{:onclick => "javascript:load_url_ajax('#{goissue_logistics_purchase_order_path(@purchaseOrder.id)}', 'content', {company_id: '#{@company}', flag: '#{@type_of_order}', authenticity_token: '#{form_authenticity_token}'})"}
                  Emitir
              - else
                %p.alert.alert-danger
                  %i.fa.fa-times.fa-fw.fa-lg
                  %strong Opps!
                  No tienes los privilegios para Emitir.

            - when 'observed'

              - if current_user.has_role? :issuer
                %a.btn.btn-info.btn-lg{:onclick => "javascript:load_url_ajax('#{goobserve_logistics_purchase_order_path(@purchaseOrder.id)}', 'content', {company_id: '#{@company}', flag: '#{@type_of_order}', authenticity_token: '#{form_authenticity_token}'})"}
                  Observar
              - else
                %p.alert.alert-danger
                  %i.fa.fa-times.fa-fw.fa-lg
                  %strong Opps!
                  No tienes los privilegios para hacer una Observación.

            - when 'revised'

              - if current_user.has_role? :reviser
                %a.btn.btn-info.btn-lg{:onclick => "javascript:load_url_ajax('#{gorevise_logistics_purchase_order_path(@purchaseOrder.id)}', 'content', {company_id: '#{@company}', flag: '#{@type_of_order}', authenticity_token: '#{form_authenticity_token}'})"}
                  Dar visto bueno
              - else
                %p.alert.alert-danger
                  %i.fa.fa-times.fa-fw.fa-lg
                  %strong Opps!
                  No tienes los privilegios para Dar el Visto Bueno.

            - when 'canceled'
              - if current_user.has_role? :canceller
                %a.btn.btn-danger.btn-lg{:onclick => "javascript:delete_to_url('#{logistics_purchase_order_path(@purchaseOrder.id)}' + '?authenticity_token=#{form_authenticity_token}', 'content', '#{logistics_purchase_orders_path}?company_id=#{@company}')"}
                  Anular
              - else
                %p.alert.alert-danger
                  %i.fa.fa-times.fa-fw.fa-lg
                  %strong Opps!
                  No tienes los privilegios para Anular.
            - when 'approved'
              - if current_user.has_role? :approver
                %a.btn.btn-primary.btn-lg{:onclick => "javascript:load_url_ajax('#{goapprove_logistics_purchase_order_path(@purchaseOrder.id)}', 'content', {company_id: '#{@company}', flag: '#{@type_of_order}', authenticity_token: '#{form_authenticity_token}'})"}
                  Aprobar
              - else
                %p.alert.alert-danger
                  %i.fa.fa-times.fa-fw.fa-lg
                  %strong Opps!
                  No tienes los privilegios para Aprobar.
            - when ''
              %p.alert.alert-danger
                %i.fa.fa-times.fa-fw.fa-lg
                %strong Opps!
                Ya no puedes cambiar de estado.
      - else
        %article.col-sm-12.col-md-12.col-lg-4
          #wid-id-3.jarviswidget.jarviswidget-color-greenDark{"data-widget-collapsed" => "false", "data-widget-deletebutton" => "false", "data-widget-editbutton" => "false"}
            %header
              %span.widget-icon
                %i.fa.fa-table
              %h2 
              = 'Historial de Estado de la Orden de Compra N° ' + @purchaseOrder.code.to_s.rjust(5, '0')
            %div
              .jarviswidget-editbox
                / This area used as dropdown edit box
              .widget-body.no-padding
                %table.table.table-hover
                  %thead
                    %tr
                      %th Estado
                      %th Fecha
                      %th Quien fue
                  %tbody
                    - @purchasePerState.each do |purchaseState|
                      %tr
                        %td
                          = translate_purchase_order_state(purchaseState.state)
                        %td
                          = purchaseState.created_at.strftime("%d/%m/%Y")
                        %td
                          = purchaseState.user.first_name + " " + purchaseState.user.last_name
      %article.col-sm-12.col-md-12.col-lg-12
        #wid-id-2.jarviswidget.jarviswidget-color-greenDark{"data-widget-collapsed" => "false", "data-widget-deletebutton" => "false", "data-widget-editbutton" => "false"}
          %header
            %span.widget-icon
              %i.fa.fa-table
            %h2 Detalle de la Orden de Compra
          %div
            .jarviswidget-editbox
              / This area used as dropdown edit box
            .widget-body.no-padding
              %table.table.table-hover
                %thead
                  %tr
                    %th Codigo
                    %th Orden de Suministro
                    %th Insumo
                    %th Cantidad
                    %th Unidad de Medida
                    %th Precio Unitario
                    %th Descuentos antes de IGV
                    %th Total antes de IGV
                    %th IGV
                    %th Total después de IGV
                    %th Percepción
                    %th Neto a Pagar
                    %th Glosa
                %tbody(id="purchase_detail_items_table")
                  - @purchaseOrderDetails.each do |purchasedetail|
                    %tr
                      %td
                        = purchasedetail.delivery_order_detail.article.code
                      %td
                        = purchasedetail.delivery_order_detail.delivery_order.id.to_s.rjust(5, '0')+" - "+purchasedetail.delivery_order_detail.delivery_order.description.to_s
                      %td
                        = purchasedetail.delivery_order_detail.article.name
                      %td
                        = purchasedetail.amount.round(4).to_f
                      %td
                        - if purchasedetail.delivery_order_detail.unit_of_measurement != nil
                          = purchasedetail.delivery_order_detail.unit_of_measurement.name
                        - else
                          = "No tiene Unidad de Medida"
                      %td
                        = number_to_currency(purchasedetail.unit_price.to_f, unit: "#{@purchaseOrder.money.symbol}", precision: 4)
                      %td
                        - des = 0
                        - purchasedetail.purchase_order_extra_calculations.where(:apply => 'before').each do |poec|
                          - if poec.type == 'percent'
                            -if poec.operation == 'sum'
                              - des -= (poec.value/100)*((purchasedetail.amount.to_f * purchasedetail.unit_price.to_f))
                            -else
                              - des += (poec.value/100)*((purchasedetail.amount.to_f * purchasedetail.unit_price.to_f))
                          - elsif poec.type == 'soles'
                            -if poec.operation == 'sum'
                              - des -= poec.value
                            -else
                              - des += poec.value
                        = number_to_currency((des).to_f, unit: "#{@purchaseOrder.money.symbol}", precision: 2)
                      %td
                        = number_to_currency((purchasedetail.amount.to_f * purchasedetail.unit_price.to_f-des).to_f, unit: "#{@purchaseOrder.money.symbol}", precision: 2)
                      %td
                        -if purchasedetail.quantity_igv.to_f == 0
                          = number_to_currency purchasedetail.quantity_igv.to_f, unit: "#{@purchaseOrder.money.symbol}", precision: 2
                        -else
                          = number_to_currency purchasedetail.quantity_igv.to_f*-1, unit: "#{@purchaseOrder.money.symbol}", precision: 2
                      %td
                        - desf = 0
                        - purchasedetail.purchase_order_extra_calculations.where("apply LIKE 'after' AND extra_calculation_id NOT IN (2)").each do |poec|
                          - if poec.type == 'percent'
                            -if poec.operation == 'sum'
                              - desf -= (poec.value/100)*((purchasedetail.amount.to_f * purchasedetail.unit_price.to_f)-purchasedetail.quantity_igv.to_f)
                            -else
                              - desf += (poec.value/100)*((purchasedetail.amount.to_f * purchasedetail.unit_price.to_f)-purchasedetail.quantity_igv.to_f)
                          - elsif poec.type == 'soles'
                            -if poec.operation == 'sum'
                              - desf -= poec.value
                            -else
                              - desf += poec.value                      
                        = number_to_currency ((purchasedetail.amount.to_f * purchasedetail.unit_price.to_f-des)-purchasedetail.quantity_igv.to_f-desf), unit: "#{@purchaseOrder.money.symbol}", precision: 2
                      %td
                        - sum = 0
                        - purchasedetail.purchase_order_extra_calculations.where(:extra_calculation_id => 2).where(:apply => 'after').each do |poec|
                          - if poec.type == 'percent'
                            - sum += (poec.value/100)*((purchasedetail.amount.to_f * purchasedetail.unit_price.to_f)-purchasedetail.quantity_igv.to_f)
                          - elsif poec.type == 'soles'
                            - sum += poec.value
                        = number_to_currency sum.to_f, unit: "#{@purchaseOrder.money.symbol}", precision: 2
                      %td
                        = number_to_currency (((purchasedetail.amount.to_f * purchasedetail.unit_price.to_f-des)-purchasedetail.quantity_igv.to_f-desf)+ sum.to_f), unit: "#{@purchaseOrder.money.symbol}", precision: 2
                      %td
                        = purchasedetail.description
                        
- if @type_of_order.nil?
  %button.btn.btn-sm.btn-primary.btn-prev#backlist-purchase-order{type: "button"}
    %i.fa.fa-arrow-left>
    Retornar al listado de Ordenes de Compra

:javascript
  
  $('#backlist-purchase-order').click(function(){
    load_url_ajax("#{logistics_purchase_orders_path}", 'content', {company_id: "#{@company}"}, null, 'GET');
  });