.form-horizontal.smart-form
  %h3
    %strong Paso 1
    \- Seleccionar la información básica
  %fieldset
    .row
      %section.col.col-md-2
        .col-xs-1
        .form-group.in-line
          %label.label Tipo de Trabajador
          .col-md-12
            .col-md-1
            %label.radio-inline
              %input.radiobox#t{:name=>"tworker",:type => 'radio', :value => "empleado", :onchange => "checkWorker();"}
              %span Empleado
            %label.radio-inline
              %input.radiobox#e{:name=>"tworker",:type => 'radio', :value => "obrero", :onchange => "checkWorker();"}
                %span Obrero

      - actual = Time.now.strftime('%Y').to_i - 4
      %section.col.col-md-3#semanase{:style => "display:none"}
        %label.label Semana
        %select#semana.form-control.select2
          %option{:value=> nil, :selected => true, :disabled => true} Seleccione una Semana
          -@semanas.each do |se|
            %option{:value => se[0]}
              =se[1] + ": "+ se[2].strftime("%d/%m/%Y").to_s+ " - "+ se[3].strftime("%d/%m/%Y").to_s

      %section.col.col-md-2#years{:style => "display:none"}
        %label.label Año
        %select#year.form-control.select2
          %option{:value=> nil, :selected => true, :disabled => true} Seleccione un año
          -(1..10).each do |a|
            %option{:value => "#{actual}"}= actual
            -actual += 1


      %section.col.col-md-3#messe{:style => "display:none"}
        %label.label Mes
        %select#mes.form-control.select2
          %option{:value=> nil, :selected => true, :disabled => true} Seleccione un Mes
          %option{:value => "01"} Enero
          %option{:value => "02"} Febrero
          %option{:value => "03"} Marzo
          %option{:value => "04"} Abril
          %option{:value => "05"} Mayo
          %option{:value => "06"} Junio
          %option{:value => "07"} Julio
          %option{:value => "08"} Agosto
          %option{:value => "09"} Setiembre
          %option{:value => "10"} Octubre
          %option{:value => "11"} Noviembre
          %option{:value => "12"} Diciembre

      %section.col.col-2
        %label.label Tipo
        %label.input
          %select.form-control#tipo
            %option{:value=> nil, :selected => true, :disabled => true} Seleccione un tipo
            %option{:value=> "normal"} Normal
            %option{:value=> "G"} Gratificación
            %option{:value=> "Q"} Quincena
            %option{:value=> "R"} Reintegro
            %option{:value=> "U"} Utilidades
            %option{:value=> "V"} Vacaciones
      %br
    .row
      %section.col.col-md-3
        %label.label Trabajador
        %select#workers.form-control.select2
          %option{:value=> nil, :selected => true, :disabled => true} Seleccione un trabajador
    
      %section.col.col-md-3
        %label.label Conceptos
        %select#conceptos.form-control.select2
          %option{:value=> nil, :selected => true, :disabled => true} Seleccione un concepto

      %section.col.col-md-2
        %label.label Cantidad
        %input#amount.form-control

      %section.col.col-md-2
        %button.btn.btn-sm.btn-success#agrego{'type' => 'button', :style => " margin-top: 24px; "}
          Agregar
    .row
      %table.table.table-striped.table-bordered.table-hover#more-info{:style =>" width: 90%;"}
        %thead
          %tr
            %th{:style =>" width: 33%;"} Trabajador
            %th{:style =>" width: 33%;"} Concepto
            %th{:style =>" width: 33%;"} Cantidad   
            %th{:style =>" width: 1%;"} Eliminar
        %tbody#twbody
 
          
    %fieldset{:style => "display:none"}
      %input#array-extra{:style => "display:none"}
      %input#array-wo{:style => "display:none"}
      %legend Información adicional
      .row
        %section
          %label.label{"style"=>"font-size:14px;"} Información de AFP
          %br
          .col.col-2
            %label.label Nombre
          .col.col-2
            %label.label Aporte F. P.(%)
          .col.col-2
            %label.label Prima de Seguro(%)
          .col.col-2
            %label.label Tope de Seguro($)
          .col.col-2
            %label.label C. Variable (%)
          .col.col-2
            %label.label Mixta (%)
          %br
        %section
          -@afp.each do |afp|
            .form-group
              .col.col-lg-12
                .col.col-2
                  %label.label=afp.enterprise.to_s
                .col.col-2
                  %label.label=afp.contribution_fp.to_s
                .col.col-2
                  %label.label= afp.insurance_premium.to_s
                .col.col-2
                  %label.label= afp.top.to_s
                .col.col-2
                  %label.label= afp.c_variable.to_s
                .col.col-2
                  %label.label= afp.mixed.to_s
            %br
      .row
        %section#infoadd{"style"=>"display:none"}
          .section.col.col-md-8
            %label.label{"style"=>"font-size:14px;"} Datos Generales
            .form-group
              .col.col-lg-12
                .col-md-1
                %label.label.col.col-lg-4{"style"=>"align:right;"} Día/Horas Base de Cálculo
                .col.col-lg-6
                  %input#dhbc.form-control{:value =>"48.00"}
            .form-group
              .col.col-lg-12
                .col-md-1
                %label.label.col.col-lg-4{"style"=>"align:right;"} Horas de Trabajo por día
                .col.col-lg-6
                  %input#dhbc.form-control{:value =>"8.00"}
            .form-group
              .col.col-lg-12
                .col-md-1
                %label.label.col.col-lg-4{"style"=>"align:right;"} Días adelanto Quincena (15)
                .col.col-lg-6
                  %input#dhbc.form-control{:value =>"15.00"}
            .form-group
              .col.col-lg-12
                .col-md-1
                %label.label.col.col-lg-4{"style"=>"align:right;"} Unidad Impositiva Tributaria
                .col.col-lg-6
                  %input#dhbc.form-control{:value =>"3700.00"}
            .form-group
              .col.col-lg-12
                .col-md-1
                %label.label.col.col-lg-4{"style"=>"align:right;"} # de deducciones(UIT) 5ta Cat.
                .col.col-lg-6
                  %input#dhbc.form-control{:value =>"7.00"}
            .form-group
              .col.col-lg-12
                .col-md-1
                %label.label.col.col-lg-4{"style"=>"align:right;"} Tipo de Cambio Planilla
                .col.col-lg-6
                  %input#dhbc.form-control{:value =>"0.00"}
        
    %br
    %div#example{:style => "overflow-x: scroll; width: 1300px;"}
          


  %footer
    %button.btn.btn-info{:onclick=>"generar();", :type => "button"}
      Generar

:javascript

  $(document).ready(function(){
    $('#semana').change(function(){
      var flag = true;
      $('#twbody').empty();
      $('#array-extra').empty();
      $('#array-wo').empty();
      if(document.getElementById('e').checked){
        var semana = $(this).val();
        worker = "obrero";
        complete_infow("#{complete_select_payrolls_payslips_path}", semana, "#{form_authenticity_token}");
        complete_infoc("#{complete_select2_payrolls_payslips_path}", "#{form_authenticity_token}", worker);
        complete_info_tabla("#{complete_select_extra_payrolls_payslips_path}", semana, "#{form_authenticity_token}");
        flag = false;
      }

      if(flag){
        $.smallBox({
          title : "Aviso",
          content : "Escoja un tipo de trabajador", 
          color : "#c46a69",
          timeout: 4000
        });
      }
    });

    $('#mes').change(function(){
      var flag = true;
      $('#twbody').empty();
      $('#array-extra').empty();
      $('#array-wo').empty();
      if(document.getElementById('t').checked){
        var semana = $(this).val();
        worker = "empleado";
        complete_infow("#{complete_select_payrolls_payslips_path}", semana, "#{form_authenticity_token}");
        complete_infoc("#{complete_select2_payrolls_payslips_path}", "#{form_authenticity_token}", worker);
        complete_info_tabla("#{complete_select_extra_payrolls_payslips_path}", semana, "#{form_authenticity_token}");
        flag = false;
      }

      if(flag){
        $.smallBox({
          title : "Aviso",
          content : "Escoja un tipo de trabajador", 
          color : "#c46a69",
          timeout: 4000
        });
      }
    });

    $('#agrego').click(function(){
      var worker = $('#workers').val();
      var concept = $('#conceptos').val();
      var amount = $('#amount').val();

      if (worker != "" && concept != "" && amount != ""){
        str_item = {authenticity_token: "#{form_authenticity_token}", worker: worker, concept: concept, amount:amount, semana:$('#semana').val()};
        append_url_ajax('#{add_extra_info_payrolls_payslips_path}', 'more-info', str_item, 0, 'POST');
      }else{
        $.smallBox({
          title : "Aviso",
          content : "Escoja un tipo de trabajador, un concepto y llene el monto", 
          color : "#c46a69",
          timeout: 4000
        });
      }

    });
  });

  function checkWorker(){
    if(document.getElementById('t').checked){
      $('#messe').fadeIn('fast');
      $('#years').fadeIn('fast');
      $('#semanase').fadeOut('fast');
      if($('#mes').val() != null){
        var semana = $('#mes').val();
        worker = "empleado";
        complete_infow("#{complete_select_payrolls_payslips_path}", semana, "#{form_authenticity_token}");
        complete_infoc("#{complete_select2_payrolls_payslips_path}", "#{form_authenticity_token}", worker);
      }
    }else{
      $('#messe').fadeOut('fast');
      $('#years').fadeOut('fast');
      $('#semanase').fadeIn('fast');
      if($('#semana').val() != null){
        var semana = $('#semana').val();
        worker = "obrero";
        complete_infow("#{complete_select_payrolls_payslips_path}", semana, "#{form_authenticity_token}");
        complete_infoc("#{complete_select2_payrolls_payslips_path}", "#{form_authenticity_token}", worker);
      }
    }
  }

  function complete_infow(url, semana, form_token){
    $.ajax({
      type: "POST",
      url: url,
      async: false,
      data: { semana: semana, authenticity_token: form_token}
    }).done(function( data ){
      newOptions = [];
      $.each(data.workers, function(key, value){
        item = {};
        item['name'] = value.name;
        item['id'] = value.id;
        newOptions.push(item);
      });
      $('#workers').empty();
      $('#workers').append(
        $("<option></option>").attr("value", null).text("Seleccione un trabajador").attr("selected", "selected").attr("disabled", true)
      )
      $.each(newOptions, function(key,value){
        $('#workers').append(
          $("<option></option>").attr("value", value.id).text(value.name)
        )
      });
    });
  }

  function complete_infoc(url, form_token, worker){
    $.ajax({
      type: "POST",
      url: url,
      async: false,
      data: { authenticity_token: form_token, worker: worker}
    }).done(function( data ) {
      newOptions = [];
      $.each(data.concepts, function(key, value){
        item = {};
        item['name'] = value.name;
        item['id'] = value.id;
        newOptions.push(item);
      });
      $('#conceptos').empty();
      $('#conceptos').append(
        $("<option></option>").attr("value", null).text("Seleccione un concepto").attr("selected", "selected").attr("disabled", true)
      )
      $.each(newOptions, function(key,value){
        $('#conceptos').append(
          $("<option></option>").attr("value", value.id).text(value.name)
        )
      });
    });
  } 

  function complete_info_tabla(url, semana, form_token){
    $.ajax({
      type: "POST",
      url: url,
      async: false,
      data: { semana: semana, authenticity_token: form_token}
    }).done(function( data ){
      newOptions = [];
      $.each(data.extra, function(key, value){
        item = {};
        item['worker_id'] = value.worker_id;
        item['wo_name'] = value.wo_name;
        item['concept_id'] = value.concept_id;
        item['concept_name'] = value.concept_name;
        item['amount'] = value.amount;
        item['reg'] = value.reg;
        newOptions.push(item);
      });
      $('#twbody').empty();
      $.each(newOptions, function(key,value){
        $('#twbody').append(
          $("<tr></tr>").attr('id','tr-'+value.reg).append(
            $("<td></td>").attr('style','display:none').append(
              $('<input></input').attr('id','extra_'+value.reg+'_worker_id').attr('name','extra['+value.reg+'][worker_id]').val(value.worker_id),
              $('<input></input').attr('id','extra_'+value.reg+'_concept').attr('name','extra['+value.reg+'][concept_id]').val(value.concept_id),
              $('<input></input').attr('id','extra_'+value.reg+'_amount').attr('name','extra['+value.reg+'][amount]').val(value.amount)
            ),
            $("<td></td>").text(value.wo_name),
            $("<td></td>").text(value.concept_name),
            $("<td></td>").text(value.amount),
            $("<td></td>").append(
              $("<a></a>").text("X").attr("href","javascript:delete_item("+value.reg+")")
            )
          )
        );
        var hash_wca = [value.worker_id, value.concept_id, value.amount];
        $('#array-extra').val($('#array-extra').val()+";"+hash_wca);
        $('#array-wo').val($('#array-wo').val()+","+value.worker_id);
      });
    });
  }
  function generar(){
    var worker_id = null;
    var cost_center = #{@cc.id};
    var semana = $('#semana').val();
    var tipo = $('#tipo').val();
    var extra_info = $('#array-extra').val();
    var wor_arr = $('#array-wo').val();

    if(document.getElementById('t').checked){
      var ingresos = #{@inge};
      var descuentos = #{@dese};
      var aportacion = #{@ape};
      worker_id = "empleado";
      semana = $('#year').val()+","+$('#mes').val();
    }

    if(document.getElementById('e').checked){
      var ingresos = #{@ingo};
      var descuentos = #{@deso};
      var aportacion = #{@apo};
      worker_id = "obrero";
    }
    if(worker_id != null && semana != '' && tipo != ''){
      str_item = {authenticity_token: "#{form_authenticity_token}", arregloin: ingresos, cost_center: cost_center, arreglodes:descuentos, arregloapor: aportacion, semana: semana, tipo:tipo, worker: worker_id, extra:extra_info, ar_wo: wor_arr};
      $('#example').empty();
      append_url_ajax('#{generate_payroll_payrolls_payslips_path}', 'example', str_item, 0, 'POST');
    }else{
      alert("Escoja a un trabajador");
    }
  }

  function delete_item(code){
    var bor = $("#extra_" + code+"_worker_id").val()+","+$("#extra_" + code+"_concept").val()+","+$("#extra_" + code+"_amount").val();
    console.log(bor)
    $('#array-extra').val($('#array-extra').val().replace(bor,""));
    $('#array-wo').val($('#array-wo').val().replace($("#extra_" + code+"_worker_id").val(),""));
    $("#tr-" + code).remove();
  }  