%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      - @partes[0].each do |head|
        %th= head
  %tbody
    - @partes.each do |pars|
      -if pars[0]!="DNI"
        %tr
          %td
            = hidden_field_tag 'id' + @reg_n.to_s, pars[0]
            = pars[0].to_s
          %td
            = pars[1].to_s
          %td
            = pars[2].to_s
          %td
            = @cc.code.to_s
          %td
            =pars[3].strftime("%d/%m/%Y").to_s
          %td{ :style => 'text-align: center' }
            = pars[4].to_s
          %td{ :style => 'text-align: center' }
            = pars[5].to_i
          %td{ :style => 'text-align: center' }
            = pars[6].to_f
          %td{ :style => 'text-align: center' }
            = pars[7].to_i
          %td{ :style => 'text-align: center' }
            = pars[8].to_f
          %td{ :style => 'text-align: center' }
            0
          %td{ :style => 'text-align: center' }
            = pars[9].to_f
          -(0..pars.count-11).each do |i|
            -j=i+10
            %td{ :style => 'text-align: right' }
              = pars[j].to_f.round(4).round(2)
        -@reg_n +=1