#content-inside
  .row
    .col-xs-12.col-sm-7.col-md-7.col-lg-4
      %h1.page-title.txt-color-blueDark
        %i.fa.fa-pencil-square-o.fa-fw
        Documento Contractual
    - if flash[:notice] !=nil
      .alert.alert-success.fade.in{"style" => "clear:both"}
        %button.close{"data-dismiss" => "alert"} ×
        %i.fa-fw.fa.fa-check
        %strong Exito
        = flash[:notice]
    - if flash[:error] != nil
      .alert.alert-danger.fade.in
        %button.close{"data-dismiss" => "alert"} ×
        %i.fa-fw.fa.fa-check
        %strong Error!
        = flash[:error]
  .row
    -if @type_cont.count != 0
      .col-sm-4
        %a.btn.btn-primary.btn-mini{:onclick => "javascript:load_url_ajax('#{new_documentary_control_contractual_document_path}', 'content', null, null, 'GET')"}
          Agregar Documento Contractual
      .col-md-3
        = text_field_tag 'wordtosearch', nil, class: 'form-control', id: 'wordtosearch', placeholder: 'Escriba aqui su búsqueda'
      .col-md-3
        %button.btn.btn-primary.btn-default#show-table{href: 'javascript:void(0);', :onclick => 'search();'}
          %i.fa.fa-search
          Buscar
      %br
      #contractual.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "partPeopleLabel", role: "dialog", tabindex: "-1"}
    -else
      .alert.alert-danger.fade.in
        %i.fa-fw.fa.fa-check
        %strong{"style"=> "font-size: 12px"} Error! Asegurese de tener creado por lo menos un tipo

  %br
  .row
  #widget-grid
    .row
      %article.col-xs-12
        = render :partial => 'grid'

:javascript
  function search() {
    var word = $("#wordtosearch").val();
    data = { authenticity_token: "#{form_authenticity_token}", wordtosearch: word};
    load_url_ajax('#{contractual_docs_documentary_control_contractual_documents_path}', 'contractual', data, '', 'POST');
    $('#contractual').modal({
      keyboard: false,
      backdrop: 'static'
    });
  }