= simple_form_for([:logistics, @head], html: {class: 'form-horizontal', novalidate: 'novalidate', autocomplete: 'off' }) do |f|
  = hidden_field_tag 'stock_input[cost_center_id]', @cost_center, class: 'form-control', id: 'cost-center-selected'

  %fieldset
    = hidden_field_tag "stock_input[company_id]", session[:company]
    = hidden_field_tag "stock_input[input]", "1"
    .row
      .col-md-1
      .col-md-2
        %label.control-label Almacén
        .input-group
          %select.form-control#warehouse-select{:name =>"stock_input[warehouse_id]"}
            - @warehouses.each do |x|
              %option{:value => "#{x.id}"}
                = x.name
          %span.input-group-addon
            %i.fa.fa-gears

      .col-md-1
      .col-md-2
        %label.control-label Formato
        .input-group
          %select.form-control#format-select{:name =>"stock_input[format_id]"}
            - @formats.each do |x|
              %option{:value => "#{x.id}"}
                = x.name
          %span.input-group-addon
            %i.fa.fa-gears
      .col-md-1
      .col-md-2
        %label.control-label Periodo
        .input-group
          %select(name='stock_input[period]' class = 'select2 form-control' id = 'period-select' style='width:100%;padding: 0;border: none;')
            - @periods.select(:year).uniq.each do |x|
              %optgroup{:label => "#{x.year.to_i}"}
                - @periods.where("year = ?", x.year).each do |y|
                  %option(value = "#{y.year.to_s}#{y.month.to_s.rjust(2, "0")}")
                    = y.year.to_s + " - " + y.month.to_s.rjust(2, "0")
    .row
      .col-md-1
      .col-md-2
        %label.control-label Serie
        = text_field(:stock_input, :series, placeholder: "Serie", class: "form-control col-md-3")
      .col-md-1
      .col-md-2
        %label.control-label N° Documento
        .input-group
          = text_field(:stock_input, :document, placeholder: "N° Documento", class: "form-control")
          %span.input-group-addon
            %i.fa.fa-file
      .col-md-1
      .col-md-2
        %label.control-label Fecha
        .input-group
          = f.input :issue_date, placeholder: "Fecha", as: :string, :input_html => {:class => 'form-control', type: "date", :required => true}, label: false
          %span.input-group-addon
            %i.fa.fa-calendar
    .row
      .col-md-12
        %label.control-label Glosa
        .input-group
          = text_area(:stock_input, :description, placeholder: "Glosa", class: "form-control")
          %span.input-group-addon
            %i.fa.fa-align-justify
  %br
  %fieldset
    .row
      .col-md-6
        .actions
          %button.btn.btn-sm.btn-success#btn-add-more-items-do{'type' => 'button'}
            Agregar más Items
  %br
  %fieldset
    %table.table.table-condensed.table-bordered.table-striped.table-hover.smart-form#summary-pod{ :style => "font-size: 12px;", 'aria-describedby' => "data-table_info" }
      %thead
        %tr
          %th Codigo
          %th Descripción
          %th Proveedor
          %th{'style' => 'width: 4%;'}
            Unidad
          %th{'style' => 'width: 5%;'}
            Cantidad Total
          %th{'style' => 'width: 4%;'}
            Cantidad Pendiente
          %th{'style' => 'width: 6%;'}
            Cantidad Recibida
          %th{'style' => 'width: 4%;'}
            Eliminar
      %tbody#body_summary_pod

  .form-actions
    .row
      .col-md-12
        %button.btn.btn-primary{ :type => 'submit' }
          %i.fa.fa-save
          Guardar

  #modalPurchaseOrderItems.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modalDeliveryItemsLabel", role: "dialog", tabindex: "-1"}
    .modal-dialog
      .modal-content
        .modal-body{ :style => 'overflow: hidden;' }
          .col-md-12
            %div
              %label.control-label Proveedor
              .input-group
                %select.select2.form-control#supplier-selected{ :name => 'stock_input[supplier_id]', :style => 'width:100%;padding: 0;border: none;'}
                  - @suppliers.each do |x|
                    %option(value = "#{x.id}")
                      = x.name
            %br
            %div
              %button.btn.btn-info{ :type => 'button', :onclick => 'display_pucharse_orders();' }
                %i.fa.fa-search-minus
                  Consultar

          .col-md-12#modalPodContent{ :style => 'margin-top:10px;' }