= simple_form_for([:logistics, @head], html: {class: 'smart-form',  autocomplete: 'off' }) do |f|
  = hidden_field_tag 'stock_input[cost_center_id]', @cost_center, class: 'form-control', id: 'cost-center-selected'

  %fieldset
    = hidden_field_tag "stock_input[company_id]", session[:company]
    = hidden_field_tag "stock_input[input]", "1"
    = hidden_field_tag "stock_input[supplier_id]"
    .row
      %section.col-md-12
        .col-md-3{"style"=>" margin-right: 20px; "}
          %label.control-label Almacén
          .input-group
            %select.form-control#warehouse-select{:name =>"stock_input[warehouse_id]"}
              -if @warehouses.count == 1
                - @warehouses.each do |x|
                  %option{:value => "#{x.id}"}
                    = x.name
              -else
                %option{:value => nil} Seleccione un almacen
                - @warehouses.each do |x|
                  %option{:value => "#{x.id}"}
                    = x.name
            %span.input-group-addon
              %i.fa.fa-gears
        .col-md-3{"style"=>" margin-right: 20px; "}
          %label.control-label Formato
          .input-group
            %select.form-control#format-select{:name =>"stock_input[format_id]"}
              %option{:value => nil} Seleccione un Formato
              - @formats.each do |x|
                %option{:value => "#{x.id}"}
                  = x.name
            %span.input-group-addon
              %i.fa.fa-gears

        .col-md-1{"style"=>" margin-right: 20px; "}
          %label.control-label Serie
          = f.input :series, placeholder: "Serie", input_html: { class: 'form-control'}, label: false

        .col-md-2{"style"=>" margin-right: 20px; "}
          %label.control-label N° Documento
          .input-group
            = f.input :document, placeholder: "N° Documento", input_html: { class: 'form-control'}, label: false
            %span.input-group-addon
              %i.fa.fa-file

        .col-md-2
          %label.control-label Fecha
          .input-group
            = f.input :issue_date, placeholder: "Fecha", as: :string, :input_html => {:class => 'form-control', type: "date", :required => true}, label: false
            %span.input-group-addon
              %i.fa.fa-calendar
    .row
      .col-md-12
        %label.control-label Glosa
        .input-group
          = text_field(:stock_input, :description, placeholder: "Glosa", class: "form-control")
          %span.input-group-addon
            %i.fa.fa-align-justify
  %fieldset
    .row
      .col-md-2
        .actions
          %button.btn.btn-sm.btn-success#btn-add-more-items-do{'type' => 'button'}
            Agregar más Items
      .col-md-6
        %h2#supplier_selected{ :style => 'margin:0' }
  %fieldset
    %table.table.table-condensed.table-bordered.table-striped.table-hover.smart-form#summary-pod{ :style => "font-size: 12px;", 'aria-describedby' => "data-table_info" }
      %thead
        %tr
          %th Codigo
          %th Descripción
          %th{'style' => 'width: 4%;'}
            Unidad
          %th{'style' => 'width: 5%;'}
            Cantidad Total
          %th{'style' => 'width: 4%;'}
            Cantidad Pendiente
          %th{'style' => 'width: 6%;'}
            Cantidad Recibida
          %th{'style' => 'width: 4%;'}
            Eliminar
      %tbody#body_summary_pod

  %footer
    %button.btn.btn-primary#save{ :type => 'submit', :onclick => "part_block();",:disabled=>true  }
      %i.fa.fa-save
      Guardar

#modalPurchaseOrderItems.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modalDeliveryItemsLabel", role: "dialog"}
  .modal-dialog
    .modal-content
      .modal-body{ :style => 'overflow: hidden;' }
        .col-md-6
          %div
            %label.control-label Proveedor
            .input-group
              %select.select2.form-control#supplier-selected{:style => 'width:100%;padding: 0;border: none;'}
                %option{ :value => 0 }
                  Seleccionar Proveedor
                - @suppliers.each do |x|
                  %option(value = "#{x.id}")
                    = x.name
        .col-md-6
          %div
            %label.control-label Ordenes de Compra
            .input-group
              %select.select2.form-control#po_selected{:name => "purchase_orders[]", :style => "padding: 0;border: none;", :multiple => true}

        .col-md-12{ :style => 'margin-top:10px;' }
          %div
            %button.btn.btn-info{ :type => 'button', :onclick => 'display_pucharse_orders();' }
              %i.fa.fa-search-minus
                Consultar

        .col-md-12#modalPodContent{ :style => 'margin-top:10px;' }