#content-inside
  %section#widget-grid
    .row
      %article.col-sm-12.col-md-12.col-lg-12
        #wid-id-2.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-deletebutton" => "false", "data-widget-editbutton" => "false", "data-widget-collapsed" => "false", "data-widget-fullscreenbutton" => "false"}
          %header
            %h2 Crear Ingreso a Almacén
          %div
            .jarviswidget-editbox
            
            = render :partial => 'form_step'

%button.btn.btn-sm.btn-primary.btn-prev#backlist{type: "button"}
  %i.fa.fa-arrow-left>
  &nbsp;Retornar

:javascript
  // DO NOT REMOVE : GLOBAL FUNCTIONS!
  pageSetUp();

  $(document).ready(function(){

    // Search
    $('#search').click(function(){
      supplier_id = $('#supplier-selected').val();
      url = "/logistics/stock_inputs/" + supplier_id + "/show_purchase_order_item_field";
      data = { authenticity_token: "#{form_authenticity_token}" }
      load_url_ajax(url, 'table-items-paso1', data, 'avoid-opacity', 'PUT');
    });

    // Back
    $('#backlist').click(function(){
      load_url_ajax("#{logistics_stock_inputs_path}", 'content', null, null, 'GET');
    });

    $('#po_selected').select2({ width: '100%' });

    $('#btn-add-more-items-do').click(function(){
      $('#modalPurchaseOrderItems').modal('toggle', {
        keyboard: false,
        backdrop: 'static'
      });
    });

    $('#supplier-selected').change(function(){
      supplier_id = $(this).val();
      $('#po_selected').select2('data', null);
      target = '/logistics/stock_inputs/' + supplier_id + '/show_purchase_orders'
      load_url_ajax(target, 'po_selected', null, 'avoid-opacity', 'PUT');
    });

    if($('form[id^="edit_"]').length > 0) {
      submit_validate($('form[id^="edit_"]'));
    }else{
      submit_validate($('#new_stock_input'));
    }
  });
  
  //Validations
  function submit_validate(form){
    $(form['selector']).ajaxForm({
      beforeSubmit: function() {
        $(form['selector']).validate({
          // Rules for form validation
          rules: {
              'stock_input[supplier_id]': {
                required: true
              },
              'stock_input[warehouse_id]': {
                required: true
              },
              'stock_input[format_id]': {
                required: true
              },
              'stock_input[series]': {
                required: true,
                minlength : 3,
                maxlength : 3
              },
              'stock_input[document]': {
                required: true,
                minlength : 1,
                maxlength : 10
              },
              'stock_input[issue_date]': {
                required: true
              },
              'stock_input[description]': {
                required: true
              }
            },
            
            messages: {
              'stock_input[supplier_id]': "(*)",
              'stock_input[warehouse_id]':{
                required: 'Seleccione un almacen'
              },
              'stock_input[format_id]': "Seleccione un formato",
              'stock_input[series]' : {
                required : 'Campo Obligatorio',
                minlength : "Mín 3 dígitos.",
                maxlength : "Máx 3 dígitos."
              },
              'stock_input[document]' : {
                required : 'Campo Obligatorio',
                minlength : "Mín 1 dígito.",
                maxlength : "Máx 10 dígitos.",
              },
              'stock_input[issue_date]': "Campo obligatorio",
              'stock_input[description]': "Escriba una descripcion"
          },

          // Do not change code below
          errorPlacement : function(error, element) {
            error.insertAfter(element.parent());
            $('#modalLoadingLabelading').modal('hide');
            $('.modal-backdrop.fade.in').remove();
          }
        });
        // Remove all Help-inLine
        $(".help-inline").remove();
        // Client Valid
        return $(form['selector']).valid();
      },
      target: '#content',
      success: function (data){
        $(".help-inline").parent().addClass("state-error");
        $('#modalLoadingLabelading').modal('hide');
        $('.modal-backdrop.fade.in').remove();
      },
      error: function(xhr, status, error) {
        $('#modalLoadingLabelading').modal('hide');
        $('.modal-backdrop.fade.in').remove();
      }
    });
  }

  function add_more_items(){
    var ids_items = new Array();
    status = false;
    var index = 0;
    $('#modal-more-items tbody tr td .checkbox .order_check').each(function(){
      if( $(this).is(':checked') ){
        status = true
        ids_items[index] = $(this).val();
        index++;
      }
    });

    if(status){
      data = { ids_items: ids_items, authenticity_token: "#{form_authenticity_token}" };
      append_url_ajax('#{add_items_from_pod_logistics_stock_inputs_path}', 'body_summary_pod', data, '', 'POST');
    }

    $('#modalPurchaseOrderItems').modal('hide');
    $('#modalPodContent').empty();
  }

  function display_pucharse_orders(){
    supplier_id = $('#supplier-selected').val();
    if(supplier_id != "Seleccionar Proveedor"){
      supplier_title = $("#supplier-selected option:selected").text();
      order = $('#po_selected').val();
      $('#supplier-selected').select2("readonly", true);
      url = "/logistics/stock_inputs/" + supplier_id + "/show_purchase_order_item_field";
      data = { authenticity_token: "#{form_authenticity_token}", order: order }
      load_url_ajax(url, 'modalPodContent', data, 'avoid-opacity', 'PUT');
      $('h2#supplier_selected').html('Proveedor: ' + supplier_title);
      $('#stock_input_supplier_id').val(supplier_id);
      $('#save').attr("disabled",false);
    }else{
      $.smallBox({
        title : "Aviso",
        content : "<i class='fa fa-clock-o'></i> <i> Escoja un proveedor</i>",
        color : "#C46A69",
        iconSmall : "fa fa-times fa-2x fadeInRight animated",
        timeout : 4000
      });      
    }
  }

  function delete_item(code){
    $("#tr" + code).remove();
  }

  function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 46) {
        return false;
    }
    return true;
  }

  function minmax(value, min, max){
    if(parseFloat(value) < min || isNaN(value)) 
      return min; 
    else if(parseFloat(value) > max) 
      return max; 
    else return value;
  }

  function check_all_checkboxes(){
    var cont = parseInt($('#cont').val());
    if(cont%2==0 || cont == 0){
      $('#modal-more-items tbody tr td .checkbox .order_check').prop('checked', true);
      $('#cont').val(cont+1);
    }else{
      $('#modal-more-items tbody tr td .checkbox .order_check').prop('checked', false);
      $('#cont').val(cont+1);
    }
  }    