#content-inside
  .row
    .col-xs-12.col-sm-7.col-md-7.col-lg-4
      %h1.page-title.txt-color-blueDark
        %i.fa.fa-pencil-square-o.fa-fw 
        Ingreso a Almacén

#wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-eye
    %h2 Ingreso a Almacén
  %div{:style => "padding-top: 0"}
    .jarviswidget-editbox
    .widget-body
      = simple_form_for([:logistics, @head], html: {class: 'form-horizontal', novalidate: 'novalidate', autocomplete: 'off' }) do |f|
        %fieldset

        %br

          .row          
            %table.table.table-bordered{ style: "width: 700px;margin: 0 auto" }
              %thead
                %tr
                  %th{"style"=>"text-align:center"} Almacen
                  %th{"style"=>"text-align:center"} Formato
                  %th{"style"=>"text-align:center"} Serie
                  %th{"style"=>"text-align:center"} N° Documento
                  %th{"style"=>"text-align:center"} Fecha
              %tbody
                %th{"style"=>"text-align:center;font-weight: 300;"}= @head.warehouse.name
                %th{"style"=>"text-align:center;font-weight: 300;"}= @head.format.name
                %th{"style"=>"text-align:center;font-weight: 300;"}= @head.series
                %th{"style"=>"text-align:center;font-weight: 300;"}= @head.document
                %th{"style"=>"text-align:center;font-weight: 300;"}= @head.issue_date
                = @head.period.to_s
                = @head.year.to_s
                %tr
                  %th{"style"=>"text-align:center"} Descripción
                  %th{'colspan' => 5, "style"=>"font-weight: 300;"}= @head.description

        %br
          
        %fieldset
          %table(class="table table-condensed table-bordered table-striped table-hover has-tickbox smart-form" style="font-size: 12px;" id="summary-pod" aria-describedby="data-table_info")
            %thead
              %tr
                %th N° Orden
                %th Codigo
                %th Descripción
                %th{'style' => 'width: 4%;'}
                  Unidad
                %th{'style' => 'width: 5%;'}
                  Cantidad Total
                %th{'style' => 'width: 4%;'}
                  Cantidad Pendiente
                %th{'style' => 'width: 6%;'}
                  Cantidad Recibida
            %tbody(id="table-items-paso2")
              - @arrItems.each do |x|
                - @pod = x.purchase_order_detail
                - @article = x.purchase_order_detail.delivery_order_detail.article
                - @pending = @pod.amount.to_i - PurchaseOrderDetail.get_total_received(@pod.id).to_i
                %tr{id: "tr" + @reg_n.to_s}
                  %td(style="display:none" class="pod-di")
                    = hidden_field_tag 'stock_input[stock_input_details_attributes][' + @reg_n.to_s + '][purchase_order_detail_id]', @pod.id.to_i
                  %td(style="display:none")
                    = hidden_field_tag 'stock_input[stock_input_details_attributes][' + @reg_n.to_s + '][id]', x.id
                  %td
                    = x.purchase_order_detail.purchase_order.code
                  %td
                    = @article.code
                  %td
                    = @article.name
                  %td
                    = @article.unit_of_measurement.symbol
                  %td.amount
                    = @pod.amount
                  %td.amount
                    = @pending
                  %td.unit-price{"style"=>"text-align:center"}
                    = x.amount
                - @reg_n += 1

  %button.btn.btn-primary#backlist{type: "button"}
    %i.fa.fa-arrow-left
      Retornar

:javascript

  $('#backlist').click(function(){
      load_url_ajax("#{logistics_stock_inputs_path}", 'content', {company_id: '#{@company}'}, null, 'GET');
  });