= simple_form_for [:administration, @charge], :role=>"form", :html => {:class => 'form-horizontal', :multipart => true} do |f| 
  .fieldset
    .form-group
      = f.label "Monto : ", :class=>"col-lg-2 control-label"
      .col-lg-10
        = f.input :amount, :label => false, input_html: {class: "form-control"}
    .form-group
      = f.label "Fecha de Cobro : ", :class=>"col-lg-2 control-label"
      .col-lg-10
        = f.input :charge_date, :label => false, :as => :date ,input_html: {class: "form-control"}  
    .form-group
      = f.label "Monto Pagado : ", :class=>"col-lg-2 control-label"
      .col-lg-10
        = f.input :payment_amount, :label => false, input_html: {class: "form-control"}
    .form-group
      = f.label "Financiera Cliente : ", :class=>"col-lg-2 control-label"
      .col-lg-10
        = f.input :financial_agent_client, :label => false, input_html: {class: "form-control"}
    .form-group
      = f.label "Financiera Destino : ", :class=>"col-lg-2 control-label"
      .col-lg-10
        = f.input :financial_agent_destiny, :label => false, input_html: {class: "form-control"}
        %input(name='invoice_id' type='hidden'){:value=>@charge.invoice_id}
        = f.input :invoice_id, :as => :hidden
  .form-actions
    %br
    %div(class="col-lg-offset-2 col-lg-10")
      %a(href="javascript:post_to_url('#{administration_charges_path}', 'new_charge', 'right-area')" class="btn btn-success")
        Enviar
      %a(href="javascript:goBack()" class="btn btn-danger")
        Cancelar