- @advances.each do |advance|
  %tbody
    %tr 
      %td
        = advance.advance_number
      %td
        = advance.advance_direct_cost_percent	
      %td
        = advance.amount
      %td
        = advance.advance_type
      %td
        = advance.payment_date
      %td
        %a{:href=>"javascript:load_url_ondiv('#{edit_administration_advance_path(advance.id)}', 'right-area')"}(class="btn btn-warning btn-small")
          Editar
        %a.btn.btn-danger.btn-small(data-method ="delete"){:href => "javascript:delete_to_url_into_div('#{administration_advance_path(advance.id)}?authenticity_token=#{form_authenticity_token}', 'right-area')", data: {confirm: "¿Esta seguro de eliminar este adelanto?"}}
          Eliminar