%tr.part-equi_item{id: "tr" + @reg_n.to_s}
  %td.sector.col-lg-3
    %select.form-control{:name =>"part_of_equipment[part_of_equipment_details_attributes][" + @reg_n.to_s + "][work_group_id]"}
      -@working_groups.each do |wg|
        %option{:value => "#{wg.id}"}
          =wg.name
  %td.phase.col-lg-2
    %select.form-control{:name =>"part_of_equipment[part_of_equipment_details_attributes][" + @reg_n.to_s + "][subphase_id]"}
      - @phases.each do |phas|
        %optgroup{:label => "#{phas.name}"}
          - Phase.get_subphases(phas.code).each do |subphase|
            %option{:value => "#{subphase.id}"}
              = subphase.name
  %td.effective-hours.col-lg-2
    = text_field_tag 'part_of_equipment[part_of_equipment_details_attributes][' + @reg_n.to_s + '][effective_hours]', nil , class: "form-control effective-hours", onchange: "sumHours(this);"
  %td.unit-of-measumente.col-lg-1
    = text_field_tag 'part_of_equipment[part_of_equipment_details_attributes][' + @reg_n.to_s + '][unit]', '' , class: "form-control unit", readonly: true
  %td{:style => "width: 1%; text-align: center;"}
    %a{href: "javascript:delete_item('"+@reg_n.to_s+"')"}(class="btn") X


:javascript
  $(document).ready(function () {
    var subcontract_id = $("#ent").val();
    complete_equipment("#{get_equipment_form_subcontract_production_part_of_equipments_path}", subcontract_id, "#{form_authenticity_token}", "0302");
  });

  function complete_equipment(url, subcontract_id, form_token, default_value){
    $.ajax({
        type: "POST",
        url: url,
        async: false,
        data: { subcontract_id: subcontract_id, authenticity_token: form_token}
      }).done(function( data ) {
        var unit = data.unit;
        $('.form-control.unit').empty();
        $('.form-control.unit').val(unit);
      });
  }

  function sumHours(element){
    var total = Number(0);
    var hours = document.getElementsByClassName("form-control effective-hours");
    $.each(hours, function(){
      total = total + Number($(this).val());
    });
    $('#part_of_equipment_total_hours').empty();
    $('#part_of_equipment_total_hours').val(total);
      
  }
  