#wid-id-0.jarviswidget.jarviswidget-color-darken{"data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-table
    %h2 Lista de Parte de Equipos
  %div
    .jarviswidget-editbox
    .widget-body.no-padding
      .widget-body-toolbar
      %table#dt_basic.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th N° Parte
            %th Fecha
            %th Equipo
            %th HM/KM
            %th{:style=>"width: 122px;"} Total horas efectivas
            %th Proveedor
            %th Operador
            %th Acciones
        %tbody

:javascript
  // DO NOT REMOVE : GLOBAL FUNCTIONS!
  pageSetUp();

  $(document).ready(function () {
    $('[data-toggle="confirmation"]').confirmation();
  });

  // PAGE RELATED SCRIPTS

  loadDataTableScripts();
  function loadDataTableScripts() {

    loadScript("#{ asset_path 'plugin/datatables/jquery.dataTables-cust.min', type: :javascript }", dt_2);

    function dt_2() {
      loadScript("#{ asset_path 'plugin/datatables/ColReorder.min', type: :javascript }", dt_3);
    }

    function dt_3() {
      loadScript("#{ asset_path 'plugin/datatables/FixedColumns.min.js', type: :javascript }", dt_4);
    }

    function dt_4() {
      loadScript("#{ asset_path 'plugin/datatables/ColVis.min', type: :javascript }", dt_5);
    }

    function dt_5() {
      loadScript("#{ asset_path 'plugin/datatables/ZeroClipboard', type: :javascript }", dt_6);
    }

    function dt_6() {
      loadScript("#{ asset_path 'plugin/datatables/media/js/TableTools.min', type: :javascript }", dt_7);
    }

    function dt_7() {
      loadScript("#{ asset_path 'plugin/datatables/DT_bootstrap', type: :javascript }", runDataTables);
    }

  }

  function runDataTables() {

    $('#dt_basic').dataTable({
      bProcessing  : true,
      sProcessing  : true,
      bServerSide  : true,
      sServerMethod: 'POST',
      fnDrawCallback : function(oSettings, json) {                            
        oSettings.fnDrawCallback = $('[data-toggle="confirmation"]').confirmation();
      },
      sAjaxSource  : "#{show_part_of_equipments_production_part_of_equipments_path}",
      fnServerParams: function ( aoData ) {
        aoData.push( {"name": "authenticity_token", "value": "#{form_authenticity_token}" } );
      },
      sPaginationType : 'bootstrap_full'
    });

    $("#dt_basic_filter div input").keyup(function() {
      oTable.fnFilter(this.value, oTable.oApi._fnVisibleToColumnIndex(oTable.fnSettings(), $("thead input").index(this)));
    });
    
  }