#wid-id-0.jarviswidget.jarviswidget-color-darken{"data-widget-editbutton" => "false", "data-widget-deletebutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-table
    %h2 Tareo de Obreros Semanal
  %div
    .jarviswidget-editbox
    .widget-body.no-padding
      %table#summary-purchase-orders.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th N°
            %th Semana
            %th Fechas
            %th Estado
            %th Acciones
        %tbody
          - @weeklyworker.each do |unit|
            %tr
              %td
                = unit.id
              %td
                = WeeklyWorker.get_name_week_by_dates(unit.start_date, unit.end_date, @cost_center)
              %td
                = unit.start_date.strftime('%d-%m-%Y').to_s + " - " + unit.end_date.strftime('%d-%m-%Y').to_s
              - case unit.state
                - when 'disapproved'
                  %td.label-status
                    %span.label.label-warning
                      = translate_valuations_state(unit.state)
                - when 'approved'
                  %td.label-status
                    %span.label.label-success
                      = translate_valuations_state(unit.state)
              %td
                - case unit.state
                  - when 'approved'
                    %span{"style"=>"width=20px"}
                      %a.btn.bg-color-blueDark{href: 'javascript:void(0);', :onclick => "weekly_table(#{unit.id},1);"}
                        %i.fa.fa-list-alt.fa-md.fa-fw{"style"=>"color:white"}
                    %a.btn.btn-info.btn-xs{:onclick => "javascript:load_url_ajax('#{production_daily_works_weekly_worker_path(unit.id)}', 'content', {company_id: '#{@company}', blockweekly: 1}, null, 'GET')"}
                      Aprobar
                  - when 'disapproved'
                    %span{"style"=>"width=20px"}
                      %a.btn.bg-color-blueDark{href: 'javascript:void(0);', :onclick => "weekly_table(#{unit.id},0);"}
                        %i.fa.fa-list-alt.fa-md.fa-fw{"style"=>"color:white"}
                    %a.btn.btn-success.btn-xs{:onclick => "javascript:load_url_ajax('#{production_daily_works_weekly_worker_path(unit.id)}', 'content', {company_id: '#{@company}', blockweekly: 0}, null, 'GET')"}
                      Aprobar
                    %a.btn.btn-danger.btn-xs{:data => {:toggle => 'confirmation', :placement => 'left', :title => 'Esta seguro de eliminar el item ' + "#{unit.id}?", :singleton => 'true', :popout => 'true', :onclick => "javascript:delete_to_url('#{production_daily_works_weekly_worker_path(unit.id)}' + '?authenticity_token=#{form_authenticity_token}', 'content', '#{production_daily_works_weekly_workers_path}?company_id=#{@company}')"}}
                      Eliminar
      %br
      %br
      #weekly-table.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "partPeopleLabel", role: "dialog", tabindex: "-1"}

:javascript

  $(document).ready(function () {
    $('[data-toggle="confirmation"]').confirmation();
  });

  function weekly_table(id,blockweekly) {
    data = { authenticity_token: "#{form_authenticity_token}", id: id, blockweekly: blockweekly};
    load_url_ajax('#{weekly_table_production_daily_works_weekly_workers_path}', 'weekly-table', data, '', 'POST');
    $('#weekly-table').modal({
      keyboard: false,
      backdrop: 'static'
    });
  }