.modal-dialog{ style: "width: 100%;" }
  .modal-content
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"}
        \×
      %h4.modal-title Reporte Semanal de Obreros
    .modal-body
      - if @pase == 4
        - indice_title = 0
        - @tareos_total_arrays.each do |trabajadores_array|
          %header
            %h2
            - indice_title += 1
          %div
            .jarviswidget-editbox
            .widget-body{"style"=>" overflow-x: scroll; "}
              %table.table.table-bordered
                %thead
                  %tr
                    %th Item
                    %th Apellidos y Nombres
                    %th Categoria
                    - @dias_habiles.each do |date|
                      %th= date.to_time.strftime("%d/%m/%y")
                    %th T. Normales
                    %th T. 60%
                    %th T. 100%
                    %th Total Horas
                %tbody
                  - item = 1
                  - sumariza_total_normales= 0
                  - sumariza_total_60 = 0
                  - sumariza_total_100 = 0
                  - sumariza_total_horas = 0
                  - array_suma = Array.new(@dias_habiles.length, 0.00)
                  - trabajadores_array.each do |trabajador|
                    %tr
                      %td{ :style => "text-align: center;"}= item
                      %td= trabajador[1]
                      %td{ :style => "text-align: center;"}= trabajador[2]
                      - index = 0
                      - trabajador[3].each do |date|
                        %td{ :style => "text-align: center;"}= date.to_f == 0 ? ' -- ' : (number_to_currency date.to_f, unit: '')
                        - array_suma[index] += date.to_f
                        - index += 1
                      %td{ :style => "text-align: center;"}= number_to_currency trabajador[5], unit: ''
                      %td{ :style => "text-align: center;"}= number_to_currency trabajador[6], unit: ''
                      %td{ :style => "text-align: center;"}= number_to_currency trabajador[7], unit: ''
                      %td{ :style => "text-align: center;"}= number_to_currency trabajador[4], unit: ''
                    - item += 1
                    - sumariza_total_normales += trabajador[5]
                    - sumariza_total_60 += trabajador[6]
                    - sumariza_total_100 += trabajador[7]
                    - sumariza_total_horas += trabajador[4]
                  %tr.danger
                    %td
                    %td{ 'colspan' => 2 }
                      %b Total
                    - array_suma.each do |arraysum|
                      %td{ :style => "text-align: center;"}
                        %b= arraysum.to_f == 0 ? ' -- ' : (number_to_currency arraysum.to_f, unit: '')
                    %td{ :style => "text-align: center;"}
                      %b= number_to_currency sumariza_total_normales, unit: ''
                    %td{ :style => "text-align: center;"}
                      %b= number_to_currency sumariza_total_60, unit: ''
                    %td{ :style => "text-align: center;"}
                      %b= number_to_currency sumariza_total_100, unit: ''
                    %td{ :style => "text-align: center;"}
                      %b= number_to_currency sumariza_total_horas, unit: ''
        %br
        %br
        %div
          Histograma por Semana: Cantidad de Horas- Categoría de trabajador
          %div#container1

        %br
        %br
        %div
          Histograma por Semana: Cantidad de Personas - Categoría de trabajador
          %div#container2
          
      - else
        %h4.modal-title No hay datos.
        %br
      %footer
        %button.btn.btn-info{"data-dismiss" => "modal", type: "button"}
          Salir

:javascript
  bar_graph_category('container1', "#{@names}", 'Histograma: Cantidad de Horas - Categoría');
  console.log("#{@serieh}.inspect");
