#wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-eye
    %h2 Específico
  .widget-body
    = simple_form_for([:logistics, @Specifics], html: {class: 'form-horizontal smart-form', autocomplete: 'off' }) do |f|
      %fieldset
        .row
          %section.col.col-5
            %label.label Grupo
            %label.input{for: "category_id"}
              %select.form-control#category-select{:name =>"category_id"}
                - @Categories.each do |cat|
                  %option{:value => "#{cat.id}", :rel => "#{cat.code}", :selected => @category_specific == cat.id}
                    = cat.name
          %section.col.col-5
            %label.label Sub Grupo
            %label.input{for: "subcategory_id"}
              %select.form-control#subcategory-select{:name =>"specific[subcategory_id]"}
                - if @subcategories != nil
                  - @subcategories.each do |subcat|
                    %option{:value => "#{subcat.id}", :rel => "#{subcat.code}", :selected => @subcategory_specific == subcat.code}
                      = subcat.name
        .row
          %section.col.col-3
            %label.label Código
            %label.input{for: "code"}
              %i
              - if @Specifics.code != nil
                = text_field(:extrafield, :first_code, class: "form-control", readonly: true, value: "#{@specific.code[0,6]}")
              - else
                = text_field(:extrafield, :first_code, class: "form-control", readonly: true)
          %section.col.col-6
            %label.label &nbsp;
            %label.input{for: "code"}
              %i.icon-append.fa.fa-superscript
              - if @Specifics.code != nil
                = f.input :code, placeholder: "Código", :input_html => {:class => 'form-control', :id => 'code-category', :value => "#{@specific.code[6,4]}"}, label: false
              - else
                = f.input :code, placeholder: "Código", input_html: { class: 'form-control' }, label: false
        .row
          %section.col.col-10
            %label.label Nombre
            %label.input{for: "name"}
              %i.icon-append.fa.fa-user
              = f.input :name, placeholder: "Nombre del específico", input_html: { class: 'form-control' }, label: false
      %footer
        %button.btn.btn-primary{type: "submit"}
          %i.fa.fa-save
            Guardar

:javascript
  $(document).ready(function () {
    $("#category-select").focus();
    
    var category_id = $("#category-select").val();
    complete_infocombo("#{get_subcategory_form_category_logistics_specifics_path}", category_id, "#{form_authenticity_token}", "0302");

    if($('form[id^="edit_"]').length > 0) {
      submit_validate($('form[id^="edit_"]'));
    }
    else{
      submit_validate($('#new_specific'));
    }
  });
  
  function submit_validate(form){
    $(form['selector']).ajaxForm({
      beforeSubmit: function() {
        $(form['selector']).validate({
          // Rules for form validation
          rules : {
            'specific[code]' : {
              required : true,
              minlength : 2,
              maxlength : 2
            },
            'specific[name]' : {
              required : true,
            }
          },

          // Messages for form validation
          messages : {
            'specific[code]' : {
              required : 'Por favor, ingresar el código del Específico',
              minlength : "Como mínimo debe tener 2 dígitos.",
              maxlength : "Como máximo debe tener 2 dígitos.",
            },
            'specific[name]' : {
              required : 'Por favor, ingresar el nombre del artículo.'
            }
          },

          // Do not change code below
          errorPlacement : function(error, element) {
            error.insertAfter(element.parent());
          }
        });
        // Remove all Help-inLine
        $(".help-inline").remove();
        // Client Valid
        return $(form['selector']).valid();
      },
      target: '#content',
      success: function (data){
        $(".help-inline").parent().addClass("state-error");
      },
      error: function(xhr, status, error) {
      }
    });
  }

  $(document).ready(function(){
    var clicknum = 0;
    var clicknum2 = 0;
    $("#category-select").click(function(){
     clicknum++;
     if(clicknum == 1){
      var category_id = $('#category-select').val();
      complete_infocombo("#{get_subcategory_form_category_logistics_subcategories_path}", category_id, "#{form_authenticity_token}, 0");
      clicknum = 4;
     }
  });

    $('#subcategory-select').click(function(){
      clicknum2++;
      if(clicknum2 == 1){
        var sub_code = $(this).val();
        var type = $('option:selected', $('#category-select')).attr('rel');
        $('#extrafield_first_code').val(sub_code);
        clicknum2 = 0;
      }
    });

    $('#category-select').change(function(){
      var category_id = $(this).val();
      complete_infocombo("#{get_subcategory_form_category_logistics_subcategories_path}", category_id, "#{form_authenticity_token}, 0");
    });

    $('#category-select').keyup(function(){
      var category_id = $(this).val();
      complete_infocombo("#{get_subcategory_form_category_logistics_subcategories_path}", category_id, "#{form_authenticity_token}, 0");
    });

    $('#subcategory-select').change(function(){
      var sub_code = $('option:selected', $(this)).attr('code');
      var type = $('option:selected', $('#category-select')).attr('rel');
      $('#extrafield_first_code').val(sub_code);
    });

    $('#subcategory-select').keyup(function(){
      var sub_code = $('option:selected', $(this)).attr('code');
      var type = $('option:selected', $('#category-select')).attr('rel');
      $('#extrafield_first_code').val(tsub_code);
    });

    $('#category-select').change(function(){
      $('#extrafield_first_code').val('');
    });    
  });






  function complete_infocombo(url, category_id, form_token, default_value){
    $.ajax({
        type: "POST",
        url: url,
        async: false,
        data: { category_id: category_id, authenticity_token: form_token}
      }).done(function( data ) {
        newOptions = [];
        $.each(data.subcategories, function(key, value){
          item = {};
          item['name'] = value.name;
          item['code'] = value.code;
          item['id'] = value.id;
          newOptions.push(item);
        });
        $('#subcategory-select').empty();
        $.each(newOptions, function(key,value){
          if ($("#specific_subcategory_id").val() == value.code)
            $('#subcategory-select').append(
              $("<option></option>").attr("value", value.code).text(value.name).attr("selected", "selected").attr("id", value.id)
            )
          else
            $('#subcategory-select').append(
              $("<option></option>").attr("value", value.code).text(value.name).attr("id", value.id)
            )
          // Default Value:
          var code = $("#subcategory-select").val().toString();
          $("#extrafield_first_code").val(code);
        });
      });
  }