#wid-id-0.jarviswidget.jarviswidget-color-darken{"data-widget-editbutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-table
    %h2 Lista de Trabajadores
  %div
    .jarviswidget-editbox
    .widget-body.no-padding
      .widget-body-toolbar
      %table#dt_basic.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th N°
            %th Nombre
            %th Unidad
            %th Precio Normal
            %th Precio 60
            %th Precio 100
            %th Acciones
        %tbody
          - @categoryOfWorker.each do |categoryOfWorker|
            %tr
              %td
                = categoryOfWorker.id
              %td 
                = categoryOfWorker.article.name rescue ''
              %td
                = categoryOfWorker.article.unit_of_measurement.name rescue 'No tiene una unidad de medida'
              %td
                - if categoryOfWorker.normal_price != nil
                  = number_to_currency(categoryOfWorker.normal_price.to_f, unit: "S/.", precision: 2)
                - else
                  = "No tiene un precio Normal."
              %td
                - if categoryOfWorker.he_60_price != nil
                  = number_to_currency(categoryOfWorker.he_60_price.to_f, unit: "S/.", precision: 2)
                - else
                  = "No tiene un precio 60%."
              %td
                - if categoryOfWorker.he_100_price != nil
                  = number_to_currency(categoryOfWorker.he_100_price.to_f, unit: "S/.", precision: 2)
                - else
                  = "No tiene un precio 100%."
              %td
                %a.btn.btn-info.btn-xs{:onclick => "javascript:load_url_ajax('#{edit_production_category_of_worker_path(categoryOfWorker.id)}', 'content', {company_id: '#{@company}'}, null, 'GET')"}
                  Ver Información
                %a.btn.btn-warning.btn-xs{:onclick => "javascript:load_url_ajax('#{edit_production_category_of_worker_path(categoryOfWorker.id)}', 'content', {company_id: '#{@company}'}, null, 'GET')"}
                  Editar
                %a.btn.btn-danger.btn-xs{:onclick => "javascript:load_url_ajax('#{edit_production_category_of_worker_path(categoryOfWorker.id)}', 'content', {company_id: '#{@company}'}, null, 'GET')"}
                  Eliminar

:javascript
  // DO NOT REMOVE : GLOBAL FUNCTIONS!
  pageSetUp();

  $(document).ready(function () {
    $('[data-toggle="confirmation"]').confirmation();
  });

  // PAGE RELATED SCRIPTS

  loadDataTableScripts();
  function loadDataTableScripts() {

    loadScript("#{ asset_path 'plugin/datatables/jquery.dataTables-cust.min', type: :javascript }", dt_2);

    function dt_2() {
      loadScript("#{ asset_path 'plugin/datatables/ColReorder.min', type: :javascript }", dt_3);
    }

    function dt_3() {
      loadScript("#{ asset_path 'plugin/datatables/FixedColumns.min.js', type: :javascript }", dt_4);
    }

    function dt_4() {
      loadScript("#{ asset_path 'plugin/datatables/ColVis.min', type: :javascript }", dt_5);
    }

    function dt_5() {
      loadScript("#{ asset_path 'plugin/datatables/ZeroClipboard', type: :javascript }", dt_6);
    }

    function dt_6() {
      loadScript("#{ asset_path 'plugin/datatables/media/js/TableTools.min', type: :javascript }", dt_7);
    }

    function dt_7() {
      loadScript("#{ asset_path 'plugin/datatables/DT_bootstrap', type: :javascript }", runDataTables);
    }

  }

  function runDataTables() {

    /*
     * BASIC
     */
    $('#dt_basic').dataTable({
      "sPaginationType" : "bootstrap_full"
    });

    /* END BASIC */

  }