#content-inside
  .row
    .col-xs-12.col-sm-7.col-md-7.col-lg-4
      %h1.page-title.txt-color-blueDark
        %i.fa.fa-pencil-square-o.fa-fw 
        Editar Factura
  
  #widget-grid
    .row
      %article.col-sm-12.col-md-12.col-lg-6
        #wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-editbutton" => "false"}
          %header
            %span.widget-icon
              %i.fa.fa-eye
            %h2 Factura
          

          .widget-body
            = simple_form_for [:administration, @invoice], :role=>"form", :html => {class: "form-horizontal smart-form", autocomplete: 'off'} do |f|
              %fieldset
                .row
                  %section.col.col-md-8
                    %label.label Número de Documento
                    %label.input{for: "document_number"}
                      %i.icon-append.fa.fa-user
                      = f.input :document_number, :label => false, input_html: {class: "form-control"}
                .row
                  %section.col.col-md-8
                    %label.label Monto
                    %label.input{for: "amount"}
                      %i.icon-append.fa.fa-superscript
                      = f.input :amount, input_html: { class: 'form-control' }, label: false
                .row
                  %section.col.col-md-8
                    %label.label Fecha de Emisión
                    %label.input{for: "issue_date"}
                      = f.input :issue_date, input_html: { class: 'form-control' }, label: false
                .row
                  %section.col.col-md-8
                    %label.label Fecha de Presentacion
                    %label.input{for: "filing_date"}
                      = f.input :filing_date, input_html: { class: 'form-control' }, label: false
                .row
                  %section.col.col-md-8
                    %label.label Nota de Crédito
                    %label.input{for: "credit_note"}
                      %i.icon-append.fa.fa-superscript
                      = f.input :credit_note, input_html: { class: 'form-control' }, label: false
                .row
                  %section.col.col-md-8
                    %label.label Observaciones
                    %label.input{for: "observations"}
                      %i.icon-append.fa.fa-user
                      = f.input :observations, input_html: { class: 'form-control' }, label: false

                  %input(name='budget_id' type='hidden'){:value=>@invoice.valorization.budget.id}
                  = f.input :valorization_id, :as => :hidden
              %footer
                %a{href: "javascript:post_to_url('#{administration_invoice_path(@invoice.id)}', '#{@action}', 'right-area')"}(class="btn btn-success")
                  %i.fa.fa-save
                  Guardar
                %a{href: "javascript:load_url_ondiv('#{administration_invoices_path}?budget_id="+Valorization.find(@invoice.valorization_id).budget_id.to_s+"', 'right-area');", class: "btn btn-danger"}
                  Cancelar

