- @purchaseOrders.each do |purchase|
  %tr
    %td 
      = purchase.id.to_s.rjust(5, '0')
    - case purchase.state
      - when 'pre_issued'
        %td.label-status
          %i.fa.fa-flag{:style => "visibility: hidden;"}
          %span.label{:style => "color: #000;"}
            = translate_purchase_order_state(purchase.state)
      - when 'issued'
        %td.label-status
          %i.fa.fa-flag{:style => "color: #FF7A00;"}
          %span.label.label-warning{:style => "background-color: #FF7A00;"}
            = translate_purchase_order_state(purchase.state)
      - when 'revised'
        %td.label-status
          %i.fa.fa-flag{:style => "color: #c79121;"}
          %span.label.label-warning
            = translate_purchase_order_state(purchase.state)
      - when 'canceled'
        %td.label-status
          %i.fa.fa-flag{:style => "color: #a90329;"}
          %span.label.label-danger
            = translate_purchase_order_state(purchase.state)
      - when 'approved'
        %td.label-status
          %i.fa.fa-flag{:style => "color: #25CA25;"}
          %span.label.label-success{:style => "background-color: #25CA25;"}
            = translate_purchase_order_state(purchase.state)
    %td
      - if purchase.description != nil
        = truncate(purchase.description, :length => 35, :omission => '...')
      - else
        No se tiene una descripción
    %td
      = purchase.entity.name + ' ' + purchase.entity.surname
    %td
      - if purchase.state_per_order_purchases.last != nil
        = purchase.state_per_order_purchases.last.created_at.strftime("%d/%m/%Y")
      - else
        = purchase.created_at.strftime("%d/%m/%Y")
    %td
      = purchase.expiration_date.strftime("%d/%m/%Y")
    %td
      = purchase.user.first_name + " " + purchase.user.last_name
    %td
      - case purchase.state
        - when 'pre_issued'

          %a.btn.btn-warning.btn-xs{:href =>"javascript:void(0);", :onclick => "javascript:load_url_ajax('#{edit_logistics_purchase_order_path(purchase.id)}', 'content', {company_id: #{@company}}, null, 'GET')", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Editar"}
            %i.fa.fa-edit

        - when 'issued'

          %a.btn.btn-view.btn-xs{:href =>"javascript:void(0);", :onclick => "javascript:load_url_ajax('#{logistics_purchase_order_path(purchase.id)}', 'content', null, null, 'GET')", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Ver Detalle"}
            %i.fa.fa-eye

          %a.btn.btn-pdf.btn-xs{:target => "_blank", :href => "#{purchase_order_pdf_logistics_purchase_order_path(purchase.id)}.pdf", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Ver PDF"}
            %i.fa.fa-file

        - when 'revised'

          %a.btn.btn-view.btn-xs{:href =>"javascript:void(0);", :onclick => "javascript:load_url_ajax('#{logistics_purchase_order_path(purchase.id)}', 'content', null, null, 'GET')", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Ver Detalle"}
            %i.fa.fa-eye

          %a.btn.btn-pdf.btn-xs{:target => "_blank", :href => "#{purchase_order_pdf_logistics_purchase_order_path(purchase.id)}.pdf", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Ver PDF"}
            %i.fa.fa-file

        - when 'canceled'
          %a.btn.btn-view.btn-xs{:href =>"javascript:void(0);", :onclick => "javascript:load_url_ajax('#{logistics_purchase_order_path(purchase.id)}', 'content', null, null, 'GET')", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Ver Detalle"}
            %i.fa.fa-eye

          %a.btn.btn-pdf.btn-xs{:target => "_blank", :href => "#{purchase_order_pdf_logistics_purchase_order_path(purchase.id)}.pdf", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Ver PDF"}
            %i.fa.fa-file

        - when 'approved'
          %a.btn.btn-view.btn-xs{:onclick => "javascript:load_url_ajax('#{logistics_purchase_order_path(purchase.id)}', 'content', null, null, 'GET')", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Ver Detalle"}
            %i.fa.fa-eye
          %a.btn.btn-pdf.btn-xs{:target => "_blank", :href => "#{purchase_order_pdf_logistics_purchase_order_path(purchase.id)}.pdf", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Ver PDF"}
            %i.fa.fa-file
            
      %a.btn.btn-success.btn-xs{:href =>"javascript:void(0);", :onclick => "javascript:load_url_ajax('#{logistics_purchase_order_path(purchase.id)}', 'content', {company_id: $.company_global_id, state_change: '#{get_prev_state(purchase.state)}'}, null, 'GET')", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Retroceder el estado"}
        %i.fa.fa-mail-reply

      %a.btn.btn-info.btn-xs{:href =>"javascript:void(0);", :onclick => "javascript:load_url_ajax('#{logistics_purchase_order_path(purchase.id)}', 'content', {company_id: $.company_global_id, state_change: '#{get_next_state(purchase.state)}'}, null, 'GET')", "data-original-title" => "Avanzar el estado", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Avanzar el estado"}
        %i.fa.fa-flag