#wid-id-0.jarviswidget.jarviswidget-color-darken{"data-widget-editbutton" => "false", "data-widget-deletebutton" => "false"}
  %header
    %span.widget-icon
      %i.fa.fa-table
    %h2 Lista de Ordenes de Compra
  %div
    .jarviswidget-editbox
    .widget-body.no-padding
      .widget-body-toolbar
      %table#summary-purchase-orders.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th Código
            %th{'style' => 'width:120px !important;'}
              Estado
            %th Descripcion
            %th Proveedor
            %th Fecha de Emisión
            %th Fecha de Expiración
            %th Fecha de Entrega
            %th Responsable
            %th Acciones
        %tbody
          - @purchaseOrders.each do |purchase|
            %tr
              %td 
                = purchase.id.to_s.rjust(5, '0')
              - case purchase.state
                - when 'pre_issued'
                  %td.label-status
                    %i.fa.fa-flag{:style => "visibility: hidden;"}
                    %span.label{:style => "color: #000;"}
                      = translate_purchase_order_state(purchase.state)
                - when 'issued'
                  %td.label-status
                    %i.fa.fa-flag{:style => "color: #FF7A00;"}
                    %span.label.label-warning{:style => "background-color: #FF7A00;"}
                      = translate_purchase_order_state(purchase.state)
                - when 'revised'
                  %td.label-status
                    %i.fa.fa-flag{:style => "color: #c79121;"}
                    %span.label.label-warning
                      = translate_purchase_order_state(purchase.state)
                - when 'canceled'
                  %td.label-status
                    %i.fa.fa-flag{:style => "color: #a90329;"}
                    %span.label.label-danger
                      = translate_purchase_order_state(purchase.state)
                - when 'approved'
                  %td.label-status
                    %i.fa.fa-flag{:style => "color: #25CA25;"}
                    %span.label.label-success{:style => "background-color: #25CA25;"}
                      = translate_purchase_order_state(purchase.state)
              %td
                = truncate(purchase.description, :length => 35, :omission => '...')
              %td
                = purchase.supplier.name
              %td
                = purchase.date_of_issue.strftime("%d/%m/%Y")
              %td
                = purchase.expiration_date.strftime("%d/%m/%Y")
              %td
                = purchase.delivery_date.strftime("%d/%m/%Y")
              %td
                = purchase.user.first_name + " " + purchase.user.last_name
              %td
                - case purchase.state
                  - when 'pre_issued'

                    %a.btn.btn-warning.btn-xs{:href =>"javascript:void(0);", :onclick => "javascript:load_url_ajax('#{edit_logistics_purchase_order_path(purchase.id)}', 'content', null, null, 'GET')", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Editar"}
                      %i.fa.fa-edit

                  - when 'issued'

                    %a.btn.btn-success.btn-xs{:href =>"javascript:void(0);", :onclick => "javascript:load_url_ajax('#{logistics_purchase_order_path(purchase.id)}', 'content', null, null, 'GET')", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Ver Detalle"}
                      %i.fa.fa-eye

                    %a.btn.btn-danger.btn-xs{:target => "_blank", :href => "#{purchase_order_pdf_logistics_purchase_order_path(purchase.id)}.pdf", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Ver PDF"}
                      %i.fa.fa-file

                  - when 'revised'

                    %a.btn.btn-success.btn-xs{:href =>"javascript:void(0);", :onclick => "javascript:load_url_ajax('#{logistics_purchase_order_path(purchase.id)}', 'content', null, null, 'GET')", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Ver Detalle"}
                      %i.fa.fa-eye

                    %a.btn.btn-danger.btn-xs{:target => "_blank", :href => "#{purchase_order_pdf_logistics_purchase_order_path(purchase.id)}.pdf", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Ver PDF"}
                      %i.fa.fa-file

                  - when 'canceled'
                    %a.btn.btn-success.btn-xs{:href =>"javascript:void(0);", :onclick => "javascript:load_url_ajax('#{logistics_purchase_order_path(purchase.id)}', 'content', null, null, 'GET')", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Ver Detalle"}
                      %i.fa.fa-eye

                    %a.btn.btn-danger.btn-xs{:target => "_blank", :href => "#{purchase_order_pdf_logistics_purchase_order_path(purchase.id)}.pdf", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Ver PDF"}
                      %i.fa.fa-file

                  - when 'approved'
                    %a.btn.btn-success.btn-xs{:onclick => "javascript:load_url_ajax('#{logistics_purchase_order_path(purchase.id)}', 'content', null, null, 'GET')", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Ver Detalle"}
                      %i.fa.fa-eye
                    %a.btn.btn-danger.btn-xs{:target => "_blank", :href => "#{purchase_order_pdf_logistics_purchase_order_path(purchase.id)}.pdf", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Ver PDF"}
                      %i.fa.fa-file
                      
                %a.btn.btn-info.btn-xs{:href =>"javascript:void(0);", :onclick => "javascript:load_url_ajax('#{logistics_purchase_order_path(purchase.id)}?state_change=#{get_prev_state(purchase.state)}', 'content', null, null, 'GET')", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Retroceder el estado"}
                  %i.fa.fa-mail-reply

                %a.btn.btn-info.btn-xs{:href =>"javascript:void(0);", :onclick => "javascript:load_url_ajax('#{logistics_purchase_order_path(purchase.id)}?state_change=#{get_next_state(purchase.state)}', 'content', null, null, 'GET')", "data-original-title" => "Avanzar el estado", "rel" => "tooltip", "data-placement" => "top", "data-original-title" => "Avanzar el estado"}
                  %i.fa.fa-flag

:javascript
  // DO NOT REMOVE : GLOBAL FUNCTIONS!
  pageSetUp();
  
  // PAGE RELATED SCRIPTS

  loadDataTableScripts();
  function loadDataTableScripts() {

    loadScript("#{ asset_path 'plugin/datatables/jquery.dataTables-cust.min', type: :javascript }", dt_2);

    function dt_2() {
      loadScript("#{ asset_path 'plugin/datatables/ColReorder.min', type: :javascript }", dt_3);
    }

    function dt_3() {
      loadScript("#{ asset_path 'plugin/datatables/FixedColumns.min.js', type: :javascript }", dt_4);
    }

    function dt_4() {
      loadScript("#{ asset_path 'plugin/datatables/ColVis.min', type: :javascript }", dt_5);
    }

    function dt_5() {
      loadScript("#{ asset_path 'plugin/datatables/ZeroClipboard', type: :javascript }", dt_6);
    }

    function dt_6() {
      loadScript("#{ asset_path 'plugin/datatables/media/js/TableTools.min', type: :javascript }", dt_7);
    }

    function dt_7() {
      loadScript("#{ asset_path 'plugin/datatables/DT_bootstrap', type: :javascript }", runDataTables);
    }

  }

  function runDataTables() {

    /*
     * BASIC
     */
    $('#summary-purchase-orders').dataTable({
      "sPaginationType" : "bootstrap_full"
    });

    /* END BASIC */

    $('#summary-purchase-orders_wrapper').removeClass("dataTables_wrapper");

    /* Add the events etc before DataTables hides a column */
    $("#summary-purchase-orders thead input").keyup(function() {
      oTable.fnFilter(this.value, oTable.oApi._fnVisibleToColumnIndex(oTable.fnSettings(), $("thead input").index(this)));
    });

    $("#summary-purchase-orders thead input").each(function(i) {
      this.initVal = this.value;
    });
    $("#summary-purchase-orders thead input").focus(function() {
      if (this.className == "search_init") {
        this.className = "";
        this.value = "";
      }
    });
    $("#summary-purchase-orders thead input").blur(function(i) {
      if (this.value == "") {
        this.className = "search_init";
        this.value = this.initVal;
      }
    });
  }