.modal-dialog{"style"=>"width: 100%"}
  .modal-content
    .modal-header
      %header
        %h2
          %span.widget-icon
            %i.fa.fa-pencil-square-o.fa-fw 
          %strong Gasto de Gestión
    .modal-body
      = form_for @gdg, url: general_expenses_diverse_expenses_of_management_path(@gdg.id), as: :patch, html: { class: "smart-form", id: "upload_deregister" } do |f|
        %fieldset
          %input#cc{ :value => "#{@gdg.cost_center_id.to_i.to_s}", "style"=>"display:none"}
          %input#gdg{ :value => "#{@gdg.id.to_i.to_s}", "style"=>"display:none"}
          .row
            .col-md-3
              %label Descripcion
              .input-group.col-md-11.col-md-11
                %i.icon-append.fa.fa-user
                = text_field_tag 'diverse_expenses_of_management[name]', "#{@gdg.name}" , class: "form-control quantity", :required => true
            .col-md-1
              %label Porcentaje
              .input-group.col-md-11
                %i.icon-append.fa.fa-superscript
                = text_field_tag 'diverse_expenses_of_management[percentage]', "#{@gdg.percentage}" , class: "form-control quantity", :required => true,as: :float
            .col-md-2
              %label Monto de G.D.G.
              .input-group.col-md-11
                %i.icon-append.fa.fa-superscript
                = text_field_tag 'diverse_expenses_of_management[amount]', "#{@gdg.amount}", class: "form-control quantity", :required => true,as: :integer
            .col-md-2
              %label Gastos de G.D.G
              .input-group.col-md-11
                %i.icon-append.fa.fa-superscript
                = text_field_tag 'diverse_expenses_of_management[expenses]',  "#{@gdg.expenses}", class: "form-control quantity", :required => true, as: :integer
            .col-md-2
              %label Entrega Acumulado
              .input-group.col-md-11
                %i.icon-append.fa.fa-superscript
                = text_field_tag 'diverse_expenses_of_management[total_delivered]', "#{@gdg.total_delivered}", class: "form-control quantity", :required => true, :readonly =>true
            .col-md-2
              %label Saldo por entregar
              .input-group.col-md-11
                %i.icon-append.fa.fa-superscript
                = text_field_tag '',"#{@gdg.amount.to_f - @gdg.total_delivered.to_f}" , class: "form-control quantity", :required => true, :readonly =>true  
            .col-md-2
              %label Fases
              %select.form-control#phase
                %option{:value=>nil, :disabled => true, :selected => true } SERVICIOS GENERALES
                - @phases.each do |phase|
                  %option{:value => "#{phase.id}", :selected => phase.id==@gdg.phase_id.to_i}
                    = phase.code.to_s + ' ' + phase.name                
        %br
        %br
        %footer
          %button.btn.btn-primary#details{type: "button", "style"=>"float:right;"}
            %i.fa.fa-save
              Guardar
          %button.btn.btn-info#edit{"data-dismiss" => "modal", type: "button"}
            Salir  

  :javascript
    $(document).ready(function () {
      $('select').select2({width:'100%'});
      submit_form($('form#upload_deregister'))
    });

    function submit_form(form_element){
      form_element.ajaxForm({
        beforeSubmit: function() {
          form_element.validate({
            // Rules for form validation
            rules : {
              'diverse_expenses_of_management[percentage]' : {
                number : true,
              },
              'diverse_expenses_of_management[amount]' : {
                number : true,
              },
              'diverse_expenses_of_management[expenses]' : {
                number : true,
              }
            },

            // Messages for form validation
            messages : {
              'diverse_expenses_of_management[percentage]' : {
                number : "Debe ingresar un numero válido.",
              },
              'diverse_expenses_of_management[amount]' : {
                number : "Debe ingresar un numero válido.",
              },
              'diverse_expenses_of_management[expenses]' : {
                number : "Debe ingresar un numero válido.",
              }
            },

            // Do not change code below
            errorPlacement : function(error, element) {
              error.insertAfter(element.parent());
            }
          });
          // Remove all Help-inLine
          $(".help-inline").remove();
          // Client Valid
          return form_element.valid();
        },
        success: function (data){
          $(".help-inline").parent().addClass("state-error");
        },
        error: function(xhr, status, error) {
          console.log(error);
        }
      })
    }

    $("#details").click(function(e) {
      $('form#upload_deregister').submit();

      data2 = { authenticity_token: "#{form_authenticity_token}", cc_id: $('#cc').val()};
      load_modal_ajax('#{general_expenses_diverse_expenses_of_managements_path}', 'gdg', 'gdge', data2, null, 'GET');
      $.smallBox({
        title : "Exito",
        content : "<i class='fa fa-clock-o'></i> <i>Se actualizó el gasto de gestion</i>",
        color : "#659265",
        iconSmall : "fa fa-check fa-2x fadeInRight animated",
        timeout : 4000
      });
    });

    $("#edit").click(function() {
      data2 = { authenticity_token: "#{form_authenticity_token}", cc_id: $('#cc').val()};
      load_modal_ajax('#{general_expenses_diverse_expenses_of_managements_path}', 'gdg', 'gdge', data2, null, 'GET');
    });

    function isNumber(evt) {
      evt = (evt) ? evt : window.event;
      var charCode = (evt.which) ? evt.which : evt.keyCode;
      if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 46) {
          return false;
      }
      return true;
    }

    function add_item(){
      var montoe = $("#montoe").val();
      var fechae= $("#fechae").val();
      var proveedore = $("#proveedore").val();
      var conceptoe = $("#conceptoe").val();
      var fechafae = $("#fechafae").val();
      var montofae = $("#montofae").val();
      var detraccionfae = $("#detraccionfae").val()
      var acuentafae = $("#acuentafae").val();
      var igvfae = $("#igvfae").val();
      var code = $("#code").val();
      var factura = $("#factura").val();
      var gdg = "#{@gdg.id.to_i.to_s}";
      console.log($('#gdg').val());
      console.log(gdg);

      if(montoe != "" && fechae != "" && proveedore != "" && conceptoe != "" && fechafae != "" && montofae != "" && detraccionfae != "" && acuentafae != "" && igvfae != "" && code !="" && factura!=""){
        str_item = {authenticity_token: "#{form_authenticity_token}", montoe: montoe, fechae: fechae, proveedore: proveedore, conceptoe: conceptoe, fechafae: fechafae, montofae: montofae, detraccionfae: detraccionfae, acuentafae: acuentafae, igvfae: igvfae, gdg: gdg , code:code, factura:factura};
        append_url_ajax('#{add_deliveries_general_expenses_diverse_expenses_of_managements_path}', 'items_table', str_item, 0, 'POST');
      }else{
        $.smallBox({
          title : "Aviso",
          content : "<i class='fa fa-clock-o'></i> <i>Llene todos los campos para poder crear la entrega</i>",
          color : "#C46A69",
          iconSmall : "fa fa-times fa-2x fadeInRight animated",
          timeout : 4000
        });
      }
    }

    function delete_item(code){
      $("#tr" + code).remove();
    }