=render :partial=> 'brief_items'
%form(id="form-wbs" action="#" name="itemform" method="POST" class="form-horizontal")
  %table(class="table-bordered table-hover white-table small-font" width="100%")
    %thead 
      %th
      %th 
        %strong Insumo
      %th 
        %strong Código
      %th 
        %strong Cantidad
      %th
        %strong Unidad
      %th 
        %strong Precio
      %th 
        %strong Total
      %th 
        %strong Acciones
    %tbody
      - @itembybudgetanditems.each do |itembudget|
        - puts "ITEM"
        - p itembudget
        %tr 
          %td
            - str = itembudget.cod_input.to_s
            - case str[0..1]
              - when '01'
                %i(class="icon-user")
              - when '02'
                %i(class="icon-wrench")
              - when '03'
                %i(class="icon-certificate")
              - when '04'
                %i(class="icon-file")
          %td
            =itembudget.input
          %td
            =itembudget.cod_input
          %td(style="text-align: right;") 
            - if @budget.type_of_budget.to_i == 0 # Si es Meta
              %input(type="text"){class: 'input_quantity_' + itembudget.id.to_s, :value=>number_with_precision(itembudget.quantity, :precision => 4), :id => "itembudget_quantity_" + itembudget.cod_input.to_s, :onblur => "update_table_input('" + itembudget.id.to_s + "')" }
            - else # Si es Meta
              %span
                = number_with_precision(itembudget.quantity, :precision => 4)
          %td(style="text-align: center;")
            =itembudget.unit rescue "-"
          %td(style="text-align: right;")
            - if @budget.type_of_budget.to_i == 0 # Si es Meta
              %input(type="text"){class: 'input-small small-font input_price_' + itembudget.id.to_s, :value=>number_with_precision(itembudget.price, :precision => 4).to_s, :id => "itembudget_price_" + itembudget.cod_input.to_s, :onblur => "update_table_input('" + itembudget.id.to_s + "')"} 
            - else # Si es Meta
              %span
                = number_with_precision(itembudget.price, :precision => 4)
          %td(style="text-align: right;") 
            %strong
              %span{class: "itembudget_total_" + itembudget.id.to_s}
                = "S/."
                - quantity = itembudget.quantity.to_f.round(4).to_s.to_f
                - price = itembudget.price.to_f.round(4).to_s.to_f
                - total=(quantity.round(4) * price.round(4)).round(2)
                = total.round(2)
          %td(style="text-align: right;") 
            %strong
              %a{:href => "javascript:delete_to_url('#{management_inputbybudgetanditem_path(itembudget.id) + '?item_id=' + @item_id + '&budget_id=' + @budget_id + '&order=' + @order.gsub(".","d")}', 'botom-load')", data: { confirm: "¿Está seguro que desea eliminar este item?"} }
                X
              
            
:javascript
  var budget_id_sel = "#{@budget_id}";
  var item_id_sel = "#{@item_id}";
  var order_sel = "#{@order}";
  
  function update_table_input(id){
    var_quantity = $(".input_quantity_" + id).val();
    var_price = $(".input_price_" + id).val();
    load_url_ondiv("#{update_input_management_inputbybudgetanditems_path}?price=" + var_price + "&quantity="+ var_quantity + "&input_id=" + id, "rand" );
    $(".itembudget_total_" + id).text(Math.round(var_quantity*var_price));
    
  }


