=# @input_budget_item_sale.inspect
=# @input_budget_item_goal.inspect

%table.table.table-bordered.table-hover.white-table(width="100%")
  %thead
    %th
      Codigo
    %th
      Nombre
    %th
      Unidad
    %th
      Presupuesto Meta
    %th
      Presupuesto Venta
  %tbody
    - @input_budget_item_sale.each do |key, item|
      %tr
        %td
          = item[1]
        %td
          = item[0]
        %td
          = item[2]
        %td(style="text-align: right;")
          = number_to_currency(item[3], :unit=>'S/. ') rescue "--"
        %td(style="text-align: right;")
          = number_to_currency(@input_budget_item_goal[key][3], :unit=>'S/. ') rescue "--"

