%table(id="scroll-table" class="table table-bordered table-condensed table-hover white-table small-font table-light" width="100%")
  %thead
    %tr
      %th(rowspan = "2")
        %strong CODIGO
      %th(rowspan = "2")
        %strong FEO DE OBRA
      %th(rowspan = "2")
      %th
        %strong PRESUPUESTO VENTA
      %th
        %strong PRESUPUESTO META
    %tr
      %th
        %strong Parcial
      %th
        %strong Parcial 
  %tbody 
    - direct_cost_sale, direct_cost_goal = 0, 0
    -@wbsitems.each do |wbs|  
      %tr
        %td(colspan="5")
          %strong= wbs.name
      - @inputcategories.each do |input|
        - if (wbs.codewbs != '1') && (@data[0]["#{wbs.codewbs.to_s}#{input.category_id}"] != nil)
          -partial_sale, partial_goal = @data[0]["#{wbs.codewbs.to_s}#{input.category_id}"], @data[1]["#{wbs.codewbs.to_s}#{input.category_id}"]
          - if (@data[0]["#{wbs.codewbs.to_s}#{input.category_id}"][2]) < 10  #codigo
            %tr(style="color:#3276b1;")
              %td
                %span(style="color:transparent;")
                  = ("_" * 2)
                = (@data[0]["#{wbs.codewbs.to_s}#{input.category_id}"][2]).to_s 
              %td
                %strong= @data[0]["#{wbs.codewbs.to_s}#{input.category_id}"][3]  #nombre
              %td
              %td(style="text-align: right; font-size: 13px;")
                %strong= number_to_currency(@data[0]["#{wbs.codewbs.to_s}#{input.category_id}"][4], :unit=>'S/. ') #monto
              %td(style="text-align: right; font-size: 13px;")
                %strong= number_to_currency(@data[1]["#{wbs.codewbs.to_s}#{input.category_id}"][4], :unit=>'S/. ') rescue number_to_currency(0, :unit=>'S/. ')
              -direct_cost_sale = direct_cost_sale + @data[0]["#{wbs.codewbs.to_s}#{input.category_id}"][4]
              -direct_cost_goal = direct_cost_goal + @data[1]["#{wbs.codewbs.to_s}#{input.category_id}"][4] rescue 0
            / - elsif (@data[0]["#{wbs.codewbs.to_s}#{input.category_id}"][2]).length == 4
            /   %tr(style="color:green;")
            /     %td
            /       %span(style="color:transparent;")
            /         = ("_" * (@data[0]["#{wbs.codewbs.to_s}#{input.category_id}"][2]).length) + (@data[0]["#{wbs.codewbs.to_s}#{input.category_id}"][2]).to_s 
            /     %td= @data[0]["#{wbs.codewbs.to_s}#{input.category_id}"][3]
            /     %td
            /     %td(style ="text-align: right; font-size: 12px;")= number_to_currency(@data[0]["#{wbs.codewbs.to_s}#{input.category_id}"][4], :unit=>'S/. ')
            /     %td(style ="text-align: right; font-size: 12px;")= number_to_currency(@data[1]["#{wbs.codewbs.to_s}#{input.category_id}"][4], :unit=>'S/. ') rescue number_to_currency(0, :unit=>'S/. ')
          -else
            -item_order=@data[0]["#{wbs.codewbs.to_s}#{input.category_id}"][6] #itemorder
            -coditem=@data[0]["#{wbs.codewbs.to_s}#{input.category_id}"][5]  #coditem
            -category_id=@data[0]["#{wbs.codewbs.to_s}#{input.category_id}"][2]  #category_id
            -measured=@data[0]["#{wbs.codewbs.to_s}#{input.category_id}"][7] #metrado
            %tr
              %td
                %span(style="color:transparent;")
                  = ("_" * 4)
                =(@data[0]["#{wbs.codewbs.to_s}#{input.category_id}"][2]).to_s 
              %td= @data[0]["#{wbs.codewbs.to_s}#{input.category_id}"][3]
              %td
                %center
                  %a(href="javascript:get_input_detail_wbs(#{wbs.codewbs.to_s}, #{input.category_id}, #{@budget_sale.id.to_s}, #{@budget_goal.id.to_s});"){class: "btn btn-default btn-xs"}
                    %i(class="fa fa-search")
              %td(style ="text-align: right;")= number_to_currency(@data[0]["#{wbs.codewbs.to_s}#{input.category_id}"][4], :unit=>'S/. ')
              %td(style ="text-align: right;")= number_to_currency(@data[1]["#{wbs.codewbs.to_s}#{input.category_id}"][4], :unit=>'S/. ') rescue number_to_currency(0, :unit=>'S/. ')
    %tr   
      %td
      %td(style="font-size:115%;")
        %strong COSTO DIRECTO
      %td
      %td(style="text-align: right; font-size:115%;")
        %strong= number_to_currency(direct_cost_sale.to_s, :unit=>'S/. ')
      %td(style="text-align: right; font-size:115%;")
        %strong= number_to_currency(direct_cost_goal.to_s, :unit=>'S/. ')


:javascript

  $(document).ready(function(){
  });

  function get_input_detail_wbs(codewbs, category_prefix, budget_sale,budget_goal){
    $("#itemsModalWbs").modal({
      backdrop: 'static',
      keyboard: false
    });

    load_url_ondiv("#{get_input_wbs_detail_administration_inputcategories_path}?codewbs=" + codewbs + "&category_prefix=" + category_prefix + "&budget_sale=" + budget_sale + "&budget_goal=" + budget_goal,  "detail-inputs_wbs");
  }

  function toggle_table(table_id){  
      $("[class^='itme_"+ table_id + "']").each(function() {
          if($(this).css("display") == 'table-row'){
            $(this).css("display","none");
            disapear(table_id);
          } else {
            $(this).css("display","table-row");
          }
        }
      );
  }

  function toggle_subtable(table_id){  
      $("[class^='sub_itme_"+ table_id + "']").each(function() {
        if($(this).css("display") == 'table-row')
          $(this).css("display","none");
        else
          $(this).css("display","table-row");
        }

      );
  }

  function disapear(table_id) {
    $("[class^='sub_itme_"+ table_id + "']").each(function() {
      $(this).css("display","none");
    });

    $("[class^='table_"+ table_id + "']").each(function() {
      $(this).css("display","none");
    });
  }

  function toogle_tbl(clase){

    if($("." + clase).css("display") == 'table-row')
      $("." + clase).css("display","none");
    else
      $("." + clase).css("display","table-row");
  }