#content-inside
  .row
    .col-xs-12.col-sm-7.col-md-7.col-lg-4
      %h1.page-title.txt-color-blueDark
        %i.fa.fa-pencil-square-o.fa-fw
        Documentos recibidos
    - if flash[:notice] !=nil
      .alert.alert-success.fade.in{"style" => "clear:both"}
        %button.close{"data-dismiss" => "alert"} ×
        %i.fa-fw.fa.fa-check
        %strong Exito
        = flash[:notice]
    - if flash[:error] != nil
      .alert.alert-danger.fade.in
        %button.close{"data-dismiss" => "alert"} ×
        %i.fa-fw.fa.fa-check
        %strong Error!
        = flash[:error]
  .row
    .col-sm-4
      %a.btn.btn-primary.btn-mini{:onclick => "javascript:load_url_ajax('#{new_documentary_control_received_letter_path}', 'content', null, null, 'GET')"}
        Agregar Documento recibido
    .col-md-3
      = text_field_tag 'wordtosearch', nil, class: 'form-control', id: 'wordtosearch', placeholder: 'Escriba aqui su búsqueda'
    .col-md-3
      %button.btn.btn-primary.btn-default#show-table{href: 'javascript:void(0);', :onclick => 'search();'}
        %i.fa.fa-search
        Buscar
    %br
    #received.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "partPeopleLabel", role: "dialog", tabindex: "-1"}
  %br
  .row
  #widget-grid
    .row
      %article.col-xs-12
        = render :partial => 'grid'

:javascript
  function search() {
    var word = $("#wordtosearch").val();
    data = { authenticity_token: "#{form_authenticity_token}", wordtosearch: word};
    load_url_ajax('#{received_letters_documentary_control_received_letters_path}', 'received', data, '', 'POST');
    $('#received').modal({
      keyboard: false,
      backdrop: 'static'
    });
  }